[2017-12-15 16:01] rsolomakhin commented on #662
@aestes: Thank you for letting us know about this use case. At this point I can't come up with anything better than what you suggested. This is an important use case, so I'm OK adding it to the spec. The event name `paymentinstrumentchange` sounds fine to me.

[2017-12-15 16:05] rsolomakhin commented on #662
@aestes: Would you mind if this event firing was optional for implementers? For example, I would like to not fire this event for `"basic-card"` in Chrome.

[2017-12-15 17:11] rsolomakhin commented on #662
@aestes: Do you have examples of some of these discount rules? For example, could we use something like `"premiumAccount": "true"`, `"accountType": "silver"`, or `"pointsAtLeast": "50000"` in `PaymentDetailsModifier.data`?

[2017-12-15 20:24] aestes commented on #662
@rsolomakhin I think it's totally reasonable to make this event optional for implementors. I also think it could be optional for authors, since modifiers work in every case other than this one. It'd be sad to make every Apple Pay author respond to this event.

Regarding your suggestion of codifying the discount rules in a modifier, I don't think that would work. WebKit doesn't know anything about

[2017-12-16 01:23] aestes commented on #646
I'm generally in favor of this proposal. WebKit will have an implementation challenge with populating the validationURL prior to session start (we aren't told about it until we've started a session and asked to validate by PassKit).

Let me see if we can resolve that on our end.

[2017-12-16 01:42] aestes commented on #646
Looks like we can query the validation URL at any time. It's not dependent on there being an active session.

I'm in favor of adopting this approach in WebKit and getting rid of the `applepayvalidatemerchant` event.

[2017-12-16 01:50] aestes commented on #646
And unless we think other payment methods will need a merchant validation mechanism, we could avoid PaymentRequest changes entirely by putting the static validationURL property on ApplePaySession rather than PaymentRequest.

[2017-12-17 15:43] rsolomakhin commented on #662
:+1:

[2017-12-17 15:51] rsolomakhin commented on #646
@aestes, I would prefer to make this method generic, so that payment handlers have the option of firing the `merchantvalidation` event as well. The code in the payment handler would look like this:

[code]

The code on the merchant website would look like this:

[code]

The overall flow would work like this:

![Generic merchant validation](https://i.imgur.com/6EzrU8f.png)

What do you think? I'm o

[2017-12-18 03:28] aestes commented on #646
@rsolomakhin I don't have any objections to this, especially since it works so similarly to merchant validation in Apple Pay JS. I think @marcoscaceres was concerned about using events for things that only happen once, but since your design allows for multiple payment apps to perform validation then an event seems like the right mechanism.

[2017-12-18 09:30] TSMatthews commented on #663
Thanks for your response.

Three letter codes would be fine for Australia. Even 1 letter codes for Ireland - if the response values were always consistent and therefore an expected value.

I understand what you mean in terms of requiring the region in every country maybe not working the best. I am actually located in Ireland, and you are correct, we don't always need the county (however that is on

[2017-12-18 14:11] marcoscaceres commented on #648
The problem is still trying to figure out how we can check for PO boxes, which, if we adopt this proposal, we couldn't do via `PaymentRequest`... which throws us into `.retry()` discussion (#647).

[2017-12-18 15:52] rsolomakhin commented on #663
Those are all very good points. What should we do for countries that don't use regions (e.g., [Denmark](https://chromium-i18n.appspot.com/ssl-aggregate-address/data/DK))?

![Denmark address input screenshot](https://i.imgur.com/auWj951.png)

[2017-12-19 06:11] marcoscaceres commented on #663
I think this is again a quality of implementation issue, but possibly something we need to add more guidance on in the spec. The browser should be validating region/state information based on the user's country choice... and some countries need to have a mandatory state option, like in Australia.

Would that work?

[2017-12-19 11:42] oconnortmaster commented on #663
The issue I have with the 'quality of implementation issue' argument is that this is what has been the issue in the past where vendors implement a spec somewhat differently according to their own interpretations, which is the case at point.

This has led to small or sometimes very large differences in the implementation, that the developer community has to negotiate around, leading to a typically

[2017-12-19 15:25] TSMatthews commented on #663
Countries that don't use regions shouldn't be an issue. If we refer to our main issue which is validating a shipping address's region against the regions in that country for selecting region specific shipping options - we wouldn't have this issue for a country with no regions, as the shipping options would not be region specific.

However, just while on topic - I have seen that for the Qatari addr

[2017-12-20 02:57] marcoscaceres commented on #663
It sounds like mandating ISO 3166-2 for region would be the way to go (where applicable) - and null or empty string otherwise.

@aestes, @adrianba, @rsolomakhin, @mnoorenberghe... it's a fairly significant change to implementations, but it does resolve a potential huge mess for merchants who would otherwise get a bunch of different values (as @TSMatthews points out).

This is what browsers do now:

[2017-12-20 04:23] marcoscaceres commented on #651
@rektide, understood, but that's kinda the point.

@tantek has a much nicer way of doing exactly what you propose, giving the user choice while also requiring the user to click on things. See, for example: http://tantek.com/pay/12

[2017-12-20 06:21] tantek commented on #651
Thanks @marcoscaceres. For more background on the design & implementation of that /pay/amount page, as well as additional examples (including use of the Stripe library to implement Request Payment API), see https://indieweb.org/pay - recently discussed at IndieWebCamp Austin: https://indieweb.org/2017/Austin/pay (40 minute session video, discussing donations, recent Patreon drama etc.).

[2017-12-20 13:17] rsolomakhin commented on #663
@marcoscaceres: The ISO codes would be OK for us. @sebsg: Can we use the `"isoid"` field for normalization where possible?

[2017-12-20 13:31] rsolomakhin commented on #663
@marcoscaceres: Would it be better to introduce an additional `"region_iso_id"` field to avoid breaking existing users of the API?

[2017-12-20 13:55] marcoscaceres commented on #663
Could be, but it would still leave `region` potentially too unrealiable to be useful and add a vector for error (the two might not agree or browser’s language might not match site’s language, leading to confusion). That might be ok tho.

[2017-12-20 16:16] ianbjacobs commented on #640
Closing this issue but can reopen after additional feedback from @KOLANICH after a review of Payment Handler API.
Ian

[2017-12-20 16:16] #640 closed, assigned to nobody

[2017-12-20 16:23] sebsg commented on #663
For Chrome is should be possible to use the "isoid" when it's present. We
would just need to figure out what to return if it's not available.

On Wed, Dec 20, 2017 at 8:55 AM Marcos Cáceres <notifications@github.com>
wrote:

--

Sébastien Séguin-Gagnon |  Software Developer |  sebsg@google.com |

[2017-12-20 16:33] rsolomakhin commented on #663
Empty string is fine.

[2017-12-20 16:44] marcoscaceres commented on #663
agree, that’s what we do with the rest of them.

[2017-12-20 16:46] rsolomakhin commented on #663
@sebsg : That's empty string for the `"region_iso_id"` field, to be clear. No changes to the `"region"` field.

[2017-12-20 16:48] sebsg commented on #663
Sounds good! The "region" might still contain useful info for the merchants
for cases where we don't have a "region_iso_id".

On Wed, Dec 20, 2017 at 11:46 AM Rouslan Solomakhin <
notifications@github.com> wrote:

--

Sébastien Séguin-Gagnon |  Software Developer |  sebsg@google.com |

[2017-12-20 16:49] marcoscaceres commented on #663
* cough * `regionCode` * cough * 🤧😇

[2017-12-20 16:53] rsolomakhin commented on #663
that works

[2017-12-20 16:54] marcoscaceres commented on #663
Ok cool, I’ll draft something up.

[2017-12-20 16:58] marcoscaceres commented on #663
@TSMatthews, would appreciate your thoughts also as we proceeded. I’ll ping you also for review if that’s ok?

[2017-12-20 17:37] TSMatthews commented on #663
@marcoscaceres happy to review.

Just to clarify on the addition of the new field (regionCode / region_iso_id) - is this now the field that will be mapped to from the 'region' dropdown on the UI (if there are regions for the country in question)? Want to be clear how both of these fields - 'region' and 'regionCode' would coexist and what we collect from the user.

As a note, chrome was mentioned a

[2017-12-21 02:57] adrianba commented on #663
Sorry for the delay - not many people about in the office at the moment for some reason...

Right now, Microsoft Pay adheres to Microsoft-wide GeoPol standards. It's not out of the question for us to change but is going to require conversations with a bunch of teams so we'll have to investigate in the New Year.

[2017-12-21 22:14] aestes commented on #646
@rsolomakhin Should we also add an `onmerchantvalidation` attribute to PaymentRequest, or do you propose only supporting this event through addEventListener()?

[2017-12-22 00:59] rsolomakhin commented on #646
@aestes: Yes, it makes sense to add the `onmerchantvalidation` attribute as well to be consistent with the other events.

[2018-01-17 03:11] marcoscaceres commented on #163
Hi folks involved in this thread. I've sent a proposal:
https://github.com/w3c/payment-request/pull/666

Which you can preview:
 * [`type` member](https://pr-preview.s3.amazonaws.com/w3c/payment-request/pull/666.html#paymentitem-dictionary)
 * [`PaymentItemType` enum](https://pr-preview.s3.amazonaws.com/w3c/payment-request/pull/666.html#paymentitemtype-enum)

Would like to hear your thoughts befor

[2018-01-17 03:31] marcoscaceres commented on #660
@rektide can we close this?

[2018-01-17 03:37] marcoscaceres commented on #650
Just noting that I sent a PR for this a little while ago, but hasn't been reviewed yet. Could interested folks take a look: https://github.com/w3c/payment-request/pull/656

[2018-01-17 06:24] marcoscaceres commented on #645
WIP pull request https://github.com/w3c/payment-request/pull/668

Would appreciate review/feedback.

[2018-01-19 02:05] marcoscaceres commented on #662
@aestes, can you provide us with a bit more details about what a common `paymentinstrumentchange` event looks like? Even if we go with an arbitrary set of information (.e.g., we just have `event.details` being an object), would still be interested to see an example or two.

[2018-01-19 05:59] marcoscaceres commented on #660
closing. Let me know if I should reopen.

[2018-01-19 05:59] #660 closed, assigned to nobody

[2018-01-19 17:43] aestes commented on #662
@marcoscaceres sure.

At a minimum, I imagine having a `PaymentInstrumentChangeEvent` that looks like this:

[code]

For Apple Pay, `details` would store an [ApplePayPaymentMethod](https://developer.apple.com/documentation/applepayjs/applepaypaymentmethod). For `credit`, `debit`, and `prepaid` cards, only the `type` field would be populated, e.g.:

[code]

For `store` cards, though, where we've es

[2018-01-19 21:01] #588 closed, assigned to marcoscaceres

[2018-01-19 21:10] domenic commented on #650
Would it suffice to just use the language specified by the merchant for their entire page? E.g. if their page does `<html lang="be">`, then having any calls to `paymentRequest.show()` show the UI in Belarusian? That seems a bit cleaner than having to add a new API that is specifically designed to let PaymentRequest get out of sync with the rest of the page.

[2018-01-19 22:32] domenic commented on #649
So, I don't think this is actually a problem with the algorithm as written. For example, if you don't pass `displayItems`, what happens is that "If the displayItems member of details is present" is false in step 5 and in step 6, so _request_.[[details]].displayItems is never touched. The same goes for all the others.

Am I misreading?

[2018-01-19 22:39] marcoscaceres commented on #649
Hmm, maybe it’s just incorrectly implemented in Chrome (and possibly Edge). Right now, Chrome definitely requires a full ‘details’ object or things vanish.

[2018-01-19 22:39] domenic commented on #649
Sounds like a job for web platform tests ^_^

[2018-01-19 22:42] marcoscaceres commented on #649
I’ll give the spec another read on Monday and make sure to test things more thoroughly.

[2018-01-22 05:12] marcoscaceres commented on #649
@domenic is correct. This is invalid and was not correctly tested (by me). I'd assumed Chrome's implementation was correct. I'll [add additional tests](https://github.com/w3c/web-platform-tests/issues/9119).

[2018-01-22 05:12] #649 closed, assigned to marcoscaceres

[2018-01-22 06:54] cyberphone commented on #626
You may run into issues here.  Showing line items in native apps is going to be a standard feature.  Sending them to the bank is an entirely different thing.

[2018-01-22 08:54] marcoscaceres commented on #662
How about we let `PaymentRequestUpdateEvent` sprout `methodName` and `details` attributes - we can `null` the `details` by default, and adding the method name should be trivial. That would allow us to reuse the existing `updateWith()` machinery from #668, without needing to add a new interface.

[2018-01-22 18:22] aestes commented on #662
@marcoscaceres 👍

[2018-01-22 23:25] #477 closed, assigned to marcoscaceres

[2018-01-23 02:44] marcoscaceres commented on #461
Re-reading, these are fine as they are.

[2018-01-23 02:44] #461 closed, assigned to marcoscaceres

[2018-01-23 02:46] marcoscaceres commented on #225
closing this one as duplicate of #647

[2018-01-23 02:46] #225 closed, assigned to nobody

[2018-01-23 02:54] marcoscaceres commented on #31
Closing this, as it's outside the scope of the current API.

This needs to be supported by particular payment methods (e.g., tokenized payments) instead. The API just provides the `.data` where the encrypted data lives, and based on the PMI used, a third-party is able to verify is the data in the `PaymentResponse` if legit or not.

[2018-01-23 02:54] #31 closed, assigned to nobody

[2018-01-23 02:57] marcoscaceres commented on #5
Given what we've learned over the last year from implementing these UIs (and the feedback they provide to users about what is going on in the flow), I think it's safe to close this.

Please let me know if you think we should reopen.

[2018-01-23 02:57] #5 closed, assigned to nobody

[2018-01-23 02:58] marcoscaceres commented on #291
Given the work happening in tokenized payments, I'm closing this so discussions can happen there.

[2018-01-23 02:58] #291 closed, assigned to nobody

[2018-01-23 03:04] marcoscaceres commented on #113
I think we should close this. Leave it to the site. This is not something we want to handle in the browser UI.

[2018-01-23 03:21] marcoscaceres commented on #480
@aestes, can you kindly take a look at the discussion in this issue? With respect to WebKit's implementation and `NSPersonNameComponents`, where you able to make things work in your implementation without requiring `payerGivenName` and `payerFamilyName`? If so, can we close this?

[2018-01-23 03:22] marcoscaceres commented on #301
I'm closing this, as it hasn't moved for over a year. If there is any movement on the HTML side, can always reopen and add it. It's editorial, so 🤷🏽‍♂️

[2018-01-23 03:22] #301 closed, assigned to marcoscaceres

[2018-01-23 03:49] marcoscaceres commented on #653
Just noting that if we are going to specify allowing a default address, we might as well allow a suggested address when validation of a shipping address fails, as per #537.

That is, we should specify something that works for both.

I'm still wondering if we should allow just one suggested address or a set of them?

[2018-01-23 03:55] marcoscaceres commented on #642
Closing, as I think the question was more or less answered. This question applies to basically any API, "can I turn off API X?". Answer is, "maybe depends".

[2018-01-23 03:55] #642 closed, assigned to nobody

[2018-01-23 04:01] marcoscaceres commented on #634
Re-reading this, this is not much actionable stuff to do, so closing.

[2018-01-23 04:01] #634 closed, assigned to nobody

[2018-01-23 04:11] marcoscaceres commented on #629
This will be a MUST https://github.com/w3c/payment-request/pull/655

Sending a PR that removes this section entirely, because it's bad (also as per #475).

[2018-01-23 04:15] marcoscaceres commented on #614
Turns out ISO3166 also does regions (things you learn 👨‍🏫).

Step 1 will be do add region codes to w3c/contact-picker#65.

[2018-01-23 04:28] marcoscaceres commented on #476
Postponed until I can check how Payment Handler hooks into Payment Request here.

[2018-01-23 04:32] marcoscaceres commented on #462
Closing, as the original issue was addressed in #487.

[2018-01-23 04:32] #462 closed, assigned to domenic

[2018-01-23 04:35] marcoscaceres commented on #327
Doesn't look like this one is going to happen, so closing for now.

[2018-01-23 05:04] marcoscaceres commented on #629
Sent PR for this https://github.com/w3c/payment-request/pull/673

[2018-01-23 05:22] marcoscaceres commented on #626
Closed via #670

[2018-01-23 05:22] #626 closed, assigned to nobody

[2018-01-23 05:40] marcoscaceres commented on #648
@aestes, given the redaction that ApplePay does, how do you currently deal with "we don't ship to PO boxes"?

[2018-01-23 06:21] marcoscaceres commented on #662
WIP... not ready for review, but underway: https://github.com/w3c/payment-request/commit/d26aeed06906b9a52ef7a7b90a533b52028db3f8

Need #674 in place first.

[2018-01-23 06:23] marcoscaceres commented on #625
We discussed this at the F2F, and there didn't seem to be any disagreement. However, this needs to be put into practice. This is a process thing, so we should document it elsewhere once we actually start shipping new features after CR.

Closing, as no further action is needed here.

[2018-01-23 06:23] #625 closed, assigned to nobody

[2018-01-23 17:12] aestes commented on #648
You'd need to wait for [onpaymentauthorized](https://developer.apple.com/documentation/applepayjs/applepaysession/1778020-onpaymentauthorized) then do something like this:

[code]

The user would be prompted to correct the shipping address and retry the payment.

[2018-01-23 17:19] ianbjacobs commented on #648
I'll mention in passing here that if we end up saying "Payment Request can be used to address this scenario and here's one way to do it..." then please let's add the example to our code example wiki:
https://github.com/w3c/payment-request-info/wiki/CodeExamples

Ian

[2018-01-24 02:27] marcoscaceres commented on #663
@TSMatthews, sorry for the delay... just coming back to this now:

 * `region` would be either what the browser presented to the user in the drop down, or whatever the user typed in (so, remains fairly unreliable... but might see convergence across browsers over time).
 * `regionCode` would be the ISO 3166-2 code, or empty string when it can't be determined.

At least `regionCode` should help addr

[2018-01-24 04:09] domenic commented on #440
I don't understand this; we give authoring guidance using normative terms all the time in other specs.

[2018-01-24 04:15] marcoscaceres commented on #440
Would prefer developer "best practices" be worked out on MDN or elsewhere, and the spec just handle "if you do questionable thing Y, then X will happen or Y gets ignored".

[2018-01-24 04:25] domenic commented on #440
Why include example code in the spec at all then though?

[2018-01-24 04:29] #440 closed, assigned to marcoscaceres

[2018-01-24 04:29] #475 closed, assigned to nobody

[2018-01-24 04:35] marcoscaceres opened #675 "Document privacy and security mitigations"
As part of the CR process and through implementation/deployment, we've learned quite a bit about abuse cases. We should make sure we properly document all mitigations we've put in place without being hand-wavy - in the Privacy and Security section.

- [x]  use of SecureContext
- [x]  the `allowpaymentrequest` attribute on iframe
- [x]  `canMakePayment()` and throttling
- [x]  requiring user action

[2018-01-24 04:43] marcoscaceres commented on #440
TBH, I kinda wish we didn't. I talked to MDN folks about this too: I would prefer we worked with MDN folks to come up with great examples and have those documented elsewhere.

I've used the examples in the spec on MDN, and used them to explain to MDN folks how the API works.  So, they are primarily there to help the documentation folks.

The secondary use is for me to copy/paste when I'm trying st

[2018-01-24 04:43] domenic commented on #629
Fixed by https://github.com/w3c/payment-request/pull/673

[2018-01-24 04:43] #629 closed, assigned to marcoscaceres

[2018-01-24 05:12] #543 closed, assigned to marcoscaceres

[2018-01-24 05:45] marcoscaceres commented on #645
@michelle so, given #655 requiring use activation on .show(), you could still do:

[code]

Does that work?

[2018-01-24 05:52] marcoscaceres commented on #648
@aestes, ok cool. So, you can only check for PO boxes after `response` is returned, but not during the `request` portion of the interaction. That's ok with me... let's see if we can then figure out `retry()` in #647.

[2018-01-24 06:17] michelle commented on #645
Yes, that works! (I think the `await` should be in the `try` block, though?)

[2018-01-24 06:25] marcoscaceres commented on #663
@TSMatthews I've staged the changes here:
https://github.com/w3c/payment-request/pull/654/commits/ab1ba807b4ca1ae4d52e07adcf6bc93917047323

If you prefer to read them in HTML, please see #654 (there is a "preview" link at the top, but includes all the changes I'm planing to make to `PaymentAddress`... just search for `regionCode`).

[2018-01-24 06:54] marcoscaceres commented on #645
Yeah, true. Ok, cool.

Now we need implementer buy-in.

[2018-01-24 14:38] rsolomakhin commented on #649
My bad! :-\

[2018-01-24 14:46] ianbjacobs commented on #440
@marcoscaceres, cc @dontcallmedom

To whom should I speak at MDN about material we have been gathering on the web payments dev portal?
https://github.com/w3c/payment-request-info

Specifically these code examples (largely from @rsolomakhin):
 https://github.com/w3c/payment-request-info/wiki/CodeExamples

Ian

[2018-01-24 14:48] dontcallmedom commented on #440
See https://github.com/w3c/payment-request-info/issues/4

[2018-01-24 17:13] stpeter commented on #650
The Accept-Language HTTP header might also be communicated from the user's browser to the merchant website. See https://www.w3.org/International/questions/qa-when-lang-neg regarding use of this header for language negotiation. For example, the hint that the merchant sends could be constrained to one of the languages that is in the Accept-Language set. See also https://www.w3.org/International/wiki

[2018-01-24 21:14] stpeter commented on #480
The issues summarized at https://www.w3.org/International/questions/qa-personal-names make me wonder if it's a good idea to add payerGivenName and payerFamilyName. At the least, it would help to have a clearer idea of the motivation and requirements here.

[2018-01-24 22:22] aphillips commented on #480
@stpeter That Q+A document does summarize the range of variation and the problem space inherent in personal names. Using a single, undivided field is an avoidance tactic. The other end of the spectrum, familiar to implementers of address book and contact applications, is a *much* more complex, nuanced data structure (which is usually coupled with locale-based presentation to hide unneeded complexi

[2018-01-24 22:44] stpeter commented on #480
Thanks @aphillips for weighing in.

As one data point, it might be interesting to know what credit card issuers require for naming throughout the world - even though from a Web Payments perspective (a) in the long term we don't want to be tied to credit cards and debit cards as payment instruments and (b) things like prepaid cards don't have names associated with them.

Furthermore, it would helpf

[2018-01-25 02:52] marcoscaceres commented on #652
@michelle, all....  I spent the last few days researching if E.164 can be a "MUST" requirement in the spec. Sadly, short of standardizing Google's libphonenumber, it doesn't seem doable IMO. There is just too much variance and craziness in phone numbers. Thus, I think all we can do is continue to ask for a "SHOULD" here.

Longer... Consider the [variance of the national conventions for phone numbe

[2018-01-25 07:03] mnoorenberghe commented on #662
I wonder if `details` would be confusingly generic if it's not used for other events. Perhaps `methodDetails` would make it's purpose more clear?

If you're intentionally leaving the name generic so it can be used from other change events in the future then the spec's description of `details` should make it clear that the details are about a payment method only when the event is a `paymentmethodch

[2018-01-25 16:21] rsolomakhin commented on #652
Thank you for the research, @marcoscaceres!

cc @anthonyvd @sebsg @mahmadi re: libphonenumber usage.

[2018-01-25 20:21] stpeter opened #676 "Clarify addressLine definition"
(1) Would it be helpful to mention that in interface terms the `addressLine` data can be gathered in various ways (e.g., via a textarea element or multiple input elements)? The word "line" might make it sound as if there can be only one of them, whereas in the spec it's a FrozenArray and we might not want implementers to think they can have only one.

(2) In addition to the currently-mentioned con

[2018-01-25 20:34] stpeter opened #677 "Add latitude and longitude to PaymentAddress interface?"
Would it make sense to add optional latitude and longitude fields to the PaymentAddress construct? I see at least two potential use cases:

(1) Providing a location hint in cases where a navigation system can yield ambiguous results (this happens to me all the time at home - delivery drivers will end up 20 miles away at a street with the same name in the next county).

(2) Providing an accurate lo

[2018-01-25 23:05] ianbjacobs commented on #676
Hi @stpeter,

In a previous discussion we observed that the recipient might include multiple lines, leading to this text in the specification: "This member may, under certain circumstances, contain multiline information. For example, it might contain "care of" information."

With that in mind, under 11.14 for [[addressLine]] would it address your comment (and be true) to add at the end "It may con

[2018-01-25 23:10] stpeter commented on #676
@ianbjacobs Yes, that seems good. In practice multi-line input (whether via textarea or multiple input elements) seems quite likely. What threw me off (and might throw off implementers) is that the singular addressLine can contain multiple lines. But I suppose it's too late to change the name... ;-)

[2018-01-25 23:28] ianbjacobs commented on #676
@marcoscaceres sound ok? Shall I do a PR? (or @stpeter)?

Ian

[2018-01-26 13:17] TSMatthews commented on #663
@marcoscaceres Thank you.

'regionCode' does seem like it will help the inconsistency issues as it must be valid ISO3166-2.

Just so I am clear.. the forms could still have 'region' or 'regionCode' right? And it's really up to the browser vendors to implement it?

We would not have 'regionCode' being an expected field returned from every address form? 'regionCode' solves inconsistency of value iss

[2018-01-26 15:42] asolove-stripe commented on #652
While I understand the issue with edge-cases in E.164, I'm concerned about the spec being so broad that the resulting numbers become unusable. The example from @aestes above has a US number with special formatting (no big deal) but also no country code (big deal!). The form in which a phone number is presented to a user has meaning in the context of their system's locale settings and the user's ow

[2018-01-26 16:36] sebsg commented on #663
@TSMatthews

For Chrome, "regionCode" should be present most of the time. We have the
data for most countries and I'm trying to get the data for the rest. The
reason we cannot guarantee it however is that the ISO standard moves pretty
slowly. So as things change in a certain country, it might take a while for
the changes to get into the ISO. In that case, we don't want to block the
user so we woul

[2018-01-26 17:08] stpeter commented on #652
@asolove-stripe Good point. That would argue for SHOULD, not MUST.

[2018-01-26 21:32] mnoorenberghe commented on #663
We planned to use dropdowns backed by the ISO 3166-2 codes but that didn't get implemented yet… not sure what we'll ship for an MVP. We do already try to normalize to the region codes where possible e.g. we know that California => CA.

@TSMatthews It's still not clear to me from the discussion whether you are expecting the `regionCode` to be populated in countries where the region isn't used in a

[2018-01-27 17:44] adrianhopebailie commented on #291
https://github.com/w3c/webpayments-methods-tokenization/

[2018-01-29 03:13] marcoscaceres commented on #652
@asolove-stripe wrote:

As I said, the problem is that we can't really specify how to do the conversion without standardizing libphonenumber's parse algorithm.

What we might need is a `.payerCountry` attribute (or `.payerPhoneCountry`). Which can then be fed into libphonenumber (or similar lib), so that:

[code]

[2018-01-29 03:14] marcoscaceres commented on #652
Fixed typo above.

[2018-01-29 04:46] marcoscaceres commented on #676
Wouldn't hurt to clarify things a bit more, so PR welcome.

[2018-01-29 06:08] marcoscaceres commented on #650
Speaking out loud here: the merchant will have the `Accept-Language` header by default, which in turn will allow them to set the language of the body element (this is generally applicable i18n guidance for any website). Additionally, setting the language through a user-configurable option i in the site itself is usually a better solution... alternatively, some sites also use Geo IP solutions, whic

[2018-01-29 09:41] marcoscaceres commented on #652
Reopening, so we can discuss more options....

[2018-01-29 17:10] stpeter commented on #676
I'll chat with @marcoscaceres about this and then submit a PR.

[2018-01-29 17:10] stpeter commented on #676
I'll chat with @marcoscaceres about this and then submit a PR.

[2018-01-29 21:15] ianbjacobs commented on #476
Hi all,

I've submitted a pull request related to this issue:
 https://github.com/w3c/payment-request/pull/679

I will also be thinking about a tweak to canMakePayment() to acknowledge payment handlers more clearly.

[2018-01-30 00:03] marcoscaceres commented on #476
We just need a non-normative note saying that each payment handler spec will define what "supported" means. We don't have a clear understanding how this stuff is going to work (yet), and it's going to probably take us another few years to work it out.

[2018-01-30 00:07] marcoscaceres commented on #476
Labelled this active again (and as Editorial). Now that we actually teased out the problem and identified where wording was missing, we should be able to close this quickly.

@mattsaxon, let us know when you are satisfied and when we can close. I think once @ianbjacobs sends in the `canMakePayment()` note, we should have everything covered - but please confirm.

[2018-01-30 08:23] marcoscaceres commented on #662
My intention was to match the naming of [`PaymentResponse.details`](https://www.w3.org/TR/payment-request/#details-attribute).

[2018-01-30 23:33] ianbjacobs commented on #476
@marcoscaceres,

It seems to me that show() and canMakePayment() could address this topic in similar or even identical ways. This led me to compare the show() and canMakePayment() algorithms. I note that the show() algorithm steps 14.1-14.5 are more detailed than the similar steps of canMakePayment(), that is the single step 6.1. I am wondering whether those could be harmonized.

If so, then I thi

[2018-01-31 10:33] marcoscaceres commented on #476
https://github.com/w3c/payment-request/issues/535 😇

Let’s discuss there so we can close #535 too.

[2018-02-05 17:36] ianbjacobs commented on #658
Hi @marcoscaceres and @rsolomakhin,

Did you answer the question differently from one another? It seems Chrome would allow use of PR API with "file:" but @marcoscaceres seems to suggest Firefox would not.

Am I reading that correctly?

Whatever the outcome, I'd like to add to the FAQ [1].

Ian

[1] https://github.com/w3c/payment-request-info/wiki/FAQ/

[2018-02-05 17:40] ianbjacobs commented on #675
Hi @marcoscaceres,

Want any help drafting text?

Ian

[2018-02-05 18:33] rsolomakhin commented on #658
@ianbjacobs: The spec allows `PaymentRequest` in "secure context," which includes `file://` in Chrome, but not in Firefox, from what I understand. This is a good item to add to the FAQ.

[2018-02-05 22:55] ianbjacobs commented on #658
MDN documentation [1] says: "Locally delivered files such as http://localhost and file:// paths are considered to have been delivered securely."

Ian

[1] https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts

[2018-02-06 06:00] marcoscaceres commented on #675
Help is always welcomed, @ianbjacobs.

[2018-02-06 09:52] marcoscaceres opened #680 "Guidance on shipping options (mostly for devs)"
This doesn't affect the spec - it's mostly around best practice.

Interesting question came up from @mnoorenberghe over in Mozilla's [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1432909):

Should a merchant include the shipping option as a `displayItem` even though it's already included as a separate thing? The risk being that if it's included twice, the amounts might fall out of sync.

[2018-02-06 15:13] rsolomakhin commented on #680
@marcoscaceres: Do you think we can make it optional to duplicate the shipping option in the display items? If the selected shipping option is absent in the display items, then automatically add the selected shipping option to the display items. This would be for the purposes of browser UX only. The underlying data structures in the spec would not be affected.

[2018-02-06 21:01] aestes commented on #645
WebKit is implementing this: https://bugs.webkit.org/show_bug.cgi?id=182538

[2018-02-07 04:07] marcoscaceres commented on #680
I guess it's already optional, right? That is, nothing prevents:

[code]

The problem is that there is no way to match them. That is, the `shipping` below are both passed by value, so there is no way currently for the payment sheet to know they the same thing:

[code]

I guess one approach would be to set the "type" to "shipping" (and thus add adding a "shipping" type to the enum I proposed recent

[2018-02-07 04:21] marcoscaceres opened #681 "PaymentShippingOption as a subclass of DisplayItem"
Given the overlap, should we consider `PaymentShippingOption` inheriting from `PaymentItem` :

[code]

With `pending` being a somewhat meaningless member for `PaymentShippingOption`?

[2018-02-07 15:59] domenic commented on #681
I don't think it's a good idea to use inheritance for overlap. Use inheritance for "is a". A shipping option is not a payment item, I don't think.

Instead just use similarly-named members in both cases.

[2018-02-07 23:13] marcoscaceres commented on #681
Agree, this was also how I was seeing them (kinda literally like that, as Firefox intends to display shipping option with other payment items). Basically, what lead me here was:
https://github.com/w3c/payment-request/issues/681

Yeah, this is also what I'm trying to ascertain. Can definitely live with them being separate and considered separate from an API perspective.

[2018-02-07 23:28] marcoscaceres commented on #681
Sorry, meant #680 above.

[2018-02-12 15:09] ianbjacobs commented on #476
Did a pull request as part of discussion:
 https://github.com/w3c/payment-request/pull/682

[2018-02-12 15:10] ianbjacobs commented on #535
See pull request:
 https://github.com/w3c/payment-request/pull/682

[2018-02-12 23:14] mnoorenberghe opened #684 "Define handling of multiple applicable modifiers"
1) From what I can tell, the spec doesn't currently define which `additionalDisplayItems` should be shown if a UA decides to show any.
2) More generally, handling of multiple applicable modifiers isn't clear. It looks like it's possible to have multiple `methodData` and `modifiers` with the same `supportedMethods` including the same `data`.

Consider the following example snippet:
[code]
If multip

[2018-02-13 04:21] hemanth opened #685 "FR: 3DS"
Are there plans for handling 3DS/OTP dance in the dialog box?

[2018-02-13 04:25] marcoscaceres commented on #685
Yep, but in a different project: https://github.com/w3c/3ds/

[2018-02-13 04:25] #685 closed, assigned to nobody

[2018-02-13 04:29] hemanth commented on #685
Neat! https://www.w3.org/2017/11/08-3ds-minutes.html thanks.

[2018-02-13 13:52] ianbjacobs commented on #684
@mnoorenberghe, here's my recollection:

1) This is issue 309:
    https://github.com/w3c/payment-request/issues/309

 2) We discussed in March 2017:
     https://www.w3.org/2017/03/23-wpwg-minutes

 3) I believe the "first match wins" approach was adopted
     https://github.com/w3c/payment-request/commit/2972fbb86df49ef7a4f4b9bdfc8b5e3c1c1aee31

@marcoscaceres, there was text in that pull reques

[2018-02-13 14:05] marcoscaceres commented on #684
I was also sure there was spec text covering this case. Will have a look tomorrow.

[2018-02-13 14:10] marcoscaceres commented on #684
Need to look at https://github.com/w3c/payment-request/pull/581 which closed #309. It includes a test.

[2018-02-13 17:12] mnoorenberghe commented on #684
Not sure how I didn't find #309 in my search… It looks like duplicate PMIs were disallowed while working on #581 (which I don't think is a good solution and it seemed others agree) but that text was removed in https://github.com/w3c/payment-request/pull/581/commits/5e6ca6da68bd65634a309662c067c3b83eed97fc before merging. It seems like #581 then didn't end up addressing the issue.

There was some t

[2018-02-14 06:43] marcoscaceres commented on #684
I think you are right... seems we talked ourselves out of a proper solution in #581 or somehow the solution got lost.

Agree. From my testing Chrome's behaviour seems to be "**only the last matching PMI declaration wins**  - all previous ones are ignored". @rsolomakhin, @zkoch - please confirm... as this might confuse developers, leading potentially to incorrect totals 💸!

To be somewhat sane, we

[2018-02-14 07:22] marcoscaceres commented on #684
Still feeling a little rambly, so this would roughly look like:

[code]

As you can see, the above doesn't require any complex modifier logic, just a  super simple lookup table.

[2018-02-14 11:36] adrianhopebailie commented on #684
@marcoscaceres I'm assuming this would need a slight tweak

[code]

This would mean that each payment method must define which data in a payment instrument is private so that it is not returned in the event.

Not insurmountable but likely more challenging for the open payment methods? They'd need to define this in their manifest somehow.

@rsolomakhin WDYT?

[2018-02-14 15:00] rsolomakhin commented on #684
@adrianhopebailie : What's your definition of an open payment method?

I would think that payment methods implemented inside of the browser (so far only `"basic-card"`) would let the merchant know the selected instrument properties (type and network for `"basic-card"`), because the selection happens inside of the browser payment sheet. For payment methods implemented in a payment app, Chrome curre

[2018-02-14 16:57] rsolomakhin commented on #684
@marcoscaceres: We should be selecting the first modifier on both [Android](https://cs.chromium.org/chromium/src/chrome/android/java/src/org/chromium/chrome/browser/payments/PaymentRequestImpl.java?rcl=c67eed882990b58d681e7ff19389a3363660f873&l=961) and [desktop](https://cs.chromium.org/chromium/src/components/payments/content/payment_request_spec.cc?rcl=b323d65639ba99b7c8b191a45018c11b3a022239&l=

[2018-02-14 23:51] domenic commented on #681
Sorry for the delay.

Although I see the possible connection here, I think in the end the issue of "pending" clinches it. All payment items can potentially be pending. But payment shipping options cannot be pending, right? So I don't think they are payment items.

[2018-02-15 00:02] domenic commented on #680
This seems really tough...

So given a situation where people are (as @rsolomakhin states) sending info like:

- Display items: shoes $100, shipping by drone $10
- Shipping options: by drone $10
- Total: $110

I don't see a world where you could usefully create a UI like Firefox's. It seems like you'd end up with

[code]

which is obviously quite confusing.

You could perhaps ask that everyone upg

[2018-02-15 00:42] mnoorenberghe commented on #681
I've seen various websites that give a shipping estimate and indicate that it is subject to change (and therefore is "pending") so to me pending makes just as much sense on a shipping option as on any other display item. IIRC I've seen Payment Request demos by Google that set `pending` to true when duplicating a shipping option (see #680) into the display items.

Personally I would rather shipping

[2018-02-15 00:46] mnoorenberghe commented on #680
I would very much prefer the latter as it allows UAs to provide better UIs and reduces duplication on the part of authors.

[2018-02-15 01:19] mnoorenberghe commented on #684
This sounds like a great idea and I'd be very much in favour of this.

[2018-02-15 01:45] marcoscaceres commented on #684
@adrianhopebailie, you are absolutely correct.

This seems to align with what ApplePay already does and with what we had discussed with @aestes in https://github.com/w3c/payment-request/issues/662#issuecomment-359038775 where we would add the payment method to the `PaymentChangeEvent` interface.

Discussing with people at Mozilla, we think this proposal (let's get rid of modifiers) warrants seriou

[2018-02-15 02:37] marcoscaceres commented on #680
@domenic, just want to be clear that Firefox would display the information in the manner below ("Shipping by drone" twice!), because shipping options have a label:

[code]

So, ideally, with the exclusion of shipping as a display items, you would get the following:

[code]

[2018-02-15 04:35] domenic commented on #680
I mean, it depends on whether the developer enters the same label or not. If I were developing, I would probably put slightly different labels for a "display item" displayed alongside other items, vs. a "shipping option". Thus my above example.

[2018-02-15 04:44] marcoscaceres commented on #680
Ok, thanks for the clarification.

I think we are going to have differences of opinions here. But ultimately, we need to see what developers do. Just don't want to end up in a situation where devs conditionally add/remove display items based on browser detection. Feels like there is a slight risk of that happening.

[2018-02-15 09:10] adrianhopebailie commented on #684
@marcoscaceres If I recall correctly we avoided this before because we felt there was no way to be certain that the payment handler (if it wasn't the browser) would be able to emit such an event. I.e. IPC between the handler (if it is a mobile app for example) and the browser is not guaranteed to be available.

I think that based on where we are with the handler architecture that view has probably

[2018-02-15 16:10] stpeter commented on #684
@marcoscaceres +1 ... Reducing (seemingly unnecessary) complexity seems like a win here.

[2018-02-15 16:14] rsolomakhin commented on #684
@adrianhopebailie wrote:

[2018-02-15 16:14] rsolomakhin commented on #684
Mistake!

[2018-02-15 19:13] rsolomakhin commented on #684
One caveat to consider in favor of keeping modifiers: They allow browsers to show the modified price in the payment sheet, so the user can glance over all options and make a better decision that way. Browsers can also use the different prices as a signal when sorting the payment instruments and pre-selecting the default one. See the mastercard discount in the screenshot below, for example:

<img s

[2018-02-15 19:13] rsolomakhin commented on #684
@madmath cc

[2018-02-15 23:21] marcoscaceres commented on #653
Speaking to Editors, we want to push this to a future version of the spec.

[2018-02-20 20:18] ianbjacobs commented on #653
@marcoscaceres,

Does that mean postpone to after the v1 Recommendation, but still in charter for the WG?

Ian

[2018-02-20 20:32] marcoscaceres commented on #653
Yes, precisely. We can still work on it in parallel tho (resources permitting).

[2018-02-20 21:40] marcoscaceres opened #686 "Unknown currencySystem should throw"
We have a few instances of things relying on:

via "check and canonicalize amount" and "check and canonicalize total". However, the places that rely on the two aforementioned algorithms are expecting them to throw.

Thus, we should change the spec text to:

I'm aware that we are planning on probably ejecting `currencySystem` from the spec, but this would allow us to test support for it properly...

[2018-02-22 00:51] stpeter opened #687 "Add contact info / support URL to show() method?"
There is no method for the merchant to pass its contact information (e.g., a phone number) or a support URL (e.g., a live chat interface) to the payment sheet. This might leave the user without a clear way to get help from the merchant during the payment / checkout experience.

At Mozilla we will probably add this to our list of user testing / user research topics, but has anyone (@zkoch @rsolomak

[2018-02-22 15:22] rsolomakhin commented on #687
@stpeter : No merchants have requested this feature from us. Please do let us know the results of your user testing / user research.

[2018-02-27 06:57] marcoscaceres commented on #652
I've not heard any alternatives approaches and no one has volunteered to do this work, so I'm inclined to close this issue.

If someone wants to have a go at proposing a workable solution, we should reopen.

[2018-02-27 06:57] #652 closed, assigned to marcoscaceres

[2018-02-27 07:30] marcoscaceres commented on #163
Closed via https://github.com/w3c/payment-request/commit/4b98e5350b57a123c895db7e60a3da7a3d856d5e

[2018-02-27 07:30] #163 closed, assigned to marcoscaceres

[2018-02-28 05:26] #645 closed, assigned to nobody

[2018-03-01 04:16] marcoscaceres commented on #687
@ianbjacobs, any chance you could reach out to some merchants to find out how they would handle this? Right now, this is just something we are wondering about.

[2018-03-01 06:09] marcoscaceres commented on #676
@stpeter, I'd like to close this issue via with https://github.com/w3c/payment-request/pull/654 - could you please make any additional editorial clarifications on-top of that pull request?

You should be able to do it either directly via the github interface, or clone repo and make changes directly on the "paymentaddress_constructor" branch.

[2018-03-01 23:05] ianbjacobs commented on #687
@marcoscaceres, I will ask around.

Also adding @michelle, @asolove, and @lyverovski too.

Meanwhile, here are 2 cents:

 * It is not clear to me that while in the sheet (owned by the browser) I would seek help from the merchant. It does make sense to me to have an easy way to get to browser documentation about the sheet. I might have questions like What is this thing? Where do I add cards or othe

[2018-03-01 23:16] stpeter commented on #687
@ianbjacobs You might be more sophisticated than the typical user. ;-) No matter what, shoppers will be confused. Who will they call, what will they do? They have a payment sheet in front of them. It doesn't say how they can get help. They might cancel out of the whole thing, i.e., the dreaded SHOPPING CART ABANDONMENT. I'm really surprised that no one is worried about this. But we'll add it to th

[2018-03-02 18:09] stpeter commented on #687
@ianbjacobs I guess we can close this for now, pending further feedback.

[2018-03-02 18:10] ianbjacobs commented on #687
Up to you. I am fine with that.

[2018-03-02 18:38] stpeter commented on #663
@sebsg You wrote: "We have the data for most countries and I'm trying to get the data for the rest." Is this an open-source dataset (or standardized registry) that other implementations can use? A common approach would help reduce user confusion across browsers.

@mnoorenberghe The original posting from @TSMatthews mentioned shipping options, so it seems that we wouldn't _necessarily_ need to gath

[2018-03-05 18:04] stpeter commented on #27
Where did we end up on this? If I understand the proposal @michelle made, we would define a `payerAddress` construct in the Payment Request API that _can_ be used across all payment methods, but it would not always be _required_ (e.g., if the user presents a prepaid card). It seems there are enough use cases for this information that making it part of the core spec would be helpful. Because @marco

[2018-03-05 18:08] rsolomakhin commented on #27
@stpeter: We have not yet come up with a good way to handle billing addresses across all payment methods. If I recall correctly, we were not sure what to do for payment methods that are outside of the browser and have their own billing address, e.g., payment handlers and Android apps. cc @zkoch to double-check me.

[2018-03-05 18:41] stpeter commented on #476
@ianbjacobs What exactly is the "matching algorithm"? We say that "a user agent can limit matching ... to payment handlers from the same origin as a URL payment method identifier" but that doesn't fully specify how matching works or even what matching is. For instance, a possible rule might be "a match occurs if the payment handler was obtained from the same origin as a URL-based payment method id

[2018-03-05 18:50] rsolomakhin commented on #476
@stpeter, I attempt to better define payment handler matching in [my pull request for Payment Handler spec](https://github.com/w3c/payment-handler/pull/170/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR921). Please take a look and let me know whether that's something that make sense.

Are you beginning to look at Payment Handlers already, or is this because of Payment Request spec mentioning the Pay

[2018-03-05 18:55] stpeter commented on #476
@rsolomakhin Thanks for the pointer! I haven't yet found the cycles to dig into Payment Handler. For now @marcoscaceres and I are pushing to get Payment Request done, so I'm reviewing all the CR-Exit issues. :-)

[2018-03-05 20:56] stpeter commented on #662
@marcoscaceres #674 seems to be in place so let us know when your PR is ready for review. :-)

[2018-03-05 23:10] ianbjacobs commented on #27
We have an upcoming face-to-face meeting for further discussion if that would be useful.

[2018-03-06 15:10] rsolomakhin commented on #608
At Google we prepend the `〒` character to the postal code only when formatting `ja-JP` addresses, which is also in the opposite order from `ja-Latn` addresses. The following locations all have different formatting rules when the `Latn` script code is used:

 * `CN` - China
 * `HK` - Hong Kong
 * `JP` - Japan
 * `KR` - South Korea
 * `MO` - Macau
 * `TW` - Taiwan

[2018-03-06 19:05] rsolomakhin commented on #645
Blink is implementing this: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/Lc2qCQgqqqk

[2018-03-08 02:37] marcoscaceres opened #692 "When "pay" happens, PaymentAddress request and response should match."
[Elsewhere](https://bugzilla.mozilla.org/show_bug.cgi?id=1435155#c12), @hsivonen wrote:

[2018-03-08 02:48] marcoscaceres commented on #608
It's still not super clear algorithmically what needs to happen here to get interop :( We can be hand-wavy in the spec about this, but I don't know what the interop impact will be (if any).

[2018-03-08 09:19] hsivonen commented on #692
LGTM. Thanks.

[2018-03-14 00:47] #651 closed, assigned to marcoscaceres

[2018-03-15 03:39] #648 closed, assigned to marcoscaceres

[2018-03-15 03:47] marcoscaceres commented on #643
closed via https://github.com/w3c/payment-request/pull/654

[2018-03-15 03:47] #643 closed, assigned to marcoscaceres

[2018-03-15 03:48] marcoscaceres commented on #676
closed via https://github.com/w3c/payment-request/pull/654

The PR adds a new model section, which hopefully makes things a little bit more clear with regards to addresses. @stpeter, if you still feel what is there is insufficient, we can reopen this.

[2018-03-15 03:49] #676 closed, assigned to stpeter

[2018-03-15 03:49] marcoscaceres commented on #692
closed via https://github.com/w3c/payment-request/pull/654

[2018-03-15 03:49] #692 closed, assigned to nobody

[2018-03-15 09:52] #630 closed, assigned to marcoscaceres

[2018-03-16 04:42] #686 closed, assigned to marcoscaceres

[2018-03-22 03:18] marcoscaceres commented on #617
@ianbjacobs, @adrianhopebailie, should we start a CFC for this?

I think currency system may make a return in the future - but we might need to think them out a bit more.

[2018-03-22 13:04] ianbjacobs commented on #617
@marcoscaceres, let's mention this at today's call (at least).
Ian

[2018-03-23 05:38] marcoscaceres commented on #662
So, as I'm spec'ing this out, I realized that it might be more consistent to put a nullable `paymentMethod` attribute on `PaymentRequest`.

So:

[code]

And so:

[code]

[2018-03-23 14:29] rsolomakhin commented on #662
Right, this sounds more consistent with the shipping address and shipping option events.

[2018-03-23 14:44] marcoscaceres opened #697 "Add link to SecureContext test"
Need to link https://github.com/w3c/web-platform-tests/pull/8648

[2018-03-28 13:49] shhnjk opened #698 "Disable Payment Request API in CSP/iframe sandbox"
CSP/iframe sandbox is meant to host untrusted content (by locking down privildge of the untrusted
 content). And powerful APIs such as Service Worker, AppCache, etc are not callable from sandboxed contents. For the same reason, Payment Request API should be disabled in sandxboxed content. If anyone feels that there's a valid use case of  Payment Request API in sandbox, then it should be only allow

[2018-03-28 13:53] rsolomakhin commented on #698
Example of a CSP HTML header that @shhnjk proposes should prevent web payments:

`Content-Security-Policy: sandbox allow-scripts`

[2018-03-28 22:27] ianbjacobs commented on #698
@rsolomakhin,

This seems like a good entry for the FAQ [1] and/or MDN [2]. Thoughts?

[1] https://github.com/w3c/payment-request-info/wiki/FAQ
[2] https://developer.mozilla.org/en-US/docs/Web/API/Payment_Request_API/Using_the_Payment_Request_API

[2018-03-29 00:28] rsolomakhin commented on #698
Do any of the implementers think it would be a good idea to have this in the spec?

[2018-03-29 01:48] marcoscaceres commented on #698
Looking quickly, seems we would need to add it to:

 * [HTML Sandboxing](https://html.spec.whatwg.org/multipage/origin.html#sandboxing)

And we would need something like this in the PaymentRequest constructor:

@domenic, does the above seem right? Or is there more to it?

[2018-03-29 01:56] marcoscaceres commented on #698
Noting we have `allowpaymentrequest`... so we would need to work out how they interact.

[code]

I guess sandbox there bans everything, and `allowpaymentrequest` enables.... but because PR API is disabled by default cross-origin, we might not need our own flag?

[2018-03-29 21:00] stpeter commented on #675
Both https://www.w3.org/TR/credential-management-1/ and https://www.w3.org/TR/encrypted-media/ have text we could emulate about secure contexts. The latter document especially has thorough sections on privacy and security.

[2018-03-30 09:27] repalogic commented on #550
In my point of view (we develop ecommerce systems), postponing this request is quite difficult as it might be an important requirement in some ecommerce use cases. Not supporting separate invoice addresses would make the API not usable at all and thus is quite critical.

[2018-03-30 09:29] repalogic opened #699 "support of VAT"
The payment options currently do not support "requestVAT" which is necessary in any B2B ecommerce context in Europe. A shop owner has to deliver products without tax if the ordering company has a valid VAT ID. To support B2B ecommerce, there should be an additional payment option to request this VAT ID

[2018-03-30 12:07] ianbjacobs commented on #550
Hi @repalogic,

Basic Card now includes billingAddress:
 https://w3c.github.io/payment-method-basic-card/

It seems that the group's preference at this time is to include billing address in the payment method (if needed there) rather than elevate it to the payment request API.

Let me know if this helps.

Ian

[2018-04-02 12:14] GSPP commented on #550
OK, thanks for that detailed information.

Clearly, I have missed a lot of prior discussion. But it seems to me that the billing address logically is not a property of the payment method. A billing address is a property of any purchase and be it only for tax reasons. It helps you prove to the tax office that the purchase was indeed made in the name of your business and was not some private purchas

[2018-04-02 18:41] domenic commented on #698
This is interesting... usually we do not add features to both allow*/feature policy and iframe sandboxing. But, the fact that for top-level pages payment request is on by default, whereas in iframes it is off by default, makes this complicated.

Paging @clelland, our feature policy expert, for this thoughts.

[2018-04-03 17:58] clelland commented on #698
PaymentRequest should be disabled, by default, in any sandboxed frame, just by virtue of it being cross-origin to the main document. The only way around that would be with something like
[code]
which would inherit the origin of the parent, and therefore *not* be cross-origin. That case should be treated like any other same-origin embed, practically, though. (The HTML spec [specifically warns again

[2018-04-06 06:12] #535 closed, assigned to marcoscaceres

[2018-04-06 23:49] riking commented on #608
To clarify, can you post formatted versions of the above example address in the two different language codes? That should probably help determine what the algorithm needs to be.

I can certainly image that some merchants would prefer that the billing/shipping address be available as simple Unicode text with newlines, especially not-fully-automated small merchants that might be handwriting a letter

[2018-04-07 00:05] riking commented on #646
Going to state the obvious here and mention that either the merchant-website example code should switch on the method name in the `merchantvalidation` event, or the Merchant Server should check the `validationUrl` query parameter against a whitelist of domains -- else you're landing in mandatory server-side request forgery land.

[2018-04-07 01:13] hexalys opened #701 "Alternative 'Pay' button wording options for Browser UI (the button in the sheet)"
I was looking the [Google intro](https://developers.google.com/web/fundamentals/payments/) and I see the final button description is always `Pay` in the Chrome context. I am unable to find any mention in the spec that this can be changed.

For cases where the payment is either not processed right away, or the payment info if provided for future charges. I think there should be a way to change this

[2018-04-07 19:49] rsolomakhin commented on #646
Good points @riking . I believe *both* server-side and client-side checks should be performed.

[2018-04-09 21:42] adrianhopebailie commented on #701
This was discussed previously (I can't seem to find the previous issue). It would be useful if the requirement could be described in some more detail and the motivations or use cases also provided.

One challenge with allowing custom UI is that this opens up additional attack surface so it would need to be considered carefully. If we allowed a choice of options (more secure than free text) what wo

[2018-04-10 02:29] ianbjacobs commented on #701
@adrianhopebailie, I believe it was https://github.com/w3c/payment-request/issues/56
which refers to https://github.com/w3c/payment-request/issues/19

[2018-04-10 07:05] marcoscaceres commented on #701
What is great for merchants and end-users is that, when presented with the payment sheet, they get a consistent, predictable, localized, and highly accessible user experience. Allowing arbitrary changes to “pay” (or whatever the user agent chooses to present as the textual representation) starts to break that contract/experience.

[2018-04-12 23:14] Bailey520 commented on #389
Awesome work Gentlemen,
I am impressed, that doesn't happen often with me!
I can input this much, I am attempting to solve the mystery of the missing Apple/Account(s) regarding the shipping sites, what address was this shipped? etc..
All the help I can get is appreciated.
Bailey

[2018-04-13 06:13] hexalys commented on #701
Thanks, I missed the existing threads in my initial search.

@adrianhopebailie
I do not have a particular use case in mind, other that currently working with a couple U.S. retail and wholesale companies that processes payments only if the order is validated for production first.

In my checkout instances, I show a "Continue" button once they provide the payment info (which is why I mentioned 'Add'

[2018-04-13 06:25] marcoscaceres commented on #701
It might be that a developer signals the purpose of the payment request in some way, allowing the “pay” button to be changed to something more suitable by the UA. That would retain the qualities I listed above, without explicitly handing over control of the button label.

[2018-04-13 06:31] marcoscaceres commented on #701
Note that this is supposed to be communicated by the merchant’s UI, and by calling `PaymentResponse.complete(“unknown”)`.  Would be great to explore if that’s sufficient.

[2018-04-13 07:49] hexalys commented on #701
It's post-action. But that could help. Or perhaps, additionally relying on those enums as selective input, for the UA to use a button label according to the expected results. I am not too clear on what "unknown" would cover. I really think "authorized" is broad enough that it could be added, with "unknown" for other things.

e.g. Should the request sends a custom `{ "fail", "authorized"};` the UA

[2018-04-13 17:19] stpeter commented on #701
@hexalys You raise a very good point. It strikes me that the current flow & API are optimized for one-time, real-time purchases by consumers - not recurring payments (e.g., subscriptions), not split payments (e.g., multiple cards), not hold-then-pay (e.g., reservations or temporary credit charges to lock in a price with payment to follow by some other means), not more complicated B2B interactions,

[2018-04-16 11:40] marcoscaceres commented on #649
Ok, created more tests https://github.com/w3c/web-platform-tests/pull/10488

@rsolomakhin, please take a looksy!

[2018-04-16 14:05] rsolomakhin commented on #649
The tests looksy good!

[2018-04-19 01:05] hexalys commented on #701
@stpeter

Nods. I am hopeful that covering additional flows can be done without being too specific like https://github.com/w3c/payment-request/pull/111 or the previous `transactionType` shown on https://github.com/adrianhopebailie/browser-payment-api/commit/e34975023a03ad1c5865b5abed5a363cfa5488ba were.

Maybe a fairly clear specs around a new minimal set of enums that cover all or most use cases

[2018-04-19 08:01] marcoscaceres commented on #647
Consider supporting email, phoneNumber, etc. for retry.

[2018-04-19 13:22] mattsaxon commented on #550
Today at the working group is was further agreed that this would not be elevated into the PaymentRequest API.

It was however agreed that the Address definition in https://www.w3.org/TR/payment-request/#paymentaddress-interface could be reused in any payment method.

This allows a consistent definition to be used across all payment methods.

A further thought that occurred to me post this discussi

[2018-04-19 23:55] mnoorenberghe commented on #550
If we go down this route then we should definitely have a `requestBillingAddress` (or similar) flag on `PaymentOptions` so UAs will know when the billing address is actually required by the merchant and therefore this can be communicated to the user.

[2018-04-24 19:57] stpeter opened #702 "Verifying the total"
The spec is unclear on this point: "It is the developer's responsibility to verify that the total amount is the sum of these items."

Is it the responsibility of the merchant to verify these amounts before generating the PaymentDetails?

Is it the responsibility of the browser to verify these amounts after receiving the PaymentDetails from the merchant?

[2018-04-24 22:20] marcoscaceres commented on #702
Correct.

There is no expectation in the spec that the browser do any mathematical  calculations of any kind.

[2018-04-24 22:39] stpeter commented on #702
Perhaps then it makes sense to say "It is the developer's responsibility to verify that the total amount is the sum of these items before generating the PaymentRequest."

[2018-04-25 01:05] marcoscaceres commented on #702
Good suggestion, but I need to check the context, because "before generating" doesn't apply in all cases. Consider, the total can be updated by `.show()` and via `.updateWith()`.

[2018-04-26 07:04] marcoscaceres commented on #653
Noting WebKit implementation: https://trac.webkit.org/changeset/226766

[2018-04-26 07:15] marcoscaceres commented on #699
Marking as future feature candidate. Inputs welcome.

[2018-04-26 09:53] adrianhopebailie commented on #701
We have also discussed "transaction types" in the past and to-date the WG has concluded that these are payment method specific.

For example, does it make sense to have a `subscription` if the method of payment is via Bitcoin?

To date, the approach of the WG has been that the custom data in a payment method is a great place to experiment with new request data that, if it is shown to be universall

[2018-04-26 19:20] mnoorenberghe commented on #653
Are you sure that's the correct link? I don't see address related changes in that commit

[2018-04-26 20:12] ianbjacobs commented on #662
This topic was discussed at the 19 April FTF meeting:
https://www.w3.org/2018/04/19-wpwg-minutes.html#item04

[2018-04-26 20:55] marcoscaceres commented on #653
Oops, the link was for merchant validation. Thanks!

[2018-04-26 20:56] marcoscaceres commented on #646
Noting WebKit’s implementation https://trac.webkit.org/changeset/226766

[2018-04-26 21:11] ianbjacobs commented on #550
@marcoscaceres, do you have a pointer to the discussion/work on a reusable address object?

[2018-04-27 03:25] marcoscaceres commented on #550
It's threaded through:
https://github.com/w3c/payment-request/pull/654

For this particular use case, we would need to specify something like @mnoorenberghe suggests in https://github.com/w3c/payment-request/issues/550#issuecomment-382917136 (add `.requestBillingAddress: true` to options).

No changes to the the `PaymentAddress` sections would be needed.

[2018-04-28 17:16] shhnjk commented on #698
Real world example: [dropbox.com/enterprise](https://www.dropbox.com/enterprise) runs with CMS which they made isolation with main [dropbox.com](https://www.dropbox.com/) using CSP sandbox. XSS in CMS theoretically has no impact on main [dropbox.com](https://www.dropbox.com/) but in this case, attacker can ask for payment :)
CC: @devd

[2018-04-30 07:07] marcoscaceres commented on #663
@mnoorenberghe,

I don't know if we can standardize that behavior. That seems overly prescriptive and would be too closely tied to libaddressinput (which neither Edge or Safari rely on).

[2018-04-30 22:17] stpeter commented on #702
Yes, perhaps not "before generating" but "It is the developer's responsibility, when generating or updating the PaymentRequest, to verify that the total amount is the sum of these items."

[2018-04-30 22:30] stpeter commented on #608
I tend to agree with the feedback that @jmacwhyte provided - this is a matter of locale, not language.

[2018-05-01 02:53] marcoscaceres commented on #702
@stpeter thanks for the suggestion - that makes it more clear. I'll add it.

[2018-05-01 08:31] #617 closed, assigned to marcoscaceres

[2018-05-01 08:35] marcoscaceres commented on #476
@ianbjacobs did #682 close this?

[2018-05-01 20:45] #702 closed, assigned to marcoscaceres

[2018-05-02 03:06] marcoscaceres commented on #647
Seeking input:

 * @domenic, feedback on IDL and general design would be appreciated.
 * @aestes, are there cases that are not covered (i.e., that you couldn't then map to `ApplePayError`)?
 * @mnoorenberghe, @edenchuang, implementable?

## Shipping address errors
Looking back over the discussion, I think having a `PaymentError` interface might be confusing and a bit heavyweight: Confusing, in tha

[2018-05-02 08:02] marcoscaceres opened #705 "Retrying a payment"
@domenic, @aestes, @zkoch, @adrianba, @mnoorenberghe, @stpeter, @edenchuang, all, here is an attempt to solve the retry issue. It builds on the fine grained error recovery proposal at #647, and on payment method change event (#695).

## Retrying a payment flow
I did a bunch of experimentation, and I think the most logical solution is to mixin the handlers from `PaymentRequest` into `PaymentRespons

[2018-05-02 17:12] stpeter commented on #647
@marcoscaceres I like this approach - clean and lightweight. Thanks for the concrete proposal!

[2018-05-02 20:03] domenic commented on #647
This design seems reasonable from a spec/IDL perspective. Pretty nice and simple; just an extension of the existing "error" option in PaymentDetailsUpdate.

[2018-05-02 20:06] domenic commented on #705
I think I'm missing something more fundamental in the explanation here. Why is this method needed at all? Let's say that the page signals an error using updateWith(paymentDetailsUpdate). Can't the user then just fix the error and press "pay" again? What does this retry() method add?

[2018-05-02 20:37] mnoorenberghe commented on #647
LGTM! Thanks for getting back to this so quickly!

I only have two nits:
* I'm not sure any UAs plan to expose the underlying `languageCode` so I'm not sure how useful an error message for it would be but I think it's fine to be consistent and support errors on all fields in the shipping address.
* Tangent: I'd rather we fixed the misnomer of `addressLine` => `addressLines` everywhere rather than

[2018-05-02 22:28] marcoscaceres commented on #705
Today, the merchant receives `response` after the user clicks “Pay” - so access to `.updateWith()`, which is only available  via `PaymentRequestUpdateEvent`, is no longer accessible to them. So now they only have one option: call `response.complete(validationResult)`. Remember also that at this point, the payment sheet is showing only a spinner, waiting for the payment to `complete()`.

So, there

[2018-05-02 22:45] domenic commented on #705
Got it, thanks! I knew I was missing something obvious.

It seems like it would be kind of nice if this were tied to `complete()`; e.g. `complete("fail-but-fixable", errors)`. One idea is that the promise returned by such a `complete("fail-but-fixable")` call stays pending until the user fixes their mistake and presses "Pay" again, at which point the other `PaymentResponse` attributes are hopefull

[2018-05-02 23:09] marcoscaceres commented on #705
Agree, but kinda feel it’s ok here. The code paths all lead to a single `.complete()` call, even if the merchant neends to `retry()`. The flow is still nice:

  1. Get response.
  1. Validate response.
  1.  Optionally, retry():
      1. Await things to get fixed user.
  1. complete().

[2018-05-02 23:12] domenic commented on #705
I guess that makes sense.

I wonder if there's a way to make "await things getting fixed by the user easier". Maybe if retry() returned a promise that resolved next time the "Pay" button was pressed?

In particular, I'm concerned about the complexity of your sample code for a merchant that just wants to do validation all at once, without dealing with the *change events. They just want to wait for

[2018-05-02 23:30] marcoscaceres commented on #705
Ah, great point.

Right, so:

[code]

We could, in theory, support both models: The nice thing about the events is that it allows more immidiate feedback between the user and merchant... like: user changes their email, merchant checks it right after it changes. Merchant calls `.updateWith()` saying it's still bad... repeat until it's good.

Thus, the problem with just `retry()` is that the user is

[2018-05-02 23:33] domenic commented on #705
Yeah, supporting both models makes sense to me.

As an aside: is there no way today to say why a `complete("fail")` failed?

[2018-05-02 23:37] marcoscaceres commented on #705
Nope. The API expects the merchant to explain why it failed after the sheet disappears.

I updated the `.retry()` proposal above. Now returns the promise, can be called multiple times.

[2018-05-02 23:46] marcoscaceres commented on #705
Ok, some more fixes above. Oooh! this is really nice now. Thanks @domenic!

I'll try to come up with a cleaner example for handling the eventing path. The above makes it look worst than it is, I think.

[2018-05-03 00:26] marcoscaceres commented on #705
Ok, `.retry()` with recursive validation with event support (my submission for JS1k this year?):

[code]

[2018-05-03 04:21] marcoscaceres commented on #647
Agree.

I'm thinking it might be too late... consider what happened already when we changed `supportedMethods` to a string. I think we are still dealing with the fallout.

I personally think this will cause confusion, as people might think they can set one or the other, but then one will trash the other, etc. Naming things is hard 😢

That reminds me, nevertheless, that maybe `addressLine` needs sp

[2018-05-03 04:27] mnoorenberghe commented on #647
Sounds like overkill to me

[2018-05-03 04:46] marcoscaceres commented on #647
Ok, let's see how we go with `DOMString addressLine;`.

I'll wait a few days for others to chime in, but can start drafting things up behind the scenes.

[2018-05-03 14:56] ianbjacobs opened #707 "UX Idea: Favicon in the sheet?"
@marcoscaceres, @zkoch, @adrianba, @aestes,

At today's WPWG call [1] we discussed some of the perceived adoption challenges for payment request API. Among them is user unfamiliarity with the sheet. As @stpeter, put it, the "familiar milestones" about the merchant site are missing when one interacts with the sheet, and this
may be leading to users canceling.

Beyond displaying merchant origin, one

[2018-05-03 15:28] stpeter commented on #707
The good thing about a favicon is that it's accessible from a standard location and comes in standard sizes. Is it necessarily of a size that's desirable to merchants?

[2018-05-03 15:28] domenic commented on #707
I'm very confused as to how this is a specification issue, and not a feature request for individual browsers best filed on their bug trackers.

[2018-05-03 15:35] marcoscaceres commented on #707
Agree with @domenic. This seems like something browsers can compete on from a UX perspective. Like, Firefox could easily pull favicons from the document or from web manifest.

[2018-05-03 15:37] ianbjacobs commented on #707
I agree this is not a spec question. If there is a better way to raise awareness on topics related to but not directly affected by the spec, please let me know. I'm happy to close this issue.

[2018-05-03 15:42] stpeter commented on #707
Sure, a browser could pull in the favicon. Is that enough to overcome user skittishness with payment sheets that have no merchant branding? IMHO user testing/research needs to lead us in the direction of answers, so closing this for now might make sense.

[2018-05-03 15:47] ianbjacobs commented on #707
Ok to close and look forward to hearing feedback if this idea is experimented with.
Ian

[2018-05-03 15:47] #707 closed, assigned to nobody

[2018-05-03 15:55] marcoscaceres commented on #707
As @domenic stated, “feature request for individual browsers best filed on their bug trackers.”

However, if there is actual (i.e., not perceived) data showing that there is significant abandonment over the status quo, and statistically significant data showing a direct correlation between presenting a favicon and significantly reduced abandonment, then we can have a discussion: What methodology w

[2018-05-03 15:59] stpeter commented on #707
This issue was triggered by early data (or at least anecdotes) provided by a WG participant on a call earlier today, based on a study they have underway. They can provide more details once their study is complete.

[2018-05-03 16:02] marcoscaceres commented on #707
That’s really great to hear! I definitely agree we need to be researching and sharing data here, specially if it results in positive experiences for users.

[2018-05-04 04:59] marcoscaceres commented on #145
Weirdly, I thought I had already put together a proposal for this, but can't find it on Github.

Here is another one.

## Proposal
Note: I wrote the following in such a way that we can just spin off a separate "Payment Request API: Coupons" spec. That way, this doesn't need to block on the main Payment Request API spec. It also makes it easier to shop around.

## Additions to `PaymentOptions` dict

[2018-05-04 05:13] marcoscaceres commented on #145
Fixed couple of little things above, added more examples, links, etc.

[2018-05-04 11:13] dtanphat9388 commented on #637
chrome 66 still error

[2018-05-04 13:59] adrianhopebailie commented on #145
Great place to start from! Nice work @marcoscaceres

Two minor concerns:
  1. The word `coupon`. I'm not sure it's universal terminology. Maybe`discount code` would be better?
  2. I think you have overloaded `couponAccepted`. The user should be allowed to change the code even if the merchant has accepted it.

Can't wait to get some sweet sweet savings!

[2018-05-04 14:16] ianbjacobs commented on #476
@marcoscaceres, thank you, I'm satisfied.

[2018-05-04 14:24] ianbjacobs commented on #550
@mattsaxon, I've raised an issue about billing address on the tokenization spec:
 https://github.com/w3c/webpayments-methods-tokenization/issues/40

[2018-05-04 15:16] clelland commented on #698
So, to disable paymentrequest completely in *any* frame, whether same- or cross- origin, sandboxed or not, it is possible to use `allow="payment 'none'"`.

Then, even in the least-sandboxed sandbox:

[code]

the PaymentRequest API will be denied.

That won't stop a malicious script from reaching up into `parent` and forcing *it* to call the API, (or removing the attribute, or even the sandbox attr

[2018-05-04 16:43] mnoorenberghe commented on #145
I had the same thought. I don't think we would really need couponAccepted… if the merchant doesn't return an error from the event then we can assume it's valid. I also think we shouldn't restrict to a single applied coupon as that will still not be flexible enough for sites and we'd have to fix that later.

[2018-05-05 19:20] shhnjk commented on #698
[dropbox.com/enterprise](https://www.dropbox.com/enterprise) is using following CSP sandbox.
`content-security-policy: sandbox allow-forms allow-scripts allow-top-navigation allow-popups;`

FYI to the spec editors (of all kinds), you all are doing great job in restricting cross-origin frames or insecure context for powerful APIs. But in my experience, CSP/iframe sandbox is usually left to implemen

[2018-05-06 02:32] devd commented on #698
I agree.

Out of curiosity, even if spec says nothing about the sandbox, shouldn't
the spec rely on current origin of page when making decisions and if it
did, shouldn't it just work out?

On Sat, May 5, 2018, 12:20 PM Jun <notifications@github.com> wrote:

[2018-05-06 10:56] shhnjk commented on #698
Credit card information is saved in a browser and it isn’t tied to any origin. So if user trusts “dropbox.com/enterprise”, that’s a good way to monetize an XSS inside sandbox.

[2018-05-06 11:46] cozohar opened #708 "canMakePayment always return false"
Hi,
I'm trying to understand why canMakePayment always return false although I have setup a card in the broswer. (When testing locally it always return true).

I configured a Visa test card in Chrome 4111111111111111 and also a real mastercard.
I'm attaching the browser console. Am I doing something wrong? Is there a problem maybe?

[code]

[2018-05-06 18:55] ianbjacobs commented on #708
@cozohar, in what browser(s) are you testing?

[2018-05-07 00:44] marcoscaceres commented on #708
Closing, as this is a browser issue, not a spec issue.

Nevertheless, with a bit more info we can try to help @cozohar.

If this is Safari: basic-card is not supported, only ApplePay is.

[2018-05-07 00:44] #708 closed, assigned to nobody

[2018-05-07 02:44] marcoscaceres commented on #637
Can you provide a test case, @dtanphat9388?

[2018-05-07 03:48] marcoscaceres commented on #145
@adrianhopebailie wrote

Agree that the name is not great and totally open to bikeshedding. The reason I didn't go with `discountCode` was that it might not always be a "discount".

Few options, from [Wikipedia's coupon entry](https://en.wikipedia.org/wiki/Coupon):  "coupon codes", "promotional codes", "promotion codes", "discount codes", "keycodes", "promo codes", "surplus codes", "portable codes

[2018-05-07 04:20] #476 closed, assigned to nobody

[2018-05-07 04:59] marcoscaceres commented on #701
Based on @adrianhopebailie's feedback, I'm marking this as "Future Candidate Feature". We can come back to this after CR and as we gain more experience with payment request.

Thanks again, @hexalys, for the fruitful discussion here. I'm sure this is something we will return to sooner rather than later.

[2018-05-07 07:01] cozohar commented on #708
@ianbjacobs in Chrome

[2018-05-07 07:11] marcoscaceres commented on #708
In Chrome Desktop, I think you need to be logged into Google itself via the browser... but then again, my understanding is that `canMakePayment()` doesn't work the same as in Chrome on Android (where cards a verified against Google Pay).... hence,  `canMakePayment()` returns `false`.

Google folks can give a definitive answer.

[2018-05-07 08:01] cozohar commented on #708
I'm using Chrome Desktop. I wasn't logged in, so I did and I cleared cache (made sure the cards are still configured) and I'm still getting false every time.

[2018-05-07 08:50] n3o77 commented on #708
Are you using a valid ssl cert?

[2018-05-07 10:13] cozohar commented on #708
Hi @n3o77 , my SSL cert wasn't valid. Now it works!
Thank you so much

[2018-05-07 12:09] ianbjacobs commented on #708
Thanks all. I've added a question on this to the FAQ:
 https://github.com/w3c/payment-request-info/wiki/FAQ#canmakepayment-always-returns-false-why

I welcome suggestions for improving the question and answer.

Ian

[2018-05-07 14:04] clelland commented on #698
`content-security-policy: sandbox allow-forms allow-scripts allow-top-navigation allow-popups;`

That should be sufficient to completely restrict the use of the PaymentRequest API in that frame. That policy should ensure that the frame has an opaque origin, which will be cross-origin with the frame in which it is embedded, and as long as the containing page hasn't explicitly granted access, it wil

[2018-05-07 14:15] clelland commented on #698
After re-reading all of the comments in this thread, I think I see the issue more clearly. This isn't about iframe sandboxing at all -- that works exactly as intended, as @devd points out. This comes up when the top-level document has sandboxed *itself* through the CSP `sandbox` directive. In that case, the browser's default policy is to allow the API in the main frame.

For now, this can be mitig

[2018-05-07 14:24] devd commented on #698
sounds good. Just to sanity check: is feature-policy support a requirement of payment-request support?

[2018-05-07 15:13] ianbjacobs commented on #698
I am not familiar with Feature Policy. However, the comment from @clelland that for security reasons powerful features should be disabled by default makes sense to me.

@devd, right now I don't see in the normative dependencies of Payment Request any dependency on feature-policy.

[2018-05-07 15:17] stpeter commented on #698
Regarding Feature Policy, see https://github.com/w3c/payment-request/issues/600 (it's marked as a future feature).

[2018-05-07 15:23] ianbjacobs commented on #145
+1 to offerCode. I can also live with promoCode.

[2018-05-07 15:24] shhnjk commented on #698
Just to clarify, why I included iframe in the title is because pop ups opened from iframe sandbox would also be a top-level sandboxed document (assuming the escape sandbox flag is not set).

[2018-05-08 06:11] mnoorenberghe commented on #145
I'm pretty sure I've used multiple coupon codes on a site before. e.g. coupon code A is for buying N products by Brand 1, coupon code B is a discount offered solely by the merchant, not in partnership with a brand.

If so, that should be handled by the event + `updateWith` rather than be passed on to the UAs to handle IMO.

Could someone remind me of the recent discussion that sparked re-opening t

[2018-05-08 07:00] Krystosterone commented on #145
From what I gather, it might have been sparked because of a recent call where Andre (https://github.com/lyverovski) mentioned some experiments we've been running around Payment Request. See minutes here: https://www.w3.org/2018/05/03-wpwg-minutes

... we are putting together a brief that we will share with this group
... there are two points that I want to raise: merchants are not necessarily skit

[2018-05-08 07:05] marcoscaceres commented on #145
So, just error the last one? Could work, but it means the user might enter more codes than they need to.  If we restrict it, to say: "3", then the browser just doesn't provide an option to add another.

See priorities (and related "ACTION"):
https://www.w3.org/2018/05/03-wpwg-minutes#item03

Taking feedback thus far...

## Proposal - multiple offer codes

This proposal enhances the Payment Request

[2018-05-08 07:41] Krystosterone commented on #145
:wave: I can provide some guidance from the Shopify side here. Take all of this with a grain of salt as what is best for our platform might not apply for the broader public of Payment Request.

To start it off, Shopify uses the field for both discount codes **and** gift cards alike. Now the interesting part here is that we only ever allow the customer to apply one of each. I'll follow below with s

[2018-05-08 09:04] marcoscaceres commented on #145
@Krystosterone, this is invaluable feedback! Thank you!

I wonder if we need to treat each differently, because each can have a different input modality. For instance, I can scan iTunes gift cards with my camera.

<img width="400" alt="screenshot 2018-05-08 18 14 59" src="https://user-images.githubusercontent.com/870154/39747909-f96e2fe4-52f1-11e8-85cb-e18e82bc661a.png">

(We don't need to get thi

[2018-05-08 14:33] adrianhopebailie commented on #145
@marcoscaceres Bike-shedding yay! I propose: `checkoutCode` 😬

+1 to both stories. I agree we can just drop the couponAccepted flag.
"Applying" the coupon is done by the merchant through the line items.
i.e. If the merchant accepts a coupon they can:
  1. Return empty/undefined `couponErrors`
  2. Add a line item to reflect the discount indicating to the user that it was accepted

[2018-05-08 15:07] domenic commented on #145
I am a little skeptical that we really need to encompass every payment flow, like coupon codes, in the browser's built-in payment sheet. This seems like something that can easily be applied in the "shopping cart" phase, before clicking the "checkout" button. But I guess I'll leave questions of "should we" to the experts/working group, and instead help with the "how do we" questions...

Don't use o

[2018-05-08 15:50] n3o77 commented on #145
I'm also not sure if it makes a lot of sense that coupons can be applied in the browser payment sheet. What would happen if the customer uses a coupon / gift cards which will reduce the payable amount to zero. As @theball already said, I am also seeing the payment sheet more for data, which rarely changes from a customer perspective. Coupon codes, gift cards or other promotions are often handled s

[2018-05-08 16:30] stpeter commented on #145
@domenic said:

It does seem to introduce a fair amount of complexity. If we supported offer codes only in the shopping cart phase, presumably we could show the amount applied in a "view order details" interface within the payment sheet (as a `PaymentItem` with a negative amount)...

[2018-05-11 19:12] Krystosterone commented on #145
I think it's very valuable to ask ourselves if coupon codes should be in scope of Payment Request. Hopefully the discussions we have here might provide future heuristics on deciding if further iterations should benefit from certain features or not.

Coupon codes seem to be one of the last concepts that have impact on receipt line items and total price, but are still not part of the Payment Request

[2018-05-12 00:06] 719media commented on #642
@rsolomakhin do you have any additional details in regards to chrome allowing payment request api to not save sensitive data? we are looking at integration of payment request api, and this is one of the problems we ran into: browser supports payment request api, but user is on a public (e.g. library) computer. Even though this scenario may be considered "uncommon", it's the sole reason we still ha

[2018-05-12 00:10] ianbjacobs commented on #642
/cc @anthonyvd

[2018-05-16 06:30] mnoorenberghe commented on #663
@marcoscaceres

Sorry, just noticed this reply now…

What I'm talking about isn't tied to libaddressinput at all. It's tied to whether the country writes subdivisions as part of their mailing address (e.g. on an envelope). Since users won't expect to be asked to select their subdivision for a shipping address in some countries that don't use them for mailing, I expect that in Firefox we won't show

[2018-05-16 06:33] marcoscaceres commented on #663
Good point. I'll spin up a separate issue to clarify!

[2018-05-16 06:35] marcoscaceres opened #710 "Clarify that empty region/regionCode is ok for some locales"
In https://github.com/w3c/contact-picker/issues/65 @mnoorenberghe wrote:

Should add a note to the spec as per above👆

[2018-05-16 07:22] #710 closed, assigned to nobody

[2018-05-17 05:33] marcoscaceres commented on #145
Agree, and it's clear this is a larger/more complicated than we (ok, just me! 😓) had initially envisioned.

I'd like for us to finish the things in the [CR-Exit list](https://github.com/w3c/payment-request/issues?q=is%3Aissue+is%3Aopen+label%3ACR-Exit), then come back to this when we have more available resources to fully explore the problem and prototype solutions. Nevertheless, I'd encourage int

[2018-05-17 10:07] adrianhopebailie commented on #145
I don't want to be THAT GUY but I think we're starting to feel the pain from ignoring the early calls within the WG to design a basic payment API and a separate "checkout API" that was a composition of payments and other data collection.

By incorporating the collection of non-payment data like shipping address, email address etc. into the API in the way we did we must now constantly evaluate new

[2018-05-17 14:47] Krystosterone commented on #145
@marcoscaceres @adrianhopebailie Totally didn't want to take up your time, as CR-Exit issues are more pressing for sure!

Whenever it's appropriate, we can circle back to this. If I ever think of anything else, I'll just keep posting here but feel free to ignore me for the time being.

Would love to see where that would lead!

[2018-05-17 17:19] ianbjacobs commented on #145
@adrianhopebailie mentioned and "unclear set of criteria for inclusion" of features like discount codes.

I get the sense from discussions that lots of users may be dropping out of the sheet since they can't enter a discount code. That motivates me to want to hear good proposals for inclusion because:
   - "LOTS of users are dropping out" is important feedback and the sort of information we said w

[2018-05-17 17:21] stpeter commented on #145
Agreed, especially if by "user" we mean "merchant". ;-)

[2018-05-20 03:23] cyberphone opened #714 "Applying "Detached" JWS Signatures to PaymentRequest"
Assume you have PaymentRequest object like the following:
[code]
If such data needs to be signed, there is currently no standardized method for signing JSON data except through Base64Url-encoding the entire object which is in conflict with the API concept.

It would be cool adding an element containing a detached JWS signature like this:
[code]
Unfortunately that doesn't really work because _the o

[2018-05-21 03:20] marcoscaceres commented on #714
All browsers respect order of properties. Authors depend heavily on having the order of those properties be in order and it would be "web breaking" to consider them as unordered.

[2018-05-21 03:20] #714 closed, assigned to nobody

[2018-05-21 03:22] marcoscaceres commented on #714
To be clear, if the bug is "order of JSON properties is undefined", and given that there is agreement in browsers that order is actually respected, then the ECMAScript spec should be updated, but doesn't affect Payment Request (which is why I'm closing this issue).

[2018-05-21 04:53] cyberphone commented on #714
@marcoscaceres I think you were a bit hot on the trigger here 😂.
The _Creator_ of the signature would not be a browser and is thus affected by JSON property (un)order.

Imagine a **PaymentHandle**r scenario.  The browser can't do much with the signature since the key used to sign with, hardly is known by the browser.   I.e. the bank/PSP (which also isn't a browser), would be the most likely _Verif

[2018-05-21 04:56] marcoscaceres commented on #714
Do any JSON implementations not respect the order? if so, exactly which?

[2018-05-21 05:02] cyberphone commented on #714
Believe it or not, essentially none do because the JSON specification (unlike ECMAScript's specific take on JSON), says that the order of properties indeed is unspecified.  That and a few other things is the rationale for the I-D.

[2018-05-21 05:04] marcoscaceres commented on #714
ok, but this is still a bug in JSON spec, no? Seems the first step would be to fix the JSON spec to match browsers and developer expectation.

[2018-05-21 05:15] cyberphone commented on #714
Well, it is has been like that since the inception of JSON. Changing it would be a major deal since many JSON systems (including Java and C#) rely on reflection which also enumerates properties in an unspecified order.

I agree that it is strange that if you declare the objects A,B,C, they are typically serialized as A,C,B.  Canonicalization is fortunately a simple process both to implement and ap

[2018-05-21 05:18] marcoscaceres commented on #714
Browser vendor bias here, but totally 🤷🏽‍♂️.

Ok, but the above is basically an argument for getting it fixed. Obviously, legacy systems would need to be updated, but the change would be backwards compatible.

[2018-05-21 05:21] cyberphone commented on #714
It will not happen because the cost is huge and the need is not that big.  The IETF JSON WG wouldn't accept such a proposal.

[2018-05-21 05:24] cyberphone commented on #714
As an example the Payment Request API does not depend on property order.  Only a few and _pretty marginal_ systems do.  In those cases people have done special tricks like using "printf" to generate JSON.

[2018-05-21 09:03] marcoscaceres commented on #705
I've been investigating how to do add `.retry()` over the last few days... Because of the way we originally wrote the spec, we never assumed `PaymentRequest` and `PaymentResponse` would take the same code paths (or that the `PaymentResponse` would need a state machine)... thus, the spec is heavily biased towards `PaymentRequest` in all its algorithms, and to change it means a significant rewrite.

[2018-05-21 15:30] stpeter commented on #714
@cyberphone wrote:

I'm confused. It seems that we (you) can't convince the appropriate working group to solve the problem, therefore we (you) feel the need to define workarounds everywhere downstream from the right place to solve the problem. That doesn't strike me as an effective or efficient approach. Am I missing something?

[2018-05-21 15:52] cyberphone commented on #714
Hi @stpeter @marcoscaceres!  A peek in the reference may be of some use: https://tools.ietf.org/html/rfc7159#section-1
[code]
I wouldn't characterize the (fully implemented) proposal as a "workaround", but rather an attempt creating something useful without "boiling the ocean".  Since JSON doesn't even separate integers and floating point numbers, it seems that a better alternative would be CBOR b

[2018-05-21 16:37] cyberphone commented on #714
There is actually a current and "similar" proposal with Microsoft as well as me as authors, _building on ECMASrcript property_ order: https://tools.ietf.org/id/draft-erdtman-jose-cleartext-jws-00.html

After having checked with major tool vendors as well as getting negative feedback in the JSON&nbsp;WG, I changed my mind and turned to canonicalization which doesn't have to be natively supported in

[2018-05-22 13:40] adrianhopebailie commented on #145
Actually I think we mean "shoppers". i.e. Shoppers are confronted with a checkout sheet and have no way to enter a discount code so they drop out. This is obviously bad and, I agree, sufficient motivation to figure this out.

There are two issues here:

1. Specific to discount codes
2. A broader architectural question about how to improve the API so we don't have this same conversation every 6 mon

[2018-05-22 16:10] stpeter commented on #145
@adrianhopebailie Actually I think we mean merchants, because when @lyverovski gave us a report on their deployment experiment recently the feedback was "merchants are dropping out because they can't show discount codes to shoppers". If merchants can't deploy discount codes, shoppers can't use them, so perhaps we're splitting hairs. :-)

[2018-05-23 23:26] marcoscaceres commented on #687
Closing based on https://github.com/w3c/payment-request/issues/687#issuecomment-370003371

[2018-05-23 23:26] #687 closed, assigned to ianbjacobs

[2018-05-23 23:32] marcoscaceres commented on #539
Better to do on MDN if the need arises.

[2018-05-23 23:32] #539 closed, assigned to nobody

[2018-05-23 23:41] marcoscaceres commented on #653
Noting this comment here: https://github.com/braintree/braintree-web/issues/357#issuecomment-388411202

[2018-05-23 23:48] marcoscaceres commented on #632
Closing as there are no actionable items.

[2018-05-23 23:48] #632 closed, assigned to nobody

[2018-05-23 23:53] marcoscaceres commented on #681
Closing as my question was answered.

[2018-05-23 23:53] #681 closed, assigned to nobody

[2018-05-24 03:19] cyberphone commented on #714
You may now try it.  It takes seconds.
https://mobilepki.org/jws-jcs/home

[2018-05-24 11:20] adrianhopebailie commented on #714
@marcoscaceres and @stpeter, the issue raised by @cyberphone is entirely valid and a major reason why JOSE sucks as much as it does for signatures (the signature is applied to base64 encoded data which must be decoded and compared to any clear JSON to ensure they are actually the same data).

It has been the source of major vulnerabilities in JOSE signatures and also part of the reason so many peo

[2018-05-24 17:30] stpeter commented on #714
@adrianhopebailie wrote:

Citation needed. As I understand it, the major vulnerabilities have been related to key handling.

Some of these matters are more carefully specified in the COSE (not JOSE) standard, so we might want to look at that for tokenization and encryption. See you over there. :-)

[2018-05-24 19:39] adrianhopebailie commented on #714
https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

The issues with JWS are that you can:
  1. Send a header that specifies the "none" algorithm be used
  2. Send a header that specifies the "HS256" algorithm when the application normally signs messages with an RSA public key. (i.e. Use the public key as a secret)

Further, as I understand it, the issue with the Base64 en

[2018-05-31 15:13] ianbjacobs commented on #145
Hi all, we discussed at the WPWG teleconference today:
 https://www.w3.org/2018/05/31-wpwg-minutes#item01

The sentiment on the call was:
 * Let's get more data from experiments about user experience
 * For now, favor completing v1 without explicit discount code support, but come back to it as it is an important topic.

Ian

[2018-06-06 01:15] #647 closed, assigned to marcoscaceres

[2018-06-12 13:28] marcoscaceres commented on #27
@ianbjacobs, still somewhat unsure what to do here?

[2018-06-12 13:32] marcoscaceres commented on #470
Closing this, as I think we can easily add it when we actually need it (i.e., once we pivot back to payment handler and work out exactly, if anything, we need).

[2018-06-12 13:32] #470 closed, assigned to adrianba

[2018-06-12 13:59] ianbjacobs commented on #27
Do browser implementers think this is an easy change? If so, please let us know the time frame for making the change.

If not, then I propose we finalize the current specifications then make this a priority topic for the next iteration.

[2018-06-12 14:03] marcoscaceres commented on #27
The spec/API changes are fairly trivial, but the UI side... not so much.

We hope to have it in Firefox in mid 2019.

[2018-06-12 14:06] ianbjacobs commented on #27
@zkoch, @adrianba, @romandev, @aestes what are your thoughts on this?
Thank you,

Ian

[2018-06-12 14:07] marcoscaceres commented on #27
Ignore my comment above. I was looking at the wrong bug! We don't have any plans to do anything here (as I'm still unsure what to do).

Update: deleted my comment, to avoid confusion!

[2018-06-12 14:59] Krystosterone commented on #27
+1 on the importance of this (echoing what @djackso3 and @burdges mentioned) and what @tetsuharu mentioned:

[2018-06-14 14:30] marcoscaceres opened #727 "Signaling payment handler details errors"
For example, the card might have expired. There might be insufficient digits, etc...

[2018-06-14 14:50] marcoscaceres commented on #27
Ok, got it now. I'll draft this up over next few weeks.

[2018-06-14 15:05] tricky456 commented on #27
An BIN look database maybe become viable for browsers to implement if it was also needed for other value added services such as determining if the issuer/ Cardmember supports 3DS. This will create multiple use cases.  Who maintains the bin lookup needs to be resolved (schemes or browsers)

[2018-06-14 15:11] ianbjacobs commented on #727
To say a bit more: suppose the merchant gets back some payment credentials and those credentials don't work for some reason. The merchant might want to prompt the user again, but "minus the unacceptable credentials". Such information would need to be passed to the payment handler as well.

[2018-06-14 15:30] marcoscaceres commented on #727
The model in the spec is “the following things are erroneous: x, y, z.” But not “minus unacceptable”, which seems different to me.

[2018-06-14 15:32] ianbjacobs commented on #727
I think there is a difference between:
 - Please correct this information, and
 - You can't use this, so the browser or payment handler should no longer present it as an option

Ian

[2018-06-14 15:47] marcoscaceres commented on #727
I'm not in favor is this, tbh. Right now, everything maps to input fields.

[2018-06-14 15:52] ianbjacobs commented on #727
We don't have this feature today and that has not been a show-stopper.

[2018-06-14 18:42] ianbjacobs opened #728 "Update state diagram to include retry()"
Hi @marcoscaceres,

Please update state-transitions.svg to include retry().  Thanks!

[2018-06-14 18:42] ianbjacobs commented on #705
See related issue to update the diagram:
 https://github.com/w3c/payment-request/issues/728

[2018-06-14 18:46] marcoscaceres opened #729 "Add generic `error` member for `.retry()`"
when `retry()`ing, it would be nice to just have a generic error string. For example:

[code]

[2018-06-14 21:02] marcoscaceres opened #730 "Always requiring CVV?"
Right now, there is no way for a vendor to not ask for CVV? Sometimes it's not required.

Should we do something there?

[2018-06-14 21:03] marcoscaceres commented on #730
(maybe this is a basic card spec problem)

[2018-06-14 21:10] ianbjacobs commented on #730
This is a general issue first raised by @mattsaxon:
 https://github.com/w3c/payment-request/issues/97

Matt then wrote a proposal:
  https://github.com/w3c/payment-request/pull/114

At some point it was suggested instead to be able (on a per payment method basis) to specify
fields you DO NOT want to get back. The primary use case cited was "I don't want the CVV; I am willing to accept the risk and

[2018-06-14 23:03] marcoscaceres commented on #730
Ah, yeah! thanks for the links.

[2018-06-14 23:03] #730 closed, assigned to nobody

[2018-06-19 17:19] marcoscaceres opened #731 "Do we need "doc is fully active" checks on `response.complete()`?"
@domenic can you sanity check something for me... we don't currently check if document is "fully active" on `response.complete()`.

But, in theory:

[code]

Similarly:

[code]

[2018-06-19 18:16] marcoscaceres commented on #731
Cleaned up above a little bit.

[2018-06-21 15:55] #662 closed, assigned to marcoscaceres

[2018-06-21 17:04] #728 closed, assigned to marcoscaceres

[2018-06-22 17:27] dtanphat9388 commented on #637
thank @marcoscaceres very much, i were fixed this problem

[2018-06-22 19:37] marcoscaceres opened #735 "Follow up on APA Comments on Web Payments FPWDs"
https://lists.w3.org/Archives/Public/public-apa/2016Aug/0086.html

[2018-06-22 19:41] ianbjacobs commented on #735
Hi Marcos,

Please see issue #450 (now closed).

Ian

[2018-06-22 19:44] marcoscaceres commented on #735
ah, I'm just on the phone with Janina Sajka, and we never emailed them back with #450 and that discussion.

[2018-06-25 18:27] domenic commented on #731
Yeah, good catch.

The first example I understand. The second example seems pretty hard to hit in practice, but probably still worth guarding against.

[2018-06-25 20:38] marcoscaceres opened #736 "Drop `*Error` from error things ... and `payer*`"
See: https://github.com/w3c/payment-request/pull/721#pullrequestreview-131715208

[2018-06-25 20:45] domenic commented on #736
Probably also "payer" from payer things.

[2018-06-25 20:50] marcoscaceres commented on #736
Ah, yeah, those too :) On it!

[2018-06-26 18:56] marcoscaceres opened #737 "Response timeout could leave page/user in confused state."
From [Gecko bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1447773 ), spec says:

Problem is that the you have a race condition:

 1. the promise from `fetch("/make-payment", {body: response.toJSON()})` may take longer to resolve than the payment sheet being presented (e.g., 5 seconds in Browser X).
 1. As the payment sheet is shutting down due to a timeout, `fetch()` promise resolves successfu

[2018-06-26 19:13] marcoscaceres commented on #737
Hacky workaround:

[code]

[2018-06-26 19:14] ianbjacobs commented on #737
A new event seems reasonable.

[2018-06-26 19:31] marcoscaceres commented on #737
More examples and work arounds at:
https://bugzilla.mozilla.org/show_bug.cgi?id=1447773#c13

But a simple event gets us to:

[code]

[2018-06-26 21:11] marcoscaceres commented on #727
Paying for TPAC today...

<img width="576" alt="screenshot 2018-06-26 14 14 33" src="https://user-images.githubusercontent.com/870154/41939460-e23bab6a-7963-11e8-94d2-559242982529.png">

We can't do this today :)

[2018-06-27 18:44] adrianhopebailie commented on #737
Could we allow `complete()` to accept a `Promise`.

The `Promise` returned by `complete()` could resolve/reject based on that Promise (and to the same value).

A developer with long running login that they must perform (even a chain of async calls) can wrap these behind a Promise and pass to `complete()`. If `complete()` is passed a promise it should never timeout.

[2018-06-28 14:46] marcoscaceres commented on #727
This bug should probably move to the basic card spec.

[2018-06-28 23:28] marcoscaceres opened #743 "[NewObject] annotation"
Methods, like .complete(), show(), etc. always return a new object. They should probably be marked as [NewObject].

- [ ]  [Web platform tests](https://github.com/web-platform-tests/wpt/pull/11775/)

[2018-06-28 23:29] marcoscaceres opened #744 "EventTarget is used by never linked to"
Need a `dfn` for EventTarget.

[2018-06-30 16:41] marcoscaceres commented on #727
Moved https://github.com/w3c/payment-method-basic-card/issues/57

[2018-07-03 18:30] #744 closed, assigned to nobody

[2018-07-03 22:50] marcoscaceres commented on #743
Adding tests https://github.com/web-platform-tests/wpt/pull/11775/

[2018-07-04 06:13] marcoscaceres commented on #705
As retry() itself has landed in the spec, I’m inclined to close this. There are a few additional things landing related to retry(), but they have separate issues filed.

[2018-07-04 06:13] #705 closed, assigned to marcoscaceres

[2018-07-06 14:29] marcoscaceres commented on #27
Pull request sent: https://github.com/w3c/payment-request/pull/749

Interested folks - would appreciate your review and comments.

[2018-07-06 14:29] marcoscaceres commented on #27
(note: I'm sending this in two parts... first part just has the event... sending a second PR for the error reporting part)

[2018-07-06 14:41] marcoscaceres commented on #27
Ok, part 2 is up https://github.com/w3c/payment-request/pull/750 🎁🎉

[2018-07-06 16:47] marcoscaceres commented on #675
Merged the ones listed, so closing.

[2018-07-06 16:47] #675 closed, assigned to ianbjacobs

[2018-07-06 18:44] marcoscaceres commented on #646
Takin this one ... basing on https://trac.webkit.org/changeset/226766

[2018-07-06 21:42] marcoscaceres commented on #646
Ok, PR sent #751!

[2018-07-06 22:47] marcoscaceres commented on #727
Reopening, because this still needs infrastructure in this spec.

[2018-07-09 18:21] #736 closed, assigned to marcoscaceres

[2018-07-09 20:25] #743 closed, assigned to marcoscaceres

[2018-07-09 20:45] domenic commented on #27
So I'm reviewing some patches, but then I went over to look at the basic card spec, and see it currently requires a "billingAddress". The only mention I found of basic card in this thread via Ctrl+F was https://github.com/w3c/payment-request/issues/27#issuecomment-337064813.

How is this reconciled? Is "basic card billing address" distinct from "PaymentRequest payer address"? Will UIs have three s

[2018-07-10 02:50] marcoscaceres commented on #27
Apologies, we discussed it on the call and neglected to link to the minutes here (though the minutes also do a poor job reflecting the discussion - as my recollection is having discussed sunsetting Basic Card's `billingAddress`):
https://www.w3.org/2018/06/28-wpwg-minutes#item02

They should be the same.

I would expect not.

Yes, that's the idea - but might be hard. Unfortunately, `billingAddress

[2018-07-10 21:36] marcoscaceres commented on #729
The error would be a custom version of the first line below:

<img width="576" alt="screenshot 2018-06-26 14 14 33" src="https://user-images.githubusercontent.com/870154/42538879-35081dde-8467-11e8-8e47-3cd0446f5f12.png">

[2018-07-11 19:36] marcoscaceres commented on #684
Tl;dr: this is a Payment Handler specific issue.

Looking at the history of this bug, related discussions, etc. This is what needs to happen (I think):

 * The Payment Request spec just gathers Payment Method Modifier tuples and then passes them to the user's selected Payment Handler.
 * Payment Handler (e.g., basic card) then needs to make a decision about how to honor the modifiers. That is, in

[2018-07-11 21:59] stpeter commented on #684
That does seem to be the best we can do. (And it doesn't even address cross-method interactions - save X with Interledger, Y with SEPA, Z with debit - yikes!)

[2018-07-12 21:28] marcoscaceres opened #753 "Modifiers and [[serializedModifierData]] not actually used anywhere."
Following on from #684, there are a bunch of huge issues in the spec relating to modifiers:

 * [[serializedModifierData]] is not actually used anywhere - it's undefined how that data actually gets applied/displayed.
 * [[serializedModifierData]] gathers all the data from EVERY modifier (without matching on PMI!), then passes ALL data to the chosen payment handler - in the spec, there is no way to

[2018-07-12 21:33] marcoscaceres commented on #753
Err... that should have been "serializedModifierData"

[2018-07-12 21:52] domenic commented on #753
FWIW the serialization was evolved from an earlier revision that checked if the objects were "JSON serializable". Assuming that's still a desirable property in the abstract, I remain convinced that serializing and passing to the payment handler spec is the right way to spec that property.

I'm less informed about the general question as to whether modifiers are worth keeping.

[2018-07-12 22:02] marcoscaceres commented on #753
I don't mind so much (specially if a payment handler `JSON.parse()`s on the other end) - but we still have the problem that you get the wrong data. That's fixable by using  `tuple(PMI, serializedData)` - as it's done with `[[serializedMethodData]]`.

But the larger question of conversion kinda remains, as does `[[serializedModifierData]]` not actually being applied.

[2018-07-12 22:11] marcoscaceres commented on #753
I’ll send a patch to address some of the above.

[2018-07-13 00:16] stpeter commented on #753
Receiving a jumble of all the data for all the payment methods is bad enough, but I'd agree that there are even bigger problems with modifiers - I wonder if the feature can even be implemented reliably, let alone interoperably...

[2018-07-13 19:40] marcoscaceres commented on #753
From my testing today, Chrome Desktop does not seem to apply modifiers correctly. It seems to think a debit card is a credit card, and thus the modifiers applies the wrong total.

@zkoch, is this a known issue?

[2018-07-13 19:43] marcoscaceres commented on #753
The test code is here:
https://pastebin.com/Fjn9CK4P

The card I'm using is "debit" (identified as such via BinDB, and on the card itself). But still modified as a credit card.

[2018-07-16 20:51] #731 closed, assigned to marcoscaceres

[2018-07-17 14:56] ianbjacobs commented on #684
I am hearing you say:

 * How duplicates are handled is payment method specific. This implies that third party payment handlers will need access to all of the PMI/data tuples (including duplicates) in order to respond to canMakePayment().
 * Basic Card is expected to define an algorithm for handling duplicates, with a "last one wins"  approach when all modifiers are equivalent.
 * The PR API spec

[2018-07-19 15:35] marcoscaceres opened #757 "Providing an `AbortSignal` instead of calling .abort()"
It would nice, in a future version of the spec, for consistency with new DOM APIs, for promise-returning methods to accept an `AbortSignal`.  We could then deprecate `.abort()` over time.

[2018-07-23 13:50] rsolomakhin commented on #753
Thank you for the pastebin link, @marcoscaceres. Did you add the card through chrome://settings/autofill or through https://payments.google.com? Only the latter has access to BinDB. If you add a card in chrome://settings/autofill, then it's marked as `"unknown"` card type, so it will not match the `["debit"]` filter that you've specified. This is a quirk of Chrome's implementation.

[2018-07-26 13:43] rsolomakhin commented on #27
Do we have any clear ideas on how to reconcile this with 3rd party payment apps?

[2018-07-30 13:17] ianbjacobs commented on #27
Hi @rsolomakhin, good question.

Would this work:

 * The payment handler returns billing address information in the Payment Handler API response.
 * Upon receipt the browser fires "onbillingaddresschange" which enables the merchant to update
   the total. If the payment handler does not return a billing address (e.g., because the payment
   method does not require it, or the transaction does not

[2018-07-30 13:48] rsolomakhin commented on #27
Hi @ianbjacobs,

Thank you for providing some ideas. I'm not 100% clear on the timing of these events as you envision them, so let's chat about this some more the next time we're on a call. Is that OK?

Cheers,
Rouslan

[2018-07-30 13:54] ianbjacobs commented on #27
Yes, let's chat more this week.

Maybe no event is required. Could the merchant use retry() if the billing address affects the total?

Ian

[2018-08-03 18:33] ianbjacobs commented on #27
Hi all,

Here is some additional thinking about billing address and third party payment handlers.

* Due to the nature of some payment methods (e.g., real-time financing, push payments), payment should not happen until after the "definitive" billing address is known to the payment handler.
* Today we do not have a way for the payment handler to tell the merchant "here is the definitive billing add

[2018-08-08 11:20] marcoscaceres commented on #27
I'd like to exhaust @michelle's current proposal, which is #749. Honestly, the above sounds extremely complicated, and would like the various UX teams to explore how it might work best (the requirement is clear: "merchant needs the billing address to calculate, user want to protect their privacy until they hit pay" - let's leave it at that and lets explore how far we get).

[2018-08-08 12:58] ianbjacobs commented on #27
Hi @marcoscaceres,

I think one answer to "how far we can get" is "browser-stored cards." It is not clear to me from #749 how third party payment handlers would work.

Ian

[2018-08-08 13:31] marcoscaceres commented on #27
Ok, but that’s a UX problem no? Or do we expect payment handlers to provide the billing address?

Put differently, we know that we want:

1. Merchants to be able to request the billing address.
2. When the user selects a billing address, the address is sent to the merchant so they can calculate tax.
3. A means to update the total if needed (solved by ev.updateWith(), and retry()).

If the UA exclu

[2018-08-08 14:06] ianbjacobs commented on #27
@marcoscaceres wrote:
 "Or do we expect payment handlers to provide the billing address?"

Yes. My current understanding is that a payment instrument will have a billing address associated with it. For those payment instruments controlled by payment handler, they will therefore "own" the billing address.

@marcoscaceres wrote:
"If the payment handler holds the billing address, then we need to have

[2018-08-09 02:53] marcoscaceres commented on #27
Ok, so, if billing addresses are bound to payment instruments, then `paymentmethodchange` might again be the right fit (as shown by Apple Pay).

Then a redacted address can be sent back with the event's `methodDetails`, allowing `.updateWith()` to be called. Similarly, then `.retry()` can be used when checking the `PaymentResponse`.

We can then work out what each dictionary looks like, but essent

[2018-08-09 14:30] ianbjacobs commented on #27
Hi @marcoscaceres,

I may not have understood your proposal fully. However, if the proposal anticipates that the merchant only receives a billing address after the payment handler has been launched, then I think the proposal will be inadequate for use cases where:

 * Payment happens within the payment handler (e.g., form sof push payment)
 * Agreements between the user and their PSP happen within

[2018-08-10 00:57] marcoscaceres commented on #27
I’m going to defer this for a while until I can educate myself on those kinds of payments.

If there are some good resources on how push payments work, happy to have a read.

If we want to solve for basic-card and other card based payments, happy to continue on this.

[2018-08-10 03:13] ianbjacobs commented on #27
@rsolomakhin and I discussed this further today and I anticipate he will write up something sensible when time permits. At a high level, we discussed this type of flow which is a better experience than the one I had in mind.

 * The user has not yet selected a billing address.
 * The user selects a payment handler.
 * Within the payment handler, the user selects a payment instrument with associate

[2018-08-10 04:07] #729 closed, assigned to marcoscaceres

[2018-08-10 05:32] #727 closed, assigned to marcoscaceres

[2018-08-10 05:54] marcoscaceres opened #758 "bless() is racy with document.body"
I wonder if `bless()` should wait until there is actually a `document.body` (i.e., document.readyState is "compete")? Right now, I'm getting errors because "document.body is null" on tests.

[2018-08-10 16:00] domenic commented on #758
What is `bless()`?

[2018-08-10 22:59] marcoscaceres commented on #758
Oopps, wrong repo

[2018-08-10 22:59] #758 closed, assigned to nobody

[2018-08-13 09:25] adrianhopebailie commented on #27
@marcoscaceres the key difference with push is that by the time the website gets the PaymentResponse the payment is complete.

You could even think of a payment method like PayPal as "push" in some contexts, in that:
the merchant calls PR API -> the user selects PayPal -> the user authorises the payment with PayPal -> the merchant gets back a PaymentResponse

Compared with BasicCard, for example,

[2018-08-13 16:11] adrianhopebailie commented on #758
There should be more API's with a `bless` function!

[2018-08-13 16:15] stpeter commented on #758
stpeter approves of this message :-)

[2018-08-14 03:30] marcoscaceres commented on #27
@ianbjacobs:

I don't understand how this is different from what I had proposed in the pull request? Could you please  comment on the pull request? It seems like a waste of time for @rsolomakhin to have to redo what I already worked on? I don't see anything in your points that my pull request didn't already do.

The only difference from the points above is that there event was sent to the PaymentR

[2018-08-14 03:34] marcoscaceres commented on #27
@adrianhopebailie just to be clear, when I say "I'm still not following :(", I mean I'm unsure what I should change in the pull request that I made to meet the use case. I need direct feedback on the pull request itself.

[2018-08-14 13:38] adrianhopebailie commented on #27
@marcoscaceres I don't think you need to change the PRs but perhaps there is a need to add something that shows how a PaymentHandler may cause the `Payer address changed algorithm` to be invoked (when a user provides a billing address through interaction with the PaymentHandler).

**Q:** Are you suggesting the spec text that describes how a Payment Handler might invoke the `Payer address changed a

[2018-08-14 13:39] adrianhopebailie commented on #757
Can you give an example of where this pattern is being used today?

[2018-08-14 13:49] adrianhopebailie commented on #753
@marcoscaceres the whole purpose of modifiers was to preserve user privacy. It's possible that the feature, as specc'd has gotten very stale, and needs some love but I don't think we want to throw it out entirely.

The alternative is that the merchant must be provided with a lot of the user's data based on interactions the user has with the sheet.

It is difficult to assess the usefulness of modif

[2018-08-14 14:20] adrianhopebailie opened #759 "Drop support for "Push Payments""
That was a bit of a click-bait title, sorry. But, I do think we need to consider this.

Accommodating PaymentHandlers that may have completed the payment before the website receives a `PaymentResponse` is causing a lot of complications and is imposing a lot of constraints on the design. See thread about billing address (#27) as an example.

The concern is this:

1. The website calls `PaymentReques

[2018-08-14 14:22] adrianhopebailie commented on #27
@marcoscaceres @ianbjacobs @rsolomakhin I am throwing this idea in the ring: https://github.com/w3c/payment-request/issues/759

because I think it would make solving this case a LOT easier.

[2018-08-14 15:27] ianbjacobs commented on #27
@adrianhopebailie and @marcoscaceres,

To help discussion around this issue I have started to catalog proposals (that I've heard) for handling push payments:
 https://github.com/w3c/payment-request/wiki/PushPayments

Ian

[2018-08-14 15:44] stpeter commented on #753
@adrianhopebailie Your point about different methods implies that we really need to clean up how modifiers work, because as @marcoscaceres points out "`serializedModifierData` gathers all the data from EVERY modifier" and sends them along as a big blob. We'll need to define things more cleanly so that merchants and users can truly compare costs across methods.

[2018-08-14 15:52] rsolomakhin commented on #27
@marcoscaceres's pull request https://github.com/w3c/payment-request/pull/749 for payer address looks good to me.

My discussion with @ianbjacobs concerned primarily figuring out how to make it work with payment handlers, which we have figured out, I believe, in a way compatible with https://github.com/w3c/payment-request/pull/749.

Payment Handler discussion can get a bit complicated, so it's bet

[2018-08-14 16:44] ianbjacobs commented on #759
Adding this link to help with this discussion:
 https://github.com/w3c/payment-request/wiki/PushPayments

[2018-08-15 01:54] marcoscaceres commented on #759
@adrianhopebailie thanks for the additional clarification. My working assumption had always been that push payments were akin to tokenized payments (your proposal above is what I had in mind!) - I think that was the source of misunderstanding and confusion on my part - particularly because I didn't understand how a payment could be processed without the merchant having agreed that it was ok to pro

[2018-08-15 04:38] marcoscaceres commented on #753
Ok, but the problem remains that we can't distinguish between card types (only networks). So it makes the feature unreliable.

While it protects privacy, it's kinda useless because we can't guarantee that the total shown to the user is the total they will be charged. That seems like a deal breaker to me.

The core of the problem is that BIN databases are quite unreliable (~10% error rate). Our use

[2018-08-15 12:59] adrianhopebailie commented on #753
@marcoscaceres I agree that the core problem is unreliable BIN data.

Unfortunately I don't think merchants will be any better at determining a card type than anyone else. They don't have access to any better data. The reality is that for many years this data has been treated as semi-private by the card networks and there are country-specific lists maintained by payment associations in each countr

[2018-08-15 13:35] ianbjacobs commented on #753
Hi @marcoscaceres and @adrianhopebailie,

I have pinged our card network friends to see what guidance they can provide here.

[2018-08-15 13:47] ianbjacobs commented on #759
Hi @adrianhopebailie,

Of the two proposals, I prefer the proposal where the merchant simply confirms the data before the payment handler initiates payment. That seems simpler to me than the merchant receiving the data, and having to launch a backend process itself, and payment systems having to set up REST services to receive that data, and standardizing the data that they would receive.

[2018-08-15 14:18] marcoscaceres commented on #753
Agree that payment handler enrolment solves for this (Apple Pay does this beautifully, with full bank integration, etc.).

I’ve reached the same conclusion - or we ditch the whole card type thing.

If merchants (or payment processors) really can’t process certain card types, then they do have a way of identifying card types that they cannot process. So, there is clearly some way for merchants to h

[2018-08-15 15:03] adrianhopebailie commented on #753
I suspect that in most cases they only find this out after submitting the payment

[2018-08-15 16:14] rvm4 opened #760 "Should the PaymentRequest ID be passed to canMakePayment?"
While experimenting with payment handlers we have found the desire to do waterfall logging. In the current specification we have no way to correlate canMakePayment with the payment request event. I can see this being valuable data, should it be provided to the payment handler?

[2018-08-15 16:28] ianbjacobs commented on #760
Hi @rvm4, good question.

Right now PH API does not send the paymentRequestID to the payment handler in canMakePayment; see:
 https://w3c.github.io/payment-handler/#oncanmakepayment-attribute

It is sent to the payment handler as part of the PaymentRequestEvent.

I would support sending the id through as well. @rsolomakhin?

Ian

[2018-08-15 18:43] rsolomakhin commented on #760
@rvm4 could you describe waterfall logging and how it would benefit from the payment request identifier in `CanMakePaymentEvent`?

[2018-08-17 18:17] rsolomakhin opened #761 "Proposal to add more details to shopping cart contents and shipping option descriptions"
1. We would like to add ability to specify shopping cart content images in Payment Request.
2. We would like to add ability to specify both the primary and the second label for shipping options. This would allow distinguishing between the shipping speed ("2-day") and the expected delivery date ("Sunday, May 5").

For example:
[code]

cc @fengrui129 @zkoch @DurgaTheHutt

[2018-08-18 16:57] WBGF opened #762 "Merchant yang ditentukan standar alamat pengiriman"
Merchant yang ditentukan standar alamat pengiriman PaymentAddress
Saat ini, algoritma konstruktor ini hanya digunakan secara internal oleh agen pengguna. Ini tidak tersedia untuk skrip. Namun, diskusi sedang dilakukan di kelompok kerja untuk membuat ini menjadi konstruktor publik.

[2018-08-18 17:00] WBGF opened #763 "Merchant yang ditentukan standar alamat pengiriman"
erchant yang menetapkan standar alamat pengiriman PaymentAddress
Saat ini, algoritma konstruktor ini hanya bisa dilakukan internal oleh agen pengguna. Ini tidak tersedia untuk skrip. Namun, diskusi sedang dilakukan di kelompok kerja untuk membuat menjadi konstruktor publik.

[2018-08-18 18:36] #762 closed

[2018-08-18 18:36] #763 closed

[2018-08-20 02:57] marcoscaceres commented on #761
Marking as future feature candidate and as needing discussion. Proposal sounds neat.

[2018-08-21 00:09] rsolomakhin commented on #608
Chrome uses the [libaddressinput](https://github.com/googlei18n/libaddressinput/blob/3cefac503f6321f7f84a790939dc7cb022bce169/cpp/src/language.cc#L58) logic to calculate the `languageTag`. Would you prefer to see pseudocode instead of the code?

[2018-08-21 00:41] marcoscaceres commented on #608
We need something we can abstract in such a way that someone not using libaddressinput could still implement in an interoperable manner.

Is that possible?

[2018-08-21 04:28] rsolomakhin commented on #608
Here's the abstracted algorithm:

1. _Let_ `address` be the given address.
2. _Let_ `addressCountry` be the 2-letter country code of the `address`.
1. _Let_ `countryLanguages` be an unordered set of 2-letter language codes for languages known to be used in the `addressCountry`.
1. _Let_ `defaultCountryLanguage` be the primary country language if known, or the first in alphabetical ordering of `cou

[2018-08-21 04:32] marcoscaceres commented on #608
YAY! thanks @rsolomakhin! I'll draft that up and add those tests.

[2018-08-21 15:28] stpeter commented on #608
LGTM (thanks, Rouslan!) but I'm curious what @aphillips thinks as co-author of BCP 47 and i18n WG chair.

[2018-08-21 16:48] aphillips commented on #608
This seems fairly bizarre (and probably over-complicated) to me. I'm going to make some general comments here, but I need to go look at what you're doing with PaymentAddress.languageCode before proposing alternatives. This smells extremely suspect to me at the outset, though.

General comment: the term "language code" is not specific enough. While it is the name of the final field, the word `code`

[2018-08-21 17:52] rsolomakhin commented on #608
Thank you for the feedback, @aphillips . `userAgentLocale` is the RTE locale. This determines the language of the user agent UI. We are making an assumption that users with "en-US" user agent locale will type addresses using Latin script alphabet most of the time, which is important because some addresses have different formatting rules when a Latin script alphabet is being used. Is there a way to

[2018-08-22 12:02] mountainhippo commented on #753
This feature of filtering on specific card networks and card products is difficult and inconsistently implemented across the industry. As @marcoscaceres has pointed it, the place to solve for it is probably in privileged payment handlers where (in the case of ApplePay, for example) the payment instrument (card number) is being tokenised and in that process, there's a direct channel for that enrolm

[2018-08-23 16:25] stpeter commented on #608
We discussed this on the i18n WG call today:

https://www.w3.org/2018/08/23-i18n-minutes.html

I have an action item to look into this more deeply and provide recommendations.

[2018-08-23 23:41] stpeter commented on #753
We talked about this topic in the working group meeting earlier today. What I heard is that it's really not possible to definitively determine the card type in real time. For instance, for Mastercard the card might be identified as Maestro first, debit second, credit third. The business logic dictates that an application run through those options in that order, where credit is the fallthrough if t

[2018-08-24 02:15] marcoscaceres commented on #753
I agree. If we can't reliably show totals to our end-users, this is not a feature we would feel conformable supporting in Firefox (we will just throw an error if someone passed `data` along for basic-card).

[2018-08-24 17:34] ianbjacobs commented on #753
Per my action item, I reached out to Stripe regarding Basic Card and demand for differential pricing. I heard back "Stripe hasn't had demand for differential pricing between debit/credit cards in Payment Request."

[2018-08-27 02:52] marcoscaceres commented on #753
@ianbjacobs any idea who actually needs this then?

[2018-08-27 10:28] marcoscaceres opened #766 "PaymentDetailsUpdate needs to include payerErrors"
There is bug in the current spec, whereby merchant can't signal payer-related fixes via `updateWith()`:

[code]

Same applies to `paymentMethod` errors.

[2018-08-27 16:57] Krystosterone commented on #753
Reporting in about my action item: https://www.w3.org/Payments/WG/track/actions/103

I'll split this into two sections:

1. Amount management based on card brand / bin / networks, etc...
2. Card brand filtering (not related to modifiers but might serve as context for some)

# Amount management

We have two use cases for charging people on our platform: Shopify charges the Merchant and Merchant cha

[2018-08-28 01:40] marcoscaceres commented on #753
Ok, so it sounds like we could drop card type for Basic Card - but keep network. That seems reasonable.

[2018-08-28 02:35] marcoscaceres opened #767 "Update spec to use "event constructing steps""
Where events are created, we should switch to:
https://dom.spec.whatwg.org/#concept-event-constructor-ext

[2018-08-28 05:58] marcoscaceres commented on #27
So, I'm still worried about the whole billing address being tied to an instrument thing. For instance, I just bought a present for someone, and I obviously don't want to send the recipient the invoice. The website gave me these options:

![screenshot 2018-08-28 15 53 45](https://user-images.githubusercontent.com/870154/44703480-1e6fc000-aadb-11e8-9fcb-fce9e72b86c3.png)

It seems like this is not t

[2018-08-28 05:59] marcoscaceres commented on #27
(I guess the billing address is not used for invoicing but only for verification of the card)

[2018-08-28 14:12] ianbjacobs commented on #753
@rsolomakhin, @zkoch, @adrianba, @rvm4, do you have a preference for:

 - Keeping support for supportedTypes
 - Keeping optional support for supportedTypes. Would it be confusing if some browsers showed
   more or fewer cards?
 - Dropping supportedTypes
 - Other?

Thanks!

[2018-08-28 14:24] rsolomakhin commented on #753
This sounds like a purely product decision, so I will let @zkoch or @DurgaTheHutt to make the call for Chrome.

[2018-08-30 00:22] aestes opened #769 "Section 3.11 (onpaymentmethodchange attribute) mentions the wrong event interface"
Here's what it says:

[code]

I think this should be "... is an EventHandler for a PaymentMethodChangeEvent ...".

[2018-08-30 01:55] #769 closed, assigned to marcoscaceres

[2018-08-30 01:55] marcoscaceres commented on #769
Fixed and republished on TR.

[2018-08-30 03:03] cdumez opened #770 "Can PaymentMethodChangeEventInit really have a required member?"
Can PaymentMethodChangeEventInit really have a required member given that it is optional in the event constructor?

See:
https://w3c.github.io/payment-request/#dom-paymentmethodchangeeventinit
https://w3c.github.io/payment-request/#paymentmethodchangeevent-interface

[2018-08-30 03:05] cdumez commented on #770
The *EventInit parameters are usually optional but AFAIK, none of them currently have required members. PaymentMethodChangeEventInit seems to be the exception.

Can this methodName member be optional?

[2018-08-30 03:05] cdumez commented on #770
@marcoscaceres @aestes

[2018-08-30 03:07] marcoscaceres commented on #770
@domenic, can you provide a bit of IDL guidance here? Do we make `eventInitDict` required or do we give the `methodName` member a default? Or something else entirely?

[2018-08-30 03:10] domenic commented on #770
A default of `""` seems fine.

[2018-08-30 16:18] #646 closed, assigned to marcoscaceres

[2018-09-04 07:40] #770 closed, assigned to nobody

[2018-09-05 10:23] marcoscaceres commented on #560
Being populated manually, so closing :)

[2018-09-05 10:23] #560 closed, assigned to nobody

[2018-09-05 10:29] #697 closed, assigned to nobody

[2018-09-06 15:23] stpeter commented on #608
NOTE: See https://github.com/w3c/payment-request/pull/764 for related discussion (mistakenly posted there instead of here).

[2018-09-07 02:19] marcoscaceres opened #772 "Extract actionable items from Shopify study"
The [Shopify study](https://shopifyengineering.myshopify.com/blogs/engineering/shaping-the-future-of-payments-in-the-browser ) contains at lot of actionable things for V2 (e.g., it's pretty clear we need to solve coupons, better merchant/sheet integration, etc.).

It would be nice to go through the study with a fine-tooth comb and extract whatever actionable items we can. We have some of these alr

[2018-09-07 13:12] ianbjacobs commented on #772
@lyverovski and @Krystosterone, pinging you in case you have a clear picture of issues that you could raise on the spec in light of the experiment.

Regarding usability of the sheet topics, some of those are being addressed (or at least discussed) in the visual identity task force.
 https://github.com/w3c/webpayments/wiki/Web-Payments-API:-Brand-Analysis#useful-notes-on-connections-between-sheet-a

[2018-09-07 15:37] agektmr opened #773 "Make billing address optional"
Looks like appending a billing address to a payment credential is not a common idea all over the world. In Japan we usually do not need one for credit card authorization.
- Some merchants don't want to take additional sensitive data which is not required.
- Credit card data usually don't come with a billing address in many cases (Chrome for example). Adding one is an extra step for easy checkouts.

[2018-09-07 16:18] romandev commented on #773
I'm not sure but the billing address is already optional in spec side.
https://w3c.github.io/payment-method-basic-card/#basiccardresponse-dictionary
Am I missing something?

[2018-09-07 16:37] marcoscaceres commented on #773
Yep, duplicate of https://github.com/w3c/payment-request/pull/749/files

Got you covered, @agektmr. Will land soon!

[2018-09-07 16:37] #773 closed, assigned to nobody

[2018-09-08 13:20] agektmr commented on #773
Glad to learn it's already taken care of. Thanks!

[2018-09-10 13:16] snez commented on #27
Just adding a bit to the discussion - a billing address is really important when trying to perform any type of fraud prevention. When making a payment request, banks will compare the billing address to the real cardholder's address before declining a payment for fraud reasons.

Furthermore, many eCommerce platforms have been designed with a Billing Address as a minimum requirement for placing an o

[2018-09-11 19:04] adimallikarjunareddy opened #774 "Some clarifications with Payment Request API"
We are in the early state of adopting Payment Request API to support payments in the checkout.

Our assumptions or understanding of Payment Request API:

1. Payment Request API is vendor agnostic - this means I should be able to use Google Pay and Apple Pay at the same time on Firefox browser (is that futuristic?)

2. There will be one button that is displayed to the end user and Payment Request A

[2018-09-11 19:27] adimallikarjunareddy commented on #774
Just to add to the existing one I found one more [article](https://medium.com/dev-channel/web-payments-payment-request-api-and-google-pay-a1073e405235) that talks

[2018-09-11 19:29] ianbjacobs commented on #774
Hi @adimallikarjunareddy, thanks for reaching out.

Regarding your assumptions:

1. The API is Vendor agnostic: Agree.

2. One button: Partly agree. Different merchants will have different preferences. Some may show one
or two payment options as branded buttons and then a list of "other" payment options through Payment Request API. Some may put all the payment options behind a single button. Some

[2018-09-11 19:44] rsolomakhin commented on #774
@adimallikarjunareddy wrote:

See https://blog.chromium.org/2018/07/bringing-google-pay-to-paymentrequest.html - "As of version 70, Chrome will no longer return cards stored in a user’s Google Account as part of the basic-card payment method. To continue getting access to cards stored in a user’s Google Account, developers will need to add support for Google Pay. "

To get the best results, your P

[2018-09-11 19:51] asolove-stripe commented on #774
Hi @adimallikarjunareddy, as you point out, the reality of the world today doesn't match all of the long-term goals of Payment Request. There are lots of minor details about the state of different browser implementations, the rules of individual payment methods, etc., which make it _currently_ impossible to ignore the details and just use one Payment Request API call everywhere. But, the group is

[2018-09-11 20:09] adimallikarjunareddy commented on #774
Thanks for the details on what is supported with latest chrome browsers. I slightly disagree on the recommendation that I have to now use extra User agent check to customize the button.

[2018-09-11 20:16] adimallikarjunareddy commented on #774
The problem with this^ is, I end up writing different client-side JS libraries to handle different branded payment methods and we lose the advantage of having Payment Request API that is aiming to unify the payments processing in the browser.  Also, as you may know, that one can instantiate PaymentRequest API object more than once.

One example on why we need minimum information about the payment

[2018-09-11 20:27] adimallikarjunareddy commented on #774
Your response is consistent with how I understood the functionality of Stripe.js through this [demo](https://stripe-payments-demo.appspot.com/).

I completely agree with the fact that this will improve the conversion rate and is one of the reasons why we implement for merchants :)

Yeah I liked this idea of implementation. 💯

Looks like this is the only way to achieve more coverage of all payment

[2018-09-11 20:32] asolove-stripe commented on #774
One final thought: we're definitely always looking for help, and can use a business rather than browser perspective. Not sure if your employer is a w3c member yet, but if you're interested in helping make progress on this situation (or Payment Request-adjacent fun like Secure Customer Authentication requirements for merchants in Europe or tokenized card payments for security), you can could encour

[2018-09-11 21:16] adimallikarjunareddy commented on #774
Thanks to everyone who responded to my queries patiently. I agree with everyone that this proposal is in the early stages of implementation and might change based on the interoperability of browsers in the future.

The key takeaways from this conversation are:

1. While Payment Request API is foolproof to handle all the supported methods, it is good to follow specific vendor implementations to tak

[2018-09-11 21:22] ianbjacobs commented on #774
@rsolomakhin wrote:

 "For the latter case, you can check the user agent string to customize your button appearance accordingly."

I am not convinced browser sniffing is the right approach. Wouldn't canMakePayment() be more useful here?

[2018-09-11 21:28] ianbjacobs opened #775 "Do we need to identify payment method in MerchantValidationEvent?"
Hi all,

@adimallikarjunareddy observed that MerchantValidationEvent does not tell you which payment method is asking for merchant validation. Should the event also support communication of the payment method identifier?

[2018-09-11 21:29] ianbjacobs commented on #774
@adimallikarjunareddy wrote:

"One example on why we need minimum information about the payment method supported on browsers. Apple Pay supports this extra event onmerchantvalidation which provides an URL to validate merchant on the fly. This does not return any merchant Id or any other details about the payment method that is invoking this event. One can say that this is specific to Apple Pay, bu

[2018-09-11 21:33] adimallikarjunareddy commented on #774
because the current implementation of **canMakePayment** responds with boolean value and has no reference to payment method or vendor name.

[2018-09-11 21:38] ianbjacobs commented on #774
Colleagues from Apple pointed me to their post [1] that shows one way to do this (for Apple Pay):

<pre>
if (window.ApplePaySession && ApplePaySession.canMakePayments())
		// Show Apple Pay button.
</pre>

However, this may be a good area of discussion for the Working Group at its October face-to-face meeting.

[1] https://webkit.org/blog/8182/introducing-the-payment-request-api-for-apple-pay/

[2018-09-11 21:47] adimallikarjunareddy commented on #774
Agreed, then we are not using Payment Request API in that case.

[2018-09-11 22:30] aestes commented on #774
I think this is a good point. Seems like we should have a `methodName` attribute on `MerchantValidationEvent`. @marcoscaceres what do you think?

[2018-09-11 23:16] ianbjacobs commented on #774
@aestes, raised as:
 https://github.com/w3c/payment-request/issues/775

[2018-09-11 23:33] aestes commented on #774
WebKit is looking at changing our implementation of canMakePayment() to resolve to true in all the situations where ApplePaySession.canMakePayments() would return true.

We're tracking that with https://webkit.org/b/189529.

[2018-09-12 00:41] ianbjacobs commented on #774
@adimallikarjunareddy wrote:

"the current implementation of canMakePayment responds with boolean value and has no reference to payment method or vendor name."

I think an approach would be to construct a series of PaymentRequest objects, each one accepting a single payment method. Then use canMakePayment().

As I mentioned, I think this is a good topic for the group's upcoming face-to-face meetin

[2018-09-12 00:49] asolove-stripe commented on #774
@ianbjacobs I don't think that will work since browsers rate-limit to prevent one site from making multiple requests with different lists of payment methods to sniff which methods the user has.

In practice, I think it's unavoidable that merchants currently need to know via some method external to the API which methods are possibly supported in one browser if they want to customize the UI.

[2018-09-12 02:08] ianbjacobs commented on #774
@adimallikarjunareddy thanks again for raising these questions. I would appreciate the opportunity to chat further with you if possible; I am at ij@w3.org. Thanks!

[2018-09-12 04:44] agektmr commented on #774
Hi all,
I'm working on developer resources to tell how a merchant can provide best possible payment UX.
Let me explain my hypothetical best practice - "branded button" approach:

Given gaps between maturity of Payment Request API implementation status between browsers and payment app availabilities between platforms, we must say providing multiple payment method through single checkout button is a

[2018-09-12 22:15] ianbjacobs opened #777 "To address branded button issues and improve privacy, add browser support for payment method selection before the sheet"
Hi all,
cc @adimallikarjunareddy

This post is inspired by:
 https://github.com/w3c/payment-request/issues/774

I would like to start discussion around a proposal for adding browser support for payment method selection before the sheet. Perhaps we can discuss at TPAC in October.

It seems to me that canMakePayment() is serving multiple roles. Perhaps we can tease those apart into at least least tw

[2018-09-12 22:16] ianbjacobs commented on #774
Hi @agektmr,

Thank you for the write-up. I have one small suggestion for your table: my understanding is that Mozilla and Samsung intend to support Payment Handler. Maybe there is a way to add that to the table (even if the phrase "coming soon" may not be correct).

For the issues around buttons and PR API, I've raised a new issue (with a proposal):
  https://github.com/w3c/payment-request/issues

[2018-09-12 22:22] asolove-stripe commented on #777
I think this proposal makes a lot of sense at a high level, and also has a lot of fun low-level questions. One in particular: showing logos over third-party content in a not-ugly way requires some kind of standard for what background they get shown on, roughly what size/style of icon is present, etc. This seems like a tricky thing for a spec to handle, but I think in practice merchants would be ve

[2018-09-12 22:39] ianbjacobs commented on #777
Hi @asolove-stripe,

It seems to me that payment method owners own the branding requirements. If automatic selection based on the payment method manifest does not suffice, we could enhance (and complicate) this approach by enabling the merchant to express a preference for size and color, from among the logos authorized by the payment method owner. So the merchant does not provide the logo (which w

[2018-09-13 02:45] agektmr commented on #774
I've written a quick gist of browser compatibility here:
http://bit.ly/IsWebPaymentsReady

[2018-09-13 04:40] #775 closed, assigned to nobody

[2018-09-13 06:02] marcoscaceres commented on #774
@adimallikarjunareddy

In case this was an actual question about Firefox (and not just browsers in general) - and to avoid possible confusion - the answer is **no** for Firefox: We currently don't plan to support  Google Pay and Apple Pay.

[2018-09-13 06:16] marcoscaceres commented on #774
@adimallikarjunareddy, we've added a [`methodName` attribute to `MerchantValidationEvent`](https://w3c.github.io/payment-request/#methodname-attribute-0). It's now in the spec, and looks like everyone is onboard to implement it. Thanks for pointing that out!

[2018-09-13 06:22] marcoscaceres commented on #774
@agektmr I'm worried about having multiple sources of truth about "API readiness". We already have caniuse, the MDN's data, and the (canonical) [implementation report](https://w3c.github.io/test-results/payment-request/all.html).

The implementation report is not great at the moment... but the data from it should be the source of truth, and it represents the most accurate representation of conform

[2018-09-13 12:41] ianbjacobs commented on #774
@adimallikarjunareddy, thanks to your review it seems the browser folks already addressed one of your issues regarding methodName as part of MerchantValidationEvent:
 https://github.com/w3c/payment-request/issues/775

Many thanks @marcoscaceres, @aestes, @domenic, @rsolomakhin, and @romandev!

Ian

[2018-09-13 14:43] dlongley commented on #777
I'm +1 to the group discussing this sort of approach. I recommended some kind of browser-controlled UI components to address this issue and others at TPAC a while back and here as well:

https://github.com/w3c/payment-request/issues/27#issuecomment-218786016

If we have success with this idea, it could also make it easier for sites to customize their checkouts to support more things like discount

[2018-09-14 08:04] marcoscaceres commented on #600
Soooooo.... we (Firefox) are about to land support for [Feature Policy](https://bugzilla.mozilla.org/show_bug.cgi?id=1390801).

As part of that, we support:

 * IDL/JS: `document.policy.allowsFeature('payment')`.
 * `allow` attribute.
 * HTTP header(s?).

@aestes, I see from caniuse.com that Safari supports the `allow` attribute at least.

@rsolomakhin, what's the status on the Chrome side?  I kno

[2018-09-14 08:23] marcoscaceres commented on #600
So, for integration, all we do is add:
https://github.com/WICG/feature-policy/blob/master/features.md#payment

To our spec. Imma cc'ing @clelland in case I missed something and for any additional guidance.

[2018-09-14 14:32] rsolomakhin commented on #600
I believe it's fully implemented in Chrome, but I've pinged the code owner to provide a more nuanced and accurate answer as well.

[2018-09-14 14:50] rsolomakhin commented on #600
cc @loonybear

[2018-09-14 15:24] loonybear commented on #600
Re what's the status on the Chrome side?

- [Feature-Policy HTTP Header Field](https://wicg.github.io/feature-policy/#feature-policy-http-header-field)
    + Note: there was a discussion about change "Feature-Policy" to "Allow" at one point but AFAIK, there weren't any action upon that.
- [iframe allow attribute ](https://wicg.github.io/feature-policy/#iframe-allow-attribute)
- [JS introspection](

[2018-09-14 18:07] clelland commented on #600
@marcoscaceres, that sounds about right; the JS is a bit more complex than that[1], but the details are in the [spec](https://wicg.github.io/feature-policy/#introspection).

The only other piece I can think of that's specifically relevant for payment request is supporting *both* feature policy and the original `<iframe allowpaymentrequest>` mechanism. There is some text in [HTML](https://html.spec

[2018-09-14 18:09] clelland commented on #600
Re https://github.com/w3c/payment-request/issues/600#issuecomment-421393998,

I realized that we can't rename the header field to `Allow`, since that's [already a thing](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.7).

[2018-09-17 07:33] marcoscaceres commented on #600
@clelland, thanks! Ok, so it looks like all we would need is a non-normative section in Payment Request pointing to those sections of Feature Policy.

I think there might even be WPTests already for testing that FP and `allowpaymentrequest` work correctly, so we might be all good.

[2018-09-17 07:35] marcoscaceres commented on #600
Marking this as Editorial, and setting it as CR exit target - as I think it might be nice to ship with this in V1. There won't be a normative dependency on FP, but if other vendors implement FP, they get the right behavior 🤘

[2018-09-17 17:27] Krystosterone commented on #777
As a broad question, would this also break the behaviour of apps / channels creating a StorefrontAccessToken through: https://help.shopify.com/en/api/reference/access/storefrontaccesstoken, and then trying to access Checkout with it? Or would we somehow find a way of only blocking the token that we expose on the storefront?

[2018-09-17 17:34] Krystosterone commented on #777
Sorry for the spam, I erroneously pasted a response in the wrong github thread. I do have some thoughts on this that I'll share with the group shortly.

[2018-09-18 04:26] Siddeshwaraswamy opened #778 "Not able to add shipping options dynamically for apple pay"
### Update - Apple has [fixed](https://bugs.webkit.org/show_bug.cgi?id=190560) this and will be in next Safari release. It's fixed in Safari Tech Preview.

I am having issue in adding shipping options dynamically based on shipping address entered. Below is my test code.

[code]

when the callback **onshippingaddresschange** gets called, payment sheet gets updated only for **sub-total**, **shipping

[2018-09-18 04:29] marcoscaceres commented on #778
@aestes, this looks like it might be an Apple Pay bug? I can't see anything wrong with the code.

[2018-09-18 04:36] Siddeshwaraswamy commented on #778
@marcoscaceres Initially I saw this issue in `Safari 11.2`, latter thought it could be an issue with that particular safari version so upgraded to `Safari 12.0`. But even in `Safari 12.0` I see this issue happening.

[2018-09-18 04:55] marcoscaceres commented on #778
Ok, can you try it with Chrome using "basic-card"?

[2018-09-18 13:55] Siddeshwaraswamy commented on #778
@marcoscaceres Thanks for the suggestion. I updated my paymentMethod to include basic card as below.

[code]
when I tested this in chrome, I am able to see **shipping options** when I choose the address. So it works as expected in chrome for me.

[2018-09-18 14:06] marcoscaceres commented on #778
Ok, thanks for confirming. @Siddeshwaraswamy, unfortunately, it's outside the scope of our work to deal with browser specific bugs. I'd suggest filing a bug with Apple here:

https://developer.apple.com/bug-reporting/

You can report the bug number here, and we can ask @aestes to look at it; as he is doing the implementation work in WebKit. I'm sure he would be happy to help and get it fixed for y

[2018-09-18 14:06] #778 closed, assigned to nobody

[2018-09-18 14:34] Siddeshwaraswamy commented on #778
@marcoscaceres Thanks.

@aestes Created bug [44559075](https://bugreport.apple.com/web/?problemID=44559075). Please take a look at it.
Please let us know if there is any workaround to solve this issue so that we move ahead with our development plan.

[2018-09-19 09:03] #766 closed, assigned to nobody

[2018-09-21 10:16] veikkoeeva commented on #699
I second to this. I want to add in the Nordics there's a "e-receipt" as a standard description of receipt data (in Finnish only, sorry, I can't find material in English https://teknologiateollisuus.fi/fi/ekuitti-eroon-paperikuiteista). It's being drafter as [MyData](https://mydata2018.org/) standard. In B2B this will have touch points to [XBRL](https://www.xbrl.org/) too and automated tax collecti

[2018-09-21 12:51] ianbjacobs commented on #608
The Chairs have recorded a decision to remove languageCode following a call for consensus:
 https://lists.w3.org/Archives/Public/public-payments-wg/2018Sep/0021.html

[2018-09-21 15:37] ianbjacobs commented on #684
I've raised https://github.com/w3c/payment-method-basic-card/issues/60
so that we can close the current issue more quickly with an informative edit to PR API.

[2018-09-21 15:39] ianbjacobs commented on #753
@marcoscaceres indicated that the current issue has several parts. Some of those parts involve a few PR API issues that can be fixed straightforwardly. We have called out separately [1] the question of whether to drop supportedTypes, which I anticipate we will discuss at TPAC.

[1] https://github.com/w3c/payment-method-basic-card/issues/59

[2018-09-21 16:10] Krystosterone commented on #777
Shopify would very much be interested in discussing such an approach; branded buttons and payment method branding is something we think Web Payments can potentially solve elegantly. It  does comes with some inherently interesting difficulties, mainly UX ones.

Some quick thoughts from a merchant perspective:

  - A single container approach is a good starting point, but comes with an interesting s

[2018-09-21 19:16] Krystosterone commented on #777
In the spirit of getting the ball rolling, I'll drop some ideas that come off the top of my head. These mostly concentrate on allowing the merchant to decide what's the best way to present buttons, all the while trying to protect the buyer's privacy.

### Idea 1

Could we envision a world where `PaymentRequest` gives us back the list of accepted payment methods? (i.e. a more granular `canMakePayme

[2018-09-21 21:10] ianbjacobs commented on #777
@Krystosterone, thanks for sharing these ideas. Of your goals, I like "Help set buyer expectations about their purchase journey?" and "Help adoption of PaymentRequest?" I would reframe "Ensure that payment method branding is well represented upstream?" as "Ensure that PaymentRequest supports the realities of requirements related to payment method branding."

I need to think more about your Idea 2.

[2018-09-25 10:33] giorgionetg commented on #627
Currently Interledger Protocol, that is also a candidate method payment is based on cryptocurrencies... We need to wait w3c decision and regulators I guess...
There are allready example like XRPtipbot and Coil that works with ILP...

[2018-09-26 05:14] marcoscaceres opened #779 "Confirm tests and specs align"
We need to make sure that the tests listed in the spec and the actual tests in the test suite align.

We need:

  1. The list of files in WPT's [payment request](https://github.com/web-platform-tests/wpt/tree/master/payment-request) directory.
  1. To be compared to the "data-test" files listed in [the spec](https://w3c.github.io/payment-request/) ([example](https://github.com/w3c/payment-request/

[2018-09-26 05:19] Sylvia23 commented on #779
Thank you so much @marcoscaceres for writing down this issue. I would love to help with this issue and report back in a while! Thanks!

[2018-09-26 09:16] marcoscaceres opened #780 "Sensible defaults for dictionary members"
As part of https://github.com/heycam/webidl/issues/76, we should give dictionary members that accept other dictionary members a default value. In most cases, we set the default to `null` and IDL conversion treats that as if an empty dictionary was passed "{}".

So, for example:

[code]

Would show up internally as if the following had been passed: `{ payer: {}, shippingAddress: {} }`.

[2018-09-27 06:58] mnoorenberghe opened #782 "Rename `PayerErrorFields` to be like `AddressErrors` and `BasicCardErrors`"
`AddressErrors` and `BasicCardErrors` both end in "Errors" but `PayerErrorFields` doesn't and I also find that name a bit confusing (should it have been `PayerFieldErrors`?). It would be nice to have consistency and rename to `PayerErrors` (or `PayerFieldErrors` if `PayerErrors` is too confusing).

[2018-09-27 07:00] marcoscaceres commented on #782
This is kinda editorial. I don't mind fixing this - though it will mean IDL binding code in each browser will need a little updating.

[2018-09-28 08:50] Sylvia23 opened #785 ""data-test" should be changed to "data-tests" in spec"
There is a bug at some places in the [spec](https://github.com/w3c/payment-request/blob/gh-pages/index.html) where `data-test` should be changed to `data-tests`.

[2018-09-28 09:27] marcoscaceres commented on #785
Fixed via #786

[2018-09-28 09:27] #785 closed, assigned to nobody

[2018-09-28 10:22] Sylvia23 opened #787 "Fix the links to the `data-tests` in the spec"
-The tests that are in the [spec](https://github.com/w3c/payment-request/blob/gh-pages/index.html) but are not present in or are wrongly addressed in the  [payment-request directory](https://github.com/web-platform-tests/wpt/tree/master/payment-request) are:

Line 640:

active-document-cross-origin.https.sub.html
active-document-same-origin.https.html
removing-allowpaymentrequest.https.sub.html
se

[2018-09-28 10:40] Sylvia23 commented on #779
@marcoscaceres The part of the issue - "There are tests in the spec but are not present in or are wrongly addressed in the payment directory" has been fixed with #788 . Please review. Thanks!

[2018-09-28 10:58] #787 closed, assigned to nobody

[2018-09-29 13:35] akansha2608 commented on #782
Hi @marcos-travel @mnoorenberghe , i would like to work on it , can you please assigned this bug to me if its available :)

Thanks

[2018-09-29 15:35] marcoscaceres commented on #782
@akansha2608, happy for you to work on it. It should be as simple as a find and replace. I think we want to go with `PayerErrors`.

[2018-09-30 11:02] marcoscaceres commented on #779
@Sylvia23, great work so far. Could you let us know what’s left to be done?

[2018-09-30 11:13] Sylvia23 commented on #779
Thank you so much @marcoscaceres . Now, we are left with adding the extra test suites that are there in the payment request repository but are missing in our spec. So, we need to add those in the spec. I have again checked the test suites allignment after merging #788 . I found that we can now check the boxes for MerchantValidationEvent/complete-method.https.html , payment-request-abort-method.htt

[2018-09-30 15:04] ianbjacobs commented on #779
@Sylvia23 and @marcoscaceres, thank you very much for work on this!

[2018-10-01 21:16] adrianhopebailie commented on #777
What if we proposed some declarative way of binding a payment request to DOM elements?
Something like:

[code]

Is there a safe way to do this without the user being able to figure out the supported methods? Could the CSS class be applied but not reported?

[2018-10-02 09:00] #782 closed, assigned to nobody

[2018-10-02 15:23] ianbjacobs commented on #777
@adrianhopebailie,

I'm not sure to understand the proposal. Also, it seems to put the control of branding logos into the hands of merchants, so if the browser is automatically to display these things "in a browser-owned window," that would seem to create a security problem as we have heard in the past. (However, I'm not sure that is what you intended.)

Ian

[2018-10-02 15:29] adimallikarjunareddy opened #791 "test suite that checks whether shipping options can be updated"
Which test suite here https://w3c-test.org/payment-request/ checks for updating shipping options when any other events happen?

 Like address change should refresh the available shipping options and rates.

[2018-10-02 22:20] marcoscaceres opened #792 "consider requiring an error (non-empty dict) for .retry()?"
Right now, `.retry()` can accept an empty dictionary, in which case the expectation is that the browser displays a custom error message telling the user to try the payment again.

Should we be more strict about that by requiring that the dictionary have at least one valid error-related member?

@romandev, @rsolomakhin, what does Chrome do with `.retry({/* no dictionary members*/})`?

@aestes, same

[2018-10-02 22:26] marcoscaceres opened #793 "Should we validate nonsense payer error properties?"
If we have a payment request that has option: `{requestPayerEmail: false}`, then what should we do if the merchant asks to correct something that was not requested, like

[code]

Right now, the spec just says to ignore that. Should we maybe throw or just continue to ignore. The above also applies to some cases of `.updateWith()` (e.g., flagging shipping address errors when no shipping address was

[2018-10-03 06:31] marcoscaceres commented on #791
@adimallikarjunareddy, possibly:
https://w3c-test.org/payment-request/algorithms-manual.https.html#shipping-option-changed-algo

[2018-10-03 06:34] marcoscaceres commented on #791
If the test is insufficient, we would be happy to add another... let us know! ... also, the spec links to tests directly ("see the little Tests box in each assertion"). For example:
https://w3c.github.io/payment-request/#onshippingoptionchange-attribute

[2018-10-03 07:09] romandev commented on #793
I thought it would be better to throw an exception to give developers useful information and predictable code but my thought was changed after your comment[1].

I'm not sure but I think it's not different with passing undefined dictionary members.
[code]

[1] https://github.com/w3c/payment-request/pull/768#pullrequestreview-151646708

[2018-10-03 07:15] romandev commented on #792
During code review for `retry()` in Chromium side, there was a similar discussion.
https://chromium-review.googlesource.com/c/chromium/src/+/1144587/8/components/payments/content/payment_request.cc#206

I think we should allow `retry({});`. If there is no valid error-related member, UA can display default value.

[2018-10-03 07:17] marcoscaceres commented on #793
I'm open to revising this assumption, because the merchant might be confused as to why the user is not fixing something the user can't fix (e.g., "fix your email!")... and the user might be wondering why retrying the payment is failing ("I can't fix my email, you dummy! you never asked for it so the browser doesn't let me!").

[2018-10-03 07:27] marcoscaceres commented on #792
I tend to feel the same, but that's my personal position.

@mnoorenberghe from our front end team feels there should be at least one valid (#793) member present.

Would appreciate additional input from other implementers - @zkoch opinions?

[2018-10-03 07:51] mnoorenberghe commented on #792
The UA would only be guessing about what the issue was so wouldn't be able to communicate anything meaningful to the user. The merchant has context to provide the user so that's what they should do. I can't think of a valid reason for a merchant to not provide their own error… it's more likely a bug in their code and so an exception would be more useful IMO.

[2018-10-03 08:10] marcoscaceres commented on #792
I'd like to be careful we don't go too deep here, because a merchant could also screw up and do:

[code]

Which is why I'd still argue that, `{}` === browser saying, "There was an issue processing the error, try again?"

[2018-10-03 13:24] rsolomakhin commented on #792
I prefer to require at least one non-empty error.

[2018-10-03 13:29] rsolomakhin commented on #793
I would prefer that UA either `console.warn()` or throw an exception. A web developer would have a hard time correcting their mistakes if the UA silently ignores them.

[2018-10-03 15:53] marcoscaceres commented on #792
@rsolomakhin, for empty display item `label`, Chrome warns if it's empty but doesn't throw. Maybe we should do the same here?

So, we can require at least one "valid" one. But console.warn if empty... I don't want to get into the game of checking, for instance:

[code]

Alternatively, for all error label types, we trim and check if not empty string. Throw if empty.

[2018-10-03 16:12] rsolomakhin commented on #792
I like the trimming approach and would be OK warning instead of throwing, if you prefer.

[2018-10-03 16:26] marcoscaceres commented on #792
Ok, let's require 1 valid, then trim, and, if empty, throw... it will be useful and "exceptionally fun" 😂👍 (this whole thread was just an excuse to make that joke). I'll send a PR.

[2018-10-03 16:53] aestes commented on #792
In Safari it's ok to have an empty string as the error message, at least for payer errors and address errors. The field itself conveys useful information, and Safari will display a default message. So .retry({ payer: { phone: "" }}) would at least highlight the phone number field in red and display a default error like "Phone Number Invalid."

[2018-10-03 17:19] marcoscaceres commented on #792
Fwiw, the way @aestes describes it is how I envisioned it should work too.

Will discuss internally with our front-end folks and will contemplate a bit more. Keeping compat with Safari seems like a good thing.

[2018-10-03 17:25] rsolomakhin commented on #792
Agreed.

[2018-10-04 04:10] marcoscaceres commented on #792
@mnoorenberghe, does this work for you? We go with the compromise solution of following Safari wrt "", but we validate that members make sense.

[2018-10-04 14:15] mnoorenberghe commented on #792
I don't think that's a great API design as I can see authors doing something like:
[code]
It's also inconsistent with `setCustomValidity` which is a similar API. There "" means "clear the error" which is the opposite of what's being proposed.

This will add more complexity for Firefox because internally we are using `setCustomValidity`.

I guess since we're currently using `DOMString`, authors can

[2018-10-04 18:28] aestes commented on #793
A warning seems good, in particular for shipping address errors. I sorta anticipate confusion around the requirement that merchants must omit all shipping options for address errors to take effect.

[2018-10-05 00:08] adimallikarjunareddy commented on #791
apologies if my question was not elaborate. I was just trying to see if we could have found the issue #778 through the test cases.

[2018-10-09 02:56] marcoscaceres commented on #792
Agree, but it's not uncommon with dictionaries to do:

[code]

Which the IDL layer will treat as "not passed".

Making `null` mean default also feels a bit weird, tbh.

@aestes? (I'm guessing is for consistently error messages that also get localized for free)

I'm happy to concur on this. Worst case, internally, in Firefox:

[code]

[2018-10-09 17:38] aestes commented on #792
In [ApplePayError](https://developer.apple.com/documentation/apple_pay_on_the_web/applepayerror/2970147-applepayerror) the message is optional, and we have localized fallback messages for each combination of errorCode and optional contactField.

The rationale is that most merchants just want to communicate which fields are invalid so that Safari will highlight them; they don't necessarily want to

[2018-10-10 02:45] marcoscaceres commented on #680
Just a heads up that we (Firefox) are considering excluding the `displayItems` from the sheet entirely. We only show the total. We still validate the `details`, per spec... we just don't show them in the sheet anymore (not final design):

<img width="627" alt="screenshot 2018-10-09 17 42 16" src="https://user-images.githubusercontent.com/870154/46710093-2b630000-cc92-11e8-997e-b691738ae200.png">

[2018-10-10 02:45] #680 closed, assigned to nobody

[2018-10-10 13:22] rsolomakhin commented on #680
Thank you for the heads up!

[2018-10-11 15:41] aestes commented on #680
FWIW, Apple's [guidelines](https://developer.apple.com/design/human-interface-guidelines/apple-pay/architecture/payment/) for display items (i.e. line items) say to not "use line items to show an itemized list of products that make up the purchase."

We've been advising merchants to only include additional costs like tax, shipping, and discounts as line items. It sounds like this is different from

[2018-10-12 01:45] marcoscaceres commented on #680
The above is definitely what we have in mind too (we agree with the guidelines). We show the cost of shipping when it's selected, so felt it was redundant to show it twice, like:

<img width="518" alt="screenshot 2018-10-10 18 36 08" src="https://user-images.githubusercontent.com/870154/46842896-013d4980-ce1c-11e8-9003-0f8ce85ed069.png">

So we are hopeful that merchants are showing how tax and/or

[2018-10-16 13:29] adrianhopebailie commented on #777
Could someone explain what these security reasons are? This seems in conflict with allowing the merchant _"some control over the display of information, both due to branding requirements and the merchant's style requirements"_.

The checkout page on the merchant website will never be, or contain, a browser-owned window as this is too easy to spoof. My understanding of the problem we are solving is

[2018-10-16 17:21] ianbjacobs commented on #777
@adrianhopebailie wrote:

"Could someone explain what these security reasons are?"

I have heard that if the merchant can choose an arbitrary image, they could, for example, show a BobPay image but actually code the payment method as evalpay.com via PR API. Therefore, we want to let the browser get the image from the domain of the payment method.

[2018-10-17 00:26] aestes opened #795 "Clarify the behavior of calling PaymentResponse.complete() while [[retryPromise]] is pending"
I'm working on implementing payment retry in WebKit, and I'm seeing an unexpected failure when running retry-method-manual.https.html:

I think I've implemented complete() as-specified, so I'm not sure whether the test is wrong or the spec is.

What's happening in the test is:

- The test calls `response.retry()`.
    - UA sets `response.[[retryPromise]]` to a new promise.
- The test calls `respon

[2018-10-17 00:38] aestes commented on #795
+@marcoscaceres

[2018-10-17 00:48] aestes commented on #795
Thinking about it, it seems like the spec does need changing. The specified behavior allows for a weird situation where the user can accept a payment that the merchant can never properly complete.

If we want calling complete() while a retry promise is pending to be a fatal error, then I think we need to reject the retry promise and close down the UI in addition to setting complete to true.

If we

[2018-10-17 00:52] aestes commented on #795
(I'm partial to it being non-fatal.)

[2018-10-17 01:21] marcoscaceres commented on #795
Thanks for all the details. Let’s fix this up during TPAC.

[2018-10-18 07:46] #780 closed, assigned to marcoscaceres

[2018-10-18 14:31] #608 closed, assigned to marcoscaceres

[2018-10-18 17:51] adrianhopebailie commented on #777
How would this prevent evilpay from simply using BobPay's logo in their manifest?

[2018-10-18 17:53] ianbjacobs commented on #777
I don't think we can prevent collusion except through browser whitelists.
In the case where the payment method owner is legitimate, this prevents abuse on the EvilMerchant side.

[2018-10-22 10:48] aestes opened #796 "Clarify when the user can abort the payment request algorithm"
The [user aborts the payment request algorithm](https://w3c.github.io/payment-request/#user-aborts-the-payment-request-algorithm) says this:

I believe this is because user agents are expected to disable the payment UI while merchants are updating details.

In Apple Pay, we do prevent the user from authorizing payment while the merchant is updating, but we don't completely disable the interface. N

[2018-10-22 16:48] danyao opened #797 "Treat scroll as a user gesture for PaymentRequest.show()"
Today, PaymentRequest.show() does not show the payment method picker UI if all the following are true:
1) Merchant request payment via a URL-based payment method identifier.
2) User has a single payment handler for the payment method.
3) PaymentRequest.show() is triggered by a user gesture, such as a click.
3) Payment handler does not call PaymentRequestEvent.openWindow(url).

This makes it possib

[2018-10-24 08:41] adrianhopebailie opened #798 "Make Basic Card Payment Method Spec an informative reference"
References to Basic Card are only used in examples and notes. Further, the Basic Card spec is a NOTE so can't be a normative reference.

[2018-10-24 08:43] ianbjacobs commented on #798
Yes, please move to informative reference. Thanks!

[2018-10-24 09:57] #798 closed, assigned to nobody

[2018-10-24 09:57] marcoscaceres commented on #798
Fixed 😸

[2018-10-24 10:19] ianbjacobs commented on #798
WOW! marcos++

[2018-10-24 12:41] aestes opened #799 "Consider specifying a testing IDL for a mock payment UI"
WebKit has converted some of the manual payment-request tests into automated tests by creating a mock payment UI in our testing harness that can be scripted from the test. Here's what the IDL looks like right now:

[code]

This is specific to Apple Pay right now, and is missing some stuff, so obviously this wouldn't be used as-is.

But maybe we could specify something like this so that (a) the Web

[2018-10-24 12:44] ianbjacobs commented on #799
cc @sideshowbarker

[2018-10-24 12:44] aestes commented on #799
Marcos pointed me to this: https://marcoscaceres.github.io/payment-method-web-platform-test/

[2018-10-24 12:51] marcoscaceres opened #800 "Meaning of canMakePayment()"
We discovered during testing that each implementation have slightly different definitions of "can make payment". During the F2F, we came to a consensus that "canMakePayment" means "the user agent supports the PMIs" - but it does not mean that there is a payment instrument set up. We concluded that we might add something to check if there is an active instrument in the future. I'll file a different

[2018-10-24 12:58] marcoscaceres opened #801 "Way of detecting if can make payment with some instrument"
Follow up of #800.

We need to add a means to answer "If `canMakePayment` is true, is there a valid credential that could be used to make a payment?"

[2018-10-25 22:48] mnoorenberghe commented on #792
How will other browsers handle the generic error property being empty?
[code]

It seems like it'd be quite hard to provide a generic message in this case as it could apply to the shipping address or payment method.

[2018-10-26 11:36] ianbjacobs commented on #735
@michael-n-cooper, @JaninaSajka,
cc: @plehegar

Chatting with @marcoscaceres here at TPAC we have created a new pull request to address this issue that is both more specific and also accurately reflects implementations. Please review the pull request and let us know whether it satisfies the original APA review goals. Thank you,

https://github.com/w3c/payment-request/pull/802

[2018-11-01 07:33] marcoscaceres opened #804 "retry(errorFields) should be optional"
Small bug that only affects Gecko, I think.

WebIDL says:

Thus, `retry()` should be `retry(optional PaymentValidationErrors errorFields)`.

[2018-11-02 21:41] aestes commented on #800
For reference, WebKit changed its canMakePayment() implementation to match the consensus definition: https://trac.webkit.org/r237594.

[2018-11-05 02:21] #804 closed, assigned to marcoscaceres

[2018-11-06 12:11] marcoscaceres commented on #801
@ianbjacobs, @mountainhippo, @adrianhopebailie, when I filed this at TPAC, I was unclear what kind of urgency there was on this from the WG members and if this should be part of V1. I'm wondering if you could poll the WG to find out? That will really help with planning.

[2018-11-06 22:42] marcoscaceres commented on #797
Could you help us understand a little bit more with what "scroll-to-pay" looks like?

The challenge that we face in browsers is that we rely on HTML's "[triggered by user activation](
https://html.spec.whatwg.org/multipage/interaction.html#triggered-by-user-activation)". The "scroll to pay" case would need to be sufficiently common to warrant having a special code path just to handle this kind of

[2018-11-07 02:45] ianbjacobs commented on #801
Hi @marcoscaceres,
Yes, I'll follow up with the Chairs.

[2018-11-07 17:09] danyao commented on #797
Sure! Imagine if we want to implement a paywall for an article using Payment Handler API. User lands on the article page, sees a paywall overlay with a "Sign in or pay to unlock access" button. When user clicks on the button, the onclick handler creates a `PaymentRequest` and calls `request.show()`. With the right conditions, the payment request can be processed without further actions from the us

[2018-11-07 17:30] ianbjacobs commented on #797
@danyao,

Thank you for the description of the user experience.

I have no particular view on whether the HTML spec should change to allow for scroll events.

However, could you implement the desired behavior by showing the user what amounts to a button (that overlays the content) that says "Scroll to keep reading for $0.50". Pressing the overlay is a click. The click causes the payment, the overl

[2018-11-07 17:55] ianbjacobs commented on #801
Poll sent to WG:
https://lists.w3.org/Archives/Public/public-payments-wg/2018Nov/0018.html

[2018-11-07 18:58] danyao commented on #797
@ianbjacobs Thanks for the idea. Yes it is possible to implement the user experience with an overlay button and a click. I'm hypothesizing that the requirement of such a click may deter users from initiating the transaction due to cognitive cost to evaluate a micropayment. But I do realize a lot of sites already have "Click to Continue Reading" pattern, so maybe my hypothesis is wrong. I'll try to

[2018-11-09 20:29] jenan-stripe commented on #800
+1 for consistency, but I'd be pretty worried if this lands before #801. The major wallet providers have active instrument checks, and if that's not landing soon with PaymentRequest, it's a much less compelling option for merchants.

[2018-11-10 02:29] #800 closed, assigned to nobody

[2018-11-13 15:09] ianbjacobs commented on #799
Hi @aestes,

Did you get the answer to your original question? Are you able to share Webkit tests in the Payment Request test suite?

Ian

[2018-11-13 15:57] rsolomakhin commented on #799
I support this.

[2018-11-14 23:27] #735 closed, assigned to nobody

[2018-11-19 04:38] marcoscaceres commented on #795
I went with the non-fatal option in the PR :) Well spotted, btw!

[2018-11-19 04:52] marcoscaceres commented on #796
I think it should... if it's the reality of how things are implemented.

Chrome allows this... you can hit "esc" at any time I think, including during update and payment "processing". @rsolomakhin can you confirm that this is correct? I just tried in Canary, and that seems to be the case.

Firefox right now doesn't allow the user to abort. The only option is for the user to hit the "Refresh" butto

[2018-11-19 05:00] marcoscaceres commented on #796
Ignore the `completePromise` bit above... that one doesn't matter.

[2018-11-19 05:33] marcoscaceres opened #809 "Rethink "payment request is showing" boolean"
I think we should reconsider how "payment request is showing" boolean works and perhaps leave it to the user agent (or the payment handler, rather).

For example, in Firefox, for "basic-card", there is no real reason why one shouldn't be able to have multiple payment sheets up for different tabs/windows at the same time.

However, for payment handlers like Apple Pay, where authentication is requir

[2018-11-19 07:26] marcoscaceres commented on #796
Ok, just want to clarify something here... as I alluded to above, there are two cases we need to deal with:

 1. `updateWith()` / `retry()` - use same update logic.
 1.  Before `complete()` is called (i.e., "...processing...") stage.

About 2, the spec says (my emphasis):

So, at I mentioned above:

 * Chrome allows the user to abort on 2 by pressing "esc".
 * Firefox does not provide any way to a

[2018-11-19 12:33] ianbjacobs commented on #809
Hi Marcos,

I don't think this should be marked as CR-Exit. Can we revisit this after v1 ships?

Ian

[2018-11-19 13:21] marcoscaceres commented on #809
We can, but I recall this being a thing that we were going to explore explicitly during CR.

If we make the change, I don’t think it should affect our ability to pass CR... but need to check what browsers do.

Firefox probably won’t conform to the spec as currently specified.

[2018-11-19 13:44] rsolomakhin commented on #809
I'm OK with this change.

[2018-11-19 14:00] rsolomakhin commented on #796
Confirmed. This is intended to let the user close the sheet for a website that's taking too long to respond.

[2018-11-19 17:20] adrianhopebailie commented on #809
@marcoscaceres I would suggest we don't make this a CR-Exit issue as it is adding complexity that we haven't really explored and could be bigger than we think.

Example:
 - How does the browser respond if it is mid-flow with a BobPay payment (which declares itself as being a singleton - i.e. mimic the existing spec) and another tab/windows starts a BobPay payment?
 - How does BobPay declare that i

[2018-11-19 17:51] aestes commented on #796
Not sure that retry() needs to be dealt with, actually. Once you retry() the request becomes interactive again, and I think the user abort algorithm already does the right thing in that state.

Here is how I think of these two cases:

1. request.[[updating]] is true
2. request.[[state]] is "closed"

Safari does seem to allow users to cancel during (2). I'll learn more about why this is.

You can g

[2018-11-19 22:16] mnoorenberghe commented on #809
The currently specified behaviour leads to a really bad/confusing experience when comparison shopping so I agree the spec should change. Firefox doesn't plan to require only one active payment request because of the bad UX it would provide so we are wilfully violating the spec currently and because of this I think it should be a CR-exit issue.

That is also bad because it causes dataloss for anyth

[2018-11-19 22:51] ianbjacobs commented on #809
My sense is that we should keep it simple for now. The user opens a sheet and pays. There may be use cases (e.g., comparative shopping) for multiple sheets open, but that seems like something we would learn once the simple version has been more broadly deployed.

Ian

[2018-11-19 23:48] marcoscaceres commented on #809
We still need a boolean that represents “a sheet is already showing on this page or an iframe”, so the change is to just change it from a global check to a local check.

[2018-11-20 00:40] ianbjacobs commented on #809
@marcoscaceres, the spec currently says:

"Because the simultaneous display of multiple PaymentRequest user interfaces might confuse the user, this specification limits the user agent to displaying one at a time via the show() method. This is ensured by a payment request is showing boolean."

Would this change work for you:

 * Change the second sentence to: "This is achieved through one or more b

[2018-11-20 02:59] marcoscaceres commented on #809
@mnoorenberghe wrote:

Potentially, yes. But it's Handler dependent and there are a few guards in place: consider, a web page can't arbitrarily cause another sheet to be closed down without the user explicitly clicking on another pay button.

Also, there is no reason that the payment sheet that is being shut down couldn't keep the data in the sheet in a temporary state (and restore the state if th

[2018-11-20 05:10] marcoscaceres commented on #796
@aestes wrote:

Safari imposes a timeout there too.

Ok, that makes sense. I'll update the spec to:

1. Allow a timeout.
2. Make it clear that the browser may provide a means to abort the payment, even if the pay button and other input fields are disabled.

Ok, would it be possible to report back on 2? If both Chrome and Safari allow it, we might need to revise the spec text (or rephrase this as a

[2018-11-20 06:16] marcoscaceres commented on #796
Sent first part here (handling `updateWith()` via timeout or via "esc" or cancel button): https://github.com/w3c/payment-request/pull/810

We had most of the right bits in place.

[2018-11-20 06:45] domenic commented on #809
Strong +1; we should not rush through process steps while ignoring implementer feedback.

[2018-11-20 07:50] adrianhopebailie commented on #809
Sounds like the consensus is to at least drop the restriction as a CR-Exit requirement, is that correct?

I think we can do that in a way that ensures the complexity of parallel requests is dealt with in PH API spec not PR API. (I.e. the flag is simply per context not global)

@marcoscaceres you said:

This seems like a very surprising user experience, performing an action on one tab having an imp

[2018-11-21 01:29] marcoscaceres commented on #809
@adrianhopebailie wrote:

Yes. So a neat thing about the current design is that it handles not showing multiple payments sheets in a single browser window or tab (I know, that would be really silly and no one would do that... but it's a happy coincidence we have that protection in the spec!).

So, by simply changing "user agent's payment request is showing boolean" to "top-level browsing context's

[2018-11-21 02:29] marcoscaceres commented on #809
Ok, PR #811 ready. I've also amended #810 to say that if the Payment Handler itself does the aborting, then the user agent should treat that as if the user has aborted.

[2018-11-21 18:33] mnoorenberghe commented on #796
Allowing the user to cancel at any time is something I have thought about supporting and makes sense from a UX standpoint. The UA can communicate to the user that the payment is in an unknown state, if they wish.

[2018-11-26 06:18] marcoscaceres opened #813 "Should PaymentMethodData be converted at construction time?"
Related to #753

Given the following:

[code]

Firefox currently throws, because it tries to do the IDL conversion:

Chrome doesn't throw.

Per spec, Chrome is right... but it not doing the conversion seems not great.

[2018-11-26 07:12] marcoscaceres commented on #813
Checked Safari also (using Apple Pay as PMI), it doesn't throw.

@rsolomakhin, @aestes, @zouhir, what are your preferences?

[2018-11-26 14:43] rsolomakhin commented on #813
I'm OK not throwing, but it would be good to print a warning in the developer console. We can put this guidance in the spec.

[2018-11-26 18:49] zouhir commented on #813
I don't have strong opinion/preference on this, we don't throw today but I agree it's not great. Console warning sounds like a good suggestion.

[2018-11-26 21:18] aestes commented on #796
@marcoscaceres wrote:

Yes, will do.

[2018-11-26 22:14] aestes commented on #813
If we convert at construction time and only console.warn(), does that mean we then won't throw at show() time because we've already converted? Demoting an exception to a console warning doesn't seem great to me.

Edit: I guess show() would have to throw _something_ if the conversion failed, because the transaction couldn't proceed otherwise. But without extra effort that exception likely wouldn't

[2018-11-27 01:39] marcoscaceres commented on #813
I agree. Seems kinda pointless to go through the conversion steps, warn, then go through the conversion steps again in .show() to throw. Irrespective that Firefox already throws early, I think it's cleaner just to throw during construction time (and saves doing a conversion twice).

[2018-11-27 03:21] aestes commented on #813
Converting at construction time would also allow for a more direct IDL conversion. Browsers could convert from a JS object directly to a IDL dictionary rather than the current JS object > JSON string > JS object > IDL dictionary conversion algorithm.

[2018-11-27 03:43] marcoscaceres commented on #813
Yes, precisely :) That's ultimately where I'd like to get too. It gets rid of a whole bunch of complexity.

[2018-11-27 04:20] marcoscaceres opened #814 "De-dup "user aborts the payment request" and "abort the update""
Domenic wrote:

We should investigate if it's possible to de-dupe them.

[2018-11-27 06:15] marcoscaceres commented on #797
As there is no further action we can take here, I'm closing. Thanks for your input @danyao!

[2018-11-27 06:15] #797 closed, assigned to nobody

[2018-11-27 06:16] marcoscaceres commented on #796
Firefox bug allowing canceling while waiting for complete:
https://bugzilla.mozilla.org/show_bug.cgi?id=1510019

[2018-11-27 15:09] rsolomakhin commented on #813
If `show()` will throw anyway, then might as well throw at construction time.

[2018-11-27 20:58] ianbjacobs opened #815 "Include payment handler information in response"
We have heard use cases for merchants having information about the user's selected payment handler for a transaction, including:

 * Being able to debug issues
 * Security  / Trust in some payment handlers

This is most useful for standardized payment methods but may also be useful for URI-identified payment methods that allow for multiple payment handlers.

The original payment handler issue is 2

[2018-11-27 21:18] rsolomakhin commented on #815
Can we reuse the field names `"platform"` and `"id"` from [`ExternalApplicationResource`](https://w3c.github.io/manifest/#dom-externalapplicationresource) dictionary? Chrome already parses it in web app manifests to authenticate native Android payment apps.

Android:
[code]

Web:
[code]

Built-in:
[code]

[2018-11-28 02:38] marcoscaceres commented on #813
Ok, will move the conversion logic from show to the constructor. That makes much more sense.

[2018-11-28 22:27] marcoscaceres commented on #27
Closed by merging https://github.com/w3c/payment-request/issues/27

[2018-11-28 22:27] #27 closed, assigned to marcoscaceres

[2018-11-28 22:37] marcoscaceres commented on #792
@mnoorenberghe maybe we should leave this behaviour  (`error: ""`) to implementations, and show a console warning?

[2018-11-29 09:09] marcoscaceres opened #816 "Should we put `regionCode` attribute at risk?"
In #690 we added `regionCode`...

@aestes, @rsolomakhin, @zouhir, looks Chrome, Safari, and Edge don't expose the `regionCode` attribute. In Firefox, we implement it (just the IDL), but haven't mapped it to actual ISO3166-2 regions in the UI... thus, it just always returns `""`.

For the purpose of CR, should we keep it in the spec or move it out?... or do any of you plan to implement it too somet

[2018-11-29 15:10] rsolomakhin commented on #816
We **will** expose it in Chrome, just have not gotten to it yet. We have the internal plumbging all set for this.

[2018-11-29 18:53] mnoorenberghe commented on #816
We also will expose it in Firefox. We're working on a dependency of that right now.

[2018-11-29 22:28] marcoscaceres commented on #816
Ah, excellent. Thank you both!

[2018-12-02 02:57] #793 closed, assigned to nobody

[2018-12-03 22:50] #795 closed, assigned to marcoscaceres

[2018-12-06 08:34] adrianhopebailie opened #817 "Extensibility of PaymentResponse.complete(result)"
In his analysis of SRC, @mountainhippo identified the need to have a post-authorization step where the merchant/website notifies the payment handler of the result of the payment.

I believe that this is roughly why we have `PaymentResult.complete(result)` driven by a similar requirement from Apple Pay (@aestes can confirm).

My question is, how extensible can we make the `result` argument so we ca

[2018-12-09 22:21] rsolomakhin commented on #817
Thank you for writing this up, @adrianhopebailie ! I agree that "complete data" should be defined in the payent method. For the sake of feature detection, may I also suggest to use a different name for the method that sends over an object instead of enum? I believe the method name `confirm(result)` has been mentioned.

[2018-12-10 12:11] kennanseno opened #819 "Support for language the form is served"
We've just implemented multi-language support in our web application and wondering if there's anyway to configure what language the payment-request form is served. I haven't dig through the docs  but I'm assuming it's tied to the language that's set in the browser?

Here's a use case to help:
We've a customer in Italy that is browsing our store web application in Italian language and buys a produc

[2018-12-10 14:12] ianbjacobs commented on #819
Hi @kennanseno,

Right now the specification says in section 3.3 show():

 "The user agent SHOULD prioritize the preference of the user when presenting payment methods. It is RECOMMENDED that the language of the user interface match the language of the body element. "

Thus, if you are serving a page in Italian, the recommendation is that the UX match.

@marcoscaceres, @aestes, @rsolomakhin can yo

[2018-12-10 14:18] cyberphone commented on #819
This is not a great idea.  For Web-only applications there is no problem to solve and for native payment applications the platform's locale is the best (only) guide.

[2018-12-10 15:31] rsolomakhin commented on #819
The Chrome payment sheet uses the language of the browser, which defaults to the language of the operating system. Making the sheet follow the language of the web page is a possibility, but is low priority for us.