[2018-12-10 18:49] marcoscaceres commented on #819
Same, low priority for Firefox right now. We need to see how much demand there will be for this.

[2018-12-13 16:24] rsolomakhin opened #820 "Clarification question for `show()` algorithm"
**TL;DR:** Can `show()` be called on the same instance of `PaymentRequest` multiple times?

The `show()` algorithm includes the following steps:

It looks like `show()` can be rejected without altering the *request*.[[state]], so the merchant can call `show()` on the same instance of `PaymentRequest`. Is this the only edge case where `show()` does not change state? Or am I reading the spec wrong?

[2018-12-19 19:19] mnoorenberghe commented on #792
Maybe… we should at least fix `retry()` and `retry({})` if possible though maybe the latter gets handled as `error: ""`?

[2019-01-04 15:42] cyberphone commented on #714
With the new work item https://www.w3.org/securepay/charter.html the W3C will probably return to this issue

[2019-01-08 00:51] marcoscaceres commented on #816
Reopening, as Firefox remains the only browser supporting this (and support is limited to just returning the empty string... which is admittedly kinda useless).

Fellow implementers, what say you? Are implementation plans still realistic to include `regionCode` in v1?

[2019-01-08 13:57] ianbjacobs commented on #816
@aestes, @rsolomakhin, @zouhir I welcome your input on this question. Thank you!

[2019-01-10 03:51] marcoscaceres commented on #796
@aestes, was hoping to hear back about being able to cancel which waiting for complete.

[2019-01-10 08:09] #796 closed, assigned to marcoscaceres

[2019-01-10 08:48] marcoscaceres commented on #820
So, yes:

 * Step 6 prevents "recycling" a payment request.
 * But, step 7 does leave the request in a "created" state.

I don't think that's a bug... it's an oddity, for sure... but I don't think it's terrible.

I'll check what Firefox does...

[2019-01-10 09:31] marcoscaceres commented on #820
Ok, made a fiddle:  https://jsfiddle.net/cuz5mt6h/11/

* Chrome "InvalidStateError"
* Firefox "InvalidStateError".

Ok, so, in step 7, we should set the state to "closed".

@aestes, is that ok?

[2019-01-11 02:23] marcoscaceres commented on #820
Ok, made a test page for Safari:

https://fiddle.jshell.net/cuz5mt6h/11/show/

Safari follows the spec (it `show()`s the second request, even after aborting the first `.show()`). I don't have a strong opinion - so if @aestes is ok with us changing step 7 above to "close" the state (and there is no valid use case for it), then that's fine.

I'll draft a PR in the meantime, as it's really simple to

[2019-01-14 11:21] marcoscaceres commented on #819
Closing, as question was answered. I will update this bug if implementations change.

[2019-01-14 11:21] #819 closed, assigned to nobody

[2019-01-14 11:23] marcoscaceres commented on #779
Closing as done. Thanks again, @Sylvia23.

[2019-01-14 11:23] #779 closed, assigned to nobody

[2019-01-15 05:29] marcoscaceres commented on #816
just in case... https://github.com/w3c/payment-request/pull/823 ... let me know, as we will need to update WPT, and a bunch of docs.

[2019-01-15 16:46] rsolomakhin commented on #816
We will implement this eventually. Hard to say the timeline.

[2019-01-15 18:41] zouhir commented on #816
`Re: should we keep it in the spec or move it out?`
I would suspect some risk systems would be using an address with the `regionCode` as a vector in evaluating the trustworthiness of a transaction - if that's true or we have any data on that then I'd say we should keep it.

`Are implementation plans still realistic to include regionCode in v1?`
I unfortunatly can't comment on that yet.

[2019-01-16 02:36] marcoscaceres commented on #816
Ok, it sounds like we should move it out and bring it back after we go to Proposed REC. @ianbjacobs should we start a CFC?

[2019-01-16 07:08] #809 closed, assigned to marcoscaceres

[2019-01-16 07:29] marcoscaceres commented on #698
Rereading the thread, it seems this will be handled by generically by the Feature Policy spec. I'm going to close this out via: https://github.com/w3c/payment-request/pull/822

[2019-01-16 08:00] marcoscaceres commented on #792
Sent PR based on discussion above: https://github.com/w3c/payment-request/pull/825 - should match Safari's behavior now, but need to test it.

[2019-01-16 08:21] marcoscaceres commented on #774
I believe all actionable things from this discussion were completed, so closing.

[2019-01-16 08:21] #774 closed, assigned to nobody

[2019-01-16 08:25] marcoscaceres commented on #791
Moved to WPT - https://github.com/web-platform-tests/wpt/issues/14883

[2019-01-16 08:25] #791 closed, assigned to nobody

[2019-01-16 16:17] ianbjacobs commented on #816
@marcoscaceres, I will work with the co-Chairs on the CFC. Thank you.

[2019-01-17 04:34] #820 closed, assigned to nobody

[2019-01-17 04:37] #792 closed, assigned to marcoscaceres

[2019-01-18 05:29] marcoscaceres commented on #817
@adrianhopebailie, to keep things backwards compatible, we could add a second argument.

[code]

That would keep things backwards compatible, but allow supporting new payment types.

WDYT? Would that work?

[2019-01-18 05:33] marcoscaceres commented on #817
The underly question here is if `PaymentComplete` enum values apply to all transactions and it that needs to be extended beyond the three current values? We could expand `PaymentComplete` with additional things, and it would also be backwards compatible for all current payment methods... engines supporting newer payment methods would then also know about anything we would add to `PaymentComplete`

[2019-01-18 11:15] adrianhopebailie commented on #817
@rsolomakhin said:

I worry that makes the API for a developer a little confusing. i.e. When do I call complete and when do I call confirm? That said, I'm not sure how else you could provide a feature detectable difference.

@marcoscaceres said:

I think my proposal is already backwards compatible (at least from the perspective of a developer using the API). I've proposed changing the type of the

[2019-01-18 21:25] marcoscaceres commented on #817
Unfortunately, no. It would break :( For enums, IDL binding layer just converts whatever you pass into it into a string, so passing an object would become `"[object Object]"` (which would then throw an error, because it's not a known `PaymentComplete` enum value in a "v1" user agent).

Alternative might be to do `(PaymentComplete or Object)` (I've not checked if that's allowed in WebIDL). If it wo

[2019-01-22 00:55] marcoscaceres commented on #817
@mountainhippo would be great to hear more about the requirements around what needs to be passed.

@adrianhopebailie wrote:

I'm mindful that we might not be able to model everything that is needed - but using the `object` IDL type is something our security folks really frown on: even with the JSON serializable check, it still means we need to do extra security checks and data cloning to work with

[2019-01-24 18:08] adrianhopebailie commented on #817
Ah, makes sense.

This seems like a good direction.

The reason I think we have to use the JSON serialisable object is for the same reasons `PaymentMethodData.data` in the request is an `object`. This could take any form, based on the payment method.

On the plus side, it's possible for browsers to enforce validation for known payment methods (like `basic-card`) where there is an IDL definition of

[2019-01-24 20:45] #816 closed, assigned to nobody

[2019-01-24 22:49] marcoscaceres commented on #817
Would be nice. The challenge is that browser today can only use IDL statically: we literally take IDL as text input, run it through a Python-based processor, and spit out C++... which is then compiled into the browser itself (i.e., no way of doing some kind of JIT compilation today).

So, before we start going too deep into technical solution, I think we should be clear about we might need to supp

[2019-01-25 20:45] ianbjacobs commented on #817
Let's leave this issue open for now. I expect we will make progress on an SRC payment method in the first quarter of this year, and then we will know if we need any changes for at least that payment method.

[2019-01-29 01:27] #600 closed, assigned to nobody

[2019-01-29 01:27] #698 closed, assigned to nobody

[2019-01-30 16:39] danyao opened #830 "Spec hasEnrolledInstrument"
I started implementing `hasEnrolledInstrument` in Chrome according to the WG agreement [1]. It will be great if this API and the change to `canMakePayment` can be added to the spec language. I'd like to kick off an Intent to Ship thread in blink-dev@ soon as an official announcement of the `canMakePayment` behavior change to web developers.

[1] https://lists.w3.org/Archives/Public/public-payments

[2019-01-31 01:43] marcoscaceres commented on #830
@danyao, definitely would like to get onto this, but we have a couple of constraints on us at the moment. Rest easy that none of the constraints prevents us from spec'ing this out! - just want to be clear on how we are going to do this:

 1. We can spin up a new branch for "hasEnrolledInstrument", and start adding the spec text into that. That should give you something to point to in your intent t

[2019-01-31 02:37] #684 closed, assigned to marcoscaceres

[2019-01-31 02:37] #753 closed, assigned to marcoscaceres

[2019-01-31 04:36] marcoscaceres commented on #757
Primarily `fetch()` - some details:
https://developers.google.com/web/updates/2017/09/abortable-fetch

[2019-01-31 14:51] rsolomakhin commented on #830
@marcoscaceres  wrote:

What specifically is needed from us?

[2019-01-31 17:51] ianbjacobs commented on #830
Hi @rsolomakhin and @danyao (and @aestes and @zouhir),

Here is the implementation report for PR API v1:
 https://w3c.github.io/test-results/payment-request/all.html

(Whoops, hit enter too soon)

Here is the report that shows tests where we have fewer than 2 passing implementations:
 https://w3c.github.io/test-results/payment-request/less-than-2.html

There are some tests that may be going away (

[2019-02-02 01:29] #813 closed, assigned to nobody

[2019-02-02 04:54] johnmbokin opened #831 "Receive payment api"
receive payment api isn't working why? Showing error site is down.  I am seeing this error while checking gap limit of xpub.

[2019-02-02 04:59] marcoscaceres commented on #831
Hi @johnmbokin, this repository for a specification and not a website or any particular software. If you are experiencing issues with a website or a browser, please contact those parties instead.

[2019-02-02 04:59] #831 closed, assigned to nobody

[2019-02-02 05:11] johnmbokin commented on #831
The Blockchain Receive Payments API is not creating a new btc address and i am not able to see my gap limit ?

[2019-02-04 19:41] danyao commented on #830
Sounds like a good plan!

https://crbug.com/915907 tracks Blink's implementation of `hasEnrolledInstrument`. I just landed the last CL today, so it'll be available in tomorrow's canary build behind the `--enable-features=PaymentRequestHasEnrolledInstrument` flag. I'll look into adding some Web Platform Tests.

[2019-02-04 23:00] danyao commented on #799
I started looking at how we might implement such a test API in Chrome. The main thing I'd like is a way for tests to inject a payment instrument (e.g. credit card or payment app). We currently have some test hooks that can directly manipulate the database in the browser process [1]. To make this available to WPT, we'd need to expose corresponding JavaScript bindings. This raises two issues:

1. In

[2019-02-05 03:39] marcoscaceres commented on #830
Thanks for the update @danyao! Do you want to have first go at spec'ing it out? I was thinking we could abstract out `canMakePayment()`'s steps into its own independent algorithm, and them just add a "checkForInstruments" boolean as an argument.

WDYT?

[2019-02-05 03:44] marcoscaceres commented on #799
Related discussion https://github.com/w3c/payment-method-basic-card/issues/41

[2019-02-05 16:25] danyao commented on #830
Sounds good. I'll take a stab at it.

On Mon, Feb 4, 2019 at 10:39 PM Marcos Cáceres <notifications@github.com>
wrote:

[2019-02-12 10:09] foolip commented on #799
@danyao can you describe the minimal required API to make this work? Would it suffice to just instruct the browser to provide mock UI-free payment methods? Would there have to be a callback to the test code when the payment instrument has been used, or could tests just try to make a payment and then look at the result?

I think there are similarities with https://github.com/web-platform-tests/wpt/

[2019-02-14 10:00] mattsaxonwp opened #834 "Change of approach for gesture to invoke Payment Sheet"
Following to Shopify presentation of the difficulties with cart abandonment, I've considered an alternative user experience flow which instead of putting to paymentrequest.show() behind a button gesture, instead swaps this for a different gesture, allowing the existing "press button and traditional forms appears" to remain and therefore perhaps aide in transitional abandonment.

I'm not actually c

[2019-02-18 04:31] marcoscaceres commented on #834
@mattsaxon, your proposal is interesting (kind of "ambient badging" for payments 🤔), but IMO it falls outside the scope of the spec because it deals specifically with UI/UX issues.

I absolutely agree that there needs to be significant work on the part of browser UI/UX teams to make presenting the payment sheet experience much less jarring (we found the same thing at Mozilla in our own testing in

[2019-02-18 05:39] marcoscaceres commented on #834
Inlined the proposal above, so it's easier to review and discuss.

[2019-02-18 13:58] mattsaxonwp commented on #834
Thanks @marcoscaceres. I agree that the full details of my proposal are beyond the spec, but I think there are a few items in the spec that could do with amending to allow this sort of approach. For example the spec current states;

With the approach I outline, I don't think the restriction in the specification needs to apply. I think this restriction was inserted on the basis that the interaction

[2019-02-18 14:22] marcoscaceres commented on #834
Agree, and you’ll be happy to hear the soon to be published new CR version does allow multiple tabs/windows to show payment requests at the same time.

Kinda, yes. But it’s similar to a file picker. The spec doesn’t enforce presentation, however.

[2019-02-18 14:26] mattsaxonwp commented on #834
OK, if you are saying you think the spec is suitable for such an implementation as I suggest (or will be shortly), then we are good I think!

[2019-02-25 08:48] agektmr opened #837 "Add phonetic name as one of `PaymentAddress` properties"
Apple recently decided to [add support](https://webkit.org/blog/8607/release-notes-for-safari-technology-preview-76/) for phonetic name in its Payment Request API's `PaymentAddress` object.

In Japan, people use 3 different characters - Kanji, Hiragana and Katakana. Texts are usually written in mixture of those 3 characters. While Kanji is written for content words, Hiragana and Katakana (they are

[2019-02-25 08:51] marcoscaceres commented on #837
Could definitely add it in 1.1... This is similar to discussion we had here:
https://github.com/w3c/payment-request/issues/480

@agektmr, any idea what the attribute is? If not, @aestes will let us know :)

[2019-02-25 08:52] marcoscaceres commented on #837
Correction: just wanted to confirm `phoneticName` is what Safari added. If so, then yeah... super easy to add.

[2019-02-25 08:54] agektmr commented on #837
The test code doesn't seem to 100% conform with the standard (Seems ApplePayJS variant to me), but apparently `phoneticName` is the one.
https://trac.webkit.org/browser/webkit/trunk/LayoutTests/http/tests/ssl/applepay/ApplePayRequestShippingContactV3.https.html?rev=241105

[2019-02-25 08:56] marcoscaceres commented on #837
Thanks for confirming. I guess we should get an ok from @danyao and @rsolomakhin about wanting to add this to Chrome, yeah? The spec side is easy, but the UI will obviously be more challenging to support.

[2019-02-25 13:24] rsolomakhin commented on #837
Should be OK to add to Chrome. Thank you for checking with us.

[2019-02-28 16:14] rvm4 opened #839 "Editorial: Section 3 sentence very hard to read"
The first paragraph after the NOTE block in section 3 (19th page) is incredibly hard to read. I don't have much context on the concept it is describing, so I didn't feel confident I could write an accurate and cleaner sentence.

[2019-02-28 16:15] rvm4 opened #840 "Editorial: error is not well introduced"
The description of "error" in 6.3 is not very clear. Though, it is given greater clarity later on. Is it accurate to describe this as a global error message or a fallback error message when a more specific error field is not appropriate?

[2019-02-28 16:22] samuelweiler opened #842 "Richer negotiation re: address redaction?"
As I think about how "billing addresses" are used in practice in the US: sometimes portions of them (e.g. only a postal (ZIP) code) are used by card issuers for validation.  Sometimes merchants want complete addresses for other reasons.  Does it make sense to have a requester explain exactly what address elements it wants, and why?

Consolidated explanation of my concern below at:
https://github.c

[2019-02-28 16:37] ianbjacobs commented on #842
Hi @samuelweiler,

Can you say more about the use cases?

Our initial choice of redaction was driven by the use case of "tax computation." At least in version 1, that seems like a good starting point. After consideration of more use cases, we can see whether some merchant/user negotiation would add valuable.

Ian

[2019-02-28 17:09] samuelweiler commented on #842
In the US, some merchants, particularly ones that are not shipping a physical product, request (only) a "credit card billing ZIP code", which appears to be used as part of the card acceptance validation.  I'm imagining that it would be convenient - and lead to less transaction abandonment - if the merchant could ask for only the info needed (e.g. just the post code) and not anything else.

I also

[2019-02-28 18:07] npdoty commented on #842
I'm not sure user-driven negotiation is particularly useful here (although generally I like that as a strategy) since the user doesn't typically know or set the rules for required data to complete a payment or shipment. But merchant-driven minimization of information would definitely fall under the principle of data minimization, and that can do things like improve user comfort and even encourage

[2019-02-28 18:24] samuelweiler commented on #842
npdoty: the problem I see is that merchants often desire more data than is, in fact, required.  Making easier for merchants to get the data (by defaulting to sending it) is a lose for the human sending the payment.

[2019-02-28 18:37] npdoty commented on #842
@samuelweiler but are end users in a good position to know what information is required, or to do anything besides refuse payment altogether if the site wants information that might not be necessary?

I think there are some times that negotiation might be a good approach even though it can be complicated to specify and implement, but I think those are cases where users have a lot of insight and th

[2019-02-28 18:58] samuelweiler commented on #842
@npdoty Contemplate the analog example of going into a Radio Shack (back in the day), Staples (now), or many grocery stores. They'll ask for a phone number, but they're still willing to make a sale without one.  I can imagine an online merchant preferring to have some bit of data but being willing to make do without.

[2019-02-28 19:29] ianbjacobs commented on #842
Hi @samuelweiler and @npdoty,

I mentioned on the call today that the WG has considered the idea of an array provided by the merchant that says "I don't want response data fields x and y for payment method P."
 https://github.com/w3c/payment-request/issues/97

For the moment the industry demand to exclude CVC has been small, so there was little appetite to include this as a standard feature in Pay

[2019-03-01 17:38] samuelweiler commented on #842
Acknowledging that I'm not swapped in on the payments markets elsewhere in the world, I imagine there's enough variation that this 'wait for clear demand' approach will lead to some (unhelpful, unwanted, and possibly harmful) convergence, driven by the US payment market.  Or, perhaps even less desirably, to less adoption of this technology worldwide.  Building in the flexibility from the start see

[2019-03-04 01:10] marcoscaceres commented on #837
Spoke to @aestes, and he helped clarify a bit what Apple has been working on. The phonetic name enhancements they've added are on the proprietary Apple Pay JS API, and not on the Payment Request API.

For equivalence, Andy suggest is adding the following to Payment Request API:

 1. A way for merchants to require/request a phonetic name in PaymentOptions.
 1. Add phonetic name fields to PaymentAdd

[2019-03-04 07:39] marcoscaceres commented on #839
I guess you are referring to this spaghetti🍝:

I agree it reads like total gibberish... but it's technically accurate. It make sense inside the context of a web browser engine: as the concepts map to things in the HTML spec... which themselves then map back to appropriate security checks inside the browser implementation.

If it's ok, I'd be inclined to leave it. We have a bunch of tests that vali

[2019-03-04 07:59] marcoscaceres commented on #840
This was a bit of a design flaw... the `error` member there is specific for when when there is no valid shipping address. So maybe it should read (flipping what is there):

[2019-03-04 08:04] marcoscaceres commented on #840
Sent: https://github.com/w3c/payment-request/pull/845

[2019-03-04 17:38] adrianhopebailie commented on #842
We should distinguish between data required for the payment and the data requested by the merchant as part of checkout.

E.g. Billing address is actually needed to authorize a card payment in many markets but we also provide a mechanism for the merchant to ask for an email address, phone number etc.

In this API we don't have any influence over payment specific data (either in the request or respo

[2019-03-04 17:45] ianbjacobs commented on #842
@adrianhopebailie,

I like your idea (for PR API after v1) and also would extend that functionality to payment method response data (relates to issue #97).

Ian

[2019-03-04 18:15] ianbjacobs commented on #842
@samuelweiler, for now I am labeling this a "feature after v1" and we'll discuss it at our April FTF meeting. Thanks!

[2019-03-04 19:01] samuelweiler commented on #842
I think this is pretty clearly related to the features being added in this revision: https://lists.w3.org/Archives/Public/public-payments-wg/2019Feb/0003

I would like to see this issue addressed at the present revision.

[2019-03-04 19:06] ianbjacobs commented on #842
Hi @samuelweiler,

I will consider this a Formal Objection raised by you (arising through PING review) and carry it forward to the Directory.

Ian

[2019-03-05 04:50] marcoscaceres commented on #842
@samuelweiler, @npdoty, what I've done thus far is heavily redact the billing address information sufficiently so it works with fraud detection systems, and allow for tax calculations.

Tax calculations, performed when the payment instrument changes:
https://github.com/w3c/payment-method-basic-card/pull/67

Fraud prevention:
https://github.com/w3c/payment-request/pull/846

I share the concerns abo

[2019-03-05 07:14] marcoscaceres commented on #842
The other practical thing we could do for privacy is make the `redactList` mandatory. Right now, it's optional... and some UAs literally leak all the things: https://github.com/w3c/payment-request/issues/648#issuecomment-348377487

[2019-03-05 16:02] samuelweiler commented on #842
I've presented a use case above where only part of the address is needed (modeled on what I see some sites doing now), and I've postulated that these needs will be different in different markets around the world.  I'm opposed to making a change (at v1 or otherwise) that defaults to increasing the amount of information over what is sent now, with no obvious way for payer and payee to negotiate abou

[2019-03-05 16:08] ianbjacobs commented on #839
@rvm4,

I made a similar comment previously [1]. I had suggested "The payment-relevant browsing context of a PaymentRequest is the top-level browsing context of the relevant global object."

At that time @marcoscaceres similarly indicated a preference to leave it as is.

Ian

[1] https://github.com/w3c/payment-request/pull/811#pullrequestreview-193347605

[2019-03-05 16:10] ianbjacobs commented on #842
@samuelweiler, we added this functionality because there is otherwise a risk that the displayed total is incorrect, which makes the API unusable.

[2019-03-05 16:13] domenic commented on #839
Personally I find sentences of the form "X's Y's Z's W" simpler than "the W of the Z of the Y of the X" for various reasons. One important one is that it corresponds closer to the computer code that implementers would be typing for this, which is roughly `X.Y.Z.W`.

[2019-03-05 16:22] ianbjacobs commented on #839
@domenic I knew you were really a machine!

[2019-03-05 21:45] marcoscaceres commented on #842
What @ianbjacobs said. It’s not practical to remove it because of tax calculations. Note that it’s also not very different from having a regular web form that is automatically filled by the browser.

I do understand the data sharing concern: but by the user taking explicit action to “pay”, there is a reasonable expectation of negotiation and understanding in any transaction that billing address ma

[2019-03-05 22:55] marcoscaceres commented on #839
I'm going to go ahead and close this as "won't fix." Hope that's ok.

[2019-03-05 22:55] #839 closed, assigned to nobody

[2019-03-05 22:58] #840 closed, assigned to nobody

[2019-03-08 13:59] samuelweiler commented on #842
@marcoscaceres We disagree re: reasonable expectations, transparency, and negotiation.  e.g. in the US, sometimes city is sufficient to determine tax.  Perhaps even just state is enough - there is no need for specific street info.  (And, also in the US, I tend to see sales tax determined by "shipping address", when something is being shipped.)  There is lots of grey area here, and the API describe

[2019-03-08 14:02] ianbjacobs commented on #842
Hi @samuelweiler, can you say more what you mean by this: "And it's shipping more information than is needed in all cases."

[2019-03-08 15:22] marcoscaceres commented on #842
Precisely why street info is removed by the redactList. Perhaps something that was overlooked during your review?

Respectfully, I find this quite baffling a statement to make. We are literally working with a global set of merchants, credit companies, and other financial tech representatives in this working group for years to come up with the design.

Additionally, the API and precursors (e.g., Ap

[2019-03-08 15:42] marcoscaceres commented on #842
@samuelweiler, my apologies, in my mind I thought we'd merged the following already (which redacts the `addressLine`):
https://github.com/w3c/payment-method-basic-card/pull/67/files

I've also made the redactList mandatory:
https://github.com/w3c/payment-request/pull/846

Does the above alleviate your concerns?

[2019-03-08 16:49] ianbjacobs opened #847 "Fine-grained error reporting with canMakePayment()"
I am creating this issue based on discussion on issue #843.

I am hearing several use cases for fine-grained error reporting when canMakePayment() returns false:

 * An error message (e.g., "okToUseAPI") that indicates that the user does not want to share detailed information but would like to use the API under show() conditions would reveal some information about the user's browser configuration.

[2019-03-08 18:03] rsolomakhin commented on #847
After thinking about this more, let's not add this state for `canMakePayment`, because it seems to be equivalent to `canMakePayment` returning `true` in the current version of the spec: `true` should be returned when a payment handler is available regardless of presence of any instruments in the payment handler. If there're no payment handlers available, then `show()` would be rejected with `NotSu

[2019-03-08 20:23] stuller commented on #778
@Siddeshwaraswamy @aestes I'm having this same issue regarding apple pay and not being able to update shipping options - was there ever a fix or a workaround found?

[2019-03-08 21:23] barnesicle commented on #778
I am having the same issue! Any workaround or potential for fix?

[2019-03-09 07:52] marcoscaceres commented on #778
If you have a reduced test case, I can add it to web platform tests? Then we can show at least where the problem is to folks at Apple.

[2019-03-11 15:49] stuller commented on #778
Thanks @marcoscaceres - here is my test code.  When in Chrome with Google Pay, the shipping options do update when updated via the updateWith function on shippingaddresschange.  When in Safari with Apple Pay, they do not. ( edit: updated to include html and everything - merchantid and url for merchantvalidation will need to be set in the variables at the top of the script block)

[code]

[2019-03-12 17:22] aestes commented on #778
@stuller @Siddeshwaraswamy @barnesicle This is a known issue, tracked by WebKit at https://bugs.webkit.org/show_bug.cgi?id=190560. It should be fixed in [Safari Technology Preview](https://developer.apple.com/safari/technology-preview/).

This isn't the right place to discuss a WebKit bug. If anyone still sees this issue in the latest Safari Technology Preview, please file a bug at https://webkit.

[2019-03-13 01:27] marcoscaceres commented on #778
Locking conversation as resolved. Folks landing here, please refer to: https://bugs.webkit.org/show_bug.cgi?id=190560

[2019-03-14 17:59] aestes commented on #847
👍

👍

It's not clear to me what merchants would do with the extra granularity. hasEnrolledInstrument() returning false should not be a reason to not call show() so long as canMakePayment() returns true. Handlers can choose to offer instrument enrollment as part of their payment flow or just reject the call to show(), which as you point out offers the same information.

FWIW, WebKit throws an Inval

[2019-03-18 13:24] samuelweiler commented on #842
Restating my concern, which will hopefully answer @marcoscaceres and @ianbjacobs's questions.

I am concerned about "oversharing" - when an API, by default, automatically sends more identifying information than is sent now. This API is sending straight up PII (personally identifiable information).  Because of that, it should meet a high bar.

For the two use cases presented - calculating sales tax

[2019-03-18 17:33] ianbjacobs commented on #842
Hi @samuelweiler,

Thank you for the writeup.

According to the specs today, the merchant only receives billing address information through onpaymentmethodchange when requestBillingAddress is true. That information is redacted, as we've mentioned.

Thus, for some of the use cases you mention, where the merchant doesn't need any billing address information at all, that is the default behavior of th

[2019-03-18 19:19] asmusf commented on #842
I see two scenarios.
One is the case of flat shipping rates and similar where merchant needs to determine only whether a location is in/out a larger area. Unless it's possible to make a request that specifically recognizes an area defined for shipping tariff purposes, it would seem the best way would be to be able to identify the most generic of standard postal address elements needed to make the

[2019-03-18 21:44] ianbjacobs commented on #550
I am closing this issue because PR API now supports billing addresses.

[2019-03-18 21:44] #550 closed, assigned to nobody

[2019-03-18 21:46] ianbjacobs commented on #537
Hi all, looking back at this...can retry() be used for this use case?

[2019-03-18 21:47] ianbjacobs commented on #3
@adrianhopebailie, this is an old issue. Would you like to keep it open and discuss at the April FTF meeting?

[2019-03-18 22:03] ktmitton commented on #537
I'm a little new to the retry function, can you help me understand it a little better? It looks like you can output error messages explaining what's wrong with a shipping address?

I think that's something that's a reasonable quick fix for this issue, but my concern is it's still not as smooth a user experience, at least for the way we've traditionally handled this validation. In the case where so

[2019-03-18 22:57] ianbjacobs commented on #537
Thanks @ktmitton; I've added this topic to our upcoming agenda item about future features.

[2019-03-18 23:01] ktmitton commented on #537
No, thank you @ianbjacobs!

Sorry I haven't been able to contribute more, I moved more backend since I originally posted this, but I'd love to be able to push this more at work. I think it would simplify things for everybody if we could implement this api.

[2019-03-19 00:30] duerst commented on #842
I agree with Asmus. In addition, building the knowledge into the API means that there have to be regular updates, because tax laws and rates, and shipping costs,... can change.

Also for shipping costs, it may depend on the shipping company. For example, in Japan, shipping by postal service would be the same rate for the whole country, whereas some other company may charge more for far-off islands

[2019-03-19 01:27] asmusf commented on #842
Seems the only way to design an API that strictly limits sharing in this kind of situation is to default to no information being sent by default, with the caller iteratively requesting more information items on an "as needed" basis, based on whatever partial information returned the previous round.

[2019-03-19 16:57] samuelweiler commented on #842
@asmusf @duerst  I agree that any static definition of what is sent (and what is redacted) will likely work very poorly.  (Hence me choosing a title for this issue ("Richer negotiation...") that hints at a non-static solution.)  I don't know how much value there is in explaining why certain elements are requested, but I encourage you to consider that, too.

[2019-03-19 17:08] asmusf commented on #842
@samuelweiler You write: " I don't know how much value there is in explaining why certain elements are requested". Do you mean as part of the API? Or as part of the specification?
Ideally, at all stages of a transaction, if personal information is being shared, the requester should be on the hook to get consent from the user. However, there's also a signal to noise ratio.

[2019-03-19 17:34] samuelweiler commented on #842
@asmusf  I mean as part of the API .

[2019-03-20 17:03] ianbjacobs commented on #842
Hi all,

This issue relates most directly to Basic Card, so I have opened a new issue there:
 https://github.com/w3c/payment-method-basic-card/issues/72

Closing this one here for now.
Ian

[2019-03-25 01:57] marcoscaceres opened #853 "Move PaymentAddress string defaults to AddressInit"
Right now, we do a lot of "set <var>address</var>.[[slot]] to the empty string" in prose. We should just move all that  prose logic to `AddressInit` by setting each member to default to `""` and `= []` for any sequence type.

This shouldn't have any impact on developers, as the behavior we get is identical. However, it does significantly simplify implementation (as the binding layer can handle all

[2019-03-25 02:00] marcoscaceres commented on #853
Setting as 1.1 target. CC @rsolomakhin, @aestes , @danyao, wdty?

[2019-03-25 03:52] marcoscaceres opened #854 "[[waitForUpdate]] must be set to true always after dispatch."
Elsewhere, @danyao wrote:

Yes, indeed a small spec bug. Will send a patch.

[2019-03-25 13:30] rsolomakhin commented on #853
Sign me up!

[2019-03-25 13:58] marcoscaceres commented on #853
I’ll put together a PR so you can see the changes. We can go from there.

[2019-03-26 05:38] marcoscaceres commented on #853
Put up https://github.com/w3c/payment-request/pull/852

[2019-03-27 14:40] mattsaxonwp commented on #834
Following verbal discussion at the Payment Handler regular call yesterday, it became apparent that because the change from sync to async would need need merchants to write their webpage code differently, that this would require a change to the specification. Obviously the presentation style would not be specified and my examples above are purely to help people visualize.

[2019-03-27 14:41] ianbjacobs commented on #834
Following @mattsaxonwp, an idea was for a merchant to provide both a legacy checkout experience and a call to PR constructor. The browser could render them both and prompt the user to choose one path or the other.

[2019-03-27 14:44] marcoscaceres commented on #834
The merchant can already do this without needing to involve the browser. They can display the form and also say: "try this faster way to check out! `<button>Browser Payments! wow!</button>`"

[2019-03-28 15:56] danyao commented on #854
Hi @marcoscaceres! I noticed that the [payer detail change algorithm](https://w3c.github.io/payment-request/#payer-detail-changed-algorithm) also fires a `PaymentRequestUpdateEvent`. But in this case, the algorithm doesn't set `[[waitForUpdate]]` to true immediately after event dispatching. Should we make it align with the other cases?

[2019-03-28 17:31] mattsaxonwp commented on #834
I appreciate this can work, but I feel that the distinction is that this gesture would be made from within the web content region of the browser rather than outside of it,  e.g. form the browser chrome or operating system chrome. The fact that, in my proposal, this gesture would originate from outside browser content may mean that it might be considered more trusted. It would certainly be consiste

[2019-03-28 18:59] pes10k commented on #842
I wanted to second the point made by @samuelweiler.  We shouldn't be pushing / standardizing any functionality that, were a site to use it, would _require_ them to increase shared information (especially not given the sensitivity of this information).

Addressing in 1, and not pushing back to 1.1 seems correct, before vendors start baking in expectations and web compat issues already start creepin

[2019-03-28 22:50] marcoscaceres commented on #842
Ok, let's address this in next round on CR (starting next week)? However, we will still publish an updated CR on TR... the one there is grossly out of date and long overdue for a refresh.

[2019-03-28 23:25] ianbjacobs commented on #842
Hi @marcoscaceres,

I am reclosing this issue because we have opened a Basic Card issue for this topic:
 https://github.com/w3c/payment-method-basic-card/issues/72

I very much encourage brainstorming there.

Before re-opening, please let's discuss at the face-to-face meeting. That is only a couple of days from now.

Thank you,

Ian

[2019-03-31 05:30] marcoscaceres commented on #854
Yeah, well spotted. I'll draft a PR for the spec. We'll need to check if we have a test for that - but it should be easy to test.

[2019-04-02 02:43] #854 closed, assigned to nobody

[2019-04-03 16:18] ianbjacobs opened #858 "Should Payment Request enable optional Total for some use cases?"
Use cases:
 * Ride sharing where total not yet known.

[2019-04-03 17:03] marcoscaceres commented on #480
There is ongoing interest to add these additional fields....

[2019-04-03 17:12] #592 closed, assigned to nobody

[2019-04-03 17:12] mountainhippo commented on #592
Closed after review at April 2019 F2F

[2019-04-03 17:18] mountainhippo commented on #701
We heard at the April F2F 2019, that the labelling of the pay button is problematic for merchants, from Dee

[2019-04-03 17:19] davidbenoit opened #859 "Consider adding "national identifier" and "birthdate" as billing fields"
In some markets (Brazil, for example), local payment acquiring requires collection of more details about the consumer than are currently available.  Specifically, we need the consumer's date of birth and national/tax identifier.  We have seen other markets like Mexico where only the national/tax identifier is required, not the date of birth.

[2019-04-03 17:31] mountainhippo commented on #859
Raised at F2F April 2019 - there are other attributes that can be carried too (for example, an "over 18" attribute which cards carry in Finland).

[2019-04-03 17:47] davidbenoit commented on #859
"over X" would be solved if the birthdate was present, where X depends on market, what is being sold, etc.

[2019-04-03 18:21] chaals commented on #859
Except that runs foul of privacy. The point of saying "over X" is precisely so I don't have to give out my actual birthdate.

[2019-04-03 18:38] davidbenoit commented on #859
Sorry, I mean that if the browser/agent has the birthdate stored, it can answer the question.  So, if I need the full birthdate I can ask for it, otherwise I could just ask "over X?"

[2019-04-05 16:26] aphillips commented on #327
I18N will publish our document [String-Meta](https://w3c.github.io/string-meta) as FPWD in the coming week. This work was partially sparked by this issue. You may wish to review, although I don't think there is anything actionable to grow out of it yet. I'm not re-opening.

(this is responding to an [action item](https://www.w3.org/International/track/actions/793))

[2019-04-05 16:32] rsolomakhin commented on #327
@aphillips : Really cool spec, thank you for the link! Would it make sense for your spec to define the IDL for a base structure that other specs can inherit? For example, if you define `dictionary Internationalizable` or `interface Internationalizable`, then the Payment Request spec can have `interface PaymentAddress : Internationalizable`. This would allow for code sharing inside of the user agen

[2019-04-05 16:53] rsolomakhin commented on #327
Found https://w3c.github.io/string-meta/#Localizable that may work.

[2019-04-08 19:26] felipenmoura opened #861 "Add quantity prop to items"
User may want to buy 2 or more items of a same product and the best way to show that to the user is by showing a `quantity` column.

This is a very common attribute in bills and receipts and could help users feel more confident when finishing a purchase, making it more clear.
Also, unit price would be required as well.

Please let me know what do you think about it?

[2019-04-09 05:12] marcoscaceres commented on #861
We generally discourage merchants from going into this level of granularity. This is generally best handled on the checkout page itself.

We used to have a best practice note in the spec about this, but seems to have vanished :/ I'll add it again.

[2019-04-10 23:41] ianbjacobs opened #864 "Help strings for requested fields?"
Hi all,

During the recent face-to-face meeting, I thought I heard an idea to add support for a merchant-provided "help string" for each field that a merchant can request through PR API 1.1.
Did I hear correctly?

Ian

[2019-04-11 00:11] marcoscaceres commented on #864
I think the idea was to explain why each field was being requested. However, I don't recall it being necessarily a high priority thing... more of a nice to have. I think it was also raised in another bug.

[2019-04-12 06:09] cyberphone opened #865 "PaymentRequest - Bluetooth connector"
As far as I know Apple Pay in the Mac/iPhone "combo" uses Bluetooth to achieve an integrated and convenient payment solution.

Although one can use Web Bluetooth this has major shortcomings and (probably) _requires the user to grant each Merchant access to the Bluetooth connector_.

With a _dedicated interface_ this is not necessary since the Merchant never talks directly to Bluetooth channel (it

[2019-04-12 06:29] cyberphone commented on #865
Unlike the proprietary Chrome `PaymentRequest` Android interface, _the Bluetooth counterpart must be universal_.  It can probably reuse the platform used by FIDO/WebAuth making the task quite reasonable.

In addition to being "phish-safe", this solution would eliminate quirky QR solutions or solutions using mobile phone numbers for establishing a trusted link between the Web application running a

[2019-04-12 07:29] marcoscaceres commented on #865
I think it would be granted to the payment handler, not the merchant's website. Thus there would only be one prompt.

[2019-04-12 08:24] cyberphone commented on #865
This proposal is unrelated to W3C's `PaymentHandler`, it builds on forwarding the `PaymentRequest` to a _native mode mobile wallet_ which I believe is analogous to the FIDO2/WebAuthn use case.

[2019-04-12 08:31] marcoscaceres commented on #865
The Payment Request API relies on some payment handler (e.g., basic card, apple pay, BlueTooth Terminal-0-matic) showing some UI... so I'm not following how it's unrelated to payment handler?

[2019-04-12 08:38] cyberphone commented on #865
Sorry, it was a terminology issue.  I thought you referred to the W3C `PaymentHandler`.

Anyway, what do you think about the proposal?

[2019-04-12 08:48] marcoscaceres commented on #865
The proposal is fine, but I think it could be handled by any old payment handler. It doesn't seem to be in scope for Payment Request?

[2019-04-12 08:50] cyberphone commented on #865
Please explain how

[2019-04-12 08:54] marcoscaceres commented on #865
you would create a payment handler and it would call the show window API when required to show the payment sheet... in the payment sheet, you would use the BlueTooth API to pair with the hardware. The user would grant access once.  The browser would remember that "https://blue-tooth.payment.com" is allowed to use BlueTooth in the payment sheet.

Then if you got to another website and try to pay, t

[2019-04-12 09:06] cyberphone commented on #865
The idea was creating a counterpart to FIDO2/WebAuthn by defining a _standardized_ interface between the Web and a bluetooth-connected device.  The interface would follow the PaymentRequest API since it effectively works under the same umbrella.  There would in similarity to FIDO2/WebAuthn be nothing to install in the PC/Mac end.

https://fidoalliance.org/specs/fido-v2.0-rd-20180702/fido-client-to

[2019-04-12 09:10] marcoscaceres commented on #865
We generally don’t want to do specialized APIs like that. Ideally, we would make Web Bluetooth work.

[2019-04-12 09:21] cyberphone commented on #865
This (mobile wallet + PC) is probably the biggest `PaymentRequest` use case after the mobile Web.   I'm merely suggesting another way hooking into the `PaymentRequest` API, not a new API.

I leave it there and hope that you and team evaluate the different approaches.  Since there already is a predecessor (Apple Pay), this should be reasonably simple.

Note that for the Merchant the code for the Mo

[2019-04-12 09:49] marcoscaceres commented on #865
I understand, but some UI needs to be shown, right? Like ApplePay (a payment handler) has a UI that does the interfacing with watch or phone.

Similarly here, won’t you need some kind of payment handler?

[2019-04-12 09:58] cyberphone commented on #865
IMO, there would not be a need for a new UI in the PC/Web end; the `PaymentRequest` would only expose the additional matching payment alternatives acquired through the Bluetooth connection.  It is like payment method "docking".

In the Mobile end, there would of course be a UI that should show the amount requested etc.  This part would not differ from what for example Google Pay already does for M

[2019-04-15 08:24] adrianhopebailie commented on #865
The universal interface for PaymentHandlers is currently defined as browser API's in the Payment Handler API spec.

Chrome on Android also supports handlers in the form of Android apps and this interface is defined at the Android OS level.

Can you explain in more details how the same APIs and flows would be implemented via BT? Noting that this involves enrolment, and then handling payments.

What

[2019-04-15 08:49] cyberphone commented on #865
Starting with the rationale.  Mobile phones have become the center for just about everything, nowadays also including payments.   However, some people (quite a bunch in fact) still prefer doing their on-line business on a "PC".  The question is then how to combine the mobile phone holding payment credentials and the PC/Web.   The current version of `PaymentRequest` doesn't do this particularly wel

[2019-04-15 15:39] adrianhopebailie commented on #865
I disagree. This use case has been top of mind for some time. It's quite easy for a Payment Handler (a Service Worker in the browser) to invoke a remote service over the Web when it is activated by a new Payment Request.

That remote service pushes a message to the user's phone and the user approves the payment in the app on their phone.

I use a similar interaction daily to login to Google servic

[2019-04-15 17:09] cyberphone commented on #865
If it is that simple it should be simple to host an example showing how this would work in practice.

I'm indeed suggesting an alternative form of payment handler that follows the trail of FIDO2/WebAuthn (which has nothing to do with service workers as far as I know).   Such a solution would also work with payment authorization systems where the client only communicates with the merchant.

From a

[2019-04-15 21:33] marcoscaceres commented on #865
Precisely, but the burden of proof falls on you to create such an example.

[2019-04-16 03:49] cyberphone commented on #865
@marcoscaceres @adrianhopebailie No, a solution proposed by somebody needs to be proven by the proposer which in this case (effectively) is the Web Payment WG.  BTW, it sounds like a pretty fuzzy process having to install service workers for external (mobile phone based) payment handlers.  Current solutions (_which do not use PaymentRequest in the PC end_) do not introduce such requirements.

_Thi

[2019-04-16 06:13] marcoscaceres commented on #859
Could you help me understand a bit more about the birthday requirement? It seems so forgeable to the point of being meaningless.

[2019-04-16 13:55] ianbjacobs commented on #600
@marcoscaceres, just a note that Feature Policy was published today as a FPWD:
 https://www.w3.org/TR/2019/WD-feature-policy-1-20190416/

[2019-04-16 14:10] marcoscaceres commented on #600
Excellent, thanks for the update.

[2019-04-23 17:54] adrianhopebailie commented on #865
Of course. Fortunately Google have chosen to support an open ecosystem by implementing Google Pay using the same tools anyone could use to publish their own handler.

[2019-04-23 17:59] adrianhopebailie commented on #865
Providing this detail would really help make some progress here

[2019-04-23 19:04] cyberphone commented on #865
Well, unfortunately I'm not (at all) a Bluetooth expert but maybe the FIDO interface could serve as a model?
https://fidoalliance.org/specs/fido-u2f-v1.2-ps-20170411/fido-u2f-bt-protocol-v1.2-ps-20170411.html

As far as I understand the FIDO solution (when connected) advertises its availability to the browser's FIDO implementation making it transparent for a relaying party Web application if the F

[2019-05-03 02:50] #830 closed, assigned to nobody

[2019-05-03 07:46] adrianhopebailie commented on #865
Sounds like this is an integration between the browser/OS and the phone app/OS no?

Do you think this is something that should be standardised at W3C?

I agree that this would be a great UX hence we have designed for something similar (albeit proxied via the Internet) but I'm not sure that the W3C is the place one would work on this.

[2019-05-03 08:03] cyberphone commented on #865
Right on!

It is something that maybe _could_ be standardized at W3C.

There are tons of other payment related issues that also lack a natural home, like electronic receipts.

[2019-05-03 13:44] cyberphone commented on #865
Whatever solution we come up with we face the non-trivial task of convincing Merchants abandoning their current QR-code solutions.  That these aren't compatible (desktop-wise) with `PaymentRequest` is (at the moment) not an issue.  My proposal is very much about making the conversion to `PaymentRequest` more attractive by unifying the mobile and desktop in a way that is transparent for Merchants.

[2019-05-03 14:26] ianbjacobs commented on #865
I'm going to close this issue because it does not bear directly on Payment Request.

For those interested in enabling more bluetooth use cases for the Web generally, please check out the work of the Web Bluetooth CG (though I don't know how active it is these days):
 https://www.w3.org/community/web-bluetooth/

Ian

[2019-05-03 14:26] #865 closed, assigned to nobody

[2019-05-09 20:29] ianbjacobs commented on #584
@marcoscaceres, can we close this issue now?

Ian

[2019-05-09 23:15] #584 closed, assigned to nobody

[2019-05-29 20:59] felipenmoura commented on #861
Got it.
Although, I do believe users see that "modal" as the last step to finish the payment process and that it is their last chance to verify everything is ok. If you have an e-commerce and users can buy many different products in different quantities, this could be of use.

Besides, that is the information people would see in the receipt.
It does not help much to see in the checkout page someth

[2019-05-30 09:17] webpayments-specs commented on #861
Hi, may I just clarify my thoughts. There are three types of receipt. Delivery, sales and payment. In the fuel industry all three have specific attributes and rules (mainly fiscal and taxation).

Take a fuel card being used to “pay” actually no real payment is involved. Customer can only be provide with a receipt for the delivery of the goods. The unit price and fiscal stuff like VAT and Sale taxe

[2019-05-31 02:34] felipenmoura commented on #861
Sure it does make sense.

I just thought it could be useful as an option. Developers _could_ add this extra information according to their needs. So far, it is just not possible.

In Brazil, for example, we have the "bank billet", which usually describes the items in some level of detail. Or if you go to a market/store/restaurant, the receipt also list all the items.
I remember the first time I us

[2019-06-03 16:58] adrianhopebailie opened #867 "PaymentRequest constructor throws in Safari but not Chrome on localhost"
When creating a new PaymentRequest in Safari the constructor throws with an ApplePay specific error.

This is in contrast to Chrome which allows the use of PR API on localhost.

[2019-06-03 16:59] ianbjacobs commented on #867
cc @aestes

[2019-06-03 17:05] rsolomakhin commented on #867
What's the error message? If it's localhost-related, perhaps Safari has a flag that allows development on that platform?

[2019-06-03 17:06] marcoscaceres commented on #867
Maybe has something to do with WebKit’s definition of “secure context”. But I’m not sure? Was there some error message?

[2019-06-03 17:11] adrianhopebailie commented on #867
code: 18
message: Trying to start an Apple Pay session from an insecure document.

[2019-06-03 17:16] rsolomakhin commented on #867
By the way, you can use https://ngrok.com/ for testing on localhost but with HTTPS.

[2019-06-13 09:11] adrianhopebailie commented on #867
Yeh, have also used localtunnel but meh... localhost is just so EASY

[2019-06-13 21:51] ianbjacobs opened #868 "Proposed privacy consideration regarding data usage"
At the 29 May teleconference [1] we discussed the usage of data from PR API for account creation. I am hearing a variety of perspectives and I am starting to think we should make a statement in the specification, for example in the security and privacy considerations. For example, something like an informative note:

Title: Data usage

Payment method owners establish the policies for how user data

[2019-06-14 01:23] davidbenoit commented on #859
Apologies for the delay.  The specific use I was referring to originally is for specific markets where the date of birth is actually checked against records at the bank at the time of authorization.  I agree that the "over X" question is easily forged, but this is not.

[2019-06-25 12:56] davidbenoit opened #870 "Location declaration"
I am struggling to figure out how to use the Payment Request API in conjunction with basic-card, and meet the [Location Declaration rules from Visa.](https://usa.visa.com/dam/VCOM/global/support-legal/documents/providing-proper-location-of-merchant-business.pdf)

Specifically, rules regarding entities with multiple locations for online processing:

and

transaction on either the checkout screen us

[2019-06-25 14:27] rsolomakhin commented on #870
Hi @davidbenoit . `basic-card` in Chrome will not share the first 6 digits of the card with the merchant until the user has clicked the "Confirm" button on the CVC unlock screen of the Payment Request UI.

I recommend that you call `paymentResponse.complete('unknown')` at this point to dismiss the Payment Request UI, analyze the first 6 digits of the card and present to the user an HTML UI that di

[2019-06-25 14:34] davidbenoit commented on #870
Agreed that this is the only way that I could use this right now, but would an enhancement to the API make this possible in a future release?  If we're aiming to have a unified checkout experience using PR, this type of hack destroys that.

[2019-06-25 14:40] rsolomakhin commented on #870
Yep, if you have a few locations, you should be able to call PR API like so:

[code]

Such an enhancement would require some changes to either this spec or to https://w3c.github.io/payment-method-basic-card/.

[2019-06-25 14:48] davidbenoit commented on #870
I'm not sure I could encode all of the rules for which location I want to choose in that way - the prefix list is long, and changes often.  I would think that a callback/hook similar to `onshippingaddresschange` would be ideal; it could take the prefix as input and modify the sheet in the same way.

[2019-06-25 15:01] ianbjacobs commented on #870
Hi @davidbenoit,

I have some questions:
  * Are the location declaration rules required by other card networks?
  * Is the merchant's PSP the only entity in a position to answer the question "how to best match a merchant entity with the issuing bank of the card"?

Ian

[1] https://lists.w3.org/Archives/Public/public-payments-wg/2018Nov/0008.html

[2019-06-25 15:02] rsolomakhin commented on #870
Hm, it's tricky to communicate to the user that the first 6 digits of their card will be shared with the merchant  when they select a card in the UI, which is what you seem to be proposing to do via the `paymentmethodchangeevent`. There's a way to keep the user in the payment sheet through `paymentResponse.retry()`, but we would have to expand that API to support non-error cases as well. For examp

[2019-06-25 15:08] ianbjacobs commented on #870
Also, does this relate to @aestes observation about a use of updateWith for a non-error case?
 https://github.com/w3c/payment-method-basic-card/issues/72#issuecomment-481047780

[2019-06-25 16:30] davidbenoit commented on #870
I should have been a bit more clear in my requirements for this too :)  In my current non-PR implementation, I use a combination of the currency, IIN, and billing country to determine the entity that merchant that is actually responsible for the transaction.  Also, that entity name is what I need declared, since when I change from, say, a default of "WidgetCo, LLC" to "DifferentUkWidgetName, PLC"

[2019-06-27 13:26] rsolomakhin opened #871 "Improve error codes"
Four separate categories of error states return `AbortError` with vendor-specific error messages. Each of these categories requires a separate response from the merchant.

1. _User closed the UI intentionally_, .e.g, by clicking on the "Cancel Payment" button. Merchant may want to count this against their completion rate metrics. The user should remain on the checkout page.
2. _User closed the UI,

[2019-06-27 15:50] rsolomakhin commented on #871
Suggestion originally from @noncombatant

[2019-06-27 23:34] danyao opened #872 "Reject promise if document becomes not fully active"
There are multiple places in the spec today that requires any outstanding promises to be rejected if the document becomes not fully active, e.g. [show()], [retry()], [complete()].

[show()]: https://w3c.github.io/payment-request/#show-method
[retry()]: https://w3c.github.io/payment-request/#retry-method
[complete()]: https://w3c.github.io/payment-request/#complete-method

In Blink, this turns out

[2019-06-28 06:31] marcoscaceres commented on #872
We have a notification system that monitors the document state associated with the payment request:
https://searchfox.org/mozilla-central/source/dom/payments/PaymentRequest.cpp#1158

If the document becomes `!InFullyActiveDocument()`, it rejects the appropriate promises:
https://searchfox.org/mozilla-central/source/dom/payments/PaymentRequest.cpp#1164

We also have checks throughout the implementa

[2019-06-28 06:54] marcoscaceres commented on #871
We've generally moved away from error codes like the above in the web platform... "Legacy code name and value" where there are now gaps: https://heycam.github.io/webidl/#idl-DOMException-error-names

We generally don't want to distinguish too much between how browsers behave and exposing user actions.... like, the tab switching behavior where the payment sheet closes might be Chrome specific behav

[2019-06-28 12:52] rsolomakhin commented on #871
@marcoscaceres : If we want to use existing DOMException error names, then error cases 3 and 4 could reject `show()` with `OperationError` instead of `AbortError`. WDYT?

[2019-06-28 12:58] rsolomakhin commented on #872
@marcoscaceres : Do you mind if we just copy-paste your code? k, thx, bye! :1st_place_medal:

[2019-06-28 17:01] marcoscaceres commented on #872
Heh, open source for a reason:)

[2019-07-01 05:55] marcoscaceres commented on #871
I think that would be ok... alternatively, we throw just a general `TypeError`, which I think it's more common nowadays for data errors.

Might be worth throwing up a PR with the proposed changes and where you think we should change.

[2019-07-11 14:15] oskarlh commented on #858
It'd also be great for sites with digital wallets if the API allowed for letting the user type in the amount to deposit. That way you don't need two interfaces (first the web interface for entering the amount, and then the PaymentRequest one for entering CC details etc.) for something that could easily be done with one.

[2019-07-11 14:34] ianbjacobs commented on #858
@oskarlh, can you say more about a use case where the party that calls the API allows the user to determine the total? Thanks!

[2019-07-11 14:53] oskarlh commented on #858
@ianbjacobs
Thanks for the reply :)

One possible use case would be for online casinos. A player wants to deposit some money to play with, so they press a "Deposit money" button. A PaymentRequest is made, and the player gets to choose not just what to pay with, but also how much (within limits!) they want to deposit. It could make for a better experience for the player than having to enter the amo

[2019-07-11 15:06] marcoscaceres commented on #858
It could... but equally the browser may provide a worst experience. I’d be more inclined to just leave this to sites, as they will have way more control over the experience.

[2019-07-16 19:08] danyao commented on #872
Thanks @marcoscaceres for the pointers!

I'm getting some push back from Blink architecture owners for adding a new hook without a real world use case. After thinking about this a bit more, it seems that the only scenario where the spec'ed behavior is critical is if a reference to the promise is retained in a different context after the document associated with the promise becomes inactive.

Concr

[2019-07-16 21:58] marcoscaceres commented on #872
In Firefox at least, this causes the payment sheet closes if the iframe or top-level browsing context that created the request navigates. That’s obviously quite important for us, otherwise the sheet would continue to show if the underlying document is navigated to a new origin.

Chromium clearly uses a different mechanism for detecting and dealing with this, which is ok I would say. You are correc

[2019-07-16 22:30] domenic commented on #872
My concern is that basically I messed up pushing for us to reject the promise when the document became inactive. I am sorry 😢. See https://groups.google.com/a/chromium.org/d/msg/platform-architecture-dev/BszBZqcPcuk/42KLPiHCDAAJ for a bit more background.

[2019-07-16 22:31] danyao commented on #872
I'm thinking we can just remove step 3 from the "If document stops being fully active..." section, leaving the following:
[code]
This way Firefox can still close the payment sheet. In fact, Chromium needs this as well, the only thing we can't do is reject the promise because the event loop is already stopped.

What about changing the test such that instead of waiting for the promise to reject, the

[2019-07-19 17:40] #872 closed, assigned to nobody

[2019-07-30 10:52] #868 closed, assigned to nobody

[2019-07-31 04:00] marcoscaceres commented on #867
SoOOooo... I'm going to close this as this is not really a spec bug.

[2019-07-31 04:00] #867 closed, assigned to aestes, marcoscaceres, rsolomakhin

[2019-08-29 08:54] Ms2ger opened #878 "Update to constructor operations"
See https://github.com/heycam/webidl/issues/778.

[2019-09-03 21:53] ianbjacobs opened #879 "Pass SKU instead of Total"
Hi all,

@rsolomakhin passed on this use case today, so recording it here.

Google Play Store requires the merchant to creates SKUs and specify SKUs instead of amounts during the payment flow. There's also a feature to request the price of the SKUs before payment, so that merchant can display the price in their app. Can we add this feature to Payment Request API in the next version? Sample code:

[2019-09-05 11:20] #878 closed, assigned to nobody

[2019-09-05 14:35] adrianhopebailie commented on #879
It's not clear to me why translating SKUs to price should be handled by PaymentRequest?

It feels to me like the group has expressed recently that we have already tightly coupled too many things to "payment" with this API.

i.e. Collecting address, email, shipping are more related to "checkout" than payments. As a result PR API is only really useful to many merchants in the guest checkout scenario

[2019-09-05 14:35] davidbenoit commented on #879
Would there be a method of getting new details if the currency changes?  For example, if I were to detect that the method of payment should be billed in currency X vs Y, I want new amounts to be displayed, and a new total calculated.  Possible?

[2019-09-05 15:28] danyao commented on #879
I agree with @adrianhopebailie that Payment Request API should not be directly involved in translating SKUs to prices. SKU is a payment-method specific concept. I think we should keep Payment Request API generic.

I like the `getTotalFromSku()` direction. But here's a missing piece: the merchant still needs to figure out how to implement `getTotalFromSku()`, which involves a cross-origin communica

[2019-09-05 16:44] adrianhopebailie commented on #879
I hadn't made the connection that this is actually requesting the handler to provide payment details.

That's an interesting use case. Does it relate to https://github.com/w3c/payment-handler/issues/337 in that case?

If so it seems like we could think about solving this more abstractly, i.e. let payment handlers specify any of the details they are able to provide.

Something like (building on the

[2019-09-10 16:52] ianbjacobs commented on #879
Hi all,

What if total is made available by a promise resolved later?

Payment Request could generically support such a mechanism, and how the promise resolves could be payment-method specific. The payment handler does whatever it does, then provides the merchant with the result, and the merchant can then update the payment request.

I was also wondering whether such an approach could be used for

[2019-09-11 02:48] danyao commented on #879
@adrianhopebailie: I haven't thought of this use case as an analogy of https://github.com/w3c/payment-handler/issues/337 so it's cool that you point this out! I see a clear benefit of building on top of the capabilities registration mechanism: this limits the information exchange between merchant and payment handler to well-defined entities (i.e. shipping, contact, total), which is probably good f

[2019-09-11 03:41] ianbjacobs commented on #879
@danyao, I was referring to:
 https://github.com/w3c/payment-request/issues/858

Ian

[2019-09-11 04:54] cyberphone commented on #879
How does this match a system like Saturn which requires that payment data is _signed_?  The current demo application which builds on `PaymentRequest` only uses server-provided static data so I haven't had any opportunities (or reasons) for looking into this in detail.  The `data` element of `supportedInstruments` is currently used for dealing with signed payment data.

[2019-09-11 13:47] danyao commented on #879
Ah thanks @ianbjacobs. Yes I believe #858 is raising essentially the same issue as this thread. Should we combine them?

Just to add to the list of use cases: donation is another one where optional 'total' can be useful. PayPal currently has a flow where website simply adds a "donate" button. When user clicks on it, it takes them to a PayPal page where they can enter a custom amount. The web payme

[2019-09-11 17:14] cyberphone commented on #879
Hi @danyao Saturn is about a lot of things but the thing I'm talking about is step 2 in:
https://cyberphone.github.io/doc/saturn/enhanced-four-corner-model.pdf
That is, it is the _Merchant_ who signs the payment request data (_amount_, _currency_ and few other things as well like type of payment [direct, gas station, etc, etc]).  If _amount_ is updated for whatever reason, the payment request data

[2019-09-11 17:35] ianbjacobs commented on #879
@danyao,

It felt to me that #858 are different use cases, so I didn't combine the issues. But it may well be that we have a solution that addresses them both. So I didn't combine the issues yet, but we have now cross-referenced them.

[2019-09-15 07:48] cyberphone commented on #879
@danyao et al.  I have just scrapped(!) signing `PaymentRequest` data.  By building on https://tools.ietf.org/html/draft-rundgren-json-canonicalization-scheme-09 for creating a hash of the JSON input data, signing it together with a bunch of related objects, and finally encrypting the result as performed in step 3, followed by the Merchant's signature in step 4, the scheme appears to anyway be "ai

[2019-09-20 03:51] adrianhopebailie opened #881 "Use Case: 3DS 1.0 flows and invoking PR API from inside an iFrame"
This is issue is here to track progress on a use case that was highlighted during the Web Payments Security Interest group meetings at TPAC.

The use case is as follows:

 - When a merchant initiates a card transaction using 3DS they will get back a URL which they will render in an iframe. This content is hosted by the user's card issuer (or their behalf) in a system called the ACS.
 - The user pr

[2019-09-27 06:06] TG1999 commented on #881
I will like to work on this issue, please can someone guide me to resolve this issue :)

[2019-11-02 11:33] crowgames opened #882 "Prevent double spending through retry"
Reading the specification, I wonder how a payment handler would be able to prevent double spending when a user issues a Payment Request retry().

As of my understanding, a Payment Handler probbably triggers a payment after receiving a PaymentRequestEvent.
Through the retry, a second PaymentRequestEvent is triggered, which is identical to the first one. For an unaware Payment Handler this would lea

[2019-11-02 17:53] ianbjacobs commented on #882
Hi @crowgames,

The paymentRequestId attribute should help. It is set to the (unique) id of the payment request [1]. So the payment handler should be able to know that this is the same transaction.

Let me know if this would work for your use case.

Ian

[1] https://www.w3.org/TR/payment-request/#id-attribute

[2019-11-03 18:41] crowgames commented on #882
Thanks for your reply @ianbjacobs!
What if a user changes the payment handler though?
If I my first request is to Handler A and the second (through retry) is to Handler B, the request ID does not help, since both A and B only observe it once.
Thanks in advance for the clarification!

[2019-11-04 00:48] marcoscaceres commented on #882
A user cannot switch payment handlers during retry. One can only change the things being retried (eg. new credit card expiry date).

[2019-11-24 16:10] amol-wanve commented on #637
How do you fix this issue?

[2019-12-04 18:32] #882 closed, assigned to nobody

[2019-12-05 18:46] mustaqahmed opened #883 "Rephrase "triggered by user activation" to match the new user activation model"
We have User Activation v2 model in the HTML spec now.  "Triggered by user activation" should now be changed accordingly.  See the HTML issue mentioned below.

[2019-12-09 11:40] marcoscaceres opened #886 "show() should consume user activation"
@aestes, @danyao, @rsolomakhin, moving discussion from #885.

HTML has a new activation model. Right now, we presumedly have "transient" activation for `show()`:

[code]

Presumedly, because of the modal nature of `.show()` we want to "consume" the activation, so that things like `requestFullscreen()` would fail if called immediately after `.show()`.

[2019-12-09 12:02] crowgames opened #887 "Clarification: onshippingaddresschange in case of autofill/pre-filled fields"
Should onshippingaddresschange be triggered through auto-filled/pre-filled values?

_Context:_
To allow for an easy and fast checkout, browsers (e.g. Chrome) pre-fill inputs such as the shipping address with the last observed address.
This currently does not trigger an onshippingaddresschange-event though.
But if I as a merchant want to calculate shipping costs based on the selected address, I hav

[2019-12-09 15:33] rsolomakhin commented on #887
Hi @crowgames . You can accomplish this by specifying an empty set of `shippingOptions` initially. The browser will ask the user to explicitly select their shipping address, at which point the 'shippingaddresschange' update will be fired with redacted address that is sufficient for shipping price caclulations. Please proceed to populate the `shippingOptions` field in the response to the `shippinga

[2019-12-09 15:33] #887 closed, assigned to nobody

[2019-12-09 15:35] rsolomakhin commented on #887
Some relevant docs here: https://developers.google.com/web/fundamentals/payments/merchant-guide/deep-dive-into-payment-request#shipping_in_payment_request_api

[2019-12-09 15:38] rsolomakhin commented on #886
@jdtoupin Do you have a product opinion here? My vote is to consume user activation, so a click can trigger only one powerful feature. Consuming would also make click-jacking more difficult.

EDIT: The right @jdtoupin

[2019-12-10 15:55] jdtoupin commented on #886
Yes, consuming user activation makes sense to me.

[2019-12-10 20:33] ForTheJim opened #888 "Ship Mode Update for PO BOX"
Here's an issue I am running into with Payment Request in regards to PO Boxes and Ship Modes.

We have 3 Standard Ship Modes that user can select from:
**Overnight - $30**
**Express - $18**
**Standard - Free**

We can calculate shipping modes based on State and update accordingly.

User in this case selects Standard Ship Mode.

For users with a PO Box as shipping address, we only offer one ship mo

[2019-12-10 20:37] rsolomakhin commented on #888
Hi @ForTheJim, would your use case be address if the redacted shipping address had an 'isPostOfficeBox` boolean?

[2019-12-10 21:33] ForTheJim commented on #888
Hi @rsolomakhin,

If there was a 'isPostOfficeBox' boolean, it would help to resolve this use case since that could then be passed server-side and correct ship mode could then be returned 👍

[2019-12-11 03:30] marcoscaceres commented on #886
Ok, makes sense to me too.

As long as it's ok with @aestes (and we are not breaking anything with ApplePay... which I don't imagine we are), then I'll send a PR to add this and also update Firefox's implementation to match.

[2019-12-11 03:32] marcoscaceres commented on #886
Sorry, I misread... REPORTING is indeed gone from the upstream.

[2019-12-11 03:32] marcoscaceres commented on #886
(ignore that last message... wrong browser window... I hate browsers)

[2019-12-11 15:53] #883 closed, assigned to nobody

[2019-12-23 06:53] marcoscaceres commented on #888
Marked as future candidate feature. We should probably discuss at the upcoming face-to-face (if not before).

@ForTheJim:

Yes, you would need to verify the address with some kind of address verification service, and then `.retry()` with the new shipping option.

[2019-12-23 20:55] k2snowman69 commented on #881
Would this issue be part of https://github.com/w3c/3ds instead? Or is that only handling 3ds 2.0 scenarios?

[2020-01-02 04:48] marcoscaceres opened #889 "Missing definition of retrying a payment as a concept"
The Basic card spec says:

However, it's treating retrying as a concept, but links to the `.retry()` method.

What would be nice would be to conceptually define what it means to "retry" a payment. Then other specs could link to that conceptual definition.

[2020-01-03 08:17] janiceshiu opened #890 "Payment Method Basic Card spec uses various Payment Request definitions that Payment Request does not yet export"
The payment method basic card spec has many `data-cite` attributes that link to various definitions in payment request. However, those definitions are not yet exported to xref. Could we export this to xref so that basic card can use xref for linking? Thanks!

1. [Payment Request Options](https://github.com/w3c/payment-method-basic-card/blob/df6b49d757bdae56fb5197a40085cc53ddfcd95e/index.html#L299-

[2020-01-03 09:39] janiceshiu commented on #890
updated issue to list all missing exported definitions

[2020-01-12 15:56] keenla opened #893 "ISP managed "micropayments" as alternative to advertisement based funding for web content creators."
Very early thoughts of letting Internet Service Providers to "manage financial support transfer from users to creators of intellectual content" (web page/site creation/managing; audio, video, news, blogs, art, …), giving creators a chance to provide alternative page  version of clean ad free content and helping them compensate service costs.

Reasons: as we all know, irrelevant ads are annoying, b

[2020-01-12 16:37] ianbjacobs commented on #893
Hi @keenla,

Thanks for writing to the group. I am going to close this issue because it does not bear directly on Payment Request.

I recommend checking out the Interledger Community Group:
 https://www.w3.org/community/interledger/

As well as the Web Monetization specification:
 https://interledger.org/rfcs/0028-web-monetization/

Ian

[2020-01-12 16:37] #893 closed, assigned to nobody

[2020-01-14 16:13] danyao commented on #890
Hi @janiceshiu Thanks for the contribution. Are you looking for a review or still working on this patch?

[2020-01-14 16:23] janiceshiu commented on #890
Hi @danyao! I'd first like to check with payment request spec maintainers that those terms are okay to export to be used by other specs. If it is okay, I can submit a PR that adds the relevant `data-export=""` attributes. If there is a better way to go about this, please let me know. Thanks!

[2020-01-15 17:34] danyao commented on #890
Ah got it. Thanks for the context!

I think it's fine to export the list you proposed.

[2020-01-17 16:07] ianbjacobs commented on #881
Hi @k2snowman69,

We are not currently working on a 3DS-specific payment method. Instead we've taken up SRC as an umbrella; see:
 https://github.com/w3c/src/wiki

I think this issue is mostly for us to track Web Authentication version 2 capabilities with respect to some use cases where PR API or authentication are called from iframes.

[2020-01-23 10:23] janiceshiu opened #895 "the user interface's language should not be derived from `the body element`"
From the payment request spec,
https://github.com/w3c/payment-request/blob/fe208dba28724d0a316bf706fbf39cc4414bd8f2/index.html#L1094-L1097
[The body element](https://html.spec.whatwg.org/multipage/dom.html#the-body-element-2)'s definition states "The body element of a document is the first of the html element's children that is either a body element or a frameset element, or null if there is no su

[2020-01-23 23:47] marcoscaceres commented on #895
Agree, we should drop this requirement as I don't think anyone implements this. It should just be noted that, by default, payment sheet will use the browser's default language.

In future version of the spec, we should add `{dir: "", lang: ""}` members to either the `PaymentDetailsInit` or to individual `PaymentItem`s. Not sure yet what the right level of granularity should be. I think we discusse

[2020-01-24 05:04] marcoscaceres commented on #895
Dug up:
- https://github.com/w3c/payment-request/issues/650
- https://github.com/w3c/payment-request/issues/327

[2020-01-24 05:50] marcoscaceres commented on #895
Sent PR: https://github.com/w3c/payment-request/pull/896

[2020-02-06 10:09] #890 closed, assigned to nobody

[2020-02-06 22:24] rrigoni opened #897 "Payment Method - BasicCardErrors.paymentMethod errors not being displayed"
Hi folks,

I'm trying to display payment method validation errors for each field.
The payment request is constructed as:

[code]

The errors in the retry promise are as follows: (dummy data)
[code]

PayerErrors appears in each field, but for paymentMethod it does not show anything. Only a general error message "There was an issue while trying to execute your order. Please try again.

I'm running o

[2020-02-07 15:47] rsolomakhin commented on #897
Hi @rrigoni , I've addressed your comment in https://github.com/rsolomakhin/rsolomakhin.github.io/issues/39#issuecomment-583462069. TL;DR: Chrome has not implemented the `paymentMethod` method for `retry()` yet.

[2020-02-07 18:49] maxlgu opened #898 "Expected behaviours: paymentmethodchange event updates with a rejection"
What's the expected behaviours should be if the paymentmethodchange event updates with a rejection? The following snippet demonstrates this scenario:

`request.addEventListener('paymentmethodchange', (event) => {
    event.updateWith(Promise.reject('Error for test'));
  });`

[2020-02-07 18:50] maxlgu commented on #898
CC @rsolomakhin

[2020-02-07 18:52] rsolomakhin commented on #898
According to the ancient sacred texts (https://rsolomakhin.github.io/pr/ko/reject-update/):

Let's do the same for payment method change event.

[2020-02-07 20:51] maxlgu commented on #898
I guess that mean the PH UI should be closed as well?

[2020-02-10 04:14] marcoscaceres commented on #897
Closing, as this is Chrome related(?). Please let me know if that's incorrect and I'll reopen.

[2020-02-10 04:14] #897 closed, assigned to nobody

[2020-02-12 01:10] marcoscaceres commented on #886
@aestes, when possible, please let me know if the above is ok 🙏.

[2020-02-12 03:53] #895 closed, assigned to nobody

[2020-03-04 20:32] sahel-sh opened #901 "Proposal to make the amount field in PaymentShippingOption optional"
The amount in [paymentshippingoption](https://www.w3.org/TR/payment-request/#dom-paymentshippingoption) dictionary is not always needed. For example when there is only one shipping option and it is free, or when the merchant chooses to include the shipping price in the label (e.g. $5 express delivery, free standard shipping, etc)

[2020-03-04 21:28] ianbjacobs commented on #901
Seems reasonable.

[2020-03-05 06:56] marcoscaceres commented on #901
Changing this might break backwards compatibility, so we'd have to work out a reasonable upgrade strategy if we do this.

I'm also worried that excluding the amount on the shipping option might be confusing for users: if the merchant excludes the amount, but then the total changes based on the selected shipping option after the user hits Pay, then users will get confused (leading to loss of trust

[2020-03-13 16:12] sahel-sh commented on #901
Thank you Marcos for your response

Would you please explain more about your backwards compatibility concern? Making this optional will not break merchant's using Payment Request APIs. It might break payment apps which support shipping delegation, but since delegation is a new feature, I am not aware of any apps which has implemented or are working on shipping delegation.

I think it should be mer

[2020-03-13 16:36] sahel-sh opened #902 "Proposal to add optional "description" string field to PaymentShippingOption dictionary"
Payment apps supporting shipping delegation and/or use agents can use the merchant provided description field to show more details about each shipping option upon user interaction (e.g. when user hovers over the shipping option label)

[2020-03-17 06:50] marcoscaceres commented on #902
@sahel-sh, sounds interesting. Could you expand a bit on what you are proposing? If possible, please provide some examples from a couple of websites or services or native apps.

[2020-03-25 21:18] sahel-sh commented on #902
Thanks Marcos for reviewing this!

As an example Gpay is using this field to provide more details about each shipping option to their users, and they would like to have this field in payment request/handler APIs as well.

Since the [shippingOptions](https://w3c.github.io/payment-handler/#shippingoptions-attribute) in PaymentRequestEvent comes from [payment details](https://www.w3.org/TR/payment-re

[2020-04-01 11:22] crowgames opened #903 "Discuss findings of security analysis"
Dear all!
I spent the last 6 months performing a formal security analysis of the current state of the Web Payment APIs as my Master's Thesis. You can find the report of the analysis attached to the issue.

Through that analysis 3 issues were observed.
1) An attack that resulted out of a faulty implementation of the retry mechanism in Chrome/an ambiguous definition of the retry mechanism in the spe

[2020-04-01 12:45] marcoscaceres commented on #903
wow! thanks @crowgames! I'm super excited to read your thesis - thanks for spending time on this.  We will do what we can do take your recommendations onboard. I see your thesis is ~80 pages, so might be help us speed things up if we break up the three things above into 3 separate issues.

Do you have time to be involved in those discussions? If you can summarize the problem AND your proposed solu

[2020-04-01 14:06] ianbjacobs commented on #903
Wow also from me! Thank you so much for doing this @crowgames and for sharing it with the group. I look forward to reading the thesis and improving the specification.

In related news, the Chrome team embarked on a privacy threat analysis; your feedback on this is also very welcome:
 https://w3c.github.io/webpayments/proposals/privacy-threat-model.html

I'll be sure to mention this to the Working

[2020-04-01 14:08] crowgames opened #904 "Clarification on payment handler selection in spec"
In my Masters' thesis, I found a set of issues with the Web Payment APIs (see #903 for further reference). This is one of the mentioned issues.

It is important that a user agent does not allow for a change of payment handler/method during a retry of a payment request (see #882).

Sadly the specification is not very clear concerning that fact.
The payment handler of a pymen request is selected in

[2020-04-01 14:15] crowgames opened #905 "Disallow ambiguous methodData declarations?"
In my Masters' thesis, I found a set of issues with the Web Payment APIs (see #903 for further reference). This is one of the mentioned issues.

The current specification allows for methodData declarations that have the following form:

[code]
Such an ambiguous methodData declaration (two different entries for a single payment method identifier), is not further discussed by the spec.
If a payment

[2020-04-01 14:33] crowgames opened #906 "Privacy considerations concerning shipping cost calculation"
In my Masters' thesis, I found a set of issues with the Web Payment APIs (see #903 for further reference). This is one of the mentioned issues.

My assumption is that a merchant is considered to be potentially untrustworthy until the payment intent is expressed through clicking on a "buy" button and the creation of the PaymentRequestEvent.

Currently, the mechanism of PaymentRequestUpdateEvents do

[2020-04-01 14:41] crowgames commented on #903
@marcoscaceres I did create the corresponding issues and will try my best to be as involved as possible. Due to a certain illness, chances are quite good.

@ianbjacobs Privacy is a huge aspect concerning the Web Payment APIs and I am very happy to see that it is actively being tackled! I will have a look at the document and get back to you concerning it.

Since there is no need for this issue bein

[2020-04-01 14:41] #903 closed, assigned to nobody

[2020-04-01 15:35] cyberphone commented on #903
Personally I think the root of the problem actually is the combination of personal information with payments.  These are separate issues.  The shipping part of `PaymentRequest` addresses a limited set of real-world cases (ad-hoc shopping on the Web) and only saves a single click or two compared to HTML's `autocomplete`.

Other privacy discussions I have seen over the years seem to overlook the fac

[2020-04-21 15:26] ianbjacobs commented on #905
Thanks @crowgames!

@rsolomakhin, @aestes, @marcoscaceres, @romandev do you have any thoughts on this? I hear some options are:

1) Adopt a last-one-wins approach as done with modifiers
   https://github.com/w3c/payment-request/pull/824
2) Throw an error
3) Leave as is. If so, what are the use cases that support this?
4) Other?

Thanks!

Ian

[2020-04-21 23:31] marcoscaceres commented on #905
Let's throw. I can't think of a use case for having multiple.

[2020-04-22 13:35] rsolomakhin opened #907 "Fix typo in code sample."
The code sample at https://w3c.github.io/payment-request/#example-6-constructing-a-paymentrequest has a `request.retry()` statement, but the `retry()` method is defined on the `PaymentResponse` object. So the code sample should replace `request.retry()` with `response.retry()`. Thank you, @agektmr, for pointing this out!

[2020-04-22 14:01] marcoscaceres commented on #907
Spec is ruined.

[2020-04-22 22:38] #907 closed, assigned to nobody

[2020-04-27 06:36] #853 closed, assigned to marcoscaceres

[2020-04-27 09:02] marcoscaceres commented on #906
Yeah, I think this would result in too many changes. Additionally, the shipping is might be fulfilled by a different company, so it might not be possible ahead of time what the shipping cost will be (unless all shipping options are known for every region).

We are working towards limiting the amount of information being shared as part of:
https://github.com/w3c/payment-request/pull/873

@crowgames

[2020-04-27 09:48] marcoscaceres commented on #901
Hi @sahel-sh! sorry, just coming back to this.

Right, my concern is breaking existing user agents: for example, right now, if Firefox or Safari or an outdated Chrome sees a shipping options without an amount, it would throw.

So we'd need some kind of upgrade strategy for "legacy browsers". You are correct that it wouldn't affect merchants, however.

Respectfully, including the price in the label

[2020-04-27 10:09] marcoscaceres commented on #902
I don't have any objections to adding this to the spec, but we'd probably want to get some more implementer buy-in (or payment handler buy-in). It's pretty trivial to add and pass along to a payment handler... so if it's of value, then I don't see any objection.

Folks following along a home - would love to hear some more expressions of support!

[2020-04-27 10:19] marcoscaceres commented on #902
Sent a PR for it https://github.com/w3c/payment-request/pull/910 - @sahel-sh, would appreciate your feedback!

[2020-04-27 10:24] rsolomakhin commented on #898
@maxlgu

Yes, cancelling the payment request should close the PH UI.

[2020-04-27 10:24] marcoscaceres commented on #898
@rsolomakhin, so this is not covered in the spec?

[2020-04-27 10:28] marcoscaceres commented on #898
Reading [update a PaymentRequest's details algorithm](https://w3c.github.io/payment-request/#dfn-update-a-paymentrequest-s-details-algorithm) ... I think we are ok here.

Which:

[2020-04-27 10:30] marcoscaceres commented on #898
Ok, cool.. closing. @maxlgu does the above make sense? Or did we miss something?

[2020-04-27 10:30] #898 closed, assigned to marcoscaceres, rsolomakhin

[2020-04-27 14:16] ianbjacobs commented on #905
@danyao and @rouslan, I think I heard today support for this. Could you +1? Thanks!

[2020-04-27 15:16] maxlgu commented on #898
That answers my question. Thanks!

[2020-04-28 09:47] agektmr opened #911 "Passing a transaction id to a payment request"
My understanding is a typical payment integration works like this:

0. A merchant server holds a key and a secret from the payment handler.
1. As a customer proceeds to checkout, the merchant sends a request to the backend.
2. The merchant server sends a signed request to the payment handler with the total price, reserves a transaction id and receives a payment URL to redirect the customer to.
3.

[2020-04-28 14:16] ianbjacobs commented on #911
Hi @agektmr,

The design intent was that the merchant could use 'id' is for a transaction id. When not provided, the user agent generates a UUID. It seems that the attribute is read-only.

Is your observation that there are use cases when the merchant might only know a transaction id after the initial construction? Could you say more about those use cases? Thanks!

Ian

[2020-04-29 07:04] agektmr commented on #911
I'm not aware of concrete use case of this, but I have seen somewhere that `detailsPromise` was defined so that a merchant can let the browser wait until they determine the total cost. This means  at the same time that the merchant won't know the transaction id until then. And the merchant has to be able to pass a transaction id along with the `PaymentDetails` object by resolving `detailsPromise`.

[2020-04-29 21:41] crowgames commented on #906
I'm finde eine with that reasoning.

[2020-04-29 22:03] #906 closed, assigned to marcoscaceres

[2020-05-02 09:45] Tom333Trinity commented on #905
[Memories](https://github.com/w3c/payment-handler/issues/335), like the corners of my mind . . .

@crowgames Please add that to your theseis references!

@ianbjacobs Why is it so hard?

[2020-05-03 05:53] cyberphone commented on #865
Let me finish this issue with a few remarks:
- Extending payment solutions based on native payment handlers need solutions that are compatible with the distribution method used for native applications.  That is, bringing in a `ServiceWorker` etc. is hardly a viable option.  In fact, many native payment solutions do "by design" not even have a domain concept permitting them to host multiple payment

[2020-05-04 18:32] maxlgu opened #912 "Make "total" and "details" optional"
### TL;DR
Given that when [Digital Goods API](https://github.com/WICG/digital-goods/blob/master/explainer.md) is used with PaymentRequest API, the total amount is unnecessary, we propose to make the “total” field optional in PaymentRequest API spec, along with a few consequent changes.

### Make “total” optional
The current PaymentRequest API requires the “total” field (of PaymentDetailsInit) to b

[2020-05-04 22:58] ianbjacobs commented on #912
cc @aestes, @marcoscaceres, @romandev

[2020-05-04 23:00] ianbjacobs commented on #911
@marcoscaceres, @rsolomakhin, @danyao, I am happy to write a pull request for an informative note to mention the use of id as a transaction identifier. Seem ok?
Ian

[2020-05-06 07:16] marcoscaceres commented on #912
Why not move `productId` into `PaymentDetails` instead? Then we can mandate that if `total` is missing, then `productId` must be there (as `productId` serves as substitute for `total`)?

[2020-05-06 07:21] marcoscaceres commented on #912
Underlying question here: would any other payment handler apart from Google Pay benefit from `productId`?

[2020-05-06 10:45] mgiuca commented on #912
Note: This isn't just for Google Pay, this is to support any provider using our (as yet woefully under-)proposed [Digital Product Management API](https://discourse.wicg.io/t/proposal-web-payments-digital-product-management-api/4350), which could be any digital purchasing backend. I'm planning to post more details of that in the next few days.

Given that, it may be a bit premature to change the Pa

[2020-05-06 22:23] danyao commented on #911
Adding an informative note about `id` in `PaymentDetailsInit` sounds good to me.\

This would involve adding `id` to `PaymentDetailsUpdate`. It seems OK, but I'd like to see evidence from a real world use case before we change the spec.

[2020-05-07 00:47] agektmr commented on #911
I thought `PaymentDetailsInit` is inherited by `PaymentDetailsUpdate` but it isn't. Then we need a spec change.
I'll work with the partner who might need this feature and see how I can provide evidence.

[2020-05-07 13:33] #911 closed, assigned to nobody

[2020-05-07 19:06] ianbjacobs commented on #912
Noting support from Visa for this proposal via the WG's mailing list:
 https://lists.w3.org/Archives/Public/public-payments-wg/2020May/0004.html

[2020-05-07 22:11] maxlgu commented on #912
@mgiuca , I would sit on this until DPM API solidifies.

[2020-05-08 23:18] danyao commented on #905
+1 to throwing. It seems to me that a well-formed request should never have this shape and it's pretty easy for a developer to detect if they accidentally create an error. So throwing seems the simplest way to handle it.

[2020-05-09 05:14] cyberphone opened #914 "Refactoring PaymentRequest"
`PaymentRequest` was primarily designed to offer:
- A standardized Web-based payment API for **Merchants**.
- Browser-generated lists of _matching payment alternatives_ for **Users** to select from.

In retrospect it has become evident that there are many "standards" in the payment world and there is rather little the W3C can do about that. In addition, most providers of mobile phone based payment

[2020-05-09 22:10] ianbjacobs commented on #914
This repo is for issues related to the Payment Request API. The proposal seems to address more general use cases that payments. For that reason, I am closing the issue in this repo.

I don't agree with this statement:

 "A drawback with the current PaymentRequest API is that it doesn't address the quite popular scenario where a mobile phone "wallet" is used to together with a Web application runni

[2020-05-09 22:10] #914 closed, assigned to nobody

[2020-05-10 04:35] cyberphone commented on #914
We should (all) be happy that the FIDO folks came up with a more engineered concept which doesn't require custom installations and user-specific configurations.

By mirroring the (for _practical purposes_) not standardized `PaymentRequest` API into a neutral "channel" API you can leverage already working payment handlers.

I'm slightly puzzled by the fact that **G-Pay** doesn't even support QR inv

[2020-05-11 00:44] mgiuca commented on #912
There's some confusion on a few threads about this that we would be relaxing the restriction across the board. @maxlgu I think you should update the proposal to be clearer that the individual payment processors can still mandate the total, but that this allows new payment processors to not require a total.

Here's the text of [my reply](https://lists.w3.org/Archives/Public/public-payments-wg/2020M

[2020-05-11 06:43] marcoscaceres commented on #905
Ok, proposed PR over at https://github.com/w3c/payment-request/pull/908

[2020-05-11 21:54] #904 closed, assigned to marcoscaceres

[2020-05-12 20:03] maxlgu commented on #912
@mgiuca , I've incorporated your words into the proposal. Thanks!

[2020-05-20 10:15] adrianhopebailie commented on #912
It seems unnecessary to use the PR API for Digital Goods Services in this way.

This change would mean the Payment Request API is no longer for payments but rather for purchases.

As I suggested in https://github.com/WICG/digital-goods/issues/5, I recommend adding a `purchase` method to the new API instead.

If it's important to invoke the payment flow of the digital goods service via PR API then

[2020-05-22 08:17] marcoscaceres commented on #871
@rsolomakhin, should we still do this?

[2020-05-22 08:23] marcoscaceres commented on #870
Making as "future feature candidate"... I'm still a bit unsure about what the exact requirements are here?

[2020-05-22 08:26] marcoscaceres commented on #861
Making as "Future Candidate Feature" - particularly as this is a regional difference/expectation and we might need to call that our (or actually add `quantity`) to deal with it.

[2020-05-22 08:30] marcoscaceres commented on #859
This seems payment handler specific... in that the payment handler itself would communicate with the bank and do the birthday check. The merchant could also do the "are you 18+?" check also, but it could happen "out of band".

[2020-05-22 08:30] #859 closed, assigned to nobody

[2020-05-22 09:31] rsolomakhin commented on #871
Let's put this in the ice box and possibly re-open in the future if the need arises.

[2020-05-22 09:31] #871 closed, assigned to rsolomakhin

[2020-05-22 09:44] rsolomakhin commented on #912
Could you please clarify your understanding of differences between payments and purchases? I think I've been working on the wrong API this whole time :-D

[2020-05-22 09:46] rsolomakhin commented on #912
That would give an impression to the web developer that the amount can be modified and is being passed to the payment handler. That is not the case, however, as these types of payment handlers use the product ID to lookup the price in their source of truth database.

[2020-05-25 14:11] #905 closed, assigned to marcoscaceres

[2020-06-02 17:26] sahel-sh commented on #901
Thanks @marcoscaceres for explaining.
The PH asking for this is no longer interested; Given the browser compatibility risk explained in the above comment and no interest from PHs, I will close the issue.

[2020-06-02 17:26] #901 closed, assigned to marcoscaceres

[2020-06-17 22:56] danyao opened #917 "Allow user activation to be delegated to a child frame to trigger request.show()"
Proxying a request from Stripe:
A lot of PSPs allow merchants to fully control the look-and-feel of the checkout flow, including the "pay" button. The PSP code is embedded inside an iframe and interacts with `PaymentRequest`. Since the current Payment Request API spec requires a user activation to trigger `request.show()`, the aforementioned flow is impossible to implement in a spec-compliant brow

[2020-06-17 22:56] danyao commented on #917
@hofman-stripe FYI

[2020-06-18 00:17] marcoscaceres commented on #917
I need to read https://github.com/whatwg/html/pull/4369, but I'm hopeful we we don't need to special-case `.show()`:

-> if click (activation) => iframe (feature policy or `allowpaymentrequest=true`) => postMessage({data}) => then a `.show()` should work, because the parent frame allowed it explicitly.

[2020-07-09 11:38] deltaone33usa3 opened #918 "check out"

[2020-07-09 13:30] #918 closed, assigned to nobody

[2020-07-22 20:46] mustaqahmed commented on #917
I think we would need to pass on a time-limited "webpayment token" after a user click anyways, through a `postMessage()` or whatever means.

This is because an iframe attribute (similarly a permissions/feature policy) is static in nature, and independent from the timing of a user interaction.  Without a time limited token, an iframe attribute could allow the iframe to `.show()` in only two possibl

[2020-07-23 06:20] marcoscaceres commented on #917
Interesting. Is there some concrete JS proposal of what that looks like?

[2020-07-23 14:25] mustaqahmed commented on #917
We have started looking into this, hoping to have a proposal soon.

[2020-08-08 18:02] eternalharvest commented on #837
I appreciate your work on improving PaymentRequest API.

In Japan, almost all names are represented in Kanji Character.
And, there is no rule to leaving space between family name and given name though some people do.
So, it is difficult to distinguish which is the family name or given name parts in problematically.

So Japanese EC sites has `familyName` and `givenName` fiels sepratedly.
These comp

[2020-08-09 01:03] xfq commented on #837
@eternalharvest See discussions in https://github.com/w3c/payment-request/issues/480

I agree that adding family names and given names is helpful to people in some regions, but I hope our design does not cause too much trouble for people in other regions (for example, we shouldn't assume the family name exists, since there are no family names in Mongolia).

[2020-08-09 19:08] eternalharvest commented on #480
@marcoscaceres
Thank u for telling me this discussion here.

I am native Japanese speaker.
I know there are deep-rooted problems there.

I don't want to consider about the meaning / structure of the name.
Indeed, I think simple specification is good too.

But, In Japan almost all people's names are represented in Kanji character like '山田太郎'.
The name '山田太郎' is composed from family-name '山田' and gi

[2020-08-14 09:24] agektmr commented on #837
Address object should be designed to cover as many countries as possible. I think current design is too western countries centric. That's why I proposed phonetic fields.
But to enhance the coverage of other countries, I believe the best way is to follow what more specialized standards are doing. `autocomplete` field in WhatWG is a good example. Since I found that they lack phonetic field support,

[2020-08-14 09:28] agektmr commented on #837
Let me tell this anecdote from one of our business partners:

[code]

[2020-08-28 14:05] ankushsapkal opened #923 "Payment sheet open in new tab when internet connection disconnect"
I have implemented W3c payment method.
but We are facing on issue.
- Scenario
1) Open payment sheet and disconnect internet connection
2) Click on continue button and check behavior.
you will get error message and close button
3) now connect internet connection back
4) click on close button you will get new  tab .
after that no any action happen on this.

Can you please help me why exactly happen

[2020-08-28 20:57] ianbjacobs commented on #923
Hi @ankushsapkal,

What browser are you using?
cc @rsolomakhin, @danyao

[2020-08-29 04:28] ankushsapkal commented on #923
Chrome browser ( supprted browser)

[2020-08-29 09:11] rsolomakhin commented on #923
Thank you for reaching out! This sounds like a bug report and we'd like more information, so I've filed https://crbug.com/1123271 for this. Could we please continue the discussion there? It should be OK to close this issue, since it's not about the specification.

[2020-08-29 09:11] #923 closed, assigned to nobody

[2020-08-29 09:46] ankushsapkal commented on #923
I already mentioned specifications . This issue is occurring on chrome browser it means support browser only. I tried with non supported browser but there is not occuring this issue no supported browser Firefox and Safari.

[2020-08-29 09:47] ankushsapkal commented on #923
I am not able to debug payment sheet on chrome browser that's why we didn't find solutions on chrome

[2020-08-29 10:00] rsolomakhin commented on #923
Thank you for the update! I've asked some extra follow up questions on https://crbug.com/1123271, which is a Chrome-specific bug tracker. Could you please respond at  https://crbug.com/1123271?

[2020-09-14 05:55] marcoscaceres opened #925 "Proposal: drop `allowpaymentrequest` attribute"
Current state of things:

 * Only Chrome implements and ships `allowpaymentrequest`. Safari never implemented it, and Firefox never shipped it outside of Nightly. Payment Request has been disabled for 2+ years in Firefox, and seems unlikely to ship as Mozilla lacks a backing Payment Handler implementation. Work on implementing Payment Handler was [put on hold](https://www.mail-archive.com/dev-plat

[2020-09-14 09:20] marcoscaceres opened #926 "Mark hasEnrolledInstrument() at risk?"
Following up on https://github.com/w3c/payment-request/pull/833, it seems `hasEnrolledInstrument()` only shipped in Chrome and never got implemented in Safari. We might need to follow up and see if we can get a second implementation.

[2020-09-14 09:23] marcoscaceres opened #927 "What should we do with MerchantValidationEvent?"
Right now, `MerchantValidationEvent` is a Safari only feature. Should `MerchantValidationEvent` be "at risk" or can we get a second implementation? There seemed to be some level of commitment on the Chrome side but seems it hasn't shipped:
https://bugs.chromium.org/p/chromium/issues/detail?id=867904

[2020-09-14 13:49] danyao commented on #925
+1

[2020-09-14 17:56] ianbjacobs commented on #927
Per some discussion: propose to mark as informative.

[2020-09-14 17:56] ianbjacobs commented on #925
+1

[2020-09-14 18:02] danyao commented on #925
Filed Chrome tracking bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1127988

[2020-09-15 08:56] marcoscaceres commented on #926
Proposal is now to remove `hasEnrolledInstrument()` from 1.0, then add it back in a 1.1 and again push for a second implementation. This would allow us to go to REC.

[2020-09-18 01:20] #925 closed, assigned to nobody

[2020-09-21 13:15] ianbjacobs commented on #842
Re-opening as part of discussion to go to Proposed Rec.

[2020-09-21 13:16] ianbjacobs commented on #927
Plan is to publish this feature as an independent Working Group Note.

[2020-09-21 21:03] ianbjacobs commented on #113
@adrianhopebailie, can we close this issue?

[2020-09-21 21:23] ianbjacobs commented on #327
@r12a, we have closed this issue. However, it is still marked as i18n-needs-resolution. Is it possible to remove that label? Thanks!

Ian

[2020-09-22 06:26] r12a commented on #327
@ianbjacobs please don't remove the label. It will not be picked up by the tooling that looks for unresolved issues prior to a transition.

Prompted by this, i added a paragraph at https://w3c.github.io/documentreview/#working_with_horizontal_review_labels about what to do with such labels when closing an issue. Thanks.

[2020-09-23 08:49] adrianhopebailie commented on #113
I think this is being dealt with in the secure payment confirmation experiment. Happy to close

[2020-09-23 08:49] #113 closed, assigned to nobody

[2020-09-24 04:30] cyberphone commented on #927
AFAIK, existing payment systems already perform merchant validation, albeit at the backend.

It is true that the user may indeed authorize a payment to a "bad" merchant but since the bad merchant won't be accepted by the backend systems, the user is not at risk.  Well, unless the payment handler leaks credit card data but then we are really talking about bad payment handlers.

Apple Pay requires m

[2020-09-24 05:57] #927 closed, assigned to nobody

[2020-09-25 20:27] mustaqahmed commented on #917
We just made a WICG [proposal](https://discourse.wicg.io/t/capability-delegation/4821) for [Capability Delegation](https://github.com/mustaqahmed/capability-delegation) which we believe would cover payment request as a special case.  Please let us know our thoughts.

[2020-10-05 13:07] #926 closed, assigned to nobody

[2020-10-12 15:00] pes10k commented on #842
Hi all, I was just wondering if there was an update on this issue, or if the WG could provide an update of where things stand.  thanks much!

[2020-10-12 18:20] EricMwobobia commented on #842
Great brainstorming on how to address the excess PII information . Any success in implementation? privacy wise this should be a great win for the end-users (customers paying via this feature).

[2020-10-12 23:45] ianbjacobs commented on #842
Hi @pes10K,

I believe there has been no change to this issue. I am not aware of implementation experience for pull request #873, nor plans to implement. This was discussed briefly at the WPWG's 17 September call:
 https://www.w3.org/2020/09/17-wpwg-minutes#item03

Ian

[2020-10-15 22:39] #886 closed, assigned to marcoscaceres

[2020-10-16 00:29] jcayzac opened #932 "Matching PaymentAddress fields to autofill attributes"
Hi,

There is no clear mapping between the fields of [`PaymentAddress`](https://w3c.github.io/payment-request/#physical-addresses) and the values accepted by the [`autocomplete`](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#autofill) attribute for shipping and billing addresses: `PaymentAddress` uses descriptive semantics while `autocomplete` leaves the semantics open to

[2020-10-16 15:15] ianbjacobs commented on #932
@marcoscaceres, @danyao, @rsolomakhin, @romandev, @aestes comments welcome!

[2020-10-16 17:10] rsolomakhin commented on #932
From the top of my head:

| PaymentAddress  | Autocomplete |
| ------------- | ------------- |
|  `recipient` | `name`  |
|  `organization` | `organization`  |
|  `addressLine` | `street-address`  |
| `dependentLocality`  | `address-level3`  |
|  `city` | `address-level2`  |
| `region  | `address-level1`  |
| `country`  | `country`  |
| `postalCode`  | `postal-code`  |
| `sortingCode`  | `postal-c

[2020-10-17 00:56] jcayzac commented on #932
@rsolomakhin Thank you very much!

Maybe this could be mentioned in a non-normative section of the spec.

[2020-10-17 01:04] jcayzac commented on #932
I'm French, and from experience address forms in France always enforce 5 digits for the postal code fields. I'm concerned that expecting the field to be made to accept CEDEX in payment handlers might not be entirely realistic.

[2020-10-17 01:12] jcayzac commented on #932
Just a small correction: the note actually says the `address-level2` field is reused, not the `postal-code` field.

Thanks!

[2020-10-18 22:35] mnoorenberghe commented on #932
As you said, `autocomplete` in the HTML spec varies by region so the mapping also varies by region. There isn't a single global mapping e.g. `address-level1` could be a `region` or `city`, `address-level2` could also be a (sub)-`region` or `city`, etc.

[2020-10-19 10:19] jcayzac commented on #932
Yeah…

In the context of a PWA using the Payment Handler API, the address input may rely on web forms annotated with `autocomplete=address-level3` etc…

Now, I am assuming that the reasoning behind fixing semantics in `PaymentAddress` is that since it is being consumed by a merchant it should not depend on the locale of either the end-user nor that of the payment handler, which kind of makes sense

[2020-11-04 11:56] SECtim opened #933 "Permissible data changes during a retry"
Hi! While reading up on @crowgames's findings about the retry mechanism (#882, #904), I was a bit confused by the following statement:

_Originally posted by @marcoscaceres in https://github.com/w3c/payment-request/issues/882#issuecomment-549197510_

My understanding would be that _"the things being retried"_ refers to the `errorFields` argument of `retry()`. This led me to [the description](https

[2020-11-10 08:04] marcoscaceres commented on #933
That is correct... say the user wants to ship something to post code "1234", but the merchant says, "Post code 1234 is not valid". The user realizes that the entire address is wrong, and because of that, they decide to pay with an entirely different card. That's totally ok.

Just to make sure we are on the same page, is the example I gave above what we should try to clarify in the spec?

[2020-11-10 09:25] SECtim commented on #933
Thanks for the response!

Ok, thanks for the clarification - that's the way I understood the spec as well.

No, I think that's clear from the spec (although an example might be helpful in making that more explicit). I was just confused/unsure about my understanding due to your comment in #882 that "One can only change the things being retried".

I.e., my understanding of the spec is that the user

[2020-11-16 13:04] #933 closed, assigned to marcoscaceres

[2020-12-06 09:34] ByteEater-pl commented on #617
Yea, definitely! A centralized registry won't be able to keep up with DeFi and proliferation of monetary units (whether you call them currencies or not) like cryptocurrencies, credits in barter systems, game currencies, currencies of new states and smaller territories or issuers not tied to some level of government (e.g. there used to be hundreds of privately issued currencies in USA and UK in the

[2020-12-06 21:07] kersov opened #935 "Google Pay disappears from payment methods list"
On some devices, Google Pay is not available in the Payment Request API even though it was added in the code. It was tested even with an example from https://developers.google.com/pay/api/web/guides/paymentrequest/tutorial .
Steps to reproduce:
1. write code for 2 payment methods: basic-credit and google pay;
2. test it on different devices;
Actual result: on some devices only basic-credit will be

[2020-12-07 16:05] ianbjacobs commented on #935
Hi @rsolomakhin, any thoughts on this?

[2020-12-07 18:10] rsolomakhin commented on #935
This is a long-standing behavior where just-in-time installable (not yet installed on device) apps are hidden from the user, if the user already has a different app (e.g., basic-card) available on their device. @danyao performed some experimentation in this area based on similar developer feedback. @danyao - what were the outcomes of these experiments?

@kersov - if you always want to see Google P

[2020-12-07 19:00] danyao commented on #935
The experiment fell off the priority list.

+1. This is the best workaround for now. @kersov Is it critical for your use case that `basic-card` and Google Pay are requested in a single request?

[2020-12-07 22:02] kersov commented on #935
Hi @rsolomakhin and @danyao,
Thank you for your answers.

For me, it just was not obvious why Google pay is available in some cases and in other cases is not. We are developing an extension for e-commerce sites that can be used with any combination of payment methods and as for me, it is better to show all possible payment options to customers so they will be able to choose. I suppose customers ex

[2020-12-08 12:43] rsolomakhin commented on #935
That is correct.

[2020-12-09 07:24] kersov commented on #935
Is there any other way to show two or more payment instruments? We may use some external payment methods or even create our own with Payment Handler API but we want the customer to see all of them even if they are not installed.

[2021-01-14 17:33] Sauski commented on #842
I think it’s worth revisiting this, to see if the changes proposed in PR #873 (support for requesting the entire address directly however removed) can be included in the earlier version of the specification.

It feels wrong to introduce a spec that reduces how good a good actor can be over the current state. If a site previously made the decision to limit the address data it attempted to collect t

[2021-01-15 12:21] Sauski opened #936 "Spec is silent on its role in facilitating arbitrary communication between top level contexts"
Based on my reading of the spec, a site is able to populate `PaymentMethodData.data` with arbitrary data, which is then passed to the Payment Handler. A web application based payment handler may receive this, and can respond with arbitrary data in `PaymentResponse.details`. Based on the [Payment Handler draft spec](https://www.w3.org/TR/payment-handler/#open-window-algorithm), a new top level cont

[2021-01-18 15:59] ianbjacobs commented on #936
Hi @Sauski,

Thank you for submitting this issue. Would a statement like the following be helpful in section 18.7?

[2021-01-21 16:48] danyao commented on #936
I agree with this assessment. We enumerated some of these weaknesses in the privacy threat model analysis [1] last year, and identified some mitigations, such as not allowing a payment handler to complete a transaction without user interaction. The next step will be to incorporate those mitigations into the spec.

[1] https://w3c.github.io/webpayments/proposals/privacy-threat-model.html

[2021-01-22 15:37] samuelweiler commented on #936
The first part, which identifies the problem, is helpful.

The second part, re: mitigations, needs to point to where those "browser features" are documented.  The mitigations need to specified in detail.  Ideally, I'd like those mitigations to be in this spec.  If you can make a case for them being different per payment handler, I'm fine with you pushing this out to them, but then this spec needs

[2021-01-22 16:01] ianbjacobs commented on #936
@samuelweiler,

How about something like this:

"Payment Request API intends to support a wide array of payment methods and corresponding data models. As a result, arbitrary data may be provided by the calling origin via PaymentMethodData.data to the origin of the payment app selected by the user. Similarly, data used to complete the transaction is returned from the selected payment app origin to

[2021-01-22 17:48] samuelweiler commented on #936
As the outsider, I'm not sure what is meant by "any specification that enables a payment app ecosystem".

Let's boil it down to concrete cases: where are the current protections, such a requiring gestures, documented?  Which specs mandate that?

[2021-01-22 18:00] ianbjacobs commented on #936
" where are the current protections, such a requiring gestures, documented? Which specs mandate that?"

I believe that mitigations that relate to Payment Request are currently in Payment Request. MItigations related to payment apps would be addressed in other specs.

[2021-01-22 18:08] samuelweiler commented on #936
Again, let's get concrete.  Could we have this section point to those mitigations elsewhere, by specific reference?

[2021-01-25 14:06] ianbjacobs commented on #936
Hi @samuelweiler,

The first sentence of 18.7 is: "The user agent MUST NOT share information about the user with a  developer (e.g., the shipping address) without user consent."

Here's a proposed paragraph to follow that one:

"In particular, the PaymentMethodData.data and PaymentResponse.details fields allow for the arbitrary exchange of
  data. In light of the wide range of data models used by

[2021-01-25 15:22] Sauski commented on #936
I'd would echo @samuelweiler's general concerns; we should be referring to concrete mitigations where available.

If I'm understanding correctly, @ianbjacobs, you're suggesting that the Payment Request API set the bar (at "adequate consent") for payment handlers to meet, _without_ referring to concrete mitigations.

Given that the specifications that would be required to meet this bar are earlier

[2021-01-25 15:59] ianbjacobs commented on #936
@Sauski,

I'd be happy to include both of those points as examples. For example:

"In particular, the PaymentMethodData.data and PaymentResponse.details fields allow for the arbitrary exchange of
data. In light of the wide range of data models used by existing payment methods, prescribing data specifics in this API
would limit its usefulness. PaymentResponse.details carries data from the payment h

[2021-01-25 17:37] samuelweiler commented on #842
@Sauski writes:

The phrase "gratuitous harm to privacy" comes to mind.  Thank you for giving this more voice, @Sauski.

[2021-01-25 18:32] samuelweiler commented on #936
It seems like we should pointing at [this solution](https://github.com/w3c/payment-handler/issues/351#issuecomment-566642121) which I hope has been documented somewhere in the Payment Handler API.

Maybe I'm missing a level of abstraction - do we expect the payment request API to point at anything other than **THE** payment handler API?  If not, then why not point to the concrete fix?

[2021-01-25 18:41] ianbjacobs commented on #936
Payment Requests today are answered in the following ways:

* Via Chrome directly (for the Basic Card implementation)
* Via Web-based payment handlers (via Payment Handler API)
* Via Android-specific mechanisms (for native Android payment apps)
* Via iOS-specific mechanisms (for Apple Pay)

Today there is no normative dependency from PR API on Payment Handler API. I don't think we should introduce

[2021-01-26 10:33] Sauski commented on #936
To round this out, based on the reactions to the [comment above](https://github.com/w3c/payment-request/issues/936#issuecomment-767029143) I think we've reached alignment.

Introducing a normative dependency from Payment Request API to the Payment Handler API is not the correct approach, and the [example additional text](https://github.com/w3c/payment-request/issues/936#issuecomment-766918305) pro

[2021-01-27 21:47] hofman-stripe commented on #936
One slight concern I have with the proposed wording is any assumption it makes on a feature (Payment Handler) which is not yet standardized. *If* we were to find a way to specify Payment Handlers in a way that data could be shared by the page with a handler before the user has expressed consent (e.g. to check for enrolled instrument), but prevent that handler to store or send any data anywhere (es

[2021-01-27 22:51] ianbjacobs commented on #936
Hi @hofman-stripe,

If we learn that this wording does not allow for a smart approach we had not considered, then we should adjust the wording. It sounds to me like you intend to satisfy the underlying goal of sharing data only with user consent.

Ian

[2021-01-29 22:01] danyao commented on #936
@hofman-stripe

IMHO, if we can ensure that the data shared with the handler never leaves the device, then it would satisfy the text. The challenge will be figuring out how to ensure the isolation, and that should be in scope for any design of payment handler technology, including Payment Handler API.

[2021-02-01 11:35] Sauski commented on #936
I agree with @danyao. If it isn't possible to determine off-device that any action has occurred, then there hasn't been a transfer of data between parties and gathering _consent to the transfer of data between parties_ is probably not required (depending on the specifics, other consents may of course be applicable).

I also agree that this is a concern for particular payment handlers to address. I

[2021-02-04 21:38] #936 closed, assigned to nobody

[2021-02-09 00:13] danyao opened #939 "Split shipping address from Payment Request API 1.0"
Payment Request API currently specifies a [standardized interface](https://w3c.github.io/payment-request/#dom-paymentoptions) for merchants to request shipping and contact information from payment methods. However, [Basic-Card](https://w3c.github.io/payment-method-basic-card/) is the only payment method that supports this interface. The two other payment methods in production, [Apple Pay](https://

[2021-02-11 04:17] ricardo commented on #842
Hi everyone.

I thought I'd just add another use case here, because this seems to impact a lot of merchants using our WooCommerce Apple Pay implementation right now.

Currently, Apple Pay provides the merchants with only the first three characters of the ZIP code in the UK and Canada (e.g "SK1") when calculating the shipping methods. - The problem is that some merchants have wildcard postcodes (e.

[2021-02-15 09:41] marcoscaceres commented on #939
Hi @danyao, you are correct on your description of support. However, I did some testing and `requestShipping: true | false` is supported by ApplePay over PR API. However, you are absolutely correct in that one can use `requiredShippingContactFields: ["postalAddress"]` to request a shipping address via ApplePay (and bypass/override `requestShipping` entirely).

This puts us in a awkward situation i

[2021-02-17 21:02] mustaqahmed commented on #917
An initial implementation of the API is now available in latest Chrome Canary for testing. To try this, run Chrome 90.0.4414.0 or newer with the command-line flag `--enable-blink-features=CapabilityDelegationPaymentRequest`, then open [this
demo](https://mustaqahmed.github.io/capability-delegation/example/payment-request/).

[2021-02-17 21:06] danyao commented on #917
This is exciting! ^^^ @hofman-stripe FYI

[2021-02-18 05:59] marcoscaceres commented on #932
Noting duplicate of #505.

[2021-02-18 06:01] marcoscaceres commented on #505
Closing in favor of https://github.com/w3c/contact-picker/issues/71

[2021-02-18 06:01] #505 closed, assigned to marcoscaceres

[2021-03-15 16:12] aphillips opened #940 "ISO 3166 typo"
https://www.w3.org/TR/2020/CR-payment-request-20201203/#dependencies

The dependency on ISO 3166 is misspelled as ISO 3366 (I assume you don't want a standard for coated abrasives??)

[2021-03-15 16:20] ianbjacobs commented on #940
Hi @aphillips,

Thanks for catching this. I'll share the bad news with the Coated Abrasives CG.

Ian

[2021-03-15 16:25] aphillips commented on #940
@ianbjacobs No worries. I18N's review will be wrapped up shortly--plenty for us to discuss in there. You might wish for some coated abrasives at that point....😛

[2021-03-16 00:24] #940 closed, assigned to nobody

[2021-03-31 14:34] samuelweiler opened #945 "Update reference for ISO 3166-2:2013"
ISO 3166-2:2013 has been updated.  See https://www.iso.org/standard/63546.html

Presumably the reference should be updated?

[2021-03-31 14:38] aphillips opened #946 "Missing language/locale negotiation mechanism"
(throughout the spec, some examples follow)
https://www.w3.org/TR/2020/CR-payment-request-20201203/#payererrors-dictionary
https://www.w3.org/TR/2020/CR-payment-request-20201203/#paymentshippingoption-dictionary
https://www.w3.org/TR/2020/CR-payment-request-20201203/#show-method

Throughout the payment-request spec we note that natural language text values are returned. In our teleconference of 20

[2021-03-31 14:41] samuelweiler opened #947 "Use different example of ISO country subdivision code?"
From the Note in [section 11.1](https://w3c.github.io/payment-request/#paymentaddress-interface):

As the casual reader, I wondered "doesn't this clash with CA=Canada?".  It looks like the 3166-2 codes are expressed as, for example, US-CA. (And I could be wrong about this understanding.)

In any case, perhaps picking a different example, one that doesn't clash with a well-known 3166-1 code, would

[2021-03-31 16:07] aphillips opened #948 "Localization and string metadata for descriptions"
2.2 Describing what is being paid for
https://www.w3.org/TR/2020/CR-payment-request-20201203/#describing-what-is-being-paid-for

Example 2 contains this:
[code]

The value `label` contains natural language text with no language metadata or base direction information. The same usage is found in other example sections that follow. I18N recommends that there be a means of providing this metadata so t

[2021-03-31 16:13] aphillips opened #949 "ISO 4217 note commentary"
5. PaymentCurrencyAmount dictionary
https://www.w3.org/TR/2020/CR-payment-request-20201203/#paymentcurrencyamount-dictionary

I18N discussed this in our teleconference of 2021-03-25. Generally, we think that Web Payments's liaison with 4217's RA is the right course of action. The only callout here is that this note might encourage implementers to consider non-standard/private-use "de facto" curren

[2021-03-31 16:16] aphillips opened #950 "Non-US examples"
(general)
https://www.w3.org/TR/2020/CR-payment-request-20201203

The examples in the spec use USD consistently as the currency and are otherwise somewhat USA-centric. All of the example text is in English (e.g. `Card processing fee`). While using English as a lingua franca promotes clarity and understanding, it is a good idea to be more inclusive in the examples.

As an aside, there are many non-

[2021-03-31 16:18] aphillips opened #951 "Localizability of errors"
6.3 PaymentDetailsUpdate dictionary
https://www.w3.org/TR/2020/CR-payment-request-20201203/#paymentdetailsupdate-dictionary

There appears to be no language/direction metadata associated with this error message, nor a way to localize the message.

(also found in various places in the spec wherever DOMString `error` appears, for example [here](https://www.w3.org/TR/2020/CR-payment-request-20201203/

[2021-03-31 16:22] aphillips opened #952 "Note about localization of payment sheet"
3.3 show() method
https://www.w3.org/TR/2020/CR-payment-request-20201203/#show-method

(Found in NOTE under item # 18):

This issue is a specific example of #946

The user agent's default language and the language of the rendering site or host page might not match. Usually items shown as part of the payment-initiating customer experience should match the language and locale of that experience. Def

[2021-03-31 16:29] aphillips commented on #948
I'm going to add w3c/i18n-activity#1359 and w3c/i18n-activity#1357 as additional examples to this issue instead of cluttering your repo with additional specific issues. I've replicated the text of these issues in this comment.

----
14.1.2 PayerErrors dictionary
https://www.w3.org/TR/2020/CR-payment-request-20201203/#payererrors-dictionary

[code]

Example 13 shows the payer errors dictionary bein

[2021-03-31 16:39] samuelweiler commented on #939
#842 also covers billing address.  As I said in https://github.com/w3c/payment-request/issues/842#issuecomment-468355050, I've seen cases in the wild (in the US) where merchants ask for only postcode for fraud prevention. In https://github.com/w3c/payment-request/issues/842#issuecomment-469536532 @marcoscaceres observes that billing addresses are (sometimes) used for tax computation, which brings

[2021-03-31 20:23] marcoscaceres commented on #939
Presumedly they would use HTML forms or proprietary means (like ApplePay does). @samuelweiler, see my comment above about the proprietary  "requiredShippingContactFields" used by ApplePay.

[2021-03-31 20:38] samuelweiler commented on #939
@marcoscaceres thanks.  The forms answer makes sense to me.  I'm less clear about what happens in the ApplePay case (or, presumably, any case where this negotiation is being pushed to the payment method).   Maybe I'm still confused from the block diagram Ian offered.  It showed the _only_ channel between the merchant and browser being the Payment Request API.

Which leaves me with:  "If this chang

[2021-03-31 21:12] ianbjacobs commented on #939
@samuelweiler,

The diagram I shared intended to show where PR API resides with relationship to entities in the payments ecosystem. It did not intend to suggest that it was the only communications channel. As @marcoscaceres indicates, the merchant (or their PSP) can use HTML. I assume that is how the merchant would iteratively request shipping or other information from the user.

[2021-03-31 22:34] marcoscaceres commented on #939
None through Payment Request. One can use a HTML form + the `autocomplete` attribute.

As above.

[2021-03-31 23:13] ianbjacobs commented on #939
@danyao, what do you think of removing billing address support as well?

Ian

[2021-04-19 21:27] ianbjacobs commented on #950
@aphillips, you are correct that #943 attempts to address this; please let us know if that closes this issue. Thanks!
Ian

[2021-04-19 23:35] #947 closed, assigned to nobody

[2021-04-20 00:02] ianbjacobs commented on #949
Hi @aphillips,

@marcoscaceres and I feel the specification here is not encouraging any particular behavior, only citing the problem.

Is there a concrete change you would suggest? Thank you,
Ian

[2021-04-20 06:09] marcoscaceres commented on #945
Fixed via https://github.com/tobie/specref/pull/649

[2021-04-20 06:09] #945 closed, assigned to nobody

[2021-04-20 17:10] aphillips commented on #949
I suppose I could suggest that some text be added discouraging implementers from "going off the ranch" and implementing non-standard workarounds... but I think that's probably overkill. I think you can resolve this comment.

[2021-04-20 17:17] ianbjacobs commented on #949
Thanks @aphillips!

[2021-04-20 20:42] ianbjacobs commented on #949
@aphillips or @r12a, do I remove the "i18n-needs-resolution" label or do you do that (based on Addison's response earlier today)?

[2021-04-20 21:05] aphillips commented on #949
No, do not remove the label: PLH's tools use it to track resolution (and so do we). You can otherwise treat this as a normal issue (closing it when done, for example). See: https://www.w3.org/Guide/documentreview/#working_with_horizontal_review_labels

We track your progress in our repo (in this case, in i18n-activity#1045) and will resolve our issue. When you reach CR, if all of our issues are cl

[2021-04-21 05:22] marcoscaceres commented on #949
closing as resolved.

[2021-04-21 05:22] #949 closed, assigned to nobody

[2021-04-21 06:30] marcoscaceres commented on #952
Was possibly addressed by https://github.com/w3c/payment-request/pull/944 ... will leave for i18n folks to close.

[2021-04-21 15:21] danyao commented on #939
Yeah I think we should remove billing address support as well.

The only "support" for billing address in Payment Request API is the [requestBillingAddress](https://w3c.github.io/payment-request/#paymentoptions-dictionary) bit in `PaymentOptions`. The interpretation of this bit is delegated to the selected payment app, which returns the billing address via the method-specific [details](https://w3c

[2021-04-21 17:18] rsolomakhin commented on #939
For the sake of completeness, I'm assuming that contact details (phone, email, name) are also being removed.

[2021-04-22 00:44] marcoscaceres commented on #950
closed via 93767b767d711e99c5de11f1d230d4e55d58092c

[2021-04-22 00:44] #950 closed, assigned to nobody

[2021-04-26 22:56] aphillips commented on #952
I am satisfied by #944.

[2021-04-27 00:26] #952 closed, assigned to nobody

[2021-05-05 06:01] marcoscaceres commented on #935
Closing as this is a browser bug, not a spec bug

[2021-05-05 06:01] #935 closed, assigned to nobody

[2021-05-07 05:25] #480 closed

[2021-05-07 05:25] #677 closed

[2021-05-07 05:25] #837 closed

[2021-05-07 05:25] #932 closed

[2021-05-07 06:54] duerst commented on #842
@marcoscaceres Any information on why this was closed?

[2021-05-07 12:51] ianbjacobs commented on #842
Hi @duerst,

We removed support for addresses in the API (itself). Addresses may still be supported in private payment method data, but there are no longer any explicit API features for them.

[2021-05-18 13:48] samuelweiler commented on #842
Pushing addresses out of the standard and into something not standardized is not a particularly satisfying answer - the privacy harm (potentially) remains the same, even though it has moved.  That said, with it removed from this spec, I concur that this issue should be closed.

[2021-05-20 02:41] #327 closed, assigned to marcoscaceres

[2021-05-20 03:58] marcoscaceres commented on #951
Based on https://github.com/w3c/payment-request/pull/956, leaving this open to address in a future version of the spec.

@aphillips, for our records, could you please indicate if i18n is satisfied with this course of action? - and if so, remove the "i18n-needs-resolution" label.

Please add any other labels the i18n WG needs to track this going forward.

[2021-05-20 03:59] marcoscaceres commented on #948
Based on https://github.com/w3c/payment-request/pull/956, leaving this open to address in a future version of the spec.

@aphillips, for our records, could you please indicate if i18n is satisfied with this course of action?

Please add any other labels the i18n WG needs to track this going forward.

[2021-05-20 03:59] marcoscaceres commented on #946
Based on https://github.com/w3c/payment-request/pull/956, leaving this open to address in a future version of the spec.

@aphillips, for our records, could you please indicate if i18n is satisfied with this course of action? - and if so, remove the "i18n-needs-resolution" label.

Please add any other labels the i18n WG needs to track this going forward.

[2021-05-20 15:56] aphillips commented on #946
**I am satisfied by the current resolution.**

Please do not remove the "i18n-needs-resolution" label. Closing the issue is sufficient (we then close our matching issue to indicate satisfaction). If you want to keep this open for "future", that's okay too. Basically the label informs PLH's tracking tool which issues were from HR and it lets us keep track of our issues. Any open issues will actuall

[2021-05-20 16:16] ianbjacobs commented on #946
Sounds like the simplest is to close the issue here; thank you @aphillips

[2021-05-20 16:16] #946 closed, assigned to nobody

[2021-05-21 08:53] r12a commented on #951
(Just a process point: We don't ever remove the -needs-resolution labels.  The transition looks for tracker issues in the i18n WG repo that are still open and have -needs-resolution labels.  So the normal process just involves closing the issue (both here and in the i18n tracking repo) when resolved.  This btw enables us to easily see which issues were raised by the i18n WG, even after closure. We

[2021-05-21 08:57] marcoscaceres commented on #951
Thanks @r12a for clarifying. We were a bit unsure.

[2021-05-21 09:05] r12a commented on #951
@marcoscaceres here's the place to find guidance on that: https://www.w3.org/Guide/documentreview/#working_with_horizontal_review_labels

That page is linked from The Guide under 'Wide Review', and is the place you should start when you want any information about how wide/horizontal reviews are done.  We tried to consolidate all the WG-related guidance we could find into that one page, or link to

[2021-05-22 07:50] xfq commented on #948
Note that we don't remove the `-needs-resolution` label even if the WG issue is closed or deferred to the next version, because it is easier to see which issues were raised by the i18n WG.

See https://www.w3.org/Guide/documentreview/#working_with_horizontal_review_labels for more information.

[2021-05-24 02:48] marcoscaceres commented on #951
Thanks @r12a! I wasn't aware of that document. That's super helpful.

[2021-05-24 02:50] marcoscaceres commented on #948
Thanks @xfq. I've updated my comment above.

[2021-06-03 20:19] mustaqahmed commented on #917
Capability delegation spec now has a monkey-patch to this (Payment Request) spec to support delegation, see [here](https://wicg.github.io/capability-delegation/spec.html#monkey-patch-to-payment-req).  Please file issues in [that repository](https://github.com/WICG/capability-delegation/issues/) with any suggestions/questions, we need to make the spec as complete as possible before we kick off a TA

[2021-06-04 04:37] marcoscaceres commented on #917
@mustaqahmed, the patch looks good. Thanks for doing that. Please keep us up to date on DELEGATED_CAPABILITY_TIMESTAMPS landing in HTML.

[2021-06-07 13:54] mustaqahmed commented on #917
I will!  Thanks for the quick review.  Our plan now is to update the draft with more specific HTML changes and then send out for TAG review.

[2021-06-07 14:34] rsolomakhin commented on #948
[WebAuthn spec](https://www.w3.org/TR/webauthn-2/#sctn-strings-langdir) encodes the language code and text direction into the string itself using unicode. Is that a common practice that we could use here?

[2021-06-15 12:10] Dew0Tgx commented on #705
async function doPaymentRequest() {
  const request = new PaymentRequest(methodData, details, options);
  const response = await request.show();
  const validator = new Validator(); // user code
  // collect any errors from response
  const {
    shippingAddressErrors,
    payerErrors,
    paymentMethodErrors, // <- needs exploration.
  } = await validator.validateResponse(response);
  // Ok, we g

[2021-06-21 22:08] ianbjacobs commented on #881
Closing this in light of work on SPC. We can reopen if needed.

[2021-06-21 22:08] #881 closed, assigned to nobody

[2021-06-21 22:08] ianbjacobs commented on #772
Closing this given our current emphasis on SPC.

[2021-06-21 22:08] #772 closed, assigned to nobody

[2021-07-01 04:03] marcoscaceres commented on #948
wait! what?!?!?! no 🤦‍♀️.

[2021-07-01 07:56] r12a commented on #948
The i18n WG will be looking into that section in the WebAuthn spec, which seems to have been added without our review.  On first sight it appears to contain many issues.  Please don't copy the approach until we have had time to look more closely.

[2021-08-19 16:53] stephenmcgruer commented on #917
Noting here (where PaymentRequest folks are likely to be listening) that @mustaqahmed has raised a question about the expected lifespan of a delegated payment capability in https://github.com/WICG/capability-delegation/issues/8

I suggested the current transient activation duration seemed correct, to align with the user expectation of 'I clicked and then a thing happened', but input from others is

[2021-08-19 17:12] rsolomakhin commented on #917
Sometimes there can be a requirement to perform a server round trip to retrieve the most up to date price, for example. PaymentRequest.show() handles that requirement by allowing a promise for updated payment details to be passed into show() as an optional parameter. Therefore, there is no need to account for such a delay in capability delegation API.

[2021-08-28 02:41] jaexsb opened #964 "Blue acorn/préstamos cdfi, llc"
![8458C096-805C-45DD-80EB-ED8DE4F368B2](https://user-images.githubusercontent.com/73856917/131203797-3da80c84-cc8b-4dc6-a5eb-d00ff1db74c5.jpeg)
![A6845005-9B2B-455D-89DF-BD0E6E289174](https://user-images.githubusercontent.com/73856917/131203802-cb89ef24-b8d9-4c3c-9f60-93afdb662b27.jpeg)
![4B2DEB58-536A-4BA8-854E-CB0F09508D46](https://user-images.githubusercontent.com/73856917/131203803-fe57b8c8-c8

[2021-08-28 02:46] jaexsb commented on #964
I’ve got PLENTY more evidence to go along with what’s there, like applications, communicaes, and 1 legally binding PPP contract for a $2,745 loss as n from préstamos on behalf of blue acorn.
let me know, I’ll arrange some wallet-sized…

[2021-08-28 02:53] #964 closed

[2021-09-04 09:01] marcoscaceres commented on #641
closing, as priv/sec review are complete.

[2021-09-04 09:01] #641 closed, assigned to nobody

[2021-09-07 04:18] marcoscaceres commented on #650
Marking as future candidate feature. After review from the i18n folks, decided to defer this to after we go to REC.

[2021-09-09 18:05] aphillips commented on #948
We are continuing to work with webAuthn on correcting their metadata encoding mechanism--a mechanism we do *not* recommend be used anywhere else. In reviewing these issues as part of your pending CR request, I think this has to be regarded as a duplicate of #327. Since these issues remain unaddressed in the pending CR (@marcoscaceres's changes were backed out or not included in the spec), I can't

[2021-09-09 19:07] ianbjacobs commented on #948
Hi @aphillips,

Following our previous discussion we added this note to the spec:
https://github.com/w3c/payment-request/pull/956

That note is in the current draft for which we've requested advancement to Proposed Rec.

It was my understanding from previous conversations that this note was sufficient for v1,
and we'd return to the question post v1. I recall that there was shared agreement that
we

[2021-09-09 20:30] aphillips commented on #948
There are really two problems here. One is the lack of a language negotiation mechanism (which is what PR#956 seems to be about??), which we all agree it out of scope for v1. In your email about "Preparing to advance PR API 1.0 to Candidate Rec" you reviewed all of the open issues (thanks for that!) you called out:

[code]

(Notice that my response focuses on the localization mechanism)

The other

[2021-09-10 04:12] marcoscaceres commented on #948
That's correct. I was banking on us solving this at the platform level, via WebIDL (or Infra). We have this same problem everywhere we use dictionaries like this, so I'd like us to solve this for the whole platform.

That would be issue:
https://github.com/w3c/string-meta/issues/54

And something we take to WebIDL.

[2021-09-23 19:56] maxlgu opened #965 "Remove "standardized payment method identifier" content"
This passage is outdated because basic-card has been deprecated.

"Each standardized payment method identifier defines its own unique IDL dictionary for use with the details attribute. The shape of this data (i.e., its members and their corresponding types and formats) differs depending on which standardized payment method identifier is selected by the end user."

[2021-09-23 19:56] maxlgu commented on #965
@rsolomakhin

[2021-09-23 20:10] ianbjacobs commented on #965
I note that SPC is currently implemented as a standardized payment method, so the passage may not yet be outdated.

[2021-09-23 20:28] rsolomakhin commented on #965
@ianbjacobs is correct. Let's keep this paragraph.

[2021-09-23 20:28] #965 closed, assigned to nobody

[2021-09-30 10:54] semcelik opened #967 "window.PaymentRequest returns undefined randomly"
Hello,
I have implemented PaymentRequest api to receive payments via Apple Pay on safari browsers. I have realised that sometimes `window.PaymentRequest` returns undefined randomly. It is very hard to reproduce it randomly happens.  When i try to reproduce that on same browser (in different incognito windows) it returns correctly. Is there any reason for that? Or how can i fixed that issue? You ca

[2021-09-30 11:32] r12a commented on #948
The note after bullet point 18 at https://www.w3.org/TR/payment-request/#show-method is a step in the right direction (thank you), but it munges these two things together in a way that is unclear.  Here is a proposal for 2 separate notes, that describe the 2 issues.  Since you appear to be in a hurry, i am posting some suggested text now, before the i18n WG has a chance to review it, but i will as

[2021-09-30 13:19] ianbjacobs commented on #948
Hi @r12a,

First, thank you.

We published the proposed recs today. I am very supportive of integrating helpful notes (with support from the Director) in the Recommendation. Thus, there is some time for the I18N WG to review the proposal. Please let us know here if there is support from the WG, and I'll work with the editors to incorporate after Proposed Rec reviews.

[2021-09-30 13:59] stephenmcgruer commented on #967
If I understand correctly, this is actually a bug report against an implementation of PaymentRequest, in Safari, and as such the appropriate place to file a bug would be https://bugs.webkit.org/ rather than the spec repository. As such, I'm going to close this issue.

That said, my immediate suspicion would be that PaymentRequest is HTTPS-only, and perhaps you're testing on a devtools connected to

[2021-09-30 13:59] #967 closed, assigned to nobody

[2021-09-30 21:04] zcorpan opened #969 "Use "registrable domain" instead of "eTLD+1""
https://w3c.github.io/payment-request/#canmakepayment-protections

eTLD+1 is now defined as "registrable domain" in the URL spec:

https://url.spec.whatwg.org/#host-registrable-domain

Also, some other terms in the quoted text could link to the defined term (top-level browsing context, origin).

[2021-11-06 10:48] sarekh opened #974 "Istanbul"

[2021-11-06 18:03] #974 closed, assigned to nobody

[2021-11-06 18:04] ianbjacobs commented on #951
@aphillips, with the adoption of #971, do you remove the needs resolution label?

[2021-11-06 18:04] ianbjacobs commented on #948
@aphillips, with the adoption of #971, do you remove the needs resolution label?

[2021-11-06 23:13] r12a commented on #948
@ianbjacobs  i just closed our tracker issue, so that should fix it.

[2021-11-06 23:14] #951 closed, assigned to nobody

[2021-11-14 23:35] marcoscaceres opened #975 "Custom .data validation during construction of PaymentRequest"
WebKit is interested in adding something along these lines.

For Apple Pay specifically, we require that a `unsigned long version` is provided as part of the `object data` in `PaymentMethodData` that corresponds to the desired [supported Apple Pay version](https://developer.apple.com/documentation/apple_pay_on_the_web/apple_pay_on_the_web_version_history).  Currently, we suggest that developers us

[2021-11-14 23:47] marcoscaceres commented on #975
Proposed solution: https://github.com/w3c/payment-request/pull/976

[2021-11-20 07:09] alexanderramos89 opened #979 "Mine"

[2021-11-20 12:37] #979 closed, assigned to nobody

[2021-12-08 02:41] #969 closed, assigned to marcoscaceres

[2021-12-16 23:49] dcrousso opened #981 "Allow custom data for the active payment method to be provided to `PaymentResponse.prototype.complete`"
It'd be great for there to be a standardized way for developers/merchants to provide data back to the `PaymentRequest` after it's been accepted.  This would allow additional information to be provided back to the underlying platform payment method handler/UI.

I was thinking it'd be something like this:
[code]
or maybe even just
[code]

Alternatively, we maybe might want to wrap the `PaymentComple

[2021-12-17 07:35] cyberphone commented on #981
Hi @dcrousso,
As one of probably very few users of **PaymentRequest** (for Android only since iOS does not support custom payment applications), I came up with a similar need but different solution.  The `retry()` method may be useful but in my case there is a pretty sophisticated wallet which only uses the `PaymentResponse`  for navigation to a success page or back to a payment selection page (du

[2022-01-03 15:55] nickjshearer commented on #981
I prefer

[code]

…because we’d preserve backwards compat fairly easily.

[2022-01-05 00:46] marcoscaceres commented on #981
@dcrousso, all, I'll pick this up the week of the 17th when I'm back from vacation.

[2022-01-19 04:56] marcoscaceres commented on #981
Random observations:

1. If passing the `PaymentMethodData` to the payment sheet via `.complete()` is critical for this use case, then we should do the overload (i.e., no backwards compat, force a promise rejection).
2. If 1 is not critical, then extending the method signature with a second argument is the way to go. Having said that, it maybe safer to just do the second argument, then developers

[2022-01-19 06:15] dcrousso commented on #981
Yeah 1 is not critical, so 2 makes the most sense.  3 is a good point.  I think having `dictionary PaymentCompleteDetails` is a good idea :)

[2022-01-19 06:21] cyberphone commented on #981
Hi Guys,
Being an application developer I don't think in IDL but in JavaScript.  Anyway, would it be possible describing a possible use case a little bit more?  I don't understand the flow.

Is the Merchant supposed to send down additional information to the payment handler?  How would the Merchant know that such information is required without first have gotten some piece of information from the

[2022-01-19 07:52] marcoscaceres commented on #981
Sure, let me try to explain.

Let's say http://marcospay.com lets  a merchant complete a payment in the following way (this example is deliberately silly, but stay with me):

[code]

By virtue that you've signed up with "marcospay". Marcospay's documentation tells you about passing "party-town" and what it does.

[code]

That would fundamentally change the API and we would need a whole new design.

[2022-01-19 08:10] cyberphone commented on #981
Thanx, now it became considerably clearer!

I must though admit that I don't fully understand the motivation since a normal payment application (in a Web context NB...), would rather return with a message from the Merchant.  In addition, this kind of information can be provided in https://www.w3.org/TR/payment-request/#dom-paymentmethoddata

[2022-01-19 08:25] marcoscaceres commented on #981
@dcrousso, I've put up a draft at https://github.com/w3c/payment-request/pull/982

Please see the issue around exceptions... would like to discuss what to do there with you over in the pull request.

[2022-01-19 08:32] marcoscaceres commented on #981
@cyberphone wrote:

The addition `.data` is dependent on how the payment is to `.complete()`: "success", "failure", "unknown". So, it may not possible to know what the `.data` might be  before the merchant calls `.complete()`... otherwise, the merchant would need to pass every possible `.data` for every possible completion type.

That would be super ugly:

[code]

[2022-01-19 09:35] cyberphone commented on #981
This looks pretty hypothetical but presumably Apple has a valid use case.  I guess it is secret 🙃

The need for playing a _merchant specified_ (but still predefined) melody or something like that for "failure" is not entirely apparent.

My payment application/handler requires a much more potent mechanism as outlined in: https://github.com/w3c/payment-request/issues/981#issuecomment-996500857
It is

[2022-01-19 19:26] cyberphone commented on #981
Since the "sheet" never got any traction, adding data during initialization seems like a useful method with the API "as is".

However, don't let me discourage you from introducing this feature.  I'm just a grumpy old platform nerd who don't change things unless it is proven to be necessary 🤓  But it is also possible that Apple had something quite different in mind with their proposal.

This is a m

[2022-02-21 05:12] DevendraDev opened #984 ".hasEnrolledInstrument() throws exception "NotAllowedError: Exceeded query quota for hasEnrolledInstrument""
In one browser session we are only allowed to make hasEnrolledInstrument() api call for one payment method
i.e. if we make hasEnrolledInstrument api call for **some payment app** (this gives proper result) and then do the hasEnrolledInstrument api call for **some other payment app** it will throw exception with below error.
NotAllowedError: Exceeded query quota for hasEnrolledInstrument

First we

[2022-02-22 14:07] rsolomakhin commented on #984
Sounds like an issue being filed against Chrome. I'm moving it to https://crbug.com/1299767. Please add Chrome version and a possible minimal reproduction demo page to that bug report.

[2022-02-22 14:07] #984 closed, assigned to nobody

[2022-06-22 06:59] Nnamso opened #989 "Manually trigger payment event."
You might choose to make a manual payment for these reasons:

If payment fails, one should be able to trigger payment manually once the card details are updated.

You don't have to wait until it is triggered automatically.

A manual payment button should be added. [Pay Now]

[2022-06-22 12:48] rsolomakhin commented on #989
Hi, I'm a little confused what this is referring to. Could you please provide a screenshot or a screencast of the payment flow in question? Thank you.

[2022-07-06 01:24] #975 closed, assigned to marcoscaceres

[2022-07-06 02:59] marcoscaceres commented on #989
Closing due to inactivity. Happy to reopen once we get more clarity here.

[2022-07-06 02:59] #989 closed, assigned to nobody

[2022-07-07 06:55] #981 closed, assigned to marcoscaceres

[2022-07-07 10:23] dontcallmedom opened #991 "is PaymentRequestUpdateEvent still needed?"
I believe that following #955, `PaymentRequestUpdateEvent` no longer serves a purpose. I believe sections "PaymentRequestUpdateEvent interface" (currently 12.3) and "PaymentRequest updated algorithm" (currently 13.3) could be removed from the spec.

[2022-08-08 11:29] frivoal commented on #948
From the commit in #971:

May be determined _how_? For the direction, I'd suggest taking it from [the principal writing mode](https://www.w3.org/TR/css-writing-modes-3/#principal-flow) of the document. The language could probably also be taken from the language on the root element, likely with the usual HTML rules for taking the combination of the lang attribute, information from [meta](https://ht

[2022-09-14 06:47] Chanvannak52 opened #993 "ThonChanvannak"

[2022-09-14 14:43] #993 closed

[2022-09-15 11:54] Ms2ger opened #994 ""current settings object's relevant global object" is not defined"
There's one occurrence of "[current settings object](https://html.spec.whatwg.org/multipage/webappapis.html#current-settings-object)'s [relevant global object](https://html.spec.whatwg.org/multipage/webappapis.html#concept-relevant-global)" in the spec, but a settings object doesn't have a "relevant global object", only a "[global object](https://html.spec.whatwg.org/multipage/webappapis.html#conc

[2022-09-21 18:42] #994 closed, assigned to nobody