[2017-03-28 05:38] weksler commented on #481
fair enough.

should we clarify the nature of the request, in that case? it was my understanding (i might have misunderstood) that the original request that prompted this issue made the assumption that the browser was mandated to respect the list provided by the merchant.

[2017-03-28 13:32] rsolomakhin commented on #485
`NotAllowedError` makes sense. @zkoch @domenic Thoughts?

[2017-03-28 13:35] rsolomakhin commented on #480
@lararennie @zkoch FYI.

[2017-03-28 16:05] lararennie commented on #480
What do you intend to do for people who only have one name? are both of these optional fields?

[2017-03-28 16:32] ianbjacobs commented on #480
@r12a and @aphillips could you have a look at this proposal?

[2017-03-28 17:11] zkoch commented on #485
Fine by me

[2017-03-28 17:12] zkoch commented on #481
I think the original request understood that it wasn't required, but that even the explicit suggestion of it created problems.

[2017-03-28 17:17] ianbjacobs commented on #481
I encourage discussion on this thread. (That is: let's not close too quickly.)

[2017-03-29 01:17] domenic commented on #485
Yeah seems reasonable.

[2017-03-29 04:12] marcoscaceres opened #486 "should .show() be user gated?"
Followup from #462.

If the browser crashes and restarts by reopening N number of tabs. A tab in the background calls `.show()` and it now blocks all payment requests (at least, for a time - assuming it does not focus the tab, which is also not in the spec).

To protect from the above, should we then make it that `.show()` is gated on user interaction?

[2017-03-29 04:16] mnoorenberghe commented on #486
This would also help to prevent:
1) annoying drive-by requests like we see with alert/confirm spamming and
2) clickjacking attacks if a UA allows a one-click purchase (of course delays on the button are another way to mitigate the latter).

[2017-03-29 11:44] cyberphone commented on #484
You should probably close this issue now; I only wanted to highlight a problem with hard-coding processes for an immature application field, where most of the application owners require signed NDAs for getting a full description.

If there were a <code>postMessage()</code> and <code>addMessageListener()</code> pair that could be called after the main invocation, I believe I could actually use the

[2017-03-29 12:35] #484 closed, assigned to nobody

[2017-03-29 12:38] ianbjacobs commented on #486
Hi @marcoscaceres,

What does "gated by" mean exactly? If one goal is to minimize user interaction to make a payment, what is the impact of gating?

Thanks!

Ian

[2017-03-29 13:15] rsolomakhin commented on #486
Requiring a user gesture for `.show()` is OK with me. @zkoch Thoughts?

[2017-03-29 13:41] dlongley commented on #486
This seems like a good idea to me. However, would this be a problem for scenarios where users only interact on origin A -- which uses `postMessage` to trigger origin B (in an iframe) to call the API? Are there existing payment systems that look like this or that may want to function this way if adopting the payment request API?

@ianbjacobs,

I think it means that the `.show()` API can only be inv

[2017-03-29 17:01] mattsaxon commented on #486
This would appear to limit the possibility of invisible payments, for example if the user has given prior consent for payments to a certain merchant within a certain threshold.

I think it should be a MAY require a jesture, but MUST if prior consent has not been obtained.

[2017-03-29 20:40] nickjshearer commented on #486
User agents can propagate the user gesture across the postMessage boundary. WebKit does this today, for example.

I would expect some implementors to want to make `show()` conditional on a user gesture, so that definitely shouldn't be prohibited by the spec. I don't know if it needs to be required.

[2017-03-29 21:26] zkoch commented on #486
I'm torn on this point. I'm generally skeptical of how effective "user gesture" is at a mitigating factor given that a 'click' or 'tap' anywhere is a user gesture. There are also legitimate uses cases we've seen where you wouldn't want this. For example, a merchant wants to implement PaymentRequest, and the shortest path to doing so is just to invoice PR.show() on the redirect to /checkout. It's c

[2017-03-29 22:13] marcoscaceres commented on #486
@dlongley wrote:

That would not work in this scenario, as that's akin to click jacking.

@zkoch wrote:

Yes, it would need to be a MUST and would throw without the click.

We could go without it initially and see how people use the API... if it becomes a problem, we can add it later.

[2017-03-29 22:26] marcoscaceres commented on #466
Whoops!

[2017-03-29 22:33] marcoscaceres commented on #478
No it doesn't. Separation of concerns and all that :)

[2017-03-29 22:33] #478 closed, assigned to zkoch

[2017-03-29 22:43] marcoscaceres commented on #464
Talking to @zkoch, we will use: if not valid payment method identifier, then try URL parser, re-throw exception. I.e., not an "enum".

[2017-03-29 22:47] zkoch commented on #309
I would prefer we don't throw. @domenic is it conventional to take the first match or the last match?

[2017-03-29 22:58] zkoch commented on #480
@lararennie Yes, I think both of these would be optional.

[2017-03-29 23:26] mnoorenberghe commented on #486
I think we should do the opposite since it's way harder to add the restriction later compared to removing it. I don't think we should be adding new features to the web platform that can be used to annoy users outside the content area just by simply visiting a page.

I agree that such an implementation would be in line with user expectations but I still would rather not keep open the door for malic

[2017-03-30 06:14] domenic commented on #462
I'm leaning more toward "AbortError" because the site should handle this as if the user aborted. For example, they should show a button to re-launch the process. Whereas "InvalidStateError"s usually mean a logic bug in the application that should not be caught and reacted to (besides maybe logging it to the server).

[2017-03-30 06:56] domenic commented on #466
I think 18.1 is reasonably useful for developers. It parallels a similar construct in other specs, e.g. https://html.spec.whatwg.org/#events-2 . It's borderline though, as indeed there is not a lot of information there.

[2017-03-30 06:57] domenic commented on #466
Oh, and section 17 is non-normative because it doesn't contain any normative statements. It just links out to a definition of something that does. It's basically telling you that another spec exists which you might find useful as a reader of this spec. That seems non-normative to me.

[2017-03-30 07:03] domenic commented on #309
I can't find too many precedents, but I think first match wins is reasonable.

Most precedents I can find (e.g. referrer policy headers, CSS) are about "last supported value" semantics. See e.g. https://w3c.github.io/webappsec-referrer-policy/#unknown-policy-values. But that doesn't apply here; the problem is differently structured.

[2017-03-30 08:58] lararennie commented on #480
Have we checked with the travel/financial industries what they expect to be in each field? e.g. middle names: are they put with given names?
This would be in addition to fullName: would we not risk then that both are filled in, but that they are inconsistent?

[2017-03-30 09:02] #466 closed, assigned to marcoscaceres

[2017-03-30 13:47] perja12 opened #490 "Should user agent validate currency?"
In the section "5. PaymentCurrencyAmount dictionary" the spec says:

The last sentence there makes sense, but it is not clear exactly how the user agent should behave here. Should the UA validate the currency if it knows about the currency system and then throw TypeError if the currency isn't valid in that system? And what should be the behavior of the UA if there is an unknown currency system?

I

[2017-03-30 13:50] ianbjacobs commented on #490
There is no expectation of UA validation of currency.

[2017-03-30 14:16] perja12 commented on #490
Thanks, would it be good to add that as a note in the spec?

[2017-03-31 03:26] marcoscaceres commented on #441
I think I've fixed all these... the outstanding issues are on the ReSpec side. Hope to get to that before end of April.

[2017-03-31 03:26] #441 closed, assigned to nobody

[2017-03-31 04:08] marcoscaceres commented on #490
Yeah, this part of the spec needs to be clarified, specially if we are putting `currencySystem` "at risk". As it currently reads (using the word "valid"), it sounds like some validation would take place.

I don't currently know what happens if a developer sets: `currency: "usd"` vs  `currency: "uSd"` vs `currency: "USd"` and so on... The ISO whatever for currencies has them all in upper case.

[2017-03-31 04:11] marcoscaceres commented on #490
@rsolomakhin, are you folks doing any kind of checks or normalization of currency values in Chrome?

[2017-03-31 04:22] marcoscaceres commented on #490
I'll note that at Intl.NumberFormat doesn't care about case (it normalizes to uppercase), but does do validation:

[code]

So it might make sense to actually do validation also, given that we know what the currency system _a priori_.

[2017-03-31 04:27] marcoscaceres commented on #480
@nickjshearer, do you some insights about the above and what the conventions are for things like middle names, etc?

[2017-03-31 04:30] #427 closed, assigned to marcoscaceres

[2017-03-31 04:40] marcoscaceres commented on #490
Also, the reference to ISO4217 should be normative.

[2017-03-31 04:45] marcoscaceres commented on #490
I'd be in support of doing validation of currencies - chiefly because without it, we don't have have the means to do localization of currencies when we display them in the payment sheet (e.g., for the total).

For example:
https://github.com/marcoscaceres/web-payments-proto/blob/gh-pages/src/PaymentSheet.Total.js#L25

@domenic, @zkoch?

[2017-03-31 05:43] marcoscaceres commented on #486
We (Mozilla) have discussed this a bit more internally, and we still feel we should have some minimal protection for `show()`. We concur that getting the user to "click" somewhere sets a fairly low bar. However, similar to pop-up blocking, just because we know it's not perfect doesn't mean we shouldn't try to prevent abuse.

Would love to hear opinions from @nickjshearer (if Apple Pay is user gate

[2017-03-31 11:16] perja12 commented on #490
Regarding localization and UAs: we could have a fallback formatting for unknown currencies (like "<value> <currency>"), but I see that this can be problematic with f.ex. RTL. It also depends a lot on how the UA chooses to implement the UI for this. One could f.ex. separate the value and the currency instead of having both of them combined in one string.

It is maybe problematic to have any strict

[2017-03-31 11:17] domenic commented on #490
I don't have any opinions on currency systems, as my understanding is they're not implemented anywhere nor do any browsers have plans to do so. There are much more fundamental issues here, such as #305 and #343 that would need to be solved before considering how we validate strings.

[2017-03-31 11:26] domenic commented on #490
Oh, I misunderstood... the original post talks about currency systems, but then the post got into currencies in general. It would be good to spec what happens if you do `currency: "usD"` or `currency: "what is this I don't even"`.

[2017-03-31 13:09] rsolomakhin commented on #490
Chrome does not normalize or validate currencies. This is to match the spec.

[2017-03-31 14:13] rsolomakhin commented on #490
We would _love_ to validate currencies according to either a regex (`^[A-Z]{3}$`), a predefined list from CLDR, or OS-dependent.

[2017-04-01 03:53] adrianhopebailie commented on #490
Implementations should IMO validate currencies if they can. In other words, for any currency system for which they have the ability to do validation.

I assume that this will only include ISO4217 defined currencies initially but since there are browsers inventing their own currencies [1] I expect that won't be the case for long :)

[1] https://www.americanbanker.com/news/web-pioneer-plans-blockcha

[2017-04-01 05:43] adrianhopebailie commented on #457
Making this API easier to use for developers seems worth keeping this open for...
https://www.w3.org/TR/html-design-principles/#priority-of-constituencies

[2017-04-01 05:59] adrianhopebailie opened #493 "Standardize on "Payer" and "Payee" terms"
There are a a great deal more uses of the word "merchant" than are necessary in this spec. We should stick to the generic payer and payee terminology, especially in the normative sections.

[2017-04-02 11:20] cyberphone opened #494 "Add postMessage() and addMessageListener() for enabling "in-bound" communication"
This is a concrete proposal in order to address the obstacles mentioned in https://github.com/w3c/browser-payment-api/issues/484

<code>postMessage()</code> would (after API invocation) allow the invoking (_Merchant_) page to send arbitrary messages to the payment app.

<code>addMessageListener() </code> would (after API invocation) allow the invoking page to listen for possible messages from the

[2017-04-02 15:35] ianbjacobs commented on #494
I believe this is out of scope for what we are doing at this time. Let's revisit this later.

[2017-04-02 15:35] #494 closed, assigned to nobody

[2017-04-03 01:37] adrianhopebailie commented on #494
We discussed whether or not the API should support a "chatty" interface early on in the WG's work. The decision was that we would stick to a simple request/response interface for now to keep it simple and because there is no guarantee that a browser can even offer such an interface to an external payment app (especially in a resource constricted environment).

Payment apps and websites can use the

[2017-04-03 01:38] adrianhopebailie commented on #470
https://github.com/w3c/browser-payment-api/pull/492

[2017-04-03 04:49] marcoscaceres commented on #490
We should make it use the infrastructure from the Intl API, IMO:

 * It's basically /^[a-z]{3}$/i (case insensitive match) using [`IsWellFormedCurrencyCode`](http://www.ecma-international.org/ecma-402/2.0/#sec-iswellformedcurrencycode).
 * Throws RangeError when invalid.
 * We don't throw when the currency is unknown (so long as `IsWellFormedCurrencyCode` returns true, it's valid).
 * Canonicalize

[2017-04-03 05:31] marcoscaceres commented on #493
The words "payer" and "payee" are very close tho, which can make the distinction confusing.

[2017-04-03 05:52] cyberphone commented on #494
@adrianhopebailie @marcoscaceres Being forced using "workarounds" limits the value of an API.  The need/utility for this kind of communication were not envisioned.

I'm indeed using exactly the scheme you mention in the Android version of my PoC. Compared to the PC version which is only using the "chatty" interface (through _Native Messaging_), the Android application is _way more complex_ and the

[2017-04-03 06:34] marcoscaceres commented on #494
Postponing and locking. We *will* return to this, @cyberphone - but not now. We need more implementation experience and to see how native apps evolve with the limitations of the API before we consider expanding it.

[2017-04-03 06:53] marcoscaceres commented on #457
@adrianhopebailie, we should coordinate with folks from, for instance, Shopify or similar, to see what they will eventually ship to their customers - particularly to see how they wrap the API. Cosmetic changes, like the one I proposed here, might emerge from those libraries: they are all going to have to deal with the things I listed above in one way or another (even if the browser doesn't do any

[2017-04-03 08:10] marcoscaceres opened #495 "PaymentAddress and null values"
In the "Shipping address changed algorithm", the spec says:

However, it gives no guidance about null values incoming from the information source for the `PaymentAddress`. As such, a lot of those attributes could end up as empty strings. That's ok, but it's not clear in the spec what to do.

It's also ambiguous in that "new PaymentAddress" is never actually called (even though it has no declared c

[2017-04-03 08:16] marcoscaceres commented on #495
Fixed above to say "PaymentAddress".

[2017-04-03 08:25] marcoscaceres commented on #495
For my own sanity, I can see:

1. In PR constructor: PaymentRequest.shippingAddress is initially null.
2. "shippingaddresschange" losely sets PaymentRequest.shippingAddress, as per OP above.
3. When `PaymentResponse` is created, `PaymentResponse.shippingAddress` is a reference to `PaymentRequest.shippingAddress`.

Noting this assumes that there is _always_ a "shippingaddresschange" event fired bef

[2017-04-03 08:29] marcoscaceres commented on #495
To outline the problem, a browser's Autofill DB from which we might pull shipping addresses might be Swiss Cheese when it comes to the `ShippingAddress` values. In other cases, the information might not be appropriate (e.g., `organization`, and `dependentLocality`)

[2017-04-03 11:03] mattsaxonwp commented on #476
OK, sure... 2nd try.

In section 7.4, it states that the algorithm replaces steps 6 & 7 in Payment Request. I think this statement is brittle and should say something like this replaces section X in Payment Request.

I would recommend that the algorithm in [Payment Request in section 19.4](https://www.w3.org/TR/payment-request/#user-accepts-the-payment-request-algorithm) be updated to clearly show

[2017-04-03 11:10] mattsaxon opened #496 "Reference to payment apps in Introduction needs updating"
In Section 1. Introduction, "The details of how to fulfill a payment request for a given payment method are handled by payment apps. In this specification, these details are left up to the user agent, but future specifications may expand on the processing model in more detail."

need updating to represent latest status.

[2017-04-03 11:15] mattsaxon opened #497 "Payment App or Payment Handler language"
Standardise the use of Payment App vs Payment Handler in the spec.

For example show() step 8 states says which "Payment App", but I believe this should say which "Payment Handlers" in this context.

[2017-04-03 11:17] mattsaxon opened #498 "Consider adding examples of payment matching algorithm"
In show() step 8.1, an example would be useful, especially considering the language used isn't easy to pass e.g. "the second element of the tuple"

[2017-04-03 11:19] mattsaxon commented on #497
Another example if in section  3.5 canMakePayment(), step 6 states "user agent or other payment app". The user agent in this example IS a payment app, so this wording is unnecessary.

[2017-04-03 11:23] mattsaxon opened #499 "'Pull' Payment Bias in API spec"
[Section 16.3](https://www.w3.org/TR/payment-request/#details-attribute) states "... by the merchant to process the transaction and determine successful fund transfer"

Suggest "... by the merchant to process the transaction and/or determine successful fund transfer"

[2017-04-03 11:26] mattsaxon opened #500 "State change issues in updateWith()"
This section, specifically step 11, requires disabling the user interface. How will this work with 3rd party payment apps, where the interface is under control of another party?

[2017-04-03 13:23] rsolomakhin commented on #490
Sounds reasonable.

[2017-04-03 15:43] ianbjacobs opened #501 "Clarify use of API in (or not in) Secure Contexts"
My understanding is that the API is to be used in Secure Contexts. I note that:

* SecureContext is optional on PaymentRequest constructor
* Where SecureContext appears elsewhere in the spec it is not optional
* There is no clear statement in the prose about calling the API in a SecureContext
* For iframes, the allowpaymentrequest attribute is non-normative.

It seems to me we need in the spec at

[2017-04-03 15:58] marcoscaceres commented on #501
You've misread the IDL. There is no such thing as optional SecureContext 😊

That would be redundant. Though the link to the definition is currently broken (ReSpec bug, will fix)

It's normative in HTML.

We already have all of the above, I assure you. This can be closed.

[2017-04-03 16:08] ianbjacobs commented on #501
Thanks for the clarification, @marcoscaceres. I've added a (terse) note to the FAQ:
 https://github.com/w3c/payment-request-info/wiki/FAQ#is-payment-request-api-called-in-a-secure-context

I welcome suggestions to make that note more useful.

Ian

[2017-04-03 16:08] #501 closed, assigned to nobody

[2017-04-03 19:29] ianbjacobs commented on #493
The Intro sets the expectation that "payee" will be used in the document.

My concrete suggestion is that starting at section 4, there are 8 instances of the word "merchant" and that they be replaced by payee. Before that, it's more informative and for people getting into the document, "merchant" may help establish a picture of what the API does.

Ian

[2017-04-03 20:22] ianbjacobs commented on #499
In light of my other editorial counter-proposal [1] (and because I prefer to avoid an "and/or" construct), how about:

 "by the merchant to process or validate a transaction (depending on the <a>payment method</a>)."

Also, if we move in the direction of "payee"  here, that would become:

 "by the payee to process or validate a transaction (depending on the <a>payment method</a>)."

Ian

[1] https

[2017-04-03 20:25] ianbjacobs commented on #496
+1. If Payment Handler API is a FPWD before PR API becomes a CR, then let's include a reference to Payment Handler. I think this is likely to be an informative reference since there will be different integration specifications (at least between native and web).

Ian

[2017-04-03 20:36] ianbjacobs commented on #497
I can live with "payment app" but agree with Matt that "payment handler" may be an improvement.

[2017-04-03 21:47] ianbjacobs commented on #476
Hi @mattsaxonwp,

The spec has been edited and the section numbers may no longer be accurate (e.g., I think 17.4 used to be 19.4).  I can't find your "section 7.4"

In reading the text of what is now 17.4, it seems to me that as written, the mediator is full responsible. One question is "where does the mediator get the data to do the things listed in 17.4?"

In the case of Web-based payment apps,

[2017-04-03 22:02] adrianhopebailie commented on #493
@marcoscaceres said:

I know! I sympathize, but this argument comes up in every group that is developing technical documentation related to payments. It's standard terminology that we SHOULD adopt to be consistent with others.

[2017-04-03 22:53] adrianhopebailie commented on #490
Be aware that using language features related to currency is a dangerous trap. It's like trying to use domain or email parsing features that have a hardcoded list of TLDs.

Sure, it's convenient for the poor designer that has to figure out the UI but it will likely come back to bite you later.

Forcing a format like /^[a-z]{3}$/i is also dangerous because it will encourage squatting on codes that

[2017-04-03 23:26] npdoty opened #502 "Links to some HTML definitions are broken"
At least the following don't resolve to the expected definition:
* https://html.spec.whatwg.org/multipage/#elementdef-iframe
* https://html.spec.whatwg.org/multipage/#element-attrdef-iframe-allowpaymentrequest

[2017-04-04 01:00] ianbjacobs opened #503 "Missing (normative) reference to BPC-47 (language code)"
The definition of the languageCode attribute says: "This is the BCP-47 language code for the address."

BCP-47 is not defined in the spec and should probably be a normative reference.
 https://tools.ietf.org/html/bcp47

Ian

[2017-04-04 01:06] domenic commented on #495
Sorry, I'm not too familiar with this part of the spec. To me it seems like this issue is talking about a bunch of separate unconnected things, so I will just reply to each individually, and you can help me understand how they're accepted.

What is "the information source for the PaymentAddress"? How would null values be incoming from it?

The spec seems pretty vague on that:

I don't know what co

[2017-04-04 02:16] marcoscaceres commented on #495
It can be a range of things:

 * A custom "addresses" data store, specifically for Web Payments.
 * Browser's Autofill DB (same hooks as HTML autocomplete data).
 * Contacts.app on MacOS, or other third-party contact information provider.
 * Or a mix of the above.

Presumedly a result of user action of selecting an address on the payment sheet - but does the UA automatically selecting a default ad

[2017-04-04 02:20] domenic commented on #495
Thanks for the clarifications. I'm still not clear what role you see the spec playing here, though. So far I know we want to clarify whether paymentaddresschange always fires before show() completes. But this business about nullable paymentAddress fields is unclear to me. Why does it matter whether the browser sets them to null or an empty string or "foolandia"? We could change it to allow null in

[2017-04-04 02:54] marcoscaceres commented on #495
It's basically what you state, but to be clear:

1. should the `shippingaddresschange` event always fire? Or can a flow be complete without firing an event?
1. should `PaymentAddress`'s attributes be nullable or always the empty string.

I still feel uneasy about 1, because it assumes that there will be a UI and that `.updateWith()` will always have the opportunity to play a role in the payment fl

[2017-04-04 03:18] marcoscaceres commented on #493
That kinda makes my point tho. If it's already known to cause confusion, we should avoid it. What we could do is say at the start of the spec: "In this spec, we avoid the use of the common terms 'payer' and 'payee' because they are known to cause confusion: we instead use **merchant** in place of 'payee' and  'end user' in place of 'payer'. " or something like that.

But I, and probably others, do

[2017-04-04 03:36] marcoscaceres commented on #490
Oh, yeah - absolutely. We will work those out as we start adding them in the future. Let's just get the ISO4217 ones done right first. What I am proposing currently only applies to that.

[2017-04-04 04:51] marcoscaceres commented on #502
Blocked on:
https://github.com/tobie/specref/issues/344

[2017-04-04 04:52] marcoscaceres commented on #502
Worst case, we switch back to W3C HTML :(

[2017-04-04 04:59] domenic commented on #502
I think this just needs to be fixed to point to the correct fragments:

- https://html.spec.whatwg.org/multipage/#the-iframe-element
- https://html.spec.whatwg.org/multipage/#attr-iframe-allowpaymentrequest

You don't need to know what page things are on.

[2017-04-04 05:01] marcoscaceres commented on #502
Wait? is that some dynamic redirect voodoo?

[2017-04-04 05:02] domenic commented on #502
Basically, yeah.

[2017-04-04 05:04] marcoscaceres commented on #502
Ok, let me try... the link checker is getting upset... but if it's just that the fragments are wrong, then that's easy:

https://validator.w3.org/checklink?uri=https%3A%2F%2Fwww.w3.org%2FTR%2Fpayment-request%2F&hide_type=all&depth=&check=Check

[2017-04-04 05:08] marcoscaceres commented on #502
Following need updating. @domenic, some of these are going in infra (e.g., "in parallel"), right? Is it too ambitious to start citing that?

 * [x] #in-parallel (lines 1951, 2009, 2068, 3061, 3235, 3791)
 * [x] #top-level-browsing-context (lines 2062, 3780)
 * [x] #elementdef-iframe (lines 3110, 3793)
 * [x] #element-attrdef-iframe-allowpaymentrequest (lines 1702, 3110, 3795)
 * [x] #user-interact

[2017-04-04 05:17] domenic commented on #502
None of those should go to Infra. If you want to start citing it for list manipulation/iteration/etc., that'd be neat though; we're doing that in many specs so far. Not high priority though.

[2017-04-04 05:25] marcoscaceres commented on #496
Fine to have it as non-normative. However, it does indeed depend on timing and we should not block on it.

[2017-04-04 05:27] #502 closed, assigned to nobody

[2017-04-04 06:30] mattsaxon commented on #499
+1

[2017-04-04 06:43] marcoscaceres commented on #498
Might destructure the tuple into `var`s, for easier reading. I agree that "the second element of the tuple" is a bit confusing.

[2017-04-04 07:15] mattsaxon commented on #476
Yes, it's 17.4 https://w3c.github.io/browser-payment-api/#user-accepts-the-payment-request-algorithm

Your suggestion explains where the data comes from, but doesn't explain the processing and hence leaves gaps where other areas of the spec are concerned such as in [Show()](https://w3c.github.io/browser-payment-api/#show-method) which references this algorithm.

I think the algorithm need to expla

[2017-04-04 07:19] marcoscaceres commented on #501
I don't have time to add this to the FAQ, but someone should broadly define what a "secure context" actually is (as per WebIDL) for the layperson.

[2017-04-04 07:22] marcoscaceres commented on #501
fixed. Shipping updated ReSpec now...

[2017-04-04 12:53] ianbjacobs commented on #493
I have no objection flipping the way we use the terms, but I would not do it as @marcoscaceres has done. Maybe something like this:

This specification describes an API that allows user agents (e.g., browsers) to act as an intermediary between three parties in a transaction:
    - the merchant: the entity that runs an online store. Merchant can be generalized to mean "any party that wishes to be p

[2017-04-04 21:23] ianbjacobs commented on #477
Here's one idea for consideration. Old:

"For example, it might include details of products or breakdown of tax and shipping."

New:

 "For example, it might include a breakdown of tax and shipping."

(Example 3 shows this sort of usage.)

[2017-04-05 00:55] adrianhopebailie commented on #498
May be redundant given #492

[2017-04-05 00:59] adrianhopebailie commented on #493
I don't like the term merchant because it assumes this is only going to be used for online shopping...

Let's figure out the color of paint and then when we are done I suspect we'll have ended up back at payer and payee. (Even though they are different shades of grey...)

[2017-04-05 06:42] mattsaxon commented on #493
Hopefully not to muddy the waters, but there are some alternative terms that you might consider that don't have these issues;

1. ISO20022 uses Debtor and Creditor
2. Originator and Beneficiary are another alternative pair (highlighted as synonyms in ISO20022)

Regards,
Matt

[2017-04-05 13:37] ianbjacobs commented on #493
We went through similar conversations previously and landed on payer and payee.

I have not heard anybody express confusion about the meaning of the terms, nor have I heard anybody say "I would have understood your API better had you used different terms." Therefore, like Adrian, I prefer we stick with payer and payee.

As I mentioned previously, I think that it's fine to use another term in the i

[2017-04-05 14:18] marcoscaceres commented on #493
I find them terribly confusing, so won't be making that change. But PRs welcomed if anyone feels strongly enough to make the change.

[2017-04-05 15:51] ianbjacobs commented on #481
I noted another statement in the spec to look at as part of this issue: "The methodData supplied to the PaymentRequest constructor SHOULD be in the order of preference of the caller. "

[2017-04-05 22:09] zkoch commented on #500
This is actually a non-issue, because the updateWith algorithms are always called *before* heading off to payment app land.

[2017-04-05 22:09] #500 closed, assigned to zkoch

[2017-04-05 22:30] rvm4 commented on #486
Marcos, Zach and I spoke and we came to the counter-proposal that the .show() API will only render things if the tab has focus. We could not think of a valid use case for rendering the .show() UI without there being focus. So the proposal is to throw some sort of security exception if a tab/page without focus were to invoke .show().

[2017-04-05 22:37] zkoch commented on #477
Chatting at editor meeting, preferred route is to remove this sentence and add something in the privacy section about not sharing this data.

[2017-04-05 22:46] #485 closed, assigned to domenic

[2017-04-06 02:57] marcoscaceres commented on #486
For clarity...

[code]

@domenic, wdyt?

[2017-04-06 13:08] dlongley commented on #486
@marcoscaceres,

I don't think that code example is exactly right as active elements may not have focus. I'm also not sure that it would be correct for (cross-origin) iframes that call `show()`, but perhaps it's correct in spirit. :)

(Note: even executing `window.top.document.hasFocus` as I'm typing this right now returns `false` yet I'm clearly viewing the tab I'm typing into. EDIT: I found this

[2017-04-06 14:40] marcoscaceres commented on #486
What's an "active element"?

That's why we have an attribute on iframes to explicitly allow this.

Your dev tools have focus ^_^ try it with setTimeout and actually focusing the document by clicking on it.

[2017-04-06 14:49] dlongley commented on #486
@marcoscaceres,

I took that from the [Mozilla dev docs](https://developer.mozilla.org/en-US/docs/Web/API/Document/hasFocus) on `Document.hasFocus`:

You missed my edit in there since you replied via email -- I added `(cross-domain)` as a qualifier for the iframe; I don't think you can access the `document` property of `window.top` in that case to even check the focus. If you *could*, which the na

[2017-04-07 06:44] marcoscaceres opened #505 "Provide better mapping between PaymentAddress and HTML5 autofill"
For instance, be more clear that:
 * [ ] region maps to address-level1.
 * [ ] city is address-level2.
 * [ ] Example of sorting code.
 * [ ] Point to ISO country codes.

This helps with the conversion from auto-filled form fields to payment `PaymentAddress`.

[2017-04-07 06:50] marcoscaceres commented on #505
Does `dependentLocality` map to [address-level1](https://html.spec.whatwg.org/multipage/forms.html#attr-fe-autocomplete-address-level1) or 2? or something else?

[2017-04-07 07:03] marcoscaceres commented on #505
sorting code example would also help?

[2017-04-07 07:09] marcoscaceres commented on #505
Also, the `country` attribute pointing to [CLDR] is not very helpful. It should point directly to the ISO 2-digit country codes.

[2017-04-07 13:44] rsolomakhin commented on #505
`dependentLocality` is `address-level3`. @evanstade introduced the `address-level*` naming convention, I believe.

Sorting codes are used in France and related countries. See the [Wikipedia entry](https://en.wikipedia.org/wiki/Postal_codes_in_France#CEDEX). Our French working group members should be able to provide some good examples.

CLDR is better than ISO in that it's updated more frequently t

[2017-04-07 14:23] lararennie commented on #505
The field labelled "sorting code" is not just used for that, but is country specific: in some countries it manifests as a post office indicator.

Comments for this field should be:
// This corresponds to the SortingCode sub-element of the xAL
// PostalServiceElements element. Use is very country-specific. Where it is
// used, the value is either a string like "CEDEX", optionally followed by a
// n

[2017-04-07 14:24] lararennie commented on #505
Good link for CLDR: http://www.unicode.org/cldr/charts/31/supplemental/territory_information.html

[2017-04-07 18:35] gauntface opened #507 "Define expected behavior when no 'shippingaddresschange ' event listener is defined"
cc @zkoch @domenic @rsolomakhin

At the moment the Chrome implement has an edge case that results in a bad user experience:

If the developer requires shipping details and doesn't set a shippingaddresschange event listener, the following happens:

1. The Payment Request sheet opens up.
1. The user adds or changes address
1. A spinner is shown (where it's waiting for event.updateWith() to be called

[2017-04-07 19:10] rsolomakhin commented on #507
+1 this would be nice to have.

[2017-04-07 19:12] gauntface commented on #507
Also worth nothing that the same behavior exists in chrome is `shippingoptionchange` event listener isn't defined.

[2017-04-10 16:17] rsolomakhin opened #508 ""User accepts payment request" algorithm should timeout without .complete()."
The [User accepts payment request](https://w3c.github.io/browser-payment-api/#user-accepts-the-payment-request-algorithm) algorithm should timeout if the website never calls `.complete()` method on the `PaymentResponse`.

[2017-04-10 16:25] domenic commented on #508
So more concretely, this means that sometime after the user accepts the payment request and the PaymentResponse has been handed back to author code, we should:

- Set the response's [[completeCalled]] to true (so that future calls to .complete() return a rejected promise)
- Close down any remaining user interface with a "timed out" user experience

Is that about right?

[2017-04-10 16:25] domenic opened #509 "Editorial: paymentResponse.complete() should return a rejected promise, not throw"
is not correct

This is technically editorial since per Web IDL any "throws" are converted to rejects. But it's confusing.

[2017-04-10 16:33] rsolomakhin commented on #508
This sounds about right. To clarify, Chrome user interface shows a "Processing..." message after resolving the `.show()` promise and before seller calls `.complete()`.

Chrome has a 60 second timer that starts after resolving `.show()` promise. Chrome closes down any remaining user interface either when the seller calls `.complete()` or when the timer expires, whichever happens first.

As addition

[2017-04-10 17:25] rsolomakhin commented on #508
Now that I read [Shipping address/option changed](https://w3c.github.io/browser-payment-api/#shipping-address-changed-algorithm) algorithm, I don't see a timeout in there. Chrome also has 60 second timeout for the seller to invoke `.updateWith(details)` after `"shippingaddresschange"` and `"shippingoption"` change algorithm. Should we spec that out?

[2017-04-10 17:39] domenic commented on #508
Yes, that seems like a good idea. My guess is that in both cases we should spec a user-agent defined optional timeout (instead of exactly 60 seconds). In that case it should not be controversial to add. @marcoscaceres, do you agree?

[2017-04-10 17:47] romandev commented on #508
There seems to be the explanation in updateWith() method part.
https://w3c.github.io/browser-payment-api/#updatewith-method (Number 12)

[2017-04-10 18:17] rsolomakhin commented on #508
From the spec:

This is implemented via a timer. What should the task queue for the timer be?

[2017-04-11 04:52] nickjshearer commented on #486
@marcoscaceres

Sorry, I should have been clearer - when I said:

...that applies to Apple Pay. Invocation must be handled off a user gesture. I would agree that something is better than nothing.

[2017-04-11 04:55] nickjshearer commented on #507
I prefer simply allowing the user to define any address and proceed with the transaction should the developer not implement `shippingaddresschange`.

[2017-04-11 13:20] rsolomakhin commented on #507
This would also work for me.

[2017-04-11 13:49] gauntface commented on #507
+1 @nickjshearer

[2017-04-12 02:46] delapuente commented on #490
Why does this throw?

[code]

[2017-04-12 03:01] rsolomakhin commented on #490
currency should be either ^[A-Z]{3}$ or a URL.

[2017-04-12 11:00] marcoscaceres commented on #462
Reopening... it might be that Apple's implementation changed (?)... the single payment sheet per browser, but now if site A is showing a sheet, and site b calls `.show()`, site A aborts, then site B shows a payment sheet.

Basically, you can play payment sheet whack-a-mole.

If the above is confusing, I can make a video showing etsy and shopify's playground.

[2017-04-12 13:14] adrianhopebailie commented on #490
@rsolomakhin is that correct?

I would have said it must be ^[A-Z]{3}$ because that is the required format for the default `currencySystem`.

If you want to use anything else you must specify the `currencySystem` and it should not be `urn:iso:std:iso:4217`.

Where do you get "or a URL"?

[2017-04-12 15:10] rsolomakhin commented on #490
Sorry, I meant "URI", not a "URL" :-) `urn:iso:std:iso:4217` is a URI.

[2017-04-12 15:11] rsolomakhin commented on #490
I think you're right, @adrianhopebailie . The default currency system requires `^[A-Z]{3}$` format.

[2017-04-12 20:25] zkoch commented on #507
Isn't @nickjshearer's idea how the spec is written currently?

[2017-04-12 20:26] zkoch commented on #505
@marcoscaceres why is this a blocker for CR?

[2017-04-12 20:27] zkoch commented on #486
In chatting with a few other folks on Chrome and what we've learned from *not* have things gated on user actions (e.g. a series of redirects from an ad, all of which can call PR), it seems like we might need to have something here. This is me flip flopping.

[2017-04-12 21:38] adrianba commented on #486
This issue was opened related to crash recovery. I think implementations should take whatever measures they think appropriate when dealing with crash recovery.

The discussion here has instead focused on whether a user gesture is needed to protect the user from either something annoying (showing the dialog when the user doesn't expect it) or something worse (which I'm not clear on).

I think the s

[2017-04-14 15:10] marcoscaceres commented on #508
@domenic, I agree. We plan to add similar timeout behavior.

[2017-04-14 15:22] gauntface commented on #507
@zkoch Either the spec isn't clear enough or Chrome's implementation is simply not to spec. Right now Chrome *requires* a shippingaddresschange event listener.

[2017-04-14 18:03] gauntface commented on #507
Looking at the spec some more, I may have been looking at the wrong part, maybe I should have been looking at:

https://www.w3.org/TR/payment-request/#dfn-shipping-address-changed-algorithm

It doesn't have any information on what to do in terms of not-having a listener for the shippingaddresschange event.

Again, I'm not very versed in reading specs, so it could be that the language is actually d

[2017-04-15 00:36] marcoscaceres commented on #507
Related https://github.com/w3c/browser-payment-api/issues/495

[2017-04-20 01:50] #503 closed, assigned to nobody

[2017-04-24 22:02] domenic commented on #507
(Finally getting back to PaymentRequest issues...)

The spec as-written seems to be OK, with Chrome's implementation at fault. In particular the spec says that if the user adds or changes an address, a "shippingaddress" change event must be fired. It never says that the UI should be blocked until someone calls event.updateWith().

It sounds like some browsers may block the UI while this event is b

[2017-04-24 22:12] domenic commented on #507
Actually, what we can do is say that if you don't call updateWith() synchronously, you don't get to call it ever, and it's treated as if you don't care. Since it accepts a promise, this is not restricting. This is related to https://github.com/w3c/browser-payment-api/issues/508. I will work on a PR for both.

Update: you already must call updateWith() synchronously, because of the check on the eve

[2017-04-24 22:13] domenic commented on #508
This should use the same task queue as used for the "upon rejection" path. Which is currently underspecified: https://github.com/w3ctag/promises-guide/issues/52.

---

There are three separate timeouts being discussed here:

1. User accepts payment request and .complete() is not called promptly
2. Shipping address/options changed and .updateWith() is not called promptly
3. updateWith(promise) is c

[2017-04-24 22:17] domenic commented on #508
Update: you already must call updateWith() synchronously, because of the check on the event's dispatch flag. OK, so everything is already taken care of, except (1).

[2017-04-24 22:20] domenic commented on #508
And.... it looks like (1) is already in the spec too:

So, nothing to do here, actually?

[2017-04-25 21:25] ghost commented on #27
At Weebly over here, implementing PaymentRequestAPI and AndroidPay, we definitely want access to `billingAddress` in the `PaymentRequest` object before committing the transaction, as well as a `paymentoptionchange` event for calculating tax.

[2017-04-26 06:16] marcoscaceres commented on #27
@tetsuharu, will discuss on tomorrow's Editor's call. Will report back soon.

[2017-04-26 06:48] burdges commented on #27
Access to customer data should require actual interaction with the customer.

[2017-04-26 06:50] marcoscaceres commented on #27
I'm not sure I fully grasp what you mean? can you please clarify.

[2017-04-26 07:04] burdges commented on #27
You cannot reveal any information about the customer without clearly obtaining their consent to reveal it, which requires displaying that information on the screen and the user taking an approval action.

I'm likely behind the times but previously the first interaction like that was `show()`, so the website could not access billing address, payment address, etc. before `show()`.

[2017-04-26 08:31] marcoscaceres commented on #27
That remains true. But once `show()` is called, the browser UI can mediate the billing address with the site in the same way we do for shipping address (via an appropriate event). We could do that without sending the credit card details.

Payments Requests can only proceed to completion with verification that the shipping address is OK.

[2017-04-26 12:52] #507 closed, assigned to domenic

[2017-04-26 12:53] #508 closed, assigned to domenic

[2017-04-26 20:00] adrianba commented on #467
The spec already says:

I think this is sufficient. Recommend closing this issue.

[2017-04-26 20:10] adrianba commented on #486
The spec already says:

This allows but does not require the user gesture. I think this is sufficient.

[2017-04-26 20:53] Edouard-chin commented on #403
Hello guys,

Sorry to dig up this issue and apologize in advance if this is the wrong place to ask;
I'm questioning the value of `canMakePayment`  method on an instance of PaymentRequest in a real world situation.
All code examples of `canMakePayment` assumes that we have the checkout data (total amount, currency …) as soon as the page loads.
In most cases I believe this can't be realistic and we

[2017-04-26 21:01] rsolomakhin commented on #403
I believe the idea is to create a new `PaymentRequest` object for every new state of the checkout shopping cart. So your code would become:

[code]

[2017-04-26 21:27] Edouard-chin commented on #403
Thanks for your answer Rouslan.

The usual and classic flow on any e-commerce stores is as follow:
1. Customer add products to cart
2. Customer clicks on the "Checkout button", which redirects to some "summary page"
3. Customer is ready and click on another "Checkout button" which redirects this time to the traditional checkout forms

If one wanted to perform some `canMakePayment` logic while on s

[2017-04-26 21:32] rsolomakhin commented on #403
Perhaps it would be better to initialize the `PaymentRequest` instance when the customer lands on the "summary page" in step 2. Then, when the customer is ready to click on another "Checkout button" in step 3, you can call `request.show()` instead of redirecting to the traditional checkout form. (If `PaymentRequest` is not supported, you can fall back to the traditional checkout forms.) Would that

[2017-04-26 22:27] zkoch commented on #27
Hey @tetsuharu, can you clarify what you need the billing address for? Is it for VAT calculation on digital goods? Or some other use case?

[2017-04-27 01:15] adrianba commented on #486
Discussed on the editor's call - working on a PR.

[2017-04-27 01:46] marcoscaceres opened #513 "Editorial: event `.target` attribute should be relatedTarget"
As per the DOM spec, I believe we need to talk about the relatedTarget of the event (as opposed to the value of the target attribute).

Affects text in `updateWith()` and possibly other places where we perform target type checks.

[2017-04-27 02:05] marcoscaceres commented on #513
Seems we only do the target type check once - so easy fix.

[2017-04-27 02:07] marcoscaceres commented on #467
We discussed this during the editors call, and concluded that the current text in the spec is sufficient.

@mattsaxon, feel free to reopen if you disagree with the Editors' decision to close this issue.

[2017-04-27 02:07] #467 closed, assigned to zkoch

[2017-04-27 06:51] #513 closed, assigned to marcoscaceres

[2017-04-27 08:55] marcoscaceres commented on #464
Depends on https://github.com/w3c/webpayments-method-identifiers/pull/35 (we can hook into the validate algorithm I (re)defined there).

@domenic, might be of interest to you. I have Annevk review it (from a URL-spec perspective), and he seemed ok with it and gave a bunch of feedback.

[2017-04-27 15:40] Edouard-chin commented on #403
I feel like my question needs more context although I'm still asking myself if this problem is specific to our platform or more generally the `canMakePayment` design, apologize again if it's the former.

At Shopify, we have the concept of `Cart` and `Checkout`. A `Checkout` gets created when the customer is done reviewing his cart (he his on the summary page and finally clicks on checkout which re

[2017-04-27 16:05] rsolomakhin commented on #403
I'm not opposed to instantiating `PaymentRequest` with dummy data to find out whether `.canMakePayment()` will return `true`.

[code]

If you call `.canMakePayment()` multiple times, keep in mind that the first parameter to the `PaymentRequest` constructor should contain the same data

[2017-04-27 16:42] Edouard-chin commented on #403
Sounds great. Thanks a lot for your feedbacks and quick answers. ❤️

[2017-05-03 02:29] marcoscaceres opened #520 "CR check list"
For all Transition Requests, to advance a specification to a new maturity level other than Note, the Working Group:

* [x] must [record the group's decision to request advancement](https://lists.w3.org/Archives/Public/public-payments-wg/2017Jul/0057.html).
* [x] must obtain Director approval.
* [x] must provide [public documentation of all substantive changes to the technical report since the prev

[2017-05-03 04:06] marcoscaceres opened #521 "Change the value of currencySystem to an enum"
Although seems pretty likely we will remove `currencySystem` from the spec...

For the same rationale we didn't use an URN for payment method identifiers, the currency system should be a simple enum/string value.

[2017-05-03 04:20] marcoscaceres commented on #476
@mattsaxon, I'm still at a loss of what, exactly, the problem is. Having implemented this algorithm myself, I didn't encounter any issues with it.

Can you maybe provide a code example of where you see a potential problem? Otherwise, I'm inclined to close this.

[2017-05-03 04:27] marcoscaceres commented on #476
@ianbjacobs wrote:

The algorithm is only applicable to user agents (as they are the only class of product that conform to this specification), so the above note is redundant IMO.

To be clear: It's only the user agent, through the IDL layer, that creates and controls the objects that participate in the "PaymentRequest updated algorithm" (or any other algorithm for that matter). Where the data com

[2017-05-03 05:58] adrianhopebailie commented on #521
That would defeat the purpose of having it at all.

How would someone do payments using a proprietary currency system like airline miles or loyalty points?

[2017-05-03 06:14] marcoscaceres commented on #521
Same way we do with payment method identifiers? Use URLs.

[2017-05-03 08:56] mattsaxon commented on #476
@marcoscaceres, please don't close. The issue is not that it is not implementable, the issue is the documentation is ambiguous and brittle as I mention above.

I've had 2 attempts at explaining this above, so I doubt a 3rd attempt will bear fruit. Could you perhaps tell me what part of my explanation is unclear and we can dig down on that. Alternatively, lets discuss on next week payment apps call

[2017-05-03 10:30] adrianhopebailie commented on #521
I don't understand that proposal.

Can you give me an example `PaymentCurrencyAmount`?

[2017-05-08 10:32] adrianhopebailie opened #526 "Is PaymentResponse.details the result of a JSON.parse()"
The `PaymentMethodData.data` member  (in the request) is described as being an object that is "JSON.serialized" but the definition for `PaymentResponse.details` (in the response) doesn't indicate if this will be a deserialized JSON string or how the API will behave if the data is a String and cannot be deserialized.

The algorithm describes `details` says:

Currently only 1 payment method has been

[2017-05-08 11:54] webpayments-specs commented on #526
The PaymentResponse.details is an object that should confirm to the WebIDL
defined in the payment method spec. There is no BasicCardResponse
dictionary type in the global namespace. The type of the details object is
indicated in the PaymentResponse.methodName field.

On May 8, 2017 6:33 AM, "Adrian Hope-Bailie" <notifications@github.com>
wrote:

The PaymentMethodData.data member (in the request) i

[2017-05-08 12:01] marcoscaceres commented on #526
Only against Object (or possibly null, but need to check... typing this on my phone)

No. Dictionaries are just JS Objects, not "interfaces". Only interfaces are exposed on the global object.

As above.

Yep. This☝🏼.

[2017-05-08 12:03] #526 closed, assigned to nobody

[2017-05-09 01:43] #497 closed, assigned to nobody

[2017-05-09 07:24] marcoscaceres commented on #521
[code]

[2017-05-09 09:12] adrianhopebailie commented on #521
In that case why not change the type to be a URL not an enum? Why have an enum if you only have 1 value.

If no currencySystem is provided then it's assumed to be ISO4271. Or make up a URL that indicates ISO4271?

Note that in this case (as opposed to with Payment Method Identifiers) the URN for ISO4271 is a registered URN not something we're inventing for the sake of this spec.

Also note that th

[2017-05-09 09:25] marcoscaceres commented on #521
it's exactly the same problems that PMI has. Anyway, I don't want to spend time on this, because this is already "at risk". If it survives the CR process, we can come back to it.

[2017-05-09 09:48] adrianhopebailie commented on #521
Except that PMIs have a process to get a manifest. What would a currency system manifest look like?

[2017-05-09 10:15] marcoscaceres commented on #521
They don't. It's coincidental. For example, Mozilla has currently no plans to implement Payment Manifest - but Payment Request is still usable.

It wouldn't. It's an identifier.

[2017-05-09 10:17] marcoscaceres commented on #521
To be clear: there is nothing in the PMI spec that says how a manifest is fetched. That's defined by a different spec.

[2017-05-09 12:00] adrianhopebailie commented on #521
There is still an open proposal to merge the two specs.

That creates some security risks that I don't think have been talked through. The role of the manifest is to allow the developer of a new payment method to limit which origins can deploy payment handlers for that method.

If you don't implement manifest then how will you provide this functionality?

[2017-05-09 12:20] marcoscaceres commented on #521
Bug number?

Again, we only intend to support standardized strings (i.e., basic-card) at this point. We are not affected.

[2017-05-09 21:20] adamroach commented on #521
@marcoscaceres --

I believe you mean to qualify this with "in the short term." We certainly intend to support other payment methods in the future, and we'll have to implement any associated security mechanisms at that time.

[2017-05-10 22:40] #482 closed, assigned to marcoscaceres

[2017-05-10 22:40] marcoscaceres commented on #482
done.

[2017-05-10 23:59] #437 closed, assigned to nobody

[2017-05-11 15:15] adrianhopebailie commented on #470
At the WG call on [11 May](https://www.w3.org/2017/05/11-wpwg-minutes.html#item02) the @adrianba agreed to propose a different PR (to supersede #492).

[2017-05-15 02:45] marcoscaceres commented on #481
@ianbjacobs, were the changes made in https://github.com/w3c/browser-payment-api/pull/518 sufficient to close this?

Assuming yes, please reopen if not.

[2017-05-15 02:45] #481 closed, assigned to nobody

[2017-05-15 02:52] marcoscaceres commented on #521
Will reopen this if we need to after CR.

[2017-05-15 02:52] #521 closed, assigned to nobody

[2017-05-15 03:04] marcoscaceres commented on #496
closed via 9e1b9859

[2017-05-15 03:04] #496 closed, assigned to nobody

[2017-05-15 07:14] marcoscaceres commented on #498
@mattsaxon, I've prepared a PR for this, but I'm reluctant to add an example there because we want implementers to implement from algorithms not examples.

See #530 and let me know if it's ok.

[2017-05-15 07:43] marcoscaceres commented on #476
Clearing CR milestone blocker, given comment above (assuming @mattsaxon meant, "urgent for CR").

We can dig into it after CR.

[2017-05-15 07:45] marcoscaceres commented on #493
IIRC, this was addressed by https://github.com/w3c/browser-payment-api/pull/465

@adrianhopebailie, please reopen if you are still not satisfied with the text in the spec (or kindly please send a PR with changes you would like to see).

[2017-05-15 07:45] #493 closed, assigned to nobody

[2017-05-15 07:48] marcoscaceres commented on #495
Having gained to implementation experience, empty strings are best here when interacting with form elements.

[2017-05-15 07:48] #495 closed, assigned to nobody

[2017-05-15 22:59] #509 closed, assigned to marcoscaceres

[2017-05-15 22:59] #322 closed, assigned to nobody

[2017-05-15 23:00] #458 closed, assigned to marcoscaceres

[2017-05-15 23:55] #498 closed, assigned to marcoscaceres

[2017-05-16 06:42] mattsaxon commented on #498
@marcoscacares, thanks, happy with this.

[2017-05-16 09:05] adrianhopebailie opened #532 "Matching algo doesn't handle absence of filters"
The following text does not handle the case where the filters provided by `data` are empty and the capabilities supplied by the payment handler are not. This should result in a match (i.e. No handlers are filtered out)

The WG sought to alleviate confusion around this topic by using the term "capabilities" to indicate the properties of the payment handler considered in this algorithm and the term

[2017-05-23 05:43] marcoscaceres opened #534 "shippingOption description is misleading"
Spec says:

This is not really true. It can be set during construction. It's only null if there was no selected shipping option.

[2017-05-24 07:36] marcoscaceres opened #535 "canMakePayment() needs to match .show()"
We need to make sure `canMakePayment()` matches `show()` with respect to how .data is checked in `.show()`. We should make a note about IDL conversions that can take place there and be clear that IDL violations result in "false".

[2017-05-24 22:48] zkoch commented on #480
@nickjshearer any thoughts on the above?

[2017-05-26 01:51] bentian commented on #534
Spec should also specify for _PaymentShippingOption.selected_ since 'display by default' does not necessarily mean 'assign to _request.shippingOption_ during construction'.

[2017-05-27 02:26] ktmitton opened #537 "Shipping Address Validation - Suggest Alternate Address"
The scenario I'm trying to address is when a customer enters a shipping address, which fails validation with a shipping service such as FedEx or UPS, but we are able to present the user with a suggested address based on what was provided.

Looking over the API, I only see a way to output an error message to the user explaining that the address was invalid, is there some way we can prompt the user

[2017-05-29 02:23] marcoscaceres opened #538 "Descriptions of change events attributes are somewhat misleading"
It says, for example:

It actually fires a "PaymentRequestUpdateEvent" (which inherits Event).

Attributes that need rewording:

* [x] onshippingaddresschange
* [x] onshippingoptionchange

[2017-05-29 02:24] marcoscaceres opened #539 "Show better examples of how to deal with change events"
The current examples don't actually show how one can cope with requiring a different address, as per #537.

[2017-05-29 03:03] marcoscaceres commented on #537
No. You would need to either `.abort()`, or `.complete()` but then show them an option to ship to a different address.

Both are fairly terrible options, because it will be totally confusing to `.complete()` but then for the user to be asked to select a different address (and possibly incur additional charges). Or, in the case of `.abort()`, annoying to the user that they now have to enter their c

[2017-05-31 22:37] #486 closed, assigned to adrianba

[2017-05-31 22:38] marcoscaceres opened #542 "Make text about CR phase into a note"
See my comment  https://github.com/w3c/browser-payment-api/pull/512#discussion_r115902633

[2017-06-03 13:14] ktmitton commented on #537
Yeah, a reverse lookup is what is happening, and the response we get contains alternatives ranked by how close fedex thinks they are to the provided address.

[2017-06-03 13:42] marcoscaceres commented on #537
Noting that both Amazon and eBay provide this service. It's definitely something we will need to consider in a v2 spec (don't let "v2" throw you - we should start modelling this problem sooner rather than later).

[2017-06-03 19:22] ktmitton commented on #537
Sounds good to me, thanks for looking into this!

[2017-06-03 19:24] ktmitton commented on #537
Is there anything else I can do to help?

[2017-06-05 08:43] marcoscaceres commented on #537
@ktmitton, if the current API design still allows you to deploy your app, then it would be great to see how you overcome this current limitation (screenshots help!).

However, if this is a show stopper for you, and you can't use the API because of this, then we would definitely like to hear about that too.

[2017-06-06 06:11] marcoscaceres opened #543 "Editorial: PaymentRequestUpdateEvent constructor"
The PaymentRequestUpdateEvent() constructor should be defined algorithmically (even though it just has one step (apart from calling super()): set the internal slot [[waitForUpdate]] to false.)

[2017-06-06 09:22] marcoscaceres opened #544 "updateWith() "InvalidStateError" DOMException"
@domenic, in `updateWith()` step 2-4, are:

It seems impossible to ever throw in 4 because an event's `.target` cannot be set without dispatching the event through another object (thus the dispatch flag is set).

If we want to catch 4, we would need to swap it with 3. So:

[code]

However, that seems slightly pointless - unless there is precedence in the platform to do that.

WDTY? Swap 3-4, or ju

[2017-06-07 21:47] domenic commented on #544
Yep, you're right. I don't have a strong preference on which way we fix this; if we delete 4, then it comes down to how friendly the error message is for 3, which is a quality of implementation issue. I guess less code seems better, so I'd default to deleting it.

[2017-06-08 04:52] marcoscaceres opened #546 "Unstrusted events can update PaymentRequest"
Unless I've missed something, it seems one can co-opt and untrusted event to do the work of a trusted event*:

[code]
We might just need to say in `.updateWith()` that if the event is untrusted, throw a `SecurityError` or `NotAllowedError`.

*Chrome ignores this.

[2017-06-08 16:14] #544 closed, assigned to nobody

[2017-06-08 18:10] domenic commented on #546
Great catch. Related issue: https://github.com/w3c/ServiceWorker/issues/1040. I do believe checking isTrusted is the right thing to do here, now that we've clarified that it's automatically set for all UA-dispatched events.

[2017-06-09 18:47] mustafa-x opened #548 "Adding custom fields next after shipping options have been added."
Some ecommerce sites require extra fields with the shipping details other than the address they are sending to. E.G;
- Type of residence
- Instructions to the delivery driver
- Notes to the merchant

Ideally having an empty text field, which could be populated by the user would work in most cases. Or adding a drop down.

The reason for doing this in the PR API rather than on the merchants site, is

[2017-06-10 17:55] rockeynebhwani commented on #548
When it comes to "Delivery instructions", other challenge is that every carrier has their own character limits for this field. Typically such a restriction is applied on front end by retailer (provided they know which carrier is going to fulfill the order). If you are going to allow a empty text field, you need to think about this also.

[2017-06-10 18:24] rockeynebhwani commented on #389
Let me try to add my thoughts from a retailer perspective who is looking to adopt this but after due diligence decided not to allocate any of our development resources for this as we don't think this is ready for retail adoption in it's current state and no support for 'stock pickup' is the main reason.

In UK, a typical high street retailer sees 50%-70% of their orders being picked up in store an

[2017-06-10 18:32] rockeynebhwani commented on #389
@rsolomakhin I am looking for live examples of a site using storePickup option in Apply Pay JS implementation but can't find anywhere. Are you aware of any live examples of this?

[2017-06-10 22:05] marcoscaceres commented on #389
apple.com let's you do store pickup.

[2017-06-12 15:34] ianbjacobs commented on #548
Hi @mustafa-x,

This topic is one of the earliest that the Working Group has pondered: for the data collection portion of the API, what fields should be supported? Opinions have varied, as you might imagine, and we've reached reasonable consensus on a sort of "minimal" set that can be returned quickly and without typing.

From a UI perspective, I understand that it would be handy to have an extra

[2017-06-12 15:45] ianbjacobs commented on #389
Hi @rockeynebhwani,

We last discussed this topic in March [1] where the sense was that we would postpone adding support for "in store pickup" for now. One of the Chairs observed that the best way to move the topic forward was through a concrete proposal. Your detailed considerations should help in this regard, so thank you very much.

Ian

[1] https://www.w3.org/2017/03/23-wpwg-minutes#in-store

[2017-06-12 16:31] mustafa-x commented on #548
Hi @ianbjacobs

Thanks for replying, one idea that I had that it could be tied to the users address, that way they could auto select it with the address already, but the issue of character limits comes into play.

From a UX perspective I am not sure what the most elegant flow would be, either asking the user beforehand or after. The only issue here is that the user is entering part of their addres

[2017-06-12 16:32] rsolomakhin commented on #548
@zkoch and I have directed @mustafa-x here because we're reluctant to add these fields to the API. In our reasoning, if these fields are important to the user, the user should add them to the "Street Address" part of their address on file. If the merchant feels the need to explicitly call out the additional fields, they can show `<input type="text">` fields after checkout. I'll see whether I can a

[2017-06-12 16:42] rsolomakhin commented on #548
See https://github.com/w3c/payment-request-info/wiki/CodeExamples#collect-delivery-instructions

[2017-06-12 17:04] ianbjacobs commented on #548
@rsolomakhin, thanks for the dcode! @mustafa-x, please have a look and share with merchants as part of your conversations. Feedback very welcome!

Ian

[2017-06-12 18:48] zkoch opened #549 "Drop array support for supported methods?"
Given what's happening in https://github.com/w3c/browser-payment-api/pull/536, should we consider just dropping support for an array of supportedMethods? And just move to a simple string?

It simplifies the story quite a bit, and the original idea for making it an array was so we could do "supportedMethods: ['visa', 'mc']"?

@domenic was mentioning technically this might not be that bad given how

[2017-06-12 19:01] ianbjacobs commented on #549
Hi @zkoch,

I think that makes sense for two reasons:

 * Payment method specific data is not likely to be shared.
 * Even in some edge case where it were sharable, you would only suffer some inconvenience,
    not loss of functionality.

Thanks for recalling the original reason for the list: this was conceived before we moved individual card networks from N payment methods to basic card.

Do you

[2017-06-12 19:34] domenic commented on #549
To expand: if we change the type to DOMString,

- `supportedMethods: ["foo"]` will be treated by implementations as `supportedMethods: "foo"`, which does not break anyone's apps.
- `supportedMethods: ["foo", "bar"]` will be treated by implementations as `supportedMethods: "foo,bar"`, which will break things.

(This is because converting to DOMString via Web IDL is basically the same as calling `x.

[2017-06-13 05:54] #546 closed, assigned to marcoscaceres

[2017-06-13 10:19] mustafa-x commented on #548
Many thanks all!.

I would go one step further with that code example and perhaps call it something more generic such as "Showing user extra UI if the payment is successful", as I can see a couple of use cases for that snippet.

[2017-06-13 20:40] ianbjacobs commented on #548
@mustafa-x, good idea. I have made the change:
 https://github.com/w3c/payment-request-info/wiki/CodeExamples#show-additional-user-interface-after-successful-payment

Are you satisfied with this outcome and can we close this issue?

I look forward to more feedback as you use the API.

Ian

[2017-06-13 21:51] rockeynebhwani commented on #548
@ianbjacobs This is better than nothing.. but I can give you another use case where it's absolutely mandatory for merchant to capture some information at the time of placing order (for legal reasons) and it can't be assumed that customer is going to provide this after the checkout. From our experience, not many customers read instructions on thank you page.

Here is the use case -

A merchant offe

[2017-06-13 21:53] rockeynebhwani commented on #389
@marcoscaceres Thanks for the pointer. Why didn't I try this myself ? :-).

I played with it and my view was that it was very clunky implementation from Apple and definitely what we are discussing here is very relevant to improve the experience further.

[2017-06-13 22:03] ianbjacobs commented on #548
Hi @rockeynebhwani,

My first reaction to the use cases is that the customer assertions (e.g., "I am old enough") should be captured earlier in the checkout flow, before calling Payment Request API. Indeed, the ability to call Payment Request API might be gated on the user checking a box confirming their age.

Ian

[2017-06-13 23:07] rockeynebhwani commented on #389
ianbjacobs  Thanks for pointing me towards minutes... Some thoughts on minutes..

a) Comment from @zkoch -" we don't have a huge demand for this, so we've decided for now to punt on it."

I think it differs from Market to Market. Market like UK is very big on store pick ups. I have worked for various big retailers. I am not able to share specific numbers here but 50%-70% is quite common.

b) Comme

[2017-06-14 20:48] GSPP opened #550 "A distinct invoice address should be supported"
It is common to be billed at one address and receive the shipment at another. `PaymentResponse` should have a field for the invoice address (and null if not chosen differently from the shipping address which is most common).

See https://w3c.github.io/browser-payment-api/#shippingaddress-attribute-1.

[2017-06-14 22:27] ianbjacobs commented on #550
Hi @GSPP,

Thank you for the comment. I have a couple of observations about past discussions:

* This was one of our earliest issues:
   https://github.com/w3c/browser-payment-api/issues/27

* We discussed it most recently face-to-face in March [1] . There is agreement that it's important for the use case of billing address affecting price for digital goodes. However at this time we do not plan to

[2017-06-16 07:55] marcoscaceres commented on #549
Agree this would simplify things quite a lot. The problem is that "methods" implies a list, but could live with that for the sake of compat with what's already shipped. I guess we need an ok from @adrianba and friends before we can make this change.

[2017-06-16 14:11] dlongley commented on #549
Could always add a `supportedMethod` and require just one of them to be present for a time for backwards compatibility.

[2017-06-18 04:14] marcoscaceres commented on #549
No, that would be confusing for everyone. Once things get put in the wild on the web, it's nearly impossible to deprecate them (people start copy pasting, articles get written, etc.).

We just need an ok from Microsoft here to make the change to limit the damage early and quickly.

[2017-06-18 17:26] dlongley commented on #549
I respectfully disagree on two counts. The first is perhaps a nit -- it is not nearly impossible to *deprecate* things, it just may be nearly impossible to actually remove them. Plenty of other Web technology has been deprecated or changed after being in the wild. Secondly, I don't think this particular stuff is so "in the wild" yet that it's an unstoppable force. I do understand the potential tec

[2017-06-21 22:16] #542 closed, assigned to marcoscaceres

[2017-06-21 23:27] tobie opened #555 "WebIDL serializer has been deprecated in favor of toJSON operation"
Hi!

We recently [deprecated WebIDL serializers][0]. You can now directly specify [toJSON operations][1] instead, which you previously weren't allowed to do.

To deal with common cases, we added a new [\[Default\] extended attribute][2] which triggers the [default toJSON operation][3] that behaves similarly to how `serializers={attributes}` or `serializers={attributes, inherit}` used to. That is,

[2017-06-22 00:34] marcoscaceres commented on #555
@tobie, can you check if https://github.com/w3c/browser-payment-api/pull/556 is all good?

[2017-06-22 06:18] #555 closed, assigned to marcoscaceres

[2017-06-27 23:02] #549 closed, assigned to nobody

[2017-06-29 15:59] adrianhopebailie opened #557 "Reject acceptedPromise if payment method identifer is invalid"
Per suggestion here for consistency with fail fast design: https://github.com/w3c/browser-payment-api/pull/536#discussion_r124839099

The payment identifiers provided in a request should be valid (per the PMI spec) and can either be checked as part of the `show()` algorithm at step 11 [here](https://w3c.github.io/browser-payment-api/#show-method) or earlier at step 4.2 of the Payment Request const

[2017-06-30 17:35] mustafa-x opened #558 "UX guidance article"
Hi all

I just wrote a post on the Google Developers blog about [UX design considerations with PR API](https://developers.google.com/web/fundamentals/discovery-and-monetization/payment-request/payment-request-ux-considerations)

Let me know your thoughts and additions. Also I added a stickersheet so designers could explore the flows some more in Sketch, it is Chrome only but if other browser vendo

[2017-07-05 03:33] marcoscaceres commented on #558
Nice one, @mustafa-x! I've forwarded this to the WG's mailing list and asked them to provide feedback here. Will leave this open for a bit to give you a chance to gather feedback.

In the future tho, it might be best to go directly to the mailing list and provide a link directly to the Google Web Fundamentals repo. That way, we keep things separate.

[2017-07-05 09:25] mustafa-x commented on #558
Hi @marcoscaceres
Sorry, didn't realise there was a mailing list. Ill do that in the future :)

[2017-07-06 07:16] marcoscaceres commented on #558
no problem at all - we prefer github over mailing list for most things.

[2017-07-10 16:00] ianbjacobs commented on #558
Thanks @mustafa-x! I have linked to the guide from the "developer guides" section of the web payments portal we are populating:
 https://github.com/w3c/payment-request-info/wiki/DeveloperGuides

I look forward to reviewing the material.

Ian

[2017-07-10 16:18] mustafa-x commented on #558
Many thanks!

[2017-07-10 20:52] ianbjacobs commented on #549
Hi all,

The name "supportedMethods" is now confusing since the value is a single payment method identifier.

I propose the addition of an informative note, something like:

  supportedMethods: [current definition here] Note: The value of this member changed
  from an array to a string, but the (plural) name "supportedMethods" was maintained
  for reasons of compatibility.

Ian

[2017-07-11 07:04] marcoscaceres commented on #549
The note sounds good. Please send a PR.

[2017-07-11 11:24] ianbjacobs commented on #549
I included the note(s) in this PR:
 https://github.com/w3c/browser-payment-api/pull/559

Ian

[2017-07-11 17:52] ianbjacobs commented on #520
Hi Marcos,

Thanks for putting this together. Here are some additional notes:

* Implementations: I believe that Facebook and Samsung Internet browser also
   implement PR API. (I imagine some code is shared in the case of Samsung but
   I don't know details.)

* Implementation experience documentation. My understanding is that we will create
   a test suite and an implementation report. Could you

[2017-07-14 08:59] marcoscaceres commented on #558
Closing, as it's moved to Washington Wiki.

[2017-07-14 08:59] #558 closed, assigned to nobody

[2017-07-14 09:00] marcoscaceres commented on #558
Arrgghh... autocorrect and 📱

[2017-07-17 04:28] marcoscaceres opened #560 "Populate implementation report"
Once we are in CR, and more tests get added, we will need to periodically generate an implementation report.

We can use [wptreport](https://www.npmjs.com/package/wptreport) to generate it.

[2017-07-17 04:32] marcoscaceres commented on #520
For the purpose of CR (i.e., to count as conforming implementations), we will need to add the web platform test data output somehow.

Linked from the top of the document. We will also add an implementation report.
https://github.com/w3c/browser-payment-api/issues/560

2017-10-31. I'm not sure the WG discussed that yet.

The logic was to get everything done for TPAC. Feel free to discuss with the W

[2017-07-17 13:29] ianbjacobs commented on #520
@marcoscaceres,

Regarding the comment end date of 2017-10-31: I will mention it at this week's meeting, and people can comment on it if they want during the CfC review period.

Ian

[2017-07-18 01:26] marcoscaceres commented on #327
Postponing. We can eventually leverage whatever comes out of the WebIDL discussions.

[2017-07-19 22:11] #439 closed, assigned to marcoscaceres, adrianba

[2017-07-20 08:24] #456 closed, assigned to nobody

[2017-07-24 07:06] marcoscaceres commented on #560
Stub is in place. https://w3c.github.io/browser-payment-api/reports/implementation.html

Will work with @sideshowbarker to get it populated.

[2017-07-24 07:10] marcoscaceres commented on #560
@sideshowbarker, what's the relationship between the above and the "(not very useful yet)" Dashboard: https://wptdashboard.appspot.com/payment-request

[2017-07-24 07:11] marcoscaceres commented on #560
(Ideally, the dashboard would be the implementation report at some point, right?.... is that going to happen, or should we just populate "[implementation.html](https://w3c.github.io/browser-payment-api/reports/implementation.html)" for now?)

[2017-07-24 07:15] marcoscaceres commented on #480
I'm postponing this, as unfortunately we've  not received any response from @hober.

[2017-07-24 09:26] marcoscaceres commented on #557
Closing as duplicate of #464.

@adrianhopebailie, I'm about to send a PR that ignores the invalid ones during construction as per #464.

Checking what UAs do in the tests (coming also with PR).

[2017-07-24 09:26] #557 closed, assigned to nobody

[2017-07-24 10:19] marcoscaceres commented on #464
@domenic, was working on a PR for this but got stuck. What should happen if:

[code]

Should we:

 * drop invalid ones, and throw if result is ends up being an empty list?
 * .show() reject on show, because they are all bad?
 * just set computer on fire? 🔥

[2017-07-24 14:15] sideshowbarker commented on #560
No relationship. They serve some of the same purposes. The dashboard is clearly better in that it is populated automatically, whereas anything we do with wptreport is manual at this point. One thing that dashboard lacks is the specialized report pages that wptreport does that show tests which are passing only in one UA (`less-than-2.html`) and in no UAs (`complete-fails.html`).

By the way the can

[2017-07-24 17:55] hober commented on #480
I'm not sure I have all that much insight here. Here's a little bit of background:

PassKit generally handles names in component form. This wouldn't be much of a problem for `PaymentResponse.payerName` (we could compose the single field from what we get from PassKit), but it's problematic for `PaymentAddress.recipient`, as we'd have to figure out how to decompose the name into an `NSPersonNameComp

[2017-07-24 18:00] aphillips commented on #471
Actually, breaking the customer's name into component fields introduces internationalization issues that are potentially not present with an opaque string representation. With a single "full name" string, the user can input their name however they like it to be displayed. Implementations can't infer family or given name or do operations like sorting, but modeling these is complex. Does your specif

[2017-07-24 18:03] aphillips commented on #480
I just now saw this. I don't think either @r12a or I saw this previously for some reason. I added a comment to #471 and am a little concerned that this proposal overlooks the problems inherent in personal names--these can have multiple fields (not limited to 1 or 2) and different rules associated with them. Splitting names into fields introduces the need to account for the cultural and functional

[2017-07-24 18:07] rsolomakhin commented on #480
@hober: How is `PaymentResponse.payerName` different from `PaymentAddress.recipient`? I thought these fields contain the same type of info: full name of a person.

[2017-07-28 14:03] ianbjacobs commented on #229
I am re-closing this issue because the reason I re-opened it has been addressed - the privacy section is now normative.

[2017-07-28 14:03] #229 closed, assigned to ianbjacobs

[2017-07-28 16:26] zkoch opened #565 "Considering allowing merchants to populate set of shipping addresses"
More detail here: https://github.com/it-ony/payment-request/issues/3

Something to consider after CR.

[2017-07-28 18:44] zkoch commented on #490
This feels like a blocker for moving to CR, but I'm not 100% sure on the path forward. Is it to simply validate the currency with the regex mentioned above? @domenic @marcoscaceres

[2017-07-28 19:20] marcoscaceres commented on #490
Need to check the ES Intl spec (and effectively copy that). Will do that soon.

[2017-07-28 19:43] adrianhopebailie commented on #532
In #536 this text changed slightly. The current text is:

[code]

Proposed:

[code]

[2017-07-29 08:55] cyberphone opened #566 "Don't understand how to support outsourced payment providers using CNP + basic card"
I have probably misunderstood the API but right now I have a setup with an outsourced payment provider who deals with CNP (Card Not Present) payments which I'm trying to rewrite for the PaymentRequest API.

I'm stuck converting this to setup to use "basic card" unless I offload the entire PaymentRequest handling to the outsourced payment provider which I don't want since there is a PayPal provider

[2017-07-29 14:23] ianbjacobs commented on #566
@cyberphone,

There is a task force of the Working Group discussing tokenized card payments. I suspect that a future payment method for tokenized card payments would address your need, namely of shielding the merchant from card data. Please stay tuned for more information about tokenized card payments.

Because this question does not bear directly on Payment Request API, I am going to close this i

[2017-07-29 14:23] #566 closed, assigned to nobody

[2017-07-31 13:24] marcoscaceres commented on #490
@zkoch, sent a PR. Won't make the Editor's call this week, so any feedback welcome. Should have tests ready tomorrow also.

[2017-08-01 06:40] marcoscaceres commented on #436
I concur with https://github.com/w3c/payment-request/issues/436#issuecomment-286309922

[2017-08-01 06:40] #436 closed, assigned to nobody

[2017-08-01 06:44] marcoscaceres commented on #470
Postponing until after CR.

[2017-08-01 10:43] ianbjacobs commented on #470
@marcoscaceres and @adrianba, would you mind providing rationale for the postponement? Thank you,

Ian

[2017-08-01 11:42] marcoscaceres commented on #470
There has been no movement on it for many months and it's unstable for the purpose of CR. Also, I think we can solve it in the Handler spec, because basic-card handlers and proprietary handlers can, theoretically, already do everything without needing this "hook".

[2017-08-01 11:43] marcoscaceres commented on #470
s/unstable/untestable... autocorrect 🤦‍♂️

[2017-08-01 12:04] r12a commented on #480
Just noticing this thread now. (For future reference, @ianbjacobs  and others, note that if you stick the HR:i18n-tracking label on an issue, the i18n WG will be notified about it for each new comment.) I'll add it to our tracker, and read the thread...

[2017-08-01 12:11] r12a commented on #471
For further background information on @aphillips comments, see
Personal names around the world
https://www.w3.org/International/questions/qa-personal-names

[2017-08-01 13:09] ianbjacobs commented on #480
@r12a, noted.

[2017-08-01 14:39] r12a commented on #480
@ianbjacobs do you have a link to 'the proposal' ? tx

[2017-08-02 00:55] marcoscaceres opened #571 "PaymentItem.pending can be true, but transaction can "complete""
Is any implemeter supporting "pending" in any meaningful way (i.e., in their UIs)?

If not, we should mark it "at risk".

[2017-08-02 01:10] rsolomakhin commented on #571
Chrome on Android makes "pending" line items have slightly lighter text color.

[2017-08-02 02:09] ianbjacobs commented on #480
@r12a, I'm not exactly sure what "the proposal" is. Is it simply the front of this thread?
https://github.com/w3c/payment-request/issues/480#issuecomment-289656569

(I welcome help from the Editors here.)

Ian

[2017-08-02 02:48] #472 closed, assigned to nobody

[2017-08-02 02:48] #538 closed, assigned to nobody

[2017-08-02 03:34] marcoscaceres commented on #571
I don't know what we will do with this in Firefox. I'm concerned this will confuse users - maybe, the spec should prevent pressing "Pay"until all `PaymentItem`s are no longer pending: otherwise, the total risks being deceptive.

@zkoch, thoughts?

[2017-08-02 03:41] marcoscaceres commented on #571
@adrianba, do you do anything in Edge?

[2017-08-02 05:44] cyberphone opened #572 "Adding support for "encrypted basic card""
This issue is related to
https://github.com/w3c/payment-request/issues/566

Supporting external payment providers offering "secure payment pages" where the user fill-in card details etc. has the advantage that is relieves the merchant from PCI certification as well as dealing with payment networks.  _This is a very common arrangement_.

Although https://w3c.github.io/webpayments-methods-tokenizati

[2017-08-02 06:05] marcoscaceres commented on #572
@cyberphone, can you copy/paste this issue in:
http://github.com/w3c/payment-method-basic-card

That would be the right place to discuss this.

[2017-08-02 06:05] #572 closed, assigned to nobody

[2017-08-02 06:10] cyberphone commented on #572
Done: https://github.com/w3c/payment-method-basic-card/issues/38

[2017-08-02 07:04] marcoscaceres commented on #565
duplicate of https://github.com/w3c/payment-request/issues/537

[2017-08-02 07:04] #565 closed, assigned to nobody

[2017-08-02 18:58] zkoch commented on #571
Few thoughts:

* Apple also has support for "pending" types, so we added this to be closer to Apple's API.
* I do think there's value here. IMO, line items shouldn't change, just the values they have should change. For example, if you have the following:

Subtotal: 5.00
Tax: 1.00
Shipping _pending_

This helps set user expectations that the total price is not reflective at the moment and will be u

[2017-08-02 21:19] marcoscaceres commented on #571
Thanks, I wasn't aware Apple supported this - I'll see how they handle it.

However, I'm confused by "shipping pending", as shipping options can't be pending?

On reflection, agree about not putting the constraints on "pay". Will talk to our UX/UI team.

[2017-08-02 21:28] zkoch commented on #571
The shipping price can be pending until you select a shipping address/option combo. :)

[2017-08-02 22:20] zkoch commented on #360
@domenic do you think you have everything that you need here to make a decision on how to move forward?

[2017-08-02 22:24] zkoch commented on #464
Chatted with @adrianba and we think: we've been moving towards explicitly throwing when encountering malformed data, so the appropriate action here is: reject on show if there is at least 1 bad identifier

a close second is setting computer on 🔥

[2017-08-02 22:27] zkoch commented on #473
Marking as postponed since we don't have this in any current implementation, and we'd have to mark as "at-risk" for now anyway because of that. We'd prefer to postpone for now, though we think it's a good and useful idea.

[2017-08-02 22:31] zkoch commented on #532
@adrianhopebailie can you submit a PR for this?

[2017-08-02 22:37] zkoch commented on #535
@marcoscaceres, @adrianba and I thought you really wanted this one

[2017-08-02 22:48] marcoscaceres commented on #535
You guys are the kindest people I know 🎁 ... 💥.

[2017-08-02 22:52] marcoscaceres commented on #571
Yep, got that - as it's an invariant in the spec that the `onshippingaddresschange` will fire, hence it has an way to enter a stable state. Where there is no shipping involved, I am left wondering how a `displayItem` then becomes `pending: false`?

It's a super edge case... but an somewhat annoying one.

[2017-08-03 01:03] marcoscaceres commented on #571
Ok, here is the Apple one:
https://developer.apple.com/documentation/applepayjs/applepaylineitem/1916084-type

[2017-08-03 11:01] cyberphone opened #573 "Support for "redirected" payment providers like PayPal, iDEAL/NL,Direktbetalning/SE etc"
It is not obvious to me how you can deal with one-of-a-kind payment methods which redirects you to a specific server using an URL holding proprietary payment request data.

https://www.ideal.nl/demo/en/?screens=dskweb

[2017-08-03 11:27] rsolomakhin commented on #573
I recommend such payment providers to implement the [payment handler](https://w3c.github.io/payment-handler/) spec and use [`PaymentRequestEvent.openWindow()`](https://w3c.github.io/payment-handler/#openwindow()-method) to open their pages instead of redirection.

[2017-08-03 14:15] ianbjacobs commented on #573
Because this is not a concrete issue about the Payment Request API, I am closing this issue.

I have added some information to answer this question to the Payment Method Good Practice wiki:
 https://github.com/w3c/payment-request-info/wiki/PaymentMethodPractice#openwindow-instead-of-redirects

Ian

[2017-08-03 14:15] #573 closed, assigned to nobody

[2017-08-03 22:37] ianbjacobs commented on #532
@zkoch and @adrianhopebailie,

To speed things up I've done the PR:
 https://github.com/w3c/payment-request/pull/574

Ian

[2017-08-04 15:18] cyberphone commented on #573
Would it be possible creating a repository for implementers where you may be able to put "dumb" questions like how you do this and that using W3C Payment Technology?

[2017-08-04 15:40] ianbjacobs commented on #573
This is our developer portal:
 https://github.com/w3c/payment-request-info

See in particular the FAQ, code examples, and intros.

As part of tracking these threads I (and others) enhance those resources.

(Aside: I expect that as the portal becomes useful, we will endeavor to make it
even more usable, but beautifying it is not the current top priority. )

Ian

[2017-08-04 20:33] domenic commented on #360
Yes, I do. Sorry, I just have been swamped with other things :-/

[2017-08-07 04:58] marcoscaceres commented on #571
@hober, given that `DisplayItem.pending` seems to have been added for ApplePay compat, can Apple Pay complete a payment if an item is "pending"? Do you have any thoughts on pending based on the above or below?

For record keeping purposes, just adding this test case (where a payment can be completed):

[code]

[2017-08-07 05:35] marcoscaceres commented on #480
@ianbjacobs I think we will postpone to after we go to CR. That will give @hober and friends at Apple time to figure out if they can make this work with `NSPersonNameComponents`... and if we do need to add these things after all.  Fingers crossed we can do without! 🤞

[2017-08-07 06:26] marcoscaceres opened #575 "details attribute is incorrect"
The details attribute doesn't have a "message". It has an object.

[2017-08-07 06:52] marcoscaceres commented on #475
Noting that this whole section is not well written at all... the API is not "called"... methods are called, instances get created, etc. This whole thing is super hand-wavy and not a very helpful manner. We should rewrite it to be more precise with regards to `.canMakePayment()`... and we should actually move this to `.canMakePayment()`.

[2017-08-07 06:53] marcoscaceres commented on #475
(this is not a CR blocker... just noting it can be significantly improved)

[2017-08-07 06:58] marcoscaceres opened #576 "Need short example of serializing response"
Be nice to have a short example of `response.toJSON()` and `POST`ing it with `fetch()` to a server. That would "tell the complete story" of how to use the API.

We can slot this into the existing example for payment response.

[2017-08-07 07:05] marcoscaceres commented on #475
Actually, we should remove this text entirely. The spec already has a Notes in both `.show()` and `.canMakePayment()` around this privacy concern.

@mattsaxon, can you take a look? I think it would make more sense.

[2017-08-07 13:03] ianbjacobs commented on #475
Is there value to a visible Privacy section (header) with a high-level statement of intent, as well as pointers to specifics?

Ian

[2017-08-07 18:21] zkoch commented on #571
FWIW, this doesn't seem any worse to me than a set of line items that don't properly add up to the total.

[2017-08-07 23:15] marcoscaceres commented on #571
True that.

[2017-08-07 23:15] #571 closed, assigned to nobody

[2017-08-08 01:05] mauricionr opened #577 "What about billet payment option?"
Here in brazil we pay a lot of things on the internet with billet?

Any discussion if this payment method should be supported in the payment request?

in my opinion this payment option could make the adoption of the payment request API get bigger in brazil.

Thanks :smile:

[2017-08-08 01:48] ianbjacobs commented on #577
Hi @mauricionr,

We discussed Boleto payments a couple of years ago:
 https://www.w3.org/2015/06/18-wpay-minutes#usecases

We have not talked lately about a Boleto payment method specification. I am going to close the issue here and instead have pinged our CIP friends on his topic:
 https://lists.w3.org/Archives/Public/public-payments-wg/2017Aug/0005.html

Thanks!

Ian

[2017-08-08 01:48] #577 closed, assigned to nobody

[2017-08-08 04:58] marcoscaceres commented on #475
IMO, no. "Less is more".

[2017-08-09 23:43] domenic commented on #360
It turns out much of this is unnecessary as per the event loop spec tasks on non-fully active documents are not executed. So now that we are properly queuing tasks to do observable things, (B) and (C) from https://github.com/w3c/payment-request/issues/360#issuecomment-274213058 are not a concern.

(A) is still a potential concern though, so I will fix it. Also, in that comment I said we'd just lea

[2017-08-10 04:45] cyberphone opened #580 "Dealing with "other" payment methods"
I don't have a specification to offer at this stage so regard this request as something that may or may not have a reasonable solution.  The core problem is that there's quite a bunch of methods which aren't covered by the current set of specifications including:

- PayPal
- Schemes using an external mobile device as "payment method" to a desktop browser session.  This method is gaining traction a

[2017-08-10 05:28] marcoscaceres commented on #580
Please watch Zach' IO talk:
https://youtu.be/hU89pPBmhds

It's all answered there. I think we already solve everything above.

[2017-08-10 05:28] #580 closed, assigned to nobody

[2017-08-10 05:29] marcoscaceres commented on #580
(skip to 28 mins to see the PayPal bit! It's awesome)

[2017-08-10 07:14] cyberphone commented on #580
I find no support for what I asked about in the mentioned presentation at 28 min (it deals with third party native Android payment app integration).  Later in the presentation Zack mentioned that Google is working with PayPal to create a (presumably) proprietary integration solution which also seems like an entirely different thing.

[2017-08-10 14:07] #532 closed, assigned to marcoscaceres

[2017-08-10 14:55] webpayments-specs commented on #580
Hi Anders, you might want to watch again. :) In that presentation I, along
with Max and Jiajia from AliPay, talk about the following:

* Opening up the third party ecosystem for native payment apps
* Opening up the third party ecosystem for web-based payment apps
* PayPal will be working with us to build a web-based payment app, *based
on the WG's PaymentHandler API*

So I do think everything you'

[2017-08-11 17:21] RByers commented on #549
I don't see any chromium bug filed to track updating it's implementation for this spec change.  Filed [this one](https://bugs.chromium.org/p/chromium/issues/detail?id=754779).

[2017-08-12 01:44] marcoscaceres commented on #549
Thanks @RByers for filing it. Chrome is failing all WPT related to payment because of this - so will be great to see Chrome's results go back to being all green 💚

[2017-08-14 19:15] rsolomakhin commented on #576
FYI, I have sample code for this on https://emerald-eon.appspot.com/. Here's a simplified snippet:

[code]

[2017-08-14 20:31] dlongley commented on #576
@rsolomakhin,

Note that the `catch` for `show()` won't catch any errors with `fetch`. Add `return ` before `fetch` to make that happen if that's what's intended. Potentially the same problem with `complete` but maybe that is behaving how you want ... not really sure what the exact intent here is.

[2017-08-14 20:58] rsolomakhin commented on #576
Yep, I should really have a separate catch() for my fetch() call.

[2017-08-14 20:59] dlongley commented on #576
We could also just write the example with `async/await` :)

[2017-08-14 23:47] marcoscaceres commented on #576
Thanks, @rsolomakhin! Can definitely use this. Will adapt it.

[2017-08-15 03:41] marcoscaceres commented on #576
The above beautifully distills down to:

[code]

[2017-08-15 16:29] #360 closed, assigned to domenic

[2017-08-16 03:48] marcoscaceres opened #584 "Show example of .complete("unknown")"
As part of https://github.com/w3c/payment-request/pull/583, we've somewhat struggled to come up with a real use case for completing a payment response with "unknown".

Although "unknown" feels like a good idea, can anyone think of a *real* use case where:

* somehow you get into the "unknown" situation?
* "fail" doesn't suffice?

If we can't come up with something useful, we should probably mark i

[2017-08-16 04:22] #576 closed, assigned to nobody

[2017-08-16 08:30] marcoscaceres opened #585 "Be more explicit that only alphabetic codes are supported for currency codes"
The spec should be clear that only "alphabetic codes" and **not** "numeric codes" of ISO 4217:2015 are supported by the "currency" member.

[2017-08-16 22:12] marcoscaceres commented on #584
Talked to @zkoch, he mentioned 3D Secure can lead to "unknown".

[2017-08-17 00:49] RByers commented on #549
Yeah @marcoscaceres, the failing WPT is exactly how I noticed this :-)

[2017-08-17 02:38] #585 closed, assigned to nobody

[2017-08-18 11:47] aboou2 commented on #575
magidbu2@gmail.com

[2017-08-18 11:47] aboou2 commented on #575
Ram

[2017-08-21 02:03] #575 closed, assigned to nobody

[2017-08-21 08:58] marcoscaceres opened #588 "Make paymentRequest.id a UUID a must"
We should re-evaluate if all implementations end up using a UUID, and maybe make that into a MUST requirement.

 * [x] Gecko
 * [ ] Facebook
 * [x] Chrome
 * [X] Edge
*  [x] Safari

[2017-08-21 08:58] marcoscaceres commented on #588
cc @edenchuang

[2017-08-21 23:00] zkoch commented on #584
@marcoscaceres , are you OK to close this issue?

[2017-08-21 23:16] marcoscaceres commented on #584
Was going to add something to the .complete() example.  I'll update the bug title to not confuse people.

[2017-08-22 04:07] marcoscaceres opened #589 ".updateWith() should only be callable if event was canceled"
The way the spec is currently written, the payment sheet of a browser can lock up waiting on `ev.updateWith()` to be called.

What actually needs to happen is:

  1. That the developer needs to cancel the event somehow and then call `ev.updateWith()` - maybe .updateWith() cancels the event automatically? (I like this, because it means existing apps can continue to work without devs needing to make

[2017-08-22 05:44] marcoscaceres commented on #589
Might not need to deal with cancel flag at all, because we have `[[waitForUpdate]]`.

[2017-08-23 02:04] marcoscaceres opened #592 "Add a way of getting `details` from a `PaymentRequest`"
The API requires "playing ping pong" with the UI by continuously updating the "details" of a payment request. This means that details either needs to be curried, constantly passed around, or (parents, please, avert your children's eyes) set as a global! 🙀

As such, we should consider adding a convenience method to pull the latest derived "details" from a payment request.

Something like:

[code]

[2017-08-24 06:38] biseraivanovska opened #593 "Third party Method not recognized- why"
Hi,

Since Google supports using payment request api to pay with third party methods, I followed the instructions from
- https://www.xda-developers.com/google-officially-adopts-the-payment-request-api-allowing-you-to-pay-with-3rd-party-apps-in-chrome/
- https://developers.google.com/web/fundamentals/discovery-and-monetization/payment-request/deep-dive-into-payment-request#defining_supported_paymen

[2017-08-24 07:55] marcoscaceres commented on #593
@biseraivanovska unfortunately, we can't assist with developer questions here. I'd recommend you contact @gauntface directly on Twitter - he is super nice and I'm sure he would be willing to help you out and improve the docs.

[2017-08-24 07:55] #593 closed, assigned to nobody

[2017-08-24 08:54] cyberphone commented on #593
@biseraivanovska I have already got an answer on this:
https://github.com/madmath/payment-request-show/issues/13#issuecomment-317460376

[2017-08-24 14:06] rsolomakhin commented on #593
I'm happy to review implementations and offer advice for integrating 3rd party payment apps.

[2017-08-25 05:22] marcoscaceres opened #594 "Duplicate shippingOptions lead to inconsistent `updateWith()` - should throw!"
If given:

[code]

And we do:

[code]

The API says that because there are duplicates, all the shippingOptions become invalid and essentially this becomes an error in the payment sheet.

However, the above is developer error, not a user error!  This leads to somewhat frustrating user experience where the user is told the merchant can't ship to that address (when in fact, the merchant can!):

![scr

[2017-08-25 05:32] marcoscaceres opened #595 "Empty shippingOptions (ab)used as error"
Related to #594.

Consider the following situation, where no `shippingOptions` are given, but `requestShipping: true`:

[code]

Given the fix in #591, it should be perfectly ok to await a `PaymentResponse` without needing the user to pick a (non-existent) shipping option:

[code]

Right now, the above ends in user frustration, because they are told:

![screenshot 2017-08-25 15 18 56](https://user-

[2017-08-25 05:34] marcoscaceres commented on #595
To be clear: my proposal is to allow .shippingOptions to be empty. Don't (ab)use that to be an error in the payment sheet.

[2017-08-25 05:36] marcoscaceres commented on #595
Also related #548.

[2017-08-25 05:40] marcoscaceres commented on #594
Note also in the above, that the use can keep trying/modifying/adding addresses but they will all continue to fail. But neither the user or the developer will know why!!!!

[2017-08-26 09:08] ghost opened #597 "https://www.w3.org/TR/payment-request/#conditional-modifications-to-payment-request"
supportedMethods: "basic-card", --> supportedMethods: ["basic-card"],

[2017-08-26 12:32] marcoscaceres commented on #597
We recently changed the spec to use a string, not an array 😊

[2017-08-26 12:32] #597 closed, assigned to nobody

[2017-08-31 05:58] #309 closed, assigned to marcoscaceres

[2017-08-31 05:58] #464 closed, assigned to marcoscaceres

[2017-08-31 22:26] adrianba commented on #595
Agreed not to do this.

[2017-08-31 22:26] #595 closed, assigned to zkoch

[2017-09-04 02:24] marcoscaceres opened #600 "Integration with Feature Policy"
In V2, the spec should integrate with the [Feature Policy](https://wicg.github.io/feature-policy/) spec. We need to investigate what this means and/or reverse engineer the Web Platform Tests that Google has submitted around this.

[2017-09-04 03:07] marcoscaceres commented on #520
Closing this, as all that is left if #598.

[2017-09-04 03:07] #520 closed, assigned to nobody

[2017-09-04 03:08] marcoscaceres commented on #560
From @sideshowbarker, need to start doing:

And then use: https://www.npmjs.com/package/wptreport

[2017-09-04 06:35] #594 closed, assigned to zkoch

[2017-09-05 03:20] marcoscaceres opened #601 "PaymentAddress attribute definition is wrong"
Spec currently says:

This should actually be ISO 3166-1 alpha-2 codes.

It should also state that the user agent needs to convert the code to upper case.

[2017-09-05 03:23] marcoscaceres commented on #601
Also, I can't find any "[CLDR] (Common Locale Data Repository) region code"? The CLDR is very badly organized and hence "region code" could basically mean anything.

Any idea who was responsible for suggesting this?

[2017-09-05 03:54] marcoscaceres opened #602 "PaymentAddress.languageCode lacking canonical form"
Two issues:

- [x] there is no such thing as a language "code". This is supposed to be a language "tag".
- [x] the spec doesn't state that this needs to be covered to canonical form.

[2017-09-05 03:58] marcoscaceres opened #603 "Creation and assignment of PaymentAddress is underspecified"
The spec says:

This is woefully inadequate.

It needs to construct and instances, perform canonicalization and various attribute values, set missing things to the empty string, etc.

[2017-09-05 04:29] marcoscaceres opened #606 "PayerAddress.phone and PayerResponse.payerPhone"
We should explicitly set `PayerAddress.phone` to empty string when `requestPayerPhone` is false.

Otherwise, it can leak through accidentally in #603.

[2017-09-05 05:18] #602 closed, assigned to nobody

[2017-09-05 06:59] marcoscaceres opened #608 "Describe how to implement PaymentAddress.languageCode"
Implementers are currently figuring out how to derive the `languageCode`'s value in an interoperable manner.

During the CR phase of standardization, implementers will report back on implementation experience, possibly using [Unicode CLDR](http://cldr.unicode.org) to derive the `languageCode`. Please see comments of this GitHub issue for followup, or join the discussion.

[2017-09-05 08:10] marcoscaceres opened #609 "If requestShipping is false, pr.shippingOption should be null"
During testing, a weird case came up.

If you have:

[code]

That seems bad. If no shipping was requested by the merchant, then the selected shipping option should actually be `null`, no? Even if the merchant screwed up and added shipping options that can't ever actually be selected by the end user (there is no UI to make the selection).

[2017-09-05 08:11] marcoscaceres commented on #609
Tried to clarify the above issue a bit more.

[2017-09-05 08:12] marcoscaceres commented on #609
This is the actual test that shows this special handling:
https://github.com/w3c/web-platform-tests/pull/7239/files

[2017-09-05 08:14] marcoscaceres commented on #609
Note that `response.shippingOption` will be `null` - so this is correctly handled on the `response` side.

[2017-09-05 08:51] marcoscaceres commented on #609
I also noticed that `.updateWith()` actually has this check too - so this is definitely a spec bug.

[2017-09-05 08:56] marcoscaceres commented on #609
To be clear:

[code]

[2017-09-05 12:44] ianbjacobs commented on #601
Hi Marcos,

I believe this came from:
 https://github.com/w3c/payment-request/commit/075a2759214469085db87fac2a3a974d04429c71

@rsolomakhin, @zkoch, and @adrianba can you confirm you are ok with changing this reference?

Ian

[2017-09-05 13:15] rsolomakhin commented on #601
You can see the list of region codes at http://unicode.org/cldr/charts/31/supplemental/territory_containment_un_m_49.html, for example.

We went with CLDR instead because CLDR is updated more frequently. @lararennie and @roubert: Do you have any examples of where CLDR is better than ISO 3166-1?

[2017-09-05 13:18] rsolomakhin commented on #609
I agree with your reasoning, @marcoscaceres

[2017-09-05 13:27] rsolomakhin commented on #608
Yep, we use [BuildComponents()](https://github.com/googlei18n/libaddressinput/blob/3cefac503f6321f7f84a790939dc7cb022bce169/cpp/include/libaddressinput/address_ui.h#L40) function in our implementation.

[code]
This language tag is especially useful for countries that present their addresses in two different ways depending on the language tag. For example, `ja-JP` language tag results in country be

[2017-09-05 13:51] rsolomakhin commented on #606
I don't see `PayerAddress` in the spec. Can you elaborate on this?

[2017-09-05 14:33] roubert commented on #601
The important difference between CLDR and ISO is that CLDR guarantees non-reuse of codes, while ISO does not, so CLDR codes will be stable over time while an ISO code might take on a new meaning in the future.

[2017-09-05 15:52] marcoscaceres commented on #606
Sorry, "PaymentAddress" I mean. Been looking at this spec for too long.

[2017-09-05 16:01] marcoscaceres commented on #601
How often do the ISO codes change tho? It seems extremely edge-casey.

Also, from a dev perspective (and from someone trying to test and implement this) I couldn't find the codes in the mess that is the Unicode site.

I don't imagine average developers would have much luck finding those either, hence I'm more inclined to cite ISO.

[2017-09-05 16:13] marcoscaceres commented on #601
(On the flip side, I wouldn't mind not citing ISO because their specs are neither free nor open: we have to rely on Wikipedia to get the country list... so I could be convinced to cite the CLDR so long as we point to the actual chart and use the correct terminology: "2-letter county code listed in the Territory Containment Table")

[2017-09-05 16:26] rsolomakhin commented on #606
Shipping address phone number may be required for the carrier to resolve delivery problems. If you're shipping something as a gift, then the shipping address phone number may not be the same as the payer phone. Therefore, I believe that `requestPayerPhone` should not affect `PaymentAddress.phone`.

[2017-09-05 16:38] marcoscaceres commented on #606
I see. I'd still like to somehow make it clear the a user's phone number doesn't accidentally get leaked tho.

[2017-09-05 20:02] adrianhopebailie commented on #601
Enough justification for me

[2017-09-06 01:31] marcoscaceres commented on #608
@rsolomakhin thanks for that info. That's super helpful. I need to now look at the implications of this for the spec, as it demystifies some of the magic.

[2017-09-06 03:37] marcoscaceres commented on #601
The problem is that CLDR cites the [UN list](https://unstats.un.org/unsd/methodology/m49/), which itself cites the ISO list (but uses the 3-letter codes, but that's fine).

The other problem with the CLDR chart is that it's version dependent (e.g., 31).

Lastly, I made another attempt today to find my way to the territories chart, and failed. I can't cite something that is nearly impossible to rea

[2017-09-06 13:19] rsolomakhin commented on #601
Can we write this?

I've filed an [issue against CLDR](https://unicode.org/cldr/trac/ticket/10621) to address your concern of ease of use.

[2017-09-06 15:35] marcoscaceres commented on #601
Let me look into this a little bit more. We don't want to get into a WebSQL/SQLite situation - where versioning literally killed that whole effort (won't obviously happen here, because this is a tiny thing - but it smells similar).

[2017-09-06 16:23] marcoscaceres opened #611 "Add Exposed= to IDL interfaces"
Exposed= is now mandatory in WebIDL. Adding this as a reminder.

[2017-09-06 18:19] zkoch commented on #606
I agree with Rouslan. I'm not sure I see the issue here. A phone number is part of a shipping address. The user will have to select this for it to get passed back to the merchant. This, to me, is WAI.

[2017-09-06 18:24] rsolomakhin commented on #601
See also a wealth of information at http://unicode.org/cldr/trac/browser/trunk/common/supplemental/supplementalData.xml

[2017-09-06 21:53] marcoscaceres commented on #606
Agree. They are separate things that sometimes overlap.

[2017-09-06 21:53] #606 closed, assigned to nobody

[2017-09-07 03:26] #611 closed, assigned to nobody

[2017-09-07 06:59] ghost opened #613 "Pay method for testing environment"
A "Pay" method is necessary for the UI testing environment to trigger the pay button.

[2017-09-07 08:14] marcoscaceres commented on #613
Not sure I follow? `.show()` triggers showing the UI?

[2017-09-07 08:20] ghost commented on #613
https://developers.google.com/web/fundamentals/discovery-and-monetization/payment-request/images/5_9_payment_request_ui.png

The blue pay button.

[2017-09-07 08:33] marcoscaceres commented on #613
Unfortunately, we can't add that, as the web platform doesn't define a "UI testing environment" (i.e., in the same way we define a "SecureContext").

As the person writing most of the tests for the test suite, I totally feel your pain tho. I'm having to test everything manually.

[2017-09-07 08:34] marcoscaceres commented on #613
Note that we've tried to work around this - but we couldn't get consensus from everyone so we stopped :(:
https://marcoscaceres.github.io/payment-method-web-platform-test/

[2017-09-07 08:47] ghost commented on #613
Ok, thanks a lot.

[2017-09-07 09:22] marcoscaceres commented on #613
No problem. If you are testing this yourself, it be great to hear how you are working around this limitation (and degree of pain).

If it becomes a issue for you, we'd like to hear it so we can try to address it in the future!

[2017-09-07 12:37] ghost commented on #613
It will be appreciated if you can add the **test_pay** method. Then the payment gateway can follow your standard.

[2017-09-07 13:23] rsolomakhin commented on #613
To be fair, there was no push back either, so I still plan to go down this path.

[2017-09-07 15:59] dandv opened #614 "Pre-filter shipping addresses, e.g. by country"
If a merchant only ships to certain regions, it would be useful to pre-filter the shipping addresses the user can select from. The case of no eligible address would be quite frequent - the user could see instead an explanation provided by the merchant, along with an affordance for adding an eligible address.

Example use cases:

* Merchant doesn't ship to non-continental US, and the user has two a

[2017-09-07 16:33] dandv opened #615 "Pre-calculate shipping costs for available addresses"
Use case: the user has 2 or more address they can ship to. The merchant would like to pre-calculate the shipping costs and ideally pre-sort the addresses by cost.

To prevent accessing PII without the user's knowledge, the UA could provide only partial addresses (e.g. Country + zip/postal code) upfront, based on which the merchant could still calculate costs.

[2017-09-07 16:53] rsolomakhin commented on #601
@marcoscaceres: The CLDR maintainers on http://unicode.org/cldr/trac/ticket/10621 are suggesting that we use http://www.unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html. Does that work?

[2017-09-07 22:40] ghost commented on #613
**test_pay** method --> environment':'TEST'

[2017-09-08 00:59] #609 closed, assigned to nobody

[2017-09-08 01:17] marcoscaceres commented on #614
Smarter filtering would be nice. However, it would mean passing all addresses to the merchant, and that doesn't seem great from a privacy perspective...

Conversely, the merchant would need to pass in all the states for each country that they support. That could be more doable, but we would need a standardized list of all the states/provinces/regions in the world.

[2017-09-08 01:28] dandv commented on #614
[ISO3166](https://www.iso.org/iso-3166-country-codes.html) standardizes the country code. Provinces and regions are more of a can of worms, agreed, but perhaps filtering by country would cover 80% of the use cases.

[2017-09-08 03:20] marcoscaceres commented on #601
@rsolomakhin unfortunately, no, for the reason I gave above. So, it's totally correct to *implement* with the CLDR (we do the same in Gecko). But citing the CLDR is still not right for the spec for the two reasons I gave:

1. The CLDR cites "[Standard country or area codes for statistical use (M49)](https://unstats.un.org/unsd/methodology/m49/)" (and takes the Alpha-2 codes from ISO, as far as I c

[2017-09-08 03:21] marcoscaceres commented on #601
Added link to M49 above.

[2017-09-08 03:53] #589 closed, assigned to nobody

[2017-09-08 04:37] #603 closed, assigned to nobody

[2017-09-08 04:40] marcoscaceres commented on #499
Closed via https://github.com/w3c/payment-request/pull/599, I believe.

[2017-09-08 04:40] #499 closed, assigned to nobody

[2017-09-08 04:44] marcoscaceres commented on #534
This is actually true now thanks to https://github.com/w3c/payment-request/pull/610! :)

[2017-09-08 04:44] #534 closed, assigned to nobody

[2017-09-08 05:08] marcoscaceres commented on #601
Going back over everything, I'm still convinced that ISO 3166-1 is the correct standard to cite here (even if the implantation is powered by CLDR).

@rsolomakhin, I'm happy to discuss further tho if I'm misunderstanding.

[2017-09-08 05:08] #601 closed, assigned to nobody

[2017-09-08 12:46] ianbjacobs commented on #499
(I hope so, too!)

[2017-09-08 13:59] rsolomakhin commented on #601
Sure, ISO it is. The link is https://www.iso.org/obp/ui/#search/code/, btw.

[2017-09-08 14:00] rsolomakhin commented on #601
(As long as using CLDR for implementation is still correct.)

[2017-09-08 14:03] rsolomakhin commented on #601
@marcoscaceres Did you see that CLDR has addressed your comment about clarity of their region code list?

http://unicode.org/cldr/trac/ticket/10621#comment:11

[2017-09-08 19:13] adrianhopebailie commented on #601
@marcoscaceres happy for you implementors to figure this out as long as we don't cite anything that's not publicly accessible.

[2017-09-11 02:23] marcoscaceres opened #617 "Decide on currencySystem"
The currencySystem is marked at risk. We need to check at the end of CR period if has implemented it.  If not, we need to remove it.

To date (March 22, 2018), no one implements support for it.

[2017-09-12 02:24] marcoscaceres opened #618 "Make iframe allowpaymentrequest normative"
The spec depends heavily on HTML iframe's `allowpaymentrequest` attribute, so the reference to it should be normative.

I've linked the tests to the spec (and the tests are part of the official test suite), so lets make it official.

[2017-09-13 03:34] marcoscaceres commented on #601
It is :) Don't worry. I'm pretty sure we (Moz) will also use the CLDR to derive the language code.

Yes, that was helpful.

We are all good on that regard.

[2017-09-14 03:51] marcoscaceres commented on #613
@sabrinatseng I just discovered that too by accident:
https://docs.microsoft.com/en-us/microsoft-edge/dev-guide/device/payment-request-api

@rsolomakhin ^^^ "Test Mode in Microsoft Edge"...

[code]

It doesn't exactly allow us to automate things, but it's something.

[2017-09-14 05:50] marcoscaceres opened #620 ".updateWith() example says "throws""
The `updateWith()` example says that `.updateWith()` throws... which is kinda wrong... it rejects the `responsePromise` instead, causing `.show()` to look like it threw when in an async function.

That should be fixed or it will cause confusion.

[2017-09-14 06:03] marcoscaceres commented on #620
Actually, I've been looking at this spec for too long.

[2017-09-14 06:03] #620 closed, assigned to nobody

[2017-09-14 14:12] rsolomakhin commented on #613
Better than nothing. I'm OK implementing this. OK with you, @marcoscaceres?

[2017-09-14 14:36] marcoscaceres commented on #613
Yep, but I need to check if Edge has those addresses/values and test credit card details built-in. We should also get an assurance from Microsoft that they won't change it if we copy them.

If the above holds, we can easily define `environment: "TEST"` as a note in Basic Card.

[2017-09-14 14:38] marcoscaceres commented on #613
@patrickkettner, @molly26dalton - see above. Would we be safe to copy Edge/Microsoft Wallet here?

[2017-09-14 16:49] adrianhopebailie commented on #613
It would be nice to still have a test payment method so that this is not tied to `basic-card`.

[2017-09-14 16:50] adrianhopebailie commented on #613
<meta>Lots of discussion here so re-opening</meta>

[2017-09-15 02:48] marcoscaceres commented on #613
@adrianhopebailie if it's ok, I'd like us to move this to Basic Card, as it doesn't belong in Payment Request. I've opened: https://github.com/w3c/payment-method-basic-card/issues/41

[2017-09-15 02:55] marcoscaceres commented on #613
@adrianhopebailie:

Ah, sorry. I missed this comment.

Yeah, it would be, but let's take baby steps... we [tried once](https://marcoscaceres.github.io/payment-method-web-platform-test/) already, but it proved too hard. So, the `environment` thing is a good start and simple enough to implement.

If we can get `environment` as a first step, then we can then return here and take the next step ("use T

[2017-09-15 06:00] ghost commented on #613
show method -> **shown event** -> **test_pay method** -> paymentResponse

[2017-09-15 06:24] marcoscaceres commented on #613
@sabrinatseng, can you please write out what you mean more fully (or in JS)? I'm not able to follow your logic above.

[2017-09-15 06:39] ghost commented on #613
Now the payment flow is **show method** -> **paymentResponse**.
[code]

It should add the paymentRequest shown event so the test_pay method can apply.
Something like this

[code]

[2017-09-15 07:01] marcoscaceres commented on #613
Right, that won't work unfortunately (and we would need to add additional method and event). The model Microsoft has implemented gives us everything we need however (but with the limitation of needing to actually click on things, but that's ok for now).

To overcome the "clicking on things" problem, we need a whole new payment method identifier (and model for driving it...).

[2017-09-18 07:55] marcoscaceres commented on #608
@rsolomakhin, could you provide me with an address that triggers a non-empty-string value for `languageCode`? I tried using fake Japanese addresses, but couldn't get it to return "ja-latn" or even "jp-jp".

[2017-09-18 09:56] edent opened #622 "Documentation error? 55 + 5 = 65"
"2.2 The details argument" shows

            displayItems: [
              {
                label: "Sub-total",
                amount: { currency: "USD", value: "55.00" },
              },
              {
                label: "Sales Tax",
                amount: { currency: "USD", value: "5.00" },
              },
            ],
            total: {
              label: "Total due",

[2017-09-18 10:59] marcoscaceres commented on #622
Just realized the $5 comes from the selected shipping option. But it was wrong not to have a comment not explaining that.

[2017-09-18 13:47] rsolomakhin commented on #608
It's already implemented on Android, but desktop will implement it soon, as well.

![screenshot_20170918-094539](https://user-images.githubusercontent.com/1028633/30544988-5072101a-9c56-11e7-87c8-fa23374858a7.png)

[2017-09-18 15:31] ianbjacobs opened #624 "Are integer values for PaymentCurrencyAmount.value left as integers?"
Hi @marcoscaceres, @rsolomakhin, @adrianba,

I was asked today whether integer values (PaymentCurrencyAmount.value) are preserved as integers, or whether ".00" is appended by implementations.

I don't see anything in the algorithm [1] about this type of conversion. I think the desired behavior is "if you get an integer, leave it as an integer."

Is that how implementations behave today?
Should the

[2017-09-18 16:09] rsolomakhin commented on #624
We append decimals based on the currency. Japanese Yen does not have decimals, for example. However, if the merchant specifies fractions of a cent, we preserve it. We're using [ICU](http://site.icu-project.org/) library for this. Our code:

https://cs.chromium.org/chromium/src/components/payments/core/currency_formatter.h

[2017-09-18 16:11] ianbjacobs commented on #624
If I were to type “10” in USD, would the merchant receive “10” or “10.00”?

Ian

--
Ian Jacobs <ij@w3.org>
https://www.w3.org/People/Jacobs/
Tel: +1 718 260 9447

[2017-09-18 16:13] rsolomakhin commented on #624
Our formatting is for display only. The payment app receives the raw amount string. (The amounts defined as strings in the API.)

[2017-09-18 16:15] ianbjacobs commented on #624
Ok, thank you.

Should we say in the spec something like "Do not transform valid values?"

Ian

[2017-09-18 16:17] rsolomakhin commented on #624
I think it would be sensible for the payment handler spec to clarify that the "total" amount must not be modified from what the merchant sent in any way.

[2017-09-18 20:38] adrianhopebailie commented on #613
Let's mark this as a v2 feature and leave it open then. We're in the process of preparing a new charter and these postponed issues are our starting point.

[2017-09-18 23:04] adrianhopebailie commented on #490
This is is referenced as the place to log use cases for `currencySystem`, which is currently at risk.

Re-opening for that purpose unless the editors want to create a new issue and update the reference in the spec.

[2017-09-18 23:51] ghost commented on #613
Thank you @adrianhopebailie.

[2017-09-19 00:07] marcoscaceres commented on #613
Can live with that. The problem space is effectively to control the main events and echo back requested data on those events and in the Payment response... and doing that in a secure way (e.g., only when dev tools is open or a browser pref is set, for automation).

[2017-09-19 00:12] marcoscaceres commented on #613
Note that I'm using the label Future Candidate Feature also. I want us to move to an incremental release model using semantic release  (i.e., 1.1, 1.2, etc.). That way, we can spec, test, and land features more quickly, without getting bogged down with a monolithic "v2" release.

[2017-09-19 00:40] marcoscaceres commented on #490
Oh, my bad. The spec should have referenced https://github.com/w3c/payment-request/issues/617

[2017-09-19 00:43] ianbjacobs commented on #613
Hi @marcoscaceres
That sounds like a great topic for TPAC. Can we carve out some time for discussion on versioning then?

Ian

[2017-09-19 00:45] marcoscaceres commented on #613
Absolutely. We should have a fairly good idea of what we need by then. But track w3c/payment-method-basic-card#41, as it will serve as the basis for this (🤞).

[2017-09-19 00:46] marcoscaceres commented on #613
Oh, you meant the 1.x thing... that too! ☺️

[2017-09-19 00:47] ianbjacobs commented on #613
Yes 1.x. Added as note for agenda-building:
 https://github.com/w3c/webpayments/wiki/FTF-Nov2017

[2017-09-19 01:02] marcoscaceres opened #625 "Move to an incremental feature release model"
With the monolithic "1.0" out of the way, we could consider now moving to an incremental spec maintenance and enhancement model based on [semantic versioning](http://semver.org).

Such a model would allow us to do incremental releases and bug fixes without the pressure of having to do a big "2.0" release. It would allow us to fix bugs quickly, and only rapidly release features that have consensus,

[2017-09-19 01:12] #622 closed, assigned to nobody

[2017-09-19 01:13] marcoscaceres commented on #624
Yeah, we could add a note. The spec (and tests!) is certainly clear that implementations shouldn't change the values (but can be formatted for display however is appropriate, of course).

[2017-09-19 03:05] adrianhopebailie commented on #490
@ianbjacobs is this something we can still change in the spec?

[2017-09-19 03:15] ianbjacobs commented on #490
Not in the published TR version, but in the editor's draft, sure.
Ian

[2017-09-19 03:21] marcoscaceres commented on #490
@ianbjacobs, I thought we could just email @deniak and get it republished without any pain?

[2017-09-19 03:21] marcoscaceres commented on #490
(i.e., non-normative changes during CR are fine)

[2017-09-19 03:25] ianbjacobs commented on #490
I stand corrected. It looks like we can send a publication request to publish a new
CR version.

Rather than send a volley of (re)publication requests, should we wait a couple of
weeks to see if there are other small fixes?

Ian

[2017-09-19 03:30] domenic commented on #490
No, please republish on every commit. If this is currently inefficient, the system needs to get better, and we can help encourage that :)

[2017-09-19 03:31] marcoscaceres commented on #490
What @domenic said. I'd like to deliberately email for republish on every commit to make the point that CR should also have auto-publish enabled.

[2017-09-19 03:34] ianbjacobs commented on #490
I don't mind sending a publication request (tomorrow my time). Should I take this commit:
https://github.com/w3c/payment-request/commit/7e4a2caeb60593e83e5b471f14ec37b3e1bede54#diff-eacf331f0ffc35d4b482f1d15a887d3b

Ian

[2017-09-19 03:38] marcoscaceres commented on #490
@ianbjacobs, take the top from https://github.com/w3c/payment-request/commits/gh-pages

[2017-09-19 05:32] marcoscaceres opened #626 "Clarify the `displayItems` are not shared with payment handler"
People are concerned about their purchases being sent to third-party payment handlers (via `displayItems`) .

In the privacy section, we should make it crystal clear that these don't get sent to third-party payment handlers. We might also want to tighten text around that in a normative sense.

[2017-09-19 05:43] marcoscaceres commented on #608
awesome. Can you copy/paste that JSON structure here? I can then use it in a real test over in WPT.

[2017-09-19 12:37] rsolomakhin commented on #608
[code]

[2017-09-19 12:56] ianbjacobs commented on #626
It is already the case that Payment Handler API does not include displayItems. Do we need to say more in Payment Request API?

[2017-09-19 13:02] marcoscaceres commented on #626
It's more about things like native apps acting as payment handlers (not really concerned about tech we control at w3c). It's unclear what happens there.

[2017-09-19 13:40] rsolomakhin commented on #626
Android payment apps don't get display items.

["Is ready to pay" params](https://docs.google.com/document/d/1izV4uC-tiRJG3JLooqY3YRLU22tYOsLTNq0P_InPJeE/edit#heading=h.vdpkhr2o3rxb):
 - `methodNames`
 - `methodData`
 - `topLevelOrigin`
 - `topLevelCertificateChain`
 - `paymentRequestOrigin`

[Payment params](https://docs.google.com/document/d/1izV4uC-tiRJG3JLooqY3YRLU22tYOsLTNq0P_InPJeE/edit#head

[2017-09-19 14:09] marcoscaceres commented on #626
That's awesome to hear and see. Note that I want to add the note because I know it's going to keep coming up as a question (someone already asked me about this on the twitters). I want developers and users to feel at ease with the API (hence adding a note).  I'm not worried that anyone is actually  leaking this info out of the browser.

[2017-09-19 16:46] ghost opened #627 "Add support for crypto currencies"

[2017-09-19 17:12] ianbjacobs commented on #627
Hi @AhsanE,

Thanks for reaching out and suggesting that the Working Group look into cryptocurrency payment methods. I would reframe your issue as follows:

1) Payment Request API is designed to accommodate different payment methods. We capture the data and flow requirements for these in "payment method specifications." I hear part of your comment as "there should be cryptocurrency payment method

[2017-09-19 17:12] #627 closed, assigned to nobody

[2017-09-19 22:35] markalanrichards commented on #626
@marcoscaceres thanks :+1:
After the chat on Twitter I thought I'd pop on here to raise a PR as suggested and realised you were way ahead of me

[2017-09-20 01:07] marcoscaceres commented on #626
@markalanrichards, no problem. Sorry, was about to ping you on twitter to let you know I'd filed this. I'll ping you for review once I draft somethings... or if you are feeling up to it, and want to propose some text, that's also very welcomed!

[2017-09-20 01:21] marcoscaceres commented on #626
Ah, just saw you sent a pull request also. Excellent. Will make comments there.

[2017-09-21 06:58] domenic opened #629 ""Exposing available payment methods" is confusing given the existence of canMakePayment()"
A Chrome developer ended up confused by this section because it says

However this is not true for "the payment request API" in general, only for paymentRequest.show(). In particular canMakePayment() can be called without UI.

This section should be rewritten to be specific what methods it's talking about, and talk about canMakePayment()'s step 3 mitigations additionally.

---

As a separate probl

[2017-09-21 07:00] marcoscaceres commented on #629
I can have a go at fixing it.

[2017-09-21 07:02] domenic commented on #618
It's already normative in the PaymentRequest() constructor, where it matters. The section at https://w3c.github.io/payment-request/#paymentrequest-and-iframe-elements is just a non-normative summary of the actual normative requirement at https://w3c.github.io/payment-request/#constructor .

So I think this should is fine as-is.

[2017-09-21 07:08] lknik commented on #629
I support this request :)

[2017-09-21 07:13] marcoscaceres commented on #629
@lknik, be careful, or we will rope you in to help and review stuff.

[2017-09-21 07:14] #618 closed, assigned to nobody

[2017-09-21 07:15] marcoscaceres commented on #618
Yeah, agree looking at it again now.

[2017-09-21 09:51] marcoscaceres opened #630 "404 on some tests"
Some tests got renamed, but I forgot to update the links in the spec... reminding myself to do that.

[2017-09-21 14:07] ianbjacobs commented on #629
From a republication of CR perspective,this sounds editorial to me.

[2017-09-22 03:37] ashokmisra commented on #624
Not sure if this was answered explicitly. Seems like the merchant would receive 10.00. I believe most processors deal with auth/charge amounts as positive integer in the smallest currency unit i.e. to auth 1 USD you need to send '100' and to auth 100 JPY, 100 needs to be sent.
So is there any harm in using the convention most payment processors follow ?

[2017-09-22 04:28] marcoscaceres commented on #624
10 goes to the API - not to the merchant.

For "basic-card", "USD" and "10" is formatted a "USD$10" or whatever the OS convention is.

For a tokenized payment handler, it will need to interpret "US" and "10" appropriately. It's outside the scope of the API. We don't touch the values or change them... we only validate them.

In the case of basic card, the merchant gets a credit card details - and i

[2017-09-23 10:46] markalanrichards opened #632 "Regulatory Compliance Support"
I had hoped this was already done, but I get the impression from https://github.com/w3c/payment-request/pull/628 that there hasn't been a clear decision on privacy protections, suggesting the specification hasn't followed a  Privacy By Design process or included appropriate risk assessments.

Please can the w3c provide material of a Privacy By Design approach, supported by Privacy Impact Assessmen

[2017-09-25 04:56] marcoscaceres commented on #632
This is not the case: the WG did a [security and privacy assessment](https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k). We just didn't link to it from the spec.

Maybe we should link to the google doc (or put it in the wiki)?

Please also note, the spec has received wide review, including from those who have the authority to enforce things like PCI-DSS. It's up to th

[2017-09-25 08:24] marcoscaceres commented on #490
🎉 spec now pointing to correct issue.

[2017-09-25 08:24] #490 closed, assigned to marcoscaceres

[2017-09-25 08:32] marcoscaceres commented on #588
@rvm4, could you confirm what Facebook uses for paymentRequest.id?

[2017-09-25 19:58] markalanrichards commented on #632
Great to see there's been an assessment, but it doesn't seem to include the risks regarding payment descriptions (what people buy), so it needs some work.

The security and privacy assessment also has open issues still cited against it.

For shipping details it doesn't consider the use case that the recipient may not be the payer and the payer may not be legally be allowed to share the recipient i

[2017-09-26 05:04] #624 closed, assigned to nobody

[2017-09-26 05:18] marcoscaceres commented on #632
That's #628.

Sure, we intend to continue to improve the spec as we continue along the recommendation track. Specifications are living documents.

The `PaymentRequest.shippingAddress` includes [`recipient`](https://www.w3.org/TR/payment-request/#dom-paymentaddress-recipient) that can be different from the person making the purchase, which is captured via the `PaymentResponse`.[`payerName`](https:/

[2017-09-26 13:39] ianbjacobs commented on #632
@markalanrichards,

Would you be available to chat with me by phone regarding compliance issues? I would also be happy to share with you some of the work that has been done (including chatting with the
EBA, for example). Best to pursue this by email: <ij@w3.org>.

Ian

[2017-09-27 10:49] markalanrichards commented on #632
@marcoscaceres
The spec is creating the privacy problem by adding the fields, so when you state:

does that mean that the motivation here is to make people vulnerable by default, so browser vendors can compete to sell privacy to those who can afford to protect it (ie: not everyone wants to buy or can afford Apple products and thus Safari)?

I can understand browsers competing regarding aspects lik

[2017-09-27 12:49] chadcampbell opened #633 "Pre Authorization"
Hello,

I reviewed the Payment Request API. In my personal opinion, the `PaymentRequest` object needs an additional function. The purpose of the function would be to pre-authorize a payment for a specific amount. In the real-world, this situation happens at gas stations. For example, you have to swipe your credit card before you pump your gas. The gas station will pre-authorize that you can make a

[2017-09-27 13:15] ianbjacobs commented on #633
Hi @chadcampbell,

Thank you for submitting this use case. We are starting to look more closely at automotive use cases [1], including pay at the pump [2].

I'm marking this as postponed for version 1 but look forward to returning to this use case soon!

Ian

[1] https://cdn.rawgit.com/w3c/automotive-pay/gh-pages/charter.html
[2] https://www.w3.org/WebCommerce/IG/wiki/Automotive/UseCase_PayAtPump

[2017-09-27 13:31] marcoscaceres commented on #633
I’m confused as to how this is any different to just calling show()? The display item would just be “€100 pre-authorize gas”? Then responses.complete(“fail”) if the amount can’t be pre-authorized. What am I missing? Is it just that you want the “Pay” button to say a different thing in the sheet (i.e., pre-authorize)?

[2017-09-27 13:37] rsolomakhin commented on #633
I'm in the same boat as @marcoscaceres in that I believe the current API can accommodate the use case. I would recommend to use of [payment handler API](https://w3c.github.io/payment-handler/), if we decide to go with the `CanMakePayment` event firing design. Your `PaymentRequest` code would look like this:

[code]

In your payment handler, you would write the following:

[code]

This payment hand

[2017-09-27 13:56] chadcampbell commented on #633
I see now. I misunderstood the purpose of `canMakePayment`. Thank you for clarifying.

[2017-09-27 13:57] ianbjacobs commented on #633
Thanks @rsolomakhin, and for adding that code to our code samples:
 https://github.com/w3c/payment-request-info/wiki/CodeExamples#pre-authorize-transaction

Ian

[2017-09-27 15:01] cyberphone commented on #633
An existing solution here provided for "inspiration":
https://cyberphone.github.io/doc/saturn/saturn-v3-presentation.pdf#page=13

[2017-09-27 18:58] adrianhopebailie commented on #633
@rsolomakhin actually, while I agree with your point in general, I don't completely agree with your solution 😄

Most importantly, pre-auth is a feature of specific **payment methods** (just like recurring payments and other features we have explored). Some payment methods will support this concept, some won't.

If we "add support" for these features it will likely be in the Basic Card payment meth

[2017-09-28 13:44] rsolomakhin commented on #633
Different types of payment methods will have different implementations for what this means. Some examples are:
* Does the user have at least 1 dollar in their account?
* Does the user have a card on file in their account?
* Does the user have an account?
* Can the user sign up for an account, even if they don't have one?

[2017-09-29 01:40] dandv opened #634 "Dealing with name as returned by the API (i18n)"
Use case: right now the user can enter anything as their name within a payment method. However, some payment processors require a FirstName + LastName. One would think that most users do enter both, but one of our partners has seen orders failing within the first day of launching PR due to users not adding a last name.

[2017-09-29 01:47] rsolomakhin commented on #634
Hi @dandv,

That's excellent feedback and I hope we can improve the API for your needs. Giving up the user's full name on the card would require user consent, which is another step in the UX flow. How about instead we delegate validation to the browser via something like `"requireFamilyName": true` option? Please let me know what you think.

Cheers,
Rouslan

[2017-09-29 02:12] marcoscaceres commented on #634
Is it the case for people who don’t use, or have, a last name? I’m trying to figure out if the problem is with the API or that particular payment processor.

[2017-09-29 18:15] adrianhopebailie commented on #634
@dandv My guess is that this is an implementation error.

If a card processor is using the name on the card as part of the auth process for a card payment they should not be using `PaymentResponse.payerName` they should be using `BasicCardResponse.cardholderName`.

Can you confirm this is the case?

[2017-09-30 17:49] chinnagogulapati commented on #634
Hi Marcos/Adrian,
I am from JCrew, our payment processes CyberSource validates name on the card (`BasicCardResponse.cardholderName`) and `BasicCardResponse.billingaddress`.
Billing address validation is mainly to avoid fraud in case of lost card, so we send name on card and billing address too, they validate all the required fields including first & last name on billing address first then send req

[2017-10-01 12:22] dsajmr-commercial commented on #584
Dsa here... Looking to provide an update, trust me it's necessary at this point. What's the proper forum, how to go about it and what are the parameters... I'm sure our values var-y by millions of bytes... Let's open up a private chat where discussion can take place in plain English. I'm not a coder in case you haven't guessed.

[2017-10-02 03:10] marcoscaceres commented on #634
The single line entry for all name inputs is correct as per the API. We don't distinguish between name parts because it's nearly impossible to do so on a global scale: please see [Personal names around the world](https://www.w3.org/International/questions/qa-personal-names).

When it comes to billing information, there are three possible places to get this information (from most authoritative, to

[2017-10-02 03:26] marcoscaceres commented on #634
Based on the outcome of this discussion, we should probably draft up some Internationalization Considerations.

[2017-10-02 06:13] sideshowbarker commented on #634
(paging in @r12a)

[2017-10-02 08:49] r12a commented on #634
I haven't read the thread yet, but i added an i18n-comment label.  That will cause this issue to become visible to the i18n folks via their daily and weekly digests.  I'll take a closer look shortly.

[2017-10-02 11:55] paranoid-android opened #635 "Handling Digital Assets (i.e. Bitcoin and Ethereum)"
I was looking to use the Payment Request API to accept Bitcoin and Ethereum. However, it looks like the API is focused on pulling money via a credit card. Yet, Bitcoin and Ethereum are focused on letting users "push" money. This is one way they promote privacy.

In my opinion, I think digital assets should be supported in the payment request API. For example, if a developer chose "crypto" as a `su

[2017-10-02 12:59] ianbjacobs commented on #635
Hi @paranoid-android,

The API will support a variety of payment methods, including push payment methods. We look forward to members of the group working on cryptocurrency payment methods, which may be used with Payment Request API. As this is not an issue on the Payment Request API itself, I am closing this issue.

To track what work we are actively developing, see:
 https://github.com/w3c/webpay

[2017-10-02 12:59] #635 closed, assigned to nobody

[2017-10-02 18:44] chinnagogulapati commented on #634
@marcoscaceres
I understand the i18n concerns, Also spoke to Cybersource and it make sense to me about the validation to avoid fraud.
Why con't we have `paymentRequest.addEventListener (paymentoptionchange)` and event having select card and billing address data. So venders like us can validate address and return error message to customers, same as shipping address change.

[2017-10-02 19:44] ianbjacobs commented on #634
Hi @chinnagogulapati,

Card data is only available after the user has selected a payment app and approved payment. At this point, the party that called the API can evaluate the response data and determine what action to take, including sending a message to the user and relaunching Payment Request API.

Receiving user data before the user has agreed to pay seems problematic from a privacy and secur

[2017-10-03 00:05] adrianhopebailie commented on #634
@chinnagogulapati , thanks for the feedback. I think that it is important to also get feedback from the implementors on where they source that data.

When a user is prompted to provide their name (the input that @marcoscaceres is referring to) that should only be used to populate `response.payerName`.

If the user is paying by card and the browser is capturing this information (including the "Name

[2017-10-03 14:37] rsolomakhin commented on #634
Chrome differentiates between **Payer Name** (`requestPayerName: true`), **Cardholder name**, and **Billing address recipient name** (`supportedMethodNames: "basic-card"` for the latter two). These are three different input fields in UI that the user can set to different values.

[2017-10-04 03:59] marcoscaceres commented on #634
Agree. I don't think (hope 🙏) anyone does that.

[2017-10-04 15:34] arosiek opened #637 "payment modifier brings error"
why the following code:

[code]

brings error:
[code]

according to https://www.w3.org/TR/payment-request/#x2.2.2-conditional-modifications-to-payment-request it should works.

[2017-10-04 15:35] arosiek commented on #637
`modifiers` is the problematic part.

[2017-10-04 15:36] arosiek commented on #637
my chrome version is 61.0.3163.100

[2017-10-04 15:36] rsolomakhin commented on #637
supportedMethods: "basic-card" -- this is the problem. It's not 100%
implemented everywhere yet. Please use supportedMethods: ["basic-card"] for
now.

On Wed, Oct 4, 2017 at 11:34 AM, Andrzej Rosiek <notifications@github.com>
wrote:

[2017-10-04 15:39] arosiek commented on #637
thaks.

ok, but it still not works in a proper way. I mean `creditCardFee` is not visible still

[2017-10-04 15:41] rsolomakhin commented on #637
Chrome launched full support for modifiers in version 62, which is currently in beta. Can you verify it works for you?

https://www.chromestatus.com/feature/6636936064139264

https://www.google.com/chrome/browser/beta.html

[2017-10-04 18:31] arosiek commented on #637
yes, works perfect on version 62, even without brackets. it was annoying, thank you for such fast feedback, have a nice day!

[2017-10-04 18:31] #637 closed, assigned to nobody

[2017-10-05 19:53] billhannah opened #638 "Allow default option for donation in PaymentShippingType"
If this API is used for accepting donations (for example, a 501.3c organization is the US), the default delivery options do not make sense as no goods are being exchanged. It is not clear if we can avoid using the default `PaymentShippingType` ENUM and replace it with a custom option (instead of adding to the end of the default list).

[2017-10-05 19:55] rsolomakhin commented on #638
Why does a donation need a shipping address?

[2017-10-05 19:58] billhannah commented on #638
Sorry, can you avoid displaying the Shipping Type? I just started reviewing this today for my organization and I haven't gotten through all the details. From the UX page at Google it suggested that all the details would be displayed

[2017-10-05 20:01] billhannah commented on #638
Found it - it is optional. Thank you for your response. Closing

[2017-10-05 20:01] #638 closed, assigned to nobody

[2017-10-05 20:03] rsolomakhin commented on #638
Always happy to help. Please don't hesitate to reach out with any questions.

[2017-10-06 02:56] jenan-stripe opened #639 "Add way to update `total` and `displayItems` before `.show()`"
We’ve heard from merchants that they’d like a way to update the `total` of a PaymentRequest before `.show()` is called. Concrete use case: render a button on page load after being sure that `canMakePayment()` resolves to `true`, and then `.update()` as a user selects between SKUs. Another: a donation site where the user can select how much to donate.

One solution may be to just create new `Paymen

[2017-10-06 13:51] rsolomakhin commented on #639
Hi @jenan-stripe,

Thank you for bringing this to our attention. We've been recommending merchants with this requirement to call `canMakePayment()` once and reuse its result as the shopping cart updates:

https://github.com/w3c/payment-request-info/wiki/CodeExamples#check-whether-user-can-make-payment-before-all-prices-are-known

We don't recommend calling `canMakePayment()` for every instance of

[2017-10-06 15:29] jenan-stripe commented on #639
@rsolomakhin Ah, fascinating! Thanks for detailed response and Chrome details!

That sounds like a great workaround, but it sort of falls out of some assumptions about the API rather than specific contracts, right?

1. Right now, it looks like the Payment Handler spec [says](https://www.w3.org/TR/payment-handler/#the-paymentrequestevent) that handlers receive `total` (although it's not clear to me

[2017-10-06 16:16] rsolomakhin commented on #639
It's true that the spec does not specify when the scan for the payment apps should happen. There's a fine line between predictability of API behavior and tying the hands of browser manufacturers. I see your point here, though. Perhaps this is good behavior to standardize across browsers, so that web developers can rely on it. @ianbjacobs Can we put this on agenda for the next call or the face-to-f

[2017-10-06 16:22] ianbjacobs commented on #639
@rsolomakhin, I have added the topic to the agenda.

[2017-10-07 09:36] lknik commented on #632
@markalanrichards I'm sorry but do you expect W3C to commission a full privacy impact assessment? I'm not sure this would be in scope of W3C's work, especially since this is a work-intensive process. IMO sites requiring a PIA would need to do on their own.

I am definitely not convinced that it is W3C who should be responsible for compliance matters of private businesses (though specifying certain

[2017-10-08 20:52] KOLANICH opened #640 "Third-party payment handlers"
I think that making a list of supported payment methods an implementation detail of a browser is a very bad idea. It creates entry barriers to payment systems, gives browsers developers too much power and makes them targets for legal actions (I'm not aware about the laws allowing prosecuting web browsers makers (non-merchants) for non-supporting national payment system, but it is obvious that it i

[2017-10-08 21:15] ianbjacobs commented on #640
Hi @KOLANICH,

Have you seen the draft Payment Handler API spec?
 https://w3c.github.io/payment-handler/

Ian

[2017-10-08 23:18] markalanrichards commented on #632
@lknik sorry, but can I turn that on it's head.
Do you expect every business that uses your specification in Europe to have to do a privacy assessment from scratch when looking at your api? Either you can help them out, or they'll have to assess the privacy impact each themselves. All sites will require a privacy impact assessment throughout the EU
https://www.itgovernance.co.uk/blog/gdpr-and-priv

[2017-10-08 23:43] KOLANICH commented on #640
not yet, but will see ...

[2017-10-09 05:40] marcoscaceres commented on #617
Blocked on https://github.com/w3c/web-platform-tests/issues/7369

[2017-10-09 05:44] marcoscaceres commented on #462
We need to add a note to the spec that we are still trying to figure out what the right behavior is (or that UAs might vary here). Gecko is currently following the spec, but our UX folks are investigating different options.

[2017-10-09 05:53] marcoscaceres opened #641 "Extract actionable items from @lknik's review"
There are a few actionable items from @lknik's review that we should fix:
https://blog.lukaszolejnik.com/privacy-of-web-request-api/

We should review the article and extract actionable things that we can fix (specially around iframes, which @lknik shows are pretty easy to bypass).

I believe this is related:
https://github.com/w3c/payment-request/issues/629

[2017-10-09 19:34] ianbjacobs commented on #641
Thank you @lknik and @marcoscaceres. One idea occurred to me upon reading the piece:
extend rate limiting to cover both the "parent origin" and any parent/child (included script)
pairs. I don't know if that's what implementations do today.

A script could be included by multiple parents which is why I thought of rate limiting the pairs (as part of rate limiting the parent).

I've added this topic

[2017-10-09 19:42] jenan-stripe commented on #639
@rsolomakhin Ahhh excellent -- so `canMakePayment` + payment handler interaction isn't actually specced yet. That clears things up. 👍

[2017-10-11 11:44] lknik commented on #632
https://www.itgovernance.co.uk/blog/gdpr-and-privacy-impact-assessments-why-are-they-required/

First of all, Data Protection Impact Assessment will not have to be performed for all sites, and that article is not stating that.
Secondly, when making a PIA/DPIA, it all depends on the setting. You are asking "what", DPIA should say "why" and "how". It's a standard API, and even using your way of reas

[2017-10-11 13:26] markalanrichards commented on #632
Privacy impact assessment will have to be done as some form of exercise everywhere user data is handled in Europe, which will likely include most if not all payment situations. http://www.eugdpr.org/key-changes.html - privacy by design is the legal requirement and thus requires some form of assessment in order to design: if you can design without an assessment then I'm not sure I'd trust the desig

[2017-10-11 19:33] lknik commented on #632
Sometimes yes, sometimes not. The criteria aren't yet finalized and it "all depends".
I didn't see you citing any relevant sources on PIAs or DPIAs requirements in this thread yet.

I'm not asking for payments. I asked if you think W3C should make PIAs for all the standardized APIs in general, and perhaps suitable towards any business out there? If yes, why only focusing on payments, if not, why n

[2017-10-11 19:35] lknik commented on #641
Yeah, thought of a similar solution (quota on effective top-level context/domain). Then again, what about CORS or other hacks?

[2017-10-12 01:41] markalanrichards commented on #632
This is the new EU regualtion
http://data.consilium.europa.eu/doc/document/ST-5419-2016-INIT/en/pdf

You'll find various references in there to privacy by design and privacy by default. It's worth searching for those words, even if you don't read the whole spec, to get an understanding of what we need to do in the EU.

I don't think the wider policy of the w3c needs to be the topic for this api di

[2017-10-12 20:06] lknik commented on #632
@markalanrichards I assure you I know GDPR and the upcoming ePrivacy pretty decently. By the way, I'm in the EU.

Ps. fun fact, it does not contain privacy by design, in fact, the word "privacy" is never used inside.

[2017-10-12 20:40] markalanrichards commented on #632
@lknik
This is a better link https://gdpr-info.eu/

Privacy by design and default is common phrasing, but if you want keywords:
 - default
 - (data protection by) design

The text of GDPR is finalised, Germany has already signed it into law (for 2018) , but I'm pretty sure from my understanding that all EU member states need to have included this into domestic laws before the deadline in May? I'm

[2017-10-16 22:40] michelle-stripe commented on #27
As we’ve been interviewing developers who are integrating with the Payment Request API, we’ve realized that collecting billing address is critical to some of their businesses.

There are multiple use cases we’ve uncovered, but the primary use case that makes us believe that billing address should be a core consideration of the Payment Request API (rather than handled by individual payment method s

[2017-10-16 22:41] michelle commented on #27
As we’ve been interviewing developers who are integrating with the Payment Request API, we’ve realized that collecting billing address is critical to some of their businesses.

There are multiple use cases we’ve uncovered, but the primary use case that makes us believe that billing address should be a core consideration of the Payment Request API (rather than handled by individual payment method s

[2017-10-17 00:39] ianbjacobs commented on #27
Thanks @michelle! I have added this to our face-to-face agenda.
Ian

[2017-10-20 15:02] ianbjacobs opened #642 "Is browser support for PR API configurable?"
Hi all,

I believe browsers allow users to turn off autofill. Are browsers planning to implement a similar switch for PR API support so that users of computers in public settings (library, at work) do not inadvertently store sensitive information?

Ian

[2017-10-20 16:53] rsolomakhin commented on #642
Chrome has the option to not save the credit card when paying via PaymentRequest on Android. Similar feature is coming to desktop soon as well.

[2017-10-20 17:00] ianbjacobs commented on #642
Thanks, @rsolomakhin!

@marcoscaceres, @molly26dalton I would also be interested hearing about your implementations.

Ian

[2017-10-21 00:03] marcoscaceres commented on #642
Ours is also configurable- there is a checkbox at checkout time that says “don’t save my card details”.

[2017-10-30 09:25] dontcallmedom commented on #642
@marcoscaceres I think @ianbjacobs 's question was about making it impossible for a specific browser configuration to save any card details (rather than relying on the user to check the "don't save" box).

[2017-10-30 09:38] marcoscaceres commented on #642
Ah, I think it's possible by disabling autofill via settings, by unchecking "Remember logins and passwords for websites" maybe?.  It's all coming out of the same autofill database.

@mnoorenberghe, can you confirm?

[2017-10-30 22:55] mnoorenberghe commented on #642
I think there is some confusion in this thread but Firefox will have a checkbox to save the profile (unchecked by default) during the PR flow. Given that our checkbox will be unchecked by default, I don't think we'd need any preference toggle. I'm not sure how we will handle Private Browsing yet.

[2017-11-05 05:36] marcoscaceres opened #643 "Make Payment Address construction into its own sub algorithm"
It's useful to describe how to construct and format and a newly created `PaymentAddress`.

[2017-11-06 00:13] jenan-stripe opened #645 "Add way to update `total` and `displayItems` after `.show()` but before user interaction"
This is related to but different from #639.

Some users have reported to us that they may not know the total or line items at the time of attempting to open the payment sheet with `show()` -- there may be asynchronous server-based logic yet to be resolved.

Apple Pay provides an unrelated API that users can repurpose to work around this: if you listen for [onpaymentmethodselected](https://develope

[2017-11-06 01:02] michelle commented on #645
(I work with @jenan-stripe.)

It's worth noting that this workaround is not ideal, because `show()` may not always be callable without a user gesture. Thus, this method is not guaranteed to work across all browsers. This is allowed for by the spec:

[2017-11-06 19:19] jmacwhyte commented on #608
I lived in Japan for a long time and have a fair bit of experience with handling Japanese addresses in front end web development. I ran into the common headaches of displaying addresses nicely to users, so I know very well why this was proposed!

That said, from my experience I think the languageCode item is not needed in this spec. If merchants want to make the extra effort to display addresses i

[2017-11-07 05:42] rsolomakhin commented on #645
Something that could work:

[code]

Example usage:

[code]

[2017-11-07 17:37] michelle commented on #645
That would work, although I think “loading screen” is a bit specific. The promise management for the user here is also a bit tricky — if the merchant is trying to update greedily, they will need to store a reference to the promise corresponding to their last update. How about something like this:

[code]

This is a nice developer experience because it detaches updates from the `show()` API, which

[2017-11-07 19:51] rsolomakhin commented on #645
Can the `initialize` event also be used to solve the use case of a _merchant validation_ event?

[2017-11-07 20:10] marcoscaceres commented on #645
I don't think there is a requirement on user gesture... just that the page has focus. Does that help? I don't remember who showed this... but:

[code]

[2017-11-07 20:16] marcoscaceres commented on #645
Ah, @michelle, you mean like clicking a "buy button" (not browser gated)... would the proposal of using `.show(promise)` above work still?

I'm thinking the initial `total` would just be set to "0" initially, and the the promise updates it.

[2017-11-07 20:36] marcoscaceres opened #646 "Add support for merchant validation"
We need a means to do merchant validation, as per:
https://developer.apple.com/documentation/applepayjs/providing_merchant_validation

However, this is "one and done" event, so it's a good candidate to be a promise. So, sketch:

[code]

[2017-11-07 20:42] rsolomakhin commented on #646
Here's what should happen for the `validationURL`:

[code]

[2017-11-07 22:14] marcoscaceres commented on #646
[code]

[code]

[2017-11-07 22:15] marcoscaceres opened #647 "Fine grained error recovery for fields"
[Similarly to Apple Pay](https://developer.apple.com/documentation/applepayjs/applepayerrorcontactfield), we need need to define a means to signal which fields in the payment sheet suffer from a validation error.

[2017-11-07 22:18] marcoscaceres opened #648 "redact full shipping address from event until payment response"
Redact:
 * name
 * phone
 * address line(s)
 * part of the zip. (+4 in US) ... um, we need to work that out.

[2017-11-07 22:37] marcoscaceres opened #649 "updateWith(data) should merge with request.data"
Given partial PaymentDetailsUpdate, should we object merge with whatever the sheet is showing?

## Problem
Given:

[code]

So, `details` initially populates the payment sheet with a `total`, `displayItems`, `shippingOptions` etc.

Today, `ev.updateWith({total})` being called causes `displayItems`, `shippingOptions`, etc. to all get trashed - and only the total updates. Obviously, that's not great.

[2017-11-07 23:12] michelle opened #650 "Allow locale to be specified by the developer."
It would be helpful for merchants to be able to specify the locale that the user agent displays the payment sheet in.

Especially as we're discussing custom error messages, which are merchant-supplied, it is really awkward if the message the merchant supplies doesn't match the language (and amount / currency display) in the sheet.

An additional data point we have from Stripe Checkout is that loca

[2017-11-07 23:15] michelle commented on #650
cc @marcoscaceres @rsolomakhin @aestes @jenanwise

[2017-11-07 23:16] michelle commented on #27
cc @marcoscaceres @rsolomakhin @aestes

[2017-11-08 02:09] rsolomakhin commented on #650
The locale should pass on to the payment handler as well. @frank-hoffmann

[2017-11-08 06:06] jenan-stripe commented on #639
Closing in favor of #645.

[2017-11-08 06:06] #639 closed, assigned to nobody

[2017-11-08 17:06] rsolomakhin commented on #27
👍

[2017-11-08 17:14] michelle opened #651 "Require user gesture when `.show()` is called"
It looks like this is already noted in the CR, but I wanted to open a ticket for this to track status on this.

ApplePayJS (whose behavior I imagine will eventually make it into Safari's PaymentRequest implementation) only allows `.show()` to be called by user activation (e.g. `click`). On the other hand, Chrome allows `.show()` to be called as long as the page is in focus. This makes it hard to b

[2017-11-08 17:14] michelle commented on #651
cc @aestes @jenanwise @marcoscaceres @rsolomakhin

[2017-11-08 17:25] rsolomakhin commented on #651
We can start requiring the user gesture in Chrome.

[2017-11-08 17:28] zkoch commented on #651
This will break some implementations in the wild, so we should be thoughtful about how we do this.

[2017-11-08 17:28] michelle opened #652 "Standardize phone number format"
It would be good to require a standard format for phone number (e.g. E. 164). It's recommended right now, but not required.

 * [x] Chrome ✅
 * [x] Firefox ✅
 * [ ] Edge (Microsoft Wallet)
 * [x] Safari ❌

[2017-11-09 02:10] rsolomakhin commented on #652
A note for other implementers: Chrome asks the user to fix their phone number before payment if it's not valid. Chrome uses libphonenumber for both validation and formatting.

[2017-11-14 06:44] marcoscaceres commented on #652
@mnoorenberghe, wdyt?

[2017-11-14 06:49] mnoorenberghe commented on #652
Firefox uses libphonenumber's data as well and we were aware of the previous discussion about E.164 so were planning to normalize according to it.

[2017-11-14 06:54] marcoscaceres commented on #652
@molly26dalton, could you enquire within Microsoft for us?

@aestes, how do you handle this in Apple Pay?

[2017-11-14 18:15] rsolomakhin opened #653 "Merchant-specified default shipping address"
At TPAC we've talked about merchant defining the default shipping address as a requirement for some implementers or merchants. I'm in favor of this feature. Should we also allow specification of other fields? For example, name, email, phone number. Even basic-card related data is conceivable here, but I'm not sure whether any merchant would use that.

cc: @marcoscaceres @aestes @michelle-stripe @j

[2017-11-14 23:58] marcoscaceres commented on #653
Ok, we might need to split this up into more parts to deal with email, phone number, etc. so let's do that separately.

I'll start by with adding the constructor to `PaymentAddress` (and corresponding init dictionary), which gives us the highest priority thing we need.

Kinda crying now that it's called *Payment*Address as this will be useful throughout the web platform. Too late to rename? We can

[2017-11-15 06:25] marcoscaceres commented on #653
I've started working on this... but have questions about how crazy we want to go with the E.164 conformance.

Playing with the [libphonumber demo](http://rawgit.com/googlei18n/libphonenumber/master/javascript/i18n/phonenumbers/demo-compiled.html), it seems to be much stricter than what E.164 requires. e.g., if I'm reading E.164, "+" is optional.

We can come up with a subset, like must start with

[2017-11-15 08:55] marcoscaceres commented on #653
Modified the canonicalization proposal above to include removing "-". So, `+1 800 555-555` becomes "+1800555555". We could be stricter tho with input into the API.

Additionally, `PaymentAddress` would need to sprout two static methods:

 * `boolean isValidPhoneNumber(DOMString tel);`
 * `DOMString canonicalizePhoneNumber(DOMString tel);`

We should also look at historical discussion around `<inpu

[2017-11-15 21:23] ianbjacobs commented on #237
Closed per discussion at TPAC 2017:
 http://www.w3.org/2017/11/06-wpwg-minutes#item08

[2017-11-15 21:23] #237 closed, assigned to nobody

[2017-11-15 22:45] sideshowbarker commented on #653
See https://html.spec.whatwg.org/multipage/input.html#telephone-state-(type=tel):telephone-state-(type=tel)-2:

[2017-11-15 22:51] jenan-stripe commented on #653
It's worth noting that `<input>`s have the limitation of matching `value` to display / entry, whereas Payment Request. The user agent may accept many different formats for entry but still output a consistently-formatted value.

[2017-11-16 01:09] marcoscaceres commented on #653
Unlike input, I also think it's workable to require E.164 formatted number, as we are putting the burden on the merchant (instead of the user!) to make sure the number is correctly formatted. If they know the address already (including country), they should be able to format the phone number correctly.

[2017-11-16 03:06] marcoscaceres commented on #650
I spoke with our implementation team about this, and although receptive to the idea, this wouldn't be high priority for Mozilla to implement. We are planning to do a staged rollout of localized payment sheets over the next year(s), so we could eventually support this... but it would take time.

I'm still happy to add it to the spec tho, because I can see how this would be clearly useful for a cons

[2017-11-16 06:15] michelle commented on #650
We definitely understand that it would take time!

However, even if not all browsers are able to support all locales right away, allowing the merchant specify the preferred locale would still be a worthy addition to the CR from Stripe's perspective. Having a single language through the payment flow has, in our experience, increased conversion.

I also imagine that this feature would be a good comp

[2017-11-16 13:55] ianbjacobs commented on #650
From previous conversations I thought that we decided that language would be determined by preferences from the user agent (e.g., through HTTP headers). Is that not sufficient?

Ian

[2017-11-16 14:09] marcoscaceres commented on #650
It’s insufficient: language is usually  set by users explicitly on the site (think of how annoying it is when you go overseas and your favourite search engine suddenly changes language on you... want to avoid that kind of experience).

[2017-11-16 14:13] marc-roberts-jg commented on #650
Needs to take into consideration that users in places like Canada may have set their preferred language in the site, when the language can't be detected automatically because of the country.

[2017-11-16 14:22] marcoscaceres commented on #650
Exactly the above. Further, any expat will tell you the same thing: just because you live in a country doesn’t mean you speak - or, given the choice, prefer - that country’s language.

I’ll try to draft a PR for this soon.

[2017-11-16 15:06] rsolomakhin commented on #650
I'm OK implementing support for this parameter in PaymentRequest API, but our UI architecture currently allows for only one language at a time. It would take us a while to implement full support for this, but there's nothing technical that fundamentally stops us from doing it eventually.

[2017-11-17 04:31] marcoscaceres commented on #650
Yeah, I think we should only pass in one language tag. Then we can use "lookup" to derive a suitable match.

[2017-11-17 04:33] marcoscaceres commented on #650
Cc'ing @r12a for i18n comment/tracking... not sure which label to use ☺️

[2017-11-18 00:26] mnoorenberghe commented on #650
To clarify, we have a similar problem to what @rsolomakhin mentions… that we currently only ship one language pack per build by default. Then we'll have to deal with reading from multiple at a time. Currently our fallbacks for untranslated strings are done at build time, not runtime.

Was this experience with using a native payment UI that's not embedded in the webpage? I think the value of this w

[2017-11-19 01:49] michelle commented on #650
This experience was from Stripe Checkout, which is more similar to the payment sheet than to the merchant's website: https://stripe.com/checkout

That is definitely plausible, though I think if possible, we should gather end user data to test this hypothesis. The merchant is supplying display items, labels, and (eventually) error message in the language(s) they support. Having two different langua

[2017-11-19 07:52] Alhammadi3 commented on #643
Wow

[2017-11-22 16:58] ianbjacobs commented on #649
Can you describe a use case to help explain the issue? (I think I am missing context.)

[2017-11-22 16:58] ianbjacobs commented on #648
@marcoscaceres,

Confirming I heard support for this during TPAC.
Ian

[2017-11-23 00:16] jenan-stripe commented on #648
It's worth noting that a number of folks we've talked to have found partial postal code redaction insufficient for computation of shipping costs. +1 for standardizing on redaction of information that is inessential for calculations though.

[2017-11-23 02:10] marcoscaceres commented on #649
@ianbjacobs, described the problem more fully above. This change is backwards compatible, because right now developers have to send in everything.

However, we would need everyone to agree to make this change in their implementations... or it's gonna be much sadness.

[2017-11-23 02:55] marcoscaceres commented on #651
Requested upstream: https://github.com/heycam/webidl/issues/479 ... let's see how that goes, but we can certainly provide some prose for this in our spec if those discussions are not fruitful.

[2017-11-23 04:36] cyberphone commented on #651
I have just created a real world PR implementation that would break if this requirement become mandatory.  It will be particularly troublesome in those cases where PR is only used partially (skipping the selection part) and payment methods execute in different Web applications since the gesture (I guess) get lost if you change URL.  Yes, essentially it much boils down to how gestures and host doma

[2017-11-23 04:41] marcoscaceres commented on #651
The "partial case" wound't be affected: this only affects calling `show()`.

That's what heycam/webidl#479  would be.

[2017-11-23 04:47] cyberphone commented on #651
What I meant is that some users of PR (including myself) will for various reasons stick to the old school model of selecting payment methods and then let each method implement the associated payment interface in specific web applications.  The methods building on PR would if I understand it right need an extra button and click.

[2017-11-23 04:56] cyberphone commented on #651
So the _specific_ PR is initiated and activated including `show()` by an` onload()` event in the specific Web application triggered by the user's selection.  It works quite well BTW :-)

The motives the the old school approach to payment method selection and execution are two-fold:

- External payment methods like QR have not yet been addressed by the WG
- The code can get quite messy if very diff

[2017-11-23 14:40] rsolomakhin commented on #651
Agreed. Have you seen our [Payment Handler](https://w3c.github.io/payment-handler/) API [demos](https://rsolomakhin.github.io/pr/apps/)? That API allows writing 3rd party payment apps in JavaScript and has ability to open a window as well.

[2017-11-24 02:50] marcoscaceres commented on #651
It should, in theory, be possible to carry over a user gesture across a navigation (see [Google proposal](https://docs.google.com/document/d/1erpl1yqJlc1pH0QvVVmi1s3WzqQLsEXTLLh6VuYp228/edit#))- but that would need to be part of HTML and supported by browsers.

Effectively, what this means, is that a user could collect a bunch of items into a shopping cart, hit "buy", be navigated to a checkout pa

[2017-11-24 06:36] cyberphone commented on #651
Yes, I have.  However, as a Scandinavian, I'm rather into the 360 degree _mobile_ payment App vision which already is a "smash hit".  It is currently not clear to me how you integrate these schemes in the _desktop_ Web using `PaymentRequest` which is one of the motives for separating payment method "selection" and "execution".  BLE is a possibility but that would be a pretty difficult project.

ht

[2017-11-29 23:35] adrianba commented on #648
This sounds like it's going to get complicated fast. Are we really going to specify how to redact postal code information on a per country basis?

[2017-11-29 23:40] marcoscaceres commented on #648
I think this will be a “the user agent MAY redact... for privacy reasons” situation. I don’t think we can be overly prescriptive.

[2017-11-30 00:07] marcoscaceres commented on #163
Reopening again, as this has come up as an issue in our (Mozilla's) design. In our design, we want to be able to separate and order `displayItems` by common types.

@adrianba, @zkoch, @michelle, would appreciate your input. cc @mnoorenberghe.

[2017-11-30 00:35] michelle commented on #163
What sorts of types would be included? From reading the thread here, it sounds like the display of tax line items (and variance per customer region) is the primary issue.

[2017-11-30 00:37] marcoscaceres commented on #163
Yeah, primary motivator is a tax line.

[2017-11-30 00:41] michelle commented on #163
@marcoscaceres do you not believe this to be true? I think it's fair to reduce the scope of the API and say that all local regulatory requirements & l10n generally should be handled by the merchant. The merchant has to calculate tax amount and localize display items themselves anyways, so having the merchant order the display items themselves doesn't seem unreasonable.

[2017-11-30 00:44] michelle commented on #648
Would it be worth including that fields critical to calculating shipping costs should not be redacted? If these fields are redacted, it makes the `shippingaddresschange` hook pretty useless. Of course, this means we'd need to specify *which* address fields are critical, and that might be an ever-changing set of fields.

[2017-11-30 01:07] marcoscaceres commented on #163
Agree that the design as is addressed the minimum  use case. However, there might still be an expectation because of local conventions to more clearly call out things like tax (our design literally has a tax line at the moment). Places like Canada and the US are good examples because some merchants don’t show tax in the sale price, it varies from place to place, etc.

[2017-11-30 02:27] lyverovski commented on #648
Agree with @michelle. Redaction of the zip/postal makes it impossible to accurately calculate shipping costs.  As @jenan-stripe mentions, partial postal code redaction is still insufficient.

For example in Canada, Postal Codes are formatted as A9A 9A9.
In the UK, Postal Codes are formatted one of 5 ways (AA9A 9AA,  A9A 9AA, A9 9AA, AA9 9AA, AA99 9AA). Receiving only the first "group" of character

[2017-11-30 03:29] marcoscaceres commented on #648
This would probably become problematic, because the merchants could just request "all the things" even when they don't need them. Thus, it would put us back in the situation we are in today.

Understood - but this is in contrast to what Apple Pay does, right? The spec can mandate that all fields get returned, but the user agent can still choose not to do that. It's better that the spec reflect rea

[2017-11-30 03:31] marcoscaceres commented on #648
Inversely, we can categorize them as "We can do without x, y, and z" to calculate shipping.

[2017-11-30 03:53] michelle commented on #648
Sorry, to be clear, I meant "we" as in, "folks working on the spec," not "the merchants." As you mentioned, I think we're all on the same page now: we need to come up with the critical fields for shipping :).

A rough, US-centric pass...

Critical, based on USPS / UPS / FedEx postage price tools:
- country
- postalCode
- city (UPS / FedEx only)
- region ?

Most likely unnecessary:
- sortingCode
-

[2017-11-30 04:06] marcoscaceres commented on #648
Ah, that's great @michelle! Adding another data point.

For [Australia Post](https://auspost.com.au/parcels-mail/calculate-postage-delivery-times/#/):

National:
 * Country, city (suburb) can be ambiguous (e.g., "Springfield"), so post code is needed.

International:
 * From post code/city (suburb)
 * To: country
 * To: post code (optional)

[2017-11-30 05:46] jenan-stripe commented on #648
Probably need `region` as well, for countries with no postal codes? (Unverified!)

[2017-11-30 05:58] marcoscaceres commented on #648
updated https://github.com/w3c/payment-request/issues/648#issuecomment-348075313 to include region.

[2017-11-30 17:23] rsolomakhin commented on #163
I'm OK with this.

[2017-11-30 18:27] asolove-stripe commented on #163
@marcoscaceres I think it might help to see examples, but I have some doubt that the browser can get this right currently. The tricky part is that the formatting isn't just locale-specific. The formatting of EU VAT on a receipt, for example, may depend not just on the current locale but also the kind of payment being made and the VAT status and home country of the merchant and the customer. And ot

[2017-11-30 18:59] adrianba commented on #648
What is the goal here though? If the goal is to be more privacy sensitive but you're not redacting part of the post code then you didn't really make much of a change. When I lived in the UK, my post code was unique to me and 4 neighbours. The only variable was the house number between 1 and 5.

[2017-12-01 01:45] marcoscaceres commented on #648
Right now, the idea is to not pass along:

* recipient
* phone
* organization
* Possibly the addressLine.

for `onshippingaddresschange`. The above four literally identify you specifically. In my (Australian) case, my post code corresponds to 13,203 people spanning an area of 5.5km<sup>2</sup> (2.1 sq mi). That offers me some anonymity if I'm trying to check shipping costs or overall price but don

[2017-12-01 06:29] marcoscaceres commented on #163
Current design iteration from Firefox (not yet available in Nightly):

![screenshot 2017-12-01 17 27 51](https://user-images.githubusercontent.com/870154/33470567-077b69d2-d6bd-11e7-8dae-96c2943d93cf.png)

[2017-12-01 14:49] adrianhopebailie commented on #163
@marcoscaceres is this requirement more about a way to group the displayItems into list items and sub-total items as opposed to having special types for displayItems?

Could we get away with a flag on a displayItem that indicates it should be part of the sub-total group?

I worry we are getting into territory where we are inferring UI behaviour/layout

[2017-12-04 23:02] mnoorenberghe commented on #163
Yes, the main issue is about having the tax line not be part of the scrollable list of other line items (there could be hundreds).

The merchant can try to be helpful and always sort tax to the bottom of their list of items but that doesn't really help if there are too many items that the item list becomes scrollable. In the [image above](https://github.com/w3c/payment-request/issues/163#issuecomm

[2017-12-05 12:10] adrianhopebailie commented on #163
The ideal solution is probably too big a change at this stage (making `PaymentDetailsInit.total` a `sequence<PaymentItem>`) so perhaps the following would suffice:

[code]

If `subTotal` is `true` this indicates to the browser that the item should be grouped with the total.

[2017-12-05 14:48] rsolomakhin commented on #163
Perhaps the ideal non-breaking change is adding `tax`, `shipping`, and `subtotal` elements to `PaymentDetails`, similar to `total`.

[code]

[2017-12-06 05:00] marcoscaceres commented on #163
No, it's more about classifying display items by type and letting the UA do whatever it wants with that information.

I'm not a big fan of this because it makes an assumption about how the data would be displayed. I'd rather say "x is 'tax'", and then the UA can be like "oh, that's 'tax', I'll put that with the tax thingies down the bottom".

Me too :) Hence just saying this is "tax" and letting t

[2017-12-06 05:06] marcoscaceres commented on #163
@rsolomakhin, respectfully, that seems to add a fair bit of redundancy. For example, "shipping" is already derived from the selected shipping option. It also limits the display of things (e.g., tax) to a single item, but there might be multiple taxes being applied (e.g., a "GST" and some random state tax). That's why I think just having the type specifically on the `displayItem` might work better.

[2017-12-06 15:03] rsolomakhin commented on #163
Sounds good, @marcoscaceres.

[2017-12-07 02:00] marcoscaceres commented on #647
@aestes, @michelle-stripe, @jenan-stripe, @rsolomakhin and I discussed fine grained error recovery for fields during the F2F, including the ability to "retry" the payment.

Rough proposal is to add `AddressField`:

[code]

Define `PaymentError` interface, somewhat matching [ApplePayError](https://developer.apple.com/documentation/applepayjs/applepayerror):

[code]

And add the following member to

[2017-12-07 05:11] mnoorenberghe commented on #647
It might be a bit of a UX problem for UAs to have to render multiple errors that aren't `AddressField`-specific. e.g. with `error` set to a string and/or multiple `PaymentError` with a null `AddressField`. The UA won't know how to combine them appropriately.

[2017-12-07 05:14] marcoscaceres commented on #647
Yeah, we need to say last one wins in the case of duplicates.

[2017-12-07 05:37] marcoscaceres commented on #647
Here is an implementation showing how it could work with `.retry(...errors)` .

[code]

[2017-12-07 05:38] marcoscaceres commented on #647
Fixed typo above.

[2017-12-07 05:44] mnoorenberghe commented on #647
An alternative approach to allowing the user to retry a payment without introducing a new method would be to use an event like Apple Pay's `onpaymentauthorized` but implementing the `PaymentRequestAuthorizedEvent` interface:
[code]
 `errorFields` would still be added to `PaymentDetailsUpdate` to be used by `onpaymentauthorized`'s `updateWith` method to specify errors (field-specific and otherwise)

[2017-12-07 06:17] marcoscaceres commented on #647
Third alternative - from @rsolomakhin's notes from the F2F meeting.

`PaymentResponse.complete()` gets a new "retry" enum value for correcting payment errors. Merchant would specify an enum value like “billing addressing zip code is not correct” or “card declined,” for example. Then the user can attempt to fix the error and retry the payment. The payment handler should be able to specify whether a

[2017-12-07 06:22] marcoscaceres commented on #648
I've got a PR ready to address this, but I'm still unsure about passing `addressLine`. From the websites we looked at above, `addressLine` is never needed... but `addressLine` does let you determine if the user is trying to ship to PO box, for instance.

Do we want to detect that early ("onshippingaddresschange")? or when we get the payment response?

(/me leaning towards including `addressLine`..

[2017-12-07 08:27] adrianhopebailie commented on #163
So

[code]

Is type a string or an enum?

[2017-12-07 08:37] adrianhopebailie commented on #648
@marcoscaceres I assume starting with less data and adding `addressLine` if there is demand is safer?

[2017-12-07 12:21] rsolomakhin commented on #163
We have an enum in `paymentResponse.complete(result)`, so let's use an enum here as well.

[2017-12-07 12:29] adrianhopebailie commented on #163
Defining that could be fun 😄

Is there a reference of "invoice line item types" or similar we can use?

[2017-12-07 12:47] rsolomakhin commented on #647
The method `response.retry(errors)` will be easy to feature-detect for early adopters. I would prefer this one, if that's OK.

[2017-12-08 01:46] jdalton opened #657 "updateWith accepts a details object?"
I noticed the doc note [here](https://www.w3.org/TR/payment-request/#updatewith()-method) *(or [here](https://w3c.github.io/payment-request/#updatewith-method))*:

The bit that's interesting is the a developer may provide a PaymentDetailsUpdate dictionary object *(so not a promise)* but the IDL and the spec steps describe only the `detailsPromise`.

Google dev docs show `updateWith` accepting a va

[2017-12-08 01:51] jdalton opened #658 "Is paypment request gated behind https?"
Is it spec'ed whether the payment request API works on pages running on the `file:///`?
Example: A dev opens a page locally *(not on localhost)* to test the API.

[2017-12-08 01:59] romandev commented on #658
`PaymentRequest` is only allowed in `SecureContext`.
https://w3c.github.io/payment-request/#paymentrequest-interface

[2017-12-08 02:10] romandev commented on #657
This case can be helpful to you. (https://github.com/w3c/ServiceWorker/issues/724)

[2017-12-08 02:18] marcoscaceres commented on #658
@jdalton, as @romandev stated, the API is only exposed in "SecureContext". You can read about what that means (but effectively, yes - only HTTPS, no `file://`): https://heycam.github.io/webidl/#SecureContext

[2017-12-08 02:18] #658 closed, assigned to nobody

[2017-12-08 02:21] marcoscaceres commented on #657
Just to clarify further on @romandev's comment, WebIDL autowraps parameters of promise-accepting methods: so `updateWith(details)` and `updateWith(Promise.resolve(details))` are, from a developer perspective, equivalent.

[2017-12-08 02:21] #657 closed, assigned to nobody

[2017-12-08 02:31] marcoscaceres commented on #652
I've proposed some language for this:
https://github.com/w3c/payment-request/pull/654/commits/ae41fb48792e7ae669bc216ea86b180625c98a75

In pr #654 I define what a structurally valid phone number is (as per E.164).

[2017-12-08 02:34] jdalton commented on #658
Thanks!

[2017-12-08 04:09] marcoscaceres commented on #163
@adrianhopebailie I was going to start with "tax", but we can build it up from there.

[2017-12-08 05:26] marcoscaceres opened #659 "ShippingAddressChange replaces address every time"
In the spec, when `shippingaddresschange` fires, the spec queues a task to create a new `PaymentAddress` and replace the old `PaymentAddress` on `request`.

I'm wondering if we should instead have the task update the `request`'s `shippingAddress`'s `PaymentAddress`'s internal slots instead (i.e., don't trash the `PaymentAddress` instance, just update it)?

The problem I see is a developer holding

[2017-12-08 06:42] marcoscaceres commented on #647
Regrettably, @mnoorenberghe's proposal would have been great if we were not already returning `response` from `.show()` (i.e., if we would have designed the API like that initially).

However, introducing the event leaves `const response = await request.show();`  in a strange place, specially when you try to wire everything up. We effectively end up with two sources for the `response`, and it mean

[2017-12-08 11:48] adrianhopebailie commented on #659
Personally I prefer the current behaviour as that seems consistent with the way most frameworks deal with state.

That said, we don't have an easy way to get the current state of the request so perhaps that is more important: https://github.com/w3c/payment-request/issues/592

[2017-12-08 15:58] rsolomakhin commented on #647
@marcoscaceres, IMHO, shouldn't `.retry()` be for billing issues only? Shipping address validation happens before user authorizes the payment, if the merchant needs to validate it, I thought.

[2017-12-08 16:55] rsolomakhin commented on #658
FYI, Chrome considers the following to be secure contexts, which allow PaymentRequest per spec:
* https://
* file://
* localhost
  * http://localhost
  * http://127.0.0.1
  * http://[::1]

One interesting edge case is invalid HTTPS certificate. In this case, Chrome shows an interstitial alerting the user to dangers of proceeding. If the user elects to proceed, the context is considered secure, so

[2017-12-08 19:26] marcoscaceres commented on #647
Well, depends on #648 and if `addressLine` should be redacted. But ideally you are correct: then user can only change or update the payment instrument (and associated billing address) at this stage. This doesn’t quite match what ApplePay allows, but that might be workable nonetheless.

[2017-12-08 19:28] marcoscaceres commented on #647
To be clear, redacted when the  “shippingaddresschange” event fires.

[2017-12-08 20:20] domenic commented on #659
Basically the question is whether this should be an immutable object or a mutable one. I don't feel strongly either way. In favor of immutable, it's kind of nice to be able to see that it changed by saying `if (request.shippingAddress !== address) { ... }`.

[2017-12-11 05:43] rektide commented on #651
This would directly contradict the purpose & intention of the [Donation Acceptance specification](https://rektide.github.io/donation-acceptance/) that I am working on. The "tipjar" page is supposed to immediately open a payment request. Requiring user interaction would inhibit this flow.

[2017-12-11 06:55] rektide opened #660 "Request: designated receiver for Payment Response"
Hello. I recently went looking for a way to accept payments (donations) on my site via the Payment Request API.

### PSPs and iframes

Alas most of the PSP's I found with Payment Request support provided some wrapper component that I had to use, typically creating an iframe and issuing the Payment Request from within the iframe. For example, [Braintree's implementation does exactly this](https://g

[2017-12-11 11:37] cyberphone commented on #660
I believe encrypted payment cards would serve this purpose.

This doesn't sound right, payment gateways are usually only middlemen, not involved in issuing user-related data like payment instruments and such.

[2017-12-11 15:40] ianbjacobs commented on #660
@rektide,

We have two areas of work that may help regarding PCI-DSS: Encryption [1] and Network Tokenization [2]. They are both still in development.

Ian

[1] https://github.com/w3c/webpayments-methods-tokenization/wiki/Generalisation-of-Encrypted-Card
[2] https://github.com/w3c/webpayments-methods-tokenization/wiki/Tokenized-Card

[2017-12-11 16:03] rsolomakhin commented on #660
You can also use tokenization through such payment methods as [Android Pay](https://developers.google.com/payments/mobile-web-tutorial), for example.

[2017-12-12 04:15] rektide commented on #660
Thanks for the replies. I'm going to leave this issue open for a day or two while I process this information. At first blush these seem reasonable.

@ianbjacobs To be clear, it's capitally important to me to make it well beyond PCI-DSS. Even looking at much laxer SAQ A-EP (sorry I typo'd A-EF in my original post), there's still a huge amount of change-control & systems-modelling that PCI SAQ A-EP

[2017-12-12 04:18] michelle commented on #660
It's probably also reasonable to file a feature request for Braintree's integration to expose more of the underlying APIs! Stripe's clientside library, for example, give you access to the underlying Payment Request callbacks.

(I work at Stripe on the team that works on our Payment Request integration.)

[2017-12-12 19:25] buhrmi opened #661 "Add Crypto Currency (BTC, ETH) as supported method"
Hello,

I was wondering if there is an effort underway to make the Payment Request API work with crypto currency. I think crypto currency is a perfect fit for an API like this, utilizing the user agent to store the private keys of the user (instead of his credit card number), and use it to sign a transaction, send it onto the blockchain, send the transaction hash to the seller. This would work wit

[2017-12-12 19:31] ianbjacobs commented on #661
Hi @buhrmi,

We have had a number of discussions where we say "Let's work on that" but have not started to do so. Since this issue has come up previously [1] I am going to close this issue and we'll keep track of our progress on 232. Thanks!
Ian

[1] https://github.com/w3c/webpayments/issues/232

[2017-12-12 19:31] #661 closed, assigned to nobody

[2017-12-12 19:57] marcoscaceres commented on #659
Agree about the immutable aspect. Let's leave it as is.

[2017-12-12 19:57] #659 closed, assigned to nobody

[2017-12-13 19:21] aestes commented on #648
@marcoscaceres Apple Pay redacts `addressLine`

[2017-12-13 19:29] aestes commented on #652
@marcoscaceres We don't do any phone number formatting in WebKit. We rely on the format that comes out of the Contacts database. Note that Contacts will enforce some formatting when inputting numbers -- for instance if I enter "408-123-4567" it will reformat it to "(408) 123-4567" (in the en_us locale). I don't what rules Contacts follows, though.

[2017-12-14 22:36] aestes opened #662 "Add equivalent of applepaypaymentmethodchanged"
WebKit's Payment Request implementation recently [switched](https://trac.webkit.org/changeset/225849/webkit) from the non-standard `applepaypaymentmethodchanged` event to using `PaymentDetailsModifier`s for handling payment instrument changes in Apple Pay. This allows merchants to add additional display items based on the type of card selected by the user.

Right now, Apple Pay supports the follow

[2017-12-15 15:19] TSMatthews opened #663 "ContactAddress 'region' inconsistencies"
I'm having a number of issues integrating our checkout with the payment request API when it comes to shipping options / shipping address forms. These centre around the address 'region', e.g. 'CA' in the US.

**Project info / requirement**
To give some background, I have a requirement to have shipping options that are available to certain regions within a country. This could be for legal reasons, e

[2017-12-15 15:48] rsolomakhin commented on #663
Two-letter codes could work for [India](https://chromium-i18n.appspot.com/ssl-aggregate-address/data/IN/) using the `isoid` field. However, our [Australia](https://chromium-i18n.appspot.com/ssl-aggregate-address/data/AU/) data has three-letter abbreviations for states. Moreover, our [Ireland](https://chromium-i18n.appspot.com/ssl-aggregate-address/data/IE/) data shows some `isoid` fields with a on