[2016-09-17 01:29] #231 closed, assigned to nobody

[2016-09-17 01:34] adrianba commented on #233
This issue is handled in the [Payment App Authenticity](https://w3c.github.io/webpayments-payment-apps-api/#payment-app-authenticity) section of the [Payment App API](https://w3c.github.io/webpayments-payment-apps-api/) specification.

[2016-09-17 01:34] #233 closed, assigned to nobody

[2016-09-17 01:36] adrianba commented on #225
This is an interesting proposal but one that adds a fair amount of complexity. PR #257 added the ability to provide a free form error message describing the validation error as part of the `updateWith` call. I propose that the error message is sufficient for v1 and propose that we postpone this issue until we have more implementation experience.

[2016-09-17 01:57] adrianba commented on #265
This is in the spec - for example see steps 5, 7, 8, 11, and 13 of the constructor algorithm.

[2016-09-17 02:05] adrianba commented on #247
The current API is designed to avoid sites probing for what a user supports. Following a pattern used elsewhere, you commit to calling the API but if it turns out the API couldn't satisfy your goals then you revert to your fallback flow. This avoids the need for a `validate` method.

The flow should look something like this:
1. When the user clicks "Checkout" you instantiate a PaymentRequest passi

[2016-09-17 05:08] #2 closed, assigned to adrianba

[2016-09-18 14:53] romandev opened #271 "There might be a conflict between 'shippingType' in PaymentOptions and WebIDL binding."
In the current spec, 'shippingType' in PaymentOptions is defined as enum PaymentShippingType.

BTW, According to PaymentRequest constructor algorithm 22[1], if options.shippingType is not a valid PaymentShippingType value then set the shippingType attribute on request to 'shipping'.

On the other hand, according to webidl spec[2], it causes a TypeError if passing a invalid enum value as operation

[2016-09-18 18:39] adrianba commented on #271
Good catch - will need to update this.

[2016-09-19 08:20] halindrome opened #273 "How can a user agent not accept a payment method?"
In section 4.2 (show) step 8 it says "Let acceptedMethods be supportedMethods with all identifiers removed that the user agent does not accept."

It is not clear to me how an UA has the wherewithal to not accept a payment method?  Is it perhaps that this is unfortunate wording?

[2016-09-19 08:27] halindrome opened #274 "Examples in the spec"
I think there would be value in including short JS snippets that show how the various objects, methods, and promises are actually used to help with comprehension when people read the spec.

I am happy to offer PRs for such examples if there is agreement that it is a good idea.

[2016-09-19 08:35] halindrome opened #275 "Throwing exceptions rather than permitting broken usage"
Historically HTML and other parts of the web platform have documented the behavior of user agents when things are used incorrectly in the wild.  This is GREAT!  However, when designing new interfaces, I feel it is okay for us to throw errors when things are used incorrectly.

For example, the shippingOptions field is a sequence or items, one of which can be "selected".  The spec indicates that if

[2016-09-19 08:44] halindrome opened #278 "What does it mean to "accept the payment"?"
In the PaymentAddress interface (last paragraph) it says "...the user's shipping address after the user has accepted the payment."  I am pretty sure this means "after the user has completed interacting with the PaymentRequest user interface and indicated that they agree to make the payment".   Later in the document there is a term "user accepts the payment request algorithm".  If that is what is R

[2016-09-19 09:00] halindrome opened #279 "What if the user refuses to supply a shipping address"
The PaymentResponse interface indicates that the shippingAddress attribute of the response will contain the full and final shipping address chosen by the user.

Do we describe the behavior of the system if the user refuses to supply an address?  If not, should we?

[2016-09-19 11:55] adrianba commented on #279
The payment request cannot be completed if `requestShipping` is `true` and no address is selected (the User accepts the payment request algorithm ensures this).

[2016-09-19 12:04] adrianba commented on #278
Happy to change this and #273 - this is the language that we've used since the first draft. Do you have suggestions for a more pithy description?

[2016-09-19 13:40] adrianhopebailie opened #283 "Should show() depend on a user action?"
(From F2F at TPAC - details to follow)

[2016-09-19 13:43] burdges commented on #279
We should expect that users will refuse to supply the shipping address to any payment apps, which might leak it to sites that do not need it, but might happily supply it to individual merchants.

[2016-09-19 13:43] adrianba commented on #283
I'm generally against adding user action as a requirement if we can avoid it but happy to add an informative suggestion. We could also add a suggestion about rate limiting calls to the API (e.g. it might be an option to avoid repeated calls to show() to avoid probing).

[2016-09-19 14:02] adrianba commented on #279
I'm not sure we should expect that but the spec doesn't say anything about payment apps. Knowing whether a payment app is trustworthy seems like an issue for the payment apps work.

[2016-09-19 14:12] burdges commented on #229
I'd expect European Union restrictions on disclosing cookies and local data should already apply anytime users persistently grant access to information.  In other words, another phrasing of this question might be : Does a website invoking the payment spec need to use the same sort of legal warnings the E.U. already requires for cookies, etc.?

[2016-09-19 14:32] ianbjacobs commented on #230
Ian and AdamR took an action on 19 September to go back to the TAG and let them know we did not understand what to put in the spec since private browsing not a standardized concept.

[2016-09-19 14:33] ianbjacobs commented on #229
Ian took action on 19 September to propose some language around consent to expose group thinking.

[2016-09-19 14:35] adrianhopebailie commented on #230
A PR, #238, was submitted for this but it was raised by the implementors that there is no standard wrt "private browsing" mode therefor we can't specify behavior in this mode.

@adrianba said:

The PR has been closed pending feedback from the @w3ctag on what is expected here.

@ianbjacobs and @adamroach are tracking this for the WG

[2016-09-19 16:21] zkoch commented on #279
Agreed with @adrianba. If the user doesn't want to supply this information, they can't move forward. The PR spec doesn't say anything about Payment Apps. I don't think we need to add any text or clarification here.

[2016-09-19 18:32] baloo commented on #247
The problem with the fallback flow is we need to wait for user to click on something before calling the `show()` method. This makes two users have two interactions. A first one on "pay with payment request",  then another one "sorry, we can't use payment request, do you want to try an alternative legacy method?". This looks pretty deceptive to me.

That being said, I totally agree with you, it suc

[2016-09-19 19:27] adrianba commented on #247
I don't believe that is true. You don't currently ask if the user if they want to use the (only) legacy method before offering it to them. With PaymentRequest it should be as seamless. In step 3 above, you redirect without prompting the user anything. So they click the checkout button, and then see the legacy method. They may not know or care that in-between you checked with PaymentRequest. Altern

[2016-09-19 19:31] adrianba commented on #228
Closing in favour of #229, which @ianbjacobs took an action to make a proposal for.

[2016-09-19 19:31] #228 closed, assigned to nobody

[2016-09-19 19:37] #271 closed, assigned to adrianba

[2016-09-19 19:49] baloo commented on #247
Ok, I got your point. That's true, I didn't think about that.

[2016-09-19 19:49] #247 closed, assigned to nobody

[2016-09-19 22:26] ianbjacobs commented on #229
PROPOSED:

This specification does not recommend any practices for establishing user consent because:
- Regulatory requirements may vary by jurisdiction.
- Beyond that, one may establish user consent in a variety of ways, including contractual agreements (that require user interaction just once), one-time click-through agreements, and persistent user agent settings.

[2016-09-20 08:10] adamroach commented on #229
If this is intended to cover #228 and #229, I think it's a bit on the anemic side. As I mentioned during the meeting, I think [the treatment of privacy and consent in the mediacapture spec](https://w3c.github.io/mediacapture-main/getusermedia.html#privacy-and-security-considerations) is a good example of the level of detail and guidance for this kind of feature.

[2016-09-20 11:42] burdges commented on #229
Yes.  We do not want a situation where a "payment app" can be little more than a tracker that "pays" merchants with "discount coupons", but the net effect on the user is simply that they are being tracked through yet another source.  It's good if show always changes the top level context, but actually not quite sufficient.

In fact, I'd think security dictates that the browser's payment mediator s

[2016-09-20 11:52] burdges commented on #279
I think users should not give their browser or payment apps personally identifying information that these programs might just hand out willy nilly when they're doing things that do not require them.  In particular, a person buying digital content should not be revealing their address.  I'd imagine organizations like the EFF, etc. will be happy to add advice to this effect to various guides they ma

[2016-09-20 13:00] adrianba commented on #279
If a site asks for a shipping address and the user doesn't want to give a shipping address then they shouldn't purchase. That's what happens with forms today and it is the same with Payment Request API.

Let's close this issue - there are no changes to be made to the spec here.

[2016-09-20 13:00] #279 closed, assigned to nobody

[2016-09-20 15:34] #283 closed, assigned to adrianba

[2016-09-20 21:46] burdges commented on #283
I'd expect security vulnerabilities if `show` did not always cause a user interaction.

[2016-09-20 22:05] burdges commented on #279
I'm envisioning attacks like the following :

Some browser has a scenario where it supplies the shipping address without prompting the user, like maybe the user has only ever entered one shipping address or whatever.

We've an adversary Steve the Stalker who likes to collect celebrities' home addresses so he can go visit them.  Steve sets up an online gossip magazine that requires buying a $0.05 s

[2016-09-21 17:47] adrianhopebailie commented on #279
@burdges to be clear the shipping address data provided by the user here is never shared with payment apps.

The merchant can prompt the user to provide an address and the browser can facilitate this process and then return the data to the merchant website.

If the merchant says address is required then the process can't continue unless the user supplies an address. The user must either provide an

[2016-09-21 18:26] burdges commented on #279
Yeah, the payment app does not really matter in this attack, but obviously some will tend to be more trustworthy than others, and some will get used for digital content which does not normally require a shipping address, so the payment app can be manipulated to give a positive impression.

The issue is : What if browser automates providing a shipping address so that the user never sees it?

We act

[2016-09-22 13:00] adrianba commented on #279
This is already in the spec.

[2016-09-23 07:28] halindrome opened #286 "notifying the payment app when a payment is complete"
The current complete() method does not (seem to) provide a channel through which the Payment App could be notified of the status of the transaction.  We envision a Payment App that is part of a user's overall payments / transaction management system, and it would be good if that App could know that a request was accepted by the merchant and keep track of it.

I expect that the best way to do this

[2016-09-23 07:37] halindrome opened #287 "PaymentDetails should include a transaction ID"
Currently the payment details method does not include a transaction ID.  In order to facilitate future work (e.g., receipts) and to help Payment Apps track user's transactions, I think it would be good to have merchants get used to including this information in their payment requests.

As to sending it to the Payment App, I will raise a separate issue for that, but in this model the transactionID

[2016-09-23 07:45] rsolomakhin commented on #286
Can we get feedback from payment apps in the group about this feature? (Samsung Pay, AliPay, etc)

[2016-09-23 08:41] nickjshearer commented on #287
Presumably many payment instruments will provide their own transaction identifiers upon successful payment in their own formats (like a PayPal confirmation number, for example)? It seems potentially confusing to have both. A merchant could still generate and use an identifier, I'm just not sure of the value of passing it through the payment request.

[2016-09-23 12:28] adrianhopebailie commented on #287
I see this identifier as a "request" identifier and not a "transaction" identifier.

It's value is in reconciling the original request (from website to browser) with other phases of the flow.

I see value in defining this at the top-level because it allows everyone further on in the flow to depend on it.

If we wait for this to be generated later in the flow (e.g. by the browser or payment app) th

[2016-09-23 12:57] rsolomakhin commented on #287
I think the merchant can generate the "request" identifier on the server side and then pass that into PaymentRequest's method-specific data. Browser passes that information to the payment app unmodified, so the payment app is free to depend on this data presence.

[2016-09-23 13:39] adrianhopebailie commented on #286
Sounds like a requirement for the payment apps spec (not payment request spec)

[2016-09-23 14:26] burdges commented on #287
Yeah, I'd think a transaction id should originate with the merchant's first offer when they call `show`, that's what we do in Taler anyways.

[2016-09-23 14:31] adrianhopebailie commented on #287
That is one way to solve this (an ID per payment method) but in this case I think we can do "better" to make the developer's life easier and because it will make our lives easier if we consider multi-tender in future.

[2016-09-23 14:31] burdges commented on #286
Interestingly, we do not do this per se.  A Taler wallet does know if the merchant has received all the coins it allocated to a particular transaction, but if the merchant tries again, like maybe because the user reloads the fulfillment page and the merchant did their checking oddly, then our wallet will send back exactly the same coins.  We kinda interpreted "RESTful" in both directions when appr

[2016-09-23 15:15] dlongley commented on #287
The merchant may need to use this merchant-specific reference identifier to check on the status of the transaction should communication channels fail for any reason during the purchase.

[2016-09-23 15:19] dlongley commented on #287
@adrianhopebailie,

I'm all for doing "better", but we may find that improvements should come via back channel communication between the Payment App and the merchant site vs. passing through the mediator.

[2016-09-23 15:26] halindrome commented on #287
I don't like the idea of this in the payment method data.  That data is opaque to the payment app, which means the payment app cannot then help its user out with correlating things later.

I don't hate the idea of a request ID rather than a transaction ID.  Just some top level unique identifier from the merchant that stays around through the flow.

[2016-09-23 15:58] adamroach commented on #287
@halindrome

This came up in break-time conversations earlier this week, too. The fundamental problem is that we're conflating payment-specific transaction identifiers (which might have meaning outside the browser context, such as auditing with a third party that a payment has occurred) and transaction identifiers that are purely a matter of local concern to the payment request/payment app APIs.

[2016-09-23 16:25] dlongley commented on #287
@adamroach,

Thank you, that clarifies a lot. So this identifier is specific to the browser and the use of the Payment Request API and its purpose is to allow the payment app and payee website to make sure they are talking about the same transaction. Is that accurate?

[2016-09-23 18:44] adrianba commented on #286
The spec used to say this. The WG decided that it shouldn't and this step was removed. See #129/#161.

[2016-09-25 08:20] adrianhopebailie commented on #287
@adamroach +1 with a minor change, I'd change the member to `paymentRequestId` or just `requestId`.

[2016-09-25 08:29] adrianhopebailie commented on #286
@adrianba is right. We decided to keep this simple and refine it as the overall design changed.
See https://www.w3.org/2016/04/28-wpwg-minutes.html#item03

I propose (per @rsolomakhin) that we understand the requirements from payment app providers before we change anything in paymentRequest.

Is there a desire for the the website to be able to send payment method specific data in this call? (i.e.

[2016-09-27 00:16] halindrome commented on #286
@adrianhopebailie I don't think that there is any need for more data in the complete call beyond that - the protocol / messaging would be sufficiently robust for me if there were just an event that would let the app know the payment actually worked.

[2016-09-27 00:22] halindrome commented on #287
@adamroach and @adrianhopebailie I agree with both of you here.

My understanding of this is a bit broader though.  While this is an identifier the payee and the payment app can use to correlate information, in the real word it has other uses.

Today if I go into a convenience store and purchase something, my receipt has two critical pieces of information on it that have nothing to do with the pay

[2016-09-27 00:28] halindrome commented on #278
Sorry @adrianba I missed your question earlier...

Pithy?  How about "..the user's shipping address after the user has accepted the payment request algorithm." ?  It's not pithy, but it has something to link to and is precise.  If you are looking for something that scans better than that I might propose "...the user's shipping address upon the user's agreeing to make the payment."  Or something li

[2016-09-27 14:51] dlongley commented on #278
"...user's shipping address after obtaining the user's consent to pay via the 'user accepts the payment algorithm'."?

[2016-09-27 15:23] ianbjacobs commented on #278
I counted:
- 1 instance of "after the user has accepted the payment"
- 1 instance of "after the user has accepted the payment request"
- 1 instance of "After the payment request has been accepted "
- 1 instance of "acceptance of the payment request"
- 1 instance of "allows the user to accept the payment request"
- 1 instance of "to ensure that the payment is not accepted until"
- 1 instance of a s

[2016-09-27 17:31] ianbjacobs commented on #229
The more I consider this (including the guidance in the mediacapture spec), the less I am inclined to provide specific guidance. Here is an update that exposes a few more considerations. Guidance is limited to "please consult appropriate good practice documentation".

Ian

#

PROPOSED:

Capturing user information (payment credentials, shipping address, etc.) exposes personally-identifiable informa

[2016-09-28 12:26] adrianhopebailie commented on #286
@halindrome in that case we need to log this requirement against the payment apps API spec.

Closing this issue as out of scope.

[2016-09-28 12:33] #286 closed, assigned to nobody

[2016-09-28 18:24] ianbjacobs commented on #230
Initiated conversation with TAG:
 https://lists.w3.org/Archives/Public/www-tag/2016Sep/0004.html

Ian

[2016-09-29 08:08] Yongsta opened #289 "Dynamic Currency Conversion requirements"
Hi,

Ask for your input

" What is registry requirement to provide DCC in markets as a provider, other than having a contract with an acquirer?"
1. Do all DCC providers need to be PCI-DSS Compliant?
2. Does the DCC provider need to have its own servers for tranx data storage?
3. Is there required registration needed directly to the schemes? (VISA in particular)

thanks

[2016-09-29 12:42] ianbjacobs commented on #289
Hello,

I think your question is out of scope for the work that we are doing. Do you have specific comments on the payment request API?

Regards,

Ian

[2016-09-29 15:21] msporny opened #290 "PaymentRequest constructor errors should be properly annotated"
In the section that details the algorithm for the Payment Request constructor, there are multiple places where a TypeError is thrown. If these errors are not annotated (_TypeError.message_ is set), it will be difficult for a developer to determine why the TypeError was thrown (as there are multiple ways it can be thrown in the constructor algorithm).

https://w3c.github.io/browser-payment-api/#pay

[2016-10-06 14:37] halindrome commented on #286
Note that I disagree this is out of scope.  The payment app spec should not be placing requirements on this spec that would create normative changes to the API.  Throwing an event seems like a really easy way to ensure that anyone who cares can know that a transaction completed.  But yes, there would need to be information in the event data to let the listener know which thing completed.  The tran

[2016-10-06 16:55] adrianhopebailie commented on #286
As I understand it, the event is caught by the payment app right? Therefor that event needs to be defined in the payment apps spec.

In that section of the _Payment Apps_ spec it would refer to the appropriate point in the `complete()` algorithm definition of the _this_ spec [1] when the browser MAY/SHOULD/MUST emit an event to the payment app.

[1] https://w3c.github.io/browser-payment-api/#compl

[2016-10-06 17:15] halindrome commented on #286
Well, it would be caught by whatever wanted to catch it; including the payment app.  I appreciate that the payment app _could_ spec it, but I don't understand why it would _want_ to spec it.  But I am willing to bow to your wisdom.  Do I need to raise an issue over there?

[2016-10-06 17:29] ianbjacobs commented on #229
Per my action item from today's teleconference, I have asked PING for review:
 https://lists.w3.org/Archives/Public/public-privacy/2016OctDec/0003.html

Ian

[2016-10-07 12:38] lknik commented on #229
Hello,

I replied to the list, but I'm happy to add my input here:

[2016-10-07 14:23] lyverovski commented on #287
+1 to @adamroach's  proposal. We support the addition of a top-level request identifier to the specification, and see it as absolutely necessary to allow payees to reconcile with payment apps for both for success and (more importantly) for failure cases. Additionally, payment apps may provide webhook notifications back to the merchant to report the outcome of the transaction. The merchant needs an

[2016-10-10 09:29] adrianhopebailie commented on #286
The PR API is an interface between the merchant website and browser so I don't know how an event defined here could be handled by the payment app, that's my point.

The web-based payment app (a ServiceWorker) is running in a different context and is interfacing with the browser through a different API.

I agree we should have this event I just think it should be defined in the payment apps spec.

[2016-10-12 09:24] mattsaxon commented on #287
+1 to @halindrome's use cases. +1 to @adamroach to say we shouldn't conflate these concerns. A number of payment methods have multiple identifiers to support various use cases, take for example SEPA which has both a payee and a payer transaction identification code. I support the PaymentRequest supporting natively such capabilities. Payment Methods/Apps can choose to leverage these or not, but if

[2016-10-12 14:04] msporny opened #291 "How are digital signatures supported for Payment Requests?"
I had a brief chat with @rsolomakhin about digital signature support for the Payment Request API.

To recap, here's the use case:

The merchant (and the payment app) desire that the payment request is digitally signed so that they may be certain that it has not been tampered with in transit.

There are a number of scenarios where a digital signature on a payment request is desirable:
1. High value

[2016-10-12 14:31] msporny commented on #291
## Document Signatures

The Web Payments CG specs addressed this issue by digitally signing the entire Payment Request, which would look something like this if we were to use Linked Data Signatures:

[code]

and it would look like this if we were to use JWTs (SHA256 + RSA signature):

[code]

The problem that is introduced by the design of the Payment Request API is that we only want to forward th

[2016-10-12 14:58] ianbjacobs commented on #291
@msporny wrote

"If we can't find a compelling reason to only forward the pertinent payment app data (other than message size)..."

In addition to those efficiency questions (the payment app will ignore most data it receives otherwise, which is an inefficient use of time and bandwidth), privacy was cited - sharing more data (from the merchant) than needed to handle the payment.

Ian

[2016-10-12 15:08] msporny commented on #291
## Constructed Signatures

If the group desires to only forward the selected payment method information to the payment app, then a new signature construction algorithm will need to be defined which follows the basic algorithm below:

For each payment method `pm` in `paymentMethods`, generate a digital signature by:
1. Create a new empty JSON object `toSign`.
2. Set the `toSign.paymentMethods` key

[2016-10-12 16:01] msporny commented on #291
@ianbjacobs wrote:

So, I'm hearing the decision was made due to:
1. inefficient use of time (assuming you mean "time to transmit" or "time to process"?)
2. inefficient use of bandwidth
3. merchant privacy

I'm not taking a position on this yet because we're talking about a fairly complex trade-off, but pushing back on those points above a bit:

Regarding inefficient use of time - perhaps we shoul

[2016-10-12 16:28] ianbjacobs commented on #291
@msporny,

I also recall that we said that payees could verify data upon receipt of the payment response. For what use cases does that not suffice?

Ian

[2016-10-12 17:13] dlongley commented on #291
@ianbjacobs,

Which data are you talking about?

Digital signatures are a solution for use cases where the merchant isn't immediately in the loop (e.g. execution of a Digital Offer from a search results page) or where the payer wants assurance that the push payment method they are about to use will send the proper amount of money to the proper party (in return for the proper goods/services). In th

[2016-10-12 17:21] msporny commented on #291
It does not suffice for at least the 3 scenarios listed at the top of this issue:

In this scenario, the payment app would like to make sure that the amount is correct before executing the payment. This is even more important for any sort of push-based payment.

How can a payment app ensure that a payment request published on a merchant website, indexed by a search crawler, and executed by a custo

[2016-10-13 17:14] adrianhopebailie commented on #291
What's the motivation to sign the whole request and not just provide the signature in the payment method specific data?

i.e. For payment methods that support signatures

[2016-10-14 13:42] msporny commented on #291
Another way to phrase your question is "What is the information that needs to be digitally signed?"

The assertion is that there are some scenarios (like the ones mentioned above) where you'd want to digitally sign the payment items, the payment options, and the payment method data.

In the very least, we'll want to sign the payment method data. If that's the only requirement, then the solution is

[2016-10-14 14:05] msporny commented on #291
Signing the whole request is simpler in at least these ways:
1. Cognitive load on developers is reduced greatly. Either the request is signed or not. If it's signed, all data is protected.
2. Attack surface is reduced. Either the entire request is signed or it's not. If the entire request is signed, it's easier to understand the attack surface on payment request messages.
3. No extra digital signa

[2016-10-14 14:06] msporny commented on #291
Another way to phrase this question is "What is the information that needs to be digitally signed?"

The assertion is that there are some scenarios (like the ones mentioned above) where you'd want to digitally sign the payment items, the payment options, and the payment method data.

In the very least, we'll want to sign the payment method data. If that's the only requirement, then the solution is

[2016-10-17 11:02] adrianhopebailie commented on #291
No, I think it's possible for each payment method to define a signature mechanism that also specifies what information needs to be signed.

Different payment systems are going to have different requirements for the digital signatures and so the data that is signed for each payment method is likely to be different (and the algorithm used etc).

I would class signatures in the same category as callb

[2016-10-18 15:05] ianbjacobs commented on #224
Related:
 https://github.com/w3c/browser-payment-api/issues/287

[2016-10-19 19:46] ianbjacobs commented on #229
See this post for one idea for an edit:
https://lists.w3.org/Archives/Public/public-privacy/2016OctDec/0016.html

[2016-10-19 19:53] ianbjacobs commented on #229
See Danny Weitzner suggestion [1]:

 "[P]rovide a mechanism in the protocol to indicate two facts:
   (a) was user consent provided? (could be a boolean or a JSON object)
   (b) under what policy (specified by a URI)"
Ian

[1] https://lists.w3.org/Archives/Public/public-privacy/2016OctDec/0014.html

[2016-10-21 15:30] burdges commented on #229
I've missed lots here, but normally one should avoid sharing data the user might not have explicitly consented to.  It's not really hard to obtain that consent, just identify all the data you plan to share, and display it in a form for when the user clicks through to the payment app.  I suppose this boolean is about if the user consents to share it with the site after the payment app?  I guess con

[2016-11-01 20:20] zkoch commented on #290
Sorry for delay on this! I don't have any objection to adding these, seem useful for developers. @adrianba your thoughts?

[2016-11-14 01:06] marcoscaceres commented on #290
I agree, but this applies broadly to the whole specification. Basically anywhere a DOM Excpetion is thrown, text should be followed by:

Which basically we can hook into .message without being overly prescriptive (and allowing for localization of errors, etc.) .

 Also, it's nice to drop "author" in favor of developer. Author sounds antiquated nowadays.

[2016-11-14 01:09] marcoscaceres commented on #289
I agree, this is out of scope. A web app should be able to use a third party service to do the conversion (or the payment app should, knowing the user, be able to provide such a conversion).

[2016-11-14 01:09] marcoscaceres commented on #289
(I suggest closing)

[2016-11-14 01:17] marcoscaceres commented on #290
So looking at the spec, it currently defines the message of DOM Exceptions in the Dependencies section - tailored to the payment spec. However, the errors messages are very vague right now: "the object is in a invalid state" etc.

Admittedly, I'm not a huge fan of this approach - because it overgeneralizes each error condition. As @msporny suggests, I'd rather us take the approach where we explain

[2016-11-14 01:31] marcoscaceres opened #298 "Response/Request semantics and cancellation"
Not sure where I'm going with this (as I'm pretty new to the spec and the community), but treat this as a question and some knee-jerk reactions...

The spec seems to have Request and Response semantics that closely mirror the fetch spec. What was the rationale for not following the conventions set forth there?

[code]

There is also some overlap between cancellable promises and this API (the .abor

[2016-11-14 01:34] marcoscaceres opened #299 "PaymentAddress should be a dictionary"
It seems that some dictionaries have been made into interfaces for the sole purpose of giving them a serializer. This seems like syntactic sugar that could be handled by developers - or is there a strong rationale for adding these serializers? I'm new, so I'm probably missing something.

[2016-11-14 02:16] marcoscaceres opened #300 "Should PaymentDetails.total be marked as required in IDL?"
In the `PaymentRequest` constructor, it states:

That implies that PaymentDetails.value is required, no? If so, the `PaymentDetails` dictionary should be updated.

[2016-11-14 06:32] marcoscaceres opened #301 "Use HTML's (or infra) definition of “valid decimal monetary value”, once available"
I'm sure there is a good reason for this, but why is `details.total.amount.value` not defined as a number, but instead as a string?

[2016-11-14 06:46] marcoscaceres opened #302 "Why does PaymentRequest constructor throw on details.error"
I'm confused as to why this throws in the constructor:

Why can't it be ignored? Or, why not make an DetailsUpdate dictionary type explicitly for this instead (i.e., with `updateWith()`)?

[2016-11-14 07:13] marcoscaceres opened #303 ""valid decimal monetary value" should move to its own section"
It seems that the algo for "valid decimal monetary value" is used to check a number of different dictionary members throughout the spec. Hence, the definition should not be part of the `PaymentCurrencyAmount` dictionary's `value` definition.

[2016-11-14 07:16] marcoscaceres opened #304 "valid decimal monetary value maybe overly restrictive"
Following the [robustness principle](https://en.m.wikipedia.org/wiki/Robustness_principle), if monetary values are strings, the algorithm for "valid decimal monetary value" should maybe trim.

[2016-11-14 07:22] marcoscaceres opened #305 "currencySystem seems like a recipe for interop hell"
How realistic is it that anyone will support any currency system other than ISO4217?

It seems like a recipe for disaster if UAs start supporting anything but one.

Furthermore, if the UA supports more than one, then how can the developer check what currency systems are supported by the UA (apart from forcing an exception).

In fact, the "currencySystem" is not used anywhere in the algorithms, so

[2016-11-14 07:57] marcoscaceres opened #306 "PaymentRequest type checks (valid non-negative monetary value)"
The following should be combined:

We should just define a "valid non-negative monetary value" as an algorithm that calls into "valid decimal monetary value".

[2016-11-14 07:58] marcoscaceres commented on #306
(updated the above)

[2016-11-14 08:20] adrianhopebailie commented on #305
Very realistic. There are already a number of non-ISO currencies in pretty wide use:
- Crypto currencies
- Loyalty points
- Airmiles

[2016-11-14 08:46] marcoscaceres commented on #305
Ah, ok. So the payment request can be made with an arbitrary system. How is the relationship between the total amount and the currency system established?

Like when given:

[code]

(I've not read through the whole spec yet in full detail, so this might be already answered)

[2016-11-14 09:00] marcoscaceres opened #307 "The myth of JSON-serializable object"
I might be wrong, but I recall "JSON-serializable object" coming up in the past in other specs and being problematic:

But I'm pretty sure it's a bit of a 🦄 - or it should be actually defined as to how one actually works that out. Right now, the spec basically implies:
[code]

That seems nasty. Could we check with public-script-coord what the right thing to do here is?

There might be an actual ob

[2016-11-14 09:02] marcoscaceres opened #308 "enum PaymentComplete's """
Can we please give "" a proper enum value to PaymentComplete's "". I believe we've only used "" as a means to recover from where we screwed up an API in the past... given that this spec is still evolving, there is no reason for `""` to be used, instead of, say, something more meaningful like "unknown" or "dismissed".

[2016-11-14 09:36] marcoscaceres commented on #298
Tagging @domenic, as cancellable promises are his domain.

[2016-11-14 12:46] halindrome commented on #301
I imagine to give flexibility to future currencies where there are VERY LONG floating point values so that we do not need to deal with precision when, in fact, nothing in the tool chain actually cares what the value is.  It is only really there for display purposes and to pass along to the next actor in the chain.

[2016-11-14 12:48] halindrome commented on #306
I don't mind this. However, if we do this we need to ensure that the relevant prose is preserved.  We often (in specs) err on the side of a well expressed algorithm at the expense of its readability by mere mortals.

[2016-11-14 12:50] halindrome commented on #305
I don't think that relationship IS enforced.  This information is just that - information.  The devil is in the details, and the real data is per-payment-method and encoded in payment-method specific ways.

[2016-11-14 14:35] adrianhopebailie commented on #305
That's my understanding too. These are all UI hints as opposed being data that is used in processing the payment.

Note that the browser doesn't ever auth a payment. The expectation is that the payment app processing the request will understand how to interpret this data correctly and therefor provide the user with the correct prompts to authorize (and confirm the amount etc).

[2016-11-14 18:20] nickjshearer opened #309 "Behavior for multiple modifiers for the same payment method is not defined"
Currently the specification defines a `PaymentDetailsModifier` sequence which can be used to apply modifications to the total and display items as appropriate for the currently selected payment method:

https://w3c.github.io/browser-payment-api/#dom-paymentdetailsmodifier

However, the specification does not define the user agent behavior in the case where this sequence contains multiple `PaymentD

[2016-11-15 05:59] marcoscaceres commented on #301
@halindrome, thanks for the clarification.

[2016-11-15 06:03] marcoscaceres commented on #305
I'm still uncomfortable with this member being there, particularly if it's "just information". If the UA doesn't act on it, then maybe we should reconsidered it at a later date?

[2016-11-15 12:49] rsolomakhin opened #310 "Add canMakePayment() function to PaymentRequest object."
This issue is for tracking discussion about adding canMakeActivePayment() function to PaymentRequest. See https://github.com/zkoch/zkoch.github.io/blob/master/pr-detect-avail.md for details of the proposal. It would be great to hear what other implementers think.

[2016-11-15 13:28] ianbjacobs commented on #305
Implementers, it would help to hear your plans around this feature. I know that it was considered important by some to be able to include emerging payment systems via alternative registries.

Ian

[2016-11-15 13:31] webpayments-specs commented on #305
Chrome currently has no plans to do anything special with currencySystem.

--Rouslan

On Nov 15, 2016 8:29 AM, "ianbjacobs" notifications@github.com wrote:

[2016-11-15 13:49] burdges commented on #301
You must specify maximum and minimum values for any number represented as a string anyways.  You'll wind up with people converting it to potentially incompatible number formats like 32 bit floats otherwise.  And other people dragging in unnecessary bignum packages.  If one corrects this underspecification, then you might as well use a 64 bit float with a fixed exponent here.

[2016-11-15 14:58] halindrome commented on #310
I am curious why the name "canMake_Active_Payment" ?  I know why Active is included in the Apple API name, but in our case what is Active about it?  I think canMakePayment makes more sense.  #namingishard

[2016-11-15 15:03] webpayments-specs commented on #305
Just so you know: ISO is looking into extending the standard to accommodate other ‘types of currencies’ such as crypto’s.

[2016-11-15 22:58] adrianba commented on #298
Discussed with @marcoscaceres - not intending to change here but leaving open for comments on cancellable promises.

[2016-11-15 23:16] marcoscaceres commented on #300
@adrianba tells me that there are instances where you might use `PaymentDetails` without a total.

[2016-11-16 04:57] ianbjacobs commented on #300
It would be good to have on this thread the use case(s). I believe one of them is "registration."

Ian

[2016-11-16 05:08] marcoscaceres commented on #300
The spec itself documents the use cases :)

[2016-11-16 05:08] #300 closed, assigned to nobody

[2016-11-16 06:23] marcoscaceres commented on #307
Pinged public-script-coord:
https://lists.w3.org/Archives/Public/public-script-coord/2016OctDec/0071.html

[2016-11-16 06:59] marcoscaceres opened #311 "Send HTMLIFrameElement.allowPaymentRequest to HTML spec"
I'm wondering what the rationale is for having an attribute on `HTMLIFrameElement` (`.allowPaymentRequest`), instead of using the `sandbox` attribute (i.e., `sandbox='allow-payment-request'`)?

I can see there is precedence here with `.allowFullScreen` tho, but consistency would be good.

cc @mikewest @foolip

[2016-11-16 07:09] marcoscaceres commented on #305
Mozilla also currently has no plans to do anything special with currencySystem. I don't plan on adding it to Gecko at this point.

[2016-11-16 07:56] marcoscaceres opened #314 "DOMExceptions are now in WebIDL"
The spec currently points to the DOM spec for DOMExceptions, but these are actually in WebIDL2.

[2016-11-16 07:57] tommythorsen commented on #309
I would vote for the last one, throwing a `TypeError` for the case where there are multiple modifiers for one payment method. It seems to be the simplest way avoid confusion and to get correct and consistent behavior.

[2016-11-16 07:59] marcoscaceres commented on #303
@adrianhopebailie, would be really awesome if when a PR is sent, it's assigned to a reviewer instead of the person who sent the PR. Is that possible?

[2016-11-16 13:55] rsolomakhin commented on #309
I'm OK either way.

[2016-11-16 13:57] foolip commented on #311
Looks like this was already implemented in Chromium: https://codereview.chromium.org/2394473002

It's pretty recent, so shouldn't have reached stable yet, but any change would have to be soon.

Does https://html.spec.whatwg.org/multipage/embedded-content.html#allowed-to-use do what you want for payments? In other words, do want payments to be allowed by default for top-level frames, disallowed by

[2016-11-16 14:00] rsolomakhin commented on #311
It should not go into `sandbox`, because `sandbox` is for blocking features that are allowed by default. For example, `<iframe>` allows form submission and script execution, but `<iframe sandbox>` does not. We want to disable `PaymentRequest` in `<iframe>` by default, which is more similar to how `allowfullscreen` operates.

[2016-11-16 14:29] annevk commented on #311
If that's exactly what you want you should use the primitives from HTML and upstream the attribute to HTML. That's probably the simplest solution here.

https://github.com/w3c/mediacapture-main/issues/268 had some discussion about going in a different direction for scenarios mostly like `allowfullscreen`, but then it got closed without the discussion being really resolved. Sigh.

[2016-11-16 15:56] rsolomakhin commented on #307
We require JSON-serializable object to avoid this:

[code]

This is valid JavaScript, but cannot be serialized into a JSON string.

Serialization is necessary for communication to payment apps. Android apps can't receive JavaScript objects, so they take in a JSON string instead.

[2016-11-16 16:38] adrianhopebailie commented on #303
@marcoscaceres that is happening because of a previous test we did with waffle.io. Sorry, I need to figure out how to stop it.

Management of this repo is with the editors: @adrianba, @zkoch and @rvm4

[2016-11-16 21:17] ianbjacobs commented on #309
How does the spec address similar questions of "multiple instances"? In discussion about basic card filters (cf Zach's proposal [1], which is partially implemented, the expectation is set taht
the mediator will take a "first match wins" approach.

Ian

[1] https://github.com/w3c/webpayments/blob/gh-pages/proposals/zach-pmi.md

[2016-11-17 00:04] rsolomakhin commented on #310
`canMakePayment()` would be misleading, because anyone with an empty profile can make a payment by entering new credit card information into the user agent during the checkout. We need to a keyword that signifies that the user has previously setup their profile by entering valid credit card information into the user agent in the past. Not sure if we can do better than "active."

[2016-11-17 01:48] dlongley commented on #310
I also think that `canMakeActivePayment` is kind of a strange name for a method on a PaymentRequest object, as PaymentRequest objects do not make payments. Something like `canUserMakeActivePayment` could mitigate that.

Writing out the algorithm for what the method will do may help in determining its name. It seems to me that it would roughly be:
1. If the user has a payment app installed for one

[2016-11-17 01:52] rsolomakhin commented on #310
I plan to let payment apps expose to the mediator whether it has payment instruments available.

[2016-11-17 06:27] marcoscaceres commented on #311
@rsolomakhin, good point.

Ok, we should mark this in the spec as a monkey patch and back port it to HTML as @annevk suggests.

So, the only annoying bit is that we have to rely on W3C HTML here because reasons... so need to figure out what the timing would be to get them to pick it up.

[2016-11-17 08:26] adrianhopebailie commented on #305
@marcoscaceres @rsolomakhin

Does that mean that if you encounter a currencySystem other than the default that you'll throw?

[2016-11-17 08:37] adamroach commented on #305
Sorry, lagging a bit this week due to IETF.

@halindrome  --

I don't think that's quite right. The currencySystem is passed through to the payment app so that it has context to interpret the numbers passed to it.

[2016-11-17 11:48] halindrome commented on #311
Can't we do it as an "extension" to HTML5?  Actually, can't we just do this whole spec that way?  That's what it is anyway.  Then the HTML5 change comes for free.

[2016-11-17 12:22] mikewest commented on #311
In an ideal world, this would wait for Feature Policy to figure out how it wants to allow folks to enable features for child frames (@igrigorik, etc).

In the actual world, adding an attribute is ugly, but would let you hit your shipping targets. Have y'all worked out what origin you'll be showing in dialogs from cross-origin frames, and generally how you'll explain to users what's going on? We pu

[2016-11-17 13:04] rsolomakhin commented on #311
We are showing the title, icon, and origin of the top-level frame.

[2016-11-17 13:06] rsolomakhin commented on #305
Chrome does not throw for unknown currency systems.

[2016-11-17 13:27] mikewest commented on #311
@rsolomakhin: Interesting. Do you account for the fact that frames are navigable cross-origin? That is, `evil.com` can do something like:

[code]

[2016-11-17 13:37] rsolomakhin commented on #311
This code would live on `evil.com`, so we would show the title, icon, and origin of `evil.com`. Perhaps my language was confusing, because "top-level frame" does not mean the top-most `<iframe>` element on the page. The term "top-level frame" refers to the HTML page that is not inside of any `<iframe>` element.

For example, suppose you load `https://rsolomakhin.github.io/pr/iframe/` into your web

[2016-11-17 14:49] #303 closed, assigned to marcoscaceres

[2016-11-17 17:49] rsolomakhin commented on #310
Pull request in #316.

[2016-11-17 18:08] adrianba commented on #307
The goal here was broadly an author requirement for payment apps. Developers should not expect types that can't be readily serialised to work correctly here. I welcome any language to clarify this but it isn't something to lose too much sleep over.

[2016-11-18 08:29] adrianhopebailie commented on #311
@rsolomakhin I'm a bit confused

Are you saying that you display the details of the context in which the API was called or the top-level context?

I.e. If `merchant.com` embeds an iframe from `psp.com` and the code that calls the payment request API runs inside `psp.com` do you display `merchant.com` or `psp.com`?

[2016-11-18 09:20] rsolomakhin commented on #311
We display `merchant.com` in your example.

[2016-11-18 15:41] adrianhopebailie commented on #311
I think that is @mikewest 's concern. The user isn't aware that they're actually transacting with `psp.com`. Is there a way to solve this elegantly?

[2016-11-18 16:08] ianbjacobs commented on #311
@adrianhopebailie,

As a user, I would expect to see merchant.com. I would not expect to see the implementation details of how the merchant operates. I might in some scenario want to be able to dig deeper, but I think at the time of checkout I want to know that I'm in fact buying something from merchant.com.

[2016-11-18 17:12] rsolomakhin commented on #311
Our reasoning for this is that user sees "merchant.com" in the address bar, regardless of any iframes the website might have embedded on their page. Therefore, we would like payments UI in Chrome to behave similarly. That being said, there's room for variation between user agents. For example, we have also considered showing something like "merchant.com via psp.com" in UI. We're not going down tha

[2016-11-18 17:51] igrigorik commented on #311
Big +1 to that. This is exactly the problem FP is aiming to solve.

Explainer: https://docs.google.com/document/d/1k0Ua-ZWlM_PsFCFdLMa8kaVTo32PeNZ4G7FFHqpFx4E/edit

@clelland and @raymeskhoury are landing patches as we speak. /cc @ojanvafai

[2016-11-20 12:08] adrianhopebailie commented on #311
Have we considered the security implications of a page that is not in a secure context hosting the payment frame. I can't recall if this is addressed. Because, if I see merchant.com and the page is insecure and has been hijacked so that the iframe is from evil.com then neither the user or the merchant will be able to detect that.

[2016-11-20 12:44] rsolomakhin commented on #311
In order for Payment Request to be available, the full chain of iframes and the top context need to be in secure context. Each iframe needs an 'allowpaymentrequest' attribute. You can experiment with this using Chrome Canary on Android. Open up http://rsolomakhin.github.io/pr/iframe/ and note that both iframes threw up SecurityErrors, even though both were embedded via https. Then open up https://

[2016-11-20 13:55] clelland commented on #311
Nothing in Feature Policy is intended to allow the secure context requirement to be avoided -- we haven't called that out explicitly, but maybe we should. We do allow FP to be specified for some features which don't need HTTPS, but for those that do, we are still going to require a secure chain of frames, each specifying the correct policy.

The `allowpaymentrequest` iframe attribute is directly m

[2016-11-20 16:03] adrianhopebailie commented on #311
If it's SecureContext all the way down then I think we're safe 😄

Although, @ianbjacobs , speaking as a user I would want to know if `merchant.com` has delegated this to `anyoneelse.com`. I think @rsolomakhin 's suggestions are along the lines of what I was thinking but I guess it's up to the implementers to look after their users.

Another question is how permissions might work? Perhaps a new thr

[2016-11-20 19:00] rsolomakhin commented on #311
Do you mean a permission request akin to geolocation? We don't plan to use that for web payments, because geolocation permission allows polling user's location in background, which we do not want for payments. User should approve every transaction. There's only one approval screen, which shows the hostname of the top level context. This screen might also show the hostnames of the embedded iframes,

[2016-11-21 07:33] marcoscaceres commented on #308
Made proposal, discussion is happening in #312

[2016-11-21 08:03] marcoscaceres commented on #305
So, to be clear, that's basically what we will do in Firefox... just pass it through.

Closing, as it seems this was discussed at length prior to me joining the WG.

[2016-11-21 08:03] #305 closed, assigned to nobody

[2016-11-21 08:41] marcoscaceres commented on #314
A nice, they were back ported to WebIDL1 PR:
https://www.w3.org/TR/WebIDL-1/#dfn-error-names-table

[2016-11-21 11:50] adrianhopebailie commented on #311
👍

👍

👍

I'd hope they only allow repetitive payments from that origin then and not from the origin of the sub-context. Not sure if we need to go into this detail?

[2016-11-21 12:12] tommythorsen commented on #311
@rsolomakhin and @adrianhopebailie:

Consider the case where you have a main page that is not a merchant, but for instance a news site. It allows its embedded advertisements (contained in iframes) to make use of Web Payments. So, for instance, while reading a sports article, you get an advertisement for a pair of running shoes, and can click a button in the advertisement to buy the shoes directly.

[2016-11-21 13:54] ianbjacobs commented on #311
These are all helpful considerations. I am beginning to think that we should call out this topic in the Security Considerations section. In general I would leave the UX to implementers.

[2016-11-21 21:23] bzbarsky opened #320 "PaymentDetails "total" member should be required"
Right now there is prose in https://w3c.github.io/browser-payment-api/#constructor step 4 that attempts (not quite correctly) to enforce that.  Please just mark it as required in the IDL instead.

[2016-11-21 21:25] bzbarsky opened #321 ""contains a value for" isn't defined for dictionaries"
The IDL spec defines the concept of a dictionary member being "present" or not at <https://heycam.github.io/webidl/#dfn-present>.  Please use that instead of making up new terminology here.

[2016-11-21 21:31] bzbarsky opened #322 "DOMStrings don't contain "characters""
There are various places in this specification that talk about things like "If the first character of details.total.amount.value is U+002D HYPHEN-MINUS" where the thing under conisideration (in this case details.total.amount.value) is a DOMString.  DOMStrings contain code units, not characters.  You either need to talk about the numeric values of those code units, or use USVString and talk about c

[2016-11-21 21:32] bzbarsky opened #323 "What is "the script calling the constructor"?"
https://w3c.github.io/browser-payment-api/#constructor step 3 talks about "the script calling the constructor" but that's not a thing that's defined.  Please use something that's actually defined here.

[2016-11-21 21:35] bzbarsky opened #324 "Browsing contexts don't have an "origin""
https://w3c.github.io/browser-payment-api/#constructor is talking about "a nested browsing context whose origin is different from the top-level browsing context's origin", but browsing contexts do not have an origin attached to them per se.  They can contain things that have origins, of course.

I _suspect_ what you want is an "allowed to make payment requests" flag on Document or Window and make

[2016-11-22 00:05] raymeskhoury commented on #311
@tommythorsen there are different perspectives on this topic. Even if we display the iframe origin, there's an assumption that the user reads it and understands that there is a different site involved, though I don't think that's a strong assumption to make.  We've done some [research on this topic](https://docs.google.com/presentation/d/1suzMhtvMtA11jxPUdH1jL1oPh-82rTymCnslgR3ehEE).

We're headin

[2016-11-22 07:46] adrianhopebailie commented on #311
Is there scope to differentiate between "delegating" and "allowing" payments in a child frame?

i.e. When you delegate, as in @tommythorsen 's use case, then the origin of the child frame is used and when you are allowing a child-frame to access the API it is for use cases where that frame is handling payments on behalf of the parent so the parent's origin is used.

[2016-11-22 16:57] ianbjacobs opened #325 "Should values for supportedNetworks be defined in Basic Card or separately?"
Basic Card Payment defines supportedNetworks as a sequence of identifiers for card networks accepted by the merchant. User agent support for identifiers will likely change over time, and perhaps more rapidly than the custom for W3C to update its Recommendations. Should the list be defined in Basic Card or separately?

Here is a proposal to manage them separately:
 https://github.com/w3c/webpayment

[2016-11-22 22:02] esprehn commented on #311
I'd prefer we punt this a release and wait on the feature policy or permission delegation features. Both are trying to solve this problem in a general way that doesn't keep up the trend of adding more properties to every iframe for each feature. If we ship this now we're going to be stuck with it (maybe forever) and the FP system is very close and being actively worked on. I'd much prefer we leave

[2016-11-23 00:42] marcoscaceres commented on #311
@esprehn, it really depends on Google's willingness to unship it from Chrome at this point. We can rip it from the spec, but if sites start using in Chrome, then we will need to add it again.

[2016-11-23 06:15] marcoscaceres opened #326 "PaymentOptions seems overly verbose/overlaps with HTML"
What's the rationale for using booleans for the [PaymentOptions's requested members](https://w3c.github.io/browser-payment-api/#paymentoptions-dictionary)? Why not just list the things you want.

Also, there is a lot of overlap with HTML's [Autofill field names](https://html.spec.whatwg.org/multipage/forms.html#autofill):

[code]

It seems less than ideal that we end up defining the same things tw

[2016-11-23 06:34] marcoscaceres opened #327 "Add dir/lang member on dictionaries whose content is displayed in browser UI"
As we can't mark-up the labels in dictionaries (using HTML), we might need to add `dir` ("ltr" and "rtl") members on dictionaries that contain things that are displayed to the end-user (defaulting to "ltr" when missing). So:

[code]

Have the i18n folks looked at this API? They will likely ask us to add that. We might also need `lang`.

cc @r12a.

[2016-11-23 06:35] marcoscaceres commented on #327
heh, the above Arabic text already got screwed up 👍

[2016-11-23 07:05] marcoscaceres commented on #299
Mozilla would like to request that `PaymentAddress` be changed to a dictionary. Rationale is given above - and also because it violates principles of the extensible web manifesto: we shouldn't add new interfaces to the web platform that are not reusable primitives.

The side effect of changing this is that `PaymentRequest`'s and `PaymentResponse`'s `shippingAddress` attribute needs to change to a

[2016-11-23 08:08] annevk commented on #326
Agreed, I pointed this out to @adamroach before. Thanks for filing!

[2016-11-23 08:17] marcoscaceres commented on #326
Additionally, `PaymentResponse` could just have a single FormData object that correspond to the requested `formFields`.

[2016-11-23 08:24] tommythorsen commented on #311
I kind of like Adrian's suggestion to differentiate between "delegating" and "allowing". We could of course have only one of the options ("allowing", which Chrome already uses) in the first version of the spec, and add the second option ("delegating") in a later version.

[2016-11-23 08:46] marcoscaceres opened #328 "PaymentResponse's details could lead to problems"
I'm concerned about PaymentResponse's details attribute:

[code]

Which is set as:

Although the attribute is read-only, the object itself won't be.

Maybe we want a `.getDetails()` method that always returns a new object - otherwise, this becomes racy if the `PaymentResponse` gets passed around. Developers could accidentally add new props to it, etc. which could cause weirdness in other parts of

[2016-11-23 09:01] foolip commented on #311
The `allowpaymentrequest` attribute was added in Chromium in https://crrev.com/310d33fb9aa25f2bcf58b4c64e4e0c1fbcc73bdb and will, if nothing happens, be in Chrome 56. There is time to revert it so that it never reaches stable. @rsolomakhin, what's your take?

[2016-11-23 09:05] adrianhopebailie commented on #311
To be clear, is the proposal that child frames will not be able to use the payment API until feature policy ships and parent sites are able to explicitly enable it?

[2016-11-23 09:08] foolip commented on #311
Yes, that's the implication, but I'd like to hear the pros and cons from those working on payments and feature policy in Chromium, there could be constraints here that rule out that idea.

[2016-11-23 09:11] marcoscaceres commented on #311
I can't find any plans for Gecko to support FP (in Bugzilla, at least). @igrigorik, have you spoken to any Moz folks about it?

[2016-11-23 13:26] rsolomakhin commented on #311
Given these unresolved conversations, I am disabling allowpaymentrequest tag in Chrome for now. FP seems the best way forward.

[2016-11-23 13:27] marcoscaceres commented on #328
Actually, I need to reflect on this a bit more.

[2016-11-23 13:27] #328 closed, assigned to nobody

[2016-11-23 15:36] rsolomakhin commented on #311
@marcoscaceres and @adrianba: Can you find out if and when Firefox and Edge plan to implement FeaturePolicy? If the answer is "never" or "not any time soon", then we might need to keep `HTMLIFrameElement.allowpaymentrequest` until more browsers have support for FeaturePolicy.

[2016-11-23 18:58] igrigorik commented on #311
Feature-Policy v1 explainer + discussion: https://github.com/WICG/feature-policy/issues/43

[2016-11-24 01:54] marcoscaceres commented on #299
I'm also looking at PaymentAddress as just being `FormData` instead of a Dictionary. Will play with this a bit.

[2016-11-24 05:49] marcoscaceres commented on #301
So, this has a mismatch with HTML's [transaction-amount](https://html.spec.whatwg.org/multipage/forms.html#attr-fe-autocomplete-transaction-amount) and I think they need to match.

[2016-11-24 05:52] marcoscaceres commented on #311
@igrigorik, great to see Mozilla folks have provided feedback.

@rsolomakhin, I'm trying to get clarity on it.

[2016-11-24 07:39] marcoscaceres opened #330 "Making this API work with HTML Forms"
This is a follow on from #326... the  ability to use this API with HTML forms seems limited, which strikes me as quite odd given that this API just collects form data. In particular, web applications that are loaded on UAs that don't support this API will need to use HTML forms.

Additionally, `PaymentResponse` needs to be validated in the same way that one would validate a HTML Form. And, in most

[2016-11-24 08:14] marcoscaceres commented on #330
Basically, the missing piece is being able to "hydrate" a form with a payment request (or more generally with form data).

Ideally:

[code]

[2016-11-24 08:35] marcoscaceres commented on #274
@halindrome this may be addressed by https://github.com/w3c/browser-payment-api/pull/329

We might be better served by having an explainer for additional examples.

[2016-11-24 08:44] marcoscaceres opened #331 "Collect Privacy and Security considerations"
Discussed some with @pauljt... would be great to collect more here... please suggest more:

 * [ ]  Protecting the wallet - making sure "data at rest" can't be easily attacked by, for example, other applications.
 * [ ] Don't store CVV

Payment sheet considerations:
 * [ ] what numbers to show from stored credit cards (i.e., maybe first 4 and last 4).
 * [ ] how to deal with too many Display Items

[2016-11-24 11:17] rsolomakhin commented on #330
Does it make sense to have a form that accepts [Android Pay](https://developers.google.com/web/fundamentals/getting-started/primers/payment-request/android-pay) fields, for example?

[2016-11-24 11:49] marcoscaceres commented on #330
Sure, I don't see any problem. Thats just a feature of the payment method. If you look at that example you can see the result just gets copied and POSTed for verification. It's consequential that it's JSON. But my argument stands: the payment response is just form data.

[2016-11-24 18:22] nickjshearer commented on #326
There is no autofill field name for a full address. You'd either need to override the meaning of `street-address` (which technically means only the street lines, not the city, country, postal code, etc) or define a custom field name that represented the address in its entirety. I don't really like either approach - if we need to define a custom name off the bat for a key piece of information then

[2016-11-25 00:06] nickjshearer commented on #301
What's the mismatch in the context of this issue? transaction-amount is defined as a valid floating point value, which in the spec is a string, not a number. Like the amount here, it is a string that must conform to specific rules - but it's a string, nonetheless.

[2016-11-25 03:18] marcoscaceres commented on #301
Sorry, I meant that it should be defined as the same thing "number", with validity check being done via the "[valid floating point number](https://html.spec.whatwg.org/multipage/infrastructure.html#valid-floating-point-number)" algorithm. The algorithm in the two specs work essentially the same, but just avoid more duplication.

[2016-11-25 08:18] adrianhopebailie commented on #301
Representing amounts in payments as floating point numbers is generally accepted as a bad idea. Amounts should be represented as decimals.

I believe the most widely used definition of a decimal type is the XML Schema Decimal Type which is used outside of XML as a way to define decimals [1].

[1] https://www.w3.org/TR/xmlschema-2/#decimal

[2016-11-25 11:54] burdges commented on #301
Strings have all the problems of floats and more thought, no?  You want an integer that represents the currency value divided by 1000 for tenths of a cent, or 10,000 for hundredths of a cent, or whatever folks agree on. JavaScript numbers are all `f64`s under the hood, but one should only use the integer part.  It's plenty big enough and avoid the issues with floats.  You do need to specify how di

[2016-11-26 00:50] nickjshearer commented on #301
That seems sensible, the type remains a string and just cross-reference the existing algorithm.

This is certainly an ideal, but in the real world it becomes unmanageable. Firstly, you need to define exactly what unit of precision you're going to use - which itself is nearly impossible, because we have to support arbitrary currencies that may not exist yet, and some currencies have very large prec

[2016-11-26 15:02] sideshowbarker commented on #301
I agree with this.

When I wrote https://github.com/w3c/browser-payment-api/pull/256/commits/380c86274cfb967697d38b82847e5c0301b0d935 I considered defining it as a reference to HTML’s [_valid floating point number_](https://html.spec.whatwg.org/multipage/infrastructure.html#valid-floating-point-number) rather than minting the new [_valid decimal monetary value_](https://w3c.github.io/browser-payme

[2016-11-28 01:22] marcoscaceres commented on #301
Thanks, @sideshowbarker for doing that. I agree that it should change in HTML.

[2016-11-28 02:25] marcoscaceres commented on #326
Then we should add one to HTML... like "full-address" or whatever.

This is basically what we do today in forms: a "spray and pray" approach: where the developer requests the data (spray the names) in the hope (pray!) the user agent has it in it's autocomplete database.

That seems most sane, because a developer can't assume they will get anything back or what they will get back will be valid. It'

[2016-11-28 02:36] marcoscaceres commented on #311
@rsolomakhin, unfortunately, Mozilla can't have Feature Policy implemented in the timeframe we've allocated to payments. Looks like we will have to stay with `.allowPaymentRequest` for now, but we should have a plan for Feature Policy to eventually take precedence.

@igrigorik, can we design Feature Policy such that it plays nice with `.allowPaymentRequest` and also with `. allowFullScreen`. Hopef

[2016-11-28 05:32] marcoscaceres commented on #311
For those who haven't seen it, @domenic provided a bunch of guidance for how this should be specified here (it also points out a bunch of issues):
https://github.com/w3ctag/spec-reviews/issues/147#issuecomment-262427149

[2016-11-28 08:46] sideshowbarker commented on #326
I’ve raised https://github.com/whatwg/html/issues/2105 proposing that.

[2016-11-28 19:48] ianbjacobs commented on #331
Hi @marcoscaceres,

I believe that previously we have wanted to avoid listing payment method -specific security considerations such as "don't store CVV." That is how we ended up with this text in the Basic
Card specification: "Note: Implementers may be subject to PCI DSS or other regulations, but discussion of those considerations lies outside the scope of this document."

See also discussion abou

[2016-11-29 16:39] rsolomakhin commented on #311
Since Mozilla can't have Feature Policy implemented in the timeframe of web payments, I will remove `allowPaymentRequest` from behind a flag and ship it.

[2016-11-29 20:20] foolip commented on #320
Just noticed this as well. AFAICT Blink always throws TypeError when it's missing, so offloading this to generated bindings would be nice.

[2016-11-29 23:13] adrianba commented on #326
The reason was to support making these not Boolean.

[2016-11-29 23:16] adrianba commented on #320
`total` isn't always required.

[2016-11-29 23:22] adrianba commented on #310
We have reviewed the `canMakeActivePayment` proposal and we do not support it.

We are not comfortable revealing to a web site that a user has a payment credential for a particular payment method without the user's consent. In addition, in practice it is not possible, with the payment system that our implementation depends upon, for us to gather this information without showing UI.

We can live wi

[2016-11-29 23:36] ianbjacobs commented on #310
@adrianba, you wrote:

 "We can live with a canMakePayment method that only reveals information about supported payment methods."

Can you say what the inputs and outputs of that are? Thanks!

Ian

[2016-11-29 23:58] foolip commented on #320
@adrianba, I see it's used also in https://w3c.github.io/browser-payment-api/#dom-paymentrequestupdateevent-updatewith, is that the place?

If so, the because the dictionary has no required members it'd have to be made optional in the constructor, even though it'd always throw when emitted. ([`getUserMedia()`](https://w3c.github.io/mediacapture-main/#mediadevices-interface-extensions) is also like

[2016-11-30 00:11] adrianba commented on #320
Yes. We discussed this with @marcoscaceres and he was going to think about refactoring.

[2016-11-30 00:12] adrianba commented on #310
I think it's the same just without the "active" check.

[2016-11-30 01:38] bzbarsky commented on #320
It's probably a better idea to just use two dictionary types in the two places that want different behavior.

Failing that, you should fix the constructor to at least properly define the behavior it wants.  And note that updateWith as specced is fairly nonsensical; I still need to report an issue on that...

[2016-11-30 02:44] bzbarsky commented on #307
It's something to lose sleep over because this is a requirement on user agents (they are supposed to reject non-json-serializable cases) but nothing defines what "json-serializable" really means, which means there can't be an actual implementation of the spec as written.

As an implementor I would raise a formal objection to this whole bit.  As a test writer, I'm quite certain I would be able to c

[2016-11-30 02:56] bzbarsky opened #332 "The origin restrictions in the PaymentRequest are not nearly strong enough"
Step 3 of the steps in https://w3c.github.io/browser-payment-api/#constructor (I see no way to link to the steps directly) says:

This has at least two problems (not counting the already-filed https://github.com/w3c/browser-payment-api/issues/324 and <https://github.com/w3c/browser-payment-api/issues/323>):

1.  Consider the case when our toplevel origin is A, which loads a subframe from origin B,

[2016-11-30 03:01] bzbarsky opened #333 "PaymentDetails may not have values present for various sequences, but the PaymentRequest constructor assumes that it does"
https://w3c.github.io/browser-payment-api/#constructor step 7 says:

But there may not be  a displayItems value present at all in `details`.  Similar in step 8 for shippingOptions.

[2016-11-30 03:01] bzbarsky commented on #333
And in step 11 for `modifiers`.

[2016-11-30 03:02] bzbarsky commented on #321
Same thing for various places that use "is supplied" when they mean "is present".

[2016-11-30 03:05] bzbarsky opened #334 "A `PaymentItem` can't be a "valid decimal monetary value""
Step 11 of https://w3c.github.io/browser-payment-api/#constructor says:

But the "total" member of `PaymentDetailsModifier` is a `PaymentItem`, not a string.  So checking whether it's a "valid decimal monetary value" is nonsensical.

[2016-11-30 03:07] bzbarsky opened #335 "A PaymentDetailsModifier may not have an additionalDisplayItems value present"
https://w3c.github.io/browser-payment-api/#constructor step 13 says:

But there may not be a value present for additionalDisplayItems at all in the dictionary.

Furthemore, the `amount` of a `PaymentItem` is not a string, so you can't check whether it's a "valid decimal monetary value".

[2016-11-30 03:09] bzbarsky opened #336 "Please define your internal slot notation before using it"
https://w3c.github.io/browser-payment-api/#constructor step 15 says:

I assume this means "store methodData into the internal slot of request that is named [[methodData]]".  But nothing in this document (certainly nothing before this point) actually defines that that's what the '@' notation means.

[2016-11-30 03:09] ojanvafai commented on #311
@marcoscaceres what we were hoping to do in Chrome is to ship with enable="paymentrequest" in the next chrome release and then the full feature policy support in a following release. That way, we get something that's forward compatible, but really not much more work than the allowpaymentrequest attribute.

The one difference is that enable="paymentrequest" intentionally is only allowing paymentreq

[2016-11-30 03:13] bzbarsky opened #337 "Why is the "shippingType" member of PaymentOptions not a PaymentShippingType?"
The spec has a note about replacing invalid values with "shipping" is supposed to let a page detect when it's using an unsupported shipping type, but an exception from the dictionary conversion would be just as detectable, no?

[2016-11-30 03:14] bzbarsky commented on #333
And in step 23 for `shippingOptions`.

[2016-11-30 03:17] bzbarsky commented on #336
Ah, I see, it's hiding all the way in the end in section 18.  This sort of definition should be at the beginning of the document, or the '@' needs to link to its definition.  Or both.

[2016-11-30 03:23] bzbarsky opened #338 "The "data" member of PaymentMethodData doesn't seem to actually be used for anything"
The PaymentRequest constructor enforces it being "JSON-serializable", whatever that means. .

But after that, nothing references that member.  Is it supposed to actually get serialized to JSON at some point, perhaps?

[2016-11-30 03:28] adamroach commented on #338
The information that goes in `data` is specific to individual payment methods. See, for example, the [relevant section in the basic card specification](https://w3c.github.io/webpayments-methods-card/#request).

The requirement to be serializable is to allow payment apps to send them to a server for subsequent processing (if necessary) and to allow sending them between processes in some compatible

[2016-11-30 03:29] bzbarsky opened #339 "Setting internal slots of objects from asynchronous steps is not OK"
https://w3c.github.io/browser-payment-api/#abort-method step 7 says:

But this is running async.  That means its only interaction with observable objects should be via tasks queued on a task queue, to avoid violating run-to-completion semantics.

[2016-11-30 03:33] bzbarsky opened #340 "Is it intended that abort() rejects the acceptPromise and resolves its return value in separate tasks?"
https://w3c.github.io/browser-payment-api/#abort-method steps 8 and 9 are running async, so those two steps will queue two separate tasks to perform the actual promise manipulation.  This is observably different from performing both operations in a single task.

If this is _is_ the intended behavior, please make sure you have a test for this in the test suite, because I expect implementors will mi

[2016-11-30 03:36] bzbarsky opened #341 ""asynchronously perform the remaining steps" is not defined"
This specification uses the phrase "asynchronously perform the remaining steps" in multiple places, but the actual behavior of that is not defined.   Are those steps performed off a task?  If so, which task queue does the task use?  Or are the steps performed "in parallel" as defined in <https://html.spec.whatwg.org/multipage/infrastructure.html#in-parallel>?

My other feedback on the spec assumes

[2016-11-30 03:37] bzbarsky opened #342 "Is section 3.4 informative or normative?"
Section 3.4 doesn't say whether it's informative or normative.  That means that presumably it's normative, but it's not clear to me what the normative content of it is....

I _assume_ this section is meant to be informative and should be annotated as such.

[2016-11-30 03:43] bzbarsky opened #343 "How are currency systems expected to be implemented in practice?"
The currencySystem member of PaymentRequest is .... very open-ended.  What are UAs supposed to do with this in practice so that there is some semblance of interop?  Is there a set of currency systems that must be supported (e.g. at least ISO 4217)?  What does support mean?

[2016-11-30 03:45] marcoscaceres commented on #343
Related to: https://github.com/w3c/browser-payment-api/issues/305

[2016-11-30 03:45] bzbarsky opened #344 "What does it mean for a user agent to validate displayItems?"
https://w3c.github.io/browser-payment-api/#paymentdetails-dictionary description of displayItems says:

If the UA does that... what does that mean?  What is the corresponding observable behavior or processing model?

[2016-11-30 03:46] adamroach commented on #341
You may need to open an equivalent issue on the WebCrypto and WebAudio specs. They use this phrase as well; see:
- Step 6 of https://www.w3.org/TR/WebCryptoAPI/#SubtleCrypto-method-encrypt
- Step 3 of `startRendering` in https://www.w3.org/TR/webaudio/#methods-2

[2016-11-30 03:47] bzbarsky commented on #343
Looks like this is a dup, then.

[2016-11-30 03:57] ianbjacobs commented on #344
One behavior might be a warning to the user. I don't know whether any browser is implementing that.

I don't recall whether another potential behavior was for the payment request to fail with a message to the merchant who could take steps to correct the error.

In any case, it would be good to know what the implementers so far have done (if anything).

Ian

[2016-11-30 03:58] bzbarsky opened #345 "The shippingOptions field is used in more cases than the spec claims, as far as I can tell"
https://w3c.github.io/browser-payment-api/#dom-paymentdetails says this in the `shippingOptions` section:

but this doesn't match the normative text in updateWith, as far as I can tell: that will use the shippingOptions no matter how the PaymentRequest was constructed...

[2016-11-30 04:01] bzbarsky opened #346 "The "data" member of PaymentDetailsModifier doesn't seem to be used for anything"
There's no processing model defined for it that I can tell.

[2016-11-30 04:11] bzbarsky commented on #338
That's fine, but nothing in this spec says the "data" is even passed to any other specification's algorithm.

And since examining the data can have script-observable side-effects, you have to do it at some well-defined point.   And probably before going async, yes?

[2016-11-30 04:15] bzbarsky commented on #341
Filed https://github.com/w3c/webcrypto/issues/168 and https://github.com/WebAudio/web-audio-api/issues/1092

[2016-11-30 04:17] bzbarsky commented on #344
Is closing the web page a valid behavior?  Setting the computer on fire?

Seriously, if there's going to be any hope of interop here, the range of valid behaviors really needs to be defined.

[2016-11-30 04:28] bzbarsky opened #347 "The target of a PaymentRequestUpdateEvent may not be a PaymentRequest object"
https://w3c.github.io/browser-payment-api/#updatewith-method step 1 says:

But target can be null, or some EventTarget that is not a PaymentRequest.  Behavior in that case needs to be defined (presumably to throw).

[2016-11-30 04:36] bzbarsky opened #348 "It's probably a good idea to use https://www.w3.org/2001/tag/doc/promises-guide#shorthand-reacting in updateWith"
Currently updateWith is explicitly poking at Promise internal state.  It's probably better to use the terminology in https://www.w3.org/2001/tag/doc/promises-guide#shorthand-reacting for consistency with other specifications.

This is particularly important because the two options  are not actually black-box identical as far as I can tell.  UAs are going to have a codepath that looks like the shor

[2016-11-30 04:39] bzbarsky opened #349 "The "if d is resolved" section of updateWith needs to be more explicit about how it gets a PaymentDetails dictionary"
Right now it says:

but what d is resolved with is an ES value.  What you probably want to do is to convert this value to a dictionary using <https://heycam.github.io/webidl/#es-to-dictionary>.  This can throw exceptions; the spec needs to say what happens if an exception is thrown.

[2016-11-30 04:42] marcoscaceres commented on #348
FWIW, all parts of the spec that talk about promises should be rewritten to adhere to the [promises guide]( https://www.w3.org/2001/tag/doc/promises-guide). It would also address the "in parallel" issue in various places too.

[2016-11-30 04:44] bzbarsky opened #350 "updateWith will silently ignore data in hard-to-debug ways"
There are various cases in which updateWith will ignore the data its argument promise is resolved with.  For example, it will ignore various negative amounts, onvalid decimal monetary values, etc.

When this happens, there is no indication to the caller of updateWith that anything went wrong.  Should there be (e.g. via a Promise that updateWith returns)?  I assume UAs are free to report things to

[2016-11-30 04:47] bzbarsky opened #351 "The shipping address/option changed algorithms should not be synchronously poking internal slots"
As far as I can tell these algorithms are invoked by the browser UI while things are running in parallel.  That is, they do not seem to run off a task.  It's a bit hard to say, because nowhere in the spec does it say how the browser goes about invoking these algorithms.

Anyway, assuming these are running in parallel, they should not be modifying values of attributes on objects, because that break

[2016-11-30 04:50] bzbarsky opened #352 "What is the shippingAddress/shippingOption of a PaymentResponse if requestShipping was false?"
https://w3c.github.io/browser-payment-api/#user-accepts-the-payment-request-algorithm says what to set the shippingAddress to if requestShipping was true, but not if it was false.  Presumably it should get set to null.  Similar for shippingOption.

[2016-11-30 04:52] bzbarsky commented on #352
Similar for payerName/payerEmail/payerPhone and their corresponding booleans.

[2016-11-30 04:55] bzbarsky commented on #342
I guess section 19 says all diagrams are non-normative.  That means this section says that the [[state]] follows a non-normative set of state transitions.  But following that non-normative set of state transitions is a normative requirement.

I still think it would be clearer to just explicitly label this section non-normative.

[2016-11-30 04:57] marcoscaceres commented on #342
The state transition section should just be folded into where [[state]] is defined, as a note.

[2016-11-30 06:21] marcoscaceres commented on #311
@ojanvafai, that sounds like it could work - and would allow Mozilla to incrementally add support for FP.

[2016-11-30 08:39] annevk commented on #311
@ojanvafai I hate to bikeshed but if there's going to be another attribute called "featurepolicy" should we name this one "featureenable"? Or have something else that ties them together? The other problem with first shipping just enable="" is that it means something different if you also define the header. So we might end up in weird situations (i.e., compatibility issues) if Firefox only ships th

[2016-11-30 08:45] marcoscaceres opened #353 ""store" value in [[internalSlot]]"
The spec uses terminology like:

But it's not clear what "store" means. We should just "set" internal slots to things.

[2016-11-30 08:49] marcoscaceres opened #354 "Ambiguous conformance requirement in constructor"
The following seems to be an authoring requirement:

The following assertion seems to be out of place in the algorithm:

The above should be placed somewhere closer to when they payment request is actually shown.

[2016-11-30 08:55] annevk commented on #326
@adrianba you would overload boolean? There's not really a precedent for that. Generally for extensions you would have new members.

[2016-11-30 17:38] RByers commented on #307
I'm trying to understand the fundamental difference of opinion here, please bear with me.

Is there a concern that `JSON.parse/stringify` behavior isn't precisely specified by [ECMA 262](https://tc39.github.io/ecma262/#sec-json.parse) and [ECMA 404](https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf)?  From a naive skim of those specs it seems to me like they do precisely d

[2016-11-30 18:19] RByers commented on #307
Or perhaps it would be simpler to just precisely define a validation along the lines of this:

The value must satisfy:
 - has typeof of "number", "string", "boolean", or "object"
 - if it's "object":
    - it's prototype is Object.prototype or Array.prototype
    - all it's ownProperties recursively satisfy these rules
    - if the prototype is Array.prototype:
        - it's only ownProperties ar

[2016-11-30 18:22] bzbarsky commented on #307
No.  But note that this spec never invokes JSON.parse/stringify.  See also https://github.com/w3c/browser-payment-api/issues/338

It really depends on your definition of "loss of data".

Maybe.  See thread starting at https://lists.w3.org/Archives/Public/public-script-coord/2016OctDec/0071.html if you haven't seen it yet.

Note that invoking JSON.stringify has side-effects, so if the intent is tha

[2016-11-30 18:22] webpayments-specs commented on #307
On Wed, Nov 30, 2016 at 1:20 PM, Rick Byers <notifications@github.com>
wrote:

Only "object" is allowed, because the spec says "JSON-serializable object".

[2016-11-30 18:23] bzbarsky commented on #307
@RByers applies these rules recursively to the property values, so they better allow more than just "object" unless you want to encode everything in the shape of the object graph itself.  ;)

[2016-11-30 18:24] bzbarsky commented on #307
To be clear, the way I would spec this is that the spec algorithm just calls JSON.stringify on the "data".  If that throws, propagate out the exception.  Then hand around the string.

[2016-11-30 18:32] RByers commented on #307
Ah!  I saw the post but somehow thought there weren't any replies yet (damn I hate the hypermail UI).  Sorry for the noise.

I had avoided that proposal because I thought it would be a potential interop issue since it's impossible to test that the UA is actually discarding all the non-serializable properties.  But that's probably a silly concern - easy to satisfy via code inspection.  So I agree -

[2016-11-30 21:07] ianbjacobs commented on #224
@rvm4, @stan-stripe, @adamroach, and I discussed WPWG feedback
and propose as next steps:

1) To enable various parties to reconcile transactions (especially
   push payments), add support for paymentRequestID to Payment Request
   API.

   a) A paymentRequestID must be unique within the scope of each domain.
   b) We will not specify the format of the identifier; UUID has
      been cited as an e

[2016-11-30 23:54] zkoch commented on #330
I think I'm a bit confused by what "form data" means in this context. Does anything that can go into a JSON object constitute "form data"?

I don't think it's valid to compare this with "UAs that don't support this API" and their need to fall back to forms. By falling back to forms, they're limiting the payment methods that are available. For example, native-only forms of payment (e.g. Android Pay

[2016-12-01 00:00] zkoch commented on #326
I'm not sure I'm wild about what this means from a UX perspective. By generalizing this to a single request (e.g. requestShipping: true), we're able to create a uniform experience for users going through the shipping address flow. It also reduces the likelihood of weird things happening if a developer makes a mistake (e.g. only asking for address-level2 and not address-level1).

[2016-12-01 00:08] zkoch commented on #344
I'd be fine taking this out. I believe this was added to give flexibility in implementation. Chrome does not do any validation here.

[2016-12-01 00:09] zkoch commented on #343
Given this is a dupe of #305 which is closed, any objection to closing this one?

[2016-12-01 00:12] ojanvafai commented on #311
I chatted more with Chrome folks and want to propose the following:

1. Rename the attributes to "allow" and "allowpolicy". The latter probably could use some bikeshedding, but I like "allow" because it matches the existing allowfullscreen, etc.
2. For v1, just ship the "allow".
3. That gives us some breathing room to hash out all the details of v2 that includes:
  -full policy attribute. Maybe we

[2016-12-01 01:41] marcoscaceres commented on #343
We can, but I'm concerned this is going to keep coming up. That should be setting off alarm bells.

 I fear we've come up with an inadequate compromise to appease a portion of the community - but without fully thinking through the implications of this design decision.

This may come back to bite us later :( let's close it, but someone else raises this again - we will need to deal with it.

Perhaps

[2016-12-01 01:46] zkoch commented on #343
I have no objection to raising this issue again. Considering that I don't think we have a single implementation that really uses this, I would be fine with sticking with ISO4217 codes.

[2016-12-01 02:18] #308 closed, assigned to marcoscaceres

[2016-12-01 02:18] #290 closed, assigned to marcoscaceres

[2016-12-01 03:03] marcoscaceres commented on #326
That's kinda the point though. The developer might already have "address level 1". Ultimately, we should give developers what they request - but that's independent of the UI that is presented.

[2016-12-01 03:16] zkoch commented on #326
If it doesn't change the UI, and it doesn't change the experience that a user sees (and therefore the number of fields they fill in), I don't quite understand why we wouldn't just return it all back and let the developer take what they need from the response.

[2016-12-01 08:18] adrianhopebailie commented on #332
Why does that seem odd?

On the contrary I would think it's odd if A had to give permission to call payment request to B as a way to let B embed a frame from A that can.

Use case example:

Merchant A embeds frames from B who is a third-party that manages their advertising across all properties. A wishes to give B the ability to show advertisements with "click-to-buy" functionality but doesn't wan

[2016-12-01 08:24] adrianhopebailie commented on #330
I am with @zkoch on this. I'm not sure I see the use case here beyond card payments.

I'd expect that for websites that are posting the PaymentResponse to a server they'll simply POST the JSON in the body of a new request. I think this issue is implying that POSTing `application/json` is less desirable than POSTing `application/x-www-form-urlencoded` data?

[2016-12-01 08:42] bzbarsky commented on #332
Because it allows B to trigger payment requests from A by when A might not expect it to.

Note that the proposed feature policy API has exactly the semantics I'm talking about: if a document doesn't have permission to do something, neither do any of its descendants.  And I believe that having the payment permissions model be describable by feature policy is an explicit goal.   So if it can't be, o

[2016-12-01 10:59] foolip commented on #320
Splitting the dictionaries SGTM, that would also get rid of the forbidden `error` in field in the constructor, which is a bit unusual.

[2016-12-01 12:34] bzbarsky commented on #320
Note that the shared fields could be a shared parent dictionary if desired.

[2016-12-02 03:33] marcoscaceres commented on #330
@zkoch, wrote:

Sorry for not being clear, form data means this API: https://xhr.spec.whatwg.org/#formdata

Consider, Firefox will support this on Desktop, but we don't have any plans right now to support this on mobile... let's say, for arguments sake we don't ship on mobile until 2019 or later. I don't know what Chrome's plans are to support this on Desktop - but I imagine your desktop users wil

[2016-12-02 06:29] marcoscaceres commented on #344
Agree. Let's take this out.

[2016-12-02 09:43] adrianhopebailie commented on #332
I disagree. Both contexts from origin A (the top-level and innermost contexts) can trigger payment requests but the other context (with origin B) cannot.

[2016-12-02 09:54] adrianhopebailie commented on #330
If I understand the argument for this correctly then I think it would be more appropriate for the payment method specific `details` from the response to be FormData only if the payment method is basic card.

i.e. We can spec this in the Basic Card Payment Method Spec

[code]

[2016-12-02 10:53] marcoscaceres commented on #330
@adrianhopebailie, can you help me understand why it doesn't apply to all types? Basically, I'm wondering why ".details" can be collapsed into `FormData`?

Look at the API:

[code]
All the attributes there can just be collapsed into FormData to the point where all you need is:

[code]

[2016-12-02 10:56] marcoscaceres commented on #330
@adrianhopebailie see also the [long form proposal](https://groups.google.com/a/chromium.org/d/msg/blink-dev/p1DYoxHlkKg/XvA2bnkFBQAJ).

[2016-12-02 14:23] bzbarsky commented on #332
The point is, it allows B to embed an A iframe and try to manipulate it in various ways (postMessage, URL structure, etc) to try to get it to trigger a payment request.  If the inner iframe is written defensively enough this may be ok, but if it's not, you end up with a problem.

[2016-12-02 20:27] zkoch commented on #311
This topic came up on the WG call this week, and I think there was some skepticism about trying to optimize for FP this early, especially given that we don't yet have clear, broad vendor support for it.

We've chatted more on the Chrome side, and we're okay keeping support for "allowpaymentrequest" as an attribute on the iFrame. Our preference would be that it has the same semantics as a feature p

[2016-12-02 23:01] sideshowbarker commented on #311
I can volunteer to handle it (though also happy if somebody else manages to get to it before me).

[2016-12-04 22:17] nickjshearer commented on #346
Isn't it simply intended to be passed back to the payment instrument?

[2016-12-05 03:20] ianbjacobs commented on #346
@nickjshearer wrote:

"Isn't it simply intended to be passed back to the payment instrument?"

Yes, except I would say "to the payment app" that handles that payment method. The payment app could be the browser or a third party payment app.

Ian

[2016-12-05 03:35] sideshowbarker opened #358 "Explicitly state any cases where an iframe with an allowpaymentrequest attribute is not allowed to make payment requests"
The spec currently states that when an `iframe` element has an `allowpaymentrequest` attribute:

But nowhere does the spec define any “others reasons” it would be “blocked” (from being allowed to making payment requests). I don’t know what the other cases might be, but if there are any other than the cases where the `iframe` has an ancestor `iframe` without an `allowpaymentrequest` attribute, then

[2016-12-05 05:59] sideshowbarker commented on #311
For adding `allowpaymentrequest` to HTML: https://github.com/whatwg/html/pull/2133

For updating Payment Request to reference HTML’s definition of `allowpaymentrequest`: https://github.com/w3c/browser-payment-api/pull/359

[2016-12-05 17:27] bzbarsky commented on #346
You can't pass an object to a third-party payment app.  See also https://github.com/w3c/browser-payment-api/issues/307

[2016-12-05 17:30] rsolomakhin commented on #346
We can run `JSON.stringify(data)` and pass the result to the third-party payment app.

[2016-12-05 18:01] bzbarsky commented on #346
OK, that's fine.  The spec then needs to:

1. Define exactly when JSON.stringify runs, because it can have observably side-effects.  Again, see https://github.com/w3c/browser-payment-api/issues/307

2. Define that the resulting string is passed somewhere, wherever that is.

[2016-12-05 18:04] adrianba commented on #330
It's fairly easy for a developer to construct a `FormData` object and fill it with whatever they want including taking data from a `PaymentResponse`. I've not personally heard feedback before that this is needed and I'm reluctant to make this change at this stage for what might be a small convenience for a few developers that can be handled with a JavaScript function.

[2016-12-06 04:20] sideshowbarker commented on #358
Superseded by https://github.com/w3c/browser-payment-api/pull/359

[2016-12-06 04:20] #358 closed, assigned to nobody

[2016-12-06 17:36] #344 closed, assigned to nobody

[2016-12-06 19:15] bzbarsky opened #360 "Need to define the interaction of payment API with navigation and browsing context destruction"
I don't see anything in the spec that describes what happens if any of the following happen while a payment request is in progress:

1. Navigation to a different happens in the browsing context which contains the document/window that the payment request was created in.
2. Navigation happens in some ancestor browsing context.
3. The browsing context which contains the document/window the payment re

[2016-12-06 20:46] zkoch commented on #307
We chatted about this on the editor call this morning. We'd be happy to merge in a PR that updated the spec to use json.stringify and propagate the exception. Could either @bzbarsky or @marcoscaceres take a stab at a PR for this?

[2016-12-06 23:30] bzbarsky commented on #307
Are we sure we want to take an object as input, not an existing JSON string?

If we are (e.g. if callers are expected to construct the object on the fly instead of producing it from JSON to start with), it would be good to sort out https://github.com/w3c/browser-payment-api/issues/346 and https://github.com/w3c/browser-payment-api/issues/338 too so the processing model is actually defined.  It's h

[2016-12-06 23:31] bzbarsky commented on #307
Are we sure we want to take an object as input, not an existing JSON string?

If we are (e.g. if callers are expected to construct the object on the fly instead of producing it from JSON to start with), it would be good to sort out https://github.com/w3c/browser-payment-api/issues/346 and https://github.com/w3c/browser-payment-api/issues/338 too so the processing model is actually defined.  It's h

[2016-12-07 01:31] #311 closed, assigned to nobody

[2016-12-07 01:31] #324 closed, assigned to adrianba

[2016-12-07 01:31] #332 closed, assigned to adrianba

[2016-12-07 01:44] bzbarsky opened #361 "Security hole in payment API when a constructor from a no longer active document is invoked"
Step 3.3 of the payment request constructor now says:

This seems wrong in the case when the constructor doesn't come from the active document.  In particular it seems to me that this allows the following attack:

1. Site A opens a new window and navigates it to a page on site B that has an iframe.
2. Site A navigates that iframe to a URL from site A.
3. Site A grabs the PaymentRequest constructor

[2016-12-07 01:48] bzbarsky opened #362 "There is no concept of "called from" some browsing context"
The PaymentRequest constructor steps, step 3, say:

but there is no concept of being "called from" some browsing context.

In any case, you probably don't care where it's called _from_.  What you care about is whether the current settings object in the constructor has a responsible browsing context that is a nested browsing context.

[2016-12-07 01:51] bzbarsky commented on #361
Or alternately B could window.open another window from B, then grab a reference to the constructor, from that window or one of its subframes, then navigate to A, then call the constructor.

What you may want to do is restrict this API to fully active documents only.  But even then, walking up the creator document chain (but only until you get to a document in a toplevel browsing context) makes mor

[2016-12-07 01:55] bzbarsky opened #363 ""allowed to use" check is incorrect"
PaymentRequest constructor, step 3.3, says:

So this will check whether the _parent_ document is allowed to use the feature.  Shouldn't we be checking whether _this_ document is allowed to use the feature?

[2016-12-07 04:17] sideshowbarker commented on #363
Yes. See https://github.com/w3c/browser-payment-api/pull/359#discussion_r90871814. #324 and #332 still need to be fixed—the entire paragraph quoted in the issue description here needs to be revisited/rewritten. It’s not implementable as currently specced.

[2016-12-07 04:35] sideshowbarker commented on #363
oofs, ignore what I said there—I didn’t realize til just now that the paragraph quoted in the issue description is new from the https://github.com/w3c/browser-payment-api/commit/056e9f4377ce23ecfff50d108c3767b638f6336b change intended to fix #324 and #332.

[2016-12-07 08:28] littledan commented on #307
To the extent that you use `JSON.stringify`, I hope you're specific to refer to "the original value of" it, to be clear that monkey-patching doesn't affect it. Or, if you do want overwriting the `stringify` property of the `JSON` object to have this effect, then being clear about that in the spec would be good as well. The cleanest way layering-wise to refer into the ECMAScript spec would be a sli

[2016-12-07 13:47] rsolomakhin commented on #307
Shipped in Chrome since September 2016.

[2016-12-07 14:00] rsolomakhin commented on #361
Can you submit a pull request with your suggestion, please? Also would be nice to have a test case for implementers.

[2016-12-07 17:19] bzbarsky commented on #307
And the thing that's shipped totally doesn't match what the spec is saying right now, which is the best part of the whole exercise, of course.

[2016-12-07 17:21] bzbarsky commented on #361
@rsolomakhin No, I cannot.  I have way too many other things on my plate to start editing this spec.  Even just taking the time to look for issues in it was a significant problem time-wise.  I expect the editors to actually do their job and address issues that are raised, instead of asking the issue filers to also take on fixing them.

[2016-12-07 17:22] rsolomakhin commented on #307
I'd like to think that the implementation follows the spirit of the spec. The spec language should be improved, of course. If the implementation is doing something horrible, I'm happy to change it.

[2016-12-07 17:34] bzbarsky commented on #307
The whole point of specs is to follow their _letter_, not just their spirit.  Otherwise, why bother with a spec?  And implementors who discover they can't follow the letter for some reason should raise corresponding spec issues.  Which means this issue should have been raised before Google shipped.  :(

[2016-12-07 17:45] littledan commented on #307
While the situation is not optimal, it seems like we have a concrete way to move forward here: continue with the reviews that Mozilla has kicked off, tighten up language and layering, and make web-compatible tweaks where it makes sense. This API gives a lot of value for users, and the Web has endured much worse, so I think we can get through this.

Has anyone from the Chrome side documented the wa

[2016-12-07 17:49] rsolomakhin commented on #307
We run the object through JSON.stringify() and propagate any exceptions.

[2016-12-08 03:10] marcoscaceres commented on #330
Absolutely, but that's kinda missing the point. We've spec'ed a crazy complex object hierarchy that could be collapsed down into a multi-map structure (FormData or the like). Additionally, the interface we've created has fairly limited serialization options (just JSON) and it's not very extensible.

This is not really about a small convenience. Consider the three main things the current API doesn'

[2016-12-08 04:09] zkoch commented on #330
Marcos, it seems as if you're getting caught up on the idea of "web sites currently use forms to collect credit cards, so we should optimize for that." This is what requestAutocomplete was, and we decided that was insufficient for our needs. Chrome was also the only browser to implement, even after a number of years.

A few quick answers to your questions:

Yep, and they will continue to have to f

[2016-12-08 04:43] marcoscaceres commented on #330
That's possible, yes 😸 Apologies, I don't meant to derail this too much.

Right now, I'm only interested in the most simple validation of the values returned by PaymentResponse (i.e., shipping address, credit card number, email, etc.). There is enough complexity just in that to keep us happy for a little while.

The above proprietary payment methods and associated tokens + related data will requir

[2016-12-08 11:30] zcorpan commented on #361
@rsolomakhin I can volunteer to work on test cases and pull request for this and related issues.

@bzbarsky would it not fail at step 5 for WebIDL security checks that we have in place in general? At least Gecko and Chromium throw for `alert` and `WebSocket`:

http://software.hixie.ch/utilities/js/live-dom-viewer/saved/4719
http://software.hixie.ch/utilities/js/live-dom-viewer/saved/4720

https://

[2016-12-08 18:22] bzbarsky commented on #361
The WebSocket testcase isn't quite right.  You want this one: http://software.hixie.ch/utilities/js/live-dom-viewer/?saved=4721

Note that that one does not throw in Chrome.  It does throw in Gecko, but a non-spec exception, because per websocket spec this situation should _not_ throw for websocket.  Maybe that's a flaw in the websocket spec; hard to tell.  I would think there is, because nothing

[2016-12-08 23:09] #363 closed, assigned to nobody

[2016-12-08 23:11] adrianba commented on #362
This is great feedback. Thank you. Even better would be to propose new language that you would approve. Then we can add it in instead of guessing.

Thanks for the review.

[2016-12-09 02:22] marcoscaceres commented on #330
So, it would be good to just add `.formData()` and `.json()` the PaymentResponse interface (and ditch the serializer). That would allow us to keep the current design, while addressing my concerns about this not being form data.

[2016-12-09 02:50] bzbarsky commented on #362
I did propose new language, no?  Again:

with the relevant links to https://html.spec.whatwg.org/multipage/webappapis.html#current-settings-object and https://html.spec.whatwg.org/multipage/webappapis.html#responsible-browsing-context and https://html.spec.whatwg.org/multipage/browsers.html#top-level-browsing-context

@domenic, @annevk we don't have a shorter way of saying this, do we?  Should we?

[2016-12-09 03:37] annevk commented on #362
Not sure, is it common?

[2016-12-09 03:55] bzbarsky commented on #362
I don't know.   The need to do it here will go away once feature policy exists, I expect...

[2016-12-09 15:38] rsolomakhin commented on #330
The serializer is a `.toJSON()` method, right? That's [automatically called](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#toJSON()_behavior) when developer writes `JSON.stringify(response)`. The `.json()` method would not be automatically called by `JSON.stringify(response)`. Can we stick with `.toJSON()` because of this?

[2016-12-09 22:17] adrianba commented on #362
Great, thanks. See #366.

[2016-12-09 22:34] #362 closed, assigned to nobody

[2016-12-10 00:29] bzbarsky commented on #362
Looks good, thank you!

[2016-12-12 18:40] ianbjacobs opened #367 "What is the mechanism for limiting repeated calls to canMakePayments ?"
At our 8 December call [1] we agreed to move forward with some form of canMakePayment and
resolved to separate out the issue of how to limit repeated calls to it.

Ian
[1] https://www.w3.org/2016/12/08-wpwg-minutes.html#item01

[2016-12-12 18:43] ianbjacobs commented on #310
Per discussion on 8 December, I have logged as separate (issue #367) on the mechanism for limiting repeated calls to canMakePayments:
 https://github.com/w3c/browser-payment-api/issues/367

Ian

[2016-12-13 16:31] domenic commented on #339
What task source would make sense here? User interaction task source, maybe? Although technically we're _aborting_ a user interaction; the user isn't actually doing the interaction...

[2016-12-13 16:52] domenic opened #371 "waitForUpdate is not defined"
I can't tell who is supposed to hold this. Is it one per document? One per PaymentRequest?

[2016-12-13 17:12] domenic commented on #349
This isn't taken care of automatically by Web IDL declaring the argument as `Promise<PaymentDetails>`? I guess it would be if we used https://heycam.github.io/webidl/#dfn-perform-steps-once-promise-is-settled instead of the promises guide ... although that itself doesn't account for coercion errors, I think. Hmm.

[2016-12-13 17:16] bzbarsky commented on #349
Not on its own, no.  You're right that using https://heycam.github.io/webidl/#dfn-perform-steps-once-promise-is-settled would be better; it would also address https://github.com/w3c/browser-payment-api/issues/348

That said, https://heycam.github.io/webidl/#dfn-perform-steps-once-promise-is-settled and https://www.w3.org/2001/tag/doc/promises-guide#shorthand-reacting have different behavior in ter

[2016-12-13 17:22] domenic commented on #349
I'll use promises guide for now. Using the per-instance `.then` and not handling errors seems bad; I don't think perform steps once a promise is settled is really up to snuff yet. Although we (I) do indeed need to add better promise primitives to Web IDL.

[2016-12-13 17:25] domenic commented on #350
If this returning a promise idea were desired, it'd be a slight breaking change, as all the synchronous error throwing would become rejected promise-returning.

[2016-12-13 17:26] domenic commented on #323
This is now fixed although other issues with the allowpaymentrequest integration remain. I suggest closing (I don't have permissions to do so).

[2016-12-13 17:31] domenic commented on #322
I dunno this is pretty widespread in web specs. E.g. just Ctrl+Fing for "character" in the multipage HTML page I had open in one tab landed me on https://html.spec.whatwg.org/multipage/webappapis.html#dom-atob . Maybe we should move away from this term in general. Especially given HTML's [confusing definition](https://html.spec.whatwg.org/multipage/infrastructure.html#character). But it's an under

[2016-12-13 17:39] bzbarsky commented on #322
Maybe we need to define what "character" means for a DOMString somewhere, then.  For ASCII cases it's not too bad.

[2016-12-13 17:40] sideshowbarker commented on #323
Closing per https://github.com/w3c/browser-payment-api/issues/323#issuecomment-266803866

[2016-12-13 17:40] #323 closed, assigned to nobody

[2016-12-13 18:04] domenic opened #373 "PaymentRequest constructor validation ordering does not match Blink at all"
Compare https://cs.chromium.org/chromium/src/third_party/WebKit/Source/modules/payments/PaymentRequest.cpp?sq=package:chromium&rcl=1481631594&l=378 with the current spec.

I will work to align the spec with Blink, since it's open-source and easy to read off. I guess technically some of these aren't testable since they all throw the same TypeError, but it'd be observable to users based on the messa

[2016-12-13 20:09] #353 closed, assigned to nobody

[2016-12-13 20:14] #341 closed, assigned to nobody

[2016-12-13 20:15] #336 closed, assigned to nobody

[2016-12-13 20:34] domenic commented on #345
Is this a bug in the description or a bug in updateWith? @zkoch, @adrianba?

[2016-12-13 20:35] domenic commented on #337
@zkoch @adrianba thoughts? Throwing seems a lot nicer than silently changing it.

[2016-12-13 20:37] domenic commented on #320
Splitting the dictionaries would have the normative change of making `error` passed to the constructor ignored, instead of causing an error to be thrown. Is that desired?

[2016-12-13 20:39] domenic commented on #302
This is also being discussed in #320, indirectly.

[2016-12-13 20:40] domenic commented on #307
I looked into fixing this and it's basically blocked on #346 and #338. That is, once I stringify the objects, what do we do with them? Just throw them away? Apparently they're passed on to the payment processor somehow, but that part of the spec is missing. I talked with @zkoch about what it should say roughly, so I can try a stab at it soon.

[2016-12-13 21:47] foolip commented on #320
That seems fine to me, having a dictionary member that does nothing except throw is present is a bit odd, so unless it's expected to be a common mistake just ignoring it probably works?

[2016-12-13 22:07] zkoch commented on #337
Is this referring to these particular steps:

If the shippingOptions sequence contains multiple PaymentShippingOption objects that have the same id, then set shippingOptions to the empty sequence.
If the shippingOptions sequence contains a PaymentShippingOption that has an amount.value that is not a valid decimal monetary value, then set shippingOptions to the empty sequence.
Copy shippingOptions

[2016-12-13 22:10] zkoch commented on #345
I think it's a bug in the updateWith text. Right now it says:

Perhaps it should say:

But then the question seems to become: what happens if details.shippingOptions is provided but requestShipping is not true. It seems like ignoring is best, but I guess throwing is more explicit. @adrianba ?

[2016-12-13 22:13] domenic commented on #337
No, it's referring to

[2016-12-13 22:17] zkoch commented on #337
Ahhh. This is what happens when I don't read the issue title closely enough. 😨

Throwing seems pretty serious for what is effectively a string in the UI.

[2016-12-13 22:19] domenic commented on #337
I mean, it seems better than displaying "shipping" when you meant "pickup" (but you mistyped it as "pick-up"). You can imagine some irate customers waiting for their package to ship for weeks, not knowing it's waiting at the store for pickup...

[2016-12-14 14:33] bzbarsky commented on #345
What would a typical JS library do with an options object like this?  I suspect ignore, not throw, but this isn't really my area of expertise...

[2016-12-14 17:35] domenic commented on #345
I agree a typical JS library would ignore. That appears to be what Blink does too, FWIW:

https://cs.chromium.org/chromium/src/third_party/WebKit/Source/modules/payments/PaymentRequest.cpp?sq=package:chromium&rcl=1481717748&l=399

I guess I'll add this to #372.

[2016-12-14 18:35] domenic opened #375 "Editorial: use new language for DOMExceptions"
E.g. `"InvalidStateError" DOMException` instead of just `InvalidStateError`. See https://github.com/heycam/webidl/pull/250 and the new prose at https://heycam.github.io/webidl/#dfn-create-exception

Related: #314

[2016-12-14 18:36] domenic opened #376 "Editorial: define and link to the different states"
That is, every time we mention a state like <i>interactive</i> it should link to a definition that describes it somewhere.

Also we could consider switching to strings for state names as that seems a bit more straightforward.

[2016-12-14 18:37] domenic opened #377 "Editorial: don't capitalize RFC 2119 terms"
It's really distracting

[2016-12-14 18:39] domenic opened #378 "Editorial: refer to methods with parentheses for clarity, and spell out their params in their definition"
E.g. instead of

say

and instead of

say

[2016-12-14 18:54] domenic opened #379 "Introductory explanations of methods should be non-normative notes"
Each method has a paragraph explaining what it does. Unfortunately it often contains normative terms like must/should/etc.. They should be rephrased to explain instead of dictate, and should be explicitly marked as non-normative notes. Maybe they should even be formatted in the "domintro" style used in various specs (e.g. HTML/DOM/IndexedDB/...)

[2016-12-14 20:09] domenic commented on #338
This link appears broken. Assuming it is meant to go to https://w3c.github.io/webpayments-methods-card/#basiccardrequest, @bzbarsky's point still stands. Nothing in the spec actually uses that dictionary. In https://github.com/w3c/browser-payment-api/pull/381 we're adding validation that the data is in the correct format, but we're still never using the data. So as far as I can tell it is conforma

[2016-12-14 20:13] domenic commented on #338
Also, it might be better to just do the dictionary conversion once, e.g. in the constructor, instead of doing it once in the constructor for validation, and then a second time as part of the "user accepts the payment request" algorithm. This is observably different; I wonder what Blink and Edge do.

[2016-12-14 20:13] domenic commented on #307
After working on https://github.com/w3c/webpayments-methods-card/issues/20 this is more confusing than ever. As far as I can tell the desired semantics for basic card are:

1. JSON-stringify then JSON-parse the data value just so that it throws exceptions
2. Then, ignore all that, and convert data to a dictionary
3. Presumably, at some point, the user agent uses the data in the dictionary (i.e. th

[2016-12-14 20:20] rsolomakhin commented on #307
@domenic, you probably know best about the appropriate places to specify serializability. Here's my understanding of why the spec was written like this:

Re: step 1, user agent should only JSON-stringify the data in order to pass it to the payment app. Here JSON-stringify is used as serialization for IPC. Payment apps are expected to be running in a different process, so all data destined for the

[2016-12-14 20:22] dlongley commented on #338
Or passes it to some algorithm defined in the Payment App spec. My understanding is that that's where the data is actually going -- to a selected Payment App. Only in the case of a Payment App that is "built-in" to the user agent will it do something different (but this difference could be abstracted away).

[2016-12-14 20:26] domenic commented on #307
I think I see. Hmm, so if it's in another process, we can't do synchronous validation of the data, right? So we can't throw an exception in the constructor. In that case the flow should be something more like:

- In the constructor, do JSON.stringify. Store the resulting string.
- When we invoke the "user accepts the payment request algorithm", send the string to the payment method (e.g. to basic

[2016-12-14 20:31] domenic commented on #338
Yeah, maybe; I'm new to all this and don't quite understand the distinction. I've only ever seen the basic-card spec and how I thought that integrates into the flow. Is there some kind of payment app spec for card processing that I should be looking at instead?

[2016-12-14 20:36] rsolomakhin commented on #307
This is right.

I think we get this for free. If the payment app is unable to handle a payment request, then it will be filtered out of possible payment methods. If no payment app is available to handle the payment request, then `.show()` is rejected with `NotSupportedError` exception. Do you think that works? If that works, should we write it down (either normatively or as a note)?

[2016-12-14 20:39] domenic commented on #307
We should definitely write something down normatively. I don't quite understand the envisioned flow here though. When would this filtering happen? How does it know it's unable to handle the payment request, until it parses and converts the object in the other process?

[2016-12-14 20:46] domenic commented on #307
Stated another way: I had assumed steps 8/9 of https://w3c.github.io/browser-payment-api/#show-method were about very course-grained "this user agent accepts basic-card or not". But are you saying there is also some kind of implicit fine-grained introspection of the data there too?

[2016-12-14 20:53] rsolomakhin commented on #338
I'm happy to provide more background information. :-)

Although Chrome's implementation of "basic-card" is based on Autofill data in Chrome, this is done via a "payment app" that we call "Autofill Payment App." It should behave as any 3rd party payment app that's being specified in [Payment App API](https://w3c.github.io/webpayments-payment-apps-api/) spec. Once that spec is finished and implement

[2016-12-14 20:56] dlongley commented on #338
@domenic,

You may find it helpful to look at the Web Payments Overview doc as well, in particular, the roles in the ecosystem:

https://www.w3.org/TR/webpayments-overview/#roles-in-the-ecosystem

[2016-12-14 20:57] dlongley commented on #338
The user agent primarily plays the role of the "Mediator".

[2016-12-14 21:02] domenic commented on #338
Hmm, OK, that makes sense! So I think the flow in terms of algorithms is that this spec should call into the payment method specs, which can then delegate to whatever payment app is currently registered to handle that payment method.

And I guess that, per the discussions in https://github.com/w3c/browser-payment-api/issues/307#issuecomment-267145043, the payment method spec is responsible for som

[2016-12-14 21:08] rsolomakhin commented on #307
The filtering happens in the `.show()` method.

User agent checks the intersection of all the payment methods that the merchant website specified in `new PaymentRequest(supportedMethods, shoppingCart, options)` constructor with all payment methods that the installed payment apps have declared to support. If the intersection is non-empty, user agent lets the user select one of the payment apps. If

[2016-12-14 21:09] domenic commented on #307
OK, thanks so much! I think I see how this can work then. I'll try a new couple of PRs and you can tell me what you think of the result.

[2016-12-14 21:10] dlongley commented on #338
Hmm, I don't think that quite fits with the architecture. The flow is like this, at a high level:

1. The merchant website invokes `show()` on a PaymentRequest and gets a Promise.
2. The user agent shows the user all of the Payment Apps that could be used to fulfill the PaymentRequest.
3. The user selects the Payment App they want to pay with.
4. The user agent sends the serialized data to the Pay

[2016-12-14 21:11] dlongley commented on #338
Note that this architecture is meant to support many different payment methods -- and the user agent may only ever support the simple "basic card" (or none at all). It is up to Payment Apps to implement payment methods. These payment methods may not use any Web IDL or do anything remotely browser related.

[2016-12-14 21:14] domenic commented on #338
This is the key step that is missing some detail. From what I understand from https://github.com/w3c/browser-payment-api/issues/307#issuecomment-267156994 , finding out what Payment Apps can be used to fulfill that payment request requires asking the payment method to do some preprocessing first. E.g. for basic card, trying to convert data (which at this point is a string) to a BasicCardRequest. O

[2016-12-14 21:23] rsolomakhin commented on #338
@domenic, I think payment methods specs are implemented by payment apps. In a sense, a payment method is an interface and the payment apps are implementations. So "asking the payment method to do some preprocessing" is equivalent to saying "asking the payment apps to do some processing." The way we achieve this is through JSON-serializing the method-specific data, passing that over IPC to the paym

[2016-12-14 21:26] domenic commented on #338
Hmm, OK. I guess that makes these things a little tricky to specify then. E.g. if it's the payment app that does the processing into a BasicCardRequest, and the payment app is a UA-specific thing (e.g. Chrome's "Autofill basic card payment app" you mentioned), then there's no specification that ever actually uses BasicCardRequest :(.

[2016-12-14 21:32] rsolomakhin commented on #338
Can we say something like this in "basic-card" spec?

It's a bit of a mind-bender. Sorry! :-(

[2016-12-14 21:33] domenic commented on #338
Yeah, I'll try to give it a shot!

[2016-12-14 23:55] #345 closed, assigned to nobody

[2016-12-14 23:55] #347 closed, assigned to nobody

[2016-12-14 23:55] #348 closed, assigned to nobody

[2016-12-14 23:55] #349 closed, assigned to nobody

[2016-12-14 23:58] #310 closed, assigned to nobody

[2016-12-15 01:15] ianbjacobs commented on #367
Please don't close this issue yet. We intentionally opened this as a separate issue to continue discussion of the mechanism for rate limiting.

[2016-12-15 11:37] delapuente commented on #338
This should be ideal and providing an example would be also an interesting addition. It took a bit for me, until I read the [integration guide with Android Pay](https://developers.google.com/web/fundamentals/discovery-and-monetization/payment-request/android-pay), to realise that `data` served a purpose.

Another issue related to this is the fact that the `data` member affects all the payment meth

[2016-12-15 13:59] rsolomakhin commented on #338
Some payment methods might have identical parameters in `data`, so sharing is useful there.

[2016-12-15 14:15] zcorpan commented on #361
Active document check:
https://github.com/whatwg/html/pull/2160

Always invoking "allowed to use":
https://github.com/w3c/browser-payment-api/pull/383

Tests:
https://github.com/w3c/web-platform-tests/pull/4309

[2016-12-15 14:18] zcorpan commented on #361
This should be done with my proposed changes.

Are you referring here to the model of snapshotting the attribute at document creation time? If not, I do not follow.

[2016-12-15 14:57] msporny commented on #291
Yes, but we're making a decision where we may never be able to standardize a good design at the top-level due to the way the PaymentRequest constructor is currently designed. I agree that we may not want to standardize the top-level yet, but we're specifically making a decision where we cannot easily standardize it at the top-level later on. If someone can produce a well designed strategy for stan

[2016-12-15 15:38] bzbarsky commented on #361
No, I'm referring to walking up through the node document of the iframe element you're nested through, as opposed to walking up to the parent browsing context and then trying to recover a document.  This part was addressed by switching to the HTML "allowed to use" concept, which already does this properly.

[2016-12-15 15:41] maheshkk opened #384 "PaymentApp fails to abort payment flow"
After invoking paymentRequest.show() if merchant decides to abort the payment and if user-agent has already invoked payment app, shouldn't user-agent attempt to abort proceeding?
-  Try to abort the payment flow with paymentApp
-  If paymentApp responded with payload by then, user agent ignores the payload because Merchant already said they don't want payload.

[2016-12-15 16:23] ianbjacobs commented on #384
Hi @maheshkk,

Is this fundamentally a third-party payment app question, or is this also a question for the browser-as-card-data-payment-app?

If this is fundamentally a third-party payment app, then I suggest we move this issue to:
 https://github.com/w3c/webpayments-payment-apps-api/issues

Ian

[2016-12-15 16:26] rsolomakhin commented on #384
This question spans both the `.abort()` algorithm in `PaymentRequest` spec and all the payment app specs.

[2016-12-15 16:43] delapuente commented on #338
I imagine that. Thank you for the clarification. Even so, we could provide an example.

[2016-12-15 16:46] zcorpan commented on #361
Ah, I see.

[2016-12-15 16:50] rsolomakhin commented on #338
Here's an example for a merchant that accepts only debit cards, regardless of whether they are passed in the raw via `'basic-card'` or encrypted via `'tokenized-card'`.

[code]

[2016-12-15 17:33] delapuente commented on #338
Really appreciated. Do you think it would be a good idea to add the example
to the spec?

On Thu, Dec 15, 2016 at 5:50 PM, Rouslan Solomakhin <
notifications@github.com> wrote:

[2016-12-15 19:45] rsolomakhin commented on #338
Could not hurt.

[2016-12-20 15:42] rsolomakhin commented on #360
The answer should be "abort all algorithms," IMHO. Does that sound OK? Specs usually don't speak about UI. So Chrome might chose to show a message "transaction cancelled due to navigation" in UI, but that should not be in the spec, so Firefox, for example, can do something different, if they want.

Whether the payment has been processed depends on when navigation or browser context destruction hap

[2016-12-20 19:23] bzbarsky commented on #360
What does that mean in practice?  Do the returned promises get rejected?  Remain pending forever?  If they get rejected, do they trigger their callbacks?

I expect this to be a significant source of non-interop especially if the payment request is triggered from an iframe that is then navigated or removed from the DOM, because browsers tend to disagree on what exactly gets torn down in those situa

[2016-12-20 20:58] rsolomakhin opened #385 "Serializer behavior"
Should `PaymentResponse` serializer return null, empty, or undefined `payerName` when `requestPayerName` was `false` in options?

[2016-12-20 21:07] marcoscaceres commented on #385
You need to check what WebIDL says about serialization of nullable attributes (as it pertains to the PaymentResponse). The serialized behaviour wont be tied to the request dictionary.

Im currently on my phone, so hard to look up. Hopefully the above helps. Let's us know tho, as I'm also interested to know what it will be 🙂

[2016-12-20 21:17] rsolomakhin commented on #385
My reading of the WebIDL spec points to "Use `null`" answer, but please double-check me.

[2016-12-22 12:49] adrianhopebailie commented on #291
I don't follow this logic. If the change that is required later is the addition of a new constructor parameter then that can be done easily without breaking the API. It will simply be added as an optional parameter.

[2016-12-22 21:00] RByers commented on #307
Note that one of the ways this could be a compat problem in practice is that (although it's obscure) some developers / libraries know to [use a pattern like this](https://github.com/heycam/webidl/issues/107) to feature-detect support for dictionary members.  From a quick skim I think this could be used today on Chrome to detect, for example, when some fields are being parsed and when they're not.

[2016-12-23 03:30] domenic commented on #385
I think the problem here is that the "user accepts the payment request algorithm" doesn't set any value at all for payerName if requestPayerName is not true. It should set it to null, probably. Or it could set it to the empty string. (undefined is not allowed by the DOMString? typing.) Right now it's not defined what it's set to.

Once that's done, Web IDL will take care of serializing things to w

[2016-12-23 03:31] domenic opened #386 "ReSpec error viewing the spec"
In addition to a number of bad cross-references (easy to fix), there's also a JS error that's stopping ReSpec from proceeding past a certain point; "TypeError: s is undefined". Hopefully @marcoscaceres can take a look.

[2016-12-23 03:46] marcoscaceres commented on #386
Looking...

[2016-12-23 04:11] marcoscaceres commented on #386
Fixed

[2016-12-23 04:11] #386 closed, assigned to marcoscaceres

[2016-12-23 06:05] marcoscaceres commented on #330
Talked to @zkoch about this proposal. In light of Edge's announcement, I'm postponing this to "V2" pending feedback from the developer community. If no one complains about lack of integration with HTML form validation in 1 year, then we can probably close this.

[2016-12-28 02:18] rvm4 opened #387 "Adding dialog close event"
We noticed that there is not a way to respond to the Payment Mediator UI being torn down. We have the .show() callback when the PaymentRequest is resolved, but the spec currently says this occurs as soon as the PaymentResponse is received.

I propose that we add an event for when the dialog closes, an "ondialogclose" event. Thoughts?

[2016-12-28 14:03] rsolomakhin commented on #387
Promises have a way to do this: rejecting a promise. Merchants handle promise rejection via `.catch(errorHandler)` call. Let's specify that user dismissal of the dialog should trigger rejection of the `.show()` promise with a "Request cancelled" message. For example:

[code]

[2016-12-28 19:58] rvm4 commented on #387
I don't mean a dismissal of the dialog, I mean the browser tearing it down in success. Basically, the dialog closing after the PaymentResponse is marked complete.

[2016-12-28 20:03] webpayments-specs commented on #387
That event is signalled to merchant by resolving the .complete("success")
promise. For example:

instrumentResponse
.complete("success")
.then(handleBrowserDialogHidden)
.catch(handleError);

--Rouslan

On Dec 28, 2016 2:59 PM, "rvm4" <notifications@github.com> wrote:

[2016-12-28 23:04] rvm4 commented on #387
Hmm, okay, good to know. Thanks for the clarification.

[2016-12-28 23:04] #387 closed, assigned to nobody

[2017-01-03 06:23] sanjoypal opened #388 "Providing/Generating paymentRequestID during construction"
The specification says that "If a paymentRequestID was not provided during construction, generate a paymentRequestID".

Specification is not clear about providing paymentRequestID while construction.
Constructor accepts PaymentMethodData, PaymentDetails and PaymentOptions.

Constructor(sequence<PaymentMethodData> methodData, PaymentDetails details, optional PaymentOptions options).

[2017-01-03 07:26] sanjoypal opened #389 "PaymentRequest does not handle the case of store pickup"
As specified in the spec, if requestShipping is true, then shippingType can be "shipping",  "delivery", or "pickup". But, in case of store pickup, shipping is not done by the merchant instead customer has to pickup from merchant store. How this scenario will be handled in PaymentRequest?

Example: Some restaurant gives some discount if ordered online, we can pickup the order if we are visiting the

[2017-01-03 13:54] rsolomakhin commented on #389
I don't think the API handles it well at this moment. The "pickup" keyword is for picking up goods from the customer address, not from the merchant. Should we add this new functionality to the API?

[2017-01-03 14:17] ianbjacobs commented on #389
I had understood that there was support for this within the WG and that the editors were poised to add a value to align with the behavior of the Apple API. See September discussion:
 https://www.w3.org/2016/09/19-wpwg-minutes#item06

Ian

[2017-01-03 14:24] rsolomakhin commented on #389
Looks like our "pickup" matches the "servicePickup" in Apple Pay JS [shippingType](https://developer.apple.com/reference/applepayjs/paymentrequest/1916128-shippingtype), but we don't have an equivalent for "storePickup." If we add "storePickup," how should it behave?

[2017-01-04 23:46] #333 closed, assigned to nobody

[2017-01-04 23:46] #334 closed, assigned to nobody

[2017-01-04 23:46] #335 closed, assigned to nobody

[2017-01-04 23:46] #373 closed, assigned to nobody

[2017-01-05 00:00] domenic commented on #321
This is now fixed and can be closed, through a combination of a couple PRs.

[2017-01-05 11:05] sideshowbarker commented on #321
Closing per https://github.com/w3c/browser-payment-api/issues/321#issuecomment-270523227

[2017-01-05 11:05] #321 closed, assigned to nobody

[2017-01-06 16:10] rsolomakhin opened #390 "Phone number format"
What format should we use for phone numbers for `payerPhone` and `PayerAddress.phone`? I propose E.164, which looks like this: `"+15555555555"`. (For UI, Chrome will probably use E.123, which shows that same phone number in more human-readable format of `"+1 (555) 555-5555"`.)

[2017-01-06 16:18] ianbjacobs commented on #390
I took a peek at HTML 5.1 [1] which has this note:

 "Unlike the URL and E-mail types, the Telephone type does not enforce a particular syntax. This is intentional; in practice, telephone number fields tend to be free-form fields, because there are a wide variety of valid phone numbers. Systems that need to enforce a particular format are encouraged to use the pattern attribute or the setCustomVal

[2017-01-06 18:08] nickjshearer commented on #390
+1 for E.164. I would much rather clearly define the format that will be returned. I don't think we need to define how it's displayed to the user in the UI, just how it's returned.

If we don't at least attempt to define some kind of structure then we risk merchants mishandling or rejecting otherwise valid information because they're not prepared to handle international dialing codes (or a lack th

[2017-01-09 04:06] marcoscaceres commented on #388
"generate" is also underfined.

[2017-01-09 13:45] ianbjacobs commented on #388
Hi @marcoscaceres,

My sense from previous discussions is that we did not want to require a specific format, but that some sort of UUID would make sense. Therefore, UUID could be cited but not required.

Would that answer your question, or do you have other requirements in mind (e.g., length limit, etc.)?

Ian

[2017-01-10 07:15] marcoscaceres commented on #390
The problem is that the user agent might already have this information in its auto-complete database as free-form - or may get it from another application (e.g., Contacts.app on the Mac)... then it's kinda hard to normalize that data into E.164 or whatever because we won't have it in the correct format to start with.

If anything, the UA SHOULD make an effort to return phone numbers in a standardi

[2017-01-10 07:40] marcoscaceres commented on #274
Closing, as the spec has fairly good examples now. We can add more common issues come up as people start using the various implementations.

[2017-01-10 07:40] #274 closed, assigned to halindrome, marcoscaceres

[2017-01-10 07:42] marcoscaceres commented on #388
Related discussion: https://github.com/w3c/browser-payment-api/issues/287

[2017-01-10 07:45] marcoscaceres commented on #388
For UAs, it would be interesting to know what Chrome and Edge currently set for this. There are always security considerations for these kinds of things, so a "RECOMMENDED"/"SHOULD" for the ID type might be in oder.

[2017-01-10 08:08] marcoscaceres commented on #385
I'm going to set it to null, if you don't get anything back. The user may also opt to not provide this information, even if the site requests it.

[2017-01-10 10:58] tommythorsen opened #393 "Internal slots vs. attributes"
I've been wondering for some time: Why are the `methodData`, `details` and `options` properties of the `PaymentRequest` interface defined as "internal slots" and not attributes? It's not that it doesn't work, or that there's any problem with having them as internal slots, I just found it weird. Is there a good reason for declaring these properties in this way?

If there is no good reason at all, t

[2017-01-10 13:56] ianbjacobs commented on #388
@marcoscaceres,

+1 to hearing what the UA developers have done or are thinking of. I apologize; I cannot recall (or find minuted) the version of UUID that people were suggesting as "recommended". Perhaps someone else can.

Ian

[2017-01-10 14:49] #385 closed, assigned to marcoscaceres

[2017-01-10 15:04] nickjshearer commented on #390
I would be happy with that.

[2017-01-10 15:10] rsolomakhin commented on #390
`SHOULD` is OK with me.

[2017-01-10 15:13] rsolomakhin commented on #388
We currently don't have this implemented, as it was a late addition to the spec. Once it's implemented it should probably be a GUID, like `4c967042-5045-40d9-b4a6-1dfa1c1f8646`. Is there a standard to which we can point for this?

[2017-01-11 23:20] #338 closed, assigned to nobody

[2017-01-11 23:20] #354 closed, assigned to nobody

[2017-01-11 23:21] domenic commented on #307
Oh, oops, this should not have been auto-closed as the term is still used for PaymentDetailsModifier. I accidentally said "does not completely fix #307" which triggered GitHub's heuristics. If someone could reopen that would be great :).

[2017-01-11 23:27] #361 closed, assigned to nobody

[2017-01-11 23:32] domenic commented on #393
The idea is that they are not accessible via JavaScript. (Web IDL only specifies things that are accessible to JavaScript as part of the public API.)

Maybe you were asking for a feature request of exposing those things to JavaScript, which is a separate issue; I don't know why they aren't exposed. But given the desire to not expose them, the spec formalism here is correct.

[2017-01-11 23:34] zkoch commented on #307
Sorry, my fault! :)

[2017-01-12 09:07] tommythorsen commented on #393
Yes, my question is: why are these properties not exposed to javascript as attributes? I see no good reason that they need to be hidden, and I think `PaymentRequest` would look a little bit better with these as attributes.

[2017-01-14 05:00] domenic opened #394 "[WebIDL] reference is wrong"
https://w3c.github.io/browser-payment-api/#normative-references somehow despite using the reference string [WEBIDL-2] it is still linking to Web IDL Level 1. In addition to depending on the many bugfixes in the Web IDL master draft, this spec uses features only present there, such as [SecureContext].

[2017-01-14 05:10] domenic commented on #346
Can someone (@rsolomakhin?) help me understand exactly in which steps the data is passed to the payment app? For example, we determined that the methodData (parsed into [[parsedMethodData]]) is passed to the payment app in canMakePayment and in show. Is the idea that the payment apps should receive not only the method data, but also the payment details modifier data, at both of those points?

[2017-01-15 22:51] marcoscaceres commented on #394
Yeah, noticed that also. I think we need to fix that over on Specref or see if there is some alternative ID for WebIDL pointing to the correct spec.

[2017-01-16 00:29] marcoscaceres commented on #393
@tommythorsen, exposing the internal state might be good, but we should consider them on a case-by-case basis (in terms of developer value). Specifically, if the internal slots just hold the values that were passed as arguments to the PaymentRequest constructor, then developers can just get at those (original) references: they passed them in, so they know what they are.

[code]

Also, given that w

[2017-01-16 00:39] marcoscaceres commented on #394
Ok, did a little digging.... WebIDL-2 is just an alias for W3C WebIDL Rec. For some reason, WebIDL (latest) is not auto-published yet.

@tobie or @heycam, can we please get WebIDL auto-published at:

https://www.w3.org/TR/WebIDL/

It currently redirects to WebIDL-1, which is problematic.

[2017-01-16 00:53] tobie commented on #394
See https://github.com/heycam/webidl/pull/221.

[2017-01-16 00:56] tobie commented on #394
Oops, sorry I thought auto-deploy was also on this PR.

[2017-01-16 01:02] domenic commented on #394
It seems like fixing WebIDL-2 to point to the right URL would be better than changing WebIDL to deploy to TR.

[2017-01-16 01:04] marcoscaceres commented on #394
@domenic, ok, but we need agreement on what the "right URL" is... for you an I, it's obviously going to be: https://heycam.github.io/webidl/

But that might not fly with others.

[2017-01-16 01:06] tobie commented on #394
Well, there's always [WebIDL-1] if you want anything more specific.

[2017-01-16 01:07] domenic commented on #394
@marcoscaceres the fact remains that only https://heycam.github.io/webidl/ has the Web IDL defined in this specification, so that's what this specification should reference, one way or another.

[2017-01-16 01:08] marcoscaceres commented on #394
@tobie no, that one is obsolete.

@domenic agree. I'll send a PR to specref and then we can change it to point to w3c once auto-pub is in place.

[2017-01-16 07:35] marcoscaceres commented on #394
Sent: https://github.com/tobie/specref/pull/324

[2017-01-16 13:41] marcoscaceres commented on #394
WebIDL-2 now points to the right place.

[2017-01-16 13:41] #394 closed, assigned to nobody

[2017-01-16 16:27] rsolomakhin commented on #346
Both `.canMakePayment()` and `.show()` should be sending the method-specific `data` to the payment app, because that can include some important filtering information. For example, `data` for `"basic-card"` payment method includes `supportedNetworks`. If merchant specifies `supportedNetworks: ["jcb"]`, but the only installed payment app is not aware of JCB, then `.canMakePayment()` should resolve w

[2017-01-17 04:30] marcoscaceres commented on #393
Closing this for now, @tommythorsen - please reopen if you would like to discuss further or have compelling use cases.

[2017-01-17 04:30] #393 closed, assigned to nobody

[2017-01-18 08:28] marcoscaceres commented on #378
I can definitely do 1 as I just added support for that in ReSpec. I might be able to do 2 with some "data-lt=" magic.

[2017-01-18 08:31] marcoscaceres commented on #377
Should fix this in ReSpec... at least make it a flag ⛳️

[2017-01-18 13:47] marcoscaceres commented on #314
Closing as dup of #397, which I sent a PR for

[2017-01-18 13:47] #314 closed, assigned to nobody

[2017-01-18 23:19] marcoscaceres opened #399 "Drop redundant reference to secure context + other redefinitions"
The spec now relies on HTML's "allowed to use" to generate the "SecurityError" DOMException, so the current wording in the spec is a bit misleading, because it makes mention of secure contexts.

I suggest we drop:

 * [x] the reference to Secure Context,
 * [x] the note that defines what [SecureContext] is (dup definitions always end in sadness - we shouldn't redefine things from WebIDL).
 * [x] t

[2017-01-18 23:20] domenic commented on #399
I agree with all of these suggestions; they were things I was already scratching my head about.

[2017-01-18 23:24] #375 closed, assigned to marcoscaceres

[2017-01-18 23:29] marcoscaceres opened #400 "Editorial: Add missing xrefs to various specs"
The spec currently relies on, but does not link to, terms in other specs (e.g., "queue a task"). We need to link those... To do list:

 * [x] DOM4
 * [x] HTML
 * [x] ECMA-262
 * [x] Writing Promise-Using Specifications
 * [x] Web IDL

[2017-01-18 23:35] domenic opened #401 "firing an event is not done correctly"
E.g.

should be

Note that this requires referencing the DOM Standard, which defines fire an event correctly, instead of DOM4, which does not allow using non-`Event` interfaces, or DOM 4.1, which does not define it at all.

[2017-01-19 01:16] domenic commented on #377
The source text also contains a lot of capitalized MUSTs that would probably have to go away. Or maybe you were thinking of ReSpec de-capitalizing?

[2017-01-19 01:17] domenic commented on #371
This still remains mysterious. @adrianba @rsolomakhin any ideas what [[waitForUpdate]] is about?

[2017-01-19 01:26] #378 closed, assigned to nobody

[2017-01-19 01:26] #390 closed, assigned to nobody

[2017-01-19 01:37] dlongley commented on #371
@domenic,

`[[waitForUpdate]]` is an internal slot in `PaymentRequestUpdateEvent`. I believe it gets flipped when someone calls `updateWith` from within an event handler so that:

1. An invalid state exception will be thrown if `updateWith` is called more than once.
2. As a guard that will prevent event handling from completing until unset again.

https://github.com/domenic/browser-payment-api/blo

[2017-01-19 01:52] marcoscaceres commented on #377
ReSpec marks them up, so I can CSS `text-transform` them. The key thing is to keep them marked up, but we can style them however we want. However, we do want them in the source capitalized, because it's proved useful in the past to extract conformance requirements for testing and conformance-checking purposes.

[2017-01-19 15:15] rsolomakhin opened #402 "`PaymentInstrument.complete(result)` wording"
The spec says:

This phrasing is confusing, because user is not interacting with the webpage before `PaymentInstrument.complete(result)` is called. The user agent would normally block user interaction with a "Processing transaction..." message before this call. Therefore, the phrasing should be changed to:

[2017-01-20 06:23] marcoscaceres opened #403 "canMakePayment() might be in the wrong place?"
If it's not too late, I'm wondering if we can move `canMakePayment()` to be a static on the `PaymentRequest` interface? The idea would be that a site can query payment methods like so:

[code]

It means that we don't need to spin up a `PaymentRequest` instance to do the check.

[2017-01-20 06:24] marcoscaceres commented on #403
I mean "canMakePayment"... fixing above...

[2017-01-20 14:49] rsolomakhin commented on #403
I would prefer that we keep that API as-is. I view spinning up an instance of `PaymentRequest` as an advantage, not a detriment, because this warmed up instance of `PaymentRequest` will be able to respond to `.show()` call much faster, now that it has queried the installed payment apps.

By the way, Chrome [has shipped](https://www.chromestatus.com/feature/5702608073261056) `.canMakePayment()` in

[2017-01-20 15:09] #403 closed, assigned to nobody

[2017-01-20 15:09] marcoscaceres commented on #403
Ok, np. Wanted to check as I wasn't sure about it shipping.

[2017-01-20 16:18] domenic commented on #403
Also the algorithm requires passing along the parsed method data; see step 6.

[2017-01-20 23:41] domenic commented on #337
Can we get a decision on this, one way or the other? I think using an enum and following the usual platform enum rules makes more sense than creating a bespoke behavior here because we're afraid of being too serious. But it doesn't really matter much, we should just make a decision so we can close the issue.

If we decide against using an enum we should add a note to the spec saying that this is a

[2017-01-20 23:44] domenic commented on #371
Yes, that's very helpful; thank you!

[2017-01-21 00:10] domenic commented on #360
OK, most of the easy stuff has been fixed or PRed; now time to tackle this one.

First, what are the concrete, web-observable cases we're concerned with here, where one of the things Boris listed could happen? My enumeration is as follows, but please check it:

- (A) A payment request is being shown. The user has not accepted the payment request. Suddenly, things happen.
- (B) A payment request ha

[2017-01-21 02:21] ianbjacobs commented on #337
Is this a topic that deserves attention on a WG call?

Ian

[2017-01-23 05:01] #339 closed, assigned to nobody

[2017-01-23 05:01] #340 closed, assigned to nobody

[2017-01-23 05:01] #351 closed, assigned to nobody

[2017-01-23 05:13] #371 closed, assigned to nobody

[2017-01-23 13:52] rsolomakhin opened #408 "Is 'currencySystem' required?"
[The spec says](https://w3c.github.io/browser-payment-api/#paymentcurrencyamount-dictionary):

However, the WebIDL for `currencySystem` does not have the `required` keyword. Let's change the phrasing of the spec to make it clear that `currencySystem` is optional. The developer could, for example, not specify it, or specify `currencySystem: null` or `currencySystem: undefined`, correct?

[2017-01-23 14:00] tommythorsen commented on #408
I vote for just erasing the string `The following fields are required:` from [Section 5](https://w3c.github.io/browser-payment-api/#paymentcurrencyamount-dictionary) of the specification. While we're at it, I would erase such strings from [Section 10](https://w3c.github.io/browser-payment-api/#paymentitem-dictionary) and [Section 12](https://w3c.github.io/browser-payment-api/#paymentshippingoption

[2017-01-23 14:03] ianbjacobs commented on #408
As long as the WebIDL is normative, that seems fine. The section on conformance seems to confirm this:
 "As well as sections marked as non-normative, all authoring guidelines, diagrams, examples, and notes in this specification are non-normative. Everything else in this specification is normative. "

Ian

[2017-01-23 14:06] romandev commented on #408
It might be correct. Because it's not nullable and it has default value. So, the value is always set as something. So, we can say the value is always required. (But we can change the string clearer.)

Also, according to IDL spec[1], the currency system (non-nullable DOMString) will be resolved as follows:
currencySystem: null -> "null"
currencySystem: undefined -> "urn:iso:std:iso:4217" (default v

[2017-01-24 21:55] zkoch commented on #402
I agree this is probably closer to the intended meaning.

[2017-01-25 23:08] #307 closed, assigned to zkoch

[2017-01-25 23:08] #346 closed, assigned to nobody

[2017-01-30 04:02] marcoscaceres commented on #388
[RFC 4122](https://tools.ietf.org/html/rfc4122)

[2017-01-30 09:21] #342 closed, assigned to nobody

[2017-01-30 09:25] marcoscaceres commented on #408
I agree with @tommythorsen - we should not replicate what is in the IDL.

[2017-02-06 03:24] marcoscaceres opened #410 "Introduction is aspirational, but misleading"
The spec reads:

This implicitly suggests that proprietary, centralized, OS-privided payment methods provide a payment experience superior to what can by provided by the Web (maybe true, maybe not) - but a proprietary payment application can definitely create a bad user experience. Additionally, this goes counter to the goals of the "Payment-Request hander API" (aka "payment apps") - where the che

[2017-02-06 03:35] marcoscaceres commented on #410
Same with the assertion in the into that:

Which I also suggest dropping.

[2017-02-07 17:46] rvm4 opened #412 "PaymentRequestID initialization"
I (a colleague) realized that in a previous PR I introduce the paymentRequestID field on PaymentRequest without any way to actually set this value. I would like to take this value in as the first parameter to the constructor of PaymentRequest since none of PaymentMethodData, PaymentDetails and PaymentOptions makes much sense for holding this value.

Thoughts?

[2017-02-07 18:26] rsolomakhin commented on #412
As long as it's optional :+1:

[2017-02-07 18:28] rvm4 commented on #412
Great, I'll PR it.

[2017-02-08 23:17] #410 closed, assigned to nobody

[2017-02-08 23:33] marcoscaceres commented on #350
@domenic, given that it returns void right now, would it be that harmful to start returning a promise?

[2017-02-08 23:34] domenic commented on #350
I don't think so, but who knows, maybe people are try-catching the errors it produces.

[2017-02-08 23:55] domenic opened #414 "paymentRequestID is spelled wrong :("
Per https://w3ctag.github.io/design-principles/#casing-rules it should be "paymentRequestId" (lowercase).

I assume this is too late to change now, unless paymentRequestID/d is one of the things that are in the spec but nobody has shipped yet? If it is indeed too late, we should add a note to the spec saying essentially "sorry for creating an API inconsistent with the rest of the platform".

[2017-02-08 23:57] domenic opened #415 "It is never stated how the payment request ID is used"
It appears that it's meant to be (a) set during construction, see #413, then (b) PaymentResponse is supposed to set its paymentRequestID to the same value of the PaymentRequest that generated it.

This latter part (b) never happens in the spec, so it is spec-complaint right now for paymentResponse.paymentRequestID to return anything at all.

"user accepts the payment request algorithm" needs to ha

[2017-02-09 00:08] marcoscaceres commented on #414
It doesn't look like it's in Chrome 🎉. Is it in Edge?

[2017-02-09 00:12] marcoscaceres commented on #414
Here is Chrome Canary (Version 58.0.3005.2):
![screenshot 2017-02-09 11 07 33](https://cloud.githubusercontent.com/assets/870154/22763332/32c65824-eeb8-11e6-91e4-7fa43ec203bc.png)

[2017-02-09 00:12] marcoscaceres commented on #414
(definitely ok for us to change on the Gecko side, obviously)

[2017-02-09 00:22] marcoscaceres commented on #414
I've pinged Molly from Microsoft to confirm if it's ok to change.

[2017-02-09 19:18] zkoch commented on #337
Chatted with Domenic about this. Decided throwing is best for clarity and future use cases.

[2017-02-10 01:13] marcoscaceres commented on #414
Got an ok from Microsoft to change this. They've not shipped it either.

[2017-02-10 01:27] #337 closed, assigned to nobody

[2017-02-15 23:38] #414 closed, assigned to nobody

[2017-02-15 23:43] #352 closed, assigned to nobody

[2017-02-16 04:21] marcoscaceres commented on #298
Having reviewed the spec in detail, and given the behavior of #418, I'm happy to close this issue.

[2017-02-16 04:21] #298 closed, assigned to nobody

[2017-02-16 04:41] marcoscaceres commented on #326
Marked as won't fix.

[2017-02-16 04:41] #326 closed, assigned to nobody

[2017-02-20 00:47] marcoscaceres commented on #299
Closing this, as the API shipped and it's too late to change this.

[2017-02-20 06:29] #289 closed, assigned to nobody

[2017-02-20 06:31] marcoscaceres commented on #301
This is blocked on whatwg/html#2104

[2017-02-20 06:42] marcoscaceres opened #424 "Spec talks about dictionary fields instead of dictionary members"
Should be changed and linked to dictionary members.

[2017-02-20 07:36] marcoscaceres commented on #322
Blocked on https://github.com/heycam/webidl/issues/312

[2017-02-20 07:40] marcoscaceres commented on #275
I don't think we can change the behavior of the spec in the manner you are proposing.

@halindrome, can we close this?

[2017-02-20 09:50] adrianhopebailie commented on #299
I have a problem with that given that we are operating within the WG on the assumption that anything can still change with good enough reasons. If this is an issue that Mozilla still wishes to push at the WG meeting next month then keep it open and let's do that.

[2017-02-20 09:55] tommythorsen commented on #299
@adrianhopebailie

I agree with Adrian. This specification is still under development, and any early implementers should be fully aware that it may change in incompatible ways. Any shipped implementation of this should be clearly marked as experimental. We should absolutely not let concerns about breaking existing implementations keep us from making the best specification we can.

[2017-02-20 10:44] zcorpan commented on #299
It's only shipped (enabled by default) in Chrome for Android so far, right? I think it is still reasonable to make incompatible changes, assuming the relevant implementors agree with making the change.

[2017-02-20 15:03] msporny commented on #299
+1 to not closing this specific issue.

In addition, and more generally, we should not use "the API shipped" as a reason to not pursue important changes to any of the pre-PR specifications that this group is working on.

[2017-02-20 15:48] marcoscaceres commented on #299
The situation is that this API is pretty stable (basically 2 implementations and 3rd on the way), so implementers are reluctant to change stuff without a really strong reason - or in a manner that is now backwards compatible.

There is not a strong reason to make the change I originally requested here (apart from architectural purity).

Thus, this should be closed.

[2017-02-20 17:49] dlongley commented on #299
If that is the reason for closing then it seems fine to me. I think the issue people had above was that the reason for closing should not be "the API shipped" at this point in the spec's development -- with which I agree.

[2017-02-20 19:53] ianbjacobs commented on #299
Given that the person who raised the issue is proposing to close it, +1 to closing it.
Ian

[2017-02-21 00:02] #299 closed, assigned to nobody

[2017-02-21 09:10] marcoscaceres commented on #377
Fixed in ReSpec. Kept RFC2119 keywords red(ish) tho... incremental improvements and all that... can progressively turn them to black over the next year ;)

[2017-02-21 09:10] #377 closed, assigned to nobody

[2017-02-22 08:10] #400 closed, assigned to marcoscaceres

[2017-02-22 23:56] marcoscaceres opened #427 "Group payment dictionaries into a section"
It might be nice to nest the three payment dictionaries sections under a single section (e.g. "Payment details dictionaries")

[2017-02-22 23:58] marcoscaceres commented on #427
Blocked on #425

[2017-02-23 02:23] marcoscaceres opened #428 ""Shown" should be "presented" in prose"
Although we have `.show()`, the modality of the presentation of the payment request depends on the user's preferences and abilities. That is, a visually impaired user might hear the request for payment - instead of seeing it. Thus, we should really say "presented" where we say "shown".

[2017-02-23 03:24] #376 closed, assigned to nobody

[2017-02-23 05:09] marcoscaceres commented on #275
Closing, @halindrome please reopen if you disagree or want to propose an alternative.

[2017-02-23 05:09] #275 closed, assigned to halindrome

[2017-02-23 05:15] marcoscaceres commented on #327
I [emailed public-i18n-core](https://lists.w3.org/Archives/Public/public-i18n-core/2017JanMar/0062.html) regarding this issue.

[2017-02-23 05:15] marcoscaceres commented on #327
Blocked on i18n WG feedback.

[2017-02-23 05:21] marcoscaceres commented on #343
Closing as duplicate of #305.

[2017-02-23 05:21] #343 closed, assigned to nobody

[2017-02-23 05:31] marcoscaceres commented on #367
The spec says:

@ianbjacobs, is that sufficient? can we close?

[2017-02-23 05:33] marcoscaceres commented on #384
@zkoch, thoughts?

[2017-02-23 05:37] marcoscaceres commented on #389
@zkoch, any thoughts here? Seems like a reasonable addition.

[2017-02-23 05:48] agektmr opened #434 "`country` vs `sortingCode`"
According to [the spec](https://w3c.github.io/browser-payment-api/#paymentaddress-interface):
**country**: This is the [CLDR] (Common Locale Data Repository) region code. For example, US, GB, CN, or JP.
**sortingCode**: This is the sorting code as used in, for example, France.

These look counterintuitive for me. Also, it's not super clear what `sortingCode` is. In Chrome, I only get blank  "".
Sh

[2017-02-23 06:04] ianbjacobs commented on #367
Yes, ok to close. I believe we had consensus to let browsers try different approaches.

[2017-02-23 06:06] marcoscaceres commented on #434
Would really like the i18n WG to take a look at all this 😬

[2017-02-23 06:28] #367 closed, assigned to ianbjacobs

[2017-02-23 06:39] marcoscaceres opened #436 "Initial values for internal slots"
The spec says:

[code]

For things like the above, might be better for the above just to have initial values for internal slots.

It's also a bit odd to declare something related to the constructor outside of an algorithm.

[2017-02-23 06:42] marcoscaceres opened #437 "Web page and developer"
The spec sometimes talks about developers and sometimes about web pages (which are implying the developer). Should just talk about [developers... developers... developers](https://www.youtube.com/watch?v=KMU0tzLwhbE).

[2017-02-23 06:55] marcoscaceres commented on #331
Closing, as there is nothing actionable here.

[2017-02-23 06:55] #331 closed, assigned to nobody

[2017-02-23 07:06] marcoscaceres opened #439 "RFC2119 keywords in informative sections"
The Privacy Considerations section contains RFC2119 keywords, but the section is marked as informative.

[2017-02-23 07:08] marcoscaceres opened #440 "Authors are not conformance classes"
The spec says:

[code]

This needs to be converted to a note.

See also #437.

[2017-02-23 07:09] marcoscaceres opened #441 "markup issues"
Still a lot of `<code>` that should be converted to `<a>`s and linked properly.

[2017-02-23 14:39] rsolomakhin commented on #434
1. PaymentRequest's **sortingCode**:

Sorting code is also known as CEDEX. See [Wikipedia entry](https://en.wikipedia.org/wiki/Postal_codes_in_France#CEDEX) for some background.

The **sortingCode** field would be non-blank only for countries that support it. Try an address in France, for example. The address editor UI in Chrome will show the sorting code field in that case.

2. PaymentRequest's *

[2017-02-23 19:12] #399 closed, assigned to marcoscaceres

[2017-02-24 01:35] #408 closed, assigned to marcoscaceres

[2017-02-24 05:34] agektmr commented on #434
Thanks @rsolomakhin for clarification. As long as this is not a typo / mistake, I'm fine.

[2017-02-24 05:34] #434 closed, assigned to nobody

[2017-02-24 13:56] cyberphone commented on #291
I'm sure people can debate to death how Merchant signatures should be introduced and formatted.  However, a bigger problem is how you create _scalable trust infrastructures_, because without such, Merchant signatures are merely "decoration" :-)

[2017-02-27 06:10] #401 closed, assigned to marcoscaceres

[2017-02-27 07:52] marcoscaceres opened #442 "PaymentResponse attributes should be separate sections"
The attribute should be in separate sections so they show up in the ToC.

[2017-02-27 11:10] aphillips commented on #327
Thanks for the comment and email to our list. The I18N WG has scheduled discussing this in our next teleconference (2017-03-02). Generally speaking, we do look for `dir` and `lang` attributes to accompany any natural language text values, since these metadata values are frequently necessary to produce proper display, selection, and processing of text values. Transmission in non-markup (i.e. not in

[2017-02-28 06:57] marcoscaceres commented on #330
I'm closing and will reopen it if need be in the future (based on developer feedback). There is nothing actionable here.

[2017-02-28 06:57] #330 closed, assigned to nobody

[2017-02-28 12:48] sideshowbarker opened #444 "Fix markup errors that broke autopublishing"
See https://lists.w3.org/Archives/Public/public-tr-notifications/2017Feb/0168.html

Autopublishing of the spec is currently broken due to a large number of duplicate IDs and some malformed URLs and other markup errors in the source of the spec.

[2017-02-28 13:50] marcoscaceres commented on #444
Looks like the bad ids are being generated by ReSpec (I swear, if I ever meet whomever maintains that...👊).

Will fix.

[2017-02-28 14:15] ianbjacobs commented on #444
...please thank him first, before rearranging his face.

Ian

[2017-02-28 17:45] adrianhopebailie opened #446 "Addition of flag on PaymentMethodData to indicate that line items should be shared with apps"
The Payment Apps Task Force has proposed the following solution to addressing concerns about sharing line items from the request with the payment app: https://github.com/w3c/webpayments-payment-apps-api/issues/91#issuecomment-283111711

This would impact the Payment Request API so adding it here too to track it.

[2017-03-01 08:41] marcoscaceres commented on #444
No promises. Filed ReSpec issue https://github.com/w3c/respec/issues/1119

[2017-03-01 08:43] marcoscaceres commented on #444
Filed https://github.com/w3c/respec/issues/1120 for the malformed fragments.

[2017-03-01 11:01] marcoscaceres commented on #444
Fixed the duplicate IDs.

@sideshowbarker, is there a URL that I can POST to at validator.w3.org? Something that will give me back JSON that I can machine process?

[2017-03-01 11:32] sideshowbarker commented on #444
https://validator.w3.org/nu/?doc=https://w3c.github.io/browser-payment-api/&out=json

[2017-03-01 11:53] marcoscaceres commented on #444
I'll poke around /nu/, as I need to post from localhost when running the tests.

[2017-03-02 07:52] #428 closed, assigned to marcoscaceres

[2017-03-02 07:52] #424 closed, assigned to marcoscaceres

[2017-03-02 08:01] #402 closed, assigned to marcoscaceres

[2017-03-02 08:05] zkoch commented on #389
The reason we left this out is that it's unclear how shippingOptions should be treated. One answer is that the shippingOptions array becomes a set of possible pickup locations. But for major merchants, this can be a really, really long list and there's no reasonable way for the merchant to filter them since we don't have a way to pass back the users current zip code for example. We could also say

[2017-03-02 08:08] zkoch commented on #384
My concern is that this is almost impossible to implement or guarantee in practice, especially when considering push payment scenarios. For example, if the user is inside of iDeal pushing money to the merchant bank account inside of the native iDeal app on Android, how do we abort that? I think technically this is difficult, but even more difficult is trying to figure out what should happen, espec

[2017-03-03 06:17] cyberphone opened #447 "API assumes Issuer communication is OOB"
The current Web Payment API does the (implicit) assumption that interactions with the issuer is performed OOB.  However, the Saturn payment authorization scheme uses a "conversational" mode where all "Wallet" communication goes through the Merchant.  It is therefore incompatible with the Web Payment API.  It might be worth knowing at least.

https://cyberphone.github.io/doc/saturn/bank2bank-paymen

[2017-03-03 07:11] marcoscaceres commented on #447
OOB?

[2017-03-03 07:30] bentian commented on #447
I think OOB=[Out-of-band](https://en.wikipedia.org/wiki/Out-of-band).

[2017-03-03 07:54] cyberphone commented on #447
OOB like in step 3 of:
http://w3c.github.io/webpayments-methods-credit-transfer-direct-debit/

[2017-03-03 07:55] marcoscaceres commented on #447
Ah, thanks!

[2017-03-03 13:56] ianbjacobs commented on #447
Nothing prevents a payment app from communicating with other parties. That is neither required nor forbidden by this API. Payment service providers can communicate through multiple paths.

I am closing this issue. If there is a more specific issue with the specification we can revisit it.

[2017-03-03 13:56] #447 closed, assigned to nobody

[2017-03-03 14:46] cyberphone commented on #447
What I said (or meant at least), is that the API (particularly when used with native Apps), requires OOB calls for anything outside of the core API.  Putting it another way: The API fits card-emulating Apps like Android Pay but may turn out to be less useful for more advanced schemes, designed from scratch (including Saturn).

OOB means that the invoking Web page is not in the process and may have

[2017-03-06 20:23] rsolomakhin opened #448 "NotSupportedError in private browsing mode"
Should `PaymentRequest.show()` ever reject the promise with `NotSupportedError` in private browsing mode? My intuition is "no", because that lets the website know more information than the user might want to share in private browsing mode. I propose to reject with `"Request cancelled"` string instead. Let me whether this should be placed in in spec or is an implementation detail.

[2017-03-06 20:26] marcoscaceres commented on #448
Rejecting things with strings is not really an option for a number of reasons (e.g., you lose the stack, it's weird when used in async/await try-catch, etc.). Needs to be a real error.

[2017-03-06 20:31] domenic commented on #448
Agreed with @marcoscaceres, but the question is, what real error can we use? Preferably not one that is private-browsing-mode specific. `NotSupportedError` is used for the case where there are no payment methods available, so it seems like a reasonable candidate. Are there any other candidates that show() might reject with in the normal course of operation?

In terms of spec change, if we go with

[2017-03-06 20:45] rsolomakhin commented on #448
Today Chrome rejects .show() with "Request cancelled" string when user
cancels the payment in the course of normal operation.If that's not
desired, what error  should be used instead?

--Rouslan

On Mar 6, 2017 3:31 PM, "Domenic Denicola" <notifications@github.com> wrote:

[2017-03-06 20:50] domenic commented on #448
Oh, heh, I was wondering what happened in that situation, given that it doesn't appear to be in the spec... I think "AbortError" DOMException is good.

Let me work on a spec PR for both the user-cancels and browser-cancels case.

[2017-03-06 21:18] #302 closed, assigned to marcoscaceres

[2017-03-06 21:22] domenic commented on #320
Closed by https://github.com/w3c/browser-payment-api/commit/3c3a10057b3fd97ab21cb4f76b079d8ac5d4d787

[2017-03-06 21:22] #320 closed, assigned to marcoscaceres

[2017-03-06 21:51] #388 closed, assigned to marcoscaceres

[2017-03-06 21:51] #415 closed, assigned to marcoscaceres, rvm4

[2017-03-06 21:52] marcoscaceres commented on #415
closed via #426

[2017-03-06 21:52] marcoscaceres commented on #412
closed via #426

[2017-03-06 21:52] #412 closed, assigned to marcoscaceres, rvm4

[2017-03-06 23:30] marcoscaceres commented on #287
Closed via https://github.com/w3c/browser-payment-api/pull/426

[2017-03-06 23:30] #287 closed, assigned to nobody

[2017-03-07 03:27] marcoscaceres commented on #444
back in business! https://lists.w3.org/Archives/Public/public-tr-notifications/2017Mar/0029.html

[2017-03-07 03:27] #444 closed, assigned to marcoscaceres

[2017-03-07 03:49] sideshowbarker commented on #444
w00t 🎉

[2017-03-07 13:56] ianbjacobs commented on #444
Thanks !!

[2017-03-08 03:52] #379 closed, assigned to marcoscaceres

[2017-03-08 03:52] #442 closed, assigned to nobody

[2017-03-08 23:55] marcoscaceres commented on #224
Discussed today with editors, concluded that this can be closed because we added id to PaymentRequest.

[2017-03-08 23:55] #224 closed, assigned to nobody

[2017-03-09 05:58] marcoscaceres commented on #327
These will also apply to `PaymentShippingOption`.

[2017-03-09 22:50] ianbjacobs commented on #327
@aphillips, @r12a,

The Web Payments Working Group would really appreciate being able to close this around the time of its FTF meeting 23-24 March. Were you able to discuss Marcos' sample code and does it look sufficient?

Ian

[2017-03-09 22:51] marcoscaceres commented on #327
Related from Web Share: https://github.com/WICG/web-share/issues/6

[2017-03-09 22:52] aphillips commented on #327
We discussed this in teleconference today and I have an action item to reply... but don't have/haven't had time to reply just yet (other than this note to say it is forthcoming very shortly)

[2017-03-09 22:53] ianbjacobs commented on #327
@aphillips, let me get out of your way...

[2017-03-09 23:02] marcoscaceres commented on #327
Note to self - read: http://w3c.github.io/i18n-discuss/notes/json-bidi.html

Thanks @aphillips for the update!

[2017-03-13 22:15] zkoch commented on #436
@marcoscaceres is this blocker for CR?

[2017-03-13 22:22] zkoch commented on #325
Ian, are you okay to close this?

[2017-03-13 22:24] zkoch commented on #384
Going to close this for now, as I'm not sure there's much we can do. But re-open if you disagree.

[2017-03-13 22:24] #384 closed, assigned to zkoch

[2017-03-13 22:27] zkoch commented on #389
I'm going to mark this as postponed, as I don't think it will make the cut for CR, but I do think supporting this is easy.

It's as simple as adding a new shippingType of "storePickup". Everything else works the exact same way. The address a user inputs can be used by the merchant to calculate stores within some range that they specify and then surface those as shippingOptions.

Not sure if others

[2017-03-13 22:27] zkoch commented on #306
@marcoscaceres is this something we want for CR?

[2017-03-14 00:40] ianbjacobs commented on #325
Please close it after merging this pull request:
 https://github.com/w3c/webpayments-methods-card/pull/25

Ian

[2017-03-14 01:09] marcoscaceres commented on #327
@aphillips, I put together an initial proposal:
https://s3.amazonaws.com/pr-preview/w3c/browser-payment-api/f68ca73...00714be.html#localizable-dictionary

[2017-03-14 01:12] marcoscaceres commented on #327
Minutes from i18nwg call:
https://lists.w3.org/Archives/Public/www-international/2017JanMar/0103.html

Note that it's not for JSON, it's for a JS Object (WebIDL dictionary).

[2017-03-14 03:14] domenic commented on #436
(Probably not a CR blocker.)

IMO the best solution here is for the constructor algorithm to just set the values.

[2017-03-14 04:38] marcoscaceres opened #456 "Move examples to top of document"
As I'm implementing this into a fake merchant site, I find that I constantly need to look up the examples. Currently they are hard to get to.

I would like to move them to their own section at the top.

[2017-03-14 04:54] marcoscaceres commented on #436
Agree. Not a CR blocker.

[2017-03-14 08:11] marcoscaceres commented on #306
I think it's probably something that will actually emerge from the CR process - as we gain implementation experience and see what issues come up in practice display this stuff in native UIs.

[2017-03-14 08:12] marcoscaceres commented on #306
Ignore my last comment, I thought this was a different bug.

[2017-03-14 08:36] adrianhopebailie commented on #389
This seems odd. If it's easy why not include it for CR?

[2017-03-15 04:57] marcoscaceres opened #457 "maybe add `DisplayItem` dictionary"
As I was implementing using the API on a site, I found I needed to gather together "display items" (`PaymentShippingOption` and `PaymentItem`) in order to calculate tax (`PaymentItem`). Critical for displaying these to the user is the `label` and `amount`.

As such,  think we should make an Editorial change to introduce:

[code]

[2017-03-15 04:58] marcoscaceres commented on #457
@domenic, thoughts?

[2017-03-15 17:06] domenic commented on #457
I don't really understand. You are describing this as something that helps gather display items and calculate tax and display them to the user. But this is just an editorial change; it can't help with any of those.

[2017-03-15 22:32] marcoscaceres commented on #360
@bzbarsky ping...

[2017-03-15 22:36] zkoch commented on #325
Done.

[2017-03-15 22:36] #325 closed, assigned to nobody

[2017-03-15 22:40] #278 closed, assigned to nobody

[2017-03-15 22:40] marcoscaceres commented on #278
Editors reviewed this and concluded the spec is clear enough as is.

[2017-03-15 22:41] zkoch commented on #273
Closing as I don't think this is problematic, but feel free to reopen if you disagree.

[2017-03-15 22:41] #273 closed, assigned to nobody

[2017-03-15 22:48] zkoch commented on #229
We think this issue is addressed in the spec already in section 21.1:

[2017-03-15 22:52] marcoscaceres commented on #304
Chrome throws, so probably should not trim.

[2017-03-15 22:52] #304 closed, assigned to marcoscaceres

[2017-03-15 23:16] domenic commented on #448
This was fixed by 361e72084830d4c9aa3b09c8c1f08dc316dc71ce.

[2017-03-15 23:16] #448 closed, assigned to domenic

[2017-03-15 23:24] rsolomakhin commented on #304
Robustness principle is slowly falling out of favor because it encourages incompatible implementations. Strictly defining the boundaries of valid data is also useful in security sensitive contexts, such as payments.

[2017-03-15 23:25] rsolomakhin commented on #304
http://queue.acm.org/detail.cfm?id=1999945

[2017-03-15 23:53] chaals commented on #229
That seems incredibly vague - I see nowhere near enough information to justify making it a formal 2119 requirement which in any case makes no sense in an informative section. Nor is there enough useful information to explain informatively what the privacy considerations *are*.

[2017-03-16 01:02] ianbjacobs commented on #229
@chaals makes a good catch on this being in an informative section.

Two thoughts:

 * Be more specific that what is meant. For example: Data collected through PaymentOptions are not shared with the payee except with user consent.
 * Elevate the statement to a normative statement.

Ian

[2017-03-16 01:03] ianbjacobs commented on #229
Reopening the issue because I think that "MUST NOT" in an informative section is a bug.

[2017-03-16 08:04] marcoscaceres opened #458 "Ambiguity in "Process payment methods:""
In the construction of PaymentRequest, for "Process payment methods", sub-step reads:

Which translates to:

[code]
@domenic, is that correct? If so, for cases where null, `JSON.parse(serializedData)` at any later point will then result in the string "null".

Or is actually supposed to be:

[code]

In which case, we should change this to:

Yes, not having "Let serializedData ... " at the start is

[2017-03-16 08:21] marcoscaceres opened #459 "Badness in constructor..."
Our friend:

Is in the spec again... maybe we screwed up at rebase at some point :(

[2017-03-16 08:27] #459 closed, assigned to nobody

[2017-03-16 09:31] marcoscaceres commented on #458
Same issue further down in "Process payment details modifiers".

[2017-03-16 13:24] rsolomakhin commented on #458
I would prefer the latter. I think `serializedDdata = null` makes more sense than `serializedDdata = "null"`.

[2017-03-16 14:25] zkoch commented on #446
RESOLVED: Payment app spec does not include displayItems in payment app request data

Resolved in 03/16/17 WPWG meeting

[2017-03-16 14:25] #446 closed, assigned to nobody

[2017-03-16 15:17] domenic commented on #458
The latter is what is intended. I don't understand how you could possibly interpret the sentence as the former. The "end parenthesis" of `JSON.stringify` is denoted in prose by the "into a string". You'd have to write something like

to get the former interpretation.

[2017-03-16 17:06] r12a commented on #327
I'm not the one who reviewed this (I believe Addison will get back to you very soon).  I just have one thing i wanted to mention:

I think this should probably work fine for the example below.

[code]
but you'd need to be careful any time the scope of the `dir` attribute covers more than one label or string.  If the two strings need to have different directionality (such as if the amount was a mac

[2017-03-17 04:54] marcoscaceres commented on #458
Sorry, but that is what I concluded from reading what was there (and yes, I know "null" is not what was intended). I read it multiple times and felt uncertain enough to file this bug. That's a sign that it needs rephrasing, as I'm sure I'm not the only one who could misinterpret it.

Everything else in the constructor section was crystal clear tho.

[2017-03-17 04:59] marcoscaceres commented on #304
Thanks @rsolomakhin for the pointer! Good read.

[2017-03-17 05:25] marcoscaceres commented on #457
`<rant>`
I guess it doesn't matter too much, but in my *web developer* facing implementation of this API  (i.e., this is not from a Browser Vendor's implementation perspective!) I have the following ES classes.

[code]

And then I have classes like `InventoryTable` (e.g., list of clothing items) and a `ShippingOptionsPicker` that expose a `displayItem` accessor property.

[code]

So, then a `TaxCa

[2017-03-17 05:25] #457 closed, assigned to nobody

[2017-03-17 05:43] marcoscaceres commented on #306
The spec if fine as is.

[2017-03-17 05:43] #306 closed, assigned to nobody

[2017-03-17 07:09] marcoscaceres opened #461 "show() method lacks developer guidance"
In `show()`, the following exceptions don't provide developer guidance in the message:

[2017-03-17 07:20] marcoscaceres opened #462 "Unclear what happens when multiple PRs call show()"
Unless I missed it, it's unclear in the spec what happens when:

[code]

Should p2 reject? or should it wait till p1 finishes?

[2017-03-18 03:40] bzbarsky commented on #360
I think there is one more case:

* The page has asked for the payment request to be shown, but it hasn't been yet.  Suddenly things happen.  For example, the page asks for a payment request, then navigates.

As far as defining "things happen"... the problem is that it's not clear to me that the "fully active" concept captures everything.  In particular, it's not clear to me whether removing an ifr

[2017-03-20 02:57] marcoscaceres opened #464 "validate supportedMethods"
The spec currently specifies:

[code]

But those are not actually strings: they are either enums (e.g., "basic-card") or USVStrings for URLs. This causes problems when doing URL comparisons as required by the Payment Method Identifiers spec (which calls into the URL spec).

[2017-03-20 03:00] ianbjacobs commented on #464
+1: they are enums or restricted strings for URLs.

[2017-03-20 03:01] domenic commented on #464
They need to be parsed into URLs at some point. Does the spec not say when that happens?

[2017-03-20 03:09] marcoscaceres commented on #464
It doesn't look like it. I was expecting it maybe in "Process payment methods" during construction of PaymentRequest.

[2017-03-20 03:13] marcoscaceres commented on #464
Related: https://github.com/w3c/webpayments-method-identifiers/issues/20

[2017-03-20 12:59] ianbjacobs commented on #464
@marcoscaceres and @domenic,

Good catch.

The Payment Method Identifer talks about string matching, and distinguishes the enum v. URL case.
In addition, in the URL case, that spec talks about how the URLs are used to fetch payment method manifest files; we are still working those:
 https://w3c.github.io/webpayments/proposals/Payment-Manifest-Proposal.html

For the "match" requirements of Payment

[2017-03-20 13:10] marcoscaceres commented on #464
Sure, it needs a little overhaul tho.

The enum needs to be defined. The algorithm for comparison needs a little love too.

This might be overstepping a bit... just trying to solve for Payment Requests.

It's undefined right now I think.

This is all out of scope right now (as far as this issue is concerned).

It shouldn't change anything right now to the level you are proposing. I'm just concerne

[2017-03-20 13:25] ianbjacobs commented on #464
@marcoscaceres,

You wrote "it needs a little overhaul tho."

That would be great. Can that be done for discussion on Thursday?
At the payment manifest discussion this week I'd like to talk about the
dependencies (PR API and payment method manifest) and whether, for example,
where the additional third party payment app matching semantics implied by the manifest
file are specified.

Ian

[2017-03-20 13:36] marcoscaceres commented on #464
Maybe... what I have in mind  doesn't change how it works. Just a bit more precise.

We can probably have those discussions without needing any spec changes.

[2017-03-20 13:37] ianbjacobs commented on #464
@marcoscaceres,

"We can probably have those discussions without needing any spec changes."

Agreed.

For the other discussion on "should we go to CR" it would be nice to see the changes. However, even if they are not ready yet, we will see them as of the CfC.
Ian

[2017-03-20 16:21] ianbjacobs opened #466 "Why are two sections non-normative?"
I revisited PR API today. I am wondering why sections 17 (iframe) and 18.1 (summary of shipping events) are non-normative.

For the iframe section, it seems to me more than non-normative if we are saying "here's how you do this."

It's not clear to me what the purpose of 18.1 is. There is normative text elsewhere about the two events. Does that not suffice?

[2017-03-20 17:02] domenic commented on #464
My main concern is defining when URLs are parsed (and thus when errors are thrown for bad URLs). The actual type in the IDL is not important; DOMString is fine instead of a union, as there will be no observable difference (USVString conversion would need to happen anyway at URL parsing time).

[2017-03-20 23:28] marcoscaceres commented on #464
I concur.

[2017-03-22 16:14] mattsaxon opened #467 "'Interactive' Bias in API"
The WebPayment IG discussed a set of automotive use-cases, many of which have requirements to be non-interactive (for safety purposes).

We should review the API to see if the API lends itself towards non-interactive use.... Whilst I believe it does, the internal state machine does have an interactive status, and the spec a bias towards interactions with the user.

[2017-03-22 21:25] #350 closed, assigned to domenic

[2017-03-22 21:43] zkoch commented on #462
I think p2 should reject. @domenic thoughts?

[2017-03-23 00:17] zkoch commented on #464
This fees like a CR issue, but feel free to remove if not.

[2017-03-23 02:15] domenic commented on #462
Good question. Rejecting seems fine. Alternately you could have some queue of to-be-shown payment requests, but I don't imagine anyone wants to implement that.

Ideally there'd be some way to tell if this was going to reject before you called it, e.g. a `PaymentRequest.canShow` boolean or something. But that's not really necessary.

Here's an important question: what is the scope of this? I think

[2017-03-23 14:02] nickjshearer commented on #467
What about the non-interactive cases covered in https://w3c.github.io/webpayments-http-api/ - isn't the HTTP API intended for such things?

I would also add that user interaction doesn't necessarily mean interacting with a screen. It could, for example, include vocal interaction or other hands-free usage.

[2017-03-23 14:24] zkoch commented on #467
We should add a non-normative note about this use case.

[2017-03-23 14:24] rsolomakhin commented on #462
Chrome's implementation currently limits one `.show()` call at a time per browser process. Because the payment process is interactive, this effectively sets a limit of one `.show()` call at a time per user.

[2017-03-23 14:31] zkoch opened #470 "Add explicit extension point to matching algo"
^^

[2017-03-23 15:02] nickjshearer opened #471 "Recipient and payerName are lacking i18n support"
We have two properties right now, recipient (in PaymentAddress) and payerName (in PaymentResponse) which are hold a user's full name and are plain DOMStrings.

I think this is going to cause a few problems for internationalization.

Firstly, merchants and websites won't be able to infer the correct ordering, since in many countries the family name comes before the given name (e.g, China). This wil

[2017-03-23 15:04] marcos-travel opened #472 "Request `shippingType` attribute is not defined"
Just need to add a section for it in the spec, to match other attributes.

[2017-03-23 18:35] mattsaxon opened #473 "Aborting of in-progress push payments"
With respect to Roy's demo of push payments using the 'fb' PMI, I think it would be useful to more specifically define the behaviour of when Abort() is called when a payment in 'processing'.

In particular, I wonder if a specific state of "Processing" would be useful to define in the state machine in addition to "Created", "Interactive" and "Closed".

This would allow the definition of a specific

[2017-03-23 22:23] domenic commented on #462
What if I have two Chrome tabs open? What about if I have two Chrome windows open on separate monitors?

[2017-03-24 12:37] mattsaxon commented on #473
With regard to the proposal for a "processing" status, it is worth highlighting that section 16.10 explicitly calls out an addition state of pending, "the payment request user interface remains in a pending state". It is worth clarifiying what this pending state means and if it is part of the state model in section 3.10 (internal slot: state)

[2017-03-24 12:43] mattsaxon opened #475 "Clarity required in section 21.2 regarding privacy"
Section 21.2 states "There may be legitimate scenarios for calling repeatedly (for example, to control the order of payment method selection)".

Does this imply that this should be supported?

The following wording "The fact that a successful match to a payment method causes a user interface to be displayed mitigates the disclosure risk" does not allow for the use of CanMakePayments() which has no

[2017-03-24 13:07] mattsaxon opened #476 ""User accepts the payment request algorithm" needs to clarify where Payment Handlers are invoked"
Currently the documented algorithm has the following issues;

1. Unclear separation of concerns makes payment handler functionality ambiguous
2. as a result, brittle specification between payment handler spec and payment request spec (changes to algorithm in payment request makes algorithm in payment handlers incorrect) - for example see that in payment handlers, it current states that it replaces

[2017-03-24 14:46] zkoch opened #477 "Editors to figure out text on line items"

[2017-03-24 17:32] ianbjacobs opened #478 "Does PR API need to include text around matching to take payment method manifest into account?"
Payment method manifest enables payment method owners to authorize payment apps. This means that other payment apps will not match. I don't believe at this time that PR API matching algorithms speak explicitly about the impact of manifests on matching. Does it need to (e.g., some extension point)?

[2017-03-24 19:39] rsolomakhin commented on #462
Same browser process in both cases. Is this a spec issue or a UX decision?

[2017-03-24 20:29] marcos-travel opened #480 "Add payerGivenName + payerFamilyName to PaymentAddress"
It would be good to then clarify that payerName would be the user’s preferred rendering of their name.

[2017-03-24 21:22] mattsaxon commented on #473
this issue is related to one in the payment handler, [issue 117](https://github.com/w3c/webpayments-payment-apps-api/issues/117).

[2017-03-24 21:31] zkoch opened #481 "Consider removing merchant preference language"
Section 3.3 item 10.

[2017-03-24 21:42] ianbjacobs commented on #481
Just a note that there are more places in the spec that speak to order than 3.3 item 10.

[2017-03-24 21:49] weksler commented on #481
i would strongly caution against doing this. my reasons:

1. PR api is designed to serve merchants and users, and not allowing a merchant to provide a preference would be a disservice to them.
2. It feels like the main beneficiary of this might be, indirectly, a credit card processing network. The PR api is designed for use cases beyond just credit card processing, and it is unclear why we should

[2017-03-25 01:14] domenic commented on #462
So, to be clear, what will happen? Will show() reject? Hang the tab and prevent any further JavaScript from running, like alert()? Crash?

Definitely a spec issue, given its observable consequences from code.

[2017-03-25 16:58] rsolomakhin commented on #462
The second `.show()` will reject with `AbortError: Request cancelled` in the current implementation. I'm open to improving the error message.

[2017-03-25 23:13] marcos-travel opened #482 "mark currencySystem as feature at risk"
Reminder for CR to do the above...

[2017-03-27 16:09] rsolomakhin opened #483 "Should the user agent generate the `id` when it's empty?"
@rvm4 Should the user agent generate the `id` when it's empty? The spec has a non-normative note to generate the `id` when it's absent, but that's different from an empty or null string.

[2017-03-27 23:21] domenic commented on #483
This was discussed in the PR. We shouldn't treat any values as "trigger the default behavior" besides the one specific value specified by JavaScript for that purpose, viz. undefined. Otherwise it's an open-ended guessing game as to author intent (e.g. what about false? 0? "please generate ID"?)

[2017-03-28 00:47] #483 closed, assigned to nobody

[2017-03-28 01:23] marcoscaceres commented on #462
FWIW, ApplePay on Safari also seems to restrict to once per browser instance: it throws if you try to spin up two sessions. It's not clear to me what exception it is throwing tho (in Safari's dev tools, it looks like it's just throwing text :-/... but not sure.).

You can test it here:
https://stripe.com/docs/apple-pay/web

Having the ability to only spin up a single payment request at a time seem

[2017-03-28 01:29] domenic commented on #462
Huh OK, I thought that would be controversial, but if we're all OK with one per user agent then I'm happy to work on speccing that. (EDIT: or someone else; don't block on me!)

I don't feel strongly on the error type. It's a bit weird to say it's an invalid state since the developer can't know ahead of time whether they're going to be screwed over by some other site doing a payment request at the

[2017-03-28 01:46] marcoscaceres commented on #462
Yeah, I don't feel strongly about the error type - just my 2c.

Thanks for offering to spec it!

[2017-03-28 01:49] marcoscaceres commented on #462
FWIW, I think it makes sense to do once per UA because of how payments need to talk to, for instance, watches (or similar hardware). It would be super confusing to know which site is asking for authorization on a watch otherwise.

[2017-03-28 02:04] marcoscaceres commented on #476
@mattsaxon, I know you wrote the above during the f2f - so could probably use some cleanup. I'm having a hard time processing what you wrote above. Can you please re-read/write it, and make it a bit more clear.

[2017-03-28 02:26] marcoscaceres commented on #471
@nickjshearer, would https://github.com/w3c/browser-payment-api/issues/480 address this?

[2017-03-28 04:01] nickjshearer commented on #480
Yes, that works for me. I would prefer we provide a hint as to the ordering instead of the full name, but I appreciate some implementors have shipped already and that would be a breaking change. Additionally we can then use **payerName** to indicate not just ordering but other potential information.

Some background - this is an important requirement for certain sectors and markets such as Asia. A

[2017-03-28 04:39] cyberphone opened #484 "complete() does not match all payment apps"
This issue is for the record only since it addresses the actual API _concept_ rather than details.

FWIW, I'm developing a (native) payment app which essentially works as a traditional payment terminal but with integrated "virtual" cards.  In payment terminals you authorize a transaction request but that is not equivalent to tearing down the UI (which <code>complete()</code> appears to assume), it

[2017-03-28 04:57] nickjshearer commented on #471
Yep, I'm happy with that.

[2017-03-28 04:57] #471 closed, assigned to nobody

[2017-03-28 05:07] nickjshearer commented on #481
@weksler - just to be clear, the current language doesn't require user agents to respect the ordering:

..."may" here per RFC 2119 meaning it is truly optional - user agents have no obligation to respect the ordering preference of merchants as it stands.

[2017-03-28 05:13] nickjshearer opened #485 "Supplement QuoteExceededError with NotAllowedError for canMakePayments"
I think `QuotaExceededError` is the wrong type of error for `canMakePayments`, since the user agent can return it at its discretion - not just when a quota limit has been reached.

For example, a user agent may decide to not service a `canMakePayments` request when in a private browsing mode or similar, or may allow the user the option to decline to reveal their payment methods to the merchant.

I