[2016-04-21 17:34] #6 closed, assigned to nobody

[2016-04-21 18:27] dret opened #148 "General Comment on Registry Design"
it seems that https://www.w3.org/TR/2016/WD-payment-method-id-20160421/ is w3c's first attempt to create a registry. at https://tools.ietf.org/html/draft-wilde-registries i am writing generally about the pattern and design of registries, and maybe there is some interesting input. if you find anything missing from that document, please let me know.
generally speaking, it seems to me that following

[2016-04-21 18:30] dret opened #149 "Do we need payment method identifier aliases?"
the current draft defines/allows identifiers to be used in short or long forms. most experience with identifiers in the wild shows that no matter how clear equivalence rules are defined, they tend to be ignored, leading to problems with identifier recognition, and interoperability issues. unless there is a very compelling reason why non-unique identifiers should be supported, it may be better to f

[2016-04-21 18:37] dret opened #150 "Identifiers or Locators"
the current options seem to also consider options where dereferencing identifiers becomes part of the standardized way of using them. whatever is chosen in the end, the spec should be very clear about whether the identifiers are actually identifiers (communicating meaning through their usage), or locators (communicating a way how to extract meaning at runtime). in particular, in a high-volume scen

[2016-04-21 18:43] dret opened #151 "Registry Access/Handling Registry Change"
why is the model that "registry snapshots" are created at odd URIs such as v1 and v2 and v3? it seems more logical, in case the idea is to allow machine-based access to the registry (which in itself is a tough design issue https://tools.ietf.org/html/draft-wilde-registries-01#section-5.5), that registry contents can always be retrieved, and represent the current status of the registry.
the registr

[2016-04-21 18:47] dret commented on #138
as mentioned in #148, it seems to me that there is little benefit in having a separate "identifier" spec. coming from an IETF background where the "registry pattern" is used a lot, i think it makes it easier to define the registry contents and operations in the same spec as where the registry values are used. after all, the spec using the registry values and the registry spec itself both normative

[2016-04-21 20:29] adrianhopebailie commented on #8
Agreed. The latter belongs in the browser spec, at a minimum for apps built on the Web platform.

[2016-04-21 20:36] adrianhopebailie commented on #8
This assume that there should be a stand-alone spec for registration. Payment mediators have two functions:
1. Registering payment apps and maintaining an updated list of the payment methods they have enabled.
2. Accepting payment requests, deciding which of their registered payment apps can process the request and then passing the request on to one of them.

The browser API spec is an attempt to

[2016-04-21 20:47] adrianhopebailie commented on #150
+1 for identifiers

I see no value in dereferencing these identifiers to anything other than a human readable specification therefor I'd consider their value to be primarily as identifiers.

The implementers of the payment method logic (payment apps and websites) are not going to be able to dynamically support new payment methods by merely fetching a machine readable payment method specification.

[2016-04-21 20:50] nickjshearer commented on #6
Thanks! I'm sure it'll be appreciated.

[2016-04-21 21:12] ianbjacobs commented on #148
@dret,

It is true that we do not frequently do registries. But we have done some (e.g., xpointer registry).

If the IG decides to keep some form of registry of payment method specifications or identifiers,
then I agree we will need some sort of policy that explains how we manage the registry.
For example, there may be some payment method specs that the WG publishes, and others
that the community

[2016-04-21 21:19] ianbjacobs commented on #138
@dret,

As I commented [1], it's not clear yet whether we will have a registry.

If we do, my first instinct is that registry information should be part of the identifier
spec.

Ian

[1] https://github.com/w3c/browser-payment-api/issues/148#issuecomment-213116399

[2016-04-21 21:26] ianbjacobs commented on #150
@dret,

My personal view is that:
- the primary computation on these identifiers will be equivalence testing.
- it is useful to ALSO be able to dereference them. I have tried to make the case for using URIs and dereferencing them to get the relevant payment method specification. I have not converted many people.

@adrianba and perhaps others have cited the risk of high-volume (and likely unnecessa

[2016-04-21 21:27] dlongley commented on #150
@adrianhopebailie,

That isn't the only thing you can do with machine readable data. What if you just want to get descriptions or icons? What if there are terms of use or rules that indicate you must display brand image X (found at a URL specified in the machine readable data) when offering a payment method?

A common machine-readable vocabulary could be used and consumed by smart Payment Apps or

[2016-04-21 21:40] adrianhopebailie commented on #150
(I think) I agree with @ianbjacobs that having a convention for what is found when dereferencing a payment method identifier would be great (and content-type negotiation can be used to return a human readable payment method spec vs machine readable something) but shouldn't be mandatory.

[2016-04-21 21:50] dlongley commented on #150
@adrianhopebailie,

I agree that it shouldn't be mandatory.

[2016-04-21 22:24] ianbjacobs commented on #11
I have launched a twitter poll on the W3C account to see if we can gather some data on this:
 https://twitter.com/w3c/status/723275778339835904

Ian

[2016-04-21 22:44] ianbjacobs commented on #18
Here's a proposal:

dictionary PaymentDetails {
    sequence<PaymentItem>    items;
    sequence<ShippingOption> shippingOptions;
    optional<PaymentItem> total;
};

And define total in the spec as something like this:

 "This field is used to communicate the total amount of the transaction. Processors are not required
 to validate that subtotals add up to the total amount."

Then delete this:

[2016-04-21 23:04] halindrome commented on #148
Just for completeness... there are several other "registries" maintained by the W3C:
- RDFa maintains an "initial context" in which CURIE prefixes are registered [1]
- There is a registry of "rel" values maintained for HTML5 [2]
- There is a collection of base "role" values for XHTML and HTML [3]
- There was a naming "model" for XHTML family markup languages and DOCTYPEs that defined a more distri

[2016-04-21 23:15] halindrome commented on #150
I also agree it should not be mandatory.  However, can we also agree that there is a way to craft the optional language to assist in ensuring that even optional things are predictable?  For example:

I am not saying we need to even develop this today.  Just that having this mechanism and a well defined set of terms (with associated data types) means payment method owners are able to inform payment

[2016-04-21 23:49] dret commented on #150
On 2016-04-21 13:47, Adrian Hope-Bailie wrote:

_if_ identifiers are going to be HTTP URIs, then of course nothing stops
their creators to put up documentation at that address. but i would
still recommend the registry to associate documentation links for each
registered identifier, which can be used by registry users to access
documentation that has been vetted during registration, and has to
rema

[2016-04-21 23:58] dret commented on #148
On 2016-04-21 14:12, ianbjacobs wrote:

true, i am sorry for that oversight. it's just a little different from
IETF where the overall count of registries now is close to 2000. so they
have an established way how to handle this.

exactly. https://tools.ietf.org/html/draft-wilde-registries is where i
am currently writing up design consideration that everybody thinking
about defining a registry might

[2016-04-22 00:00] dret commented on #138
On 2016-04-21 14:19, ianbjacobs wrote:

my apologies for not being clear enough. absolutely the registry
definition should be part of the identifier definition. what i wanted to
say is that those two should not be a separate spec to begin with, but
part of the API spec that uses and needs the identifiers.

[2016-04-22 00:06] dret commented on #150
On 2016-04-21 14:27, ianbjacobs wrote:

very good. that's what identifiers are for.

one of my hobbies is to preach about the difference between identifiers
and locators. conflating these concepts sometimes can be a bad idea. my
view is that in this case, what you want is an identifier, and nothing
more. _if_ the spec uses URIs are the identifier namespace, then nothing
keeps people from using HTT

[2016-04-22 00:09] halindrome commented on #148
This is great information.  Thanks so much for your insight!

[2016-04-22 00:11] dret commented on #150
On 2016-04-21 14:27, Dave Longley wrote:

then these are all things that the registration process has to define
and has to make sure that all this information is made available when
the scheme is registered. what if the dynamically loaded data changes?
do the terms of the payment service change because the data referenced
by the payment identifier changed? if that's the case, then very clearly
the

[2016-04-22 00:14] dret commented on #150
On 2016-04-21 14:40, Adrian Hope-Bailie wrote:

if such a route is taken (URI payment identifiers with an option for
people creating them to use HTTP URIs), then the spec should be very
clear about the fact they are identifiers only.

the spec of the "payment scheme description language" then could be a
completely separate and independent spec, as there could be multiple
such schemes, and they wou

[2016-04-22 00:17] dret commented on #148
On 2016-04-21 16:04, Shane McCarron wrote:

sorry for the off-topic remark: that's a very useful list and the W3C
should have a place where it is published. IETF/IANA with their ~2000
registries may play in a different league here, but it seems to me that
any org managing evolving registries of values should have some place
where people can find out about which ones are available. a registry of
re

[2016-04-22 00:29] dret commented on #150
On 2016-04-21 16:15, Shane McCarron wrote:

tricky in this case, i'd say. if you say that the identifiers are just
that, then i would leave it at that. if you start defining a vocabulary
that implementations might use _if_ they choose to dereference the
identifiers and _if_ the returned representation matches that defined
vocabulary, then you have to start defining how any metadata gleaned
from th

[2016-04-22 00:42] halindrome commented on #150
Excellent point.

I know that smart people have thought about this a lot. And I am probably treading on well-worn ground, but...

What if:
- identifiers are "reverse domain names" that are just strings and compared as such
- there is a "registry" into which people with such identifiers are allowed to map the identifier to a "locator"
- there is a web service that a payment app (or anyone) could hi

[2016-04-22 01:11] dret commented on #150
if i have such a (optional) mapping from string to URI, why have a
naming convention such as reverse domain name?

https://tools.ietf.org/html/draft-wilde-registries-01#section-5.6
discusses this issue. that's basically re-inventing the DNS, unless
you'd be willing to accept the risk from building this as a centralized
service (which would need to be scalable and robust at a scale close to
search

[2016-04-22 08:28] kirkalx commented on #18
Am I the only one who has some misgivings about a payments spec that would not enforce that the total amount quoted is the sum of the subtotals? Or will this be enforced elsewhere?

[2016-04-22 11:10] adrianhopebailie commented on #14
This is no longer an issue

[2016-04-22 11:10] #14 closed, assigned to nobody

[2016-04-22 11:48] adrianhopebailie commented on #134
Addressed in PR #114

[2016-04-22 12:37] adrianhopebailie commented on #143
I may be misinterpreting the question here but here's my thinking.
- Payment method identifiers are keys
- These keys have a many to one relationship with a payment method
- All of the details about how a payment app processes a payment request and builds a payment response and what a website must do with that response is published in the payment method specification or defined somewhere else that

[2016-04-22 12:57] halindrome commented on #18
@kirkalx there isn't anything in there that actually says the "items" need to be comprehensive, so there is no way to enforce the condition even if we wanted to.

[2016-04-22 13:05] adrianhopebailie commented on #112
As #19 looks like it will be concluded with "No, leave it the apps" this is no longer relevant

[2016-04-22 13:05] #112 closed, assigned to nobody

[2016-04-22 13:26] adrianhopebailie opened #154 "Should the browser API support the concept of "messages"?"
This has been asked and referred to implicitly in a number of issues: #15, #146, #50, #45, #39, #133
Getting a concrete answer to this may help us make progress on those issues.

In this context a message is an object, either encoded as JSON or instantiated in a JavaScript execution environment.

A payment request message is an object with some specific members that are required in all payment req

[2016-04-22 13:59] ianbjacobs commented on #143
Hi @adrianhopebailie,

Thank you for the write-up. Here are some comments on your good list.

That's fine with me, but we need to make a normative statement to that effect.

Yes.

Yes. (I was making the case that they way you find it is to follow the payment-method-identifier-as-URL. But I'm not convincing anyone yet to pursue that.)

I would change "all" to "some". I think that people can indepen

[2016-04-22 14:04] dlongley commented on #154
Yes, and yes.

[2016-04-22 14:05] dlongley commented on #154
I'm fine if we need to pull parts of that message out to pass to the browser API because of Web IDL restrictions, ie:

[code]

[2016-04-22 14:12] dlongley commented on #39
@wcarr, I very much agree with your comments. The approach is very similar to what the WPCG came up with.

[2016-04-22 14:32] halindrome commented on #154
I guess I am surprised there is any debate about this.  Yes.  There MUST be a path that gives the payee and the payment app / PSP confidence that their communication is happening in an unadulterated manner.  Otherwise... why would I as a merchant or you as a bank trust this system?

[2016-04-22 14:40] adrianhopebailie commented on #154
@halindrome said:

Well if you look at the current browser API spec there is actually no mention anywhere of passing the full payment request on to a payment app. Only the  `data` member, which contains only payment method data is proposed to be passed to the payment app.

[2016-04-22 14:43] adrianhopebailie commented on #154
Yes

Yes

This is important in establishing the role of the browser API within a broader payments ecosystem.

The browser API is intended to be a way to facilitate exchange of payments related data between parties on either side of the interface. By preventing the complete payment message from being constructed outside the API the browser puts itself in the path of the flow of payment data in a wa

[2016-04-22 14:45] dlongley commented on #154
@adrianhopebailie,

Yes. One option is to just change `data` to be the full payment request message. The user agent could simply ignore that parameter entirely and pass it to the Payment App. Specific parts of that full message can be pulled out and passed in as the other parameters that the user agent needs, if we need to deal with cumbersome Web IDL restrictions.

[2016-04-22 15:46] msporny commented on #39
+1 to @wcarr's comments.

[2016-04-22 15:56] andrewpaliga opened #155 "Payment app discovery"
The browser payment api spec suggests that the user-agent will display the intersection of payment apps that the merchant website supports and the user has installed. Many payment apps that Shopify supports do not require user registration as they either 1) provide an onboarding process as part of payment or 2) provide the option of processing credit cards directly.

PayPal is a good example of th

[2016-04-22 16:18] sideshowbarker commented on #11
Here’s some raw feedback I’ve gotten on this question so far from soliciting opinions from others with experience writing and implementing specs for the platform:
- “I’m inclined to say [option] 2 [reverse domains] since URLs have terrible ergonomics”
- “「There is no way to automatically dereference a payment method identifier from this option to a resource located at a URL.」is the listed disadvan

[2016-04-22 16:24] halindrome commented on #11
Why would a new token only become supported with a new browser version?  The browser is not part of the transaction except as a string matching engine in this instance.  You would need a payment app that recognized the token and a merchant who wanted to use it.

Unless you think these tokens are enumerated in the WebIDL.... Which would be silly.

[2016-04-22 16:28] ianbjacobs commented on #11
@sideshowbarker,

Thanks for getting some input.

Sorry it is read that way. We have three options and I thought it reasonable to list
them all. But I can see the case for organizing the question in two parts: URL or not?
If URL, then registry or not?

I'm not sure I understand that point. I believe that our design does not require a browser upgrade in order for a merchant and user to be able to u

[2016-04-22 16:33] dlongley commented on #11
@sideshowbarker, @halindrome, @ianbjacobs,

Yes, it sounds like that particular feedback doesn't apply as that person doesn't yet understand the architecture for the ecosystem.

Unfortunately, some of the other feedback may suffer from a similar problem.

[2016-04-22 16:39] ianbjacobs commented on #154
@adrianhopebailie,

What is a "complete and atomic payment request"? Do you mean the PaymentDetails part
of the paymentRequestAPI?

As you said, the browser/mediator is acting as a router. It takes as input payment method
identifiers and some payment-method-specific data. Once the user has chosen an app,
the browser/mediator MUST NOT send more information than is necessary to the
payment app for p

[2016-04-22 16:49] sideshowbarker commented on #11
Actually I think the feedback is pretty clear as far as pointing out the options come down to URLs vs simple strings, and that some implementors of features for the platform who have experience with previous cases where we have used URLs and (pseudo)namespaces in cases where we could have used simple strings do not want to repeat that experience.

[2016-04-22 17:08] rsolomakhin commented on #155
I would prefer the choice of `alwaysShow` to be left to the user agent. I suspect that Chrome will indeed suggest apps that merchant supports, but the user does not have. However, I would not want to dictate this behavior to the other browser vendors, which might have their ways of thinking about this problem.

[2016-04-22 21:00] burdges commented on #154
Isn't that what fields level encryption, and implicitly signatures, would be for @halindrome ?  If it must be passed unaltered, then you need to binary encode and sign it.  Anything unsigned cannot be trusted anyways.

[2016-04-23 11:20] kirkalx commented on #150
If de-referencing is kept optional, my hope is that we can support a class of payment methods that are fully decentralized (e.g. payment via direct access to the Bitcoin p2p network), perhaps via some sort of .onion URL or similar...
I believe this would satisfy all parts of the communities associated with various cryptocurrencies in a way that a URL assigned to the w3c working group would not. Ho

[2016-04-23 12:09] kirkalx commented on #155
If something like this is supported, it would seem logical to allow the user to easily express the wish to not be given that payment option again for that merchant or (at their option) for any merchant.

[2016-04-23 13:54] halindrome commented on #154
@burdges FIeld level encryption and signatures are exactly for this.  However, we are not currently specifying their use.  But I agree that unsigned things cannot be trusted.

[2016-04-23 16:17] dret commented on #150
On 2016-04-23 04:20, kirkalx wrote:

payment method identifiers and payment methods are two very different
things. this issue is _only_ about the identifiers, _not_ about how the
payment process itself works. i think you are mixing these two things.

the question of whether a payment method works centralized or not is not
affected by the question of whether payment identifiers (and how they
look l

[2016-04-23 17:32] rsolomakhin commented on #155
@kirkalx I agree. The user agent should provide appropriate control to the user through settings. This is vendor specific and not exactly standardizable, though, right?

[2016-04-24 01:13] kirkalx commented on #150
@dret I'm not entirely sure I agree, although the specifics would matter. Access to a decentralized payment method via a centralized identifier and centralized identifier registry seems problematic to me. Getting rid of de-referencing helps...

[2016-04-24 01:19] dret commented on #150
On 2016-04-23 18:13, kirkalx wrote:

right now the majority opinion seems to be that payment method
identifiers are just that: identifiers. they are _not_ dereferenced.

think of it this way: when you code a client, you consult the registry
of well-known payment methods and pick the ones you want to support.
let's say your decentralized method has identifier "42". once your
client finds that ident

[2016-04-24 01:44] kirkalx commented on #150
From the point of view of a dedicated cryptocurrency participant, this would be suspect because of these elements (and possibly others):
1. who owns the registry and why should we trust them?
2. is the label "42" attractive in itself or for marketing reasons? (c.f. DNS)
3. who owns the 42 entry and why should we trust them?
4. if "nobody" owns the 42 entry, and the 42 community forks into 2 or mor

[2016-04-24 01:56] dret commented on #150
these are all very good question. and that's why registries usually have
trusted owners, operational principles, and change policies. these need
to be laid out, and then you can choose whether you trust them and their
implementation, or not.

https://tools.ietf.org/html/draft-wilde-registries-01#section-5.2

it usually makes sense to have ownership of an entry, and it also
usually makes sense to d

[2016-04-24 02:25] kirkalx commented on #150
Perhaps this is overkill, but part of the registry might run along these sort of lines (inspired by HashCash/Bitcoin-style proof-of-work):

An identifier would be a bit-string in a suitable encoding (e.g. base64).
Valid identifiers would satisfy H(id) < D for a suitable hash function H and difficulty value D.
To register an identifier, a community would have to calculate such an id and publicize i

[2016-04-24 03:58] dret commented on #150
On 2016-04-23 19:25, kirkalx wrote:

i can see now that we were talking past each other. when you say
"registry", you clearly have something else in mind than when i do. i do
not know exactly what, but it sounds like some shared key/value store
where everybody is free to add entries. when i use the word "registry",
i mean it like the managed IETF/IANA registries, such as highlighted in
these examp

[2016-04-24 05:29] kirkalx commented on #150
Not really, obviously the ideal registry from this point of view would be fully decentralized, my sketch above was trying to allow entries-without-owners such that many of my list of 5 questions above would be satisfied; but at least initially within a traditional centralized registry. Just thinking out loud and not necessarily workable of course :)

[2016-04-24 15:47] ianbjacobs commented on #38
In the extensibility notes [1], Manu indicated that ";While it's true that sharing of registration information is not required with other mediators, that said, centralizing the information isn't the only way to solve the problem. Not saying we can do this for v1, but I think we should be strongly opposed to centralized solutions unless there is no other viable alternative."

Consequently, I am clo

[2016-04-24 15:47] #38 closed, assigned to nobody

[2016-04-24 16:17] ianbjacobs commented on #155
@andrewpaliga andrewpaliga,

Thanks for relating this to issue #110. We also had some discussion around this topic at our February FTF meeting: https://www.w3.org/2016/02/24-wpwg-minutes#item06

I think your point also relates to https://github.com/w3c/webpayments/issues/112
   (Should we support payee knowing user has payee-controlled payment app?)

And I would also relate this to https://github.

[2016-04-24 16:25] halindrome commented on #155
I can see the suggested app feature being an interesting way of a merchant continuing to support branding agreements (e.g., BigBox has an agreement with American Express that they will list American Express as an accepted payment method and feature it prominently).  However, I can also see the brand (American Express in my example) not necessarily agreeing that a soft "ask" of the user agent is fe

[2016-04-24 21:33] burdges commented on #38
I missed this issue before, but I should point out :

There is a serious security threat in sharing payment app registrations between different browsers and different profiles of the same browsers because people do manage their web exposure by using different browsers.  It's easy to click too far through common menus and accidentally reveal a shipping address to a site that you want to buy from bu

[2016-04-24 22:04] kirkalx commented on #155
At worst, once the user has selected some other payment method, BigBox could redirect to a page saying 'Are you sure you don't want to use American Express?'.

[2016-04-24 22:50] halindrome commented on #155
Sadly, our model doesn't work that way.  Once it gets inside the paymentRequest API the user selects a payment app / payment method the payment completes and the Promise resolves with the payment complete.  There is no method for the merchant to then say "wouldn't you rather use foo".  The transaction has completed.

[2016-04-24 23:01] kirkalx commented on #155
"Sadly", yes. I might feel differently if I worked for BigBox or Amex though...

EDIT: I guess they could always say 'Maybe next time you could use American Express because...'

[2016-04-25 06:03] nickjshearer commented on #18
There are a bunch of very real use cases where the subtotals won't sum to the total amount you want to actually authorize payment for.

[2016-04-25 06:11] kirkalx commented on #18
Can you give an example please? I struggle to see the point of the subtotals if they can't be tied to the total in an obvious fashion.

[2016-04-25 06:14] nickjshearer commented on #119
...a negative amount is just describing an inverted payment request. If A requests a negative payment from B, then it follows that what's really happening is B is requesting payment from A. @halindrome's suggestion that sub-total items can be negative but the total itself cannot be seems more reasonable to me, as that would allow merchants to indicate things like discounts and the like to end user

[2016-04-25 06:26] nickjshearer commented on #18
If a merchant doesn't know the final cost of the service they're providing - for example, a ride sharing company may use the sub-totals to indicate the per-mile or per-minute cost of the service, but the total will be the amount to be initially pre-authorized (in such scenarios you also benefit from being able to mark sub-total or total items as pending rather than actual, but that's a matter for

[2016-04-25 06:47] kirkalx commented on #18
Perhaps part of the problem is the use of the term 'subtotal', it doesn't seem appropriate if not part of a complete sum. I am also coming from a bitcoin POV, where there is no concept of pre-authorizing (unless overlaid by some intermediary).

[2016-04-25 06:58] kirkalx commented on #119
To be precise, A is requesting to pay money to B.

My main issue with a negative total is that this is incompatible with most (if not all) cryptocurrency payment methods, without reissuing the payment request in the opposite direction with a positive amount. This is because, for example, a basic bitcoin payment request might be represented as

{amount, currency unit, address}

A payment can be mad

[2016-04-25 13:40] lyverovski commented on #119
The API should not support negative amounts/signed numbers. Amounts are typically reflected as positive, unsigned values, and their behaviour (i.e. debit/credit) should be governed by the transaction type itself.

Payment requests, along with fees, taxes, and discounts are typically modelled as separate transaction types (and/or as sub-types of a parent payment transaction). Refunds, and reversals

[2016-04-25 14:31] adrianhopebailie commented on #155
Please submit some concrete proposals for how this feature may be implemented.

There appears to be consensus that it would be valuable however I think the priority and more detailed questions will be defined largely by how it proposed to be implemented and the impact that will have on the existing design.

[2016-04-25 14:48] andrewpaliga commented on #155
- It can be beneficial for a payee to showcase the payment methods they support to increase conversation rates. Take financing options like [Klarna](https://www.klarna.com/international) and [Affirm](https://www.affirm.com/) for example. They support "pay later" or "pay in instillments" functionality. These are payment options you'd always want to suggest or offer as options in your checkout as a

[2016-04-25 14:51] andrewpaliga commented on #155
I like this approach. Ideally the "suggested" or "available" payment apps would be listed in payment app selection screen for the user.

[2016-04-25 15:07] adrianhopebailie commented on #154
No, that's the problem. Right now it's split among a few parameters. I mean the essential fields for a payment request: currency, amount, supported methods and their custom data.

This is really interesting, thanks for raising it! It has been touched on in previous discussions but never deeply explored. I think it warrants it's own thread. I can see arguments for the mediator trimming down the req

[2016-04-25 15:09] adrianhopebailie opened #157 "Should the payment mediator pass all payment method data to the payment app or just relevant data?"
Picked up from #154 where @ianbjacobs made the following assertion:

[2016-04-25 15:16] adrianhopebailie commented on #119
@nickjshearer and @halindrome :

I asked the following because I wonder if we are trying to enforce business rules in the browser API which should be the domain of the payment apps:

Any restrictions we place on the data that can be passed in the API implies we know enough about the uses of the API to do so. As @kirkalx points out this may not make sense for some payment methods but that doesn't m

[2016-04-25 15:23] adrianhopebailie commented on #119
Personally, I agree with you as someone that is familiar with this approach in most payments messaging. But right now we seem to be leaning toward transaction types being the domain of each payment method. See #19 and provide your feedback if you disagree.

So if we don't support the total being negative then it would imply that each payment method must define a custom data model to specify transa

[2016-04-25 15:27] adrianhopebailie commented on #18
@kirkalx The labels on the items in the items list are entirely free.

The issue at hand here is whether the item list should special-case the last item as the implied total which is the case today.

The assertion by most on this thread to date is "No" but there are only two proposals right for how to address this:
1. @ianbjacobs made a proposal inline to simply add a `total` member to the `detail

[2016-04-25 15:31] nickjshearer commented on #155
As long as we're considerate of the benefits to the payer as well. I can think of situations where a merchant might be inclined to push a payment app that's beneficial to them (perhaps they receive extra commission) and detrimental to the payer (the overall cost is higher). Any proposal should take into account the need to provide benefit to both parties, and to mitigate the potential for abuse.

[2016-04-25 15:39] adrianhopebailie commented on #155
A question to address is; who should provide the suggested list?

We seem to all be implying that it is the payee but if they don't should the mediator also be able to suggest some payment apps?

Bare in mind that just as they track all sorts of other data on the Web browsers will very quickly have data on which apps support which payment methods (and maybe even how often payments are successfully

[2016-04-25 15:50] adrianhopebailie commented on #150
My understanding of where we are today on this is:
- There will be a registry
- It will be owned by the WG (or some other group at W3C)
- It will list identifiers under the control of the group that owns the registry (i.e. If they are URLs they will start with https://w3.org)
- These identifiers will be linked to payment method specifications published by the W3C as WG notes or in future perhaps I

[2016-04-25 16:00] msporny commented on #154
@adrianhopebailie wrote:

Also keep in mind that merchants may want to digitally sign payment requests in the future, and anything that changes the payment request (including the mediator) would invalidate that digital signature.

Really, the payment mediator re-writing the payment request intended for the payment app should be off limits. If we don't put it off limits, we're forcing a few decisio

[2016-04-25 16:00] dlongley commented on #154
@ianbjacobs,

I disagree. For example, people may want to configure their browser to always use one particular Payment App, regardless of payment method. Then, that one Payment App may, itself, act as a mediator for other Payment Apps.

[2016-04-25 16:03] ianbjacobs commented on #150
@adrianhopebailie,

Do you mean "of identifiers minted by the WG"? If so, then yes.

I do not believe we have made a decision to maintain a registry of other identifiers.

Ian

[2016-04-25 16:07] dlongley commented on #157
I think all data should be passed. For example, if a browser is acting as a mediator, a user may want to install a Payment App that, itself, acts as a mediator for other Payment Apps. In this scenario, a user wants to use a Web-based payment mediator for some set of payment methods, that provides them with some benefits.

In another scenario, a Payment App may provide N ways to pay -- and only onc

[2016-04-25 16:07] adrianhopebailie commented on #150
@ianbjacobs Yes, that's what I meant by the following two bullets. I.e.:

@ianbjacobs said:

I agree but I wanted to make that clear to try and assuage some of @kirkalx concerns

[2016-04-25 16:08] dlongley commented on #157
In another scenario (likely a future case), a Payment App may allow a user to pay with more than one payment method at a time for a single request.

[2016-04-25 16:46] dret commented on #150
On 2016-04-25 09:03, ianbjacobs wrote:

from where i come from, having a registry that only one party can write
to is a bit of an edge case for what i'd call an actual registry. after
all, mostly registries are created to keep track of an evolving
ecosystem of identifiers, and usually there is some process for how it
can be updated by anybody, and not just one party.

https://tools.ietf.org/html/d

[2016-04-25 16:56] ianbjacobs commented on #150
My preference is that W3C only maintain information about the identifiers it mints. The rest of the Web should be able to mint identifiers as well and self-organize according to its needs.

Ian

[2016-04-25 19:46] adrianhopebailie commented on #150
You are right but that is why I think our use case is unique. The W3C registry has 2 functions and the latter may never materialize:
1. Bootstrap the ecosystem by providing the necessary pieces (identifiers and specs) for common payment methods
2. Standardize payment methods where communities have produced a variety of specs that are good candidates for standardization and do this by publishing a

[2016-04-25 20:36] dret commented on #150
On 2016-04-25 12:46, Adrian Hope-Bailie wrote:

the general idea seems to be the same that underlies many of the IETF
registries: define the context for an evolving ecosystem, and provide
some way in which players in that space can figure things out as it is
evolving. what's the rationale to _only_ register initial and w3c-spec
owned specs, instead of keeping track of the landscape (according to
p

[2016-04-25 20:48] ianbjacobs commented on #150
Hi @dret,

There is a cost to maintaining any registry. The cost grows significantly when the registry owners want to keep track of things outside of their control. Furthermore, it would be a weakness in the design if there were a central point of failure around payment method identifiers.

That is why we want to decentralize their creation and enable the broad community to self organize.
I do not

[2016-04-25 21:01] dret commented on #150
On 2016-04-25 13:48, ianbjacobs wrote:

sure there is a cost. IETF has realized that long ago and they now have
procedures and infrastructure for defining and running them, which
greatly reduces the cost per registry.

since registries almost exclusively are design-time and not runtime, i
would not consider them as "central point of failures". they are not
meant to be used every single time a paym

[2016-04-25 21:24] ianbjacobs commented on #155
@adrianhopebailie, regarding your proposal:
- I don't have a good understanding of the use case where the mediator would want to inject app recommendations. Furthermore, if this is something that browsers want to do, they probably can do so without requiring us to standardize anything. So for the moment, I would support the "payee suggestion" part of the proposal but not yet the "mediator suggesti

[2016-04-25 21:36] dret commented on #150
On 2016-04-25 09:56, ianbjacobs wrote:

maybe it would be a good idea (for the spec, not in this thread which is
growing way too long anyway) to say why that's your preference. for some
scenarios, what you want has turned out to work well. in other scenarios
it has turned out to be the wrong design choice and created problems
along a variety of axes.

[2016-04-25 22:10] burdges commented on #1
A "way for developers to discover which data the user's browser can provide and which data they must collect themselves via the website" sounds implausible because the information can only be transfered with the payment request.  And results depend upon the payment app, not the browser configurations.

[2016-04-25 22:23] ianbjacobs commented on #157
@dlongley,

My expectation is that through the dialog between mediator and user, the user's selected payment app will receive all the information that it needs. In the case (which I expect to be common at least initially) of a payment app that supports a small number of payment methods, the payment will will receive less information...but still all the information that it needs. In the case you de

[2016-04-25 22:37] dlongley commented on #157
@ianbjacobs,

I don't think the mediator necessarily knows all of the information that the Payment App needs. I think the mediator's only purpose is to help a user pick the Payment App to send the payment request message to.

What about the case that you don't know you want to use two payment methods until you've gotten to your Payment App and found out that an account for a particular payment met

[2016-04-25 23:23] kirkalx commented on #150
Thanks for the assessment of the current position @adrianhopebailie
My main hope would be that there is scope for bodies independent of the WG/w3c to build an additional decentralized registry if they see enough reason and care enough to do so. This is why it is important, if the identifiers are to look like/be URLs, that de-referencing is optional.

EDIT: To clarify, the no de-referencing is not

[2016-04-26 08:58] adrianhopebailie commented on #155
Sorry, I should have provided some more context. I had a conversation with @zkoch about this some time back in which he was concerned about the case when a user has no payment apps that can be used for the current payment request.

This is what motivated him to suggest that the payment request have a set of payment app identifiers (as opposed to payment method identifiers) in his early [registrati

[2016-04-26 11:18] mattsaxon commented on #134
Adrian, that PR has not been accepted yet and I've in fact closed it awaiting resolution of PR 133 which changes the shape of how PR 114 will be done.

[2016-04-26 14:01] adrianhopebailie commented on #134
Sorry, my mistake. I saw that @adrianba had merged #131 which included the same change but now see he picked only the one specific commit.

[2016-04-26 15:58] andrewpaliga commented on #155
+1 on modifying the payment request to allow the payee to suggest payment apps to the user.

I also agree with @ianbjacobs on not being too prescriptive on the display of installed/available apps vs. suggested apps. They need to be clearly distinguished but I think it should be up to the mediator to implement the best user experience.

What would be an example of an payment app on this list? Would

[2016-04-26 16:50] dret commented on #150
@kirkalx, where i come from, you're effectively asking for a meta-registry: to have a registry of registries, so that over time the set of existing registries can evolve. that's something that can be done, but sounds like adding quite a bit of complexity both in terms of the specification as well as in terms of implementing it. also, that would probably require runtime access to at least the meta-

[2016-04-27 06:54] kirkalx commented on #150
@dret I don't think a meta-registry would cover it, unless that meta-registry was itself decentralized. I'm still thinking about what would satisfy some of the more extreme/purist parts of the cryptocurrency communities in this matter. What Adrian describes above in https://github.com/w3c/browser-payment-api/issues/150#issuecomment-214411622 is probably good enough for the first version of the spe

[2016-04-27 15:48] ianbjacobs commented on #155
@adrianhopebailie,

I understand the motivation for that suggestion. I am not sure I want to specify the presentation relationship between merchant-provided and browser-provided suggestions.

Here's a counter-proposal for the case where we enable merchant and browser recommendations:
- The mediator must distinguish for user-installed payment apps, merchant suggestions,
  and user agent suggestions

[2016-04-27 17:19] dret commented on #150
On 2016-04-26 23:54, kirkalx wrote:

thanks for the clarification. a registry is a pattern for managing an
evolving set of identifiers in a centralized place, most often intended
for design-time lookup purposes. that is not always what is
needed/wanted when it comes to designing an API that uses identifiers.

my main concern was to point out that there is a huge body of experience
with that patter

[2016-04-27 21:31] ianbjacobs commented on #12
I have also written down some notes on payment apps for this discussion.
 https://github.com/w3c/webpayments/wiki/PaymentApp_Notes

Ian

[2016-04-28 06:50] adrianhopebailie commented on #155
@andrewpaliga asked:

Imagine a website supports basic card payments but has not suggested any payment apps for the user to install so the payment request is likely to fail if the user has no payment apps that support basic card payments.

In this instance the user agent might suggest one or more payment apps that support basic card payments, possibly even their own built-in payment app.

@ianbjac

[2016-04-28 11:53] adrianhopebailie commented on #145
Support for gift cards and discount codes is explicitly out of scope for this version of the API so I am going to mark this issue as postponed.

That said, there is a proposal here for a generic change to the API that would allow us to deal with this use case more explicitly down the line.

That proposal will need to be judged on it's own merit (as opposed to as a solution for this use case) and s

[2016-04-28 16:37] rvm4 opened #163 "Add type to PaymentItem"
Before I spend the time to put out a PR on this, I want to get some initial feedback. I think there are many kinds of PaymentItems that could be interesting/impactful to the payment app. I still like calling out the total as a separate item, but I would like to propose we go a step further and give all PaymentItems a type.

The PaymentItemType enum would provide a way to assign specific meaning/se

[2016-04-28 17:11] halindrome commented on #163
I don't hate this idea.  I wonder if there are already terms defined at schema.org that we could just co-opt?

[2016-04-28 17:18] #18 closed, assigned to adrianba

[2016-04-28 17:42] adrianba commented on #17
Closed in #161.

[2016-04-28 17:42] #17 closed, assigned to nobody

[2016-04-28 17:49] adrianba opened #164 "Examples need updating with recent PRs"
I didn't update all the examples with recent PRs so as to avoid merge conflicts with separate proposals. Will do that now.

[2016-04-28 19:56] #164 closed, assigned to adrianba

[2016-04-28 19:57] #48 closed, assigned to adrianba

[2016-04-28 20:29] adrianhopebailie commented on #129
Addressed by #161

[2016-04-28 20:29] #129 closed, assigned to zkoch

[2016-04-28 20:32] adrianhopebailie commented on #15
Partially addressed by PR #162.

Is there a desire to still split the contents of `details` into the other two parameters?

[2016-04-28 20:37] adrianhopebailie commented on #163
I wonder what the purpose of this is? What is the requirement you're trying to address?

My understanding of the `displayItems` is that it's just for display so there is no value in having a type. If there are multiple amounts that should be passed to the payment app for the actual payment processing I'd want to understand what those are and why they are important for payment processing.

[2016-04-28 20:42] adrianhopebailie commented on #122
complete() was addressed in PR #161 but this specific issue was not dealt with. A proposal is required to address this and other comments made in the PR

[2016-04-28 20:44] adrianhopebailie commented on #149
Duplicate of #10

[2016-04-28 20:44] #149 closed, assigned to nobody

[2016-04-28 20:52] halindrome commented on #163
From the call today, my understanding was that he was looking to be able to tag items with clear typing so that the UI could be more informed.  A bare string is not as useful as a defined type (e.g., tax; shipping; discount).  A UI could use this information to call out important line items or address regulatory requirements (in some jurisdictions VAT must be clearly distinguished from other fees)

[2016-04-28 20:53] adrianhopebailie commented on #143
I think my examples above illustrate the point. To restate one of them, the choice of card related PMIs indicates not only support for basic card payments but ALSO which card brands are supported.

[2016-04-29 01:00] #128 closed, assigned to adrianba

[2016-04-29 01:32] adrianba commented on #75
Fixed by #139.

[2016-04-29 01:32] #75 closed, assigned to nobody

[2016-04-29 04:32] dret commented on #149
not sure that this really is a duplicate of #10. afaict, #10 is about the need to have identifiers to begin with, whereas #149 is asking about aliases (i.e., assuming that identifiers are needed/used, but questioning whether there should be more than one way to refer to a payment method).

[2016-04-29 08:39] adrianhopebailie opened #173 "Is it neccessary to distinguish the origin of data provided in the payment response, and how would we do it?"
Somewhat related to some of the discussion in #75 as ShippingAddress is a a good example of response data that could (in future) be provided by the payment app not the user agent.

Currently the user agent gathered data hangs directly off the response object (`response.shippingAddress`) and the data from the payment app does too (`response.details`).

If the payment app returned the shippingAddres

[2016-04-29 08:43] adrianhopebailie commented on #149
@dret - I think the group has consensus that we do need identifiers and there is now a debate about the usefulness of aliases for well-known payment methods.

I guess I could have closed #10 and kept #149 open but really that's the crux of the issue right now. I will add a comment to #10 to properly set the context.

[2016-04-29 08:44] adrianhopebailie commented on #10
In #149 @dret said:

[2016-04-29 09:59] tommythorsen commented on #173
+1 for `response.shippingAddress`. I feel that `response.details` is for information that falls outside the scope of the spec, but the payment app still wants to pass to the merchant.

(To add to this, I feel that the field for opaque data in the PaymentRequest and the PaymentResponse should have the same name. In the PaymentRequest, this field is called `methodData[n].data`, while `details` refer

[2016-04-29 12:51] adrianba commented on #149
My apologies for the confusing wording for #10 but it was absolutely about aliases. "well-known" means either coded into user agents or somehow otherwise special. "for ubiquitous" means that we would not do this for all methods, just those that were popular enough. I worked with @zkoch on a proposal that accounts for this feedback in #149, which we will share soon addressing #10 and #11.

[2016-04-29 12:56] adrianba commented on #163
I think we should wait before adding this. Since it would be for display only, it would presumably be optional to process (just like label). I think we should get some experience with implementations before adding something like this. It doesn't feel essential to a minimum viable feature (and I think, as a consequence, that we probably wouldn't process it in our initial implementation).

[2016-04-29 13:04] adrianba commented on #53
Per the comments from @nickjshearer and @rsolomakhin in w3c/webpayments#84, I don't believe there are any requirements here for an API in an interactive user-agent.

All browser APIs that receive information to display from the web page rely on the web page to know what language they are showing to the user. The page decides what language to provide. Native UI is presented to the user in the langu

[2016-04-29 13:13] sideshowbarker commented on #163
That recommendation aligns with how I have seen similar cases progress (or not progress) with other specs for the platform. That is, in cases where we have gone ahead and added something like this to a spec at this point in its lifecycle—before it was clear that browser implementors were on board with implementing it per spec—we have often seen it never end up getting implemented interoperably per

[2016-04-29 13:24] sideshowbarker commented on #53
paging @r12a to weigh in

[2016-04-29 14:37] mattsaxon commented on #143
Can I confirm this issue pertains specifically to the “object data” parameter of Payment MethodData

I’m in favour of Ian’s option 2

Here would be an example structure for this to represent the example I was giving for specification of required fields (as per PR #114, which I have closed pending this debate)

[code]

Now, since VISA and Mastercard are very similar (sharing a common field structur

[2016-04-29 15:53] adrianba opened #175 "Spec prohibits currency validation but doesn't define what it is"
In the definition of [`CurrencyAmount`](https://w3c.github.io/browser-payment-api/specs/paymentrequest.html#currencyamount), the spec defines the [`currency`](https://w3c.github.io/browser-payment-api/specs/paymentrequest.html#dfn-currency) field saying:

The spec does not describe what it means to validate the string. It would be better if instead of a negative, the spec could describe positively

[2016-04-29 15:56] adrianba commented on #175
This kind of requirement for user agents to not validate something is typically the kind of thing we would ignore in implementation. It is a common practice to do some kind of validation on all untrusted input. For example, if somebody passes in a huge multi-megabyte string for currency code then we will probably reject the call. We might also want to interpret the currency amount to do something

[2016-04-29 16:39] dret commented on #149
sounds good, thanks.

[2016-04-29 16:48] mattsaxon commented on #134
PR #176 submitted to address

[2016-04-29 17:07] nickjshearer commented on #175
I have a feeling this is to do with currency codes that aren't valid international standards, especially in relation to Bitcoin. For example, in Swift `NSLocale.ISOCurrencyCodes().contains("BTC")` will evaluate to false. I guess the intent here was to prevent situations where user agents enforce the currency field contains an actual ISO code.

I wouldn't consider interpreting the field (for, say,

[2016-04-29 17:33] sideshowbarker commented on #175
`git blame` shows that _user agents MUST not attempt to validate this string_ requirement was added by @adrianhopebailie in https://github.com/w3c/browser-payment-api/commit/563ecd594b5757f5175ee6ede3b41cdd8810d932, maybe in response to https://github.com/w3c/webpayments/issues/57

So maybe @adrianhopebailie can shed some light on the rationale behind it.

[2016-04-29 20:41] andrewpaliga commented on #155
I agree with this for North American CC-centric markets but depending on the market payment apps could be a necessity to pay with. Many bank transfer methods (popular in the EU) have regulatory requirements requiring a redirect to a website hosted by the bank. In these markets payment apps would be necessary to process payments (at least in the short term).

[2016-04-29 20:49] halindrome commented on #155
I am not sure these things are orthogonal.  That same 'unfair advantage' can be thought of as a barrier in that the default or easy behavior gets in the way of the normal process whereby you would discover a rich collection of options, including those that are offered by your bank and address the regulatory requirements in various regions.

In other words, I think you are both raising important po

[2016-04-30 01:31] rvm4 commented on #163
Hmm, I can see what you are saying about waiting, but I believe the problem is unavoidable. @halindrome nailed my point, which is that there are certain expectations people have when viewing a display of what they are paying for. Without strong typing of what the items mean, any implementor is left to just figure it out and that is certain to fail. Wouldn't it be really confusing if your tax item

[2016-04-30 01:41] rvm4 commented on #10
I think as a first effort we should forgo short from identifiers. Short form identifiers only become useful when you have a critical mass of payment apps that fundamentally support the same payment method. I believe this is unlikely to be a huge problem at the time of adoption and can be easily appended in a V2 spec.

[2016-04-30 01:47] rvm4 commented on #10
I also think that that short-form identifiers are troublesome on the response side of the flow. If there are two payment apps that say they can return credit card info, the expectations from the payee is that this info is standardized between the two apps, which in turn means we need to designate what that looks like. I think specing out what the response looks like for a "CC" payment method is go

[2016-04-30 01:55] rvm4 commented on #11
I would vote for reverse domain names. I like the idea of using URLs, but I don't see an advantage to having a URI that we could actually hit with HTTP. The Payment App Registration proposal is indeed just a proposal, but if its an indication of where we are headed then we wouldn't be using the identifier itself as a way of acquiring information about a payment app.

[2016-04-30 19:49] halindrome commented on #163
Or just not use the feature.  Since there are no requirements on the feature's behavior it is essentially useless.  I know, I know - that's just my opinion.

[2016-04-30 19:51] halindrome commented on #11
If it is a URI, then I want it to dereference to something meaningful.  But I am in general fine with reverse domain names and no short forms.

[2016-04-30 20:22] msporny commented on #11
To disagree slightly with @halindrome:
1. It should at least be a URL (as that's the decentralized identifier extensibility mechanism for the Web).
2. That URL MAY optionally contain human-and-machine readable information if dereferenced. @halindrome we shouldn't force there to be something at that URL as that assertion is turning people off to using URLs. However, there are use cases that people

[2016-04-30 21:05] sideshowbarker commented on #11
As has been mentioned earlier in this thread and elsewhere, this is not really about a choice between URLs and reverse domain names. It’s more just about a URLs (and all their baggage) vs just a simple string in some form.

So the question to ask is more about how many parts of the Web platform have recently picked simple strings in similar cases rather than URLs. And the answer is, many.

[2016-05-01 00:19] msporny commented on #11
@sideshowbarker wrote:

I don't see it that way at all. Why does it have to be an either/or? We can have both (as proposed by option 1a and 1b). The only argument that I heard against having both is that "people mess it up", but again - I'd like to see data on why and how people mess it up (other than "they screw up equivalence testing").

Are URLs really that hard to use? People seem to copy/past

[2016-05-01 01:00] nickjshearer commented on #163
Isn't displayItems an ordered list? Is the concern here user agents won't respect the ordering?

[2016-05-01 06:03] kirkalx commented on #175
See #101 for some discussion on this.

[2016-05-01 15:56] halindrome commented on #163
Regardless of the type of displayItems, there are no requirements on its handling.  Your example is one potential concern.  Another would be displaying only some of the items (because of space limitations, for example).  I have no idea.  I am just being pathological because that's how I explore edge cases in standards.

[2016-05-02 13:39] ianbjacobs commented on #143
@mattsaxon,

Yes, the fourth parameter is what I had in mind.

[2016-05-03 10:18] adrianhopebailie commented on #163
+1 to @nickjshearer 's point. If the browser respects the ordering then I don't know what this solves?

[2016-05-03 10:40] adrianhopebailie commented on #175
This was put in to ensure that we don't restrict currency codes unneccessarily to only ISO approved codes.

In general I am not in favor of the API placing restrictions on the data it is passed unless there is a VERY strong rationale. Doing so forces the browser to understand more about the semantics of the data than should be necessary.

I am +1 to @adrianba 's suggestion of changing the wording

[2016-05-03 12:37] halindrome commented on #163
Okay.  Then would you be open to language that requires that?  As far as I know there is no requirement for this now.  There are no requirements on the UI at all.

"If the payment mediator exposes the displayItems to the user, it MUST expose all of them in the order in which they were supplied."

Or something to that effect?

[2016-05-03 12:51] ianbjacobs commented on #163
I am documenting this sort of statement; see:
 https://github.com/w3c/webpayments/wiki/PaymentApp_Notes#payment-app-display-by-the-browser

Ian

[2016-05-03 12:59] rlovetx commented on #3
Apologies for coming late to this discussion.
For DCC transactions (mountielee summarises this well above), Visa and MasterCard have slightly varying requirements, but require the merchant to share the foreign exchange rate, any margin applied to the conversion and a disclaimer.  Would it be possible to include these as separate parameters provided to the customer by the merchant as part of the pa

[2016-05-03 13:31] adrianhopebailie commented on #163
@halindrome said:

+1 but I think we'd need to accommodate a size restriction or acceptable behaviour if the list is too big to show.

@ianbjacobs while this pertains to the UI the browser will show the payer as part of the app selection process it doesn't really impact the payment app stuff you are documenting I don't think.

[2016-05-03 13:36] adrianhopebailie commented on #3
@rlovetx thanks for this input.

I don't think my proposal in #133 would have satisfied all of your requirements and has been closed now in favor of a number of smaller changes that addressed some of the other issues.

My proposal was simply to provide a sequence of CurrencyAmounts which amounts to the payee making the offer in multiple currencies but no more than that.

I think we need a new conc

[2016-05-03 15:11] adrianba commented on #175
I am proposing to remove the text. I don't think it is useful. If someone wants to keep it then they should propose a positive description of what MUST happen and not try to describe what MUST NOT.

[2016-05-03 16:13] adrianhopebailie commented on #175
## PROPOSAL

Change the following text:

[code]

to this:

[code]

This addresses the desire to do some validation and also explains why we aren't restricting this to a 3 char alphanumeric.

[2016-05-03 19:01] ianbjacobs commented on #175
It may be useful to be more explicit about conformance requirements from an "author" perspective and from an "implementation" perspective. What do you think of this change:

 "Developers SHOULD identify currencies with the three-letter codes defined in [ISO4217]. User agents MUST NOT treat other values as errors because developers MAY identify currencies in other ways."

Ian

[2016-05-03 19:18] halindrome commented on #175
That second "MAY" is fine, but shouldn't be uppercase.  The may is implied by the initial SHOULD I think.

[2016-05-03 19:35] adrianba commented on #175
This is still phrased as a negative. It would be better to phrase it positively. In other words, "user agents MUST do _something (but what?)_ with currency strings even if they don't recognize them".

[2016-05-03 19:43] halindrome commented on #175
Hmm.  Good point. From a  testing perspective, it is arguably impossible to test a negative (on an arbitrary field).

[2016-05-03 21:08] ianbjacobs commented on #175
@adrianba,

Does the browser have anything "positive" to do here other than pass data to the payment app?

As far as "negative" behavior, I don't know what error handling (if any) we plan to
specify. RIght now the spec says " The following fields MUST be supplied for a CurrencyAmount to be valid:" but other than an implicit definition of "validity" there is
no user agent behavior specified. If we

[2016-05-03 22:37] adrianba commented on #175
@ianbjacobs, as I've said, I don't think we need to say anything here and have proposed to remove this clause. The advocates for it obviously have something in mind that should happen. By saying that a user agent should not do something, they believe some positive thing should happen as a consequence. I'm not sure why this clause was added and I don't want to guess. If there actually is a positive

[2016-05-04 09:04] kirkalx commented on #175
Anybody? Bueller?

[2016-05-04 12:38] rlovetx commented on #3
@adrianhopebailie thanks for your reply.

I'll start a new issue.

The credit card companies do require the three items to be shown for DCC--and have actually fined merchants/acquirers for improperly presenting DCC offers.  Saying that, I've seen some VERY dodgy implementations of DCC that aren't remotely compliant with card company rules.

[2016-05-04 13:12] rlovetx opened #178 "Dynamic Currency Conversion (DCC) Support"
Hi,

One type of payment that doesn't appear to be fully catered for is DCC.  For those who haven't seen this, this is where a customer has the option to pay in their credit card's currency rather than the local currency.

The credit card companies allow this, but have strict Compliance guidelines to protect the consumer.
Essentially, the DCC offer must include:
1. the exchange rate being applied

[2016-05-04 16:24] ianbjacobs commented on #178
@rlovetx,

Thank you for the concrete use case. I think this question relates to issue #29

Ian

[2016-05-04 19:22] adamroach commented on #122
The existing design calls for three possible values here (success, failure and a third state representing "unknown"). That doesn't map well into the binary success/failure model that Promises provide, and the point of PR #163 was to expand from two choices into three.

While I agree that Promise would be a better choice if we could guarantee that the web page knows the success status, moving in th

[2016-05-04 19:30] dlongley commented on #122
We could resolve a promise with a status (`success` being one ... and this `unknown` or whatever else being other options) -- or reject it with an error.

[2016-05-04 20:24] adrianhopebailie commented on #119
Resolved in PR #168

Awaiting proposals for transaction types, either per payment method or as a proposed change to the API

[2016-05-04 20:24] #119 closed, assigned to adrianba

[2016-05-05 14:02] #22 closed, assigned to adrianba

[2016-05-05 14:30] adrianba commented on #134
Fixed in 9c32ebc5e797c3a83828d86bc397cd534032ec14.

[2016-05-05 14:30] #134 closed, assigned to nobody

[2016-05-05 15:04] adrianba commented on #16
Here are my thoughts on this issue.

I interpret singleton in this context to mean that we use the same object for each payment request. This would mean that, if `navigator.payments` is the singleton object, then you could write `navigator.payments.addEventListener(…)` and this would fire for all payment requests.

The problem with this pattern is that you have to understand how to reset a payment

[2016-05-05 16:16] dlongley commented on #16
@adrianba,

3) When you want to override the factory method to return back a subclass of the original class that extends the original behavior in some way (or a different implementation for a common interface). In this case, no code that uses the factory needs to change, only the factory method gets updated.

I also like the idea of keeping new classes out of the global namespace (but this is not

[2016-05-05 17:09] adrianba commented on #16
How do you keep interfaces out of the global namespace?

[2016-05-05 17:16] dlongley commented on #16
https://dev.w3.org/geo/api/spec-source.html#geolocation_interface

`typeof Geolocation === 'undefined'`

[2016-05-05 17:30] adrianba commented on #16
@dlongley That's a singleton.

[2016-05-05 17:40] adrianba commented on #16
I think we're going to need to use the interface object for feature detection so we need to include it in the type system.

[2016-05-05 17:57] dlongley commented on #16
We can make `payments` a singleton that hangs off `navigator` like this new API does:

https://w3c.github.io/webappsec-credential-management/#interfaces-credential-manager

And then add a `createPaymentRequest` factory function to it that returns a `PaymentRequest`. An instance of `PaymentRequest` would not be a singleton. To check for feature detection you look for `payments` on `navigator` -- an

[2016-05-05 18:35] adrianba commented on #16
If you're adding `createPaymentRequest` then you don't need `payments`. Binary existence checking won't be sufficiently granular for feature detection as we evolve the API. This is why we need an interface to statically interrogate.

[2016-05-05 19:31] adrianhopebailie commented on #16
While more of s style argument I do think there is value in `navigator.payments` as a way of namespacing the payments functions.

Assuming we may have others like `registerPaymentApp()` in future it seems sensible to do this.

It's a personal preference and I'm open to being persuaded this is old-fashioned

[2016-05-05 20:31] msporny commented on #16
Upon re-reading all the threads, I don't think anyone proposed a singleton object with shared internal state as a solution? So, I see no support for that, which is good, because I think we're all in agreement on that point.

I think what's being proposed is this general shape:

### navigator.payment Proposal

[code]

### Example usage

To create a payment request, you do this:

[code]

instead of

[2016-05-05 20:37] dlongley commented on #16
@adrianba,

As we evolve the API in what way? Can you give some examples of what you'd like to query for (including non-binary checks)?

I'm also not convinced that it would be a good thing to have to interrogate an interface for things like 'requestPayerEmail'. In the future would I be checking for `requestPayerFoo`, `requestPayerBar`, `request_1`, ... `request_N`? If that's a possibility, that i

[2016-05-10 14:31] adrianhopebailie commented on #157
Raised priority as this has relevance to #15 and #154

i.e. if the mediator is going to alter the input data anyway then there is not a strong argument to pass a complete payment request into the API as a single parameter

[2016-05-10 14:38] ianbjacobs commented on #143
I believe this issue can be closed because the spec combined parameters 1 and 4 such that:
1) PMIs are used as keys for payment method specific data, and
2) Some grouping is possible (that is: you can say that some data applies to multiple payment methods):

 {
    supportedMethods: ["bobpay.com"],
    data: {
      merchantIdentifier: "XXXX",
      bobPaySpecificField: true
  }

Ian

[2016-05-10 14:38] #143 closed, assigned to nobody

[2016-05-10 16:31] rsolomakhin commented on #16
+1 to @adrianhopebailie on namespacing under `navigator.payments`. +1 and @adrianba to avoid factories. I would prefer something like this:

[code]

Then we can place new methods (e.g., registration) under the `navigator.payments` method as well.

[code]

[2016-05-10 16:32] rsolomakhin commented on #16
+1 to avoid singletons as well.

I realize that `navigator.payments.request()` in my previous example is really a factory because of absence of `new`.  I am OK with `new navigator.payments.request()` syntax as well.

[2016-05-10 22:51] adamroach opened #185 "Currency Types and Rendering"
I have some concerns with being able to sensibly render line items, especially with the “currency” field being _effectively_ free-form (the current version says that it may be but does not have to be an ISO currency code).

Simply stated, no one using a US locale checking out from a US store expects to see “58.73 USD,” and this will certainly confuse some people. They’ll want to see “$58.73”. But

[2016-05-10 22:52] adamroach opened #186 "shippingAddress and "c/o" field"
Do we need a "c/o" field? In some locations, mail will be delivered only if the known resident's name appears on the address label. Sure, people can hack this by providing it as part of the street address or business name, but since we're defining this greenfield, I think we should accommodate this in a semantically sensible way.

[2016-05-10 22:52] adamroach opened #187 "Update promise rejection"
The procedure in section 13.2 does not mention any processing steps in the case the update promise d is rejected. In this case, I think that the only sensible thing to do is to revert the change that the user made which triggered the event. This implies that payment apps must retain the state prior to the change that triggered the event so that it can be rolled back to.

[2016-05-10 22:57] adamroach opened #188 "Time validity of updateWith()"
I think this is probably what everyone has in mind, but we should be clear: updateWith() needs to be valid only during the event processing loop its corresponding event fires in. We want to make sure that the web page cannot update the value _except_ when the UI is frozen as described in updateWith() processing. (Race conditions between update and submit could end up being dangerous, especially wh

[2016-05-11 12:50] ianbjacobs commented on #186
Relates to issue #1.

Ian

[2016-05-11 12:52] ianbjacobs commented on #185
+1 to stating explicitly that the user agent must interpret any code matching an ISO (currency) code as the corresponding currency.

Ian

[2016-05-11 13:59] adamroach opened #189 "ShippingAddress versus Address"
The currently defined ShippingAddress interface contains several fields that semantically line up with many of the fields in the Address interface (https://www.w3.org/TR/geolocation-API-v2/#address_interface); however, most such names are unnecessarily different (with the term "region" meaning radically different things between the two interfaces).

This will lead to unnecessary developer confusio

[2016-05-11 16:19] rsolomakhin commented on #189
According to https://www.chromestatus.com/features#geolocation, Chrome implements https://www.w3.org/TR/geolocation-API/, but not https://www.w3.org/TR/geolocation-API-v2/, which includes the `Address` interface. Do other browsers implement it?

[2016-05-11 17:32] #1 closed, assigned to nobody

[2016-05-11 19:20] adrianba commented on #188
The spec already does this. You can only call `updateWith()` while the dispatch flag is set.

Recommend closing this issue.

[2016-05-12 09:01] adrianhopebailie opened #192 "Update "user accepts the payment request algorithm" to include interaction with payment app"
There is an inconsistency in the spec between the description of `PaymentResponse.details` and [user accepts the payment request algorithm](https://w3c.github.io/browser-payment-api/specs/paymentrequest.html#user-accepts-the-payment-request-algorithm)

The description of `PaymentResponse.details` includes the following:

However the algorithm is short on detail about:
1. How the user will select a

[2016-05-12 09:05] adrianhopebailie commented on #188
@adamroach is there a change in the spec that you had in mind or can I close?

[2016-05-12 09:31] adrianhopebailie commented on #187
@adamroach this processing is intended to happen before the user agent has passed the payment request to the payment app so payment apps are not involved in this processing at all.

However, I think this is still a valid issue for the editors to address:

Also, the case where d is resolved but is not a valid PaymentDetails dictionary

[2016-05-12 09:44] adrianhopebailie commented on #185
I believe this issue highlights the need for implicit display semantics where they are not easily implied. For valid ISO currency codes it is easy to imply how a number must be displayed however not so for other currencies.

This suggests we need a mechanism for the website to provide these semantics to the browser.

Would an additional, optional, property like `displayFormat` solve this? It could

[2016-05-12 11:24] tommythorsen commented on #189
I like the sound of approach number two -- renaming fields to have identical names. I don't think we should lock ourselves to having to use geolocation's Address interface directly, as some things, like the separation of street and streetNumber may turn out to be inconvenient. Being consistent with the naming of the Address interface, however, sounds like an excellent idea.

Where did "regionCode"

[2016-05-12 12:27] adrianba commented on #189
Geolocation v2 was abandoned a long time ago so there won't be any developer confusion. We acknowledged at the F2F that it would be possible to argue over field names, etc. for addresses pretty much forever, so we picked something that can work, based on another standard, and we should move on.

[2016-05-12 12:32] adrianba commented on #187
@adrianhopebailie, I believe this is all handled in the algorithm. It makes a rejected promise a no-op. It also extracts appropriate data from PaymentDetails and ignores other details.

As I said in mail, I disagree that _the only sensible thing to do is to revert the change that the user made which triggered the event_.

[2016-05-12 12:40] adrianba commented on #192
This is implementation specific and should not be further defined in this specification.

[2016-05-12 12:42] adrianhopebailie commented on #187
@adrianba are you asserting that there is no need to describe how the UA should behave in the case of a no-op? i.e. The UI stays as is (with current user selections) and the website is unaware that the browser didn't like the new payment details?

[2016-05-12 12:54] adrianba commented on #187
The web site is in control of what happens here. The code running is the web site's code. It is the web site that chooses to reject a promise and deal with the consequences. It is the web site that chooses what data to pass. It is the web site's responsibility to pass in data that satisfies the algorithm's checks. The web site has all the opportunity it needs to be aware of what it is doing.

What

[2016-05-12 13:35] halindrome commented on #189
Specifically, these came from the OASIS xAL - the extensible address language.  It is a fairly comprehensive solution that is used worldwide.  And I agree with @adrianba that we should just leave it and move on.  The names of these fields are largely unimportant.  What is important is that there is enough flexibility to deal with world-wide requirements.

[2016-05-12 13:42] adamroach commented on #188
Yes, on re-reading the procedure, I agree with Ade. This is taken care of already. We can close the issue.

[2016-05-12 13:44] ianbjacobs commented on #185
IMO this feels like it's too much for v1. We are talking about edge cases and I don't think we should focus on those right now.

Ian

[2016-05-12 14:06] adamroach commented on #187
Regardless of how we expect this to behave, it needs clear documentation.

I'm a little perplexed by what @adrianba is proposing here, though. Let's imagine that I'm running a website that can only ship to the US and Canada. I get a `PaymentRequestUpdateEvent` with a US address, and update my shipping methods and total appropriately. Then I get a `PaymentRequestUpdateEvent` with an address in Finl

[2016-05-12 14:21] #188 closed, assigned to nobody

[2016-05-12 14:28] adamroach commented on #185
To be clear, when I say "some mutually exclusive way to say 'this is not represented with an ISO code, but with a different identifier, which is XXX'", it could be as simple as requiring any non-ISO codes to be prefixed with a "+"; e.g:

[code]

[2016-05-12 14:31] dlongley commented on #185
I think non-ISO currency codes should be represented with a URL -- and that URL may, optionally, in the future, provide machine-readable information such as "displayFormat" to allow displayers to discover this information and properly display the currency. This approach allows us to largely ignore this issue for v1, but have a path forward for v2+.

[2016-05-12 14:35] adamroach commented on #185
I find this approach very appealing. +1

[2016-05-12 14:42] adamroach commented on #192
I agree that this is probably true for the first item ("How the user will select a payment app"), but I think the second and third items need addressing. It's not clear to me whether they go in here or in the payment app spec, though. (I think this highlights the importance of not advancing this spec ahead of the payment app spec, BTW, as we'll need to have things like this kept in sync between th

[2016-05-12 14:45] adrianhopebailie commented on #192
I strongly disagree with this, as the discussion around apps to date shows there is a strong desire to, at least, define standardized behavior of browsers to interface to payment apps over the Web.

Even if the details of the browser to payment app interaction is delegated to another document there remains an inconsistency between these two parts of this document which makes the whole flow unclear

[2016-05-12 14:48] dlongley commented on #192
I think "user accepts the payment request algorithm" may need to be renamed -- I agree with @adamroach that how the user selects a Payment App is likely implementation specific, but many of the interactions thereafter (with the Payment App) are not.

"User agent sends payment request message to Payment App and receives payment response message algorithm" is a bit lengthy, but that's really the par

[2016-05-12 14:56] adrianhopebailie commented on #185
:+1:

To be clear, is the suggestion that currency should be either a 3 letter code or a valid URL with the handling of the URL form to be determined in future?

Can I suggest that we allow 3-letter codes that are not necessarily valid ISO codes as these have become very common (XBT, BTC, ETH, LTC, XRP) and are pretty easy to display as is?

For valid codes that the browser recognises (i.e. doesn'

[2016-05-12 15:04] adrianba commented on #192
I believe the spec adequately addresses everything needed for a user agent to support payment apps. It deliberately doesn't need to specify what it means for a user to accept a payment request and whether this happens with an interaction to a payment app or through some other means. Once the user has accepted the request including picking and approving payment with a specific method then the algor

[2016-05-12 15:04] dlongley commented on #27
The more things we keep trying to add the more I tend to think that a better design would be to provide new elements/components that merchants can put in their website to simply customize their checkout page. For example:

[code]

This component could be provided by the browser (or a polyfill), it could refuse to give access to the site (to JavaScript) any of choices shown to the user until one is

[2016-05-12 15:11] dlongley commented on #185
@adrianhopebailie,

Yes.

I'm not opposed to this idea, I just don't know how you say whether or not a code fits into that grouping. Maybe we could specify them.

In terms of spec text this essentially would be something like: "If the currency does not have an ISO code, it SHOULD be represented by a URL" (not a MUST)?

[2016-05-12 15:14] ianbjacobs commented on #27
-1 to including generic UI bits in the API. I think that will make it harder to gain adoption on the browser side.

Ian

[2016-05-12 15:21] ianbjacobs commented on #185
It seems to me unlikely that browsers would dynamically support display of arbitrary strings or other items.

Therefore, they would likely need to have built in the support, and they would have researched how to provide that support. Thus, I think a URL in this situation is not likely to be superior to any other type of string since I doubt strongly it will be dereferenced by either human or machi

[2016-05-12 15:30] dlongley commented on #185
@ianbjacobs,

Payment Apps will also be displaying currency amounts. This isn't a browser-centric design. Browsers could just as easily treat URLs as opaque strings as 3-letter currency codes. If they recognize an opaque string (identifier) then they can do special display for it. This approach should place no burden on a browser but will also not limit the flexibility of Payment Apps.

To be clea

[2016-05-12 15:37] adrianhopebailie commented on #192
This is a fundamental departure from flow the group already agreed to. The user doesn't _approve the payment_ or _pick the payment method_ in the user agent.

The user _picks a payment app_ in the user agent, which may support multiple payment methods that are common to those supported in the request.

Only once the user is interacting with the **payment app** do they pick the payment method they'

[2016-05-12 15:43] adrianhopebailie commented on #185
@ianbjacobs if the URL dereferenced to a document that provided URL's for icons, regex for formatting etc I'd imagine they'd consider using these display hints.

We already have one browser that has expressed interest in the idea.

Ultimately this is just a display concern for the browser, it's the payment app that must actually make sense of the currency so as @dlongley says we should be careful

[2016-05-12 15:44] adamroach commented on #185
The issue there is that we're going to have some hard problems to solve if Bhutan ever changes their currency to a name starting with "C", or Ethiopia changes their currency to start with "H". I'll admit that it's pretty unlikely that Lithuania will get off the Euro any time soon, but there's still a matter of dealing with the distant future.

It's not elegant, but we can accommodate this set of c

[2016-05-12 15:46] ianbjacobs commented on #192
That is my understanding as well.

Ian

[2016-05-12 15:57] dlongley commented on #27
@ianbjacobs,

I'm not a fan of the "all or nothing" design approach. What if we got to REC and didn't specify how to collect some piece of information that is required but the available choices are dependent upon some other piece of information we _do_ collect via the API? Now that part of the API can't be sensibly used and has to be reimplemented on the merchant site.

Starting with a low-level d

[2016-05-12 16:17] dlongley commented on #46
This text was proposed as a set of requirements for content from resolved payment method identifiers:

[code]

[2016-05-12 16:22] dlongley commented on #11
Related to #46.

[2016-05-12 16:22] ianbjacobs commented on #11
Closed via
https://github.com/w3c/browser-payment-api/pull/183

[2016-05-12 16:22] #11 closed, assigned to adrianba

[2016-05-12 16:26] adrianba commented on #11
The spec previously included a [section on identifier requirements](https://rawgit.com/w3c/browser-payment-api/8ac108df86b27c183793af172bc5d92dd2799524/specs/method-identifiers.html#requirements-for-identifiers).

_Requirements for identifiers_

_This section is non-normative._

There are a set of requirements that the payment method identifiers are designed to support:
1. It must be possible for

[2016-05-12 16:42] davidlehn commented on #185
Etsy recently published a nice article about currency display.  It's more involved than a simple `displayFormat` field.  They leverage CLDR dataset formatting patterns for language + region + currency combinations.  It would be good if new currencies published similar CLDR data so existing formatting tools could be used.
https://codeascraft.com/2016/04/19/how-etsy-formats-currency/

[2016-05-12 18:41] #122 closed, assigned to adrianba

[2016-05-13 16:15] mattsaxon opened #194 "Should the browser pass user data it has collected (email etc) to the payment app?"
Now that the payment options field can include the request of the email and phone number information, we need to consider how that information might be made securely available to payment applications such that for payment applications that need this information, the experience can be optimised.

Example payment methods that have requirements for this data are UnionPay. This method can ask for a on

[2016-05-16 18:00] adrianba commented on #16
I've spent some time trying to change the proposals here into a pull request that I can live with but after looking at a couple of options I'm not currently a supporter of this change.

One goal of the current design is that using the constructor signifies lightweight object creation with no processing other than synchronous validation of the arguments. This means you can construct a `PaymentReque

[2016-05-16 19:51] rsolomakhin opened #195 "Terms and conditions next to "Pay" button"
We have received feedback from merchants that some countries may require to show "Accept [Terms and Conditions](https://example.com)" checkbox right next to the "Pay" button. Should we add a `termsAndConditions` field to `PaymentOptions`? This can be either a URL, plain text, or restricted subset of HTML.

Note, this is somewhat related to discussion in issue https://github.com/w3c/browser-payment

[2016-05-16 21:50] adamroach commented on #189
I'm a little perplexed here. Looking at the OASIS web pages, it would appear that it uses "country" rather than "regionCode", and "localityname" instead of "locality."  It also uses "thoroughfare" where we use "addressLines", and "organizationname" rather than "organization."

In particular, to the extent that I can find any reference to "region" or "region code" in _any_ OASIS documents, it appea

[2016-05-16 22:42] adamroach opened #199 "Storing card information"
The flow in the current "Basic Card" spec has an annotation to the effect of "Merchant can store card details for future use (aka 'card on file')."  I think this is actually behavior we want to discourage very strongly, rather than encourage.

The current web environment -- absent webpayments -- does lead to a situation where it is very much in merchants' interests to store credit card information

[2016-05-16 23:43] nickjshearer commented on #199
How would this work for merchants who were selling subscription services and wanted to still support basic card payments?

[2016-05-16 23:48] nickjshearer commented on #195
Presumably the API is triggered by some kind of action on the merchant's website...why can the terms not be displayed there? Why should the user agent assume the responsibility for displaying and ensuring a user has accepted a site's arbitrary terms and conditions when the website could do it prior to initiating a payment?

[2016-05-17 02:01] rsolomakhin commented on #195
That sounds logical, @nickjshearer. Let's get some merchants to try PaymentRequest with your recommended setup and see whether they find it acceptable.

[2016-05-17 02:05] rsolomakhin commented on #199
Both of you bring up good points. We can reword the phrasing to discourage storing credit card numbers, unless required for subscriptions.

[2016-05-17 02:10] rsolomakhin commented on #194
I don't think that the user agent should provide user's email address to the payment app. The payment app should ask for an email address when the user signs up with or logs into the payment app. This authentication step is necessary anyway, because a payment app will need to access user's payment information in some way. For example, connecting to user's bank account or entering user's credit car

[2016-05-17 02:33] rsolomakhin commented on #189
@adamroach Hm, you're right that we're only loosely based on xNAL, but I don't feel that any existing standards serve our needs exactly. For example, in issue https://github.com/w3c/browser-payment-api/issues/6 we've considered going with [IETF ECML](https://tools.ietf.org/html/rfc4112). However, that standard has a few issues. For example:
- It breaks down the name into several constituent parts,

[2016-05-17 03:03] adamroach commented on #199
@nickjshearer asks:

I think @rsolomakhin describes a good balance for basic card, at least for now (that is, unless we can come up with something better).

However.

In most discussions I've heard so far, basic card is treated as a transitional technology, which we hope will soon be supplanted by something inherently more secure, such as token schemes. By my understanding, these schemes do not ex

[2016-05-17 03:15] adamroach commented on #189
@rsolomakhin writes:

I'm happy to concede that two of the differences I'm highlighting are debating bikeshed colors, but there _is_ a major problem that we need to take care of.

On a quick survey of the various address format schemata I can find, and including the ones that I'm already familiar with, not a single one uses "region" as it is currently defined in our spec. It's confusing, incongruo

[2016-05-17 03:29] adamroach commented on #175
This issue ties in very closely with #185, and I think the proposal I make in there would provide a reasonably clear path forward. I'll reiterate them here:

If we can come to consensus around that as a general direction, I'm happy to draft text to this effect in the form of a PR.

[2016-05-17 03:39] maoyanhua opened #200 "Concern on Payment Method Identifier requirement"
Sorry for jumping into the discussion late in the game and my apology if the topic has previously been discussed already. Anyways, after reading the requirement on PMI I have the following concerns

The reality here is, payment method is rarely fully under one party's control. Just take a Visa debit card issued by citi bank for example. It is a collaboration between, visa, PCI and citi bank. On pa

[2016-05-17 03:44] nickjshearer commented on #195
Cool. If it turns out there's an issue we should revisit.

[2016-05-17 04:38] rsolomakhin commented on #189
I'm personally OK with `country`/`region`/`city` naming. Not sure how necessary is `careOf`. Can this information be placed into `addressLine` instead?

[2016-05-17 04:44] rsolomakhin commented on #199
As an example of other schemes handling recurring payments, Stripe's tokenized payments allow for [subscriptions](https://stripe.com/docs/api#create_subscription-source). Although it is Stripe that holds on to your information in this case, not the merchant. I'm not sure how that's implemented on Stripe side. In either case, the merchant should not be holding on to Stripe tokens.

[2016-05-17 06:31] mattsaxon commented on #199
There are various use cases for tokenisation and these are closely linked to the recurring payment use cases that are discussed elsewhere.

Certain scenarios, even with the use of tokenisation, require the merchant to hold the token. An example of a repeat payment where the billing points are driven by an adhoc trigger, e.g. Consider where the trigger occurs away from the web browser.

I dont beli

[2016-05-17 12:50] ianbjacobs commented on #194
+1 to distinguishing the data that the user will provide to different parties for different reasons:
- The merchant for that relationship. (This could further be broken down, e.g.,
   shipping agent, but I wouldn't advocate for that in v1.)
- The payment app for the relationship with the payment app provider.

@mattsaxon, it seems to me that if I install a China UnionPay app, I will give it my ema

[2016-05-17 13:00] ianbjacobs commented on #200
@maoyanhua,

Thanks for writing. One of the issues you raised (about subclasses) is covered in issue 30:
   https://github.com/w3c/browser-payment-api/issues/30

I've been trying to capture hte use cases here:
 https://github.com/w3c/webpayments/wiki/PMI_Notes

Regarding the point about minting identifiers, the group has recently resolved that payment method identifiers will be absolute URLs. (We'

[2016-05-17 13:04] ianbjacobs commented on #175
@adamroach,

I am ok with this and it seems developer friendly. Do implementers see too much parsing complexity?

Ian

[2016-05-17 14:35] adrianhopebailie commented on #157
Discussed during call on 12 May awaiting proposals to demonstrate both cases

[2016-05-17 15:10] adamroach commented on #189
@rsolomakhin

Sure, just like `organization` and `recipient` could be placed into `addressLine`. We're making semantic separation for those, though, and we're dealing with a green field, so it seems a bit odd that we'd leave off a common use case like the need to have a c/o line in some circumstances.

[2016-05-17 15:22] rsolomakhin commented on #175
Parsing this would be fine. We can improve the security of our
implementations by:
- Constraining to a reasonable length, for example 2048 bytes.
- Defining a format for the longer messages. For example, allowing only URL
  format.

--Rouslan

On Tue, May 17, 2016, 6:04 AM ianbjacobs notifications@github.com wrote:

[2016-05-17 16:08] rvm4 commented on #163
So then are we saying that there is a single ordering that is standard across all markets? I honestly don't know the answer here, but unless every market has the same expectations about the ordering of items we would need orderings to be re-orderable based on the billing address or something like that. Or...better markup of item type so browsers can do the regionally-appropriate thing.

[2016-05-17 17:50] ianbjacobs commented on #151
I propose that W3C not create a registry for payment method identifiers other than those that it mints via its own specifications.

Ian

[2016-05-17 17:53] ianbjacobs commented on #150
I am closing this issue because of the group's decision to adopt absolute URLs as payment method identifiers. I have not heard anybody propose that these identifiers must be dereferenceable. We are still in discussion about whether to provide any guidance when they are.

Ian

[2016-05-17 17:53] #150 closed, assigned to nobody

[2016-05-17 18:19] dret commented on #151
On 2016-05-17 10:50, ianbjacobs wrote:

but than that's still a registry only with a policy that only
w3c-produced specs will be allowed, right? that's definitely one way to go.

the question then is: what's the idea of how other payment identifiers
can be discovered. "not at all" is one possible answer to that,
something along the lines of:

"Payment Methods defined by W3C specifications will be

[2016-05-17 18:28] ianbjacobs commented on #151
We could say that in the spec. But I think saying nothing in the spec is equivalent.

Ian

[2016-05-17 18:30] dret commented on #150
On 2016-05-17 10:53, ianbjacobs wrote:

sounds good. two comments:
- using URIs as identifiers solves the name clashes problem, but not the
  "how to discover identifiers" problem.
- you might want to add something like: "Specifications establishing new
  Payment Methods and minting Payment Method Identifiers URIs should
  consider making useful information available at that URI, such as links
  t

[2016-05-17 18:32] dret commented on #151
sometimes being explicit about "saying nothing" is more helpful than
leaving it to exegesis later on. but technically you're right.

[2016-05-17 18:35] ianbjacobs commented on #150
That's the open question for the WG: should we include that, or something else that is stronger, or nothing.

Ian

[2016-05-18 08:26] adrianhopebailie commented on #163
The ordering decision is made by the website. It submits the list of items in the request.

In that context I'd say that the website needs to be aware of any local requirements or norms in the same way as it must know what language to use, there is no requirement on the user agent to know this or do any ordering.

I suggest we can close this issue.

[2016-05-18 10:11] adrianhopebailie commented on #185
- 1 @davidlehn - I think we could get to that in future (where the website provides formatting hints to the browser) but for now I think we can keep it simple and follow the proposal from @adamroach above.

[2016-05-18 10:12] adrianhopebailie commented on #185
@adamroach I like your proposal but would not limit the list of "+" prefixed currencies to a known list.

If the browser is going to simply use the 3 letter code for display then it should accept any 3 letter code.

[2016-05-18 10:18] adrianhopebailie commented on #2
A proposal is required for how the API may be safely exposed in lower level contexts (like iframes)

[2016-05-18 10:28] adrianhopebailie commented on #10
The group has resolved to use absolute URLs as identifers and is now awaiting a proposal for how short-form identifiers may be implemented

[2016-05-18 13:20] ianbjacobs commented on #185
@adrianhopebailie,

The issue with "any non-standard 3-letter code" is that it can lead to name collisions on the Web.

If we don't worry about that, then drop the URL part of the proposal because we no longer need it.

If we do worry about that, then keep the URL part of the proposal.

Ian

[2016-05-18 14:16] ianbjacobs commented on #154
I propose we close this issue which I believe is mostly redundant with issue #157.

Ian

[2016-05-18 14:21] ianbjacobs commented on #103
While I believe the mediator is the primary entity that will match identifiers, I propose that we define the matching in the PMI spec. The complexity of the matching algorithm will depend on the semantics we build in (e.g., grouping and subclassing will increase the complexity).

[2016-05-18 14:25] rsolomakhin commented on #10
I think short-form identifiers can be relative URLs under W3C control. For example,
- `visa` -> https://w3c.org/payments/visa
- `amex` -> https://w3c.org/payments/amex
- etc

So `[SHORT-FORM]` is a shorthand for `https://w3c.org/payments/[SHORT-FORM]`.

[2016-05-18 14:27] ianbjacobs commented on #45
I propose we close this issue. We have picked absolute URLs for PMIs. We have decided not to require JSON-LD in the paymentRequest specification. There were no objections to publishing a "how to use JSON-LD with this API" spec. If the question comes up concretely in the context of the HTTP API spec, we can address it there.

Ian

[2016-05-18 14:28] adamroach commented on #185
+1 to @ianbjacobs' point, which I was about to make.
1. If we care about uniqueness and don't want a known list of non-ISO currencies, all we need is ISO codes and URLs.
2. If we don't care about uniqueness, all we need is ISO codes and something like the "+XXX" format.
3. If we care about uniqueness and want a published list of non-ISO currencies, we need all three.

I'm hearing @adrianhopebailie

[2016-05-18 15:51] dret commented on #10
On 2016-05-18 07:26, Rouslan Solomakhin wrote:

just a historical note: this is exactly what RFC 4287 did, and it turned
out that allowing two ways to identify the same thing was not very
robust. implementation support was just not good. so RFC 5988 ended up
deprecating this, and went back to only allowing one lexical identifier.
i think that was a smart decision. allowing aliases always is a tric

[2016-05-18 15:53] dret commented on #10
On 2016-05-18 03:28, Adrian Hope-Bailie wrote:

why would you want those? i would recommend to not use those as
"shorthand aliases", as mentioned in a previous comment.

if you want them as "short names", then maybe allow each URI to be
associated with such a short name, but then you once again have the
trouble that you probably need some sort of registry to keep track of
them, prevent name clashe

[2016-05-18 15:57] dlongley commented on #185
+1 to option 1 or option 3

[2016-05-18 16:17] adrianhopebailie commented on #185
I think we are conflating two issues.

Issue 1 is the need for browsers to recognize the currency identifier so they can provide an appropriate display. That means they need to know what symbol to use, where to put it and how to format the numbers. A lot of this is actually tied to i18n stuff (not just the currency).

Issue 2 is the need to allow the ecosystem to introduce currencies without needi

[2016-05-18 16:59] adamroach commented on #185
@adrianhopebailie writes:

Sure. And that's what @dlongley suggested up-thread: the URL can resolve to a document that describes these display hints. Because, honestly, I'm not sure "XBT" is going to mean much to most people.

This might mean defining at least a primitive (and extensible) format for that document sooner rather than later, but I think that's okay. Clearly we'll want something more

[2016-05-19 11:31] adrianhopebailie commented on #16
@adrianba - This makes sense to me, I am happy to leave this as is.

[2016-05-19 12:15] adrianhopebailie commented on #195
I think this will actually be handled by the payment app. Payment apps will need to be aware of the specific jurisdictional requirements to process payments online for whatever payment methods they support.

If there is a requirement for the merchant to provide terms and conditions (a URL) so that the payment app can display this link when the user auths the payment then I'd expect that URL to be

[2016-05-19 12:28] adrianhopebailie commented on #199
👍 to @mattsaxon

I'd be loathe to be too restrictive in the basic card spec because as @adamroach points out this is intended to be an interim step to bootstrap the system. (I originally proposed that we call it "Legacy Card Payments" to indicate this).

Any merchant that implements a website supporting this payment method will be subject to PCI DSS restrictions anyway so I'm not worried that they

[2016-05-19 12:44] jnormore commented on #4
What's the goal of providing the different amounts up front (on init) like the proposals here? Is it to give user agents the ability to display the amounts alongside each payment option before any are selected by the user? If not, then reducing the complexity of the initialization params would be preferable IMO and give the merchant flexibility to control price dynamically at payment app selection

[2016-05-19 12:48] adrianhopebailie commented on #200
@ianbjacobs I think this issue is worth keeping open to get clarity discuss the different requirements of **owning** a PMI for the sake of dereferencing vs matching.

By that I mean, for the URL http://example.com we can assume the **owner** of the URL is the owner of the domain example.com but that doesn't mean they also **own** all of the payment method specs that use that URL as a PMI.

If that

[2016-05-19 12:52] adrianhopebailie commented on #154
I agree that the crux of what is here is dealt with in #157

[2016-05-19 12:52] #154 closed, assigned to nobody

[2016-05-19 15:38] maoyanhua commented on #30
I do think an 'non supported' case is common. for example merchant may not accept certain card brand, e.g., amex due to high transaction cost.

[2016-05-19 15:41] adamroach commented on #30
Presumably, they wouldn't indicate American Express in the list of supported payment types.

[2016-05-19 15:43] maoyanhua commented on #200
@ianbjacobs  I think #30 is slightly different from my concern here. in 30, we talked about subclassing/hierarchy, which to me implies a tree structure. what i think is certain properties, such as card network (visa vs master) and card type (debit vs credit) are orthogonal dimensions

[2016-05-19 15:49] maoyanhua commented on #30
as discussed above, there are so many card brands out there, in practice it would be difficult for the merchant to specify _ALL_ brands they accept. In many cases, merchant usually say "we accept all major credit cards except amex". In implementation, usually translate into:

[code]

[2016-05-19 15:54] adamroach commented on #4
That's certainly something I (in my role as a consumer) would want. When I'm selecting a payment method, if the amount I'm paying varies based on that method, that's going to frequently be far more important to me than the affiliation of the payment provider.

[2016-05-19 17:06] ianbjacobs commented on #185
PROPOSED:
- ISO
- +NNN for well-known non-ISO codes
- Behavior for other strings is undefined

Rationale:
- I expect the "others" to be edge cases
- Leaving behavior undefined allows experimentation, including using URLs.
- If we were to specify URLs there would be a push to specify what user agents find when they dereference them. I feel like is likely a complex topic that, for edge cases, would

[2016-05-19 17:08] adamroach commented on #185
To be even more precise: it would be invalid to use a string of (length == 3) unless it is an assigned ISO code.

[2016-05-19 17:14] #186 closed, assigned to nobody

[2016-05-19 17:14] #189 closed, assigned to nobody

[2016-05-19 17:15] dlongley commented on #185
-1 to undefined behavior. We've gotten away with specifying URLs for identifiers before without having to say exactly what's at the other end when you dereference. Let people experiment with that.

[2016-05-19 17:16] dlongley commented on #185
+1 to this -- if we don't, could be a pretty financially costly mistake when ISO defines a code that was in use w/this API as some other non-ISO currency.

I still think we should be using ISO or URLs -- what if ISO adopts four letters in the future? I doubt they will adopt URLs, but if they do, that's not a problem. This is the Web -- we should be using URLs for identifiers.

[2016-05-19 17:18] #16 closed, assigned to nobody

[2016-05-19 17:26] ianbjacobs commented on #185
@adamroach,

Agreed.

@dlongley,

Specifying URLs without specifying what happens does not increase likelihood of interop. I don't think this WG should specify what you find at the end of these URLs.

Therefore I want to enable URLs (for experimentation) but not go so far as to require that all "other" strings be URLs.

Ian

[2016-05-19 19:34] adamroach commented on #185
@ianbjacobs

Sure, but it eliminates the chance of collisions.

[2016-05-19 19:46] ianbjacobs commented on #200
@adrianhopebailie,

I do not understand from what you wrote why we need to keep the issue open. I agree with the following statements:
- A payment method (note "method" not "method specification" here)  may be identified by more than one PMI.
- A payment method specification may be referenced by entities who do not control that specification.
- The matching algorithms we have been discussing do no

[2016-05-19 19:48] ianbjacobs commented on #185
@adamroach,

Anyone who wants to avoid those collisions can do so by using URLs.

Summary: I think requiring all unknowns to be represented by URLs would be premature at this point. By saying "undefined" now we can do two things:
- let people use URLs who want to
- the ability to change the spec in the future to require all unknowns to be expressed as URLs if that turns out to be useful. That is:

[2016-05-20 01:53] sideshowbarker commented on #10
It’s unlikely the W3C will agree to host URLs for these identifiers if they’re meant to be resolvable. For some insight into why, see https://www.w3.org/blog/systeam/2008/02/08/w3c_s_excessive_dtd_traffic/

There’s no reason why the identifiers would need to be under W3C control. If the WG decides they want to use URLs, the WG should mint any domain name(s) needed for hosting them, and put togethe

[2016-05-20 22:30] nickjshearer commented on #195
I don't necessarily agree with the idea this should be handled by the payment app, but I do agree it's something we can revisit at a later date and this issue could probably be closed off for now.

[2016-05-21 11:03] tjconcept opened #203 "Why another API?"
The goal, the idea, and the different data structures of this specification is looking really good.

However, I do not understand why this has to be a new browser API.
With browser crypto capabilities and cross-domain/cross-window communication I think it should be possible to create a "wallet" as an offline-capable web application.
I have been playing with the idea but hit some bumps in the commu

[2016-05-21 14:05] ianbjacobs commented on #203
@tjconcept,

We distinguish the wallet part (which we will also work on and are calling "payment apps") from the role of the browser to display the user's available payment methods (which payment apps will support).

paymentRequest() only addresses the basic function of the browser as mediator, and what's different from existing APIs is that the browser will display native chrome, which should mak

[2016-05-21 14:19] tjconcept commented on #203
@ianbjacobs, thanks for your response.

I fear this is putting unnecessary responsibilities on browsers and browser vendors (which is never good) unless some basic functionality is needed that is not currently available to web applications. And then I would rather have vendors focus on those fundamentals. Like for instance better inter communications.
Is this an invalid concern?

[2016-05-21 20:54] ianbjacobs commented on #203
@tjconcept,

I believe that browser vendors are particularly interested in this work (judging by who has joined the Working Group). And, as I mentioned, the behavior we are working on is not currently standardized on the Web, so it is not currently available to Web applications.

Do you mean "fundamentals for payments"? What are the fundamentals you have in mind?

Of course, there's a lot of work

[2016-05-21 22:42] burdges commented on #203
Imho, there is exactly one real social value provided by a browser API over payment apps using existing methods, like browser extensions.

At some point, the user must choose what payment app with which to pay.  If we've no browser API, then that means payment apps must somehow notify the merchant that they are installed, which leaks one bit of identifying information per likely payment app.  This

[2016-05-22 13:54] pazguille opened #204 "Should the amount be in decimal or cents?"
The spec says the amount should be:

I think use amount in cents is better than decimal because different countries officially designate different symbols for the decimal mark. For example, German and Spanish use comma as decimal separator and period for thousands.

[code]

Also, the following Payments API use amount in cents:
- https://stripe.com/docs/api#charges
- https://dev.recurly.com/docs/cr

[2016-05-22 15:43] rsolomakhin commented on #204
Thank you for the suggestion.

#### Cents vs Dollars

We are not using cents because we want to be compatible with such standards as [ISO 20022](https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/datatypes/_YX4O9tp-Ed-ak6NoX_4Aeg_-836081793), which allows up to 5 fractional digits. We can express $50.001 as `"value": "50.001"`, but your proposal would result in `"value": "

[2016-05-22 15:44] tjconcept commented on #203
@ianbjacobs

Yes, that's something which frightens me. Soon we'll have browsers fighting with payment methods, using devices as leverage and cutting deals with banks.
Providing an alternative browser experience gets ever more difficult.

No, exactly not "for payments". Payments are just one thing - and it seems if we have a browser API for that, then were do we stop?

We _do_ need multiple competi

[2016-05-22 17:00] adamroach commented on #203
@tjconcept writes:

Representing a browser vendor, this is something that worries me also. It is a major reason that I see the Payment Request API as fundamentally inseparable from the Payment App API. The result of this WG's effort really needs to be a level playing field for payment providers, and the best way to ensure that is to have a uniform and nondiscriminatory way for payment apps to regi

[2016-05-22 17:01] burdges commented on #203
Actually, the browser version number should not be considered a browser differences available for fingerprinting.  It is of course, but it's unavoidable.

We should obviously not allow anything into this API specification that allows for fingerprinting beyond the browser version number, even if the wallet app is a hostile tracking application.  It appears a some active participants were conscious

[2016-05-22 18:05] dlongley commented on #203
@adamroach,

Yes -- and I think ensuring that we have a minimal API for merchants to call to get their payment request message to the user's Payment App of choice is important. This is another reason I prefer providing low-level, scope-limited, composable, reusable APIs and UI components.

I'm fine with browsers offering their own composition of these things in a special browser UI that covers the

[2016-05-22 20:24] adamroach commented on #204
@pazguille

That would leave us in the odd position of having to decide exactly which currency unit we're using for each currency. The major unit -- dollar for USD, yen for JPY, krona for SEK -- is pretty unambiguous. But minor units become tricky. In your proposal, does SEK use krona or the (functionally deprecated but still legal) öre? Is the number for JPY in yen, sen, or rin?

Even harder: for

[2016-05-22 21:11] dlongley commented on #204
@adamroach,

+1 to everything you said, however:

I think this may be better stated by indicating there's almost always trade offs in design decisions, and avoiding some potential amount of period/comma confusion in the currency amount by omitting it and adopting minor units results in far worse trouble.

[2016-05-22 21:51] tjconcept commented on #203
@adamroach writes:

Yes and no. This is a concern I indeed have been thinking about. Mostly (honestly this is just a guess) cross-origin protection is about webpage A not being able to act on behalf of or impersonate you on webpage B.
What I suggest (I am just putting out an alternative idea) is merely about communication over a new channel - which does not resemble posting forms or requesting stu

[2016-05-23 13:05] adrianhopebailie commented on #203
@tjconcept the handling of a payment request requires three parties on the Web: the initiator (merchant/payee), the payment app (user/payer) and a mediator.

This is the case today because there is not universal or open payment protocol (like HTTP for payments) that all participants have implemented.

It's necessary therefor for the payment request to list out all of the payment methods that the p

[2016-05-24 08:16] burdges commented on #192
It's important the user picks the payment app because uninvolved payment apps should not be notified that a payment is taking place.  Anything else becomes a security nightmare.

[2016-05-24 08:30] adrianhopebailie commented on #204
@pazguille this was discussed at length in the group and the conclusion was to use the format as currently described.
- https://github.com/w3c/browser-payment-api/issues/14
- https://github.com/w3c/webpayments/issues/57
- https://github.com/w3c/webpayments/issues/40

[2016-05-24 08:30] #204 closed, assigned to nobody

[2016-05-24 08:32] #203 closed, assigned to nobody

[2016-05-24 09:47] adrianhopebailie opened #205 "PROPOSAL: Payment Method Identifiers taking advantage of URL characteristics"
The group has resolved to use absolute URLs as PMIs. We should consider taking advantage of some of the additional characteristics of URLs then rather than continuing to match them purely as strings.

Parsing URLs is a simple process and is well-defined in [RFC 3986](https://tools.ietf.org/html/rfc3986). Rather than allowing the use of ANY URI we could also place some additional constraints on the

[2016-05-24 09:48] adrianhopebailie commented on #200
Addressed in the following proposal: https://github.com/w3c/browser-payment-api/issues/205

[2016-05-24 09:48] #200 closed, assigned to nobody

[2016-05-24 09:50] adrianhopebailie commented on #27
Postponed for reconsideration based on feedback per group resolution on 19 May call

[2016-05-24 09:52] sideshowbarker commented on #205
I think it’s not actually such a simple process, and if you want to have URL parsing that’s closer to being interoperable with how browsers actually parse URLs the spec to conform to is the current [URL Standard](https://url.spec.whatwg.org/).

[2016-05-24 09:57] sideshowbarker commented on #205
As I’ve explained in multiple other comments so far, it would be a mistake to assume that the W3C will agree to host URLs for the WG for these resources. The WG instead should consider taking responsibility on its own for setting up a hosting plan for them that does not involve the W3C continuing to have to troubleshoot any issues or downtime related to them and that does not involve the W3C conti

[2016-05-24 12:49] adrianhopebailie commented on #205
:+1: - this was just an example

[2016-05-24 20:06] adrianhopebailie commented on #187
@adrianba and @adamroach - quick reminder that you intended to discuss this offline of the call and see if you could come up with a solution that you both agreed on.

I am dropping from discussion on the calls for now

[2016-05-24 20:15] adrianhopebailie commented on #185
We ran out of time discussing this on 19 May.

Summary of discussion is:
- ISO codes have implicit UI hints for browser (combined with locale info) so these provide enough for common currencies
- To get uniqueness we need URLs or similar so that anyone can define a currency (crypto-currencies, loyalty points etc)
- Proposal to resolve a resource from URL that provides UI hints potentially introduc

[2016-05-24 20:20] adrianhopebailie commented on #19
Closing as suggested on 10 April as there have been no objections

[2016-05-24 20:20] #19 closed, assigned to nobody

[2016-05-24 20:29] adrianhopebailie commented on #10
If we can come up with a better way to reduce the verbosity of PMIs when there are multiple sub-classes (like the many card brands for the card payment method) do we even need short dientifiers?

I have proposed using query string parameters in #205 which could mean using:
`http://webpayments.org/card/?card-types=[visa,mastercard,amex,diners,jcb]`
Instead of:
`http://webpayments.org/card/visa, htt

[2016-05-25 01:31] rsolomakhin commented on #29
+1

[2016-05-25 01:43] rsolomakhin commented on #173
The data inside of `response.details` is app-specific. The app can put whatever it wants there and document it via their own spec, like [Basic Card Payment](https://w3c.github.io/browser-payment-api/specs/basic-card-payment.html).

If the website wishes to receive shipping address from the app instead of the browser, then it should not request shipping information from the browser.

[code]

This c

[2016-05-25 02:46] dret commented on #10
On 2016-05-24 23:04, Adrian Hope-Bailie wrote:

in some cases (see RFC 5988 as an example) people like to separate the
identifier namespace into "well-known" (short names that need to be
registered and thus can be used safely) and "extension" (full URIs that
are not supposed to be registered and thus can be used freely and
openly). that's of course just one possible reason of why people might
like

[2016-05-25 18:10] burdges commented on #194
Any information provided by the browser like this would violate security properties of some payment apps.

[2016-05-26 14:42] msporny commented on #10
The more I think about this, the more I prefer not attempting to do aliases in v1. Aliases are an optimization that we'll have to figure out how to do in the future (if we find that developers really hate using URLs to identify payment methods). We should have a more complete catalog of all the different PMIs before we try to create single PMI aliases or group PMI aliases.

[2016-05-26 14:49] dret commented on #10
On 2016-05-26 16:42, Manu Sporny wrote:

definitely repeating myself here but here we go: aliases are a bad idea
to begin with. even if you started from day 1 you would end up with
implementations that only support/understand the version of the aliased
identifier the developers cared about.

if you introduce aliases later on it gets worse: you'll have deployed
software only supporting the canonica

[2016-05-26 15:00] msporny commented on #30
In general, -0.75 for any sort of grouping semantics in version 1 (we can add this later in v2).

The exception to the above is if we can get a fairly comprehensive list of all payment methods we're going to support in v1 (which I think would be very difficult). If we're going to support grouping semantics, we're going to have to either ask the card brands to manage that, or we're going to have to

[2016-05-26 15:04] dlongley commented on #30
+1 to letting third party libraries figure this out for v1.

[2016-05-26 15:08] adamroach commented on #205
@adrianhopebailie --

I don't think this is what we want.

The rationale behind using URLs for identifiers, as I understand it, is to allow for decentralized allocation of identifiers without an authoritative registry. This only works if the identifiers are scoped in some way to the entity performing the allocation. If we ignore the hosts during matching, then we will easily end up with different

[2016-05-26 15:16] msporny commented on #205
-1 to the proposal (sorry, AdrianHB). I do think your proposal does provide a way of addressing this issue of large lists of PMIs in the messages, but I'd rather kick that particular can down the road by not creating a complex algorithm to do matching (yet). Let's deploy with the large lists of PMIs and see what feedback we get from the developer community. I think that many won't care as long as

[2016-05-26 15:18] msporny commented on #205
Big -1 for any use of /.well-known/, btw - having deployed some web payments stuff on top of /.well-known/, it always felt like a hack (there are better ways to do /.well-known/).

[2016-05-26 15:23] dlongley commented on #178
Related to #3.

[2016-05-26 15:25] dlongley commented on #178
Seems like the information required for DCC should be payment-method specific data and we could let Payment Apps handle it. Especially since payment instruments are their domain and there is card type specific disclaimer text and so on.

[2016-05-26 15:26] adamroach commented on #205
@msporny --

Agreed with not using /.well-known/. The idea behind /.well-known/ is that you can, given (only) an application and a domain, access the resource at that domain that corresponds to the application. When you can pass full URLs around, it's much architecturally cleaner to pass full URLs around. This is true not just for payment apps, but in general.

[2016-05-26 15:27] ianbjacobs commented on #30
I just attended the Card Not Present Expo this week. The more I speak with merchants and PSPs, the more I hear they would value grouping/subclassing.

Ian

[2016-05-26 15:30] msporny commented on #185
For version 1:
- +1 for ISO codes
- +1 for URLs (for non-ISO currencies). How to display these is unspecified and up to the user agent.
- -1 for any new microsyntax for currencies

[2016-05-26 15:32] dlongley commented on #185
I think in v1 we should just have payment mediators (e.g., browsers) innovate with respect to displaying unknown currencies. They can provide a link to click on, they can indicate that the currency may be displayed in their Payment App -- or something more clever. In the future we can define machine-readable properties that can be retrieved from currency URLs to get display information.

[2016-05-26 15:38] adamroach commented on #185
@dlongley

If the identifier is potentially a URL and there is no structure or other information to indicate what a human might call the currency, this may not be something that can be done sensibly. I'm trying to imagine our UX folks' response to this "well, just innovate!" suggestion, and... the discussion I envision doesn't go well.

[2016-05-26 15:41] dlongley commented on #185
@adamroach,

What would implementations do if they could not, for whatever reason, retrieve the display information from a currency URL that was never previously retrieved and was not well-known? This case still has to be considered as it may occur even if we are to specify how to model the display information. I don't think the ability to pay should be denied, particularly if as soon as the Payme

[2016-05-26 15:42] ianbjacobs commented on #205
-1 to  /.well-known. I prefer that we not tell people how to organize their Web sites.

We have discussed a few key topics: extensibility, syntax, grouping, aliases, and dereferencing.

Here's my current understanding:
- Extensibility. Closed since we picked URLs
- Syntax. Mostly closed since we picked URLs, but we may say more if we include grouping/subclassing semantics.
- Dereferencing. I have

[2016-05-26 15:46] ianbjacobs commented on #185
- +1 for requiring conforming software to handle any 3-letter string that is an ISO currency code as such. I haven't heard anyone say otherwise, so I think we should RESOLVE this.
- +1 for +ABC for commonly used but not yet standardized codes. The WG would define a small number of these. I can live without this, however.
- Treat other strings as "undefined." This allows people to experiment with U

[2016-05-26 15:52] msporny commented on #4
One of the hard lessons we learned from the RDFa and Microdata standardization effort was that people (developers) have a hard time keeping state information in their head. Yes, I know that seems obvious, but you tend to forget about this when you're designing specs. If your data structure requires the developer to understand some sort of state machine (and the transitions that the state machine c

[2016-05-26 15:58] fredMeignien commented on #178
In most cases, DCC is achieved through a message flow between the Merchant PSP (acquirer) and the DCC provider chosen by the acquirer. At the acceptor level (thus for the customer), there are the following impacts: 1/ there is an intermediary pseudo payment response displaying to the customer the exchange rate conditions and asking him whether he is OK or not for DCC.  2/ If he is consents to the

[2016-05-26 16:05] adamroach commented on #4
I do like this approach, particularly because it solves the "different amounts for different methods" issue at the same time as providing an obvious solution for having different currencies available (i.e., it can be trivially used to address issue #3)

[2016-05-26 17:38] adrianhopebailie commented on #30
I am hearing increasing interest in having grouping semantics to support real-world use cases however there have been a number of members that feel we shouldn't do this in v1.

Unless I have missed it I don't think anyone opposed to grouping has said why. Can those opposed to grouping provide some reasons why?

[2016-05-26 18:07] rsolomakhin commented on #4
The approach by @adrianhopebailie is good. Keep in mind that the merchant will need to know the type of method currently selected when the user changes their shipping address and option, because the merchant needs to update the total price using `e.updateWith()` call. Therefore, we should place `methodName` property into `PaymentRequest` interface.

[2016-05-26 18:12] rsolomakhin commented on #178
+1 to keep the PaymentRequest simple and let the app handle this.

I would prefer this extra step to be handled around PaymentRequest, either in the website or in the payment app.

[2016-05-26 18:22] rsolomakhin commented on #205
Sounds like we can move forward with exact matches and continue thinking about subclassing and grouping.

[2016-05-26 18:24] adamroach commented on #30
@adrianhopebailie

Sure; that's easy: if the list of potential identifiers that people want to use is manageable (such as the [list Zach proposed](https://lists.w3.org/Archives/Public/public-payments-wg/2016May/0018.html)), adding a grouping mechanism is a fairly complicated task. Simply enumerating supported types is much simpler to specify, much simpler to implement, and much simpler to use.

On

[2016-05-26 18:34] ianbjacobs commented on #205
I want to ruminate this week and next on a hybrid approach that gets us part of the way there simply, and allows for some experimentation. That's vague. :)

[2016-05-26 19:57] adrianhopebailie commented on #178
+1 but we do need to ensure that we have the minimum data in the initial request to meet various legal requirements

[2016-05-26 21:42] adrianhopebailie commented on #4
@msporny are you suggesting that we drop the `total` from the `PaymentDetails` object completely and move it to `PaymentMethodData`?

So the example in the spec becomes:

[code]

[2016-05-26 21:56] adrianhopebailie commented on #30
@adamroach I think we are tending toward something like what @mattsaxon pointed to and much much more.

This is only limited to card payments and there are already too many to justify needing to explicitly name them all.

Consider that third party payment apps will allow payments on this API that are completely outside the current payment ecosystem and may have semantics we can't even consider tod

[2016-05-26 21:58] adrianhopebailie commented on #185
I don't think we can leave this with no hints for the browser about how to display non-standard currencies. I am 👎 to what's been proposed so far until we can address that.

[2016-05-26 22:12] ianbjacobs commented on #185
I believe that “how to display non-standard currency” is both low priority (since by definition an edge case) and also beyond the remit of this group (notably, according to our charter we should not be defining UI).

I distinguish “how to display something” from “information necessary so that a user agent can make display decisions.” I think there will be some cases where we do the latter, but “ho

[2016-05-26 22:37] adrianhopebailie commented on #185
@ianbjacobs said:

This is splitting hairs. Call it what you will, our API doesn't fully support non-standard currencies unless we provide a way to help implementors displayed them properly to users so I wouldn't consider this low priority.

I don't consider a hard-coded short-list as support when there are hundreds of crypto-currencies in use today and new ones being invented all the time.

There

[2016-05-26 22:45] ianbjacobs commented on #185
@adrianhopebailie ,

I want to distinguish:
- The standard remaining silent on how to support non-standard currencies, from
- The ecosystem being able to deal with non-standard currencies.

I don't want to prevent people from being able to deal with it. I just don't think we should
specify:
- How to display non-standard currencies (which I'm sure is a huge topic
  that I continue to think is out o

[2016-05-26 23:32] rsolomakhin commented on #185
+1 to not specify how to display currencies.

From standpoint of validation, I preferred "[A-Z]{3}" for currency codes. However, I am OK with free-form strings, including URLs, if the community decides that's for the best. I would prefer some length limit, if possible. How about 2048 bytes?

As far as URLs go, it would be nice to present them uniformly across browser vendors. However, presentation

[2016-05-26 23:34] rsolomakhin commented on #178
I got the impression that adherence to legal requirements is slated for v2. That is, if a legal requirement is blocking a website from adopting PaymentRequest, the website should submit an issue/pull-request here and wait for it to be adapted. How does that sound?

[2016-05-27 04:11] fredMeignien commented on #178
DCC is not major priority. I think we should ensure a robust API first, and see later on which enhancements are the most expected by the market : there are also lots of needs around pre-auth and multi-steps payments. As I worked quite a lot on DCC for a new ISO20022 card protocol, I'll send the list of data that should be present in the final payment response to comply with regulations. However, i

[2016-05-27 06:39] tommythorsen commented on #4
Bear in mind, though, that the user agent may not be able to present these amounts to the user. The choice between payment methods may have to happen inside of the payment app. The reason for that is that as per the current spec proposals, the user picks the payment _app_, not the payment _method_ in the user agent. If we consider Adrian's example above, the user could have installed a single paym

[2016-05-27 07:46] tommythorsen commented on #185
+1 to not specify how to display currencies.

My preference would be to keep things simple and go with something like "[A-Z0-9]{3-10}" (similar to @rsolomakhin's preference, but allowing for the often longer symbols in [this list](https://coinmarketcap.com/currencies/views/all/)).

-0.5 to mandating URLs for non-ISO symbols (although, like @rsolomakhin, I'm ok with free-form strings that might hap

[2016-05-27 11:10] rlovetx commented on #178
The additional data required by all credit card schemes that offer DCC are the base/merchant currency, base/merchant currency amount, foreign exchange rate and a DCC flag.
Most multicurrency pricing products need the same data to support Treasury/settlement (minus the DCC flag). The Acquirers generally want this info as well as Treasury partners such as ourselves (otherwise transactions are foreig

[2016-05-27 14:01] adrianhopebailie commented on #4
Correct! Maybe the selector can show a range next to each app?
- Pay with App1 ($49 - $50)
- Pay with App2 ($52)
- Pay with App3 ($49 - $50)

[2016-05-27 14:40] adrianhopebailie commented on #185
@ianbjacobs said:

This is in scope because the spec defines features that require implementors to display amounts (display items, shipping costs, etc). The ecosystem can't use non-standard currencies as a result of the mediator having a requirement to display amounts.

In an ideal world the only entities that need to understand what a non-standard currency identifier means would be the merchant a

[2016-05-27 15:42] ianbjacobs commented on #185
@adrianhopebailie,

We are not specifying any display behavior for any currency, however that currency is identified (ISO Code or otherwise).

@tommythorsen said:

@adrianhopebailie said:

@rsolomakhin's next sentence is "However, presentation is largely out of scope of this specification. "

I believe it would be a major rathole for this group to go down the path of actually specifying "how to di

[2016-05-27 16:28] adrianhopebailie commented on #178
On the back of the comments in this thread I believe that DCC is something that is payment method specific which implies it should be handled via additional fields in the payment method custom data.

I suggest we close this as out of scope for the API as it should be handled per payment method.

[2016-05-27 17:25] adrianhopebailie commented on #185
@ianbjacobs,

We are missing each other here. You are quoting only parts of what I am saying and those statements are being interpreted out of context.
- I AM NOT advocating that we MUST use URLs nor am I making any assertions about what a URL should point at if we do.
- I AM NOT saying _"we must specify how to display non-standard currencies"_
- I AM saying that we need to define a way for someon

[2016-05-27 17:49] ianbjacobs commented on #185
@adrianhopebailie  wrote:

I don't think you are saying that because "leaving the meaning up to the community" fulfills that requirement.

I think you want us to define a STANDARD way to communicate how to find hints. This is also suggested when you wrote: "... how will browsers ever do this consistently?"

I would not prioritize solving that problem in v1. I DO support people being able to commun

[2016-05-28 10:09] adrianhopebailie commented on #185
Yes, but I don't think we agree 😄

If we leave this to the community then I think we risk a lot of fragmentation in how browsers do this. We have the right forum here to put forward good proposals on solving this problem now because trying to fix it later will be harder.

We have had one proposal to use a file, at the URL of the currency identifier as the mechanism. The group appears to dislike th

[2016-05-30 07:40] tommythorsen commented on #185
I've been thinking about this over the weekend, and I have the following opinions:
1. URLs are no good. The reason being that it's not just the mediator that needs to understand the currency identifiers, but also the payment apps. I think we want to make the hurdle of adopting this specification as small as possible, and that includes not forcing the payment providers to deal with a weird new way

[2016-05-31 08:05] adrianhopebailie commented on #32
This was done for the Card Payment Method Spec in #131 so closing this.
PR #177 addresses this for the browser API spec

[2016-05-31 08:05] #32 closed, assigned to nobody

[2016-05-31 08:07] adrianhopebailie commented on #94
Migrated to https://github.com/w3c/webpayments-methods-card/issues/1

[2016-05-31 08:07] #94 closed, assigned to nobody

[2016-05-31 08:11] adrianhopebailie commented on #97
@mattsaxon can you have a fresh look at this and close or migrate to https://github.com/w3c/webpayments-methods-card/issues/

[2016-05-31 08:15] adrianhopebailie commented on #132
Migrated to https://github.com/w3c/webpayments/issues/133

[2016-05-31 08:15] #132 closed, assigned to nobody

[2016-05-31 08:23] adrianhopebailie commented on #199
Migrated to https://github.com/w3c/webpayments-methods-card/issues/2

[2016-05-31 08:23] #199 closed, assigned to nobody

[2016-05-31 08:26] adrianhopebailie commented on #138
Migrated to https://github.com/w3c/webpayments/issues/134

[2016-05-31 08:26] #138 closed, assigned to nobody

[2016-05-31 08:28] adrianhopebailie commented on #43
Migrated to https://github.com/w3c/webpayments/issues/135

[2016-05-31 08:28] #43 closed, assigned to nobody

[2016-05-31 09:03] adrianhopebailie commented on #151
At this stage the group does not expect to maintain a registry of payment method identifiers. If there is a proposal to add the text above to the PMI spec please submit a PR.

[2016-05-31 09:03] #151 closed, assigned to nobody

[2016-05-31 09:06] adrianhopebailie commented on #148
There doesn't appear to be any further discussion required here. Thanks @dret for the helpful insights.

If there are concrete spec changes proposed on the back of this information please submit these as a PR.

[2016-05-31 09:06] #148 closed, assigned to nobody

[2016-05-31 09:07] adrianhopebailie commented on #30
Migrated to https://github.com/w3c/webpayments-method-identifiers/issues/1

[2016-05-31 09:07] #30 closed, assigned to nobody

[2016-05-31 09:25] adrianhopebailie commented on #10
On 26 May the group resolved to not use short-names at this time.

[2016-05-31 09:25] #10 closed, assigned to nobody

[2016-05-31 09:26] adrianhopebailie commented on #205
Thanks for the feedback. I think there are aspects of this I will propose in a simpler proposal. Closing this one.

[2016-05-31 09:26] #205 closed, assigned to nobody

[2016-05-31 12:48] adrianhopebailie commented on #46
Migrated to https://github.com/w3c/webpayments-method-identifiers/issues/3

[2016-05-31 12:48] #46 closed, assigned to nobody

[2016-05-31 15:02] jnormore commented on #4
At the risk of repeating some of my original comment, as a customer I've never experienced the behaviour of a merchant site showing me different prices based on which payment options I have. I'm aware I have a very limited view from a customer perspective but is this really common enough to add this kind of complexity to the spec and to the requirements on the UI (showing prices for each app)? If

[2016-05-31 15:54] adrianhopebailie commented on #4
Fair point. I guess this question is one of scope. This could be achieved in different ways and we need to get feedback on whether the complexity is justified to do it in the API.

An interesting consideration is that if you put the price in the payment method specific data you are left with nothing else in the request. In other words, a payment request is actually a set of payment requests for di

[2016-05-31 17:49] sideshowbarker commented on #205
See the thread at https://twitter.com/stevenpemberton/status/737698895359250432 for another example of the kind of (sometimes baffling) problem that can be caused by baking in dereferencable URLs as IDs

[2016-05-31 22:36] webpayments-specs commented on #4
@adrianhopebailie wrote:

That strikes me as a reasonable way to think about it. The API could offer a finer-grain override of the "default" amount/currency.

Ian

[2016-06-01 14:36] adrianhopebailie commented on #187
@adrianba and @adamroach - PING (can I close)

[2016-06-01 14:52] adrianhopebailie commented on #185
An interesting thought experiment is that if we say amounts are defined per payment method then this becomes much easier (potentially) - see #4

Unusual currencies will likely be specific to a payment method so the payment method spec would define what currency identifier to use and we also have far less chance of conflicts (so no need for URLs).

The challenge remains, how to display amounts in t

[2016-06-01 16:05] adamroach commented on #187
@adrianhopebailie -- I still hope to engage @adrianba on a conversation around this, but it's been very busy for me recently. If you're okay leaving this on the back burner, I don't think it's blocking anything else at the moment.

[2016-06-01 16:06] adrianhopebailie commented on #187
@adamroach - np

[2016-06-01 16:26] rsolomakhin commented on #185
I would like to give a payment app the ability to provide detailed information about the ways in which the user can pay, a.k.a. instruments. When I say "instrument", I only mean a way to pay with a payment app.

An instrument can be as broad as "App 3" and as narrow as "Bitcoin account X in App3". An instrument includes such information as an id, a label, an icon, the way to invoke the payment app

[2016-06-02 13:48] adrianhopebailie commented on #185
@rsolomakhin - this is an interesting idea and might be a good way of thinking about this because it allows the app to present it's installed "instruments" to the browser during app registration which allows the browser to show these to the user before the app is invoked.

i.e. The user knows before picking the app which payment instrument they will use (less chance of picking an app and then real

[2016-06-03 23:58] rsolomakhin commented on #195
Closing for now. May revisit later.

[2016-06-03 23:58] #195 closed, assigned to nobody

[2016-06-08 15:48] adrianba commented on #192
The "user accepts the payment request algorithm" runs after any user interaction including running any payment apps has already happened. Recommend closing this issue.

[2016-06-08 23:08] adrianba commented on #7
Fixed by #190.

[2016-06-08 23:08] #7 closed, assigned to adrianba

[2016-06-09 17:08] adamroach commented on #185
@tommythorsen  --

We seem to be drifting away from the premise that three-letter alphabetic codes must be ISO currency codes, which is something I thought we had good agreement around.

I'm not too stuck on any other aspects of this design, but without that constraint, I'm afraid that we're going to run into serious problems down the road (for the reasons mentioned earlier in this thread).

[2016-06-09 17:09] dlongley commented on #2
Reminder that a future-looking use of this API is to be able to call it on, for example, search results. Merchants could publish digitally-signed payment requests where they don't care how someone happens to find it. A search engine could make these available to be clicked on for immediate purchases via search results.

Search results used to just be a list of blue links on a page and they have si

[2016-06-09 17:46] webpayments-specs commented on #2
On Thu, Jun 9, 2016 at 12:09 PM, Dave Longley notifications@github.com
wrote:

##

Shane McCarron
Projects Manager, Spec-Ops

[2016-06-09 19:18] adrianba opened #215 "Should PaymentResponse include totalAmount and if so must it be one of the supplied totals"
PR #211 introduced the idea of including the `totalAmount` in the `PaymentResponse`. The idea is that since different totals can be provided using `PaymentDetails.total` and `PaymentDetailsModifier.total` then the user agent should include which one was chosen in the response.

There was some discussion of this on the telcon today.

I think there are three options to consider:
1. Leave the spec as

[2016-06-10 04:10] ianbjacobs commented on #215
Hi @adrianba,

In the payment app task force we've been discussing scenarios where a payment app might change the total before the user authorizes payment, for example after application of a discount. Presumably if this is possible in the payment app, it's because the app distributor
and the merchant have a private agreement that this is ok.

In this case, the "authorized total" may not be one tha

[2016-06-10 09:18] adrianhopebailie commented on #215
- I think there is value in having the authorized amount in the response. This is common in most payment message standards today
- I agree with @ianbjacobs reasoning above for not constraining this.

So, my preference is for 3 but would be okay with 2.

[2016-06-15 12:16] hwclass opened #216 "What about billing address"
Hi all,

I do not find out anywhere to contribute on codebase level for the current draft APIs of W3C but after a little inspection on Payment API, I have found that shippingAddress property is used to be set by the user to define the delivery address point. After thinking of the legal restrictions and the availabilities, it would be nice to have also a **billingAddress** option there. Especially

[2016-06-15 13:08] ianbjacobs commented on #216
@hwclass,

Thanks for the review and the use case. We have discussed billing address capture; see issue
https://github.com/w3c/browser-payment-api/issues/27

Ian

[2016-06-15 16:02] #175 closed, assigned to adrianba

[2016-06-15 16:30] adrianba commented on #4
Closed by #211.

[2016-06-15 16:30] #4 closed, assigned to nobody

[2016-06-15 16:55] adrianba commented on #187
Closed by #209.

[2016-06-15 16:55] #187 closed, assigned to nobody

[2016-06-15 18:44] adrianhopebailie commented on #216
Closing as a duplicate of #27.

[2016-06-15 18:44] #216 closed, assigned to nobody

[2016-06-15 19:40] adrianhopebailie opened #218 "Update references to "Payment Transaction Message Specification""
The specification refers to a "Payment Transaction Message Specification" but should be referring to a "Payment Method Specification".

[2016-06-15 19:43] adrianhopebailie commented on #192
👍

[2016-06-15 19:43] #192 closed, assigned to nobody

[2016-06-15 19:43] #178 closed, assigned to nobody

[2016-06-15 19:44] #173 closed, assigned to nobody

[2016-06-15 19:46] #127 closed, assigned to nobody

[2016-06-15 19:50] adrianhopebailie commented on #109
Will likely be implemented in payment methods that need it. If it becomes a more generic requirement we can revisit.

[2016-06-15 19:50] #109 closed, assigned to nobody

[2016-06-15 19:51] adrianhopebailie commented on #103
Matching algo will be defined in the PMI spec

[2016-06-15 19:51] #103 closed, assigned to mattsaxon

[2016-06-15 19:52] #53 closed, assigned to nobody

[2016-06-15 19:54] adrianhopebailie commented on #51
Generic design question that would be better raised again as a concrete proposal now that the API shape has matured

[2016-06-15 19:54] #51 closed, assigned to nobody

[2016-06-15 19:56] #45 closed, assigned to nobody

[2016-06-15 19:58] #42 closed, assigned to nobody

[2016-06-15 20:00] adrianhopebailie commented on #35
Use case addressed by the HTTP API

[2016-06-15 20:00] #35 closed, assigned to nobody

[2016-06-15 20:00] #33 closed, assigned to nobody

[2016-06-15 20:02] #15 closed, assigned to nobody

[2016-06-15 20:03] adrianhopebailie commented on #8
Being addressed in the Payment Apps proposal.

[2016-06-15 20:03] #8 closed, assigned to nobody

[2016-06-15 20:19] adrianhopebailie commented on #194
Migrated to https://github.com/w3c/webpayments/issues/137 as this is related to Payment Apps

[2016-06-15 20:19] #194 closed, assigned to nobody

[2016-06-15 20:28] adrianhopebailie commented on #12
This is being actively worked on by the Payment Apps task force chaired by @ianbjacobs.
The latest draft of the proposal is at https://w3c.github.io/webpayments/proposals/paymentapps/payment-apps.html

[2016-06-15 20:28] #12 closed, assigned to nobody

[2016-06-15 20:30] adrianhopebailie commented on #44
The mechanism for data in a PaymentRequest to be extended is through payment method specific data.

[2016-06-15 20:30] #44 closed, assigned to nobody

[2016-06-15 20:32] tnguyen14 commented on #8
@adrianhopebailie is there a repo for the Payment Apps proposal?

[2016-06-15 20:35] adrianhopebailie commented on #146
In the context of the PaymentRequest API this is being addressed in the payment method specific data.

[2016-06-15 20:35] #146 closed, assigned to nobody

[2016-06-15 20:48] adrianhopebailie commented on #104
This might be partly addressed in the Payment Apps spec using a mechanism like that proposed by @rsolomakhin in https://github.com/w3c/browser-payment-api/issues/185#issuecomment-223047965

[2016-06-15 20:55] #97 closed, assigned to nobody

[2016-06-15 20:57] adrianhopebailie commented on #39
This is being addressed in the Payment Apps proposal at:
https://w3c.github.io/webpayments/proposals/paymentapps/payment-apps.html

[2016-06-15 20:57] #39 closed, assigned to nobody

[2016-06-15 20:59] adrianhopebailie commented on #50
Being addressed in the Payment Apps proposal at: https://w3c.github.io/webpayments/proposals/paymentapps/payment-apps.html

[2016-06-15 20:59] #50 closed, assigned to nobody

[2016-06-15 21:06] dlongley commented on #35
I don't think this is addressed solely by the HTTP API. How would the user get access to their in-browser installed Payment Apps? In one use case, we want an API that can be triggered from a search result web page.

[2016-06-15 21:07] adrianhopebailie commented on #8
@tnguyen14 not yet. if you want to log issues you can do so in the WG repo at https://github.com/w3c/webpayments/issues (Add the label **Proposal: Payment Apps**)

[2016-06-15 21:08] adrianhopebailie commented on #8
The proposal draft is here: https://w3c.github.io/webpayments/proposals/paymentapps/payment-apps.html

[2016-06-15 21:12] adrianhopebailie commented on #35
@dlongley Can you log a new issue that describes specifically what features of the API you consider to be missing and include some more detail about the use case you want to support that require these?

Logging the issue as a question made it unclear exactly what the issue was.

[2016-06-16 03:28] msporny commented on #173
What was the resolution to this issue? I'm concerned that we're closing issues w/o a clear resolution or reasoning as to why the issue was closed. For example, I'm fine if we decided that we're doing what @rsolomakhin suggested, but we need to document that the group made that decision.

[2016-06-16 03:29] msporny commented on #127
Again, closed without the final decision being clearly documented.

[2016-06-16 03:31] msporny commented on #53
I suggest we get the I18N folks to weigh in on this before closing it. For example, we could ask them if they have I18N considerations for APIs, especially ones that pop up a UI for the user to interact with.

[2016-06-16 03:36] ianbjacobs commented on #53
I asked the I18N folks to review the spec in April:
 https://lists.w3.org/Archives/Public/public-i18n-core/2016AprJun/0035.html

On that thread I wrote: "We are aiming to meet FTF in July. I think having comments before July would be useful. If that’s not possible, then the next good opportunity is TPAC."

I think it's fine to close this issue and when we receive their comments, they might be indi

[2016-06-16 03:38] msporny commented on #42
Can we document why this issue was closed?

[2016-06-16 03:44] msporny commented on #35
Just to be clear, we started logging issues as questions because there were some folks in the group that (understandably) felt like our proposals were too aggressive by suggesting concrete changes.

The question poses a problem and requests that the browser API editors provide their thoughts on how this problem should be addressed by the browser API. The use case cannot be addressed by the HTTP AP

[2016-06-16 03:45] ianbjacobs commented on #42
There has been no activity on the capabilities document in the IG for 1 year. Therefore, I think it is safe to close the issue based on the original proposal.

Ian

[2016-06-16 03:47] msporny commented on #33
What is the feature detection pattern that the browser API uses? I'm fine with closing one as long as we know which one we think we're going to use.

[2016-06-16 03:49] msporny commented on #15
We're planning on submitting a PR for this, premature to close the issue.

[2016-06-16 03:53] ianbjacobs commented on #33
My understanding is that feature detection would be done by inspecting the type system.
Ian

[2016-06-16 03:57] msporny commented on #44
There is still no section on extensibility in the specification. -1 on closing this issue.

[2016-06-16 03:59] msporny commented on #97
What was the resolution on this issue?

[2016-06-16 04:00] msporny commented on #39
How is it being addressed? Is there a separate issue on the payment apps proposal that covers this?

[2016-06-16 04:01] msporny commented on #50
Please point to section or issue. Someone reading this issue has no idea how the payment apps proposal is addressing this issue.

[2016-06-16 04:03] msporny commented on #33
If this is true, can we get that text into the spec? Perhaps a section on feature detection?

[2016-06-16 04:04] ianbjacobs commented on #39
The spec indicates the intent to address it. The spec is not yet fleshed out enough to demonstrate that it does address it.

The spec says: "It [this specification] defines mechanisms that may be used to support both Web-based and native payment apps."

Ian

[2016-06-16 04:05] ianbjacobs commented on #33
Is that necessary? My understanding is that JS developers may know how to do this; e.g., I found this in the wikipedia:
 https://en.wikipedia.org/wiki/Feature_detection_(web_development)

Ian

[2016-06-16 04:07] ianbjacobs commented on #50
This will be discussed here:
 https://w3c.github.io/webpayments/proposals/paymentapps/payment-apps.html#payment-app-invocation-and-response-1

But we are still working on it so it's not defined how yet.

I don't know that we need to carry an issue forward to that spec since we already have bits in the spec that we're working on.

Ian

[2016-06-16 06:14] cyberphone commented on #50
Apple's method for dealing with this issue
https://developer.apple.com/reference/applepayjs/applepaysession

[code]

Is clean and not OS-specific.

[2016-06-16 12:45] ianbjacobs commented on #97
My understanding from @adrianhopebailie is that this "mandatory" instruction would be payment method specific information. I don't know whether it has made its way yet into the basic card spec.

I presume that at some point, if this becomes useful across payment methods we could add it to the payment request API as a standard field.

Ian

[2016-06-16 15:07] msporny commented on #39
The question that this issue raised is: How are web-based payment apps supported?

The response seems to be: "The spec indicates the intent to address the question" ... which is a non-answer. It doesn't address the question that was asked. It was a question of "how", not "do you intend to address it?"

We shouldn't close issues that ask "how" questions until the mechanism to address the question b

[2016-06-16 15:10] ianbjacobs commented on #39
I think the whole project of the Working Group is to answer the question. It is in our charter. Therefore, it does not seem particularly useful to me to register this broad an issue.

Once we have a proposal on the table, it makes more sense to me to raise specific issues about the proposal.

Ian

[2016-06-16 15:12] msporny commented on #33
How does one understand how to see if billing address is supported on a payment request using the link above? Note that I'm just plucking that one feature out of thin air, you could ask the same question for each capability in the payment request API.

[2016-06-16 15:16] ianbjacobs commented on #33
I will leave to those who know these things more than I do to show code.

Ian

[2016-06-16 15:19] msporny commented on #39
It makes more sense to me to track the issues we have and not close them until we have resolutions to the issues raised.

[2016-06-16 15:20] msporny commented on #33
And until that is done, and there is some spec text outlining a general approach to addressing this problem, we should keep the issue open.

[2016-06-16 15:23] msporny commented on #50
That's what I was looking for. @adrianhopebailie just pointed to the spec which leaves the reader of the issue without any idea which section of the spec he's talking about.

The section you point to doesn't address the issue wrt. native apps as far as I can tell.

My request was to not carry the issue forward, it was to point to the section of the spec (or another issue) where the concern raised

[2016-06-16 15:29] msporny commented on #97
We should keep the issue open until /something/ makes its way into a spec or we decide to not address this issue.

[2016-06-16 15:46] msporny commented on #215
How do merchants know the response wasn't tampered with in transit? That is, if we're putting the total in there so the merchants can feel safe that the amount requested was the amount paid (and we have no MiTM protection on totalAmount), doesn't that defeat the purpose of including the value in the response?

[2016-06-16 15:56] ianbjacobs commented on #215
@msporny wrote:

I assume that payment apps that wish to provide additional guarantees can use digital signatures generally. I would not expect the API to have built-in support for digital signatures.

It seems to me that in many or most cases the merchant-sent total (call it "T") will be the same as the total received in the payment response. So a check that the response includes "T" would make a

[2016-06-16 16:02] dlongley commented on #215
I would always send "T" then when I wanted to fool the merchant. :)

[2016-06-16 16:10] ianbjacobs commented on #215
What data would convince the merchant? That data can be signed, of course.

Ian

[2016-06-16 16:18] dlongley commented on #215
Signed data or some kind of transaction ID that they can check via PSP, etc. I don't think just getting a value in (with no security around it) will work.

[2016-06-16 16:41] #215 closed, assigned to adrianba

[2016-06-16 17:05] adrianba commented on #3
Discussed in the [telcon](http://www.w3.org/2016/06/16-wpwg-minutes.html#item04).

RESOLUTION: Do not add further support for multiple totals per payment method (in v1).

[2016-06-20 09:36] adrianhopebailie commented on #173
This issue is stale.

The last proposal was that there is nothing to do ( @rsolomakhin said: "should not be standardized") and there has been no further input for 3 weeks.

If anyone in the group wishes to re-open they can request that we do so based on new information

[2016-06-20 09:38] adrianhopebailie commented on #127
The decision is to not change anything at this time.
If there is a desire to change the name of the `show()` method the most useful way to exercise this would be through a PR on the spec.

[2016-06-20 09:40] adrianhopebailie commented on #53
This is a horizontal review issue which @ianbjacobs has in hand.
I would prefer that we maintain a list of issues from which we have concrete actions and expect that if the i18n review raises any they will be logged as such.

[2016-06-20 09:45] adrianhopebailie commented on #35
@msporny @dlongley this question is open-ended and asks about design intent. I don't agree that it proposes a problem and asks for proposed solutions.

Even if we have an answer to this question as stated it doesn't help us make any progress on the spec.

Perhaps a better way to phrase this is:
- How can payment requests be embedded in a webpage as declarative content and then used with the Paymen

[2016-06-20 09:49] adrianhopebailie commented on #42
This issue is not relevant for this list.
If the IG wants to pull the architecture content into the capabilities spec then that should be taken up in the IG.

[2016-06-20 09:50] adrianhopebailie commented on #15
The issue was stale.
Happy to re-open when there is a concrete PR.

[2016-06-20 09:52] adrianhopebailie commented on #44
@msporny I believe that this will be captured in the Payment Method Identifiers spec so this list is not the right place for this issue.

If you disagree and have some text you consider appropriate for this spec please submit a PR.

[2016-06-20 09:57] adrianhopebailie commented on #39
@msporny what value does having this issue open provide the group?

The whole purpose of the payment apps spec is to address how web-based payment apps will be supported. Answering that question in the issue list of a different spec seems pointless to me.

I agree with @ianbjacobs that this type of generic question is no longer of any value in this list. It is just creating noise.

As the Payment

[2016-06-20 10:02] adrianhopebailie commented on #33
@ianbjacobs is correct.

Stand to be corrected by @adrianba , @rsolomakhin or @adamroach but my assumption is that code like the following would be used.

How to do this is not something I'd expect in the spec, this is a generic feature detection technique.

[code]

[2016-06-20 10:07] adrianhopebailie commented on #97
We have decided not to address the issue until such time as there is evidence from multiple payment method specs that this is a feature worth standardizing.

Having an issue open that says "We may do something here in future" adds no value as an issue that we are tracking.

[2016-06-20 16:14] rsolomakhin commented on #33
@adrianba and @adamroach: does `if (PaymentOptions.requestShipping)` work in Edge and Firefox? It seems to be not working in Chrome, because `PaymentOptions` is a dictionary, not an interface. I wonder if this is a bug in Chrome that I need to fix or _all_ browsers behave the same.

[Detectable web payment features in Chrome](https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/webe

[2016-06-20 19:30] adrianba commented on #33
No, you can't feature detect against dictionaries but you can/should against interfaces. This is general best practice for web APIs.

So you can test against for the `shippingAddress` attribute of `PaymentRequest` or the `payerEmail` attribute of `PaymentResponse`.

[2016-06-20 21:34] adrianhopebailie commented on #33
Thanks @adrianba and @rsolomakhin

@msporny, if there are any features you feel can't be easily detected via presence of an interface member please log an issue specific to that feature so we can discuss a way to address that.

[2016-06-20 21:53] msporny commented on #33
Can you give us a code example of checking for this on PaymentRequest @adrianba? I think you're saying we need to instantiate a payment request before we can feature detect?

[2016-06-20 22:39] adamroach commented on #33
Another way to address this is to copy the pattern employed by `getUserMedia()` for constraints (which are passed as a dictionary): we could define a dictionary (e.g. `PaymentOptionsSupportedUserData`) that contains a key for each kind of data that is supported by the browser implementation. See [`MediaDevices.getSupportedConstraints()`](https://www.w3.org/TR/mediacapture-streams/#mediadevices-int

[2016-06-20 22:56] adrianba commented on #33
Something like

[code]

You don't need to create an instance.

The problem with having `supports()` methods is that they often don't provide the right granularity or web developers make mistakes that proliferate, which causes implementations to have to lie about support. We've seen this with such methods before.

[2016-06-20 23:08] adamroach commented on #33
@adrianba --

I agree in the _general_ case, where the binding between feature names and specific function calls is only defined via specification, that this is true. When you're trying to figure out whether you can include a value in a dictionary and have it honored, using a dictionary with exact key names is 100% unambiguous. By contrast, what you're proposing -- using the presence of a member o

[2016-06-20 23:14] adamroach commented on #33
To be clear, what I'm proposing would end up looking like:

[code]

...as contrasted with:

[code]

So you can see how one of these has a straight line (e.g., requestShipping -> requestShipping) while the other has an inference (e.g. shippingAddress -> requestShipping)

[2016-06-22 01:48] rsolomakhin commented on #185
I propose that three-letter alphabetic codes that are official currency codes should be treated as such. We can also allow unofficial three-letter alphabetic codes. For example: BTX (bitcoin).

[2016-06-22 01:52] rsolomakhin commented on #141
@halindrome  wrote:

+1

[2016-06-22 01:55] rsolomakhin commented on #121
Agreed that "payment method" is not really a "party." However, I don't think PSPs should be mentioned in the browser payment API spec, because the browser is not communicating to PSPs directly. PSPs can be mentioned in the architecture overview document.

[2016-06-22 02:41] ianbjacobs commented on #185
Previously I proposed a three-tiered approach:
1) Anything that is an ISO 3-letter code is treated as such
2) Non-standard 3-letter codes are prefixed with "+"
3) Anything else is undefined for now. You can put whatever data you want there and some parties may make use of it.

But 2 and 3 both amount to "you can do other non-standard things." So a simpler proposal would be:

1) Anything that is an

[2016-06-22 14:42] adrianhopebailie commented on #185
@ianbjacobs This proposal gives developers no mechanism to provide display hints to the browser for a non-standard currency. So are you proposing that we punt on how to display non-standard currencies (which effectively means we don't support them because there is no standard for how to display them)?

[2016-06-22 15:24] ianbjacobs commented on #185
- I think there is agreement this group should not be specifying how to display non-standard currencies.
- I think it's fine for people to provide hints to other people.
- The question is whether there needs to be a standard way to say "Here are some hints!". My proposal is that we do not need a standard way, but that we not prevent people from doing so. Thus, people MAY use URIs that could identi

[2016-06-22 18:12] adrianhopebailie commented on #185
Yes that is the question but I think you are downplaying the effect of this approach. Realistically we are preventing the use of non-standard currencies entirely.

Whatever mechanism is used to provide display hints needs to be agreed upon by the browser vendors as they are the ones that will actually display pricing. We have them at the table today so why would we not try to find a solution?

Tha

[2016-06-22 21:36] msporny commented on #185
+1, it sounds like there are a number of workable proposals on the table on how to do currency display for non-ISO currencies. This doesn't have to be high priority. We shouldn't close the issue unless there is push back on non-ISO currencies from the browser vendors and payment app developers.

[2016-06-22 22:04] ianbjacobs commented on #185
@adrianhopebailie wrote:

"Whatever mechanism is used to provide display hints needs to be agreed upon by the browser vendors as they are the ones that will actually display pricing. We have them at the table today so why would we not try to find a solution?"

I take the point. I am happy to defer to the browser vendors if they say "We all plan to implement the following approach to hints on how t

[2016-06-22 22:17] adrianhopebailie commented on #185
I propose we resolve this issue based on @ianbjacobs proposal and create a new issue specifically calling out support for non-standard currencies that we can track and possibly put on the v2 backlog if the group decides to do so.

[2016-06-23 01:51] theball commented on #145
I'd recommend that data that doesn't get stored and is useful across many sites not be added to the spec. It's valuable to store shipping addresses. That data will be used on many sites and saves a lot of typing. Coupon codes are used once, so the browser won't store it for future use. At that point it's just a substitute for a form field.

It becomes a slippery slope as the payment sheet then bec

[2016-06-23 13:38] msporny commented on #185
Which one, his revised one or the original one?

If we're talking about his original one:

+1 for ISO currency codes
+1 for URLs (and specifying display behavior in a separate issue)
-1 for "+BTC" microformat currency codes. That proposal seems to put the WG in the position of maintaining a non-ISO currency code registry. If you have an experimental currency, use a URL.

If we're talking about his

[2016-06-23 16:15] adamroach commented on #185
@rsolomakhin

If the ISO currency codes were frozen, that might be something we could consider. But the list is constantly updated and maintained, and what is unused today may be allocated tomorrow. It's simply not tenable to squat on unallocated codepoints.

[2016-06-23 17:11] adamroach commented on #185
Poking around online to see how other people have solved this, I tripped across an interesting approach that is kind of a hybrid between the URL approach and short-code approach: currencies would be identified by a _system_, and a code point within that system. So, for example, for an ISO currency:

[code]

And for non-ISO currencies:

[code]

This gives browsers the ability to at least display th

[2016-06-23 17:16] adrianhopebailie commented on #185
+1 to @adamroach and add:
1. `system` is a URI
2. `system` is assumed to be the value `urn:iso:std:iso:4217` if not specified.
3. The value of `code` can be any string

[2016-06-23 17:18] adamroach commented on #185
@adrianhopebailie --
1. Yes, `system` is a URI
2. I'm okay with a default of `urn:iso:std:iso:4217`
3. The value of `code` can be any string that is valid _within the system_

[2016-06-23 17:38] ianbjacobs commented on #185
@adamroach and @adrianhopebailie

I like the direction of the evolving proposal:
- The easy (standard) case remains easy (thanks to default value)
- It gives extensibility for non-standard codes and increases the potential for interop
- It does not require this WG to specify anything related to display
- It does not require the browser to dereference any URLs. (The browser can just do string match

[2016-06-24 21:12] adamroach commented on #2
I finally cornered one of our security people on this. He points out that the kind of thing we're trying to do is congruent with the [delegated permissions work currently underway](https://noncombatant.github.io/permission-delegation-api/).

I propose we adopt this approach, which allows both declarative and imperative delegation of extra permissions to iframes.

Declaratively:

[code]

Imperative

[2016-06-25 06:48] adrianhopebailie commented on #2
+1 @adamroach

@zkoch - you proposed the `sandbox` attribute. What are your thoughts?

[2016-06-27 16:21] zkoch commented on #2
I think this is great. We should find out what the timetable for this is. Since both authors are from Google, I'll reach out. :)

[2016-06-28 04:47] sideshowbarker commented on #2
from @zkoch:

To be clear on what that comment is referring to (there’s no comment threading in github issue trackers, so the context gets lost easily…), it seems clear it’s in reply to @adamroach’s comment at https://github.com/w3c/browser-payment-api/issues/2#issuecomment-228463359:

…which refers to the draft spec at https://noncombatant.github.io/permission-delegation-api/ (from the WebAppSec

[2016-06-29 04:42] zkoch commented on #2
Wanted to update this. I've reached out and talked to a few people on our security team. It sounds as though delegated permissions is being merged into [Feature Policy](https://github.com/WICG/feature-policy/). I think Feature Policy still has what we need. According to one of the editors, they expect to support cascading permissions, so this would work for our needs.

[Issue #18](https://github.c

[2016-06-29 12:02] adrianhopebailie commented on #2
Awesome stuff! Thanks @zkoch

[2016-07-07 16:36] rvm4 opened #224 "Supporting push payment methods"
I put out a PR that I expect to spur discussion, so let's use this issue to discuss: https://github.com/w3c/browser-payment-api/pull/223.

[2016-07-07 23:43] adrianhopebailie commented on #185
Proposal from @adamroach accepted at F2F

[2016-07-07 23:50] adrianhopebailie commented on #224
@rvm4 thanks for kicking this off!

In my experience the best way to guarantee that the sender (in this case the merchant) will have the same transaction reference as the receiver (in this case the payment app) in the case where no response is received and we don't know how far processing got is to send the transaction identifier in the original request.

I'd propose that we have a field in paymen

[2016-07-08 00:35] rvm4 commented on #224
A few comments:

1) I think it is important that the payment app be allowed to provide the identifier because the payment app is the one implementing a bunch of abstractions that rely on this identifier being unique. Allowing the merchant to supply the identifier forces all payment apps to architect their backend around tuples of the form (merchant, identifier) which is not going to be easily adop

[2016-07-08 01:17] adrianhopebailie commented on #224
Is that true?

[2016-07-08 07:51] rvm4 commented on #224
Well that is what I'm trying to propose, I will make that more clear in the PR.

[2016-07-12 16:36] rvm4 commented on #224
Any additional thought here? I think this topic needs just as much consideration as the security consideration we are giving the credit card flow. If we are concerned about specifying ways to avoid security flaws, certainly we want to specify ways to prevent expected failure scenarios.

[2016-07-12 22:43] adrianhopebailie commented on #224
+1 - however I think rather than diving straight into a PR why don't we map out the expected flows for a push payment first and identify the failure scenarios we are trying to address

[2016-07-12 23:14] webpayments-specs commented on #224
We MUST already have such a flow.   Matt Saxon?

On Tue, Jul 12, 2016 at 5:43 PM, Adrian Hope-Bailie <
notifications@github.com> wrote:

##

Shane McCarron
Projects Manager, Spec-Ops

[2016-07-18 16:27] ianbjacobs commented on #185
I suggest that we not close this issue until the specification has been updated with the proposal.
Ian

[2016-07-28 19:23] rvm4 commented on #224
Sounds great, can we add to our call agenda an item to establish a task force for solving this problem?

[2016-07-29 11:26] mattsaxon commented on #224
I would request that we use the Push SEPA flow as documented in the specification as an example

http://w3c.github.io/webpayments-methods-credit-transfer-direct-debit/

The document doesn’t look specifically as failure modes at the moment, but the data specification has a reference field on both request and response (payeePaymentIdentification & payerPaymentIdentificaiton) that is designed to addr

[2016-08-08 08:50] adrianhopebailie commented on #224
Some additional requirements for push payments:
1. Payment app must validate that the details of the payee are correct
2. The ability for the payee to establish the status of a payment if they don't get a response from the API

It's useful to think of push payments in the context of the following roles:
1. The payee (merchant)
2. The payer (buyer)
3. The payment app publisher
4. The merchant proce

[2016-08-08 17:39] andrewagain opened #225 "Should the API support field validation?"
It would be nice if the web page could indicate a problem with specific fields provided by the user:

Examples:
- Web page does not ship to a particular postal code
- Web page requires both a first and last name to fulfill the order
- Invalid credit card number

I am particularly interested in checks that CAN NOT be done by the user agent on it's own. For instance the user agent could check that t

[2016-08-08 17:56] rsolomakhin commented on #225
We can also add validation errors to `PaymentDetails`, so that merchant can notify the browser during `shippingaddresschange` event.

[code]

[2016-08-08 20:52] ianbjacobs commented on #224
Hi @adrianhopebailie,

Here are some comments on your three proposals.

Do you mean: For the purposes of payment app / browser communication
about transactions (e.g., to learn state following a network outage), the payment
app specification will define how browsers MUST provide browser-generated identifiers
per transaction when they launch a payment app?

I phrase it this way to see whether it mak

[2016-08-10 12:19] sideshowbarker commented on #2
FYI we’re [adding a payment-request-in-iframe test to web-platforms-tests](https://github.com/w3c/web-platform-tests/pull/3440), which is just a copy of the test from Chromium [third_party/WebKit/LayoutTests/payments/payment-request-in-iframe.html](https://chromium.googlesource.com/chromium/src/+/master/third_party/WebKit/LayoutTests/payments/payment-request-in-iframe.html) and can currently be ru

[2016-08-10 13:55] halindrome opened #227 "Normative References"
The spec currently has normative references to two W3C specifications that are not under our control and may not be mature when we want to proceed down the Recommendation track.

[POWERFUL-FEATURES] is a reference to the Secure Contexts spec.  I have no concerns about our requiring secure contexts, but we should not have a normative reference to this spec unless we are certain it will be mature.

[2016-08-10 19:59] adamroach opened #228 "Expand Privacy Considerations Section"
This is a recommendation from the Security and Privacy Checklist review. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

The “Privacy Considerations” section of the Payment Request API spec includes a one-sentence treatment of this issue. This should be expanded to address the types of consent (contemporaneous consent vers

[2016-08-10 20:07] adamroach opened #229 "Add Guidance Text for User Consent"
This is a recommendation from the Security and Privacy Checklist review. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

The privacy analysis highlights the importance for explicit user consent in providing payment or any information associated with payments to a requesting web site. We suggest including the following guid

[2016-08-10 20:13] adamroach commented on #2
Note: We need to re-evaluate question 3.13 of the Security and Privacy Checklist once this issue is closed. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

[2016-08-10 20:19] adamroach opened #230 "Add Guidance Text for Incognito Mode"
This is a recommendation from the Security and Privacy Checklist review. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

When operating in an “incognito” mode, we would expect the Payment Request API to remain available; however, we recommend that any such persistent permission be ignored in such a mode (otherwise, website

[2016-08-10 20:23] adamroach opened #231 "Expand Security Considerations Section"
This is a recommendation from the Security and Privacy Checklist review. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

The Payment Request API document does contain privacy and security sections, but they are much smaller than will ultimately be required. They should be updated to reflect the issues discussed in this che

[2016-08-10 20:25] adamroach opened #232 "Clarify that HTTPS is required to use the API"
This is a recommendation from the Security and Privacy Checklist review. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

At the moment, the Payment Request API indicates the need for operating from a secure context only by means of WebIDL declaration and a somewhat terse note. We recommend that the document include clearer

[2016-08-10 20:30] adamroach opened #233 "Add security text regarding payment apps and phishing"
This is a recommendation from the Security and Privacy Checklist review. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

_Note: It's not clear to me whether this should be files on the payment request API or the payment apps API. I'm filing it here for now, as it applies to native apps in addition to web apps, and the paym

[2016-08-11 05:36] sideshowbarker opened #234 "U"

[2016-08-11 05:37] #234 closed, assigned to nobody

[2016-08-11 06:40] sideshowbarker opened #235 "Unambiguously specify UA requirements for instances that are not valid"
The [PaymentCurrencyAmount section of the spec](https://w3c.github.io/browser-payment-api/#paymentcurrencyamount) states MUST requirements for the `value` field of `PaymentCurrencyAmount` instances, but the spec doesn’t explicitly define what the requirements are if a `value` field in an `PaymentCurrencyAmount`  instance is found to not be valid.

Specifically the spec doesn’t state, e.g., that a

[2016-08-15 20:02] ianbjacobs opened #237 "If a card payment fails, should we support exclusion of that card instrument from matching?"
Scenario:
- User chooses a card to pay
- Basic card data is sent to merchant,
- Payment fails (e.g., card rejected after some validation)

Should there be a mechanism whereby the merchant can re-invoke the API with some data
about the failed instrument, and the browser can take it into account in a variety of ways,
such as:
- Excluding it from the list of available instruments, or
- Highlighting i

[2016-08-15 20:17] halindrome commented on #237
Unless the payment method has a unique identifier (NOT THE PAN) that the merchant can use to call it out to the mediator, I cannot imagine any way to support this.  So, question: do we have that?

If we do not have that, then a merchant can always 1) remote that type of card from their accepted forms of payment, or 2) just remember it and reject another attempt with the same card in the same sessi

[2016-08-23 19:44] arthurchow commented on #237
Perhaps not a PAN being passed around, but maybe {paymentnetwork: visa, cardIdentifierIndex:1, result: failed} so the browser would interpret that and won't present card 1 from being shown to the user on try #2?

[2016-08-24 10:06] annevk opened #239 "Clear pointer to GitHub at the top"
Requiring readers to dig into "Status of This Document" to find this repository is unfriendly.

[2016-08-24 10:07] annevk opened #240 "Cannot use 2119 terms in notes"
Happens at https://w3c.github.io/browser-payment-api/#dfn-value and maybe elsewhere.

[2016-08-24 10:10] sideshowbarker commented on #239
Duplicate of https://github.com/w3c/browser-payment-api/pull/226/commits/e6be4e9dd8d9a68881cbe8f9a965a5b994b147ec I think

[2016-08-24 10:10] sideshowbarker commented on #239
Duplicate of https://github.com/w3c/browser-payment-api/pull/226 I think

[2016-08-24 10:11] annevk commented on #239
Yeah.

[2016-08-24 10:11] #239 closed, assigned to nobody

[2016-08-24 10:14] annevk commented on #232
Why is the IDL annotation not sufficient?

[2016-08-24 10:15] annevk opened #241 "Annotate all interfaces with SecureContext"
There's no reason to expose some of them outside secure contexts.

[2016-08-24 10:19] sideshowbarker opened #242 "Make ISO4217 an informative reference rather than normative"
The spec currently has no normative dependency on ISO4217 so it should only be an informative reference not a normative one.

[2016-08-24 11:32] halindrome commented on #232
My general response every time anyone asks why IDL is not sufficient is to say "because it is inscrutable by people who are not experts in IDL".  IDL is great for rigorously specifying the interface requirements, and awful for conveying that information.  Prose that explains and strengthens the IDL is essential to a better understanding of our specifications.  IMHO.

[2016-08-24 11:39] halindrome commented on #240
The "should" in that note is not a 2119 term (in that it is not annotated as a 2119 term).  It is just the common English usage of the word.  2119 terms in this and other respec documents are always in uppercase and always annotated with class "2119".

As an aside, this way of indicating that it is a 2119 term may be insufficient from an accessibility perspective.  I wonder if there shouldn't be a

[2016-08-24 12:21] annevk commented on #240
It does not have to be annotated for it to be one.

[2016-08-24 12:21] annevk commented on #232
Then you have a whole lot more explaining to do.

[2016-08-24 12:52] halindrome commented on #232
LOL.  You're not wrong.

[2016-08-24 21:58] ianbjacobs commented on #55
I don't think basic card should deal with field level encryption. Perhaps we will have an "advanced" card specification that could do more.

(I am also thinking about what enhanced security might look like; if I come up with something I will share here.)

[2016-08-25 03:43] sideshowbarker commented on #232
Looking back at the spec today I notice that in addition to the IDL annotation it already has this note:

…so I’m not sure what more could be added beyond that to make the restriction more clear.

[2016-08-25 07:26] sideshowbarker opened #243 "Specify UA requirements if “id” field of PaymentShippingOption is not unique"
The [spec section defining the `PaymentShippingOption` dictionary](https://w3c.github.io/browser-payment-api/#paymentshippingoption-dictionary) states, for the `id` field:

However, the spec doesn’t explicitly define what UAs must do if a `PaymentRequest` constructor is called with a `PaymentShippingOption` instance that has a non-unique (that is, duplicate) `id` field.

It seems like this could b

[2016-08-25 12:40] webpayments-specs commented on #232
I think that is a fine prose statement.  I might have said "MUST only be"
instead of "is only" but that's only so it stands out when you do a search
for assertions in the text.

My general comment was more about making sure that implicit requirements or
semantics from the IDL are explicitly described so there is no confusion
for reviewers and implementors.

On Wed, Aug 24, 2016 at 10:43 PM, Michae

[2016-08-26 04:01] marcoscaceres commented on #240
I don't have an opinion re: accessibility, but I do share @annevk's concerns about RFC2119 terms in non-normative text: It can lead to unintentional confusion, particularly because a lot of people (both devs and implementers) end up relying on notes to understand the spec text so they can take the "should" as RFC2119 SHOULD and so on.

[2016-09-01 08:49] #230 closed, assigned to nobody

[2016-09-02 12:13] andyst opened #244 "Request to remove 'careOf' field from the PaymentAddress interface"
**Summary**: The [PaymentAddress](https://w3c.github.io/browser-payment-api/#paymentaddress-interface) interface has a `careOf` field which is non-standard (no well-known address standards support it, see below). The `careOf` field is unnecessary, the `recipient` and `organization` fields sufficiently support all necessary use cases. Adding `careOf` poses significant issues in terms of interoperab

[2016-09-08 14:16] adamroach commented on #244
I'm sympathetic to the issues you describe regarding interfacing with existing libraries.

The fact remains that users must make use of c/o in certain circumstances (I sent Zach a reference to USPS guidelines referring to some of these circumstances, but can't find them at the moment). We can either push the complexity of shoehorning the c/o value into some appropriate place to the user (which is

[2016-09-08 14:23] adamroach commented on #244
I found the references I provided Zach earlier. To establish as fact that certain users must make use of "care of" for proper mail handling:

Section 2.8 bullet "b" here lays out a requirement (using the term "must") to use a "care of" format:
http://pe.usps.com/Archive/HTML/DMMArchive20030810/D041.htm

Section 1.1.8 bullet "h" gives "care of" legal force here:
http://pe.usps.com/text/dmm300/508.h

[2016-09-08 15:01] dlongley commented on #244
Perhaps "care of" could fit into something like "alternateName": https://schema.org/PostalAddress

[2016-09-08 18:00] ianbjacobs commented on #23
At the 8 September teleconference [1] we discussed a use case raised by Max [2].

Here is my understanding of our current approach to balancing merchant preferences and user preferences:
- Merchants express order preferences through payment method order (in payment request API) and through recommended apps (in the still draft payment apps spec).
- Browsers would respect those order preferences by

[2016-09-10 00:26] baloo opened #247 "Detecting payment method support"
In the current draft, the spec doesn't allow a merchant to detect a user-agent has a payment method capability. For example, using the following code:

[code]

On `PaymentRequest` instantiation no validation is required by the user-agent. It will only validate the PaymentMethodData is supported during the `.show()` and then the promise will failed with an error like: `The payment method is not sup

[2016-09-10 05:14] rsolomakhin commented on #247
+1. We should probably also make the 'validate()' function return a promise, so the browser can answer asynchronously.

[2016-09-12 10:16] adrianhopebailie commented on #247
This sounds like a bug. The API should fail with no UI impact if the payment method is not supported.

The reason we don't currently have something akin to `validate()` is that we don't want merchants to use this API to farm information about their users.

Imagine you register a payment app from  visit `http://mikeshardware.com` and install their payment app which supports a proprietary payment me

[2016-09-12 13:48] ianbjacobs commented on #157
Migrated:
 https://github.com/w3c/webpayments-payment-apps-api/issues/2

[2016-09-12 13:48] #157 closed, assigned to nobody

[2016-09-12 13:50] ianbjacobs commented on #141
Migrated to:
 https://github.com/w3c/webpayments/issues/179

[2016-09-12 13:50] #141 closed, assigned to nobody

[2016-09-13 06:29] andyst commented on #244
Thanks for your responses, @adamroach and @dlongley!

I think the above comparison of postal address schemas / APIs has shown that **the consensus in the industry is that there is no need for a careOf field**. This strongly supports a different reading / conclusion than the interpretation that there must be a careOf field.
- Not a single of these schemas / APIs has a careOf field.
- **Even USPS'

[2016-09-13 21:17] zkoch commented on #244
It seems to me that both sides are making good points: 1.) @adamroach is saying that if users want to use the careOf field, they shouldn't have to figure out how to shoehorn it into one of the other fields (e.g. recipient). But this is mostly on a user level, not a spec level. 2.) @andyst is saying that careOf doesn't belong in the spec itself and it seems that there is strong support for that bei

[2016-09-15 14:21] adamroach commented on #244
I think @zkoch's proposal is a reasonable compromise, assuming we have language in the spec that mentions this treatment of recipient name. Specifically: if we decide this is the solution for "care of" handling, then we need mention that the recipient name field may, under certain circumstances, contain multiline information.

[2016-09-15 14:50] andyst commented on #244
Thank you very much, @zkoch & @adamroach. That's a good compromise. Thanks a lot for the discussion!

[2016-09-15 15:31] ianbjacobs commented on #244
Though we did not record a formal decision, I believe there was consensus on today's WPWG call [1] to handle this through user interface. Zach took an action to update the spec with a note on handling multi-line data, with careOf as an example.

Ian

[1] https://www.w3.org/2016/09/15-wpwg-minutes#item04

[2016-09-15 21:13] #242 closed, assigned to adrianba

[2016-09-15 21:18] adrianba commented on #232
Given this and the notes in #240, I am closing this issue.

[2016-09-15 21:18] #232 closed, assigned to nobody

[2016-09-15 21:22] #241 closed, assigned to adrianba

[2016-09-16 01:15] #243 closed, assigned to nobody

[2016-09-16 04:09] #240 closed, assigned to adrianba

[2016-09-16 05:08] #244 closed, assigned to adrianba

[2016-09-16 05:34] adrianba commented on #227
I've updated the spec to refer to WebIDL-2, since we are actually using some newer WebIDL capabilities. I'm not too worried about this normative reference - we have been moving API specifications with IDL dependencies to Recommendation for a while despite dependencies on WebIDL-1, which is in the process of transitioning to Proposed Rec. I anticipate that we will need to follow the same processes

[2016-09-16 05:34] #227 closed, assigned to adrianba

[2016-09-16 19:12] sideshowbarker opened #260 "Specify UA requirements if “value” field of PaymentCurrencyAmount does not match syntax requirements"
The spec currently states no UA requirements that can be implemented or tested for the `value` field of `PaymentCurrencyAmount` objects; [it uses RFC 2119 MUSTs to specify syntax requirements for the `value` field](https://w3c.github.io/browser-payment-api/#dfn-value), but doesn’t actually state what UAs must do for a `value` that does not match the syntax requirements.

So at this point the only

[2016-09-16 19:38] adrianba commented on #260
Right now the spec doesn't define any behaviour for this situation so I don't believe it is true that Chrome is not conforming. I think currently implementations can do what they want.

I'm not proposing that this is what the spec _should_ say, only what is or isn't said now. PR #256 is your proposal here. As I commented there, I was planning on a different solution to enable consistency between c

[2016-09-16 19:40] adrianba commented on #235
Duplicate of #260.

[2016-09-16 19:40] #235 closed, assigned to nobody

[2016-09-16 20:08] adrianba commented on #237
I don't believe any changes should be made here at the moment.

There are two aspects to consider:
1. What do you do if there is a payment failure (e.g. card declined) and you need to ask again?
   This is something that we will need to spend more time on but I don't think we need to in v1.
2. If there is a payment failure, should the failed instrument somehow be removed.
   I don't believe there

[2016-09-16 21:23] #260 closed, assigned to nobody

[2016-09-16 21:45] #218 closed, assigned to adrianba

[2016-09-16 21:50] #20 closed, assigned to adrianba

[2016-09-16 21:55] adrianba commented on #23
There doesn't appear to be any new information presented here. I believe [this comment](https://github.com/w3c/browser-payment-api/issues/23#issuecomment-245684311) reiterates the text in the spec that was added in PR #140. If this text is insufficient then please reopen this issue proposing new text otherwise I believe the spec accurately describes the WG consensus.

[2016-09-16 21:55] #23 closed, assigned to adrianba

[2016-09-16 22:12] adrianba commented on #229
Standards for obtaining user consent vary in different contexts and in different jurisdictions. The spec should not try to define what such user consent should look like - implementations are responsible for ensuring that they obtain consent in a way they believe is appropriate and acceptable. It is reasonable for different implementations to gather consent in different ways at different times usi

[2016-09-16 22:19] adrianba commented on #155
This issue is out of scope for the Payment Request API and there has been no activity since April. Considerations of Payment App discovery are being covered in the [Payment Apps API spec](https://w3c.github.io/webpayments-payment-apps-api/) and discussions on this topic should be directed there (probably the reason for lack of activity on this issue).

[2016-09-16 22:19] #155 closed, assigned to nobody

[2016-09-16 22:26] rsolomakhin opened #265 "What should happen when invalid data is provided?"
The spec does not explicitly state that the browser should throw an exception when, for example, invalid amount is provided.

[code]

Should the spec explicitly specify that an exception must be thrown or is that implicit?

[2016-09-16 22:31] adrianba commented on #104
This is a comment against the payment architecture document, which the group isn't pushing forward. I recommend that if this issue is still relevant that it be discussed in the context of the new architecture documents.

Since this doesn't impact Payment Request API, I am closing this issue.

[2016-09-16 22:31] #104 closed, assigned to nobody

[2016-09-16 22:33] adrianba commented on #265
This was fixed in #256. If this change was insufficient then please reopen this issue with a specific proposal for what needs to be changed.

[2016-09-16 22:33] #265 closed, assigned to nobody

[2016-09-16 22:40] rsolomakhin commented on #265
I propose that the following text be added:

"If the value is invalid, UA should throw TypeError."

Is there a better error type for signifying invalid input parameters?

[2016-09-16 22:42] #121 closed, assigned to adrianba

[2016-09-16 22:46] adrianba commented on #228
Per my [comment](https://github.com/w3c/browser-payment-api/issues/229#issuecomment-247721011) for issue #229, I don't believe the spec should try to give advice about the complex subject of user consent.

I recommend that this issue be closed with no changes to the spec.

[2016-09-17 01:25] #185 closed, assigned to adrianba

[2016-09-17 01:29] adrianba commented on #231
There is nothing actionable for the editors in this issue and there appear to be other issues opened with specific proposals such as #233 therefore closing this. Please reopen with specific text if necessary but it is preferred to use specific concrete issues.